body.template { margin: 0px; }
div.contentAreaElement { clear: both; }
.menuitem_code { display:none; }
div.popupBlockerImage {
   background-image: url(popup_blocker_anim.gif);
   width: 375px;
   height: 130px;
   margin-top: 15px;
}

/* CVI Image Effects - IE */
var {
   display: inline-block;
   #display: inline;
   zoom: 1;
}

a var {
   cursor: pointer;
}

/*
   STANDARD FOOTER
*/
#footer_cell { vertical-align: top; }
#footer_text { float: left; }
#footer_cell .sharedElementContentWrapper { float: left; }
#AREA__FOOTER_SHARED_AREA { float: left; }
#AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .elmRte { margin-right: 20px; }
#footer_cell *, #footer_icons_cell * { line-height: 1.5; }

/* workaround for wrapping of last word problem in Safari/AA */
.adminView #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper { position: relative; }

#AREA__FOOTER_SHARED_AREA div.sharedElementIcon { float: left; }

/* reseller copyright */
#copyright_slogan { float: left; white-space: nowrap; padding-right: 20px; }

/* bottom navigation */
#AREA__BOTTOM_NAV_AREA { float: left; } 

/* icons */
#footer_icons_cell { white-space: nowrap; vertical-align: top; }
#footer_icons_cell div { display: inline; float: none; white-space: nowrap; }
#footer_icons_cell .sk-obj-placeholder { display: none; }
#footer_icons_cell .sk-zero-footprint { display: block; }

div#AREA__FOOTER_ICONS_AREA { padding: 0px; white-space: nowrap; }
div#AREA__FOOTER_ICONS_AREA div.sharedElementContentWrapper,
div#AREA__FOOTER_ICONS_AREA div.sharedElementContentWrapper div#footer_icons_wrapper,
div#AREA__FOOTER_ICONS_AREA div.sharedElementIcon,
div#AREA__FOOTER_ICONS_AREA div.areaContentWrapper { float: right; }

#footer_edit_icon a:link, #footer_edit_icon a:visited,
#footer_print_icon a:link, #footer_print_icon a:visited,
#footer_email_icon a:link, #footer_email_icon a:visited { background-color: transparent; }

#edit_links_wrapper,
#email_links_wrapper,
#print_links_wrapper { float: left; text-align: right; white-space: nowrap; padding-right: 0px; }

#footer_edit_icon,
#footer_email_icon,
#footer_print_icon { float: left; padding-right: 5px; }

#footer_edit_text,
#footer_email_text,
#footer_print_text { padding-right: 10px; }

div#footer_print_text { padding-right: 0px; }
#footer_edit_icon { padding-left: 0px; }


.fb_outline, TABLE.fb_outline TD {
   border-style:solid;
   border-width:1px;
   border-color:#e5e5e5;
   border-spacing: 0;
   border-collapse: collapse;
}

.fb_bckg {
   background-color:#F2F2F2;
}

.fb_bckg_outline {
   background-color:#E5E5E5;
}


.TABLE.fb_outline TABLE TD {
   border-style:none;
}

a.fb_thread_link:link {
   width:100%;
   filter: alpha(opacity=100);
   opacity: 1;
}

a.fb_thread_link:visited {
   width:100%;
   filter: alpha(opacity=50);
   opacity: 0.5;
}

a.fb_thread_link:hover {
   width:100%;
   filter: alpha(opacity=100);
   opacity: 1;
}

.numbered_nav_table {
   border-collapse: collapse;
}

TABLE.numbered_nav_table DIV {
   padding: 0px;
   margin: 0px;
   width: 20px;
   height: 20px;
   text-align: center;
   vertical-align: middle;
   line-height: 1;
}

TABLE.numbered_nav_table DIV.fb_bckg_outline A {
   font-weight: bold;
}

TABLE.numbered_nav_table A:link, TABLE.numbered_nav_table A:visited {
   text-decoration: none;
}

.storage-exceeded-message {
	float: left;
	width: 150px;
	white-space: normal;
   color: #666666;
   font-size: 11px;
}

.gallery-cutOff {
   width: 100%;
   line-height: 1.3;
   height: 1.3em;
   overflow: hidden;
}

.printSelected {
   opacity: 1;
   filter: alpha(opacity=100);
}

.printDeselected {
   opacity: 0.3;
   filter: alpha(opacity=30);
}

.gallery-firstSlide {
   position: relative;
   visibility: hidden;
}

.gallery-slide {
   position:      absolute;
   visibility:    hidden;
   padding:       auto;
   width:         100%;
   height:        100%;
   left:          0px;
   top:           0px;
}

.gallery-slideshow {
   width:    100%;
   height:   100%;
   position: relative;
   margin: 0 auto;
}

.commentsContainer {
   width: 100%;
   padding-left:  auto;
   padding-right: auto;
}

.filmStripContainer {
   position: absolute;
   padding: 0px;
   overflow: hidden;
   margin: 0px;
}

.numbered_nav_table {
   border-collapse: collapse;
}

.numbered_small_nav_table {
   border-collapse: collapse;
}

TABLE.numbered_nav_table DIV {
   padding: 0px;
   margin: 0px;
   width: 20px;
   height: 20px;
   text-align: center;
   vertical-align: middle;
   line-height: 1;
}

TABLE.numbered_small_nav_table DIV {
   padding: 0px;
   margin: 0px;
   width: 15px;
   height: 15px;
   text-align: center;
   vertical-align: middle;
   line-height: 1;
}

TABLE.numbered_nav_table DIV.fb_bckg_outline A {
   font-weight: bold;
}

TABLE.numbered_small_nav_table DIV.fb_bckg_outline A {
   font-weight: bold;
}

DIV.commentsContainer A:link,DIV.commentsContainer A:visited {
   text-decoration:none;
}

TABLE.numbered_nav_table A:link, TABLE.numbered_nav_table A:visited {
   text-decoration: none;
}

TABLE.numbered_small_nav_table A:link, TABLE.numbered_small_nav_table A:visited, TABLE.numbered_small_nav_table A:hover {
   line-height: 1.5;
   vertical-align: middle;
   text-decoration: none;
}

.auto_slide_ctrl { float: right; }


P {
   margin:0in;
}
DIV {
   margin:0in;
}

ol.alphalist {
   list-style-type: lower-alpha;
}
ol.ualphalist {
   list-style-type: upper-alpha;
}

ol {
   margin-top:0in;
   margin-bottom:0in;
   margin-right:0in;
   text-decoration:none;
   font-weight:normal;
   font-style:normal;

}

ul {
   list-style-type:disc;
   margin-top:0in;
   margin-bottom:0in;
   margin-left:0.2in;
   margin-right:0in;
   padding:0in;
   text-decoration:none;
   font-weight:normal;
   font-style:normal;

}

ul ol {
   list-style-image: none;
}

li, table, tr, tbody, thead {
   text-decoration:none;
   font-weight:normal;
   font-style:normal;
}

blockquote {
   margin-top:0in;
   margin-bottom:0in;
}

.clearformat, .plain, .plainsmall, .plainlarge,  .alert, .plainfixedwidth {
   text-decoration:none;
   font-weight:normal;
   font-style:normal;
}

a.plain, a.plainsmall, a.plainlarge, a.plainfixedwidth {
   font-weight:normal;
   font-style:normal;
}

a.heading1, a.heading2 {
   font-style:normal;
}

.heading1, .heading2 {
   font-style:normal;
   text-decoration:none;
}

a.alert:link,a.alert:visited
{
   text-decoration:underline;
}

a.alert:hover {
   text-decoration:none;
}
.SystemAlertPlaceholder {
   position: absolute;
   width: 420px;
   z-index: 1000;
   left: 50%;
   top: 0px;
   margin-left: -210px;
   font-family: Arial, Verdana, Helvetica, Courier, Times New Roman;
}

.SystemAlertPlaceholder .content {
   width: 420px;
   background-color: #6A6D6A;
   background-repeat: repeat-x;
   background-position: top;
   background-image: url( sys_alert_top.gif );
}

.SystemAlertPlaceholder .content .text {
   padding: 20px;
}

.SystemAlertPlaceholder .content .break {
   clear:both;
   float: none;
   display: block;
   margin-top: 20px;
}

.SystemAlertPlaceholder .bm {
   padding: 0px;
   width: 400px;
   height: 10px;
   font-size: 1px;
   background-color: #6A6D6A;
   float: left;
   display: block;
}

.SystemAlertPlaceholder .bl {
   padding: 0px;
   width: 10px;
   height: 10px;
   background-repeat: no-repeat;
   background-image: url( sys_alert_corner_bl.gif );
   float: left;
   display: block;
}

.SystemAlertPlaceholder .br {
   padding: 0px;
   width: 10px;
   height: 10px;
   background-repeat: no-repeat;
   background-image: url( sys_alert_corner_br.gif );
   float: left;
   display: block;
}

.SystemAlertPlaceholder .heading1 {
   float: none;
   clear: both;
   display: block;
   margin-bottom: 5px;
   font-size: 18px;
}

.SystemAlertPlaceholder .heading1,
.SystemAlertPlaceholder .plain {
   color: #FFFFFF;
   font-family: Arial, Verdana, Helvetica, Courier, Times New Roman;
   font-weight: normal;
   line-height: 2em;
}
.SystemAlertPlaceholder .plain {
   color: #FFFFFF;
   font-size: 12px;
}

.SystemAlertPlaceholder a:link,
.SystemAlertPlaceholder a:hover,
.SystemAlertPlaceholder a:visited {
   color: #ffc43c;
   font-size: 14px;
   text-decoration: underline;
}


.control, .radio, .textfield,.textfieldbig, .textfieldsmall, .checkbox, .textareafield,
.textareafieldsmall, .filefield, .selectobject, .selectobjectmedium, .selectobjectshort
{ font-family:Tahoma, Verdana, Arial, Helvetica, Sans-serif; font-size:11px; background:#FFFFFF; color:#000000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

.textfield[readonly], .textfieldbig[readonly], .textfieldsmall[readonly], .textareafield[readonly], .textareafieldsmall[readonly]
{ color: #666666; background: #F0F0F0; }

.checkbox, .radio { background: none; border-style:none; color:#FFFFFF; }

.textareafield { width:400px; }
.textfieldbig { width:179px; }
.textfieldsmall { width:30px; }
.textareafieldsmall { width:300px; }
.selectobject { width:179px; }
.selectobjectmedium { width:150px; }
.selectobjectshort { width:100px; }
.sk-tip {
   width: 300px;
   min-width: 20px;
   padding: 5px 10px;
   background-color: #656565;
   color: #FFFFFF;
   border-radius: 5px;
}
.sk-tip .tip-title {
   height: 3px;
}

.form-message-container {
   display: inline-block;
   #display: inline;
   zoom: 1;
   overflow: hidden;
   margin-bottom: 14px;
   padding: 10px 20px 10px 10px;
   line-height: 1.2em;
}

.form-message-icon {
   width: 32px;
   height: 32px;
   margin: 0 10px 0 0;
}

.form-message {
   line-height: 1.2;
}

.form-message-success {
   background: rgba( 0, 0, 0, .05 );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#13000000,endColorstr=#13000000);
}

.form-message-icon-success {
   background: url('icon-success-32.png') no-repeat;
}

.form-message-error {
   color: #f00;
   background: #ffc;
}

.form-message-icon-error {
   background: url('icon-error-32.png') no-repeat;
}

.form-field-error-icon {
   display: inline-block;
   #display: inline;
   zoom: 1;
   width: 16px;
   height: 16px;
   margin: 2px 0 0 2px;
   background: url('icon-error-16.png') no-repeat;
   vertical-align: top;
}

input.form-field-error[type=text],
input.form-field-error[type=password],
textarea.form-field-error,
select.form-field-error {
   background: #FFFFBF;
}

input.form-field-error,
textarea.form-field-error {
   color: red;
}

.sk-form-tip-error {
   width: auto;
   cursor: pointer;
}

/*
   ADVANCED FOOTER
*/
.advanced_footer #footer_cell { }
.advanced_footer #copyright_slogan { float: left; white-space: nowrap; padding-right: 20px; }
.advanced_footer #footer_icons_cell { white-space: nowrap; text-align: right; }
#footer_text .sk-obj-placeholder {
   width: 50px;
}
.advanced_footer #footer_icons_cell div { display: inline; float: none; white-space: nowrap; }
.advanced_footer #footer_icons_cell .sk-obj-placeholder { display: none; }
.advanced_footer #footer_icons_cell .sk-zero-footprint { display: block; }
.advanced_footer #AREA__FOOTER_SHARED_AREA div.sharedElementIcon { position: absolute; }
/* Layout 1 */
.footer_layout_1 #AREA__BOTTOM_NAV_AREA { float: left; }
.footer_layout_1 #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .elmRte { margin-right: 20px; }
/* Layout 2 */
.footer_layout_2 #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .elmRte { margin-right: 0px; }
.footer_layout_2 #AREA__BOTTOM_NAV_AREA { float: right; }
.footer_layout_2 #AREA__BOTTOM_NAV_AREA .microNavLink { padding: 0px 0px 0px 20px; }
.footer_layout_2 #AREA__BOTTOM_NAV_AREA .microNavItemIcon { margin: 0px -10px 0px 10px; }
/* Layout 3 */
.footer_layout_3 #AREA__FOOTER_SHARED_AREA { float: none; }
.footer_layout_3 #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .elmRte { margin-right: 0px; }
.footer_layout_3 #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .contentAreaElement { float: none; }
.footer_layout_3 #AREA__BOTTOM_NAV_AREA { float: none; }
/* Layout 4 */
.footer_layout_4 #adv_footer_cell { text-align: center; }
.footer_layout_4 #AREA__FOOTER_SHARED_AREA { float: none; }
.footer_layout_4 #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .elmRte { margin-right: 0px; }
.footer_layout_4 #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .contentAreaElement { float: none; }
.footer_layout_4 #AREA__FOOTER_SHARED_AREA .contentAreaElement { clear: both; }
.footer_layout_4 #AREA__BOTTOM_NAV_AREA { float: none; }
.footer_layout_4 #AREA__BOTTOM_NAV_AREA .microNavTable { margin: 0px auto; }
.footer_layout_4 #AREA__BOTTOM_NAV_AREA .microNavLink { padding-right: 10px; padding-left: 10px; }
.footer_layout_4 #AREA__FOOTER_SHARED_AREA div.sharedElementIcon { position: static; }
.footer_layout_4 .adminView #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .elmRte { padding-left: 0px; }
.footer_layout_4 .adminView #AREA__FOOTER_SHARED_AREA .sharedElementContentWrapper .rteIcon
{ position: static; float: left }
#footer_icons_cell div.footer_edit_icons_element {
   display: block;
   float: right;
}


#sk-lightbox-overlay {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   display: block;
}

#sk-lightbox-wrapper {
   position: fixed;
   top: 0; 
   left: 0; 
   bottom: 0; 
   right: 0;
   display: none;
   width: 880px;
   height: 600px;
   max-width: 100%;
   max-height: 100%;
   z-index: 9000;
   margin: auto;
   
}

#sk-lightbox-ui {
   position: absolute;
   left: 20px;
   top: 20px;
   right: 20px;
   bottom: 20px;
   width: auto;
   height: auto;
   margin: 0;
   padding: 20px;
   background-color: #ffffff;
   box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
   border-radius: 10px;
}

/* IE 7 */
*+html #sk-lightbox-ui {
   border: 1px solid #ccc;
}

*+html #sk-lightbox-iframe {
   height: expression( (this.parentNode.offsetHeight - 40) + 'px' );
}

/* IE 8 */
@media \0screen {
   #sk-lightbox-ui {
      border: 1px solid #ccc;
   }
}

#sk-lightbox-close {
   position: absolute;
   top: -25px;
   right: -25px;
}

#sk-lightbox-close a {
   display: block;
   width: 50px;
   height: 50px;
   background: url('close.png.html') no-repeat;
   cursor: pointer;
}

#sk-lightbox-image-wrapper {
   width: 100%;
   height: 100%;
   display: table;
   table-layout: fixed;
}

#sk-lightbox-image {
   width: 100%;
   height: 100%;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}

#sk-lightbox-image img {
   max-width: 100%;
   max-height: 800px;
}

/* Center vertically Image styles for IE 7 */
*+html #sk-lightbox-image-wrapper {
   display: block;
   position: absolute;
   top: 50%;
   width: expression( (this.parentNode.offsetWidth - 40) + 'px' );
   height: auto;
}

*+html #sk-lightbox-image {
   display: block;
   position: relative;
   top: -50%;
   height: auto;
}

*+html #sk-lightbox-image img {
   max-width: expression( (this.parentNode.parentNode.parentNode.offsetWidth - 40) + 'px' );
   max-height: expression( (this.parentNode.parentNode.parentNode.offsetHeight - 40) + 'px' );
}

#sk-lightbox-dom {
   height: 100%;
   overflow: auto;
}


/* main */

.wIcn .fmIcnWrap, 
.wIcn .fmCptnWrap { display: inline-block; *display: inline; zoom: 1; vertical-align: middle; }

.wIcn.wIcnL .fmIcnWrap { margin-right: 9px; }
.wIcn.wIcnR .fmIcnWrap { margin-left: 9px; }

.wIcn .fmCptnSub, 
.wIcn .fmCptnMain { display: block; }

.wIcn .secCptn { white-space: nowrap; }
.wIcn .fmCptn { white-space: nowrap; }

.fmIcnWrap img { border-width: 0px; border-style: none; border-color: transparent; }



/* icon vsibility mnav and snav */

.wIcn .fmIcnNor { display: inline; }
.wIcn .fmIcnSel, 
.wIcn .fmIcnCur { display: none; }

.wIcn .sel .fmIcnSel { display: inline; }
.wIcn .sel .fmIcnNor, 
.wIcn .sel .fmIcnCur { display: none; }

.wIcn .cur .fmIcnCur { display: inline; }
.wIcn .cur .fmIcnNor, 
.wIcn .cur .fmIcnSel { display: none; }



/* icon visibility sub */

.wIcn .curSub .fmSubBtn .fmIcnNor,
.wIcn .curSub .fmSubBtn .fmIcnSel { display: none; }
.wIcn .curSub .fmSubBtn .fmIcnCur { display: inline; }

.wIcn .curSub .fmSubBtn:hover .fmIcnNor,
.wIcn .curSub .fmSubBtn:hover .fmIcnCur { display: none; }
.wIcn .curSub .fmSubBtn:hover .fmIcnSel { display: inline; }

.wIcn .fmSubBtn .fmIcnNor { display: inline; }
.wIcn .fmSubBtn .fmIcnSel,
.wIcn .fmSubBtn .fmIcnCur { display: none; }

.wIcn .fmSubBtn:hover .fmIcnSel { display: inline; }
.wIcn .fmSubBtn:hover .fmIcnNor,
.wIcn .fmSubBtn:hover .fmIcnCur { display: none; }

/* Fix the inheritance from main nav to sub-nav */
.subNav .wIcn .fmIcnWrap { margin-left: 0; margin-right: 0; }
.subNav .wIcnR .fmIcnWrap { margin-left: 9px; }
.subNav .wIcnL .fmIcnWrap { margin-right: 9px; }


/* common */

.skhl-table { border-collapse: collapse; width: 100%; overflow: hidden;}
.skhl-table td { padding: 0px; }



/* alignment */

.skhl-table.skhl-atleft .skhl-right-cell,
.skhl-table.skhl-atright .skhl-left-cell { width: 91%; }
.skhl-table.skhl-atleft .skhl-left-cell,
.skhl-table.skhl-atright .skhl-right-cell { width: 9%; }
.skhl-table.skhl-atcenter .skhl-left-cell,
.skhl-table.skhl-atcenter .skhl-right-cell { width: 50%; }



/* ornaments */

.skhl-ornament { margin: 0px 10px; display: none; }
.skhl-img { position: relative; }
.skhl-img .skhl-img-light { position: absolute; top: 0px; left: 0px; z-index: 5; }
.skhl-caption { white-space: nowrap; }
.skhl-hasornament .skhl-ornament { display: block; }



/* solid */

.skhl-solid .skhl-left,
.skhl-solid .skhl-right { height: 1px; background-position: top left; background-repeat: repeat-x; }
body.content-bgr-light .skhl-solid .skhl-left,
body.content-bgr-light .skhl-solid .skhl-right { background-image: url(solid-dark.png); }
body.content-bgr-light .invertText .skhl-solid .skhl-left,
body.content-bgr-light .invertText .skhl-solid .skhl-right { background-image: url(solid-light.png); }
body.content-bgr-dark .skhl-solid .skhl-left,
body.content-bgr-dark .skhl-solid .skhl-right { background-image: url(solid-light.png); }
body.content-bgr-dark .invertText .skhl-solid .skhl-left,
body.content-bgr-dark .invertText .skhl-solid .skhl-right { background-image: url(solid-dark.png); }



/* double */

.skhl-double .skhl-left,
.skhl-double .skhl-right { height: 3px; background-position: top left; background-repeat: repeat-x; }
body.content-bgr-light .skhl-double .skhl-left,
body.content-bgr-light .skhl-double .skhl-right { background-image: url(double-dark.png); }
body.content-bgr-light .invertText .skhl-double .skhl-left,
body.content-bgr-light .invertText .skhl-double .skhl-right { background-image: url(double-light.png); }
body.content-bgr-dark .skhl-double .skhl-left,
body.content-bgr-dark .skhl-double .skhl-right { background-image: url(double-light.png); }
body.content-bgr-dark .invertText .skhl-double .skhl-left,
body.content-bgr-dark .invertText .skhl-double .skhl-right { background-image: url(double-dark.png); }



/* dashed */

.skhl-dashed .skhl-left,
.skhl-dashed .skhl-right { height: 1px; background-repeat: repeat-x; }
.skhl-dashed .skhl-left { background-position: top right; }
.skhl-dashed .skhl-right { background-position: top left; }

body.content-bgr-light .skhl-dashed .skhl-left,
body.content-bgr-light .skhl-dashed .skhl-right { background-image: url(dashed-dark.png); }
body.content-bgr-light .skhl-dashed.skhl-hasornament .skhl-left { background-image: url(dashed-dark-flipped.png); }

body.content-bgr-light .invertText .skhl-dashed .skhl-left,
body.content-bgr-light .invertText .skhl-dashed .skhl-right { background-image: url(dashed-light.png); }
body.content-bgr-light .invertText .skhl-dashed.skhl-hasornament .skhl-left { background-image: url(dashed-light-flipped.png); }

body.content-bgr-dark .skhl-dashed .skhl-left,
body.content-bgr-dark .skhl-dashed .skhl-right { background-image: url(dashed-light.png); }
body.content-bgr-dark .skhl-dashed.skhl-hasornament .skhl-left { background-image: url(dashed-light-flipped.png); }

body.content-bgr-dark .invertText .skhl-dashed .skhl-left,
body.content-bgr-dark .invertText .skhl-dashed .skhl-right { background-image: url(dashed-dark.png); }
body.content-bgr-dark .invertText .skhl-dashed.skhl-hasornament .skhl-left { background-image: url(dashed-dark-flipped.png); }



/* dotted */

.skhl-dotted .skhl-left,
.skhl-dotted .skhl-right { height: 2px; background-repeat: repeat-x; }
.skhl-dotted .skhl-left { background-position: top right; }
.skhl-dotted .skhl-right { background-position: top left; }

body.content-bgr-light .skhl-dotted .skhl-left,
body.content-bgr-light .skhl-dotted .skhl-right { background-image: url(dotted-dark.png); }
body.content-bgr-light .skhl-dotted.skhl-hasornament .skhl-left { background-image: url(dotted-dark-flipped.png); }

body.content-bgr-light .invertText .skhl-dotted .skhl-left,
body.content-bgr-light .invertText .skhl-dotted .skhl-right { background-image: url(dotted-light.png); }
body.content-bgr-light .invertText .skhl-dotted.skhl-hasornament .skhl-left { background-image: url(dotted-light-flipped.png); }

body.content-bgr-dark .skhl-dotted .skhl-left,
body.content-bgr-dark .skhl-dotted .skhl-right { background-image: url(dotted-light.png); }
body.content-bgr-dark .skhl-dotted.skhl-hasornament .skhl-left { background-image: url(dotted-light-flipped.png); }

body.content-bgr-dark .invertText .skhl-dotted .skhl-left,
body.content-bgr-dark .invertText .skhl-dotted .skhl-right { background-image: url(dotted-dark.png); }
body.content-bgr-dark .invertText .skhl-dotted.skhl-hasornament .skhl-left { background-image: url(dotted-dark-flipped.png); }



/* gradient */

.skhl-gradient .skhl-left,
.skhl-gradient .skhl-right { height: 1px; background-repeat: no-repeat; background-size: 100% 100%; }

.skhl-gradient .skhl-left { background-position: top right; }
.skhl-gradient .skhl-right { background-position: top left; }

body.content-bgr-light .skhl-gradient .skhl-left { background-image: url(gradient-dark-left.png); }
body.content-bgr-light .skhl-gradient .skhl-right { background-image: url(gradient-dark-right.png); }
body.content-bgr-light .invertText .skhl-gradient .skhl-left { background-image: url(gradient-light-left.png); }
body.content-bgr-light .invertText .skhl-gradient .skhl-right { background-image: url(gradient-light-right.png); }

body.content-bgr-dark .skhl-gradient .skhl-left { background-image: url(gradient-light-left.png); }
body.content-bgr-dark .skhl-gradient .skhl-right { background-image: url(gradient-light-right.png); }
body.content-bgr-dark .invertText .skhl-gradient .skhl-left { background-image: url(gradient-dark-left.png); }
body.content-bgr-dark .invertText .skhl-gradient .skhl-right { background-image: url(gradient-dark-right.png); }



/* shadow up */

.skhl-shadow-up .skhl-left,
.skhl-shadow-up .skhl-right { height: 10px; background-repeat: no-repeat; background-size: 100% 100%; }

.skhl-shadow-up .skhl-left { background-position: top right; background-image: url(shadow-up-dark-left.png); }
.skhl-shadow-up .skhl-right { background-position: top left; background-image: url(shadow-up-dark-right.png); }

/*
body.content-bgr-light .skhl-shadow-up .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-dark-left.png); }
body.content-bgr-light .skhl-shadow-up .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-dark-right.png); }
body.content-bgr-light .invertText .skhl-shadow-up .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-light-left.png); }
body.content-bgr-light .invertText .skhl-shadow-up .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-light-right.png); }

body.content-bgr-dark .skhl-shadow-up .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-light-left.png); }
body.content-bgr-dark .skhl-shadow-up .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-light-right.png); }
body.content-bgr-dark .invertText .skhl-shadow-up .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-dark-left.png); }
body.content-bgr-dark .invertText .skhl-shadow-up .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-up-dark-right.png); }
*/



/* shadow down */

.skhl-shadow-down .skhl-left,
.skhl-shadow-down .skhl-right { height: 10px; background-repeat: no-repeat; background-size: 100% 100%; }

.skhl-shadow-down .skhl-left { background-position: top right; background-image: url(shadow-down-dark-left.png); }
.skhl-shadow-down .skhl-right { background-position: top left; background-image: url(shadow-down-dark-right.png); }

/*
body.content-bgr-light .skhl-shadow-down .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-dark-left.png); }
body.content-bgr-light .skhl-shadow-down .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-dark-right.png); }
body.content-bgr-light .invertText .skhl-shadow-down .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-light-left.png); }
body.content-bgr-light .invertText .skhl-shadow-down .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-light-right.png); }

body.content-bgr-dark .skhl-shadow-down .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-light-left.png); }
body.content-bgr-dark .skhl-shadow-down .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-light-right.png); }
body.content-bgr-dark .invertText .skhl-shadow-down .skhl-left { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-dark-left.png); }
body.content-bgr-dark .invertText .skhl-shadow-down .skhl-right { background-image: url(http://img.nccdn.net/Designs/Common/HorizontalLine/shadow-down-dark-right.png); }
*/



/* prism in */

.skhl-prism-in .skhl-left,
.skhl-prism-in .skhl-right { height: 6px; background-repeat: no-repeat; background-size: 100% 100%; }

.skhl-prism-in .skhl-left { background-position: top right; background-image: url(prism-inset-left.png); }
.skhl-prism-in .skhl-right { background-position: top left; background-image: url(prism-inset-right.png); }



/* five dots */

.skhl-five-dots { min-height: 10px; background-position: center center; background-repeat: no-repeat; }

body.content-bgr-light .skhl-five-dots { background-image: url(five-dots-dark.png); }
body.content-bgr-dark .skhl-five-dots { background-image: url(five-dots-light.png); }
body.content-bgr-light .invertText .skhl-five-dots { background-image: url(five-dots-light.png); }
body.content-bgr-dark .invertText .skhl-five-dots { background-image: url(five-dots-dark.png); }



/* inverted common */

body.content-bgr-light .skhl-img .skhl-img-dark { visibility: visible; }
body.content-bgr-light .skhl-img .skhl-img-light { display: none; }
body.content-bgr-light .skhl-caption { color: #575757; }

body.content-bgr-light .invertText .skhl-img .skhl-img-dark { visibility: hidden; }
body.content-bgr-light .invertText .skhl-img .skhl-img-light { display: block; }
body.content-bgr-light .invertText .skhl-caption { color: #ffffff; }

body.content-bgr-dark .skhl-img .skhl-img-dark { visibility: hidden; }
body.content-bgr-dark .skhl-img .skhl-img-light { display: block; }
body.content-bgr-dark .skhl-caption { color: #ffffff; }

body.content-bgr-dark .invertText .skhl-img img.skhl-img-dark { visibility: visible; }
body.content-bgr-dark .invertText .skhl-img img.skhl-img-light { display: none; }
body.content-bgr-dark .invertText .skhl-caption { color: #575757; }














.sk-rte-image-zoomed {
   position: relative;
   display: inline-block;
   #display: inline;
   zoom: 1;
   overflow: hidden;
}

.sk-rte-image-zoomed img,
.sk-rte-image-zoomed .sk-rte-image-zoomimg {
   position: absolute;
}

.sk-rte-image-zoomed .sk-rte-image-spacer {
   position: static;
   height: 0;
   #padding-bottom: 0 !important;
}

@media screen and (max-width: 960px) {
   .sk-rte-image-zoomed .sk-rte-image-zoomimg {
      max-width: none;
   }
   
   .sk-rte-image-zoomed .sk-rte-image-spacer {
      max-width: 100%;
   }
}

.sk-rollover-wrapper {
   display: inline-block;
   #display: inline;
   zoom: 1;
}

.sk-rollover-mask { overflow: hidden; }
.sk-rollover-stretch { width: 100%; height: 100% }
.sk-rollover-relative { position: relative; }

.sk-rollover-spacer {}
.sk-rollover-wrapper-transition {
   position: absolute;
   left: 0;
   top: 0;
}

.sk-rollover-wrapper-transition .sk-rollover-image {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.sk-rollover-wrapper .sk-rollover-spacer { height: 0 }

button { cursor: pointer; }

button,
button.button {
   margin: 0;
   padding: 2px;
   font-family: inherit;
   background: none;
   border: none;
   text-shadow: none;
   box-shadow: none;
}

button > img {
   cursor: pointer;
}

.button {
   display: inline-block;
   #display: inline;
   zoom: 1;
   cursor: pointer;
}

.cta-button {
   position: relative;
   display: inline-block;
   #display: inline;
   zoom: 1;
   vertical-align: bottom;
   color: white;
   white-space: nowrap;
   cursor: pointer;
}

.cta-button span { display: block }

.cta-over { visibility: hidden; height: 0 }

.sk-notouch .cta-button:hover .cta-body.cta-normal,
.sk-notouch .cta-button:hover .cta-icon.cta-normal,
.sk-notouch .cta-button:hover .cta-caption.cta-normal,
.sk-notouch .cta-button:hover .cta-sub-caption.cta-normal,
.sk-notouch button:hover .cta-body.cta-normal,
.sk-notouch button:hover .cta-icon.cta-normal,
.sk-notouch button:hover .cta-caption.cta-normal,
.sk-notouch button:hover .cta-sub-caption.cta-normal { visibility: hidden; height: 0; }

.sk-notouch .cta-button:hover .cta-body.cta-over,
.sk-notouch .cta-button:hover .cta-icon.cta-over,
.sk-notouch .cta-button:hover .cta-caption.cta-over,
.sk-notouch .cta-button:hover .cta-sub-caption.cta-over,
.sk-notouch button:hover .cta-body.cta-over,
.sk-notouch button:hover .cta-icon.cta-over,
.sk-notouch button:hover .cta-caption.cta-over,
.sk-notouch button:hover .cta-sub-caption.cta-over,
.template .cta-button.cta-has-transition .cta-body.cta-normal,
.template .cta-button.cta-has-transition .cta-icon.cta-normal,
.template .cta-button.cta-has-transition .cta-caption.cta-normal,
.template .cta-button.cta-has-transition .cta-sub-caption.cta-normal,
.template .cta-button.cta-button-nomocaption .cta-caption.cta-normal,
.template .cta-button.cta-button-nomosubcaption .cta-sub-caption.cta-normal,
.template .cta-button.cta-button-nomoicon .cta-icon.cta-normal { visibility: visible; height: auto; }

.template .cta-button.cta-has-transition .cta-body.cta-over,
.template .cta-button.cta-has-transition .cta-icon.cta-over,
.template .cta-button.cta-has-transition .cta-caption.cta-over,
.template .cta-button.cta-has-transition .cta-sub-caption.cta-over { visibility: hidden; height: 0; }

.cta-wrap { position: relative }

.cta-body,
.cta-nest,
.cta-nest2 { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }

.cta-icon.cta-wrap,
span.cta-captions,
span.cta-inline-block { display: inline-block; #display: inline; zoom: 1; vertical-align: middle; }
.cta-relative { position: relative }
.cta-fullwidth { width: 100% }

.cta-icon-wrap .cta-icon { text-align: center }

.cta-caption { text-align: center; }
.cta-sub-caption.cta-wrap { text-align: center; }
.cta-sub-caption.cta-over:first-child { height: auto }
.cta-icon-left .cta-icon.cta-wrap { margin-right: 11px; }
.cta-icon-right .cta-icon.cta-wrap { margin-left: 11px; }

.cta-button img { vertical-align: middle; border: none }

.cta-body.cta-mask {
   box-shadow: none;
}

.cta-body.cta-wrap.cta-mask {
   background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
   background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 50%,rgba(255,255,255,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.template .cta-button.cta-has-transition .cta-over.cta-dissolved {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: auto;
}

.template .cta-button.cta-has-transition .cta-dissolved:first-child {
   position: static;
}

/*
   Museo, Anivers, Calluna fonts by Jos Buivenga (exljbris) -> www.exljbris.com
*/
/*
   PAGE LAYOUT
*/
#fm_browser_cell { width: 100%; }
#fm_browser_cell, #fm_header_row_cell, #fm_site_logo_cell, #fm_header_area_cell,
#fm_header_menu_cell, #fm_search_cell, #fm_mnav_cell, #fm_snav_cell,
#fm_content_row_cell, #fm_content_column_side_cell, #fm_side_area_cell,
#fm_content_column_main_cell, #fm_footer_row_cell, #fm_header_menu_and_search_cell
{ vertical-align: top; }
/* Site Logo */
#fm_site_logo_cell { white-space: nowrap; }
#fm_site_logo_cell a img { border-style: none; }
/* Top Shared Element */
#fm_header_area_cell { width: 100%; }
@media screen and (max-width: 600px) {
   #fm_site_logo_cell { white-space: normal; }
   #fm_header_area_cell { width: auto; }
}
#fm_header_area_cell .areaIcon { display: none; }
/* Search */
#fm_search_cell { text-align: right; }
#fm_search_cell div { display: inline; white-space: nowrap; }
/* Top Micro Menu */
#fm_header_menu_cell a { display: block; white-space: nowrap; }
#top_menu_icon_wrapper { float: none; }
/* Left Side Content */
#fm_content_column_main_cell { width: 100%; }
/* Main Content */
#fm_content_column_side { width: 200px; margin: 0px 20px 0px 0px; }
@media screen and (max-width: 768px) {
   #fm_main_area > table { table-layout: fixed }
}
/* Columns */
@media screen and (max-width: 600px) {
   .textColumn,
   .cellDelimiter { display: block; width: auto !important }
   .cellDelimiter { height: 20px; }
}
/* Gallery+Forum Numbered Navigation */
table.numbered_nav_table div, table.numbered_small_nav_table div
{ height: auto; width: auto; }

.siteTitleLink { min-width: 50px; min-height: 50px; }
/*
   SECTION GROUP
*/
.sg {padding:0px; margin:0px; background: transparent; border: none;}
.sg-hide-headers .sectionTitleRow { display: none !important; }
.sectionCell { vertical-align: top; }
.secTitle { margin: 0px; padding: 0px; cursor: pointer; }
.secTitle a { display: block; outline: none; }
.secIconColCell { cursor: pointer; }
.secBody { margin: 0px; padding: 0px; }
.secIconCol, .secIconExp { padding: 0px; margin: 0px; }
.sgVC0 .noactive .imgExpanded, .sgVCC0 .noactive .imgExpanded,
.sgVC0 .active .imgCollapsed, .sgVCC0 .active .imgCollapsed,
.tabButtonCell .active .imgCollapsed,
.tabButtonCell .noactive .imgExpanded { display: none; }
/* Horizontal Classic */
/*    header */
.sgHC0 .secTitle { width: 100%; }
/*    separator */
.sgHC0 .sgDelim1 { width: 1px; }
.sgHC0 .sgDelim1 div{padding-left:1px;_width:1px;}
/* Vertical Classic */
/*    body */
.sgVC0 .secBody .active { display: block; }
.sgVC0 .secBody .noactive { display: none; }
/* Vertical Classic Collapsible */
/*    header */
.sgVCC0 { width: 100% }
.sgVCC0 .sectionCell { width: 100% }
.sgVCC0 .secTitle { width: 100% }
/*    body */
.sgVCC0 .noactive tr.secBodyRow {display: none;}
/* Horizontal Tabbed */
/*    header */
.sgHT0 div.sectionIcon { float: left; }
.sgHT0 .emptyTabButtonCell { display: none; }
/*    body */
.sgHT0 tr.noactive { display: none; }
.sgHT0 .tabContentHolder div.active { display: block; }
.sgHT0 .tabContentHolder div.noactive { display: none; }
/* Vertical Tabbed */
/*    header */
.sgVT0 div.sectionIcon { float: left; }
.sgVT0 .emptyTabButtonRow { display: none; }
/*    body */
.sgVT0 .tabContentHolderCell,
.sgVT0 .tabContentHolderTable { width: 100%; }
.sgVT0 tr.noactive { display: none; }
.sgVT0 .tabContentHolder div.active { display: block; }
.sgVT0 .tabContentHolder div.noactive { display: none; }

/*
   FOOTER
*/
#fm_footer_row_cell .sk-obj-placeholder { display: none; width: 10px; height: 15px; }
#footer_text_cell,
#copyright_slogan_cell { padding-right: 10px; }
#copyright_slogan { padding-right: 0px; }
#footer_text, #AREA__FOOTER_SHARED_AREA, #copyright_slogan { float: none; }


/*
   COMMON MENU STYLES
*/
a.menu_contents img { border: none; }
.horizontal #fm_menu .fmBtn { white-space: nowrap; }

/*
   MAIN MENU STYLES
*/
a.menu_contents { display: block; }
a.menu_contents .fmCptn { display: block; }

/* Vertical Menu */
.submenuLayout2,
.submenuLayout3 { width: 100%; }
.submenuLayout2 table { width: auto; }
/* Flash Menu */
.menuStyle1 #fm_menu_wrapper { height: 30px; vertical-align: top; }
#fm_menu_wrapper_swf { position: absolute; z-index: 901; }

/*
   SUB MENU STYLES
*/
.fmSubCptn { display: none; }
.subNav .fmSubCptn { display: block; }
.effects_wrapper { position : absolute; z-index: 900; }
.subNav td { padding: 0px; }
#fm_menu table { display: none; }
#fm_menu .effects_wrapper .subNav table { display: block; }
/* Static sub menu wrapper for vertical menu layout with submenu inbetween the items */
.submenuLayout2 .effects_wrapper { position : static; }
/* Vertical Sub Menu */
.submenuLayout2 .effects_wrapper .subNav table { width: 100%; }
.submenuLayout1 .effects_wrapper .subNav .fmSubBtn,
.submenuLayout2 .effects_wrapper .subNav .fmSubBtn,
.submenuLayout3 .effects_wrapper .subNav .fmSubBtn { width: 100%; }
.horizontal .fmSubCptn { white-space: nowrap; }

/* Mobile Menu */
.fmMM {
   display: none;
   z-index: 2;
   background: url('mobile_nav_icon.png') no-repeat right;
   cursor: pointer;
}

@media screen and (max-width: 600px) {
   .fmMenuRow,
   .cs,
   .cs0,
   .cs1,
   .cs2,
   .cs3,
   .cs4,
   .cs5,
   .cs6 { display: block }
   
   #fm_mnav { position: relative }
   #fm_menu {
      position: absolute;
      left: -3333px;
      width: 100% !important;
      opacity: 0;
   }
   
   #fm_menu.fmMenuSelected {
      position: static;
      opacity: 1;
   }
   
   .fmMM { display: block; }

   .effects_wrapper {
      position: inherit;
      margin-top: 0 !important;
      margin-left: 0 !important;
   }
   
   .effects_holder { height: auto !important;}
   .effects_wrapper,
   .effects_holder { width: 100% }
   
   #fm_menu .effects_wrapper .subNav table,
   #fm_menu .effects_wrapper .subNav tbody,
   #fm_menu .effects_wrapper .subNav tr { display: block }
}

/*
   MICRO NAVIGATIONS
*/
/* Top Menu */
#top_menu_wrapper { display: block; float: right; }
#top_menu_wrapper .sk-obj-placeholder { width: 10px; height: 15px; }

/* Bottom Menu */
#fm_footer_row_cell #bottom_menu_wrapper { display: block; float:left; }
#fm_footer_menu_cell #bottom_menu_wrapper { float:left; }
#fm_footer_menu .bottom_nav_item {
   float: left;
}

/** 
 * Global CSS for elements inside Text & Image and Form
**/

#fm_main_area > table { table-layout: fixed }

@media screen and (max-width: 1024px) {
   .elmRte img,
   .elmRte canvas,
   .elmRte table,
   .elmForm img,
   .elmForm canvas,
   .elmForm table,
   .sk-rte-image-zoomed {
      max-width: 100%;
   }
}

/* Zoomed images with max-width don't display well */
.sk-rte-image-zoomed img,
.skhl-table img { 
   max-width: none;  
}

@media screen and (max-width: 960px) {
   .elmRte img,
   .elmRte canvas,
   .elmRte table,
   .elmForm img,
   .elmForm canvas,
   .elmForm table,
   .sk-rte-image-zoomed {
      height: auto;
      margin-left: 0 !important;
      margin-right: 0 !important;
   }
   
   .elmRte img,
   .elmForm img { box-sizing: border-box; }
   
   .elmForm input,
   .elmForm select,
   .elmForm textarea { max-width: 200px }
   
   .sk-rte-table-wrapper {
      overflow-y: visible; 
      overflow-x: auto;
   }
}


