/** apply now styles **/
*, html {
    font-family: Arial,Geneva,Helvetica,sans-serif;
	font-size: 100%;
}
body {
    font-size: 0.75em;
	margin:0 !important; padding:0 !important;
}
a {
    color: #E20000;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #9C0000;
}
img {
    border: medium none;
    display: block;
	margin-bottom: 15px;
}	
p, ul, ol {
    color: #4D4D4D;
   	font-size: 1.083em;
    line-height: 1.385em;
	margin-bottom: 1.538em;
}
.clearfix {
    display: block;
}
/* @WebFonts - START: web font family */
@font-face {
	font-family: 'CorpidBlack';
	src: url('http://zynonite.com/static/IB/webfonts/corpid-b-webfont.eot');
	src: local('☺'), url('http://zynonite.com/static/IB/webfonts/corpid-b-webfont.woff') format('woff'), url('http://zynonite.com/static/IB/webfonts/corpid-b-webfont.ttf') format('truetype'), url('http://zynonite.com/static/IB/webfonts/corpid-b-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CorpidLight';
	src: url('http://zynonite.com/static/IB/webfonts/corpid-l-webfont.eot');
	src: local('☺'), url('http://zynonite.com/static/IB/webfonts/corpid-l-webfont.woff') format('woff'), url('http://zynonite.com/static/IB/webfonts/corpid-l-webfont.ttf') format('truetype'), url('http://zynonite.com/static/IB/webfonts/corpid-l-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}			
/*buttons*/
a.link-btn_sm {
    border: 1px solid #B70136;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial;
    font-size: 1.083em;
    font-weight: bold;
    line-height: 1.846em;
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
	-moz-border-radius: 3px 3px 3px 3px;
}		
a.link-btn_sm.red {
	background: url("http://zynonite.com/static/IB/images/gr_bg_btn01.gif") repeat scroll 0 0 #000000;
}	
a.link-btn_sm.red:hover {
    background-position: 0 100%;
    border: 1px solid #B70136;
}
a.link-btn_sm:active {
    background: url("http://zynonite.com/static/IB/images/img_bg_sm_btn_press.gif") repeat scroll 0 0 #000000 !important;
    border: 1px solid #000000 !important;
}
/*apply iframe contextual*/
.IB_landing_lead {
	width: 645px;
    margin-bottom: 18px;
	padding: 10px 0;
	height: 220px;
	display: none;
}
.IB_landing_lead h3 {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.34em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0 0 0.5em 0;
	margin-top:0;
}

.IB_landing_lead .content div{
	padding-right:20px;
	width:195px;
	float:left;
}
.IB_landing_lead .content div.last{
	padding-right: 0;
}