@font-face {
	font-family: 'museo100';
	src: url('museo100-regular-webfont.eot.html');
	src: url('museo100-regular-webfontd41d.eot@.html') format('embedded-opentype'), 
        url('museo100-regular-webfont.html') format('woff'), 
        url('museo100-regular-webfont.ttf.html') format('truetype'), 
        url('museo100-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'museo300';
	src: url('museo300-regular-webfont.eot.html');
	src: url('museo300-regular-webfontd41d.eot@.html') format('embedded-opentype'), 
        url('museo300-regular-webfont.html') format('woff'), 
        url('museo300-regular-webfont.ttf.html') format('truetype'), 
        url('museo300-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'museo500';
	src: url('museo500-regular-webfont.eot.html');
	src: url('museo500-regular-webfontd41d.eot@.html') format('embedded-opentype'), 
        url('museo500-regular-webfont.html') format('woff'), 
        url('museo500-regular-webfont.ttf.html') format('truetype'), 
        url('museo500-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'museo700';
	src: url('museo700-regular-webfont.eot.html');
	src: url('museo700-regular-webfontd41d.eot@.html') format('embedded-opentype'), 
        url('museo700-regular-webfont.html') format('woff'), 
        url('museo700-regular-webfont.ttf.html') format('truetype'), 
        url('museo700-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'museo900';
	src: url('museo900-regular-webfont.eot.html');
	src: url('museo900-regular-webfontd41d.eot@.html') format('embedded-opentype'), 
        url('museo900-regular-webfont.html') format('woff'), 
        url('museo900-regular-webfont.ttf.html') format('truetype'), 
        url('museo900-regular-webfont.svg') format('svg');
}
* {
	margin: 0px;
	padding: 0px;
	background: none;
	border: medium none;
	font-size: 12px;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
strong, em, sub, sup {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
ul, ol, dl {
	list-style: none outside none;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
a {
	text-decoration: none;
}
:active, :focus {
	outline: none;
	border: medium none;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
/*
.fix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
*/
header, section, footer, aside, article, figure {
	display: block;
}
/*===============================================================================
    NEW CSS
================================================================================*/


/*-------------------------------------------------------------
     Fundo responsivo
------------------------------------------------------------*/
.homepage .container .st-image {
	background-image: url("fundo-home.html");
}
.interna .container .st-image {
    background-image: url("meu-cadastro-fundo.html");
    height: 265px;
    *position: relative;
    *z-index: 1;
}
.interna .container .st-image .sl-texto h2, .interna .container .st-image .sl-texto p {
	color: #474747;
}
/*-------------------------------------------------------------*/
.render-body
{
    float: left;
    padding-bottom: 98px;
    width: 100%;
}
.container .st-content {
	margin-top: 30px;
}
.strip p {
	color: #474747;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	padding: 0 0 8px;
}
.strip h2 {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 22px;
	padding: 0 0 8px;
}
.strip h3 {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 22px;
	padding: 0 0 8px;
}
.strip h4 {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 22px;
	padding: 0 0 8px;
}
.container {
	display: block;
	width: 100%;
}
.container .strip {
	display: block;
	float: left;
	width: 100%;
}
.container .strip .wrap {
	display: block;
	margin: 0 auto;
	max-width: 960px;
}
.container .strip .wrap .col1, .container .strip .wrap .col2 {
	float: left;
	width: 50%;
}
.container .st-menu {
    height: 51px;
    padding: 16px 0 12px;
    *position: relative;
    *z-index: 999999;
}
.container .st-menu .wrap img.logo-small {
	float: left;
}
.container .st-menu .wrap img.logo-big {
	display: none;
}
.container .st-saldo {
	background-color: #F2F2F2;
	border-bottom: 1px solid #E2E2E2;
	padding: 0 0 16px;
}
.container .st-banner-inferior {
    height: 365px;
    margin: 30px 0 0;
    overflow: hidden;
    position: relative;
}
.container .st-banner-inferior img{
    left: 50%;
    margin: 0 0 0 -800px;
    position: absolute;
    width: 1600px;
}
.container .st-mapa-barra {
	background-color: #292929;
	border-top: 10px solid #00ADEF;
	padding: 0;
}
.container .st-mapa-barra a.mapdown {
	background-image: url("setadown.png");
	background-position: 272px center;
	background-repeat: no-repeat;
	border-left: 1px solid #474747;
	border-right: 1px solid #474747;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 16px;
	padding: 26px 80px 26px 36px;
}
.container .st-mapa-barra a.mapup {
	background-image: url("setaup.png");
}
.container .st-mapa-do-site {
	background-color: #303136;
	border-bottom: 1px solid #505050;
	display: none;
	padding: 36px 0 0;
}
.container .st-mapa-do-site .col-map {
	float: left;
	padding: 0 30px 30px 0;
}
.container .st-mapa-do-site .map1 {
	width: 150px;
	height: 145px;
}
.container .st-mapa-do-site .map2 {
	width: 162px;
	height: 145px;
}
.container .st-mapa-do-site .map3 {
	width: 100px;
	height: 145px;
}
.container .st-mapa-do-site .map4 {
	width: 212px;
}
.container .st-mapa-do-site .map5 {
	padding: 0 0 30px;
	width: 172px;
}
.container .st-mapa-do-site .col-map h6 {
	color: #FFFFFF;
	font-family: 'museo500',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	padding: 0 0 20px;
	font-weight: normal;
}
.container .st-mapa-do-site .col-map p {
	color: #BBBBBB;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 22px;
}
.container .st-mapa-do-site .col-map small {
	color: #BBBBBB;
	display: block;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 11px;
	padding: 0 0 10px;
}
.container .st-mapa-do-site .col-map ul li a {
	color: #747474;
	display: block;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 14px;
	padding: 0 0 3px;
}
.container .st-icons {
	padding: 30px 0;
}
.container .st-icons p {
	color: #00aeef;
	font-family: 'museo500',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 13px;
}
.container .st-icons .text p {
	color: #00aeef;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 21px;
	padding: 0 0 22px 0;
}
.container .st-icons .tooltipbox {
	background-image: url("tooltip-bg.png");
	background-repeat: no-repeat;
	display: none;
	height: 100px;
	padding: 18px;
	position: absolute;
	text-align: left;
	width: 170px;
}
.container .st-icons .tooltipbox h6 {
	color: #FFFFFF;
}
.container .st-icons .tooltipbox p {
	color: #FFFFFF;
}
.container .st-icons .tooltipbox small {
	color: #FFFFFF;
	font-size: 10px;
}
.container .st-icons .tooltip-ct .tt-up {
	display: none;
}
.container .st-share {
	background-color: #313131;
	padding: 16px 0;
	display: none;
}
.container .st-footer {
	background-color: #00adef;
	padding: 20px 0;
    bottom: 0;
    position:fixed;
    z-index:999;
}
.container .st-footer img {
	float: left;
}
.container .st-footer p {
	color: #FFFFFF;
	float: right;
	padding: 14px 0 0;
}
.container .st-menu .nav {
    float: right;
    padding: 14px 0 0 20px;
}
.container .st-menu .logo-small{
    *float:left;
}
.container .st-menu .logo-small{
    font-size: 18px;
    padding: 10px 0;
    float: left;
    font-family: "museo 300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    color:#474747;
}
.container .st-menu .logo-small strong{
    font-family: "museo 700",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    color:#00adef;
}
.container .st-menu .logo-small small{ display:block; }
.container .st-menu .nav ul {
}
.container .st-menu .nav ul li {
	float: left;
	padding: 0 20px 0 0;
}
.container .st-menu .nav ul li a {
	color: #000000;
	float: left;
	font-family: "museo 300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 16px;
}
.container .ct-double-1 {
	background-color: #00aeef;
	float: left;
	width: 50%;
}
.container .ct-double-2 {
	background-color: #000000;
	float: left;
	margin: 0 0 0 100%;
	width: 100%;
}
.container .ct-double-3 {
	float: left;
	margin: 0 0 0 -480px;
	width: 960px;
}
.container .esq, .container .dir {
	float: left;
	width: 50%;
}
.container .esq a.resgate-agora {
	background-image: url("icon-barr_clock2.png");
	background-position: left center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 25px;
	margin: 0 0 0 48px;
	padding: 19px 0 18px 48px;
}
.container .dir a.promos-ticket {
	background-image: url("icon-barr_ticket.png");
	background-position: left center;
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 25px;
	margin: 0 0 0 20px;
	padding: 19px 0 18px 60px;
}
.container .mob-menu-btn {
	display: none;
}
.container .st-icons .wrap .col1 {
	padding: 14px 2% 26px 0;
	width: 67%;
}
.container .st-icons .wrap .col2 {
	border-left: 1px solid #CCCCCC;
	padding: 14px 0 26px 2%;
	width: 28.8%;
}
.container .st-icons .wrap .col1 .singleicon {
	float: left;
	width: 25%;
	text-align: center;
}
.container .st-icons .wrap .col2 .singleicon {
	float: left;
	width: 50%;
	text-align: center;
}
.st-saldo p {
	color: #8130b1;
	font-size: 15px;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	float: right;
	padding: 16px 0 0;
}
.st-saldo p:first-child {
	float: left;
}
.st-saldo p strong {
	color: #474747;
	font-size: 17px;
	font-weight: normal;
	font-family: 'museo500',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
.st-saldo p .justblack {
	color: #474747;
	font-size: 17px;
	font-family: 'museo500',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
.st-saldo p .pontos {
	color: #474747;
	font-size: 17px;
	font-weight: normal;
	font-family: 'museo100',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
.st-saldo p .barr {
	border-right: 1px solid #CCCCCC;
	margin: 0 12px 0 0;
	padding: 0 16px 0 0;
}
.btn-compre-pontos {
	background-image: url("botao-comprar-pontos.png");
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 14px;
	color: #FFFFFF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 14px;
	padding: 7px 45px 7px 15px;
	cursor: pointer;
}
button.btn-compre-pontos {
	padding: 6px 43px 6px 14px;
}
.container .notificacoes {
	float: right;
	left: 387px;
	position: relative;
	top: 63px;
	width: 260px;
	z-index: 99;
}
.container .notificacoes .notif-banner {
	background-color: #00ADEF;
	display: block;
	padding: 8px 20px;
}
.container .notificacoes .notif-banner .notif-icon {
	cursor: pointer;
	background-image: url("carta-icon.png");
	background-repeat: no-repeat;
	float: left;
	height: 38px;
	width: 36px;
}
.container .notificacoes .notif-banner .notif-number {
	background-color: #FF0000;
	border-radius: 31px;
	color: #FFFFFF;
	float: right;
	font-size: 8px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 2px 4px;
}
.container .notificacoes .notif-banner .notif-text {
	background-color: #00ADEF;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 16px;
	padding: 12px 0 0 8px;
}
.container .notificacoes .notif-banner {
	background-color: #00ADEF;
	display: block;
	float: left;
	padding: 6px 20px 11px;
	width: 220px;
	cursor: pointer;
}
.container .notificacoes ul {
	background-image: url("notif-seta-up.png");
	background-position: center top;
	background-repeat: no-repeat;
	float: left;
	padding: 10px 0 0;
	width: 100%;
	display: none;
}
.container .notificacoes ul li.par {
	background-color: #FFFFFF;
}
.container .notificacoes ul li {
	background-color: #f2f2f2;
}
.container .notificacoes ul li a {
	background-position: 13px center;
	background-repeat: no-repeat;
	color: #747474;
	display: block;
	font-family: 'museo100',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 12px;
	padding: 20px 28px 22px 54px;
}
.container .notificacoes ul li a.nota-tipo-x {
	background-image: url("nota-tipo_01.png");
}
.container .notificacoes ul li a.nota-tipo-y {
	background-image: url("nota-tipo_02.png");
}
.container .notificacoes ul li a.nota-tipo-z {
	background-image: url("nota-tipo_03.png");
}
.container .st-image {
	float: left;
	overflow: hidden;
}
.container .st-image {
	background-position: top center;
	background-repeat: no-repeat;
	height: 375px;
	float: left;
	width: 100%;
}
.container .st-image .wrap {
	position: relative;
}
.container .st-image .foto-header {
    height: 265px;
    left: 2%;
    position: absolute;
    top: 0;
    width: 50%;
}
.homepage .container .st-image .foto-header {
    height: 376px;
    left: 2%;
    position: absolute;
    top: 0;
    width: 50%;
}
.container .st-image .foto-header img{
    bottom: 0;
    position: absolute;
}

.container .st-image .sl-texto {
	float: left;
}
.container .st-image .sl-texto {
	left: 50%;
	top: 94px;
	position: absolute;
	width: 50%;
}
.container .st-image .sl-texto h2 {
	color: #FFFFFF;
	font-family: 'museo500',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 32px;
	font-weight: normal;
}
.container .st-image .sl-texto p {
	color: #FFFFFF;
	font-family: 'museo 300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 19px;
	font-weight: normal;
}
.container .st-banner-inferior .wrap .bn-inf-img {
	float: left;
	overflow: hidden;
	width: 40%;
}
.container .st-banner-inferior .wrap .bn-inf-txt {
	float: left;
	overflow: hidden;
	width: 60%;
}
.container .st-banner-inferior .wrap .bn-inf-txt {
	padding: 130px 0 0;
}
.container .st-banner-inferior .wrap .bn-inf-txt h6 {
	color: #FFFFFF;
	font-family: "museo 500",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 31px;
	font-weight: normal;
}
.container .st-banner-inferior .wrap .bn-inf-txt p {
	color: #FFFFFF;
	font-family: "museo 500",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 18px;
	font-weight: normal;
}
.container .st-banner-inferior .wrap {
	width: 100%;
	padding: 0;
}
.container .st-share .share-f, .container .st-share .share-t, .container .st-share .share-yt {
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	text-indent: -9999px;
	width: 30px;
}
.container .st-share .share-f {
	background-image: url("share_f.png");
}
.container .st-share .share-t {
	background-image: url("share_t.png");
}
.container .st-share .share-yt {
	background-image: url("share_yt.png");
}
.container .st-icons .tooltipbox1 {
    margin: -12px 0 0 -8px;
    *margin-left:-88px;
}
.container .st-icons .tooltipbox2 {
    margin: -12px 0 0 -29px;
    *margin-left:-97px;
}
.container .st-icons .tooltipbox3 {
    background-image: url("tooltip-bg2.png");
    color: #FFFFFF;
    height: 12px;
    margin: -12px 0 0 20px;
    padding: 20px 12px;
    width: 111px;
    *margin-left:-48px;
}
.container .st-icons .tooltipbox3 p a {
	color: #FFFFFF;
	font-weight: bold;
}
.container .st-share img {
	display: none;
}
.promocoes-ct .item {
	background-color: #F2F2F2;
	float: left;
	margin: 20px 1% 0 0;
	padding: 3%;
	width: 43%;
    *width:42%;
}
.promocoes-ct .item h5 {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 22px;
	padding: 0 0 8px;
}
.promocoes-ct .item p {
	color: #474747;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	padding: 0 0 8px;
}
.promocoes-ct .item .item-img {
	background-color: #FFFFFF;
	margin: 12px 0;
	padding: 16px 0;
	text-align: center;
}
.promocoes-ct .item .item-img p {
	font-family: "museo 300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 18px;
}
.promocoes-ct .item .item-img a {
	color: #00AEEF;
	display: block;
	font-family: "museo 500",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 13px;
	margin: 0 auto;
	max-width: 320px;
	padding: 10px 0;
	text-align: right;
}
.promocoes-ct .item .item-img p strong {
	color: #000000;
	font-family: "museo 700",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 44px;
	font-weight: bold;
}
.promocoes-ct .item .item-img img {
	width: 100%;
	max-width: 320px;
}
.container .strip .wrap .resgate-ct .col1, .container .strip .wrap .resgate-ct .col2, .container .strip .wrap .resgate-ct .col3 {
	background-color: #F0F0F0;
	float: left;
	margin: 20px 1% 22px 0;
	padding: 3%;
	width: 26.6%;
}
.container .strip .wrap .resgate-ct h5 {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 22px;
	padding: 0 0 8px;
}
.container .strip .wrap .resgate-ct p {
	color: #474747;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	padding: 0 0 8px;
}
.container .strip .wrap .resgate-ct .col2 .item p {
	text-align: center;
}
.container .strip .wrap .resgate-ct .col3 form {
	width: 100%;
	float: left;
}
.container .strip .wrap .resgate-ct .col3 form input {
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	display: block;
	float: left;
	margin: 0 0 12px -2px;
	padding: 12px 5%;
	text-transform: uppercase;
	width: 90%;
}
.container .strip .wrap .resgate-ct .col3 form .centralizer button {
	color: #FFFFFF;
}
.container .strip .wrap .resgate-ct .col3 form .centralizer {
	display: block;
	text-align: center;
}
.container .strip .wrap .resgate-ct small {
	color: #474747;
	font-family: 'museo100',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 12px;
	padding: 0 0 20px;
	display: block;
}
.container .strip .wrap .resgate-ct .item {
	background-color: #FFFFFF;
	margin: 20px 0 0;
	padding: 18px 13px;
	text-align: center;
}
.container .strip .wrap .resgate-ct .item img{
    width:100%;
    max-width:227px;
}
.container .strip .wrap .resgate-ct .item h4 {
	color: #474747;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 18px;
	padding: 0 0 8px;
}
.container .strip .wrap .resgate-ct p.data {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	padding: 0 0 8px;
	text-transform: uppercase;
}
.container .strip .wrap .resgate-ct p.itempreco {
	color: #474747;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	padding: 12px 0;
	text-align: center;
}
.container .strip .wrap .resgate-ct p.itempreco a.btn-resgate {
    background-image: url("botao-resgate.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: "museo 300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    font-size: 14px;
    padding: 5px 48px 8px;
}
.container .strip .wrap .resgate-ct p.itempreco strong {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 22px;
}
.container .strip .wrap .resgate-ct p.data strong {
	color: #00AEEF;
	text-transform: uppercase;
	font-family: 'museo500',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-weight: normal;
	font-size: 15px;
	padding: 0 0 8px;
}
.container .strip .wrap .resgate-ct .col3 {
	margin-right: 0;
	background-color: #d9d9d9;
}
.comprepontos-ct {
	padding: 28px 0;
}
.comprepontos-ct h4 {
	color: #00AEEF;
	font-family: "museo500",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 25px;
	font-weight: normal;
	padding: 0 0 20px;
}
.comprepontos-ct p {
	color: #000101;
	font-family: "museo300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 0 0 20px;
}
.comprepontos-ct .calculator {
	border-bottom: 2px dotted #CCCCCC;
	border-top: 2px dotted #CCCCCC;
	padding: 50px 3%;
	width: 94%;
	float: left;
}
.comprepontos-ct .calculator label {
	color: #000101;
	float: left;
	font-family: "museo300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 0 0 10px;
	width: 100%;
}
.comprepontos-ct .calculator .equalsign {
	color: #00AEEF;
	float: left;
	font-family: "museo900",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 32px;
	font-weight: normal;
	padding: 28px 17px 0;
}
.comprepontos-ct .calculator .numpontos {
	float: left;
	width: 50%;
}
.comprepontos-ct .calculator .numpontos input {
	background-color: #F0F0F0;
	border: 2px solid #DDDDDD;
	color: #999999;
	font-family: "museo 300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 14px;
	padding: 10px 3%;
	text-transform: uppercase;
	width: 94%;
}
.comprepontos-ct .calculator .valoremreais input {
	background-color: #F0F0F0;
	border: 2px solid #DDDDDD;
	color: #999999;
	font-family: "museo 300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 14px;
	padding: 10px 3%;
	text-transform: uppercase;
	width: 94%;
}
.comprepontos-ct .calculator .valoremreais {
	float: left;
}
.comprepontos-ct .calculator .valoremreais {
	float: left;
	width: 24%;
}
.comprepontos-ct .calculator .btncomprepontos {
	float: left;
	padding: 33px 0 0 17px;
}
.troque-pontos-destaques h4 {
	color: #00AEEF;
	font-family: "museo500",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 25px;
	font-weight: normal;
	padding: 0 0 20px;
}
.troque-pontos-destaques {
	float: left;
	padding: 26px 0 50px;
	width: 100%;
}
.troque-pontos-destaques .item {
	float: left;
	text-align: center;
	width: 33.3%;
	padding: 26px 0 0;
}
.troque-pontos-destaques .item img{
    max-width: 147px;
    width: 60%;
}
.troque-pontos-destaques .item p {
	color: #000101;
	float: left;
	font-family: "museo300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 17px;
	font-weight: normal;
	padding: 10px 0 0;
	width: 100%;
}
.set-dest-r, .set-dest-l {
	cursor: pointer;
	display: none;
	float: left;
	height: 50px;
	margin: 0;
	width: 10%;
}
.lb-ct {
	background-image: url(bg75preto.png);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}
.lb-ct .lb-inner {
	background-color: #FFFFFF;
	left: 50%;
	margin-left: -240px;
	position: fixed;
	top: 10%;
	width: 480px;
}
.lb-ct .lb-inner .lb-header {
	background-color: #00AEEF;
	float: left;
	padding: 20px 6%;
	width: 88%;
}
.lb-ct .lb-inner .lb-header p, .lb-ct .lb-inner .lb-header img {
	float: left;
}
.lb-ct .lb-inner .lb-header p {
	border-left: 1px solid #FFFFFF;
	color: #FFFFFF;
	margin-left: 28px;
	padding: 6px 0 6px 18px;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
}
.lb-ct .lb-inner .lb-header p.close {
	background-image: url("btn-fechar.png");
	background-position: right center;
	background-repeat: no-repeat;
	border-left: 0 none;
	cursor: pointer;
	float: right;
	font-size: 12px;
	padding: 2px 28px 3px;
}
.lb-ct .lb-inner .lb-body {
	padding: 20px;
	float: left;
}
.lb-ct .lb-inner .lb-body p {
	color: #474747;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 15px;
	padding: 0 0 12px;
}
.lb-ct .lb-inner .lb-body h6 {
	color: #00AEEF;
	font-family: 'museo300',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 20px;
	padding: 0 0 12px;
}
.lb-ct .lb-inner .lb-body .btn-compre-pontos {
	float: left;
	display: block;
}
.container .resgate-bar{
    background-color:#00AEEF;
}
.container .resgate-bar .dir{
    display:none;
}
.container .promo-bar{
    background-color:#00AEEF;
}
.container .promo-bar .esq{
    display:none;
}
.blue-tx{
    color: #00ADEF !important;
}
.blue-bg{
    background-color: #00ADEF !important;
}
.container .st-darkbarr{
    background-color:#333333;
}
.container .st-darkbarr p{
    color: #00AEEF;
    padding: 18px 0;
    font-family: 'museo100',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    font-size: 14px;
}
.container .st-darkbarr p strong{
    color: #FFFFFF;
    padding: 0 20px 0 0;
    text-transform: uppercase;
    font-family: 'museo100',Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    font-size: 16px;
}
.container .st-menu a.duvidas
{
    color: #00ADEF;
    float: right;
    font-family: "museo300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    font-size: 13px;
    padding: 12px 0;
    width:30%;
}
/* Mensagens de Erro */
.input-validation-error
{
    border-color:#F66 !important;
}
.field-validation-error
{
    color: #FF0000;
    display: block;
    padding: 0 6px;
    text-align: right;
}
.validation-summary-valid
{
    background-color: #FFEEEE;
    float: left;
    margin: 20px 0 0;
    padding: 20px 5%;
    width: 90%;
}
.validation-summary-valid span
{
    color:#FF0000;
    font-size:13px;
    text-align:right;
}
#divSugestao{
    background-color:#FEE;
    margin:12px 0 0;
}
#divSugestao label, .form-col-3 .alertaSumario{
    font-size:12px;
    margin:0;
    height:auto;
    padding:10px 16px;
    color:#FF0000;
    border:1px solid #FF0000;
}


#divCelularInvalido{
    background-color:#FEE;
    margin:12px 0 0;
}
#divCelularInvalido label, .form-col-3 .alertaSumario{
    font-size:12px;
    margin:0;
    height:auto;
    padding:10px 16px;
    color:#FF0000;
    border:1px solid #FF0000;
}

.form-col-3 .alertaSumario
{
    width:45.3%;
    margin:7px 0 0;
}
/*Oo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0
						response ! ! !
o0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0*/
@media screen and (max-width: 960px) {
.container .render-body {
    padding: 0 !important;
}
.container .st-footer {
    bottom: auto;
    position:static;
}
.container .st-menu a.duvidas{
    padding:20px 0;
}
.container .st-menu .logo-small{
    padding: 18px 0 0 5%;
    font-size: 22px;    
}
.container .st-image .sl-texto {
    left: 52%;
    width: 47%;
}
.container .st-banner-inferior {
    display:none;
}
.container .strip .wrap .resgate-ct .col1, .container .strip .wrap .resgate-ct .col2{
	width:43%;
}
.container .strip .wrap .resgate-ct .col3{
	width: 94%;
}
.container .st-mapa-do-site .col-map .map-inner{
    display:none;
    padding:0 0 20px;
}
.container .st-mapa-do-site .col-map{
    height: auto;
    padding: 0;
    width: 100%;
}
.coluna-1-cadastro, .coluna-2-cadastro {
	margin-top: 20px;
	padding: 26px 4%;
	width: 92%;
}
.coluna-1-cadastro .dados-pessoais .field-cpf, .coluna-1-cadastro .dados-pessoais .field-sexo, .coluna-1-cadastro .dados-pessoais .field-tel-r, .coluna-1-cadastro .dados-pessoais .field-tel-c, .coluna-1-cadastro .dados-pessoais .field-tel-o, .coluna-2-cadastro .dados-comerciais .field-cep, .coluna-2-cadastro .dados-comerciais .field-numero, .coluna-2-cadastro .dados-comerciais .field-complemento {
	width: 42.5%;
}
.coluna-1-cadastro .dados-pessoais .field-email input, .coluna-1-cadastro .dados-pessoais .field-cargo input, .coluna-1-cadastro .dados-pessoais .field-titular input, .coluna-2-cadastro .dados-comerciais .field-bairro input, .coluna-2-cadastro .dados-comerciais .field-end-res {
	width: 90%;
}
.coluna-2-cadastro .dados-comerciais .field-end-res input {
	width: 100%;
}
.coluna-2-cadastro .dados-comerciais .field-cidade {
	width: 85%;
}
.coluna-2-cadastro .dados-comerciais .field-cidade input {
	width: 90%;
}
.coluna-2-cadastro .dados-comerciais .field-estado {
	width: 12%;
}
.coluna-2-cadastro .dados-comerciais .field-estado input {
	width: 50%;
}
.container .esq {
	background-color: #00AEEF;
}
.bx-cadastro ul li:first-child {
	border: 0 none;
	clear: both;
	margin: 0;
	padding: 0 0 24px;
	width: 100%;
}
.bx-cadastro ul li:first-child input {
}
.bx-cadastro ul li {
	border-left: 0 none;
	border-right: 2px solid #FFFFFF;
	float: left;
	margin: 0 24px 0 0;
	padding: 0 24px 0 0;
	width: 222px;
}
.bx-cadastro ul li:last-child {
	border-right: 0 none;
	float: left;
	margin: 0;
	padding: 0;
	width: 268px;
}
.container .st-icons .icon-fix {
	float: left;
}
.container .st-icons .icon-fix {
    width:100%;
	text-align: center;
    cursor:pointer;
}
.container .st-icons .wrap .col1 .singleicon {
	width: 50%;
    padding:10px 0;
    cursor:pointer;
}
.container .st-icons .col2 .icon-fix {
	
}
.container .st-icons .wrap .text {
	padding: 0 3%;
}
.container .st-icons .wrap .col2 .singleicon {
	float: left;
	text-align: center;
	width: 49%;
    cursor:pointer;
}
.container .st-share {
	text-align: center;
}
.container .st-icons .tooltipbox1{
    margin: 86px 0 0 130px;
}
.container .st-icons .tooltipbox{
    background-image:none;
    background-color:#00AEEF;
    position:relative;
    margin:0;
    float:left;
    padding: 18px 6%;
    width: 88%;
    height:auto;
}
.container .st-icons .tooltipbox3 p a {
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	padding: 0;
    text-align:center;
}
.container .st-icons .tooltipbox p {
	color: #FFFFFF;
    padding:0;
    margin:0;
}
.container .st-share .share-f, .container .st-share .share-t, .container .st-share .share-yt {
	background-image: none;
	display: inline-block;
	height: auto;
	margin: 0 18px 0 0;
	text-indent: 0;
	width: auto;
}
.container .st-share img {
	display: inline;
    width:44px;
}
.container .notificacoes {
	float: right;
	left: 0;
	position: relative;
	top: 18px;
	width: 260px;
	z-index: 999;
}
.container .notificacoes .notif-banner .notif-text {
	display: none;
}
.container .notificacoes ul {
	background-image: url("notif-seta-up.png");
	background-position: 208px top;
	background-repeat: no-repeat;
	float: left;
	padding: 10px 0 0;
	width: 100%;
	display: none;
}
.container .notificacoes .notif-banner {
	background-color: rgba(0, 0, 0, 0);
	display: block;
	float: right;
	padding: 6px 20px 11px;
	width: 40px;
}
.container .st-menu {
/*
	background-image: url("../img/comum/logo-big.png");
	background-repeat: no-repeat;
	background-position: center center;
*/
	height: 60px;
}
.container .st-menu .wrap img.logo-small {
	display: none;
}
.container .st-image {
	margin: 89px 0 0;
}
.container .strip .wrap {
	display: block;
	margin: 0 auto;
	width: 96%;
	padding: 0 2%;
}
.container .st-footer img {
	float: left;
	padding: 0 30px 0 0;
}
.container .st-footer p {
	width: 45%;
	color: #FFFFFF;
	float: right;
	padding: 0;
}
.container .st-banner-inferior .wrap {
	display: none;
}
.mob-menu-btn {
	display: block;
	float: right;
	height: 48px;
	margin: 0 32px 0 0;
	position: relative;
	right: 0;
	width: 48px;
}
.mob-menu-btn:hover {
	cursor: pointer;
}
.container .mob-menu-btn {
	background-image: url("menu-mob-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	float: left;
	margin: 22px 0 0 16px;
	position: relative;
	z-index: 99999;
}
.container .st-slide {
	margin: 79px 0 0;
	padding: 0;
}
.container .strip .wrap .col1, .container .strip .wrap .col2 {
	border-bottom: 1px dashed #FFFFFF;
	float: left;
	width: 98%;
}
.st-menu {
	background-color: #FFFFFF;
	padding: 15px 2%;
	position: fixed;
	width: 96%;
	z-index: 999;
	border-bottom: 1px solid #DDDDDD;
}
.container .ct-double-1, .container .ct-double-2, .container .ct-double-3 {
	margin: 0;
	width: 100%;
}
.container .st-menu .wrap .logo {
	padding: 0 0 0 20px;
}
.container .st-menu .nav {
	background-color: #00ADEF;
	display: none;
	left: 0;
	padding: 3% 1% 8%;
	position: fixed;
	top: 86px;
	width: 250px;
	z-index: 999;
}
.container .st-menu .nav ul li {
	float: left;
	padding: 0 20%;
	width: 60%;
}
.container .st-menu .nav ul li a {
	border-top: 3px dotted #57C9F4;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: "museo 300",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-size: 20px;
	padding: 14px 0;
	width: 100%;
}
.container .st-menu .nav ul li:first-child a {
	border-top: 0 none;
}
.container .mob-menu-btn-ativo {
	background-color: #00ADEF;
	height: 86px;
	margin: -16px 0 0 -19px;
	width: 100px;
	background-image: url(menu-close-x.png);
	background-position: 47px 46px;
	background-repeat: no-repeat;
}
.container .st-saldo .wrap, .container .st-content .wrap {
	padding: 0 2%;
}
.container .st-icons .wrap .col2 {
	border-left: 0 none;
	width: 100%;
	padding: 0;
}
.render-body {
	padding: 80px 0 0;
}
}
/*Oo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0
						840 PX
o0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0*/
@media screen and (max-width: 880px)
{
    .container .st-image .sl-texto
    {
        left: 58%;
        width: 40%;
    }
}
/*Oo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0
						780 PX
o0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0*/
@media screen and (max-width: 780px) {
    .container .st-image .sl-texto {
        left: 57%;
        width: 42%;
    }
    .comprepontos-ct .calculator label {
	    height: 36px;
    }
    .comprepontos-ct .calculator .equalsign {
	    padding: 44px 17px 0;
    }
    .homepage .container .st-image .foto-header{
        height:auto;
        position:static;
        width:96%;
        text-align:center;
    }
    .homepage .container .st-image .foto-header img
    {
        max-width:420px;
    }
    .homepage .container .st-image .wrap, .homepage .container .st-image
    {
        height:auto;
        float:left;
        width:100%;
        background-size:cover;
    }    
    .homepage .container .st-image .foto-header img {
        bottom: 0;
        left: 0;
        position:static;
        width:100%;
    }    
    .homepage .container .st-image .sl-texto {
        text-align:center;
        float: left;
        left: 0;
        padding: 16px 2%;
        position: static;
        top: 0;
        width: 92%;
    }    
    .container .st-image .sl-texto {
        left: 10%;
        top: 50px;
        width: 80%;
    }
    .interna .container .st-image .sl-texto {
        left: 0;
        padding: 10px 10%;
        top: 50px;
        width: 80%;
    }
}

/*Oo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0
						620 PX
o0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0*/
@media screen and (max-width: 620px)
{
    
    .promocoes-ct .item {
        width: 96%;
    }
    .container .strip .wrap .resgate-ct .col1, .container .strip .wrap .resgate-ct .col2, .container .strip .wrap .resgate-ct .col3 {
	    width: 94%;
    }
    .troque-pontos-destaques .item p{ font-size: 14px; }
    .bx-cadastro ul li, .bx-cadastro ul li:first-child, .bx-cadastro ul li:last-child {
	    width: 100%;
    }
    .coluna-1-cadastro .dados-pessoais .field-cpf, .coluna-1-cadastro .dados-pessoais .field-sexo, .coluna-1-cadastro .dados-pessoais .field-tel-r, .coluna-1-cadastro .dados-pessoais .field-tel-c, .coluna-1-cadastro .dados-pessoais .field-tel-o, .coluna-2-cadastro .dados-comerciais .field-cep, .coluna-2-cadastro .dados-comerciais .field-numero, .coluna-2-cadastro .dados-comerciais .field-complemento
    {
        width: 85%;
    }
    .container .st-image .foto-header{
        height: 265px;
        left: 2%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .container .st-image .sl-texto {
        top:60px;
    }
    .promocoes-ct .item {
        width: 96%;
    }
}

/*Oo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0
						500 PX
o0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0*/
@media screen and (max-width: 500px) {
.container .st-image .foto-header img{
    width:96%;
}

.lb-ct .lb-inner {
	margin-left: -45%;
	width: 90%;
}
.comprepontos-ct .calculator label {
	height: 36px;
}
.comprepontos-ct .calculator label, .comprepontos-ct .calculator .equalsign, .comprepontos-ct .calculator .numpontos, .comprepontos-ct .calculator .numpontos input, .comprepontos-ct .calculator .valoremreais input, .comprepontos-ct .calculator .valoremreais, .comprepontos-ct .calculator .valoremreais, .comprepontos-ct .calculator .btncomprepontos {
	width: 97%;
	text-align: center;
}
.comprepontos-ct .calculator .equalsign {
	padding: 0;
}
.container .esq a.resgate-agora, .container .dir a.promos-ticket {
	background-image: none;
	font-size: 18px;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}
.container .st-banner-inferior .wrap .bn-inf-txt h6 {
	font-size: 26px;
}
.container .st-banner-inferior .wrap .bn-inf-txt p {
	font-size: 14px;
}
.container .st-menu .logo-small {
    padding: 6px 5% 0;
    display: block;
    width: 90%;
}
.container .st-menu a.duvidas {
    padding: 10px 5% 0;
    display: block;
    width: 90%;
    text-align: right;
}
}

/*Oo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0
						420 PX
o0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0*/
@media screen and (max-width: 420px) {
.container .st-mapa-do-site .map1, .container .st-mapa-do-site .map2, .container .st-mapa-do-site .map3, .container .st-mapa-do-site .map4, .container .st-mapa-do-site .map5 {
	width: 90%;
	height: auto;
}
.container .st-mapa-barra a.mapdown {
	background-image: url("setadown.png");
	background-position: center center;
	background-repeat: no-repeat;
	border-left: 1px solid #474747;
	border-right: 1px solid #474747;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 0;
	height: 73px;
	padding: 0;
	text-indent: -99999px;
	width: 70px;
}
.container .st-footer p {
	float: left;
	width: 45%;
}
.coluna-1-cadastro .dados-pessoais .field-cpf, .coluna-1-cadastro .dados-pessoais .field-sexo, .coluna-1-cadastro .dados-pessoais .field-tel-r, .coluna-1-cadastro .dados-pessoais .field-tel-c, .coluna-1-cadastro .dados-pessoais .field-tel-o, .coluna-2-cadastro .dados-comerciais .field-cep, .coluna-2-cadastro .dados-comerciais .field-end-res, .coluna-2-cadastro .dados-comerciais .field-numero, .coluna-2-cadastro .dados-comerciais .field-complemento, .coluna-2-cadastro .dados-comerciais .test, .coluna-2-cadastro .dados-comerciais .test {
	width: 90%;
}
.homepage .container .st-image .sl-texto h2{ font-size:26px; }
.homepage .container .st-image .sl-texto p{ font-size:14px; }
}

/*Oo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0
						355 PX
o0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0oOo0*/
@media screen and (max-width: 355px) {
.container .notificacoes {
	top: -55px;
}
.container .st-banner-inferior .wrap .bn-inf-txt h6 {
	font-size: 20px;
}
.container .st-banner-inferior .wrap .bn-inf-txt p {
	font-size: 12px;
}
.container .st-image .sl-texto {
        top:30px;
        left:10%;
        width:80%;
}
.interna .container .st-image .sl-texto {
        height: 225px;
        padding:20px 10%;
        top: 0;
}
.container .st-menu .logo-small {
    font-size: 18px;
}

.container .st-menu a.duvidas {
    padding: 14px 5% 0;
}
}

.lb-ct .lb-inner .lb-body
{
    text-align:center;
}
.lb-ct .lb-inner .lb-body h6{
    color: #000000;
    display: block;
    float: left;
    font-family: "museo100",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    font-size: 16px;
    width: 100%;
}
.lb-ct .lb-inner .lb-body input{
    background-color: #F2F2F2;
    border: 2px solid #DCDCDC;
    color: #9D9D9D;
    font-family: "museo100",Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    font-size: 15px;
    margin: 0 0 12px;
    padding: 9px 0;
    text-align: center;
    width: 78%;
}
.lb-ct .lb-inner .lb-body .btn-generic {
    background-image: url("generic-btn.png");
    background-position: center top;
    background-repeat: repeat;   
    text-align: center;    
    border-radius:16px;
    padding: 5px 26px;
    margin: 0 auto;
    color:#FFFFFF;
    float: none;
    cursor:pointer;
}
.lb-ct{
    display:none;
    overflow-y: scroll !important;
}

.lb-ct .lb-inner {
    position: absolute;
}

.lightbox-confirmacao .lb-inner .lb-body .btn-generic{
    display: inline-block;
    margin: 7px 0 0;
}