@charset "utf-8";

.login img,fieldset{border:0}
.login ul,ol{list-style:none}
.login em,address{font-style:normal}
.login a{text-decoration:none}
.login a:hover,.login a:active,.login a:focus{text-decoration:underline}
.login .blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.login {line-height:14px;color:#888}
.login .login_wrap{position:relative;z-index:9;width:298px;height:105px;border:1px solid #dcdcdc;border-bottom:none;background:#f8f8f8}
.login .login{height:104px}
.login .htmlarea,.login .flasharea{position:absolute;z-index:8;margin:0;padding:0;border:0}
.login .htmlarea{width:122px;height:55px}
.login #htmlarea{display:none}
.login .htmlarea,.login .flasharea,.login .login_help,.login .btn_login{top:14px!important}
.login .htmlarea,.login .flasharea,.login .chk_id_login{left:13px}
.login .login_help,.login .btn_dis{display:block;position:absolute;top:41px;left:206px;width:77px;height:26px;border:solid 1px #e9e9e9;background:#fbfbfb;font-size:11px;line-height:28px;color:#4a4a4a;letter-spacing:-1px;text-align:center}
.login .login_help{border-bottom:none;letter-spacing:0}
@-moz-document url-prefix(){.login .login_help{line-height:26px}}
.login .login_help a{display:inline-block;position:relative;top:1px;font-size:11px;line-height:14px;color:#4a4a4a;vertical-align:middle}
.login .chk_id_login{position:relative;top:76px;z-index:7;width:95px}
.login .btn_lnk{position:absolute;top:77px;top:78px\9;right:13px;color:#888;}
.login .btn_lnk a{font-size:11px;color:#888;letter-spacing:-1px}
.login .btn_lnk a.btn_join{margin-right:7px}
.login .input_box{position:relative;z-index:5;width:121px;height:26px;border:1px solid #bebebe;border-right:0;zoom:1}
.login .input_box:first-child{border-bottom:0;zoom:1}
.login .int{position:relative;z-index:3;width:116px;height:21px;*margin-top:-1px;padding:3px 0 2px 5px;border:0;border-radius:0;background:#fff;line-height:16px;*line-height:20px;font-size:12px;color:#4a4a4a;-webkit-appearance:none;zoom:1}
.ie7 .int{position:relative;z-index:3;width:116px;height:20px;*margin-top:-1px;padding:3px 0 2px 5px;border:0;border-radius:0;background:#fff;line-height:16px;*line-height:20px;font-size:12px;color:#4a4a4a;-webkit-appearance:none;zoom:1}
.login .int.focus{background-color:#feffcc}
.login .lbl_in{position:absolute;top:6px;*top:7px;left:6px;z-index:2;background:#fff;font-size:12px;line-height:16px;color:#4a4a4a}
.ie7 .lbl_in,.ie8 .lbl_in,.ie9 .lbl_in{z-index:4}
.ie7 .lbl_in.focus,.ie8 .lbl_in.focus,.ie9 .lbl_in.focus{z-index:2;border:none}
.login .btn_login{position:absolute;left:135px;z-index:1;width:64px;height:53px;border:solid 1px #c9cac9}
.login .btn_login input{width:64px;height:53px;border:0;border-radius:0;background:#fdfdfd;font-size:12px;line-height:55px\9;color:#222;-webkit-appearance:none;cursor:pointer}
.ie7 .btn_login input{width:64px;height:52px;border:0;border-radius:0;background:#fdfdfd;font-size:12px;line-height:55px\9;color:#222;-webkit-appearance:none;cursor:pointer}
.login .chk_id_login .chk_login{width:96px;height:11px;margin:0px;-webkit-appearance:none}
.ie7 .chk_id_login .chk_login{width:96px;height:9px;margin:2px 0 0 0px;-webkit-appearance:none;}
.login .chk_id_login .chk_login::-ms-check{border:solid 1px #f8f8f8}
.login .chk_id_login .lbl_long{display:inline-block;position:absolute;top:1px;left:1px;height:14px;padding-left:16px;background:#f8f8f8 url(sp_login_20150113.gif) no-repeat 0 -31px;font-size:11px;line-height:16px;*line-height:14px;letter-spacing:-1px;vertical-align:top;cursor:pointer}
.login .chk_id_login .lbl_long.on{background-position:0 -50px}
.login .chk_id_login .chk_login:checked +label{background-position:0 -50px}
@-moz-document url-prefix() {	.login .chk_id_login .lbl_long {line-height:15px}}
.vis .chk_id_login{top:77px}
.vis .chk_id_login .chk_login{background:transparent}
.vis .chk_id_login .lbl_long{top:0;height:16px}
.login .ip_box{display:inline-block;overflow:hidden;position:relative;top:-1px\9;*top:0;width:25px;height:14px;text-indent:-999px;vertical-align:middle}
.login .ip_box .chb_b{position:absolute;top:0;left:0;width:25px;height:8px;border:0 none;margin:0;background:0 none;-webkit-appearance:none}
.ie7 .ip_box .chb_b{position:absolute;top:2px;left:0;width:25px;height:8px;border:0 none;margin:0;background:0 none;-webkit-appearance:none}
.login .ip_box .lbl_type{position:absolute;top:0;left:1px;z-index:1;width:23px;height:13px;background:#fbfbfb url(sp_login_20150113.gif) no-repeat 0 1px;text-indent:-999px;vertical-align:middle;cursor:pointer}
.login .ip_box .lbl_type.on{background-position:0 -12px}
.login .ip_box .chb_b:checked +label{background-position:0 -12px}
.login ::-ms-backdrop,.login .ip_box{top:-1px}
.login ::-webkit-input-placeholder{display:inline-block;position:relative;top:-1px;font-family:Arial,'돋움',Dotum;color:#616161}
.login ::-moz-placeholder{color:#000}
.login :-ms-input-placeholder{color:#616161}
.login .error_box_v2{position:absolute;top:32px;left:-15px;z-index:8;width:300px;height:31px;background:#595959;font-size:12px;font-weight:bold;color:#fff}
.login .error_box_v2 p{padding-left:19px;line-height:32px;line-height:31px\9}
.login .error_box_v2 strong{font-family:Arial,Helvetica,sans-serif;color:#fcff00}
.login .error_box_v3,.login .error_box{position:fixed;top:0;left:133px;z-index:6;width:165px;height:104px;border:1px solid #888;background:#fff;zoom:1}
.login .error_box{left:0;z-index:9;width:298px}
.login .error_box .er3_txt{margin-left:39px}
.login .close_x{position:fixed;top:8px;left:271px;width:21px;height:21px;border:none;background:url(sp_login_20150113.gif) no-repeat 2px -68px;text-indent:-999em;cursor:pointer}
.login .er3_txt{margin:23px 0 0 13px;line-height:20px;color:#4a4a4a}
.login .er3_txt strong{color:#4a4a4a}
.login a.help_txt{display:inline-block;*margin-top:3px;padding-right:5px;background:url(sp_login_20150113.gif) no-repeat 100% -95px;line-height:14px;color:#888;text-decoration:none}
