a.offerlink:link { text-decoration:none;}
a.offerlink:visited {text-decoration:none;}
a.offerlink:hover { color:#003366; text-decoration:underline;}

a.offerlinkFFCC66:link { text-decoration:none;}
a.offerlinkFFCC66:visited {text-decoration:none;}
a.offerlinkFFCC66:hover { color:#FFCC66; text-decoration:underline;}

a.offerlink000000:link { text-decoration:none;}
a.offerlink000000:visited {text-decoration:none;}
a.offerlink000000:hover { color:#000000; text-decoration:underline;}

a.offerlinkFFFFFF:link { text-decoration:none;}
a.offerlinkFFFFFF:visited {text-decoration:none;}
a.offerlinkFFFFFF:hover { color:#FFFFFF; text-decoration:underline;}

.offerFFFFFFBackgroundRight {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFFFCC;
  text-align:right;
}

.Arial12pxBoldBlk {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#000000;
}

.offer12pxBoldFFFFCC {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFFFCC;
  background-color:#CC0000;
}

.Arial12pxBoldBlk {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#000000;
}

.offer14pxArialReg990000Mid {
  font-family:arial;
  font-size:14px;
  font-weight:normal;
  color:#990000;
  background-color:#FFCC66;
}

.Arial11pxRegFFFFCC {
  font-size:11px;
  font-family:arial;
  font-weight:normal;
  color:#FFFFCC;
  background-color:#CC0000;
}

.offerBackgroundFFFFCC {
  padding:4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#990000;
  background-color:#FFFFCC;
  border:1px solid #990000;
}

.offer990000Link {
  color:#990000;
  text-decoration:underline;
}  

offer990000LinkRight {
  color:#990000;
  text-decoration:underline;
  text-align:right
}

.offer11pxBold990000Link {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#990000;
  text-decoration:underline;
}


.offerFFFFFFLink {
  color:#FFFFFF;
  text-decoration:underline;
}  

.offer12pxBoldFFFFFFLink {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFFFFF;
  text-decoration:underline;
}

.offer11pxBoldFFFFFFLink {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#FFFFFF;
  text-decoration:underline;
}

.Arial11pxArialFFFFCCRight {
  font-size:11px;
  font-family:arial;
  font-weight:bold;
  color:#FFFFCC;
  background-color:#990000;
  text-align:right;
}

.offer669966Background {
  padding: 3px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#FFFFFF;
  background-color:#669966;
  border: 1px solid #FFCC66;
}

a.offerFFCC66Link:link { text-decoration : none; }
a.offerFFCC66Link:visited { text-decoration : none; }
a.offerFFCC66Link:hover { color : #FFCC66;  text-decoration : underline; }
a.offerFFCC66Link:active { text-decoration : none; }

.offer666633Background {
  padding: 9px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#FFFFFF;
  background-color:#666633;
  border: 1px solid #666633;
}

.offerFFFFFFBackground {
	BORDER-RIGHT: #990000 0px solid; 
    PADDING-RIGHT: 0px; BORDER-TOP: #990000 0px solid; 
    PADDING-LEFT: 1px; FONT-SIZE: 100%; 
    PADDING-BOTTOM: 0px; BORDER-LEFT: #990000 0px solid; 
    COLOR: #ffffff; PADDING-TOP: 0px; 
    BORDER-BOTTOM: #990000 0px solid; 
    FONT-FAMILY: arial; 
    BACKGROUND-COLOR: #ffffff;
}

.offerFFFFFFBackgroundRight {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFFFCC;  
  text-align:right;
}

.offerCC0000Background {
	BORDER-RIGHT: #990000 2px solid; 
    PADDING-RIGHT: 1px; 
    BORDER-TOP: #990000 2px solid; 
    PADDING-LEFT: 4px; FONT-SIZE: 100%; 
    PADDING-BOTTOM: 0px; 
    BORDER-LEFT: #990000 2px solid; 
    COLOR: #ffffff; PADDING-TOP: 0px; 
    BORDER-BOTTOM: #990000 0px solid; 
    FONT-FAMILY: arial; 
    BACKGROUND-COLOR: #cc0000;
}
.offerFFCC66Background {
	BORDER-RIGHT: #990000 2px solid; 
    PADDING-RIGHT: 1px; 
    BORDER-TOP: #990000 0px solid; 
    PADDING-LEFT: 4px; 
    FONT-SIZE: 100%; 
    PADDING-BOTTOM: 0px; 
    BORDER-LEFT: #990000 2px solid; 
    COLOR: #ffffff; 
    PADDING-TOP: 0px; 
    BORDER-BOTTOM: #990000 0px solid; 
    FONT-FAMILY: arial; 
    BACKGROUND-COLOR: #ffcc66;
}

.offer990000Background {
	BORDER-RIGHT: #990000 0px solid; 
    PADDING-RIGHT: 0px; 
    text-align:right; 
    BORDER-TOP: #990000 0px solid; 
    PADDING-LEFT: 1px; 
    FONT-SIZE: 100%;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #990000 0px solid;
    COLOR: #FFFFCC; 
    PADDING-TOP: 0px; 
    BORDER-BOTTOM: #990000 0px solid; 
    FONT-FAMILY: arial; 
    BACKGROUND-COLOR: #990000;
}

.offer666633PCM {
  padding:4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#FFFFFF;
  background-color:#666633;
  border:1px solid #FF9900;
}

.Arial11pxBlkWhtGry {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#000000;
  background-color:#FFFFFF;
  border: 1px solid #666666;
}

.offerFFFFCCBackground {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#666633;
  background-color:#FFFFCC;
  border: 1px solid #FF9900;
}

offerFFFFCC990000 {
  padding:4px;
  font-size:100%;
  font-family:arial;
  font-weight:bold;
  color:#990000;
  background-color:#FFFFCC;
  border:1px solid #990000;
}

.offerFF9900Background {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#666633;
  background-color:#FF9900;
  border: 1px solid #FFFFFF;
}

.offer9999CCBackground {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#666633;
  background-color:#9999CC;
  background-image:url('EHL_Logo.gif');
  background-repeat:no-repeat;
  background-position:94% 94%;
  border: 1px solid #003366;
}


a.offer003366Link:link { color : #003366;  text-decoration : underline; }
a.offer003366Link:visited { color : #003366;  text-decoration : underline; }
a.offer003366Link:hover { color : #003366;  text-decoration : underline; }
a.offer003366Link:active { color : #003366;  text-decoration : underline; }

a.offerFFFFCCLink:link { color : #FFFFCC;  text-decoration : underline; }
a.offerFFFFCCLink:visited { color : #FFFFCC;  text-decoration : underline; }
a.offerFFFFCCLink:hover { color : #FFFFCC;  text-decoration : underline; }
a.offerFFFFCCLink:active { color : #FFFFCC;  text-decoration : underline; }

a.offerFF9900Link:link { font-size : 11px; font-weight : bold; color : #FF9900;  text-decoration : underline; }
a.offerFF9900Link:visited { font-size : 11px; font-weight : bold; color : #FF9900;  text-decoration : underline; }
a.offerFF9900Link:hover { font-size : 11px; font-weight : bold; color : #FF9900;  text-decoration : underline; }
a.offerFF9900Link:active { font-size : 11px; font-weight : bold; color : #FF9900;  text-decoration : underline; }

.offerCreditCardCCCC99Background {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#000000;
  background-color:#CCCC99;
  border: 1px solid #999966;
}

.offerCCCC99Background {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#000000;
  background-color:#CCCC99;
  border: 1px solid #990000;
}

.offerMyrCCCC99Background {
  padding: 4px;
  font-size:100%;
  font-family:myriad,sans-serif;
  font-weight:normal;
  color:#000000;
  background-color:#CCCC99;
  border: 1px solid #990000;
}




a.offer990000Link:link { text-decoration:none; }
a.offer990000Link:visited { text-decoration:none; }
a.offer990000Link:hover { text-decoration:none; }
a.offer990000Link:active { text-decoration:none; }

a.offeru990000Link:link { color : #990000;  text-decoration : underline; }
a.offeru990000Link:visited { color : #990000;  text-decoration : underline; }
a.offeru990000Link:hover { color : #990000;  text-decoration : underline; }
a.offeru990000Link:active { color : #990000;  text-decoration : underline; }

.offerPrequal {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#FFFFCC;
  background-color:#FF9900;
  background-image:url('ECPR-card_art.gif');
  background-repeat:no-repeat;
  background-position:94% 94%;
  border: 1px solid #FFFFCC;
}

.offerCreditCard {
  padding:4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#FFFFFF;
  background-color:#FF9900;
  background-image:url('ECPR-card_art.gif');
  background-repeat:no-repeat;
  background-position:94% 94%;
  border:1px solid #990000;
}

.offerHomeEquity4 {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#666633;
  background-color:#FFFFCC;
  background-image:url('ehl_orange.gif');
  background-repeat:no-repeat;
  background-position:94% 94%;
  border: 1px solid #FF9900;
}

.offerHomeEquity3 {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#FFFFFF;
  background-color:#003366;
  background-image:url('381-0573-HEQ-ECPR-EHL.gif');
  background-repeat:no-repeat;
  background-position:94% 94%;
  border: 1px solid #666633;
}

.offerHomeEquity {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#FFFFFF;
  background-color:#003366;
  background-image:url('ehl_TRANSP3.gif');
  background-repeat:no-repeat;
  background-position:85% 94%;
  border: 1px solid #000000;
}

.offerHomeEquity2 {
  color:#FF9900;
  font-weight:bold;
}

a.offerHomeEquityLink:link { color:#FFFFFF;  text-decoration:underline; }
a.offerHomeEquityLink:visited { color:#FFFFFF;  text-decoration:underline; }
a.offerHomeEquityLink:hover { color:#FFFFFF;  text-decoration:underline; }
a.offerHomeEquityLink:active { color:#FFFFFF;  text-decoration:underline; }

a.offerCreditCardLink:link {color:#FFFFFF;  text-decoration:underline; }
a.offerCreditCardLink:visited {color:#FFFFFF;  text-decoration:underline; }
a.offerCreditCardLink:hover {color:#FFFFFF;  text-decoration:underline; }
a.offerCreditCardLink:active {color:#FFFFFF;  text-decoration:underline; }

.offertable {
  border: solid #003366;
  border-width:1px;
  background-color:#CCCCCC; }

.offertable003366 {
  border: 1px solid #003366;
  background-color: #CCCCCC}

.offerTableFFFFCC {
  border: 1px solid #990000;
  background-color:#FFFFCC;}

.offerTable666699 {
  border: solid #003366;
  border-width:1px;
  background-color:#666699; }

.offerTable990000 {
  border: solid #000000;
  border-width:1px; background-color:#990000; }

.offer9pxBoldFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:9px;
  font-weight:bold;
  color:#FFFFFF}

.Arial11pxBluBold {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#336699;}

.offer11pxBold000000 {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#000000;}

.Arial12pxFFFFCC {
  font-size:12px;
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#FFFFCC;
}

.Arial11pxFFFFCC {
  font-size:11px;
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#FFFFCC;
}

.Arial11pxArialFFFFCC {
  font-size:11px;
  font-family:arial;
  font-weight:bold;
  color:#FFFFCC;
  background-color:#990000;
}

.Arial11pxRegFFFFCC {
  font-size:11px;
  font-family:arial;
  font-weight:normal;
  color:#FFFFCC;
  background-color:#CC0000;
}

.Arial11pxRegBlk {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:normal;
  color:#000000;}

.offer11pxRegFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:normal;
  color:#FFFFFF;}

.offer11pxReg666633 {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:normal;
  color:#666633;}

.offer11pxBoldFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#FFFFFF;}

.offer8pxBoldFF9900 {
  font-family:arial,helvetica,sans-serif;
  font-size:8px;
  font-weight:bold;
  color:#FF9900;}

.offer11pxBoldFF9900 {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#FF9900;}

.offer12pxBoldFF9900 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FF9900;}

.smallred {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#990000;}

.offer12pxBold990000 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#990000;}

.offer12pxMyrBold990000 {
  font-family:myriad,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#990000;}

.offer14pxArialReg990000 {
  font-family:arial;
  font-size:14px;
  font-weight:normal;
  color:#990000;
  background-color:#FFCC66;
}

.Arial11pxBoldFFFFFF {
  font-size:11px;
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#FFFFFF;
}

.Arial12pxBoldFFFFFF {
  font-size:12px;
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#FFFFFF;
}

.Arial11ptBold990000 {
  font-size:11px;
  font-family:arial;
  font-weight:bold;
  color:#990000;
}

.offer12pxMyrBold000000 {
  font-family:myriad,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#000000;}

.offer12pxMyr000000 {
  font-family:myriad,helvetica,sans-serif;
  font-size:12px;
  font-weight:normal;
  color:#000000;}

.offer12pxBoldCCCC99 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#CCCC99;}

.offer11pxBold990000 {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#990000;}

.Arial11pxRegBlk {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:normal;
  color:#000000;}

.offer11pxReg666633 {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:normal;
  color:#666633;}

.offer11pxBoldFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#FFFFFF;}

.offer8pxBoldFF9900 {
  font-family:arial,helvetica,sans-serif;
  font-size:8px;
  font-weight:bold;
  color:#FF9900;}

.offer11pxBoldFF9900 {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#FF9900;}

.smallred {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#990000;}

.offer12pxReg990000 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:normal;
  color:#990000;}

.offer12pxMyrBold990000 {
  font-family:myriad,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#990000;}

.offer12pxBoldCCCC99 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#CCCC99;}

.offer9pxBold003366 {
  font-family:arial,helvetica,sans-serif;
  font-size:9px;
  font-weight:bold;
  color:#003366}

.offer11pxBold003366 {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#003366}

.offer12pxReg003366 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:normal;
  color:#003366}

.offer12pxBold003366 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#003366}

.offer12pxRegFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:normal;
  color:#FFFFFF;}

.offer12pxBoldFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFFFFF}

.offer12pxBoldFFCC66 {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFCC66}

.offer13pxReg990000 {
  font-family:arial,helvetica,sans-serif;
  font-size:13px;
  font-weight:normal;
  color:#990000;}

.smallblack {
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#000000;}

.offer14pxBold000000 {
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#000000;}

.offer14pxBoldFFCC66 {
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#FFCC66}

.offer14pxBold003366 {
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#003366}

.offer17pxBoldFFCC66 {
  font-family:arial,helvetica,sans-serif;
  font-size:17px;
  font-weight:bold;
  color:#FFCC66}

.offer17pxRegFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:17px;
  font-weight:normal;
  color:#FFFFFF}

.offer17pxBoldFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:17px;
  font-weight:bold;
  color:#FFFFFF}

.offer18pxBoldFFFFFF {
  font-family:arial,helvetica,sans-serif;
  font-size:18px;
  font-weight:bold;
  color:#FFFFFF}

.offer18pxBold003366 {
  font-family:arial,helvetica,sans-serif;
  font-size:18px;
  font-weight:bold;
  color:#003366}

.offer18pxReg990000 {
  font-family:arial,helvetica,sans-serif;
  font-size:18px;
  font-weight:normal;
  color:#990000;}

.offer18pxBold990000 {
  font-family:arial,helvetica,sans-serif;
  font-size:18px;
  font-weight:bold;
  color:#990000;}

.name {
  font-family:arial,helvetica,sans-serif;
  font-size:18px;
  font-weight:normal;
  color:#000000;}

.offer {
  font-family:arial,helvetica,sans-serif;
  font-size:20px;
  font-weight:bold;
  color:#990000;}

.offer20pxBold003366 {
  font-family:arial,helvetica,sans-serif;
  font-size:20px;
  font-weight:bold;
  color:#003366}

.offerCreditCardFFFFCCBackground {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#003366;
  background-color:#FFFFCC;
  border: 1px solid #000000;
}

.textAdAssetBackground {
  padding: 4px;
  font-size:100%;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#000000;
  background-color:#FFFFFF;
  border: 1px solid #666666;
}

.textAdAssetTitleStyle {
  font-family:arial,helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#336699;
}

.textAdAssetContentStyle {
  font-family:arial,helvetica,sans-serif;
  font-size:11px;
  font-weight:normal;
  color:#000000;
}

.firsttimecustomerContentStyle {
  padding:0;
}

.offerbanner {
  padding:0;
  margin:10px 0 0 0;
}

.offerBackground {
  color:#FFFFFF;
}

.offerImage {
  padding:0;
  margin:0 0 0 0;
}

.offerBorder {
  color:#000000;
  background-color:#FFFFFF;
  border-top: 1px solid #666666;
  border-right: 1px solid #666666;
  border-left: 1px  solid #666666;
  border-bottom: 0px;
}

.offerDynamicName {
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  padding: 4px;
}

.offerBackground990000 {
  background-color:#990000
}
.offerBackgroundFFFFCC {
  background-color:#FFFFCC
}
.offerBackgroundFFCC66 {
  background-color:#FFCC66
}
.offerBackgroundFF9900 {
  background-color:#FF9900
}
.offerBackground996633 {
  background-color:#996633
}
.offerBackgroundCCCC99 {
  background-color:#CCCC99
}
.offerBackground999966 {
  background-color:#999966
}
.offerBackground666633 {
  background-color:#666633
}
.offerBackground669966 {
  background-color:#669966
}
.offerBackground9999CC {
  background-color:#9999CC
}
.offerBackground666699 {
  background-color:#666699
}
.offerBackground003366 {
  background-color:#003366
}
.offerBackgroundFFFFFF {
  background-color:#FFFFFF
}
.offerBackgroundCCCCCC {
  background-color:#CCCCCC
}
.offerBackground666666 {
  background-color:#666666
}
.offerBackground000000 {
  background-color:#000000
}

.offerBorder990000 {
  border-top: 1px solid #990000;
  border-right: 1px solid #990000;
  border-left: 1px  solid #990000;
}
.offerBorderFFFFCC {
  border-top: 1px solid #FFFFCC;
  border-right: 1px solid #FFFFCC;
  border-left: 1px  solid #FFFFCC;
}
.offerBorderFFCC66 {
  border-top: 1px solid #FFCC66;
  border-right: 1px solid #FFCC66;
  border-left: 1px  solid #FFCC66;
}
.offerBorderFF9900 {
  border-top: 1px solid #FF9900;
  border-right: 1px solid #FF9900;
  border-left: 1px  solid #FF9900;
}
.offerBorder996633 {
  border-top: 1px solid #996633;
  border-right: 1px solid #996633;
  border-left: 1px  solid #996633;
}
.offerBorderCCCC99 {
  border-top: 1px solid #CCCC99;
  border-right: 1px solid #CCCC99;
  border-left: 1px  solid #CCCC99;
}
.offerBorder999966 {
  border-top: 1px solid #999966;
  border-right: 1px solid #999966;
  border-left: 1px  solid #999966;
}
.offerBorder666633 {
  border-top: 1px solid #666633;
  border-right: 1px solid #666633;
  border-left: 1px  solid #666633;
}
.offerBorder669966 {
  border-top: 1px solid #669966;
  border-right: 1px solid #669966;
  border-left: 1px  solid #669966;
}
.offerBorder9999CC {
  border-top: 1px solid #9999CC;
  border-right: 1px solid #9999CC;
  border-left: 1px  solid #9999CC;
}
.offerBorder666699 {
  border-top: 1px solid #666699;
  border-right: 1px solid #666699;
  border-left: 1px  solid #666699;
}
.offerBorder003366 {
  border-top: 1px solid #003366;
  border-right: 1px solid #003366;
  border-left: 1px  solid #003366;
}
.offerBorderFFFFFF {
  border-top: 1px solid #990000;
  border-right: 1px solid #990000;
  border-left: 1px  solid #990000;
}
.offerBorderCCCCCC {
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-left: 1px  solid #CCCCCC;
}
.offerBorder666666 {
  border-top: 1px solid #666666;
  border-right: 1px solid #666666;
  border-left: 1px  solid #666666;
}
.offerBorder000000 {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px  solid #000000;
}


.offerFont990000 {
  color:#990000;
}
.offerFontFFFFCC {
  color:#FFFFCC;
}
.offerFontFFCC66 {
  color:#FFCC66;
}
.offerFontFF9900 {
  color:#FF9900;
}
.offerFont996633 {
  color:#996633;
}
.offerFontCCCC99 {
  color:#CCCC99;
}
.offerFont999966 {
  color:#999966;
}
.offerFont666633 {
  color:#666633;
}
.offerFont669966 {
  color:#669966;
}
.offerFont9999CC {
  color:#9999CC;
}
.offerFont666699 {
  color:#666699;
}
.offerFont003366 {
  color:#003366;
}
.offerFontFFFFFF {
  color:#FFFFFF;
}
.offerFontCCCCCC {
  color:#CCCCCC;
}
.offerFont666666 {
  color:#666666;
}
.offerFont000000 {
  color:#000000;
}

 #splash {width:755px;margin-bottom:15px;overflow:hidden}
 #splashContent {padding-bottom:35px;overflow:hidden}
 #splash h1 {font-size:200%;color:#000;margin-top:6px;margin-bottom:0;padding-bottom:0}
 #splash h2 {font-size:150%;color:#666;padding-top:1px;padding-bottom:5px;margin-top:0}
 #splash h3 {font-size:125%;color:#000}
 .promoImage {float:right;padding-left:24px}
 .splashDisclosure {width:755px;font-size:90%;color:#666}
/* move to wibscreen.css and also apply specific ASR related style for AS_BAN1 and AS_BAN2 */
/* div.ecpr {font-size:14px;font-weight:bold;color:#EA992B;white-space:nowrap;position:relative;top:14px;left:79px;line-height:14px;} */
/* ASR: AS_BOT */
.MarketingHeading {font-size:117%;color:black;font-weight:bold;border-bottom:1px solid #666;margin-bottom:1em;}
/*table.tablemktg1 {border-collapse:collapse;margin-bottom:43px;}
table.tablemktg1 th, table.tablemktg1 td {border-bottom:1px solid #ccc;padding:6px;vertical-align:top;}
table.tablemktg1 th.rowhead {font-weight:normal;}
table.tablemktg1 th.text, table.tablemktg1 td.text {text-align:left;}
*/
td.asban1-5 {padding-left:15px;width:31%;}
div.mmInsert2 {float:left;width:234px;margin-left:1em;}
/* R23 PP1 CCR 1 */
#signoffMMGreeting {margin-top:22px;margin-bottom:12px;font-size:117%;}

#signoffMMAdContainer {margin-bottom:36px;min-width:764px;width:764px;}


#signoffMM1 {float:left;}
#signoffMM2 {margin-left:30px;float:right;}
/*Changes for 11736-Wachovia Mortgage Merger*/
.Prewavecontentline {border-top:1px solid #666;margin-top:4em;}