body {
    background: url("pattern-crn5.png");
}
.error-info {
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.error-number {
    display: block;
    height: 200px;
    width: 800px;
    margin: 50px auto 0;
}
#table_1 {
    display: block;
    width: 200px;
    height: 200px;
    background: url("error.png");
    float: left;
    background-size: 100%;
}
#table_2  {
    display: block;
    width: 200px;
    height: 200px;
    background: url("error.png");
    background-size: 100%;
    margin: 0 auto;
}
.error-404 {
    height: 200px;
    display: block;
    color: #5E5B5B;
    float: right;
    font-size: 140px;
    font-weight: 500;
    padding-right: 280px;
}
.error-title {
    font-size: 65px;
}
.error-title_big_text {
    font-size: 46px;
}
.error-title,.error-title_big_text {
    font-weight: 500;
    color: #666464;
    text-align: center;
    display: block;
    margin: 30px 0 40px;
}
.error-text {
    text-align: justify;
    font-size: 21px;
    font-weight: 100;
    color: #808080;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 60px;
}
.valid_bat {
    margin: 0 auto;
    display: block;
}
.error-line {
    background: #E5E5E5;
    width: 900px;
    /*width: 100%;*/
    height: 1px;
    margin: 70px auto;
    position: relative;
}
.error-menu-list {
    margin: 0 auto 150px;
    min-height: 170px;
    width: 850px;
}
.error-menu-list > ul:nth-child(2),
.error-menu-list > ul:nth-child(3) {
    margin-left: 20px;
}
.error-menu-list-coll {
    width: 270px;
    height: 170px;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list {
    min-height: 50px;
    width: 270px;
    padding: 5px 0;
    border-bottom: 1px dashed #e0e0e0;
}
.menu-list-a {
    text-decoration: none;
    color: #5E5B5B;
    font-size: 18px;
}
.menu-list-a:hover {
    color: #7bbede;
}
.menu-list-a > img {
    width: 22px;
    margin-right: 15px;
}
.menu-list-a-text {
    display: block;
    font-size: 12px;
    font-weight: lighter;
    padding: 0 0 0 50px;
    color: #7E7E7E;
}