* {font-family:arial,helvetica,sans-serif}
body {font-size:75%;margin:0;padding:0;background-color:#eaeff8}
#main {width:981px;margin:0 auto 10px auto;padding:0 7px;background-color:#fff;border-width:0 2px 2px 2px;border-style:solid;border-color:#ced4dd;}
#masthead {margin:0;padding:0;vertical-align:top;border-top:5px solid #f2f1ec}
#logo {float:left;margin-left:14px}
#frmSearch {float:right;margin:0;padding:2px 5px 5px 5px;background:#f2f1ec url("sprite.gif") -1px -174px no-repeat}
#searchBtn{float:right;width:25px;height:25px;margin:3px 3px 0 0;background:transparent url("https://a248.e.akamai.net/7/248/1856/assets/images/css/template/btn-icon-search.png") no-repeat scroll 0% 30%;color:#fff;border:none;font-size:0;}
#searchBtn:focus {border: 1px dotted #666}
#utility {float:right;margin-right:20px;padding-top:3px;color:#ccc}
#tabNav {float:none;margin:-20px 0 0 0;padding:0 0 0 275px;vertical-align:top;line-height:normal;background:url("tab_bottom.gif") bottom left repeat-x}
#tabNav ul,#tabNav li {float:left;list-style-type:none;padding:0;margin:0}
#tabNav ul a {display:block;border-left:1px solid #ccc;margin:0 2px 0 0;padding:5px 15px 5px 15px;color:#369;font-weight:bold;text-decoration:none;background:url("unselected_tab.jpg") top right no-repeat}
#tabNav ul a:hover {color:#205080;text-decoration:none;border-left:1px solid #cdcdcd;background:url("rollover_tab.gif") top right no-repeat}
#tabNav li.tabOn {margin:0 2px 0 0;padding:5px 15px 6px 15px;font-weight:bold;color:#000;border-left:1px solid #b3b1b1;border-bottom:none;background:url("selected_tab.gif") top right no-repeat}
#container {width:981px;margin:11px 0 5px 0;padding:0;vertical-align:top}
#signon {float:left;width:232px;margin:0;padding:10px 0 0 0;border:1px solid #d7d3c7}
#signon p {margin:0 5px 10px 15px;line-height:1.5em}
#signon h2 {margin:0 5px 2px 15px;padding:0;color:#666;font-size:120%;font-family:Myriad,Arial,Helvetica}
#signon h3 {margin:0 5px 0px 15px;padding:0;font-size:100%}
#signon h2#hdrSignon {margin:0 0 8px 12px;padding:0 0 0 21px;color:#000;font-size:150%;background:url("sprite.gif") 2px -75px no-repeat}
#signon ul {margin:0 5px 5px 15px;list-style-type:none;padding-left:0px;line-height:1.5em}
#persMsg {line-height:normal;font-weight:bold}
form {margin:0;padding:0}
#btnTopSearch {padding:2px 6px;font-weight:bold;color:#fff;border:1px solid #e0e3e2;background:url("https://a248.e.akamai.net/7/248/1856/img/global/btn_blueslice.gif") top left repeat-x}
#btnTopSearch, #ie8#fix {padding:1px 4px } /* Everything except IE8 */
#signon form {margin-left:15px}
#signon .btnTopSearch {clear:right;margin:0 0 0 5px;font-size:90%}
*:first-child+html #signon .btnTopSearch {margin:0 0 0 5px;} /* IE7 hack */
* html #signon .btnTopSearch {margin:0 0 0 5px;} /* IE6 hack */
#frmSignon label {font-size:90%}
#frmSignon div {margin:0 0 4px 0}
/* Shared ids in sign on area*/
#destination {margin-left:4px;font-size:90%}
#userid {width:147px}
#password {float:left;width:147px;}
#frmLocator {margin:0 10px 0 0}
#location {float:left;width:147px;font-size:90%;color:#999}#btnSignon.btnTopSearch {margin-top:1px;}
#signon #frmLocator {margin-bottom:10px}
#actGo {margin-top:-1px;font-size:90%}
#ratesGo{margin-top:-1px;font-size:90%}
#stagecoach {display:block;margin-bottom:-3px}
html>body #stagecoach {margin:0}
#content {float:left;width:731px;margin:0 0 0 15px;padding:0;background-color:#fff}
#mainAd {margin:0 0 10px 0;height:194px;}
#navContainer {float:left;clear:right;width:729px;margin:0 0 7px 0;height:auto;border:1px solid #e0e3e2}
#navContainer div {float:left;width:243px;padding:0;margin:2px 0 0 0}
#navContainer div h2 {margin:0 0 5px 0;padding:4px 0 4px 8px;font-size:130%;font-family:Myriad,Arial,Helvetica;color:#666;background-color:#f2f1ec}
#navContainer div ul {margin:0 0 5px 0;padding-left:10px;list-style-type:none}
#navContainer div ul li {padding-bottom:3px}
#navContainer div ul li a {font-weight:bold}
#navContainer div ul li ul {display:inline;margin:0;padding:0;list-style-type:none}
#navContainer div ul li ul li {display:inline;margin:0;padding:0 0 0 10px;list-style-type:none}
#navContainer div ul li ul li a {font-weight:normal}
#navLeft h2 {border-left:2px solid #fff;border-right:1px solid #fff}
#navMid h2 {border-right:1px solid #fff;border-left:1px solid #fff}
#navRight h2 {border-left:1px solid #fff;border-right:2px solid #fff}
/*  Biz specific styles */
#frmOtherSvcs {margin-bottom:10px}
#otherSvcs {float:left;width:152px;margin:1px 0 0 0;padding:0;font-size:90%}
#svcsGo {margin:0 0 0 4px;font-size:90%}
#navContainerBiz {float:left;clear:right;width:731px;margin:0;height:auto}
#navContainerBiz div ul li {padding-bottom:3px}
#navContainerBiz div ul li a {font-weight:bold}
#navContainerBiz div ul li ul {display:inline;margin:0;padding:0;list-style-type:none}
#navContainerBiz div ul li ul li {display:inline;margin:0;padding:0 0 0 10px;list-style-type:none}
#navContainerBiz div ul li ul li a {font-weight:normal}
#navLeftBiz {float:left;width:237px;padding:0;margin:0 5px 0 0}
#navMidBiz {float:left;width:237px;padding:0;margin:0 5px} 
#navRightBiz {float:left;width:237px;padding:0;margin:0 0 0 5px} 
#navLeftBiz h2,#navMidBiz h2,#navRightBiz h2 {margin:0 0 5px 0;padding:4px 0 4px 8px;font-size:130%;font-family:Myriad,Arial,Helvetica;color:#666;background-color:#f2f1ec}
#navLeftBiz h3,#navRightBiz h3 {margin:10px 0 4px 0;padding:10px 0 0 0;border-top:1px solid #dedece;font-size:115%;font-family:Myriad,Arial,Helvetica;color:#999}
#navLeftBiz ul,#navMidBiz ul,#navRightBiz ul {margin:0 0 5px 0;padding-left:10px;list-style-type:none}
#navLeftBiz select {float:left;width:188px;margin:0 6px 0 0;font-size:90%}
#navRightBiz select {float:left;width:188px;margin:0 6px 5px 0;font-size:90%}
#navLeftBiz a.sub,#navMidBiz a.sub,#navRightBiz a.sub {font-weight:normal}
#navLeftBiz a.last,#navMidBiz a.last,#navRightBiz a.last {font-weight:normal;text-decoration:none;padding-right:20px;background:url("sprite.gif") 30px -137px no-repeat}
/* Buttonbar */
div.buttonBarPage {clear:both;margin:10px 0;height:35px;padding:0;vertical-align:top;background-color:#f2f1ec;border-top:1px dotted #c0bebe;border-bottom:1px dotted #c0bebe}
div.buttonBarPage input {float:right;color:#fff;font-weight:bold;border:1px solid #e0e3e2}
div.buttonBarPage input.primary {margin:7px 10px 8px 4px;padding:2px 4px;font-weight:bold;border:1px solid #e0e3e2;background:url("btn_blueslice.gif") top left repeat-x}
div.buttonBarPage input.secondary {margin:7px 0 8px 0;padding:2px 4px;border:1px solid #e0e3e2;background:url("btn_greyslice.gif") top left repeat-x}
input.primaryBtn {margin:0 0 -2px 0;padding:2px 4px;font-weight:bold;color:#fff;border:1px solid #e0e3e2;background:url("btn_blueslice.gif") top left repeat-x;}
input.secondaryBtn{margin:0 0 -2px 0;padding:2px 4px;font-weight:bold;color:#fff;border:1px solid #e0e3e2;background:url("btn_greyslice.gif") top left repeat-x;}
/* End Biz specific styles */
a.signonHelp:link,a.signonHelp:hover,a.signonHelp:visited {font-weight:bold;text-decoration:underline}
a:link,a:visited {color:#369;text-decoration:none}
a:hover,a:active {color:#002cda;text-decoration:underline}
img {border:none}
div {vertical-align:top}
p {margin:0 0 12px 0}
h1 {position:absolute;width:0;height:0;overflow:hidden}
sup {font-size:85%}
a:link sup,a:visited sup {text-decoration:none}
.rowContainer {padding:0;margin:0}
.rowContainer .tasAd {height:84px}
.contentSm {float:left;width:243px;margin:0;padding:0;vertical-align:top}
.contentSmLeft {float:left;width:245px;margin:0;text-align:left;vertical-align:top}
.contentSm h3 {margin:0 0 4px 8px;font-size:115%;font-family:Myriad,Arial,Helvetica;color:#666}
.contentSmLeft h3 {margin:0 0 4px 0;font-size:115%;font-family:Myriad,Arial,Helvetica;color:#666}
.contentSm select {float:left;width:175px;margin:0 6px 0 8px;font-size:90%}
.contentSmLeft select {float:left;width:175px;margin:0 6px 0 0;font-size:90%}
.contentSm input,.contentSmLeft input {clear:right;margin:0}
.contentSm p,.contentSmLeft p {margin:0 6px 0 8px;padding:0}
img.adv {padding:11px 0 0 0}
.contentSm img.adv {padding-left:8px}
.contentMedium {float:left;width:485px;height:84px;margin:0;padding:0;vertical-align:top;overflow:hidden}
.contentLarge {width:731px;height:84px;margin:0;padding:0;vertical-align:top;overflow:hidden}
.clearAll {display:inherit;clear:left;height:0;line-height:0}
.signonDivider {margin:0 0 4px 0;padding:0;height:1px;line-height:1px;background-color:#d7d3c7}
.divider {margin:0 6px 24px 8px;padding:0;height:1px;line-height:1px;background-color:#e0e3e2}
html>body .divider {margin-top:0}
#footer {margin:0;text-align:center;font-size:90%;color:#666}
.notnot {width:420px;margin:0 auto 22px auto;padding:2px 0;border:1px solid #ccc}
.notnot h4 {font-size:100%;margin:0 20px;text-align:left}
.notnot ul {margin-top:0;margin-bottom:0;font-size:100%;text-align:left}
#footerNav,.discl,#copyright {width:610px;margin:0 auto 18px auto}
.discl {text-align:left}
.new {color:red}
a.signup:link,a.signup:hover,a.signup:active,a.signup:visited {text-decoration:underline}
a.sub:link,a.sub:hover,a.sub:active,a.sub:visited {text-decoration:underline}
#navContainer div ul li a.sub {font-weight:normal}
#navContainer div ul li a.last {font-weight:normal;text-decoration:none;padding-right:20px;background:url("sprite.gif") 30px -137px no-repeat}
a.setHome {display:block;float:right;margin-top:-18px;margin-right:8px}
#emergency {margin:10px 0 15px 0;line-height:1.6em}
#emergency a:link,#emergency a:hover,#emergency a:active,#emergency a:visited {text-decoration:underline}
.info {color:#666;padding:5px 0 20px 40px;background:url("sprite.gif") 0px 0px no-repeat}
.alert {color:#900}
.hide {display:none}
acronym, abbr {text-decoration:none}
/* Spanish only styles*/
a.spSignonHelp:link,a.spSignonHelp:hover,a.spSignonHelp:visited {display:block;float:none;width:147px;clear:both;font-size:80%;text-decoration:underline}
#signon h2#spHdrSignon {margin:0 0 5px 0;padding:0 0 0 15px;color:#000;font-size:150%;background:url("sprite.gif") 207px -75px no-repeat}
em.ingles{font-size:90%;font-weight:normal}
em.inglesSearch {padding:3px 0 0 80px;font-size:90%;font-weight:normal}
#signon h2#spHdrSignon em.ingles{display:block;text-align:right;margin:0 30px 5px 0;padding:0;font-size:60%;font-weight:normal}
#spNavContainerBiz {float:left;clear:right;width:731px;margin:0 0 20px 0;height:auto}
#spNavContainerBiz div ul li {padding-bottom:3px}
#spNavContainerBiz div ul li a {font-weight:bold}
.spNotnot {width:440px;margin:0 auto 22px auto;padding:2px 0;border:1px solid #ccc}
.spNotnot h4 {font-size:100%;margin:0 20px;text-align:left}
.spNotnot ul {margin-top:0;margin-bottom:0;font-size:100%;text-align:left}
#spActList {width:175px}
.extrawidth {width:512px;}