.noprint {display:none}
body {margin:0;padding:4pt;background-color:#fff;font-family:arial,helvetica,sans-serif;color:#000;}
#masthead {width:100%;border-bottom:1pt solid #000;padding:0;margin:0}
#mastLeftCol {width:62pt}
#logo {display:inline;margin-right:.1em;border:none}
#url {float:right;font-size:70%;margin-top:50pt}
#contentCol {width:99.5%;margin:0;padding:0;vertical-align:top;}
#printWrap {position:absolute;top:65pt;left:3pt;width:600pt;margin-bottom:5pt;clear:right;}
#main {float:left;padding:7pt 0pt 6pt 0pt}
#leftCol {display:none;width:0}
#layout {float:left;width:100%;padding:0}
#layout td {padding:0;margin:0}
#printHeader{display:block;font-size:1em;border-bottom:1pt solid #000;width:100%;vertical-align:top;padding-bottom:4pt}
#title {padding:15pt 0 0 0;margin:0}
.prMarker {font-weight:bold;padding:0 4pt;font-size:110%}
div.clearer {display:none}
/* MacIE5 hack \*/
    #contentCol {float:left}
    div.clearer {display:inherit;clear:left;line-height:0;height:0}
/* End MacIE5 hack */
a.navCurrent:link, a.navCurrent:visited {text-decoration:none}
a.subNav:link, a.subNav:visited {text-decoration:none}
img {display:inline;border:0}
#mastNav,#coach,#utilities,#printhead,#mastNav ul,#topSearch,#tabContainer,#layoutBottom1,#layoutBottom2,#printLink,#leftCol .generictext,#leftCol .c15 {display:none}
div.nav,div.subNavInL2,div.subNavInL3,div.subNavInL4,div.subNavInL5,div.subNavInL6,div.expandBottom,div.expandTop,div.nvBuffer,.introPromoHeader,.introPromoContent,.categoryName img,.c13Title,.promo,.relatedInfo,.footer1,.adv,.backToTop,.slogan,td.bgCa4 img,.c27a .c27back {display:none}
div.navLayout,div.selectedL2in,div.subNavOutL2,div.subNavOutL3,div.subNavOutL4,div.subNavOutL5,div.subNavOutL6,div.subNavLayoutL2,div.subNavLayoutL3,div.subNavLayoutL4,div.subNavLayoutL5,div.subNavLayoutL6 {display:inline}
.bgNeuBs img,.bgNeuOr img,.bgLtOr img,.bgPrOr img,.bgDkOr img,.bgNeuGr img,.bgLtGr img,.bgPrGr img,.bgDkGr img,.bgNeuRd img,.bgLtRd img,.bgPrRd img,.bgDkRd img,.bgNeuBl img,.bgLtBl img,.bgPrBl img,.bgDkBl img,.bgNeuGy img,.bgLtGy img,.bgPrGy img,.bgDkGy img,.bgNeuBs img,.bgLtBs img,.bgPrBs img,.bgDkBs img,.bgC13 img {display:none}
.introPromoActionOr,.introPromoActionGr,.introPromoActionRd,.introPromoActionBl,.introPromoActionGy,.introPromoActionBs,.c45Layout,.c13Content,.c13Links h3 a {display:none}
div.top {display:inline;font-size:70%;padding-left:1pt}
div.selectedL2 {display:inline;font:bold 70% arial,helvetica,sans-serif}
div.currentL2 {display:inline;padding-left:2pt;font-size:70%;color:#000}
div.currentL3,div.currentL4,div.currentL5,div.currentL6 {display:inline;padding-left:2pt;font-size:70%}
div.subNavSelectedL2,div.subNavSelectedL3,div.subNavSelectedL4,div.subNavSelectedL5,div.subNavSelectedL6 {display:inline;padding-left:2pt;font-size:70%;font-weight:bold}
a:link,a:visited,a:hover,a:active {color:#000;text-decoration:none;}
a sup {text-decoration:none}
h1 {font-size:100%}
h2 {font-size:87%}
h3 {font-size:81%}
h1 sup {font-size:90%}
form {margin:0}
td {background-color:#fff}
.c23Title {font-weight:bold}
#footer {text-align:center;border:none;border-top:1px solid #999999;}
.footnote,.footer2,.c20disclosure {font-size:68%;padding-left:1pt}
.c18Body,.f10Text,.c24Text {font-size:75%;padding-left:3pt;margin:0}
h3.c18Title {font-size:75%;font-weight:bold;color:#000;padding-left:3pt;margin-bottom:0}
.c24Link,.f10Link,.sideTextAdLink a.subNav {font-size:70%}
.introContent,.c10text,.c10aLink,.c10noLink,.c27toc,.c14Endash,.backToTop,.linklist,.c33,.c33Link {font-size:75%}
.c24InfoTitle {font-size:75%;font-weight:bold;color:#000;padding-left:3pt;margin-bottom:0}
.subNavTitle,.subNavItemOn {font-weight:bold}
.c13Quote {color:#000;font-size:9pt}
.sideTextAdLink {font-size:1em;padding-left:3pt}
.generictext,.smaller-text {vertical-align:top;font-size:75%;margin-top:0}
.c9layout {font-size:75%;width:100%;vertical-align:top;margin-bottom:10pt}
.c9layout img {float:left;margin-right:12pt}
.c9layout p {margin:10pt 0 0 0}
.c9layout div.clearer {display:inherit;clear:left;line-height:0;height:0}
#contentCol .dtcolor {border:none;border-left:1pt solid #ccc}
#contentCol th.tableTitle, td.tableTitle {font-weight:bold;text-align:left;padding:2pt;border:none;border-right:1pt solid #ccc;border-bottom:1pt solid #ccc;color:#fff;background-color:#330}
#contentCol td.tableDataYel, th.tableDataYel {padding:2pt;border:none;border-right:1pt solid #ccc;border-bottom:1pt solid #ccc;background-color:#ffc}
#contentCol th.tableSubtitle, td.tableSubtitle {font-weight:bold;text-align:left;padding:2pt;border:none;border-right:1pt solid #ccc;border-bottom:1pt solid #ccc;background-color:#d4d7b4;}
#contentCol td.tableData, th.tableData {padding:2pt;border:none;border-right:1pt solid #ccc;border-bottom:1pt solid #ccc;background-color:#fff}
#contentCol td.tableRestrictions {padding:2pt;border:none;border-right:1pt solid #b8b8b8;border-bottom:1pt solid #ccc;background-color:#e6e6e6}
#contentCol th.tableBlank, td.tableBlank {padding:2pt;border:none;border-right:1pt solid #b8b8b8;border-bottom:1pt solid #ccc;background-color:#e6e6e6}
.body-header,.c44 {font-size:75%;font-weight:bold}
ol {font-size:75%;margin-bottom:3pt;margin-top:0}
ol.nested {font-size:100%;list-style-type:lower-alpha}
ol.nested2 {font-size:100%}
ul {font-size:75%;margin-bottom:3pt;margin-top:0}
ul.nested {font-size:100%}
p {margin-bottom:20pt;margin-top:0}
.infoBox p {font-size:68%;padding-left:3pt;margin:0 0 4pt 0}
.infoBox p.c24Link {font-size:68%;padding-left:3pt;margin:-5pt 0 0 0}
.bodyPromo, .infoBox, .liveHelp {width:151pt}
#c4Layout {width:97.5%;margin:0}
#c4Layout .c4Right {margin:0;font-size:75%}
#c4Plain {width:97.5%;margin:0;border-right:6pt solid #fff;height:83pt}
#c4Plain .c4Left {background-color:#fff;width:150pt;border-right:5pt solid #fff}
.c4P {margin:0 0 13pt 0;font-size:75%;vertical-align:top}
.c4Right1 p,.c4Right2 p,.c4Right3 p,.c4Right4 p,.c4Right5 p,.c4Right6 p {margin:0 0 8pt 0;padding:0;font-size:75%;font-weight:bold}
.c4Right1 h2,.c4Right2 h2,.c4Right3 h2,.c4Right4 h2,.c4Right5 h2,.c4Right6 h2 {margin:8pt 0 0 0;font-size:105%;font-weight:bold}
.c4Link1,.c4Link2,.c4Link3,.c4Link4,.c4Link5,.c4Link6  {font-size:75%;font-weight:bold}
#c4Promo,#c4Slogan1,#c4Slogan2,#c4Slogan3,#c4Slogan4,#c4Slogan5,#c4Slogan6,#c4Layout .c4Left {display:none}
.c7Layout {width:100%;padding:0;margin:0;border:none}
.c7Left {width:50%;vertical-align:top}
.c7Right {width:50%;vertical-align:top}
.c7Left .c7 {padding:0;margin:0 8pt 15pt 5pt}
.c7Right .c7 {padding:0;margin:0 0 15pt 8pt}
.c7 p {margin:0}
.categoryName {font-size:75%;font-weight:bold;margin-bottom:0pt}
h3.categoryName a {display:block;padding:0 0 0 3pt}
.c8 {width:100%;padding:0;margin:0 16pt 20pt 0}
.c8Layout {width:100%;padding:0;margin:0;border:none}
.c8Left,.c8Right {width:50%;vertical-align:top}
.c8Left {margin-right:8pt}
.c8Right {margin-left:8pt}
.c8 h3 {padding-left:3pt}
#multiCol {width:97.5%;padding:0;margin:7pt 0 20pt 0;border:none}
#rightCol {vertical-align:top;margin:0 -1pt 0 13pt}
#gutter {width:13pt}
.divider {height:1pt;line-height:1pt;margin-bottom:15pt}
.c38,.c26 {font-size:68%;margin-bottom:15pt;padding-left:1pt}
.c26img {margin-bottom:15pt}
.c20 {width:100%;margin:0 0 20pt 0}
.c20 a.productCta {float:right;background:#fff none;font-size:75%}
.c20 h3.categoryName {padding-top:0;margin:4pt 0 0 0;color:#000}
.c20 p {margin-bottom:0pt}
.indexItem {width:100%;margin:0 0 16pt 0}
.indexItem h3.categoryName {border:none}
h2.subhead {margin-top:0;margin-bottom:5pt}
.c10Layout {margin:0 0 17pt 0}
.c17layout {margin-top:9pt}
#layout .c10Left,#dRightCol .c10Left {padding:1pt 4pt 1pt 0;font-size:70%;font-weight:bold;white-space:nowrap;}
#layout .c10Right,#dRightCol .c10Right {font-size:70%;font-weight:bold;white-space:nowrap}
.c10Holder,.c17Holder {margin:0}
#multiCol .c10Layout,.c17layout {margin:0 0 20pt 0}
a.c10Link:link,a.c10Link:visited,a.c10Link:hover,a.c10Link:active {display:block;font-weight:bold;text-decoration:underline;padding:0 5pt 1pt 4pt}
h2.viewAll {font-size:75%;padding:3pt 0 1pt 4pt;margin-bottom:18pt}
.c11text {font-size:75%;margin-bottom:12pt}
.c11text strong {padding-left:1pt}
.t15Layout {margin:0 16pt 23pt 0;padding-left:6pt}
/*  Demo template specific*/
#dMast {width:100%;border-bottom:1pt solid #000}
#dMastRightThin,#dSubNav,#dLeftCol,.navBtnShell {display:none}
#dMastLeft {padding-bottom:2pt}
.dFooter {text-align:center;font-size:68%;color:#666;margin-bottom:15pt}
.dDiscImage {text-align:center;margin-bottom:15pt}
.dDiscl {text-align:left;color:#666;margin-top:15pt;width:600pt}
div.imageList {vertical-align:top;white-space:nowrap;margin-bottom:5pt;font-size:75%}
.doubleList {vertical-align:top;width:390pt;margin-top:5pt}
.doubleList td {padding:10pt 15pt 0 0}
.doubleList td div.generictext {margin-bottom:10pt}
.doubleListRightLine {border-left:1pt solid #666;padding-left:10pt}
.doubleListRight div {margin-left:15pt}
.doubleListRightLine div {margin-left:15pt}
.listImg {width:145pt;margin-bottom:10pt;overflow:hidden}
.c13 {width:100%;padding:0;margin:0 0 15px 0}
.c13Links {vertical-align:top}
.c13Links h3 {font-size:68%;padding:2px 0;margin-bottom:4px;color:#000}
.c13Links a {display:block;margin:0 0 2px 0;padding:0;font-size:75%;width:160pt}
.c21,#contentCol .c21,#jump .c21,#L6a .c21 {width:99.5%;border:none;border-bottom:1pt solid #000;border-left:1pt solid #000;border-top:1pt solid #000;margin:0 0 20pt 0;padding:0}
.c21 th,#contentCol .c21 th,#jump .c21 th,#L6a .c21 th {font-size:75%;vertical-align:top;text-align:left;padding:3pt 4pt;border:none;border-right:1pt solid #000;border-bottom:1pt solid #000}
.c21 th.c21Hdr,#contentCol .c21 th.c21Hdr,#jump .c21 th.c21Hdr,#L6a .c21 th.c21Hdr {text-align:left;padding:3pt 4pt;border-right:1pt solid #000;border-bottom:1pt solid #ccc}
.c21 td,#contentCol .c21 td,#jump .c21 td,#L6a .c21 td {font-size:75%;vertical-align:top;padding:3pt 4pt;border-right:1pt solid #000;border-bottom:1pt solid #000;color:#000}
.c21 th.c21Blank,#contentCol .c21 th.c21Blank,#jump .c21 th.c21Blank,#L6a .c21 th.c21Blank {border-top:none;border-bottom:1pt solid #ccc}
.c21 caption,#contentCol .c21 caption,#jump .c21 caption,#L6a .c21 caption {margin-top:10pt;padding:3pt 4pt;font-size:75%;font-weight:bold;text-align:left}
.c27q {font-size:75%;padding-bottom:3pt}
.c27a {font-size:75%;margin-bottom:15pt}
.c27a div {font-weight:bold;width:auto}
#c28 h2 {margin:8px 0 4px 0}
.c28a {font-size:75%;margin:5pt 0 10pt 20pt;padding-left:5pt}
.c28q {font-size:75%;height:2em;line-height:2em;padding:0 0 10pt 10pt}
#c28display {font-size:75%;margin:0 0 15pt 0;font-size:75%}
#contentCol .c28a .c21 th,#contentCol .c28a .c21 td,#contentCol .c28a .c21 caption {font-size:100%}
#contentCol .c28a .c9layout {font-size:100%;font-weight:normal;margin-top:3pt}
#jNavlnk {font-size:75%}

.c5 {width:100%;margin:0 0 16pt 0}
.c5 h3.categoryName {border:none}
#multiCol .c14 h3.categoryName {margin-left:8pt}
#multiCol .c14 ul {list-style:none;margin:0 10pt 20pt 0}
#multiCol .c14 ul li {padding-left:14pt;background:url(https://online.wellsfargo.com/das/common/styles/img/al_hyphen_gen.gif) 8pt no-repeat}
#multiCol h2.faqSecHdr {padding:6pt 0 4pt 0}
/* Forms */
h2.frm {margin-bottom:10px;border-bottom:1px solid #000}
h2.frm span {font-weight:normal;color:#666}
#multiCol table.frmLayout {font-size:75%;margin:0 0 25px 8px}
#jump table.frmLayout {font-size:75%;margin:0 0 25px 8px}
#multiCol table.frmLayout td, #jump table.frmLayout td {vertical-align:top;padding-bottom:12pt}
#multiCol table.frmLayout th, #jump table.frmLayout th {width:161px;padding:0 11pt 12pt 0;margin-left:8pt;vertical-align:top;text-align:left;voice-family: "\"}\"";voice-family:inherit;width:150px}
#multiCol table.frmLayout span, #jump table.frmLayout span {display:block;color:#666;font-weight:normal}
#multiCol table.frmLayout th img, #jump table.frmLayout th img {padding-right:5px}
#multiCol table.frmLayout td input, #multiCol table.frmLayout td select, #jump table.frmLayout td input, #jump table.frmLayout td select {margin:0 5px 2px 0}
#multiCol table.frmLayout td div, #jump table.frmLayout td div {float:left;margin-right:2px;}
#multiCol table.frmLayout td div.nolabel, #jump table.frmLayout td div.nolabel {padding-top:1.3em}
#multiCol table.frmLayout td input[type="radio"], #jump table.frmLayout td input[type="radio"]{margin-bottom:-2px}
#multiCol table.frmLayout td p, #jump table.frmLayout td p {color:#666;margin:0}
#multiCol table.frmLayout td div.sub, #jump table.frmLayout td div.sub {float:none;vertical-align:top;padding:0 0 10px 20px;}
#multiCol table.frmLayout td div.sub input, #jump table.frmLayout td div.sub input {margin:0 3px -2px -23px}
#multiCol table.frmLayout td label span, #jump table.frmLayout td label span {color:#666;padding-right:10px}
div.buttonBarTable,div.buttonBarPage {display:none}

.c26 .smaller-text {font-size:100%;color:#666}
.c26 .c26,.c26 .footnote,.c38 .smaller-text,.c38 .footnote,.c38 .c38,.c26 .c38,.c38 .c26,.c26 .c21,.c26 .generictext {font-size:100%;display:inline}

#L6Promo,.chartExpand {display:none}
#L6Slogan {margin:0 0 15pt 50pt}
#L6a #L6Slogan h2 {margin:0 0 5pt 0;font-size:105%;}
#L6a #L6Slogan h2 strong {font-size:110%}
#L6a #L6Slogan h3 {margin:0 0 10pt 0;padding-left:10px;font-size:100%;font-weight:normal}
#L6a h3,#L6b h3 {font-size:100%;margin:0 0 0 0}
#L6b .c10Layout  {margin:0}
#L6a .c10Layout  {margin:0 0 0 10px}
#L6Cta, #L6Tool {margin-bottom:15pt}
#L6Cta p {display:none}
.hiderow {display:inherit}
#L6a .L6Layout,#L6b .L6Layout {font-size:75%}
.L6Left,.L6Middle,.L6Right {float:none;margin:0 0 10pt 0}
.L6Top1,.L6Top2 {margin-bottom:10px}
#L6a .c17Layout,#L6b .c17Layout {margin:0 0 25pt 0;padding:0}
#L6Slogan .c10Link {background:inherit;color:#000;border:none}
#L6Slogan .c17NoLink,#L6Cta  .c17NoLink {font-weight:bold;padding-left:5pt}
#L6Slogan .c17Holder {margin:0 10pt 0 0;padding:0}
#phMasthead {padding-bottom:3pt;border-bottom:1px solid #000;margin:0}
#L6a h1,#L6b h1 {margin:0 0 25pt 0}
#L6Tool table.frmLayout th {text-align:left;padding:0 11pt 8pt 0}
#L6Tool table.frmLayout {margin-top:5pt}
#L6Slogan .c10Link,#L6Cta .c10Link {display:none}
