* {font-family:arial,helvetica,sans-serif}
body {background-color:#fff;font-size:100%;margin:5px 13px 0 5px}
#footer {text-align:center;padding-top:.5em;border-top:1px solid #666;margin:15px 6px 0px 19px}
#masthead {width:100%;border:none;padding:0;margin:0px 0px 6px 0px}
#mastLeftCol {width:164px}
#logo {display:inline;margin-right:.1em;width:62px;height:62px;border:none}
#coach {width:98px;height:62px;border:none;display:inline}
#printhead {display:none}
#topSearch {vertical-align:bottom;margin-left:0.5em}
#utilities {float:right;margin-top:7px;margin-right:.2em;font-size:75%;color:#b2b299;}
#mastRightCol {font-size:100%}
#mastNav {float:left;width:99%;margin-left:.2em;margin-top:1.2em;line-height:normal;background:url("grey_pix.gif") bottom repeat-x}
#mastNav ul {float:right;list-style-type:none;margin:0 1px 0 0;padding:0}
#mastNav li {float:left;list-style-type:none;margin:0 2px 0 0;padding:0;font-size:95%;background:url("htab_right_off.gif") top right no-repeat}
#mastNav li.tabSelected {font-weight:bold;background:url("htab_right_on.gif") top right no-repeat}
#mastNav li.noneSelected {border-bottom:1px solid #999;background:url("htab_right_off.gif") top right no-repeat}
#mastNav div.tab {float:left;margin:0;padding:0}
#mastNav div.tabOn {padding:0;margin:0}
#mastNav a.mastTab {display:block;float:left;padding:4px 6px 2px 15px;text-decoration:none;background:url("h_tab_left_off.gif") top left no-repeat;}
#mastNav a.mastTab:hover {color:#4986ff;text-decoration:underline}
#mastNav li.tabSelected div.tabOn a.mastTab {background:url("h_tab_left_on.gif") top left no-repeat;padding-bottom:3px}
#mastShim1 {float:left;width:540px;height:1px;border:none}
#mastShim2 {width:164px;height:1px;border:none}
#url {display:none}
#printWrap {margin-bottom:10px}
#title {border-bottom:1px solid #666;vertical-align:top;margin:11px 0 15px 0;}
#printLink {display:block;float:right;width:10em;margin:-7px 0 0 0;padding:10px 0 0 30px;font:normal 68% arial,helvetica;background:url("al_printer_btn.gif") 0 7px no-repeat}
#layout {width:100%;margin:0;padding:0}
#layout td {padding:0;margin:0}
#leftCol {width:171px;margin:0;padding:0;vertical-align:top;background:url("left_col_bg.gif") right repeat-y}
#contentCol {margin:0;padding:0;vertical-align:top;background-color:#fff;border-top:1px solid #996;border-right:1px solid #996;border-bottom:1px solid #996}
#main {margin:0;padding:7px 0 6px 0px;background-color:#eeefe1;border-bottom:2px solid #808080}
#layoutBottom1 {line-height:3px;height:3px;border-right:1px solid #ccccb2}
#layoutBottom2 {line-height:3px;height:3px;background-color:#ccccb2}
#leftCol div.generictext {margin-bottom:10px;width:171px}
#minWidth {width:540px;height:1px}
#multiCol {width:97.5%;padding:0;margin:7px 0 20px 19px;border:none}
#rightCol {vertical-align:top;margin:0 -1px 0 13px}
#gutter {width:13px}
#tabContainer {width:100%;margin:5px 0 0 0;padding:0;line-height:normal;}
#tabContainer a.tabs {display:block;float:left;border-left:1px solid #8e9eaa;margin:0 2px 0 0;padding:3px 12px 2px 10px;font:bold 75% arial,helvetica,sans-serif;text-decoration:none;background:url("lower_tabs_off.gif") top right no-repeat;}
#tabContainer a.tabs:hover {color:#369;border-left:1px solid #666;background:url("lower_tabs_on.gif") top right no-repeat;}
#tabContainer a.tabOn {display:block;float:left;margin:0 2px 0 0;padding:3px 12px 2px 10px;border-left:1px solid #666;font:bold 75% arial,helvetica,sans-serif;color:#000;text-decoration:none;background:url("lower_tabs_on.gif") top right no-repeat;}
#tabContainer a.tabOn:hover {color:#4986ff}
.tabUnderline {clear:left;width:100%;background-color:#808080;height:2px;line-height:2px;margin:0;padding:0}
.headerSearch {font-size:75%;margin:0;padding:0;color:#000;background-color:#fff;margin-right:3px}
.headerTop {font-size:68%;color:#b2b299}
a.headerTopOn:link {font-weight:bold;color:#4986ff;text-decoration:none}
a.headerTopOn:visited {font-weight:bold;color:#4986ff;text-decoration:none}
a.headerTopOn:hover {font-weight:bold;color:#4986ff;text-decoration:underline}
div.clearer {display:none}
/* MacIE5 hack \*/
     #mastNav div.tab {float:none}
     #mastNav a.mastTab {float:none}
     div.clearer {display:inherit;clear:left;line-height:0;height:0}
/* End MacIE5 hack */
.nested {font-size:100%}
div,table,td,th {font-size:100%;padding:0}
fieldset {margin:0;padding:0;border:none}
legend {padding:0;margin:0;color:#000}
legend.hide {display:none}
img {border:none}
form {margin:0}
p {margin-bottom:20px;margin-top:0}
ol {font-size:75%;margin:0 0 3px 1px;padding-left:1px;list-style-position:inside}
ol.nested {font-size:100%;list-style-type:lower-alpha}
ol.nested2 {font-size:100%}
ul {font-size:75%;margin:0 0 3px 9px;padding-left:9px}
ul.nested {font-size:100%}
li {padding-top:1px;padding-bottom:0}
h1 {font-size:100%;margin:0;font-weight:bold}
#title h1 {margin:0 10em 0 0;padding:0 0 4px 0;font-size:100%}
h1.thin {font-size:100%;margin:12px 0 6px}
h2 {font-size:87%;margin:0}
h3 {font-size:81%;margin:0}
h4 {font-size:75%;margin:0}
sup {font-size:85%}
a:link sup,a:visited sup {text-decoration:none}
img.caret {padding-top:3px;padding-right:3px;display:inline}
.inline {display:inline}
a:link {color:#369;text-decoration:underline}
a:visited {color:#369;text-decoration:underline}
a:hover {color:#4986ff;text-decoration:underline}
a.subNav:link {color:#369;text-decoration:none}
a.subNav:visited {color:#369;text-decoration:none}
a.subNav:hover {color:#4986ff;text-decoration:underline}
a.headerLink:link {color:#369;text-decoration:none}
a.headerLink:visited {color:#369;text-decoration:none}
a.headerLink:hover {color:#4986ff;text-decoration:underline}
a.hTab {text-decoration:none}
a.hTab:link {color:#369;text-decoration:none}
a.hTab:visited {color:#369;text-decoration:none}
a.hTab:hover {color:#4986ff;text-decoration:underline}
a.relatedLink {margin:0px 4px 0px;font-size:70%;color:#369;text-decoration:none}
a.relatedLink:visited {color:#369;text-decoration:none}
a.relatedLink:hover {color:#4986ff;text-decoration:underline}
/* need to move to demo */
a.callToActionLink:link, a.callToActionLink:visited {color:#fff;text-decoration:none}
a.callToActionLink:hover, a.callToActionLink:active {color:#fff;text-decoration:underline}
/*  */
h2.subhead {margin:3px 0 5px 0}
h2.viewAll {font-size:80%;padding:2px 0 1px 4px;margin-bottom:10px;background-color:#eee;border-bottom:1px solid #ccc}
.categoryName {font-size:75%;font-weight:bold;color:#369}
h3.categoryName {margin-bottom:3px;padding:3px 0 0 0;color:#000;font-size:75%;font-weight:bold;border-top:1px solid #ccc}
h3.categoryName a:link,h3.categoryName a:visited {text-decoration:underline}
.generictext {font-size:75%}
.genericred {font-size:75%;color:#c00}
h2.faqSecHdr {padding:8px 0 4px 0}
.exitPageDivider {background-color:#999}
.error-text {color:#f00;font-size:75%}
.error-text-bold {color:#f00;font-weight:bold}
th.error-text {font-size:100%}
div.error-text {margin-bottom:10px}
div.error-text img {padding-right:5px}
/* Navigation */
div.navLayout {width:169px;margin:0;padding:0;background-color:#eeefe1;voice-family: "\"}\"";voice-family:inherit;width:170px}
html>body div.navLayout {width:170px}
div.nav {width:158px;padding:3px 3px 2px 5px;font-size:70%;margin-left:0px;padding-left:5px;background-color:#eaeaea;border:1px solid #82865f;border-top:0px;voice-family: "\"}\"";voice-family:inherit;width:150px}
html>body div.nav {width:150px}
div.top {width:158px;padding:1px 3px 1px 12px;background:#82865f url("lnav-top-caret.gif") 4px 2px no-repeat;font-size:68%;voice-family: "\"}\"";voice-family:inherit;width:145px}
html>body div.top {width:145px}
div.selectedL2 {width:170px;border-top:1px solid #82865f;border-bottom:1px solid #82865f;border-left:1px solid #82865f;border-right:1px solid #e6e6e6;font:bold 70% arial,helvetica,sans-serif;background:#fff url("caret-black-right.gif") 4px 2px no-repeat;voice-family: "\"}\"";voice-family:inherit;width:169px}
html>body div.selectedL2 {width:169px}
div.selectedL2in {width:159px;padding:1px 3px 1px 12px;border-top:1px solid #ccc;border-right:1px solid #ccc;background:#fff url("caret-black-right.gif") 4px 3px no-repeat;voice-family: "\"}\"";voice-family:inherit;width:145px}
html>body div.selectedL2in {width:145px}
div.currentL2 {width:158px;padding:1px 3px 2px 12px;font-size:70%;border-left:1px solid #82865f; border-right:1px solid #82865f;background:#fff url("lnav-caret-down.gif") 4px 2px no-repeat;voice-family: "\"}\"";voice-family:inherit;width:143px;border-right:1px solid #82865f}
html>body div.currentL2 {width:143px;border-right:1px solid #82865f}
div.currentL3 {width:158px;padding:1px 3px 2px 19px;font-size:70%;border-left:1px solid #82865f;border-top:1px solid #ccc;border-right:1px solid #82865f;background:#fff url("lnav-caret-down.gif") 10px 2px no-repeat;voice-family: "\"}\"";voice-family:inherit;width:136px}
html>body div.currentL3 {width:136px;border-right:1px solid #82865f}
div.currentL4 {width:158px;padding:1px 3px 2px 26px;font-size:70%;border-left:1px solid #82865f;border-top:1px solid #ccc;border-right:1px solid #82865f;background:#fff url("lnav-caret-down.gif") 17px 2px no-repeat;voice-family: "\"}\"";voice-family:inherit;width:129px}
html>body div.currentL4 {width:129px;border-right:1px solid #82865f}
div.currentL5 {width:158px;padding:1px 3px 2px 33px;font-size:70%;border-left:1px solid #82865f;border-top:1px solid #ccc;border-right:1px solid #82865f;background:#fff url("lnav-caret-down.gif") 24px 2px no-repeat;voice-family: "\"}\"";voice-family:inherit;width:122px}
html>body div.currentL5 {width:122px;border-right:1px solid #82865f}
div.currentL6 {width:158px;padding:1px 3px 2px 40px;font-size:70%;border-left:1px solid #82865f;border-top:1px solid #ccc;border-right:1px solid #82865f;background:#fff url("lnav-caret-down.gif") 31px 2px no-repeat;voice-family: "\"}\"";voice-family:inherit;width:115px}
html>body div.currentL6 {width:115px}
html>body div.subNavTop {width:145px}
div.subNavSelectedL2 {width:145px;padding:2px 1px;border-right:1px solid #ccc;margin-left:12px;font-weight:bold;voice-family: "\"}\"";voice-family:inherit;width:144px}
html>body div.subNavSelectedL2 {width:144px}
div.subNavSelectedL3 {width:138px;padding:2px 1px;border-right:1px solid #ccc;border-top:1px solid #ccc;margin-left:19px;font-weight:bold;voice-family: "\"}\"";voice-family:inherit;width:137px}
html>body div.subNavSelectedL3 {width:137px}
div.subNavSelectedL4 {width:134px;padding:2px 1px;border-right:1px solid #ccc;border-top:1px solid #ccc;margin-left:24px;font-weight:bold;voice-family: "\"}\"";voice-family:inherit;width:132px}
html>body div.subNavSelectedL4 {width:132px}
div.subNavSelectedL5 {width:129px;padding:2px 1px;border-right:1px solid #ccc;border-top:1px solid #ccc;margin-left:29px;font-weight:bold;voice-family: "\"}\"";voice-family:inherit;width:127px}
html>body div.subNavSelectedL5 {width:127px}
div.subNavSelectedL6 {width:123px;padding:2px 1px;border-right:1px solid #ccc;border-top:1px solid #ccc;margin-left:35px;font-weight:bold;voice-family: "\"}\"";voice-family:inherit;width:121px}
html>body div.subNavSelectedL6 {width:121px}
div.subNavLayoutL2 {width:169px;border-left:1px solid #82865f;border-right:1px solid #e6e6e6;font-size:68%;background:#fff url("caret-black-right.gif") 5px 1px no-repeat}
/* MacIE5 hack \*/
div.subNavLayoutL2 {background:#fff url("caret-black-right.gif") 5px 3px no-repeat}
/* End MacIE5 hack */
div.subNavLayoutL3 {width:169px;border-left:1px solid #82865f;border-right:1px solid #e6e6e6;font-size:68%;background:#fff url("caret-black-right.gif") 11px 3px no-repeat}
div.subNavLayoutL4 {width:169px;border-left:1px solid #82865f;border-right:1px solid #e6e6e6;font-size:68%;background:#fff url("caret-black-right.gif") 16px 3px no-repeat}
div.subNavLayoutL5 {width:169px;border-left:1px solid #82865f;border-right:1px solid #e6e6e6;font-size:68%;background:#fff url("caret-black-right.gif") 23px 3px no-repeat}
div.subNavLayoutL6 {width:169px;border-left:1px solid #82865f;border-right:1px solid #e6e6e6;font-size:68%;background:#fff url("caret-black-right.gif") 28px 3px no-repeat}
div.subNavInL2 {width:146px;padding:2px 1px;border:1px solid #ccc;border-width:1px 1px 0 0;margin-left:12px;voice-family: "\"}\"";voice-family:inherit;width:145px}
html>body div.subNavInL2 {width:145px}
div.subNavInL3 {width:138px;padding:2px 1px;border:1px solid #ccc;border-width:1px 1px 0 0;margin-left:19px;voice-family: "\"}\"";voice-family:inherit;width:137px}
html>body div.subNavInL3 {width:137px}
div.subNavInL4 {width:133px;padding:2px 1px;border:1px solid #ccc;border-width:1px 1px 0 0;margin-left:24px;voice-family: "\"}\"";voice-family:inherit;width:132px}
html>body div.subNavInL4 {width:132px}
div.subNavInL5 {width:128px;padding:2px 1px;border:1px solid #ccc;border-width:1px 1px 0 0;margin-left:29px;voice-family: "\"}\"";voice-family:inherit;width:127px}
html>body div.subNavInL5 {width:127px}
div.subNavInL6 {width:122px;padding:2px 1px;border:1px solid #ccc;border-width:1px 1px 0 0;margin-left:35px;voice-family: "\"}\"";voice-family:inherit;width:121px}
html>body div.subNavInL6 {width:121px}
div.subNavOutL2,div.subNavOutL3,div.subNavOutL4,div.subNavOutL5,div.subNavOutL6 {width:169px;border-left:1px solid #82865f;border-right:1px solid #e6e6e6;font-size:68%;background-color:#fff}
div.nvBuffer {width:158px;border-left:1px solid #82865f;border-right:1px solid #82865f;background:url("al_leftnav_gen.gif") repeat-x;voice-family: "\"}\"";voice-family:inherit;width:158px}
html>body div.nvBuffer {width:158px}
div.expandTop {width:171px;background-color:#82865f;height:1px;line-height:1px;margin-top:-1px}
div.expandBottom {width:171px;background-color:#82865f;height:1px;line-height:1px}
div.expandFirst {width:158px;border-left:1px solid #82865f;border-right:1px solid #82865f;border-bottom:1px solid #acbbd2;background-color:#82865f;height:1px;line-height:1px;voice-family: "\"}\"";voice-family:inherit;width:158px}
html>body div.expandFirst {width:158px}
.prMarker {display:none}
a.navCurrent:link, a.navCurrent:visited, a.navCurrent:active {color:#fff;font-weight:bold;text-decoration:none}
a.navCurrent:hover {color:#fff;text-decoration:underline}
div.nav a.subNav:link,div.nav a.subNav:visited  {color:#2c547c}
div.nav a.subNav:hover  {color:#4986ff}
/* Components */
div.imageList {background:url("caret_header.gif") left no-repeat;text-align:left;vertical-align:top;white-space:nowrap;padding-left:15px;margin-bottom:5px;font-size:75%}
div.imageList> a:hover {text-decoration:underline}
div.imageList> a:visited {text-decoration:none}
.doubleList {vertical-align:top;width:390px;margin-top:5px}
.doubleList td {padding:0px;width:170px}
.doubleListRightLine {border-left:1px solid #666;padding-left:10px}
.doubleListRight div {margin-left:20px}
.doubleListRightLine div {margin-left:20px}
.promo {width:161px;border:1px solid #999;padding:4px;background-color:#fff;font-size:70%;margin-bottom:10px;voice-family: "\"}\"";voice-family:inherit;width:151px}
html>body .promo {width:151px}
.promo p {margin-bottom:0}
div.promo h4 {font-size:100%;margin-bottom:4px;color:#993}
ul.checkList {list-style-image:url("al_check_gen.gif")} /* CheckMark List and Box List classes */
ul.boxList  {list-style-image:url("al_box_gen.gif")}
ul.checkListN {list-style-image:url("al_check_gen.gif");font-size:100%}
ul.boxListN  {list-style-image:url("al_box_gen.gif");font-size:100%}
.bodyPromo {width:145px;border:1px solid #ccc;margin:0 .5em .5em 0;padding:3px;color:#000;background-color:#f2f2d9}
.relatedInfo h3 {font-size:68%;color:#fff;padding:.1em .4em;background-color:#663}
.relatedSubTitle .relatedLink {font-size:100%}
.relDivider {border-top:1px;border-bottom:1px dotted #ccc;height:5px;line-height:5px;margin:0 3px}
.t15Layout {margin:0 16px 23px 0;padding-left:6px}
.listImg {width:145px;margin-bottom:10px;overflow:hidden}
#c4Layout {width:97.5%;margin:0 0 18px 19px;border-right:6px solid #fff}
#c4Layout .c4Right {font-size:75%}
#c4Slogan1,#c4Slogan2,#contentCol #c4Slogan3,#c4Slogan4,#c4Slogan5,#c4Slogan6 {width:97.5%;margin:0 0 0 19px;border-right:6px solid #fff;height:83px}
#multiCol #c4Promo,#multiCol #c4Slogan1,#multiCol #c4Slogan2,#multiCol #c4Slogan3,#multiCol #c4Slogan4,#multiCol #c4Slogan5,#multiCol #c4Slogan6 {margin-left:0}
#c4Plain {width:97.5%;margin:0 0 18px 19px;border-right:6px solid #fff;height:83px}
#c4Plain .c4Left {background-color:#fff;border-right:5px solid #fff}
#c4Slogan1 .c4Left,#c4Slogan2 .c4Left,#c4Slogan3 .c4Left,#c4Slogan4 .c4Left,#c4Slogan5 .c4Left,#c4Slogan6 .c4Left {background-color:#fff}
#c4Slogan1 .c4Right1,#c4Slogan2 .c4Right2,#c4Slogan3 .c4Right3,#c4Slogan4 .c4Right4,#c4Slogan5 .c4Right5,#c4Slogan6 .c4Right6 {padding-left:5px;vertical-align:middle}
.c4Left img {border:1px solid #fff;border-width:0 1px}
#c4Slogan1 .c4Left {border-left:9px solid #c60}
#c4Slogan2 .c4Left {border-left:9px solid #663}
#c4Slogan3 .c4Left {border-left:9px solid #600}
#c4Slogan4 .c4Left {border-left:9px solid #19334d}
#c4Slogan5 .c4Left {border-left:9px solid #333}
#c4Slogan6 .c4Left {border-left:9px solid #930}
#c4Promo {width:97.5%;margin:0 0 0 19px;border-right:6px solid #fff}
#c4Promo .c4Left {width:200px}
#c4Promo .c4Right1,#c4Promo .c4Right2,#c4Promo .c4Right3,#c4Promo .c4Right4,#c4Promo .c4Right5,#c4Promo .c4Right6 {padding-left:5px;vertical-align:top}
#c4Promo .c4Right1,#c4Slogan1 .c4Right1 {border-left:5px solid #f90;border-right:13px solid #e57f00}
#c4Promo .c4Right2,#c4Slogan2 .c4Right2 {border-left:5px solid #996;border-right:13px solid #7f7f4c}
#c4Promo .c4Right3,#c4Slogan3 .c4Right3 {border-left:5px solid #933;border-right:13px solid #7f1919}
#c4Promo .c4Right4,#c4Slogan4 .c4Right4 {border-left:5px solid #001D33;border-right:13px solid #001d33}
#c4Promo .c4Right5,#c4Slogan5 .c4Right5 {border-left:5px solid #666;border-right:13px solid #4c4c4c}
#c4Promo .c4Right6,#c4Slogan6 .c4Right6 {border-left:5px solid #c60;border-right:13px solid #b34d00}
.c4Right1 {background-color:#c60}
.c4Right2 {background-color:#663}
.c4Right3 {background-color:#600}
.c4Right4 {background-color:#19334d}
.c4Right5 {background-color:#333}
.c4Right6 {background-color:#930}
.c4P {margin:7px 19px 13px 19px;font-size:75%;vertical-align:top}
.c4P li {vertical-align:middle}
.c4Right1 p,.c4Right2 p,.c4Right3 p,.c4Right4 p,.c4Right5 p,.c4Right6 p {margin:0 0 8px 0;padding:0;font-size:75%;font-weight:bold;color:#fff}
.c4Right1 h2,.c4Right2 h2,.c4Right3 h2,.c4Right4 h2,.c4Right5 h2,.c4Right6 h2 {margin:8px 0 0 0;font-size:105%;font-weight:bold;color:#fff}
.c4Right1 h2.slogan,.c4Right2 h2.slogan,.c4Right3 h2.slogan,.c4Right4 h2.slogan,.c4Right5 h2.slogan,.c4Right6 h2.slogan {font-size:112%}
.c4Link1,.c4Link2,.c4Link3,.c4Link4,.c4Link5,.c4Link6  {font-size:75%;font-weight:bold}
.c4Link1,.c4Link1 a:link,.c4Link1 a:visited {color:#fc6;text-decoration:none}
.c4Link1 a:hover,.c4Link1 a:active {color:#fc6;text-decoration:underline}
.c4Link2,.c4Link2 a:link,.c4Link2 a:visited {color:#E5E599;text-decoration:none}
.c4Link2 a:hover,.c4Link2 a:active {color:#E5E599;text-decoration:underline}
.c4Link3,.c4Link3 a:link,.c4Link3 a:visited {color:#fc9;text-decoration:none}
.c4Link3 a:hover,.c4Link3 a:active {color:#fc9;text-decoration:underline}
.c4Link4,.c4Link4 a:link,.c4Link4 a:visited {color:#9cf;text-decoration:none}
.c4Link4 a:hover,.c4Link4 a:active {color:#9cf;text-decoration:underline}
.c4Link5,.c4Link5 a:link,.c4Link5 a:visited {color:#ccc;text-decoration:none}
.c4Link5 a:hover,.c4Link5 a:active {color:#ccc;text-decoration:underline}
.c4Link6,.c4Link6 a:link,.c4Link6 a:visited {color:#fc9;text-decoration:none}
.c4Link6 a:hover,.c4Link6 a:active {color:#fc9;text-decoration:underline}
.c4Right1 a:link,.c4Right1 a:hover,.c4Right1 a:visited ,.c4Right2 a:link,.c4Right2 a:hover,.c4Right2 a:visited, .c4Right3 a:link,.c4Right3 a:hover,.c4Right3 a:visited {color:#fff}
.c4Right4 a:link,.c4Right4 a:hover,.c4Right4 a:visited,.c4Right5 a:link,.c4Right5 a:hover,.c4Right5 a:visited,.c4Right6 a:link,.c4Right6 a:hover,.c4Right6 a:visited  {color:#fff}
.c5 {width:100%;margin:0 0 16px 0}
.c5 h3.categoryName {padding-top:0;border:none}
.c7Layout {width:100%;padding:0;margin:0;border:none}
.c7Left,.c7Right {width:50%;padding:0;vertical-align:top}
.c7Left .c7 {padding:0;margin:0 8px 20px 0}
.c7Right .c7 {padding:0;margin:0 0 20px 8px}
.c7 p {margin:0;padding:0}
.c8 {padding:0;margin:0 0 20px 0}
.c8Layout {width:100%;padding:0;margin:-15px 16px 0 0;border:none}
.c8Left,.c8Right {width:50%;vertical-align:top}
.c8Left {margin-right:8px}
.c8Right {margin-left:8px}
.c9layout {font-size:75%;width:100%;vertical-align:top;margin-bottom:10px}
.c9layout img {float:left;margin-right:12px}
.c9layout p {margin-bottom:0px;margin-top:10px}
.c9layout ul {list-style-position:inside}
.c9layout div.clearer {display:inherit;clear:left;line-height:0;height:0}
.c10Layout {margin:0 0 17px 19px}
#layout .c10Left,.c10Left {padding:1px 4px;font-size:70%;font-weight:bold;color:#3f3f3f;white-space:nowrap}
#layout .c10Right,.c10Right {background-color:#fff;font-size:70%;font-weight:bold;white-space:nowrap;padding:1px}
.c10Shell {padding:1px;background-color:#600}
.c10Holder {border:1px solid #999;background-color:#fff;margin:0 10px 0 0}
#multiCol .c10Layout {margin:0 0 20px 0}
.c10NoLink {color:#fff;padding:1px 3px;background-color:#663;border:1px solid #4d401f}
.c10Shell a:link,.c10Shell a:visited,a.c10Link:link,a.c10Link:visited {display:block;color:#fff;font-weight:bold;text-decoration:none;padding:0 5px 1px 8px;border:1px solid #f33;border-bottom:0px;background:#900 url("caret_ca_rd.gif") 1px 3px no-repeat}
.c10Shell a:active,a.c10Link:hover,a.c10Link:active {color:#fff;text-decoration:underline}
.c11text {font-size:75%;margin-bottom:12px}
.c11text strong {padding-left:1px}
.c13 {width:100%;padding:0;margin:0 0 15px 0}
.c13Content {width:50%;padding:1px;border:1px solid #cc9;font-size:87%;color:#663;text-align:center;vertical-align:middle}
.c13Links {width:50%;background-color:#f2f2dc;padding:1px 1px 4px 1px;border:1px solid #996;vertical-align:top}
.c13Links h3 {font-size:68%;padding:2px 0 2px 2px;margin-bottom:4px;color:#fff;background-color:#663}
.c13Links a {display:block;margin:0 0 2px 5px;padding:0 0 0 9px;font-size:75%;background:url("caret_header.gif") top left no-repeat}
.c13Links h3 a:link,.c13Links h3 a:visited,.c13Links h3 a:hover {display:block;float:right;margin-right:5px;color:#fff;font-size:100%;background:none;text-decoration:none}
.c13Links h3 a:hover {text-decoration:underline}
#multiCol .c14 ul {list-style:none;margin:0 10px 20px 0;padding-left:0}
#multiCol .c14 ul li {padding-left:14px;background:url("al_hyphen_gen.gif") .5em .8em no-repeat}
#multiCol .c14 h3.categoryName {border:none}
.c15 {width:170px;padding:0 0 15px 10px;font-size:75%;background:url("caret_header_left.gif") top left no-repeat;voice-family: "\"}\"";voice-family:inherit;width:160px}
html>body .c15 {width:160px}
.divider {background-color:#ccc;height:1px;line-height:1px;margin:20px 0 15px 0}
.c18Title {margin:3px;font-size:75%;color:#000;font-weight:bold}
.c18Body {margin:3px;font-size:75%;color:#000}
.sideTextAdLink {font-size:68%;color:#369;font-weight:bold;text-align:right;margin:0 5px 4px}
.c20 {width:100%;padding:0;margin:0 0 20px 0;border-top:1px solid #ccc}
.c20 a.productCta {display:block;float:right;padding-top:3px;background:#fff none;font-size:75%}
.c20 h3.categoryName {border:none;padding-top:0;margin-top:4px;color:#000}
.c20 p {margin-bottom:0px}
.c21,#contentCol .c21,#jump .c21 {width:99.5%;border:none;border-bottom:1px solid #666;border-left:1px solid #ccc;border-top:1px solid #666;margin:0 0 20px 0;padding:0}
.c21 th,#contentCol .c21 th,#jump .c21 th {font-size:75%;vertical-align:top;text-align:left;padding:3px 4px;border:none;border-right:1px solid #666;border-bottom:1px solid #ccc}
.c21 th.c21Hdr,#contentCol .c21 th.c21Hdr,#jump .c21 th.c21Hdr {text-align:left;padding:3px 4px;background-color:#eeefe1;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.c21 td,#contentCol .c21 td,#jump .c21 td {font-size:75%;vertical-align:top;padding:3px 4px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#000}
.c21 th.c21Blank,#contentCol .c21 th.c21Blank,#jump .c21 th.c21Blank {border-top:none;background-color:#eeefe1}
.c21 caption,#contentCol .c21 caption,#jump .c21 caption {padding:3px 4px;border-top:1px solid #666;border-right:1px solid #ccc;border-left:1px solid #ccc;background-color:#d4d7b4;font-size:75%;font-weight:bold;text-align:left}
.c21bgColor1 {background-color:#F9F1DE} /* Tan */
.c21bgColor2 {background-color:#e8e9d9} /* green */
.c21bgColor3 {background-color:#E9F4F7} /* blue */
.c21bgColor4 {background-color:#F3F8D9} /* yello-green */
.c21bgColor5 {background-color:#F0EDDD} /* light-brown */
.c21bgColor6 {background-color:#E9EAF4} /* purple */
.c21bgColor7 {background-color:#eaeaea} /* grey */
.c21bgColor8 {background-color:#f9f5e4} /* yellow */
div.chartExpand {width:99.3%;margin:-20px 0 20px 0;text-align:center;padding:10px 0;border-width:0 1px 2px 1px;border-style:solid;border-color:#ccc}
.c22 {display:block;margin-bottom:15px}
.infoBox {width:145px;border:1px solid #ccc;padding:3px;margin:0 .5em .5em 0;font-size:70%;background-color:#fff}
.infoBox p {margin:0 0 5px 0}
.infoBox p.c24Link {margin:-5px 0 0 0}
.c24InfoTitle {margin:-2px -2px 0 -2px;padding:1px 4px;font-size:110%;font-weight:bold;color:#000;background-color:#e0e4e0}
.c24Text {margin:2px 4px;color:#000}
.c24Link {margin:1px 4px;color:#369;font-weight:bold;text-align:right}
.c24Title {margin:2px 4px;color:#369;font-weight:bold}
.c26,.c38 {font-size:68%;color:#666;margin-bottom:15px;padding-left:1px}
.c26img {margin-bottom:15px}
.c27q {font-size:75%;padding-bottom:3px}
.c27a {font-size:75%;margin-bottom:15px}
.c27a div {font-weight:bold}
.c27back {display:block;width:8.5em;margin:3px 0 7px 0;font-size:75%}
.c27a .c27back {font-size:100%}
#c28 {margin-bottom:15px}
#c28 h2 {margin:8px 0 4px 0}
.c28a {font-size:75%;margin:5px 0 10px 20px;border-left:1px solid #666;padding-left:5px}
.c28q {font-size:75%;height:2em;line-height:2em;padding:0 0 10px 15px;background:url("al_faqarrow1_gen.gif") 0 4px no-repeat}
#c28display {font-size:75%;margin:0 0 15px 0;font-size:75%}
#contentCol .c28a .c21 th,#contentCol .c28a .c21 td,#contentCol .c28a .c21 caption {font-size:100%}
#contentCol .c28a .c9layout {font-size:100%;font-weight:normal;margin-top:3px}
.c45Layout {width:158px;border:1px solid #996;padding:1px 0;margin:0 .5em 1em 0;background-color:#fff}
.c45Layout h3 {font-size:70%;color:#000;padding:.1em .4em .3em .4em;background:#cfd7b2 url("al_related_info_gen.gif") bottom repeat-x}
.c45Layout h4.relatedSubTitle {font-size:70%;color:#333;font-weight:bold;margin:4px 4px 2px}
.c45Layout a.relatedLink {display:block;margin:0px 4px 0;font-size:68%;color:#369;text-decoration:none}
.c45Layout .relDivider {border-top:1px;border-bottom:1px dotted #ccc;height:5px;line-height:5px;margin:0 3px}
.footnote {font-size:68%;color:#333;padding:0px 13px 0px 0px}
.footer1 {font-size:62%;color:#666}
.footer2 {font-size:68%;color:#666}
.footer1 a:link {text-decoration:none}
.footer1 a:visited {text-decoration:none}
.footer1 a:hover {text-decoration:underline}
/* Form related */
div.buttonBarTable {background-color:#eeefe1;border-bottom:1px solid #ccc;padding:4px 0;margin:0;height:20px}
div.buttonBarTable input, div.buttonBarPage input,div.buttonBarPageShort input {float:right;margin-right:0;margin-left:18px;font-size:75%}
div.buttonBarPage, div.buttonBarPageShort {background-color:#ffffe2;border-top:1px solid #666;border-bottom:1px solid #666;padding:4px 0;margin:10px 0;height:20px}
div.buttonBarPageShort {width:75%}
div.buttonBarTable input.primary, div.buttonBarPage input.primary,div.buttonBarPageShort input.primary {font-weight:bold;padding:0 2px;margin:0 0 0 18px;border-right:2px outset #000;border-bottom:2px outset #000;}
div.buttonBarTable input.secondary, div.buttonBarPage input.secondary,div.buttonBarPageShort input.secondary {padding:0 2px;margin-right:-14px}
#multiCol table.frmLayout {font-size:75%;margin:0 0 25px 8px}
#jBody table.frmLayout,#jump table.frmLayout {font-size:75%;margin:0 0 25px 8px}
#multiCol table.frmLayout td, #jBody table.frmLayout td,#jump table.frmLayout td {vertical-align:top;padding-bottom:12px}
#multiCol table.frmLayout th, #jBody table.frmLayout th,#jump table.frmLayout th {width:161px;padding:0 11px 12px 0;margin-left:8px;vertical-align:top;text-align:left;voice-family: "\"}\"";voice-family:inherit;width:150px}
html>body #multiCol table.frmLayout th, html>body #jBody table.frmLayout th,html>body #jump table.frmLayout th {width:150px}
#multiCol table.frmLayout span, #jBody table.frmLayout span,#jump table.frmLayout span {display:block;color:#666;font-weight:normal}
#multiCol table.frmLayout th img, #jBody table.frmLayout th img,#jump table.frmLayout th img {padding-right:5px}
#multiCol table.frmLayout td input, #multiCol table.frmLayout td select, #jBody table.frmLayout td input, #jBody table.frmLayout td select,#jump table.frmLayout td input, #jump table.frmLayout td select {margin:0 5px 2px 0;font-size:95%}
#multiCol table.frmLayout td div, #jBody table.frmLayout td div,#jump table.frmLayout td div {float:left;margin-right:4px;}
#multiCol table.frmLayout td div.nolabel, #jBody table.frmLayout td div.nolabel,#jump table.frmLayout td div.nolabel {padding-top:1.3em}
#multiCol table.frmLayout td input[type="radio"], #jBody table.frmLayout td input[type="radio"],#jump table.frmLayout td input[type="radio"] {margin-bottom:-2px}
#multiCol table.frmLayout td p, #jBody table.frmLayout td p,#jump table.frmLayout td p {color:#666;margin:0}
#multiCol table.frmLayout td div.sub, #jBody table.frmLayout td div.sub,#jump table.frmLayout td div.sub {float:none;vertical-align:top;padding:0 0 10px 20px;}
#multiCol table.frmLayout td div.sub input, #jBody table.frmLayout td div.sub input,#jump table.frmLayout td div.sub input {margin:0 3px -2px -23px}
#multiCol table.frmLayout td span, #jBody table.frmLayout td span,#jump table.frmLayout td span {clear:left;color:#666;padding-right:10px}
h2.frm {margin-bottom:10px;border-bottom:1px solid #000}
h2.frm span {font-weight:normal;color:#666}
/* End form related */
/* Temporary fix for the old footers and disclosures */
.c26 .smaller-text {font-size:100%;color:#666}
.c26 .c26,.c26 .footnote,.c38 .smaller-text,.c38 .footnote,.c38 .c38,.c26 .c38,.c38 .c26,.c26 .c21,.c26 .generictext {font-size:100%;display:inline}
/* LEGACY. DO NOT USE !!!! */
th.tableTitle, td.tableTitle {font-weight:bold;text-align:left;padding:2px;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#fff;background-color:#330}
td.tableDataYel, th.tableDataYel {padding:2px;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#000;background-color:#ffc}
th.tableSubtitle, td.tableSubtitle {font-weight:bold;text-align:left;padding:2px;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;background-color:#D4D7B4;}
td.tableData, th.tableData {padding:2px;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#000;background-color:#fff}
td.tableRestrictions {padding:2px;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #b8b8b8;border-bottom:1px solid #ccc;color:#000;background-color:#E6E6E6}
th.tableBlank, td.tableBlank {padding:2px;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #b8b8b8;border-bottom:1px solid #ccc;color:#000;background-color:#E6E6E6}
td.tableData div.generictext, th.tableData div.generictxet {padding-left:1px}
.red {color:#369;font-size:75%}
.linklist {font-size:75%;color:#369}
.bgBack {background-color:#eeefe1}
.bgWht {background-color:#fff}
.bgLnRed {background-color:#788}
.bgSdRed {background-color:#333}
.bgLnMain {background-color:#996}
.bgLnRedHlt1 {background-color:#a3b9b9}
.bgLnRedHlt2 {background-color:#94a3a3}
.bgBx1 {background-color:#ccc}
.bgBx2 {background-color:#999}
.bgBx3 {background-color:#e5e5e5}
.bgLnGy {background-color:#e0d6d6}
.bgLnNav {background-color:#bbb}
.bgSdNav {background-color:#ccccb2}
.bgLnBtm {background-color:#808080}
.bgCa1 {background-color:#999}
.bgCa2 {background-color:#600}
.bgCaHlt3 {background-color:#f33}
.bgCa3 {background-color:#c00}
.bgCa4 {background-color:#900}
.bgCa5 {background-color:#4d401f}
.bgCa6 {background-color:#663}
.bgHr1 {background-color:#ccc}
.bgHr2 {background-color:#666}
.bgHr3 {background-color:#999}
.bgPromoBk1 {background-color:#fff2cc}
.bgPromoLn1 {background-color:#c93}
.bgPromoBk2 {background-color:#f2f2d9}
.bgPromoLn2 {background-color:#ccc}
.bgPromoBk3 {background-color:#b3cce5}
.bgPromoLn3 {background-color:#369}
.bgInfoBxBg1 {background-color:#fff}
.bgInfoBxHd1 {background-color:#e0e4e0}
.bgInfoBxHd2 {background-color:#ccc}
.bgInfoBxBd2 {background-color:#f2f2f2}
.bgInfoBxHd3 {background-color:#999}
.bgInfoBxBg3 {background-color:#f2f2f2}
.bgNeuOr {background-color:#fc6}
.bgLtOr  {background-color:#f90}
.bgPrOr  {background-color:#c60}
.bgDkOr  {background-color:#e57f00}
.bgNeuGr {background-color:#cc9}
.bgLtGr  {background-color:#996}
.bgPrGr  {background-color:#663}
.bgDkGr  {background-color:#7f7f4c}
.bgNeuRd {background-color:#c99}
.bgLtRd  {background-color:#933}
.bgPrRd  {background-color:#600}
.bgDkRd  {background-color:#7f1919}
.bgNeuBl {background-color:#9cf}
.bgLtBl  {background-color:#001D33}
.bgPrBl  {background-color:#19334d}
.bgDkBl  {background-color:#001d33}
.bgNeuGy {background-color:#ccc}
.bgLtGy  {background-color:#666}
.bgPrGy  {background-color:#333}
.bgDkGy  {background-color:#4c4c4c}
.bgNeuBs {background-color:#F96}
.bgLtBs  {background-color:#c60}
.bgPrBs  {background-color:#930}
.bgDkBs  {background-color:#b34d00}
.bgC13  {background-color:#f2f2dc}
.c10text {font-size:68%;font-weight:bold;color:#3f3f3f;margin:0px 6px 0px 5px}
.c10noLink {font-size:68%;color:#fff;font-weight:bold;margin:2px 5px 2px 4px}
.c10aLink {font-size:68%;font-weight:bold;margin:2px 3px 2px 2px}
.smaller-text {font-size:62%;color:#000}
.body-header {color:#000;font-size:68%;font-weight:bold}
.body-headlines-mig {font-size:112%;color:#000;font-weight:bold}
.body-headlines-mig-dblue {color:#039;font-size:112%;font-weight:bold}
.body-headlines-mig-lblue {color:#369;font-size:112%;font-weight:bold}
.body-headlines-mig-red {color:#800000;font-size:112%;font-weight:bold}
.body-nonbold-mig {color:#666;font-size:75%}
.body-subhead-mig {color:#000;font-size:87%;font-weight:bold}
.body-subhead-mig-dblue {color:#039;font-size:87%;font-weight:bold}
.bodytext-section {font-size:75%;line-height:13px;font-weight:bold;color:#fff}
.body-text-w {font-size:75%;padding-left:1px}
.mwf-header-top {background-color:#666;color:#fff;font-size:68%}
.olive {color:#663;font-size:68%}
.white {color:#fff}
.yellow {background:#ffc}
.mrc-yellow {font-size:75%;background-color:#ffc}
.my-rc {font-size:81%}
.color1 {background-color:#996}
.bgInfoBxHd1Phone {background-color:#996}
.c24InfoTitlePhone {font-size:82%;margin:1px 4px;color:#fff;font-weight:bold}
.bgInfoBxBg1Phone {background-color:#ffc}
.c24TextPhone2 {font-size:78%;margin:4px;color:#000}
.c24TextPhone {font-size:77%;margin:5px 0;color:#900;font-weight:bold}
.dtcolor {border-color:#ccc}
a.tableLink:link, a.tableLink:visited {color:#fff}
.error-text-red {color:#f00}