html{color:#000;background:#FFF; padding-top:40px;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:14px;}a{text-decoration:none;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;color:#555;}input,button,textarea,select{font-size:100%;border:none;}
a{}
html{background:url(newsmallbg.png);color:#1d1d1d;font:12px Bree Serif, Segoe UI, arial, sans-serif;}
h1{margin-bottom:10px;color:#3d3d3d;font:14px verdana, sans-serif; font-weight:bold;}
h2{margin-bottom:3px;color:#787475;font:18px verdana, sans-serif; font-weight:bold;}
h3{margin-bottom:10px;color:#000;font-size:18px;}
h4{margin-bottom:3px;color:#787475;font:24px Bree Serif, serif; font-weight:bold;}
h5{margin-bottom:-6%;padding:0px;color:#3d3d3d;font:16px Bree Serif, sans-serif; font-weight:bold;text-decoration: underline;}
h6{margin-bottom:-1%;padding:0px;color:#787475;font:14px Bree Serif, sans-serif; font-weight:bold;}
a{color:#1b576f;}
a:hover{text-decoration:underline;}
.clearfix:after{content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
#wrapper{background:#787475;min-width:320px;max-width:950px;margin:0px auto 0;padding:10px;}
#content{/*border-top:1px #ded9df solid;*/border-bottom:1px #3f484d solid;}
#content.sb{background:#eeeff2;}
#navigation{margin:-29px 0px 0px 0px;float:right;}
#navigation ul{}
#navigation ul li{background:#787475;width:76px;height:29px;margin:0px 0px 0px 10px;float:left;}
#navigation ul li.selected{background:#a9d96c;font-weight:bold;}
#navigation ul li.selected a:hover{text-decoration:none;}
#navigation ul li a{height:16px;padding:6px 0;color:#fff;font-size:12px;text-align:center;display:block;outline:0;}
#navigation ul li a:hover{text-decoration:underline;}
#headerLogoBlock{float: left; width: 60%; /*min-width: 366px;*/ max-width: 500px; position:relative;}
#header{background:#fff url(header-bg.gif) repeat-x;width:100%;height:84px;border-top:5px #a9d96c solid;}
#logo{margin:0;}
.sloganText {font-size: 11px;left:38px;position:absolute; top:65px;}
#logo a{background:url(newlogo.png) no-repeat top center;width:164px;height:66px;margin:7px 1px 0;text-indent:-9999px;display:block;float:left;outline:0; margin-left:3px;}
#logo1 a{background:url(loginlogo.png) no-repeat top center;width:164px;height:66px;margin:7px 1px 0;text-indent:-9999px;display:block;float:left;outline:0; margin-left:29px;}
#slogan{font-size:12px;color:#d1d7dc;display:block;float:left;height:84px;width:155px;line-height:130%;background:url(sloganbg.png) no-repeat; margin-left:43px;}
#user-cp{background:url(user-cp-bg.gif);width:35%;max-width:200px;height:64px;padding:10px 24px;float:right;position:relative;}
#user-cp #exit{width:16px;height:17px;top:5px;right:5px;display:block;position:absolute;cursor:pointer;}
#user-cp #welcome{}
#user-cp #welcome #avatar{background:#fff;width:18px;height:18px;padding:2px;float:left;vertical-align:middle;border:1px #dedede solid;}
#user-cp #welcome #message{font:11px arial;color:#9d9d9d;margin:5px 0 0 5px;float:left;}
#user-cp #welcome #message span.green{color:#6d9836;font-weight:bold;}
#user-cp #buttons{margin:10px -8px 0;}
#user-cp #buttons input[type=button]{background:#fff url(user-cp-btn.gif) repeat-x center center;width:92px;height:30px;margin:0 8px;color:#367b98;font:12px arial;font-weight:bold;text-align:center;display:block;float:left;cursor:pointer;border:1px #d1d1d1 solid;}
#user-cp #buttons input[type=button]:hover{color:#7baf36;}
#user-cp #user-stats{margin:18px 0 0 1px;}
#user-cp #user-stats .statistic{float:left;}
#user-cp #user-stats .statistic .ammount{background:#6a9eb0;min-width:18px;margin-right:4px;padding:3px 4px;color:#fff;font:14px arial;font-weight:bold;text-align:center;-moz-border-radius:2px;-webkit-border-radius:2px;}
#user-cp #user-stats .statistic .name{color:#9d9d9d;font:10px verdana;font-weight:bold;}
#user-cp #user-stats .statistic .name a{color:#9d9d9d;font:10px arial;}
#user-cp #user-stats .statistic .name a:hover{text-decoration:underline;}
#left{float:left;width:65%;max-width:710px;padding:17px 30px;}
.divider{
	/*background:#ffffff*;*/
	background: url(border.gif) repeat-x scroll left bottom transparent;
	width:100%;height:2px;margin:25px 0 10px -12px; display:block;
}
.headerDivider{
	/*background:#ffffff*;*/
	background: url(border.gif) repeat-x scroll left bottom transparent;
	width:100%;height:2px; display:block;
}
#create{height: 80px;}
#create #url{background:#f6fbf0 url(url-bg.gif) repeat-x top center;width:330px;height:39px;padding:10px 5px;color:#8c8c8c;font-size:30px;float:left;border:1px #cacaca solid;}
#create .long_url{background:#f6fbf0 url(url-bg.gif) repeat-x top center;width:85%;height:39px;padding:10px 5px;color:#8c8c8c;font-size:30px;float:left;border:1px #cacaca solid;}
input.my_long_url{display:none;}
#create #create-submit{background:#fff url(create-btn-bg.gif) repeat-x top center;
width: 10%;max-width:52px;height:61px;color:#367b98;font-size:14px;font-weight:bold;text-align:center;cursor:pointer;float:left;margin-left: 4px;border:1px #cacaca solid;}
#create #create-submit:hover{color:#7baf36;}
#create #create-submit.loading{background:#fff url(loading.gif) no-repeat center center;cursor:default;}
#create #options{margin:12px 0;color:#cacaca; float:left; width:63%; overflow:hidden;}
#save_stats{margin:12px 0; overflow:hidden;}
#save_stats label {color:#888;}
#create #options label{vertical-align:text-top;margin-top:4px;color:#dadada;}
#create #options input{background:#edeff4;width:120px;height:19px;margin:0 7px 0px 2px;padding:0px 3px 0;color:#777;border:1px #dadada solid;}
#create #options #extras{display:none;}
#norecent{padding-top:2px;color:#5a5a5a;}
#recent{background:#f9fbf0;width:95%;border:1px #ded9df solid;}
#recent ul{background:#eeeff2;width:100%;padding:0 0 1px;border-bottom:1px #ddd solid;}
#recent ul li{background:#ebebeb;width:30%;padding:1px;margin:1px 0 0 1px;color:#666;font:11px arial;float:left;border:1px #cecece solid;cursor:pointer;overflow:hidden;}
#recent ul li:hover{background:#f1f1f1;color:#2d2d2d;}
#recent ul li a{background:inherit;color:inherit;display:block;padding:5px 5px 5px 25px;overflow:hidden;outline:none;}
#recent ul li a:hover{text-decoration:none;}
#recent ul li.selected{background:#f6fbf0;color:#333;}
#recent ul li.selected a:hover{background:#f6fbf0;color:#666;text-decoration:none;}
#recent .info{width:100%;}
#recent .info .left{width:39%;padding:5px 10px 0px;float:left;border-right:1px #cacaca dotted;}
#recent .info .left .box-title{color:#6f6f6f;font-size:11px;font-weight:bold;float:left;}
#recent .info .left #copy{color:#6d9836;font-size:11px;font-weight:bold;float:right;}
#recent .info .left #copy.hover{text-decoration:underline;}
#recent .info .left #copy.active{color:#7baf36;}
#recent .info .left #longurl{width:100%;color:#a1a1a1;margin:5px 0 5px;float:left;}
#recent .info .left .divider{background:#d6dbd1;width:100%;height:1px;margin:30px 0 15px;}
#recent .info .left #remove{margin-left:0px;color:#983636;font-size:10px;float:left;vertical-align:bottom;}
#recent .info .left #remove:hover{text-decoration:underline;}
#recent .info .left #viewing{margin-right:5px;color:#a1a1a1;font-size:10px;float:right;}
#recent .info .right{width:55%;float:right;}
#recent .info .right .top{background:#f9fbf0;height:27px;padding-top:9px;text-align:left;}
#recent .info .right .top #clicks{color:#6d9836;font:18px georgia;margin-right:3px;}
#recent .info .right #tinyurl{font-size:15px;color:#2d2d2d;font-weight:bold;width:90%;}
#recent .info .right #links{padding:0 4px 4px;}
#recent .info .right .link{margin-bottom:4px;}
#recent .info .right .link img{margin:0 1px 0 2px;vertical-align:bottom;}
#recent .info .right .link a{color:#1b576f;font:11px arial;cursor:pointer;}
#recent .info .right .link a:hover{color:#1b576f;}
#recent #loading{width:397px;height:66px;padding:32px 130px 0;}
#recent #loading img{width:32px;height:32px;float:left;}
#recent #loading span{padding:6px 0 0 10px;color:#525E64;font:17px arial;float:left;}

#url_manage{width: 100%; background:#fff;}
#url_manage>thead>tr>th{background:#eaf3e8; border: 0px solid black; padding: .2em;}
#url_manage>thead>tr>th:first-child{text-align:center;}
#url_manage>thead .actions-header{text-align:right;}
#url_manage>thead .header-block {text-align:right;width:49%;display:inline-block;}

#url_manage>tbody>tr>td:first-child{text-align:center;}
#url_manage>tbody>tr>td{border: 0px solid black; padding: .2em;}
#url_manage>tbody>tr>td.actions{text-align:center;}
#url_manage>tbody>tr{background:#fff url(manage-table-bg.gif) repeat-x top;}

#url_manage .action-icon {margin-left:0.5em;background-color:transparent;}
#url_manage .inactive-action {opacity:.3}

#url_manage .longurl {margin:0px 0 0px;color:#6a9eb0;font:12px arial; min-height:16px;display:block;max-height:30px;
	text-overflow: ellipsis;overflow:hidden;white-space: normal;word-break:break-all;}
#url_manage .tinyurl{width:100%;color:#050505;font:12px Segoe UI, arial, sans-serif;font-weight:bold;font-size:1.2em;margin-top:0.5em;margin-bottom:0.5em;}
#url_manage .url_info {width:100%;}
#url_manage .url_info td{border:none;text-align:center; color:#787475;}

.manage{background:#fff;width:100%;margin-bottom:10px;border:1px #cacaca solid;}
.manage:hover{border:1px #9F9F9F solid;}
.manage ul.actions{background:#eff2cb;width:auto;height:19px;color:#898989;border-bottom:0px #cacaca solid;}
.manage ul.actions.green{background:#e4eed9;border-bottom:1px #c1d1ae solid;}
.manage ul.actions li{height:16px;float:left;margin:0 3px;}
.manage ul.actions li.separator{background:#cdcdcd;width:0px;height:19px;padding:0px;}
.manage ul.actions li.delete{background:url(minus-small-circle.png) no-repeat 3px 1px;width:16px;height:16px;margin-top:1px;padding-bottom:2px;padding-left:2px;display:block;cursor:pointer;float:right;border-left:1px #c8c8c8 dashed;}
.manage ul.actions li.number{color:#695e49;font:14px georgia;font-style:bold;}
.manage ul.actions li.action{padding-top:2px;color:inherit;font:11px arial;cursor:pointer;}
.manage ul.actions li.action a{height:14px;padding:1px 0 0 19px;color:inherit;font:inherit;display:block;}
.manage ul.actions li.action a:hover{color:#1c4679;text-decoration:none;}
.manage ul.actions li.action a.hover{color:#1c4679;text-decoration:none;}
.manage ul.actions.green li.action a:hover{color:#50791c;text-decoration:none;}
.manage ul.actions.green li.action a.hover{color:#50791c;text-decoration:none;}
.manage ul.actions li.action a.note{background:url(note16.png) no-repeat top left;}
.manage ul.actions li.action a.note.empty{background:url(nonote16.gif) no-repeat top left;}
.note_content{position: absolute; height: 18px; background: #c8c8c8; border: 1px solid #c3c3c3;display: none;}
.manage ul.actions li.action a.info{background:url(chart16.png) no-repeat top left;padding-left:20px;padding-bottom:2px;}
.manage ul.actions li.action a.filter{background:url(traffic16.png) no-repeat top left;padding-left:20px;padding-bottom:2px;}
.manage ul.actions li.action a.reset{background:url(reset16.png) no-repeat top left;padding-left:20px;padding-bottom:2px;}
.manage ul.actions li.action a.edit{background:url(edit16.png) no-repeat top left;padding-left:20px;padding-bottom:2px;}
.manage ul.actions li.action a.share{background:url(share16.png) no-repeat top left;}
.manage ul.actions li.action a.qr{background:url(qr.png) no-repeat top left;padding-bottom:2px;}
.manage ul.actions li.action a.a2a_dd{background:url(share16.png) no-repeat top left;padding-bottom:2px;}
.manage .inner{padding:1px;}
.manage .inner .thumbnail{margin-right:10px;float:left;width:16px;height:16px; background-image: url(http://tiny.cc/public/images/default-favicon.jpg);}
.manage .inner .thumbnail.qrcode{background-image: url(qr.gif);}
.manage .inner .longurl{
	margin:0px 0 0px;color:#6a9eb0;font:12px arial;float:center; min-height:16px;display:block;max-height:30px;
	text-overflow: ellipsis;overflow:hidden;white-space: normal;word-break:break-all;
	}
.manage .inner .tinyurl{width:255px;color:#333;font:12px Segoe UI, arial, sans-serif;font-weight:bold;float:left;margin-left:25px;}
.manage .inner table{background:#fff url(manage-table-bg.gif) repeat-x top;width:100%;margin-top:1px;border:0px #D1D1D1 solid;}
.manage .inner table tr{height:10px;text-align:center;}
.manage .inner table tr th{color:#8b9888;font:10px arial;text-align:center;}

#account_donate_button{width:43%;cursor:pointer;padding: 5px 0px;text-decoration: underline;}
#account_settings_button{width:80%;cursor:pointer;padding: 5px 0px;text-decoration: underline;}
#account_menu{display:none;clear:both;}
#account_menu li{display:block;text-align:center;padding: 5px 0px;}

.page_links{margin-top:1.5em;margin-bottom:1.5em;}
.page_links a, .page_links strong {
	font-size:1.2em;
	padding-top:.3em;
	padding-bottom:.3em;
	display:inline-block;
	text-align:center;
	width:2em;
	border:none;
	background:#fff;
	margin:.1em;
}
.page_links strong {color:#fff;background:#777}




#sidebar{float:right;width:35%;max-width:226px;padding:20px 11px 5px;background:#eeeff2 url(vertical-divider.gif) repeat-y 0px 100%;}
#sidebar h1{margin:0 10px 6px;}
#sidebar .widget{background:#efeef7 url(widget-bg.gif) repeat-x top center;width:90%;max-width:197px;margin-bottom:15px;padding:10px;border:1px #d1d1d1 solid;}
#sidebar .widget .inner{background:#eff1ee;width:179px;color:#777;padding:8px;border:1px #d1c71d solid;}
#sidebar .widget .ad #advertisement{outline:none;}
#sidebar .widget .ad #advertisement img{margin-bottom:-3px;}
#sidebar .widget .ad{background:#e8ecee;width:179px;padding:8px;border:1px #d0d0d0 solid;line-height: 150%;}
#sidebar .widget .ad .quote{color:#a9d96c;font:20px verdana;font-weight:bold;}

#sidebar #search{position:relative;}
#sidebar #search button{position:absolute;right:9px;top:2px;border:none;background-color:transparent;}
#sidebar #search input{background:#efefef;width:201px;height:20px;margin-bottom:15px;padding:8px;color:#8c8c8c;font:12px Arial;border:1px #cacaca solid;}
#sidebar .info{background:#dfe9e7;width:auto;margin-bottom:15px;padding:6px 8px;color:#3a3a3a;line-height:170%;border-top:2px #c7e2dd solid;border-bottom:2px #c7e2dd solid;}
#sidebar .info a{color:#367b98;font-weight:bold;cursor:move;}
#sidebar .info a:hover{text-decoration:none;}
.alert-box{margin:5px 0;width:auto;padding:3px 3px 3px 24px;line-height:160%;color:#367b98;font-weight:bold;}
.alert-box.alert{background:#e9dfdf url(cross.png) no-repeat 4px center;color:#bf3b3b;border-top:2px #e2c7c7 solid;border-bottom:2px #e2c7c7 solid;}
.response{margin:5px 0;width:auto;padding:3px 3px 3px 24px;display:none;line-height:160%;}
.response a{color:#367b98;font-weight:bold;}
.response a:hover{text-decoration:underline;}
.response.error{background:#e9dfdf url(cross.png) no-repeat 4px center;color:#bf3b3b;border-top:2px #e2c7c7 solid;border-bottom:2px #e2c7c7 solid;}
.response.success{background:#dfe9df url(tick.png) no-repeat 4px center;color:#318f2c;border-top:2px #c9e2c7 solid;border-bottom:2px #c9e2c7 solid;}
#modal, #login_modal, #modalHolder{width:auto;}
.modal{
	margin:0 12%;
	background:url(modal-border.png) repeat;
	max-width:520px;
	width:80%;
	padding:10px;
	top:151px;
	position:fixed;
	z-index:2;
}
.modal.narrow{
	margin:0 17%;
	max-width:320px;
	
}
.modal.narrow #modal-form{background: none;}


.modal .close{background:url(modal-close.png) no-repeat top right;width:34px;height:34px;top:-14px;right:-14px;position:absolute;cursor:pointer;}
.modal .noclose{visibility:hidden;}
.modal .inner{background:#fff url(modal-bg.gif) repeat-x top center;width:auto;padding:10px;border:1px #666 solid;}
.modal .inner h1, .note_content{background:url(modal-h1.gif) repeat-x top center;width:auto;height:31px;margin-bottom:10px;color:#2f2f2f;padding:8px 18px 0;font:18px arial;font-weight:bold;border:1px #cdcdcd solid;}
.modal .inner .content{background:url(modal-vertical-divider.gif) repeat-y 280px 100%;width:auto;padding:10px;}
.modal .inner .content .left{width:250px;float:left;}
.modal .inner .content .right{width:190px;float:right;}
.modal .inner .content .number{background:url(modal-number.gif) no-repeat center center;width:30px;height:30px;color:#fff;font:24px georgia;text-align:center;float:left;display:block;}
.modal .inner .content .title{float:left;margin:8px 0 0 8px;color:#6a6a6a;font:12px arial;font-weight:bold;display:inline;}
.modal .inner .content .info{background:#f1fbf9;width:170px;margin:10px 0;padding:5px 10px;color:#2f2f2f;font:11px arial;line-height:180%;border-top:2px #d5f4ed solid;border-bottom:2px #d5f4ed solid;}
.modal .inner .content .info a{color:#367b98;font-weight:bold;}
.modal .inner .content .inputs{margin-top:6px;}
.modal .inner .content .inputs label{margin:9px 6px 0 0;color:#6b6b6b;font:11px arial;float:right;display:inline;}
.modal .inner .content .inputs input[type=text], input[type=password]{background:#fcfefa;width:175px;height:19px;padding:4px 2px 0;margin:4px 0;border:1px #e5e5e5 solid;float:right;display:inline;}
.modal .inner .content .inputs input[name='captcha_code']{width: 65px;}
.modal .inner .content .inputs .captcha_block{text-align: right;}
.modal .inner .content #modal-submit, .login-modal-submit{background:url(modal-btn-bg.gif) repeat-x top center;width:190px;height:41px;color:#367b98;font:14px arial;font-weight:bold;text-align:center;display:block;border:1px #d1d1d1 solid;position:relative;float:right;cursor:pointer;}
.modal .inner .content #modal-submit:hover, .login-modal-submit:hover{color:#7baf36;}
.modal .inner .content #modal-submit.loading, .login-modal-submit.loading{background:#fff url(loading.gif) no-repeat center center;cursor:default;}
.modal .inner .content #modal-submit-disable{background:url(modal-btn-bg.gif) repeat-x top center;width:190px;height:41px;color:#367b98;font:14px arial;font-weight:bold;text-align:center;display:block;border:1px #d1d1d1 solid;position:relative;float:right;cursor:pointer;}
.modal .inner .content #modal-submit-disable:hover{color:#7baf36;}
.modal .inner .content #modal-submit-disable.loading{background:#fff url(loading.gif) no-repeat center center;cursor:default;}
#modal-submit-reset{background:url(modal-btn-bg.gif) repeat-x top center;width:180px;height:41px;color:#367b98;font:14px arial;font-weight:bold;text-align:center;display:block;border:1px #d1d1d1 solid;position:relative;cursor:pointer;}
#modal-submit-reset:hover{color:#7baf36;}
#modal-submit-reset.loading{background:#fff url(loading.gif) no-repeat center center;cursor:default;}
.modal .inner .bottom{width:auto;margin-top:10px;padding:10px 10px 0;border-top:1px #eaeaea solid;}
.modal .inner .bottom a{color:#5e96ad;font-weight:bold;}
.modal .inner .bottom a:hover{text-decoration:underline;}
.modal .inner .bottom .left{color:#919191;float:left;}
.modal .inner .bottom .right{color:#919191;float:right;}
.loading{background:url(loading.gif) no-repeat center center;cursor:default;}
.button{margin:-8px 0px 0;background:#fff url(user-cp-btn.gif) repeat-x center center;padding: 0 11px;/*width:92px;*/height:30px;color:#367b98;font:12px arial;font-weight:bold;text-align:center;cursor:pointer;border:1px #d1d1d1 solid;}.button:hover{color:#7baf36;cursor:pointer;text-decoration:none;}
.ui-tabs .ui-tabs-hide{position:absolute;left:-9999px}
h3{margin-bottom:5px;color:#6f6f6f;font-size:14px;font-weight:bold;text-indent:10px;}
.ui-tabs ul{padding:0px;margin:0px;}
.ui-tabs ul li{display:inline;}
.ui-tabs a{display:block;float:left;width:60px;height:25px;background-color:transparent;border:transparent 1px solid;border-bottom:none;font-size:12px;line-height:25px;text-align:center;color:#1b576f;}.a:hover{color:#7baf36;text-decoration:none;}
.widget .inner{}
.tab_content{margin:0px;clear:both;background-color:#f9f9f9;border:#bbb9b2 1px solid;padding:5px;}
.ui-tabs-selected a{background-color:#f9f9f9;border:#bbb9b2 1px solid;border-bottom:none;height:26px;margin-bottom:-1px;}
#w1 a{float:none;display:inline;line-height:0;height:0;font-size:11px;}
#w2 a{float:none;display:inline;line-height:0;height:0;font-size:11px;}
#w3{}
#footer{clear:both;background-color:#fff;height:30px;line-height:30px;border:#ded9df 1px solid;margin-top:10px;margin-bottom:10px;}
#footlink{float:right;}
#footlink a{margin-right:30px;color:#187475;}
#copyright{margin-left:30px;color:#787475;}
#bookmarkletContainer{position:absolute;top:15px;left:45px;width:555px;height:320px;z-index:999;}
#bookmarkletContainer body{position:absolute;left:0;top:0;overflow:hidden;background:none;}
#ie7ImageId{display:block;position:absolute;top:20px;left:565px;z-index:999;}
/* tooltip css */
#tooltip{position:absolute;z-index:3000;border:1px solid #111;background-color:#eee;padding:4px;opacity:0.85;}
#tooltip h3, #tooltip div{margin:0;}
/*IE 7 bug fix*/
#content #left #stats_tabs {position:relative;height:205px;}
#content #left #stats_tabs .tab_content{position:absolute;width: 350px;}
.nx-clear {zoom:1} .nx-clear:after {display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden}
.funnel{font-size:13px;color:#2d2d2d;font-weight:bold;text-align:center;}
.funneltag{font-size:15px;color:#537382;text-align:center;}
.funnelexample{margin-left:auto;margin-right:auto;width:80%;}
#support-table th {
    text-align: center;
	font-weight: bold;
       color: #eb8f00; 
}
#support-table td {
    color: #333;
    width: 60px;
}
#support-table hr{	
	border-top: 1px solid #CCCCCC;
    clear: both;
    margin: 10px 0;
}
.example-code{width:100%}
.pie-chart-container{
	display:inline-block;
	width:49%;
}

img[id="busy-indicator"] {
	display: none;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 300px;
	left: 45%;
	background: transparent;
	z-index: 10000;
}

.new_clicks_marker{
	color: darkOliveGreen;
        font-weight:bold;
}

/*  BEGIN Responsive Grid for "plans" page */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;        
}

/*  COLUMN SETUP */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
        text-align: center;
        
}     

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

.stats_loading_container{
	text-align: center;
	line-height: 200px;
}

.stats_loading{
	vertical-align: middle;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
/* END "plans" page grid */

@media all and (max-width:890px) {
	#left{width:60%;}
}

@media all and (max-width:820px) {
	#content.sb{background:#eeeff2;}
}

@media all and (max-width:790px) {
	html{padding-top:40px;} 
	#wrapper{padding:2px;}
	#left{padding: 10px}
	#sidebar{padding: 4px}
	img{height:auto;max-width: 100%;}
	.manage{width:99.5%;}
	.manage ul.actions li{margin:0px;}
	.manage ul.actions li.action a,
	.manage ul.actions li.action a.filter,
	.manage ul.actions li.action a.reset,
	.manage ul.actions li.action a.info,
	.manage ul.actions li.action a.edit,
	.manage ul.actions li.action a.a2a_dd,
	.manage ul.actions li.action a.note,
	.manage ul.actions li.action a.note.empty,
	.manage ul.actions li.action a.qr {padding-left:13px;background-size:12px 12px;}
	.manage ul.actions li.delete{padding:0px; margin:0px;width: 12px;background-position: -1px 1px;}
}

@media all and (max-width:640px) {
	#wrapper{padding:0px;}
	#recent{width:95%}
	#recent ul li{width:auto;min-width:30%;}
	#recent ul li a{padding:5px;}
	#recent .info .left {width:95%; float:none;border-right: none}
	#recent .info .right {width:95%; float:none;}
	#user-cp{padding:10px 0px 10px 8px; width:45%;} 
	#user-cp #buttons{margin:10px 0px 0px 0px;}
	#left{width:100%;box-sizing:border-box;padding:0px;}
	#left .padded-content{padding:2px;}
	#sidebar{padding: 2px; width:100%; float: left;}
	#slogan{display:none;}
	#user-cp #buttons input[type=button],
	.button{width:auto;padding:0px 4px;height:30px;margin:0px 2px 0px 0px;}
	#footlink{max-width:50%;line-height:15px;}
	#footlink a{margin-right:4px;}
	#create .long_url{width:75%;}
	#create #create-submit{width:20%;}
	#create #options{width:50%;}
	#headerLogoBlock{width: 50%; text-align: center;}
	#logo a {float:none; background: url(newlogo2.png) no-repeat top center; margin:14px 0px 0px 0px;display:inline-block;height: 46px;}
	.sloganText {position: static;}
	#copyright{margin:0px;display:block;line-height:15px;}
	#create #options input{width:65px;}
	.modal{width: 95%;padding:2px;top:10px;margin:0px;}
	.modal.narrow{margin:0px;}
	.modal .inner .content .inputs input[type=text], input[type=password]{width: 150px;}
	.divider{width:95%;}
	.pie-chart-container{width:100%}
	#url_manage>thead .header-block{width:100%}
}

.traffic336res { width: 320px; height: 250px; }
@media(min-width: 500px) { .traffic336res { width: 336px; height: 280px; } }
@media(min-width: 800px) { .traffic336res { width: 336px; height: 280px; } }
