.fblbCenterOuter *, .fblbReset * { 
    clear: none;
    margin: 0; 
    padding: 0; 
    border: 0;   
    font-size: 100%;
    line-height: normal;
}
.fblbCenterOuter .fb-root { 
    height: auto !important;
}
.fblbCenterOuter {
    position: fixed;
    top: 0;
    height:100%;
    display:table;
    vertical-align:middle;
    z-index: 10000;
}
.fblbCenterInner {
    position:relative;
    vertical-align:middle;
    display:table-cell;
}
/* Fixed top */
.fblbCenterOuter.fblbFixed {
    position: fixed;
    top: 0;
    height: auto;
    display: block;
    vertical-align: top;
    z-index: 10000;
}
.fblbFixed .fblbCenterInner {
}
.fblbWrap {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: relative;
}
.fblbRight .fblbForm {
    /* margin-left: 60px;*/
}
.fblbHead {
    position: absolute;
    z-index: 9999;
    /*top: 50%;*/
    display: block;
    text-indent: -9999em;
    overflow: hidden;
    cursor: pointer;
}
html[dir='rtl'] .fblbHead  {
    text-indent: 9999em !important;
}
.fblbForm {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fblbInnerLoading
{
    background-image: url('fb_loading.gif');
    background-position:center; 
    background-repeat: no-repeat; 
}
.fblbInner {
    /*min-height:150px;*/
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fblbHeader {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.fblbFollowTw {
    position: absolute; 
    right: 0px; 
    top: 7px;
}
#fblbInnerYt {
    overflow: hidden;
}

.fblbList {
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    list-style-type: none;
}
.fblbList li {
    padding: 5px 10px;
    overflow: hidden;
    /*border-bottom: 1px solid #9b9b9b;*/
}
.fblbList li:hover, .fblbList li.fblbeven {
    background: #efefef;
}
body .fblbList li a.fblbtitle {
    color:#195bcc;
    line-height: 1.2 !important;
    text-decoration: none;
    display:block;
    margin-bottom:1px;
    font-weight:bold;
}
.fblbList li a.fblbtitle:hover,
.fblbList li a.fblbthumb-link:hover + .bd a.fblbtitle {
    text-decoration: underline;
    font-weight: bold;
}
.fblbList li .fblbbd {
    margin-left: 70px;
    margin-top:3px;
}
.fblbList li a.fblbthumb-link {
    float:left;
    margin-top: 3px;
}
.fblbList li .fblbinfo {
    color:#989898;
    font-size:9px;
    display:block;
    line-height: 1.5;
}
.fblbList li .fblbinfo2 {
    font-weight: bold; 
    float: left;
}
.fblbList li .fblbinfo3 {
    font-weight: bold; 
    float: right; 
    color: #195BCC;
}
.fblbList img {
    background-color: #fff;
    border: 2px solid #efefef;
    padding: 1px;
}
#fblbGpList img {
    float: left;
    margin-right: 4px;
    max-width: 50%;
}
#fblbGpList a {
    text-decoration: none;
}

/* Tabs */
.fblbCenterOuterFb.fblbRight .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb1-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb2-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(fb3-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab4 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb4-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab5 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb5-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab6 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(fb6-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(fb7-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(fb8-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(fb9-right.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb1-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb2-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(fb3-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab4 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb4-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab5 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(fb5-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab6 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(fb6-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(fb7-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(fb8-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(fb9-left.png);
}

.fblbCenterOuterTw.fblbRight .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(tw1-right.png);
}
.fblbCenterOuterTw.fblbRight .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(tw2-right.png);
}
.fblbCenterOuterTw.fblbRight .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(tw3-right.png);
}
.fblbCenterOuterTw.fblbRight .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(tw7-right.png);
}
.fblbCenterOuterTw.fblbRight .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(tw8-right.png);
}
.fblbCenterOuterTw.fblbRight .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(tw9-right.png);
}

.fblbCenterOuterTw.fblbLeft .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(tw1-left.png);
}
.fblbCenterOuterTw.fblbLeft .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(tw2-left.png);
}
.fblbCenterOuterTw.fblbLeft .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(tw3-left.png);
}
.fblbCenterOuterTw.fblbLeft .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(tw7-left.png);
}
.fblbCenterOuterTw.fblbLeft .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(tw8-left.png);
}
.fblbCenterOuterTw.fblbLeft .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(tw9-left.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(gp1-right.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(gp2-right.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(gp3-right.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(gp7-right.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(gp8-right.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(gp9-right.png);
}

.fblbCenterOuterGp.fblbLeft .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(gp1-left.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(gp2-left.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(gp3-left.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(gp7-left.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(gp8-left.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(gp9-left.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(yt1-right.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt2-right.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(yt3-right.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(yt7-right.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt8-right.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(yt9-right.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(yt1-left.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt2-left.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(yt3-left.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(yt7-left.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt8-left.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(yt9-left.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(li1-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(li2-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(li3-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab6 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(li6-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(li7-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(li8-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(li9-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab10 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(li10-right.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(li1-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(li2-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(li3-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab6 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(li6-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(li7-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(li8-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(li9-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab10 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(li10-left.png);
}
/* Close */
.fblbCenterOuterFb.fblbRight .fblbTab1 .fblbHeadClose {
    background: url(fb1-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab2 .fblbHeadClose {
    background: url(fb2-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab3 .fblbHeadClose {
    background: url(fb3-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab4 .fblbHeadClose {
    background: url(fb4-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab5 .fblbHeadClose {
    background: url(fb5-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab6 .fblbHeadClose {
    background: url(fb6-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab7 .fblbHeadClose {
    background: url(fb7-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab8 .fblbHeadClose {
    background: url(fb8-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab9 .fblbHeadClose {
    background: url(fb9-right-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab1 .fblbHeadClose {
    background: url(fb1-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab2 .fblbHeadClose {
    background: url(fb2-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab3 .fblbHeadClose {
    background: url(fb3-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab4 .fblbHeadClose {
    background: url(fb4-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab5 .fblbHeadClose {
    background: url(fb5-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab6 .fblbHeadClose {
    background: url(fb6-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab7 .fblbHeadClose {
    background: url(fb7-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab8 .fblbHeadClose {
    background: url(fb8-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab9 .fblbHeadClose {
    background: url(fb9-left-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab1 .fblbHeadClose {
    background: url(tw1-right-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab2 .fblbHeadClose {
    background: url(tw2-right-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab3 .fblbHeadClose {
    background: url(tw3-right-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab7 .fblbHeadClose {
    background: url(tw7-right-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab8 .fblbHeadClose {
    background: url(tw8-right-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab9 .fblbHeadClose {
    background: url(tw9-right-close.png) !important;
}
.fblbCenterOuterTw.fblbLeft .fblbTab1 .fblbHeadClose {
    background: url(tw1-left-close.png) !important;
}
.fblbCenterOuterTw.fblbLeft .fblbTab2 .fblbHeadClose {
    background: url(tw2-left-close.png) !important;
}
.fblbCenterOuterTw.fblbLeft .fblbTab3 .fblbHeadClose {
    background: url(tw3-left-close.png) !important;
}
.fblbCenterOuterTw.fblbLeft .fblbTab7 .fblbHeadClose {
    background: url(tw7-left-close.png) !important;
}
.fblbCenterOuterTw.fblbLeft .fblbTab8 .fblbHeadClose {
    background: url(tw8-left-close.png) !important;
}
.fblbCenterOuterTw.fblbLeft .fblbTab9 .fblbHeadClose {
    background: url(tw9-left-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab1 .fblbHeadClose {
    background: url(gp1-right-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab2 .fblbHeadClose {
    background: url(gp2-right-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab3 .fblbHeadClose {
    background: url(gp3-right-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab7 .fblbHeadClose {
    background: url(gp7-right-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab8 .fblbHeadClose {
    background: url(gp8-right-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab9 .fblbHeadClose {
    background: url(gp9-right-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab1 .fblbHeadClose {
    background: url(gp1-left-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab2 .fblbHeadClose {
    background: url(gp2-left-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab3 .fblbHeadClose {
    background: url(gp3-left-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab7 .fblbHeadClose {
    background: url(gp7-left-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab8 .fblbHeadClose {
    background: url(gp8-left-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab9 .fblbHeadClose {
    background: url(gp9-left-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab1 .fblbHeadClose {
    background: url(yt1-right-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab2 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt2-right-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab3 .fblbHeadClose {
    background: url(yt3-right-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab7 .fblbHeadClose {
    background: url(yt7-right-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab8 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt8-right-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab9 .fblbHeadClose {
    background: url(yt9-right-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab1 .fblbHeadClose {
    background: url(yt1-left-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab2 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt2-left-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab3 .fblbHeadClose {
    background: url(yt3-left-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab7 .fblbHeadClose {
    background: url(yt7-left-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab8 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/yt8-left-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab9 .fblbHeadClose {
    background: url(yt9-left-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab1 .fblbHeadClose {
    background: url(li1-right-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab2 .fblbHeadClose {
    background: url(li2-right-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab3 .fblbHeadClose {
    background: url(li3-right-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab6 .fblbHeadClose {
    background: url(li6-right-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab7 .fblbHeadClose {
    background: url(li7-right-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab8 .fblbHeadClose {
    background: url(li8-right-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab9 .fblbHeadClose {
    background: url(li9-right-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab1 .fblbHeadClose {
    background: url(li1-left-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab2 .fblbHeadClose {
    background: url(li2-left-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab3 .fblbHeadClose {
    background: url(li3-left-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab6 .fblbHeadClose {
    background: url(li6-left-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab7 .fblbHeadClose {
    background: url(li7-left-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab8 .fblbHeadClose {
    background: url(li8-left-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab9 .fblbHeadClose {
    background: url(li9-left-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(fb11-right.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(fb12-right.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(fb11-left.png);
}
.fblbCenterOuterFb.fblbLeft .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(fb12-left.png);
}
.fblbCenterOuterFb.fblbRight .fblbTab11 .fblbHeadClose {
    background: url(fb11-right-close.png) !important;
}
.fblbCenterOuterFb.fblbRight .fblbTab12 .fblbHeadClose {
    background: url(fb12-right-close.png) !important;
}

.fblbCenterOuterFb.fblbLeft .fblbTab11 .fblbHeadClose {
    background: url(fb11-left-close.png) !important;
}
.fblbCenterOuterFb.fblbLeft .fblbTab12 .fblbHeadClose {
    background: url(fb12-left-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(li11-right.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(li12-right.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(li11-left.png);
}
.fblbCenterOuterLi.fblbLeft .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(li12-left.png);
}
.fblbCenterOuterLi.fblbRight .fblbTab11 .fblbHeadClose {
    background: url(li11-right-close.png) !important;
}
.fblbCenterOuterLi.fblbRight .fblbTab12 .fblbHeadClose {
    background: url(li12-right-close.png) !important;
}

.fblbCenterOuterLi.fblbLeft .fblbTab11 .fblbHeadClose {
    background: url(li11-left-close.png) !important;
}
.fblbCenterOuterLi.fblbLeft .fblbTab12 .fblbHeadClose {
    background: url(li12-left-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(tw11-right.png);
}
.fblbCenterOuterTw.fblbRight .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(tw12-right.png);
}
.fblbCenterOuterTw.fblbLeft .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(tw11-left.png);
}
.fblbCenterOuterTw.fblbLeft .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(tw12-left.png);
}
.fblbCenterOuterTw.fblbRight .fblbTab11 .fblbHeadClose {
    background: url(tw11-right-close.png) !important;
}
.fblbCenterOuterTw.fblbRight .fblbTab12 .fblbHeadClose {
    background: url(tw12-right-close.png) !important;
}

.fblbCenterOuterTw.fblbLeft .fblbTab11 .fblbHeadClose {
    background: url(tw11-left-close.png) !important;
}
.fblbCenterOuterTw.fblbLeft .fblbTab12 .fblbHeadClose {
    background: url(tw12-left-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(yt11-right.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(yt12-right.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(yt11-left.png);
}
.fblbCenterOuterYt.fblbLeft .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(yt12-left.png);
}
.fblbCenterOuterYt.fblbRight .fblbTab11 .fblbHeadClose {
    background: url(yt11-right-close.png) !important;
}
.fblbCenterOuterYt.fblbRight .fblbTab12 .fblbHeadClose {
    background: url(yt12-right-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab11 .fblbHeadClose {
    background: url(yt11-left-close.png) !important;
}
.fblbCenterOuterYt.fblbLeft .fblbTab12 .fblbHeadClose {
    background: url(yt12-left-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(gp11-right.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(gp12-right.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(gp11-left.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(gp12-left.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab11 .fblbHeadClose {
    background: url(gp11-right-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab12 .fblbHeadClose {
    background: url(gp12-right-close.png) !important;
}

.fblbCenterOuterGp.fblbLeft .fblbTab11 .fblbHeadClose {
    background: url(gp11-left-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab12 .fblbHeadClose {
    background: url(gp12-left-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab13 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(gp13-right.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab14 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(gp14-right.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab13 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(gp13-left.png);
}
.fblbCenterOuterGp.fblbLeft .fblbTab14 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(gp14-left.png);
}
.fblbCenterOuterGp.fblbRight .fblbTab13 .fblbHeadClose {
    background: url(gp13-right-close.png) !important;
}
.fblbCenterOuterGp.fblbRight .fblbTab14 .fblbHeadClose {
    background: url(gp14-right-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab13 .fblbHeadClose {
    background: url(gp13-left-close.png) !important;
}
.fblbCenterOuterGp.fblbLeft .fblbTab14 .fblbHeadClose {
    background: url(gp14-left-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi1-right.png);
}
.fblbCenterOuterVi.fblbRight .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi2-right.png);
}
.fblbCenterOuterVi.fblbRight .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi3-right.png);
}
.fblbCenterOuterVi.fblbRight .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi7-right.png);
}
.fblbCenterOuterVi.fblbRight .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi8-right.png);
}
.fblbCenterOuterVi.fblbRight .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi9-right.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi1-left.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi2-left.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi3-left.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi7-left.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi8-left.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi9-left.png);
}

.fblbCenterOuterVi.fblbRight .fblbTab1 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi1-right-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab2 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi2-right-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab3 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi3-right-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab7 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi7-right-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab8 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi8-right-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab9 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi9-right-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab1 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi1-left-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab2 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi2-left-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab3 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi3-left-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab7 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi7-left-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab8 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi8-left-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab9 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi9-left-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi11-right.png);
}
.fblbCenterOuterVi.fblbRight .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi12-right.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab11 .fblbHead {
    width: 52px;
    height: 108px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi11-left.png);
}
.fblbCenterOuterVi.fblbLeft .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi12-left.png);
}
.fblbCenterOuterVi.fblbRight .fblbTab11 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi11-right-close.png) !important;
}
.fblbCenterOuterVi.fblbRight .fblbTab12 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi12-right-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab11 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi11-left-close.png) !important;
}
.fblbCenterOuterVi.fblbLeft .fblbTab12 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/vi12-left-close.png) !important;
}


.fblbCenterOuterPi.fblbRight .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi1-right.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi2-right.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi3-right.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi7-right.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi8-right.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi9-right.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab1 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi1-left.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab2 .fblbHead {
    width: 48px;
    height: 155px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi2-left.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab3 .fblbHead {
    width:  58px;
    height: 60px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi3-left.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab7 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi7-left.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab8 .fblbHead {
    width: 28px;
    height: 90px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi8-left.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab9 .fblbHead {
    width:  35px;
    height: 36px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi9-left.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab1 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi1-right-close.png) !important;
}
.fblbCenterOuterPi.fblbRight .fblbTab2 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi2-right-close.png) !important;
}
.fblbCenterOuterPi.fblbRight .fblbTab3 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi3-right-close.png) !important;
}
.fblbCenterOuterPi.fblbRight .fblbTab7 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi7-right-close.png) !important;
}
.fblbCenterOuterPi.fblbRight .fblbTab8 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi8-right-close.png) !important;
}
.fblbCenterOuterPi.fblbRight .fblbTab9 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi9-right-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab1 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi1-left-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab2 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi2-left-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab3 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi3-left-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab7 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi7-left-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab8 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi8-left-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab9 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi9-left-close.png) !important;
}
.fblbCenterOuterPi.fblbRight .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi11-right.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi12-right.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab11 .fblbHead {
    width:  52px;
    height: 108px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi11-left.png);
}
.fblbCenterOuterPi.fblbLeft .fblbTab12 .fblbHead {
    width:  38px;
    height: 78px;
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi12-left.png);
}
.fblbCenterOuterPi.fblbRight .fblbTab11 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi11-right-close.png) !important;
}
.fblbCenterOuterPi.fblbRight .fblbTab12 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi12-right-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab11 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi11-left-close.png) !important;
}
.fblbCenterOuterPi.fblbLeft .fblbTab12 .fblbHeadClose {
    background: url(http://www.rioutlet.com.br/skin/frontend/base/default/magazento_social/css/img/pi12-left-close.png) !important;
}

/* POWERED */
.magazento-powered {
    font-size: 9px;
    color: #eee;
    padding: 0 2px;
    text-decoration: none;
}
.magazento-powered a {
    font-size: 9px;
    color: #eee;
    text-decoration: none;
}
