@font-face{font-family:'fontello';src:url('fontello.eot@29643266');src:url('fontello.eot@29643266') format('embedded-opentype'),
url('fontello.woff@29643266') format('woff'),
url('fontello.ttf@29643266') format('truetype'),
url('fontello.svg@29643266') format('svg');font-weight:normal;font-style:normal;}
.block-tags .actions a:after,
.block-poll .actions .button:after,
.block-subscribe .actions .button:after,
.form-button:after,
.block-wishlist .link-cart:after,
.i-mail:before,
.i-ok-circle:before,
.btn-edit:before,
.sm-responsive-listing .respl-wrap .respl-loader .loader-image:before,
[class^="icon-"]:before,
[class*=" icon-"]:before{font-family:'fontello';font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:0.2em;text-align:center;opacity:1;filter:alpha(opacity=100);-moz-opacity:100;-khtml-opacity:100;line-height:1em;}
.icon-plus:before{content:'\2b ';}
.btn-edit:before,
.icon-pencil:before{content:'\270e';}
.icon-play:before{content:'\25b6';font-size:10px;float:right;margin-top:7px;}
.icon-right-dir:before{content:'\25b8';}
.icon-left-dir:before{content:'\25c2';}
.icon-check:before{content:'\2611';}
.icon-pencil-1:before{content:'\e801';}
.i-ok-circle:before,
.icon-ok-circle:before{content:'\2714';font-size:14px;float:left;margin-top:4px;margin-right:7px;}
.icon-cancel-circled:before{content:'\2716';}
.icon-plus-circle:before{content:'\2795';}
.i-mail:before,
.icon-mail-1:before{content:'\e800';font-size:14px;float:left;margin-top:3px;margin-right:7px;}
.icon-zoom-in:before{content:'\e750';}
.icon-zoom-out:before{content:'\e751';}
.icon-hospital:before{content:'\e821';}
.icon-spin1:before{content:'\e830';}
.icon-spin2:before{content:'\e831';}
.sm-responsive-listing .respl-wrap .respl-loader .loader-image:before,
.icon-spin3:before{content:'\e802';}
.icon-link:before{content:'đŸ”—';}
.products-list .add-to-holder .add-to-cart .button:after,
.top-search .button:after,
.block-user5 .actions .button:after{content:'';width:0;}
.sm-responsive-listing .respl-wrap .respl-loader .loader-image:before,
.animate-spin{-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block;}
@-moz-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@-webkit-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@-o-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@-ms-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}