FONT{  
	font-family : Arial,Helvetica,sans-serif;
	color : Black;
	font-size: small;
}
TABLE{
	border : none;
}
A{
	font-family : Arial,Helvetica,sans-serif;
	color : Black;
	font-size: small;
	margin: 0px;
}
A.red:LINK{
	font-size: small;
}
A.red:VISITED{
	font-size: small;
}
A:LINK{
	font-family : Arial,Helvetica,sans-serif;
	color : Black;
	margin: 0px;
	font-size: small;
}
A.altText:LINK{
	color : #FFFFFF;
	font-size: small;
}
A:VISITED{
	font-family : Arial,Helvetica, sans-serif;
	color : Black;
	margin: 0px;
	font-size: small;
}
A.altText:VISITED{
	color : #FFFFFF;
	font-size: small;
}
A.verysmalltext {
	font-family : Arial,Helvetica,sans-serif;
	font-size : xx-small;
	color : #666F77;
}
A.verysmalltext:VISITED {
	font-family : Arial,Helvetica,sans-serif;
	font-size : xx-small;
	color : #666F77;
}
.TopHeader {
	color: #DC241F;
	background-color: #DC241F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	height : 20px;
}
.contentHeader {
	color: #DC241F;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	position:relative;
	height:78px;
}


.contentHeaderFiller {
	color: #FFFFFF;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	height : 40px;
}
.Headline {
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
}
.stepNumber {
	color: #DC241F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}
TD{
	font-family : Arial,Helvetica,sans-serif;
	font-size : small;
	color : Black;
	margin: 0px;
}
.red{
	font-size : small;
}
.WhatToDo{
	font-family : Arial,Helvetica,sans-serif;
	color : #DC241F;
	font-weight : bold;
	line-height : 22px;
}
TD.button {
    background-color: #F2F2F3;
    color : Black;
    text-align: center;
	line-height : 22px;
	font-weight : bold;
}
.monospaced {
	font-family: Courier, Sans-serif
}
TD.smalltext {
	font-family : Arial,Helvetica,sans-serif;
	font-size : small;
	color : #666F77;
}
TD.verysmalltext {
	font-family : Arial,Helvetica,sans-serif;
	font-size : xx-small;
	color : #666F77;
}
TD.largerBold{  
	font-family : Arial,Helvetica,sans-serif;
	color : Black;
	font-weight : bold;
	font-size: medium;
}
BODY{  
font-size : small;
font-family : Arial,Helvetica,sans-serif;
background-color: #FFFFFF;
color : Black;
padding: 0pt 0pt 0pt 0pt;  
border-style : none none none none;  
margin: 0px; 
}
.errorblock {
	background-color : #404B55;
}

SPAN.highlight {
color: #DC241F;
font-weight : bold;
}
.error {
color: #DC241F;
font-weight : bold;
}
.errornobold {
color: #DC241F;
}
.center {
	text-align : center;
}
.tableHeader {
	font-weight : bold;
	color : Black;
	line-height : 22px;
}
.tableHeaderNoBold {
	color : Black;
	line-height : 22px;
}
.header {
	color : #666F77;
	line-height : 22px;
}
.sortheader {
    font-weight : bold;
	color : Black;
	line-height : 22px;
	background-color : #E7E8EA;
}

.sortheaderNoBold {
	color : Black;
	line-height : 22px;
	background-color : #E7E8EA;
}

.welcomeheader {
    font-weight : bold;
	color : White;
	line-height : 22px;
	background-color : #B2B7BB;
}

.txtheader {
    font-weight : bold;
	color : White;
	line-height : 22px;
	background-color : #B2B7BB;
}

.boldheader {
	font-weight : bold;
	color : Black;
	line-height : 22px;
}
.altText {
 	font-family : Arial,Helvetica,sans-serif;
	font-size: 75%;
	font-weight: bold;
 	color : Black; 
}
.TipItem {
	font-size : small;
}

.warningBlock {
	color : #DC241F;
}

/* info block styles */
.infoPage {
	position: relative;
	width: 590px;
	background: #F1F5FA url(i-page.gif) no-repeat 6px 13px;
	margin: 20px 0px 10px 0px;
	border-top: 1px solid #668CAC;
	border-bottom: 1px solid #668CAC;
	border-collapse: collapse;
}
.infoPage td {
	background: transparent;
	padding: 8px 15px 6px 48px;
}
.infoPage p {
	line-height:1.5;
	margin: 0.35em 0;
}
.infoPage ul {
	margin: 0.35em 0;
	padding: 0;
	list-style: none;
}
.infoPage ul li {
	line-height:1.5;
	background: url(bullet.gif) no-repeat 12px 2px;
	margin: 0;
	padding-left: 25px;
}
/* oneline version of the page info block */
.oneline {
	background-position: 6px 5px;
}
.oneline td {
	padding-top: 6px;
}

.infoPageLink {
    font-size: 12px;
}
/*------------------------------*/
 
@Media Print {
  BODY{
	background-image : none;
}
  #Header{
    display: block;
  }
   #Nav{
   display: none;
  }
    #Hide{
   display: none;
  }
   #Content{
   display: block;
  }
}

@Media screen {
  #IE4Fix{
  display: block;
  }
  #Header{
  display: block;
  }
  #Nav{
  display: block;
  }
  #Hide{
  display: block;
  }
  #Content{
  display: block;
  }
}

/* restricted account link */
.restrictedLink {
  color: #333;
  vertical-align: middle;  
  font-size: 0.923em;  
  margin: 7px 0 1px;
}

.info-page {
position: relative;
background: #F1F5FA;
padding: 11px 15px 11px 50px;
border-top: 1px solid #7B9EBD;
border-bottom: 1px solid #7B9EBD;
min-height: 30px; /* 48 - (17+17) */
}
.info-page .information {
display: block;
position: absolute;
top: 25px;
left: 10px;
width: 31px;
height: 31px;
background: url(ic019_3.0.gif) no-repeat;
}

.bg-replacement-text strong {
position: absolute;
top: -999px;
z-index: 50;
width: 1px;
font-size: 1px;
height: 1px;
overflow: hidden;
display: block;
line-height: 0;
}


/* ====== TRANSACTION LIST ====== */
#newTransList #TBL1 label{width:73px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#downloadTransactionsTBL .trans-list td{padding-right:2px;}
	#downloadTransactionsTBL .trans-list td.txtR{padding-right:7px;}
	#downloadTransactionsTBL .trans-list tr.expanded td{padding-top: 12px;}
}
#downloadTransactionsTBL .download-transactions .list .inner{width:300px; height:149px;}
#downloadTransactionsTBL .trans-list td{position: static;} 
#downloadTransactionsTBL .trans-list tr.expanded td{background:#F2F2F3; cursor:pointer; background-image:none; border-top:2px solid #D5D5D5;}
#downloadTransactionsTBL .trans-list .details td{border-left:none; background:#F9F9F9; padding:0; background-image:none; border-bottom:2px solid #D5D5D5;}
#downloadTransactionsTBL .trans-list .firstRow.expanded td {border-top: 1px solid #D5D5D5;}
#downloadTransactionsTBL .download-transactions .list .statements a{height:29px; margin-top:0px; vertical-align:middle; padding-top:0px;}
#downloadTransactionsTBL .download-transactions .list .statements img{vertical-align:middle; padding-bottom:3px;}
/* ====== END OF TRANSACTION LIST ====== */
