/******************************************************/
@media (min-width: 1200px) {
	.logo-container, header .top-site, footer .footer-block, #powered  {
		background-image:url(content-tail.png);
	}
	header #logo {
		float:left;
		margin:10px 20px 7px 23px;
		min-width:215px;
	}
	footer .social{
		margin-right:92px;
	}
	.banner .s-desc span h2 {
		margin-top: 5px;
	}
	#search {
		margin-right:25px;
	}
	#menu {
		border-left: 1px solid #CFCFCF;
	}
	header .links a {
		margin-left:12px;
		margin-right:12px;
	}
	header .links li:first-child a{
		margin-left:29px;
	}
	.fluid_container {
		margin-bottom: 37px;
	}
	.banner {
		margin-bottom:34px;
	}
	.banner .s-desc {
		padding: 27px 20px 20px 20px;
		font-size:12px;
		line-height:14px;
	}	
	.banner .s-desc p {
		font-size: 12px;
		line-height: 21px;
		padding-left:3px;
		margin-bottom: 12px;
	}
	.banner h1{
		font-size:20px;
		line-height:24px;
		margin-bottom:4px;
	}
	.banner .s-desc span {
		width:51px;
		height:51px;
		border: 6px solid #B2D44A;
		font-size: 24px;
		height: 51px;
		line-height: 17px;
		padding: 10px;
		width: 51px;
		margin-left:14px;
	}
	.banner .banner-2 .s-desc {
		padding: 44px 15px 20px 35%;
		font-size: 14px;
		line-height: 16px;
	}
	.banner .banner-2 h1{
		line-height:25px;
	}
	.cart-position {
		border-left:1px solid #d6d6d6;
		margin-top:5px;
		margin-bottom:8px;
	}
	.camera_fakehover {
		min-height:375px;
	}
	.product-grid .cart{
		float: left;
	}	
	.product-grid .wishlist a, .product-grid .compare a{
	   margin:0 0 0 8px;
	}	
	.wishlist, .compare {
		float: left;
	}	
	.box-content .product-compare  a.button span{
		font-size:14px;
	}
	.related {
		padding:0 60px 0 50px;
	}
	.related .bx-wrapper .bx-next {margin-right:-80px;}
	.related .bx-wrapper .bx-prev {margin-left:-40px;}	
	.login-content .form-horizontal .control-label{
		max-width:100px
		}
	.login-content .form-horizontal .controls{
		margin-left:120px;
		}
}

/*********************************************************/
@media (max-width: 1199px) {
	.table th, .table td {
		padding:8px;
		}
}

/******************************************************/
@media (max-width: 979px) {	
	.product-info .price .price-tax{
		font-size:16px;
	}
	header #logo {
		margin: 30px 0 5px;
	}	
	#menu {display:none;}
	#menu-gadget {
		display:block;
		text-align:left;
		margin-bottom:20px;
	}
	#menu-gadget #menu-icon:after, header .sf-menu-phone .icon-angle-down:before {
		margin-top:0;
	}
	#search {
		margin-right:15px;
	}
	header .links a {
		margin-left:9px;
	}
	header .links li a i {
		margin-right: 5px;
	}
	.product-filter .product-compare {
		margin-top:2px;
	}
	/************************* table wishlist ****************/
	.wishlist-product .table.table-bordered {
		border:0;
		}
	.wishlist-product .table thead{
		display:none;
		}
	.wishlist-product .table tbody{
		display:block;
		border:0
		}
	.wishlist-product .table tr {
		display:block;
		margin-bottom:30px;
		border:1px solid #d7d7d7;
		border-bottom:0;
		}
	.wishlist-product .table td {
		display:block;
		border:0;
		border-bottom:1px solid #d7d7d7
		}
}
/******************************************************/
@media (min-width: 768px) and (max-width: 979px) {
	.logo-container, header .top-site, footer .footer-block, #powered  {
		background-image:url(content-tail-724px.png);
	}
	.camera_fakehover {
		min-height:232px;
	}
	h3 , .product-grid .name a, .box .box-product .inner .name a, .compare-block .name a{
		font-size: 11px;
	}
	.banner {
		margin-bottom: 23px;
	}
	.banner .s-desc {
		padding: 14px;
		font-size:11px;
		line-height:13px;
	}	
	.banner .s-desc p {
		display:none;
	}
	.banner h1{
		font-size:13px;
		line-height:16px;
		margin-bottom:8px;
	}
	.banner .banner-2 .s-desc {    
		font-size: 10px;
		line-height: 13px;
		padding: 26px 10px 12px 35%;
	}
	.box-product .price .price-new {
		font-size: 21px;
		line-height: 26px;
	}
	header #logo {
		float:left;
		margin:10px 20px 10px 15px;
	}		
	.cart-position {
		border-left:1px solid #d6d6d6;
		margin-top:5px;
		margin-bottom:8px;
	}
	.product-grid .name a, .box .box-product .name a{
		font-size: 14px;
		line-height: 18px;
	}
	.compare-block .name a{
		font-size: 12px;
		line-height: 14px;
	}
	.product-grid .cart, .box .box-product .cart {
		float:none;
		}
	
	.product-list .wishlist a, .product-list .compare a {
		margin:0px 0px 0 8px
		}
	.compare-info td img {max-width:95px}
	.compare-info td a.button span {font-size:12px; padding:7px 8px}
	.login-content .form-horizontal .control-label{
		max-width:100%;
		text-align:left;
		}
	.login-content .form-horizontal .controls{
		margin-left:0px;
		}
	.related {
			padding: 0 82px
		}
	.product-filter .display {
		clear:both;
		float:none
		}
	footer .icon-phone {display:none;}
	.login-content .heading h2 {
		font-size:13px;
		}
	.login-content .heading i {
		font-size:20px;
		}
}

/**********************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
and (orientation:landscape) { 
	#full_gallery {display:block;}
	#default_gallery {display:none;}
	.box .box-content .box-product ul li:hover .quick-view-button {display:none !important; visibility:hidden; }
}

/**********************************************/
@media (max-width: 767px) {
	aside{
		margin-top:15px;
	}
	header .top-site{
		margin:0;
	}
	.camera_fakehover {
		height:100%;
		min-height: 90px;
	}
	.box-product.box-subcat .name.subcatname {
		border:none;
	}
	.box-container{
		border:none;
		padding:0;
		margin-bottom:20px;
	}
	.sf-menu-phone li a {
		border-left: 1px solid #c4c3bb;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-right: 1px solid #c4c3bb;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}	
	.logo-container {
		padding:0;
		margin:0;
		border:none;
	}
	body, #body {
		background: #fff;
	}	
	aside .box {
		margin-bottom: 10px;
	}
	.footer-block, footer .social, .top-site .buttons_top{
		display:none;
	}
	.camera_wrap .camera_caption {
		width: 55%;
	}
	aside .box .box-content{
		margin-bottom:30px;
	}
	.related {
		max-width: 170px;
		padding: 0;
		margin:0 auto;
	}
	footer #powered {
		display: block;
		float: none;
		margin:0;
	}	
	.logg{
		display:none;
	}
	header {
		background-color:#fff;
	}
	.swipe-menu #language > ul li{
		cursor:pointer;
		margin: 14px;
	}
	.swipe-menu #language > ul li:hover{
		color:#FB838D;
	}
	.top-search i {
		line-height:48px;
	}
	.top-search{
		height:50px;
	}
	#body .swipe .swipe-menu .header-button .heading1:hover, #body .swipe .swipe-menu #currency .heading-1:hover{
		color:#FB838D;
	} 
	#cart .heading span.link_a i.icon-shopping-cart{
		font-size:26px;
		}
	.cart-position, html[lang="de"] #cart .heading span.link_a , html[lang="es"] #cart .heading span.link_a  {
		min-width: 0;
	}
	#cart .heading span.link_a i.icon-shopping-cart{
		display:inline-block;
		line-height:50px;
		color:#fff;
		padding-left:10px;
	}
	#cart .heading span.link_a i.icon-shopping-cart:before{
		height:50px;
	}
	#cart .heading span.link_a {
		background:none;
		border:none;
		padding:0;
		border-left:1px solid #8b9e52;
		line-height:50px;
		border-radius:0;
		height:50px;
		min-width:0;
		}
	#cart .heading span.link_a >span{
		display:none;
	}
	header #cart.active .content {
		top:50px
		}
	#powered {
		text-align:center;
		}
	aside .box .box-content .box-product ul > li {
		margin-left: auto;
		margin-right: auto;
	}
	footer .powered {
		margin-top:0;
	}
	aside #compare {
		display:none !important;
		}
	#full_gallery {
		display:block;
		margin-left:auto;
		margin-right:auto;
		}
	#full_gallery .bx-controls-direction a.bx-next {
		margin-right: -40px;
	}
	#full_gallery .bx-controls-direction a.bx-prev {
		margin-left: -40px;
	}
	#default_gallery {
		display:none;
		}
	.tabs .tab-heading:hover {
		cursor:pointer;
		}
	.tabs .tab-content {
		display:none;
		}
	.related .bx-viewport{
		padding-left:0;
	}
	.related {
		padding:0 0;
	}
	.related .bx-wrapper a.bx-next {margin-right:-50px;}
	.related .bx-wrapper a.bx-prev {margin-left:-50px;}
	#content {
		float:right;
		}
	.common-home #content {
		margin-bottom:0;
		}
	.box {margin-bottom:10px; padding-bottom:0;}
	aside .box .box-heading {
		font-family: 'Open Sans', sans-serif;
		font-size:18px;
		line-height:22px;
		padding:10px 15px;
		background-color:#fb838d;
		color:#fff;
		margin-bottom:0px;
		}
	.product-grid .name {
		height:auto;
		}
	.product-list .description {
		display:none;
		}
	.product-info h1 {display:none;}
	.product-info h1.view {display:block;}
	.product-filter .display {display:none;}
	#content .box {margin-bottom:5px;}
	.box .box-heading {margin-bottom:15px;}
	.box .box-content .box-product ul li:hover .quick-view-button {display:none !important; visibility:hidden; opacity:0}
	#compare-total, .cart-button .compare  {
		display:none;
		}
	#content .box-product li , #content .box-product.box-subcat ul li{
		border-top:1px solid #DBDBDB;
		margin-bottom:20px !important;
		padding-top:20px;
		}
	#content .box-product li.related-info{
		padding-top:0px;
		}
	#content .box-product li:first-child, #content .box-product.box-subcat ul li:first-of-type {
		border-top:none;
		}
	#content .box .box-product ul li .image2, #content .product-grid .image {
		border: none;
	}	
	.box .box-product ul li .image2, .product-grid .image, .product-list .image, .box-subcat .image, .product-info .description, #tab-review.tabs .tab-content{
		border:none;
		padding:0;
	}
	#back-top{
		display:none;
	}	
	aside .box-product ul li, #content .box-product ul.related-slider li:first-child{
		border-top:1px solid #c4c3bb;
		border-top:1px solid rgba(0,0,0,.1);
	}
	aside .box .box-product ul li .image2{
		padding-top:21px;
		padding-left:7%;
		padding-right:7%;
		border-left:1px solid #c4c3bb;
		border-left:1px solid rgba(0,0,0,.1);
		border-right:1px solid #c4c3bb;
		border-right:1px solid rgba(0,0,0,.1);
	}
	aside .box .box-content, aside .box.box-filter .box-content, .contact-info, .content.contact-f{
		border:none; padding:0;
		margin-top:20px;
	}
	body #container, body footer > .powered, .header-modules, header {
		padding-left: 20px;
		padding-right: 20px;
	}
	.cart-button > div.wishlist {display:none;} 
	.box-product .name {
		margin:0
		}
	footer{
		padding:0;
		text-align:center;
	}
	footer > .footer-block {display:none;}
	header #logo {margin:75px 0 30px 20px}
	.cart-position {
	  position:fixed;
	  top:0;
	  right:0px;
	  margin:0;
	  z-index:105;
	  }
	/*********************** box product *************************/
	#content .box-product  .image2{
		float:left;
		width:30%
		}
	#content .box-product .inner {
		width:58%;
		float:left;
		margin-left:10%;
		border:none;
		text-align:left;
		padding:0;
		background:none;		
		}	
	#content .box .box-product ul li .inner .name, .product-grid .name {
		background: none;
		display: inline-block;
		width:auto;
		height: auto;
		margin-bottom: 10px;
		padding: 0;
	}
	#content .box .box-product ul li .inner .name:hover, .product-grid .name:hover {
		background:none;
	}
	#content .box .box-product ul li .inner .name a:hover, .product-grid .name a:hover {
		color:#000;
	}
	#content .box .box-product ul li .inner .name a, .product-grid .name a{
		display: inline;
		padding:0;
	}
	#content .box .box-product ul li .description, .product-grid ul li .description {
		padding:0;
	}
	 aside .box-product .inner {
		border-top:none;
		}
	#content .box-product li{
		margin-bottom:30px;
		}
	/*********************** search *************************/
	#search {
		position:fixed;
		top:50px;
		left:0px;
		z-index:101;
		display:none;
		width:100%;
		margin:0;
		z-index:10;
		}
	#search .inner {
		padding:4px 5px;
		background-color:#98b541;
		overflow:hidden;
		position:relative;
		}
	#search input {
		width:100%;
		max-width:none;
		border-radius:4px;
		box-shadow:inset 0 0 11px rgba(0,0,0,0.22);
		height:44px;
		padding:10px 40px 10px 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
		}
	#search .button-search {
		position:absolute;
		top:12px;
		right:12px;
		background-image:none;
		color:#fff;
		background:#ACC955;
		border:none;
		padding: 0;
		line-height: 30px;
		width: 30px;
		text-align:center;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		}
	header .top-site .icon-search:before {
		background:none;
		font-size:20px;
		content: "" !important;
		line-height: 30px;
		height: 30px;
		width: 30px;
	}
	#search .button-search:hover {background:#FB838D; color:#fff;}
	/******************* Cart *******************************/
	.cart-position #cart .heading span.link_a b, .cart-position #cart .heading span.link_a #cart-total, .cart-position #cart .heading span.link_a i.icon-angle-down {display:none;}
	.cart-position{
		min-width:83px;
		}
	.cart-position #cart .heading span.link_a #cart-total2 {
		background:url(cart-total2.png) no-repeat left top;
		display:block;
		position:absolute;
		top:14px;
		left:45px;
		height:22px;
		line-height:20px;
		width:30px;
		text-align:center;
		overflow:hidden;
		color:#fff;
		}
	header #cart.active .content {
		display: block;
		}
	.toprow-1 .cart-position {display:block; margin:0;}
	/*******************************************************/
	aside .box.category {display:none;}
	aside .box-content {display:none;}
	aside .box-heading:hover {
		cursor:pointer;
		}
	.box-heading i {
		float:right;
		line-height:25px;
		color:#fbdbdd;
	  }
	.box-heading:hover i {
		color:#fff;
	  }
	.box-filter .box-content{
		margin-bottom:20px;
	}
	/*************************swipe menu***************************/
	.swipe-control i {font-size:26px; color:#fff; line-height:50px;}
	.swipe-control:hover i {text-decoration:none;}
	.swipe-control {
		display: block;
		height: 50px;
		width: 64px;
		z-index: 100;
		text-align:center;
		border-right:1px solid #8b9e52;
		float:left;
	}
	body #page {
		height:100%
		}
	body.ind div.shadow{
		left:0;
		top:0;
		display:block;
		width:100%;
		height:100%;
		position:absolute;
		background-color:#000;
		z-index:99;
		opacity:0.5;
		}
	body.ind #page {
		margin-left: 237px;
		width:100%;
		position:fixed;
		left:0;
		top:0;
		z-index:2;
		}
	body #body .swipe .swipe-menu{
		background-color: #fff;
		height:100%;
		overflow:scroll;		
		}
	body #body .swipe {
		display:none;
		}
	body.ind #body .swipe {
		display:block;
		background-color:#fff;
		position:fixed;
		color:#717171;
		width:237px;
		top:50px;
		left:0px;
		z-index:100;
		overflow:hidden;
		z-index:101;
		}	
	header .toprow {display:none;}
	header .toprow-1 {display:block;}
	

	/********************************************/	
	.box .box-product ul li .image2 a, .product-grid .image a, .product-list .image a, .box-subcat .image a {
		padding:0;
	}	
	.product-list{
		padding:0;
		border:none;
	}
	#livesearch_search_results {
		display:none !important; 
		}
	/************************************ product list ****************************************************/
	.product-list ul li .image {
		width:30%;
		float:left;
		}
	.product-list ul li .left {
		width:63%;
		float:left;
		margin-left:5%;
		}
	/********************************  product grid ***********************************************************/
	.product-grid ul li {
		overflow:hidden;
		padding-top:20px;
		margin-bottom:20px;
		border-top:1px solid #DBDBDB;
		}
	.product-grid ul li:first-child {
		border-top:none;
		padding-top:0;
		}
	.product-grid ul li .image {
		width:30%;
		float:left;
		}
	.product-grid ul li .left {
		width:63%;
		float:left;
		margin-left:5%;
		border:none;
		text-align:left;
		padding:0;
		background:none;
		}

	/************************************** box-category ********************/
	.box-product.box-subcat .name.subcatname {
		height: auto;
		text-align:left;
		background:none;
	}
	.box-product.box-subcat li {
		height:auto !important;
		overflow:hidden;
		}
	.box-product.box-subcat li .image {
		float:left;
		width:30%;
		max-width:170px;
		margin-bottom:0;
		border:none;
		text-align:left;
		}
	.box-product.box-subcat li .name.subcatname {
		width:63%;
		float:left;
		margin-left:5%;
		padding:0;
		background:none;
		}  
	.order-list .order-info {
		text-align:left;
		}
	.order-content{
		padding-top:0;
		}
	.order-content>div>div {
		margin-top:20px;
		}
	.banner {
		padding:5% 0;
		border:1px solid #DBDBDB;
		float:none;
		margin-bottom:20px;
		width:49%;
	}
	#banner1{
		float:right;
	}
	.banner > div {
		margin:0 auto 0;
	}
	
	.banner .s-desc {
		padding: 27px 20px 20px 20px;
		font-size:12px;
		line-height:14px;
	}	
	.banner .s-desc p {
		font-size: 12px;
		line-height: 21px;
		padding-left:3px;
		margin-bottom: 12px;
	}
	.banner h1{
		font-size:20px;
		line-height:24px;
		margin-bottom:4px;
	}
	.banner .s-desc span {
		width:51px;
		height:51px;
		border: 6px solid #B2D44A;
		font-size: 24px;
		height: 51px;
		line-height: 17px;
		padding: 10px;
		width: 51px;
		margin-left:14px;
	}
	.banner .banner-2 .s-desc {
		padding: 44px 15px 20px 35%;
		font-size: 14px;
		line-height: 16px;
	}
	.banner .banner-2 h1{
		line-height:25px;
	}
	
}
/****************************************************/
@media (max-width: 650px) {
	.banner, #banner1{
		float:none;
		border:none;
		padding:0;
		margin:0 auto 20px;
		width:100%;
	}
	
}
/***************************************************/
@media (max-width: 555px) {
	.content-border h2{
		margin-bottom:20px;
		}
	.content-border {
		border:0;
		padding:0px;
		margin-bottom:0px;
		}
	.checkout .checkout-product .table td {
		font-size:12px !important;
		padding:4px 2px !important;
		}
	.product-list .cart-button {
		position:static;
		float:none;
		margin:10px 0 0 0
		}
	.shop-cart .table.table-bordered {
		border:0
		}
	.shop-cart .table {display:block;width:100%}
	.shop-cart .table thead {display:none;}
	.shop-cart .table tbody {
		display:block;
		border:0;
		}
	.shop-cart .table tbody tr {
		display:block;
		margin-bottom:30px; 
		border:1px solid #d7d7d7;
		border-bottom:0;
		}
	.shop-cart .table tbody td {
		display:block;
		text-align:center;
		border:0;
		border-bottom:1px solid #d7d7d7;
		}
}

/******************************************************/
@media (max-width: 515px) {
	img#captcha {
		margin-left:0px;
	}
}
@media (max-width: 512px) {
	.banner {
			padding:10px 0 0 0;
			background:none;
		}
}
/******************************************************/
@media (max-width: 480px) {
	.product-info .cart-top .wishlist, .product-info .cart-top .compare{
		display:none;
	}
	.camera_caption{
		display:none !important;
	}
	.checkout-content .name a{
		font-size:10px;
	}
	header #logo {		
		min-width: 0;
		max-width:90%;
	}
	header #logo a{
		margin-right: 20px;
		display:block;
	}
	.checkout .checkout-product .table td {
		font-size:9px !important;
		padding:4px 1px !important;
	}
	
}
/******************************************************/
@media (max-width: 440px) {
	.login-content .heading i {
		font-size:30px;
		}
	.login-content .heading h2 {
		font-size:13px;
		}
	.checkout-content {
		padding:10px
		}
	header #cart.active .content {
		height:250px;
		overflow:hidden;
		}
	header #cart.active .content .content-scroll {
		height:100%;
		overflow:scroll;
		webkit-overflow-y:scroll
		}
	.cart-bottom .buttons .center {text-align:right;}
}	  
/******************************************************/
@media (max-width: 410px) {
	.product-info .review img {
		margin-bottom:10px;
		float:none;
		}
	.product-info .review .btn-rew {
		float:none;
		}
	.product-filter .sort {
		float:none;
		}
	.product-filter .limit {
		float:none;
		margin:10px 0 0 0;
		}
}

/******************************************************/
@media (max-width: 372px) {
	a.button-prod {
		margin-left:0;
	}	
}
/******************************************************/
@media (max-width: 345px) {
	.banner .s-desc{
		padding-top:17px;
	}
	.banner .s-desc p {
		width: 90%;
		margin-bottom:5px;
	}
	.banner .banner-2 .s-desc {
		padding-top: 37px
	}
	.banner h1 {
		font-size: 18px;
	}
}