/* default default */
/* margin and padding help opera */
body {font-family: Tahoma,Verdana,Arial, sans-serif; margin: 0px; padding: 0px; font-size: 10pt}

/* This covers ALL elements up to this point */
/* * { font-size: 10pt} */
p {font-size: 100%}

table,h4,h5,h6 {font-size: 100%}

h3 {font-size: 110%}
h2 {font-size: 120%}
h1 {font-size: 140%}

/* Default table colours */
table {background: transparent; color: inherit}

/* a nice light-coloured table */
table.light {background: white; color: black}
table.light th {background: #eef; color: #004}
table.light td {background: #f7f7f7; color: black}

/* for left-aligned table headers */
table.leftth th {text-align: left; padding-right: 0.5em}

/* for right-aligned table headers */
table.rightth th {text-align: right; padding-right: 0.5em}

/* setup for 'border=1' */
table[border="1"], table[border="1"] td, table[border="1"] th {
  border: 1px solid black
}

table[border="1"].light th, table[border="1"].light td {border: none}

/* A special <dl> format for feature lists */
dl.features dt {font-weight: bolder; list-style: disc outside; display: list-item; margin-left: 1.5em}
dl.features dd {font-weight: inherit; margin-left: 3em}

kbd, code, samp, pre {font-family: monospace}
/* pre {font-family: inherit} */

a { text-decoration:none}
a:hover { text-decoration:underline;}
a:hover img {text-decoration: none; border: none}
img {border: none}

/*
td {  font-size: 10pt }

li {  font-size: 10pt }
*/

.error {color:#FF0000; /* font-size:10pt; */ font-weight:bold; vertical-align: middle}

.error {
  text-align: left;
  padding-left:32px; 
  height: 32px; 
  padding-top: 7px; 
  background: url('http://www.oilandgaspages.com/images/error.gif') no-repeat top left;
}

.done {color:#0000FF; /* font-size:10pt; */ font-weight:bold}

p.done {
  padding-left:32px; 
  height: 32px; 
  padding-top: 7px; 
  background: url('http://www.oilandgaspages.com/images/done.gif') no-repeat top left; 
}

.small { font-size: 8pt}

img.icon {width: 32px; height: 32px; border: none}

.centre-text {text-align: center}
.centre {text-align: center}
.centre * {margin-left:auto; margin-right: auto}
.left-text {text-align: left}

.icontable {width: 300px; padding: 0px}
.icontable div.iconitem {float: left; margin: 4px;width: 90px; height: 70px; overflow: hidden}

/* This is so that we can "share", but override, the css for this */
ul.login-lfeatures {padding: 0px; margin: 0px}
ul.login-lfeatures li {list-style: none; margin-top: 0.5em; margin-bottom: 0.5em;margin-left: 0px}

/* image stuff follows */

/* MSIE bug workaround */

#dialup-icon, #supp-icon, .view-icon, .config-icon, .install-icon, .doc-icon, .dl-icon, #webmail-icon, #fileman-icon, #intapp-icon, #accutil-icon, #wb-icon, #ecomm-icon, #email-icon, #js-icon, #res-icon, #diag-icon, #rep-icon {margin-left: auto; margin-right: auto;width: 32px; height: 32px; border: none}

.mailme-icon, .printer-icon {width: 24px; height: 24px; border: none; margin: 0px;margin-left: auto; margin-right: auto}

.dl-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/download.gif")}
.doc-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/document.gif")}
.install-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/install.gif")}
.config-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/configure.gif")}
.view-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/view.gif")}
.printer-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/printer.png")}
.mailme-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/mail_forward.png")}

#email-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-email.png")}
#accutil-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-accutil.png")}
#diag-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-diagnostics.png")}
#js-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-javascript.png")}
#res-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-resources.png")}
#ecomm-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-ecommerce.png")}
#fileman-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-filemanager.png")}
#rep-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-reporting.png")}
#intapp-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-intapp.png")}
#webmail-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-webmail.png")}
#wb-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/menu-webbuilder.png")}
#supp-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/supportdb.png")}
#dialup-icon {background: url("http://www.oilandgaspages.com/images/update/Update%20Your%20Email%20Account_files/images/access.png")}

.supportdb-answer {background: #eee; border: 2px groove; padding: 0.5em}
.supportdb-action {float:right; text-align: center; width: 100px}
.menu-frag-collapsed
	{visibility:hidden;height: 0px; position: absolute; margin-left: 10px}
.menu-frag-expanded
	{visibility:visible;height: auto; position: relative; margin-left: 10px}
.menu-frag-collapsed td, .menu-frag-expanded td
	{padding-left: 10px}
.menu-frag-collapsed a , .menu-frag-expanded a {font-size: 80%}
.side-menu {padding-left: 10px; margin-left: 0px}
.side-menu li, .side-menu ul {list-style: none; padding-left: 10px}
