 /*Bahasa Melayu*/
.head h2 {width:180px}

 .i h1 {text-transform:none;}
 .i h2 {text-transform:none;}

 .bottom div.awrd {left:335px}

  .smallHeader .slog h2 {width:100px !important;font-size:13px !important; text-transform:none !important;}

 .toolContainer .roundedBtn {margin: 0;float:right;margin-right:10px;}
 .toolContainer .toolVersion {margin: 0; width:250px;text-align: right;}

 .d1leftPanel .downloadThroughHelper .helperButtonInner {
   font-size: 10px;
   padding-top: 6px;
   padding-bottom: 4px;
 }

 .d1mainButtons .add2myAccountButton {
   max-width: 90px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }

 .guideTipsHolder .guideTip {
   width: 245px;
 }

 .site4shared #fstickcontent {
   padding-bottom: 220px;
 }

 .desktopPageDBholder .dButton {
   width: 335px;
 }

 .desktopPageDBholder .dButton .left {
   width: 300px;
 }
