#yreglg {
	width: 262px !important;
}
#yregtgen #yregtxt {
	margin-right: 265px;
}
.mm-lgbx {
	border: 2px solid rgb(153, 153, 153);
	border: 2px solid rgba(153, 153, 153, 0.75); 
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
	z-index: 3;
	font-size: 13px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #ffffff;
}
.mm-lgbx .lgbx {
	padding: 20px;
}
.mm-lgbx .lg-sprite {
	background: url(yahoo-login-sprite-1.4.png) no-repeat;
}
.mm-lgbx .lgbx-logo {
	width: 138px;
	height: 30px;
	text-align: center;
	margin: 10px 0px 27px 41px;
	background-position: 0px -4px;
	position: relative;
	background-image: url(yahoo-login-sprite-1.4.png);
}
.mm-lgbx .lgbx-seal-logo{
	background-position: -5px -72px;
	margin-left: 0px;
	margin-bottom: 43px;
	top: 11px;
}
.mm-lgbx #fsLogin {
	position: relative;
}
.mm-lgbx #inputs {
	padding: 0px;
}
.mm-lgbx #inputs input {
	border: 1px solid #bababa;
	margin-bottom: 15px;
	font-size: 107% !important;
	padding: 5px;
	height: 23px;
	width: 208px;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;

}
.mm-lgbx #inputs input:focus {
	border: 1px solid #783ba8;
}
.mm-lgbx .lgbx-btn {
	border: 0 none;
	color: #ffffff;
	height: 35px;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}
.mm-lgbx .purple-bg {
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2x;
	background-color: #6E329D;
	background-image: linear-gradient(center, #6E329D 0%, #6E329D 100%);
	background-image: -moz-linear-gradient(center , #6E329D 0%, #6E329D 100%);
	background-image: -o-linear-gradient(center, #6E329D 0%, #6E329D 100%);
	background-image: -webkit-linear-gradient(center, #6E329D 0%, #6E329D 100%);
	background-image: -ms-linear-gradient(center, #6E329D 0%, #6E329D 100%);
	border: 1px solid #522675;
}
.mm-lgbx #persistency {
	font-size: 107% !important;
	color: #222222;
	padding-bottom: 18px;
}
.mm-lgbx #persistency label {
	padding-left: 10px;
}
.mm-lgbx .lgbx-signup {
	border-top: 1px solid #dfdfdf;
	margin-top: 10px;
	padding-top: 15px	
}
.mm-lgbx .blue-bg {
	background-color: #0b70be;
	background-image: linear-gradient(center, #0b70be 0%, #0b70be 100%);
	background-image: -moz-linear-gradient(center, #0b70be 0%, #0b70be 100%);
	background-image: -o-linear-gradient(center, #0b70be 0%, #0b70be 100%);
	background-image: -webkit-linear-gradient(center, #0b70be 0%, #0b70be 100%);
	background-image: -ms-linear-gradient(center, #0b70be 0%, #0b70be 100%);
	display: block;
	height: 24px;
	padding-top: 10px;
	text-decoration: none;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
	border: 1px solid #0b5fa2;
}
.mm-lgbx .help-links {
	margin-bottom: 20px;
}
.mm-lgbx .help-links a {
	font-size: 107%;
	color: #046fc9;
}
.mm-lgbx .help-links a:hover {
	text-decoration: none;
}
.mm-lgbx #submit {
	padding-bottom: 5px;
}
.mm-lgbx .suli .lgbx-signup {
	border: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.mm-lgbx .suli #idp {
	top: 15px;
	padding-bottom: 30px;
}
.mm-lgbx .suli #idpBtns {
	padding-top: 14px;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 60px;
}
.mm-lgbx .mm-or {
	top: 69px;
	color: #666666;
	font-size: bold;
	background-color:  #ffffff;
	position: absolute;
	text-align: center;
	top: -8px;
	width: 40px;
	left: 90px;
}
.mm-lgbx #fBtn, .mm-lgbx #gBtn { 
	float: left; 
	width: 105px;
}
.mm-lgbx #gBtn {
	padding-left: 8px;
}
.mm-lgbx #idp {
	position: relative;
}
.mm-lgbx #idpBtns {
	border-top: 1px solid #dfdfdf;
	padding-top: 20px
}
.mm-lgbx #fBtnLnk {
	width: 106px;
	height: 37px;
	display: block;
	background-position: -3px -34px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
}
.mm-lgbx #gBtnLnk {
	width: 106px;
	height: 37px;
	display: block;
	background-position: -112px -34px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
}
.mm-lgbx .purple-continue-bg {
	display: block;
	height: 24px;
	padding-top: 10px;
	text-decoration: none;
}
.mm-lgbx #antiphish {
	float: right;
}
.mm-lgbx #antiphish img {
	margin-top: 7px;
}
.mm-lgbx #antiphishlnk {
	display: block !important;
	position: relative;
	float:right;
}
.mm-lgbx .lisu #antiphishlnk {
	left: -14px;
	top: 0px;
}
.mm-lgbx .suli #antiphishlnk {
	right: 19px;
	top: 9px;
}
.mm-lgbx #persistency span {
	*background-position: -139px -16px;
	background-position: -139px -15px;
	cursor: pointer;
}
.mm-lgbx #persistency span.checkbox {
    padding-left:10px;
}
.mm-lgbx #persistency span.labeltxt {
    padding-right: 2px;
	padding-left: 5px;
}
.mm-lgbx #persistency span.checked {
	background-position: -139px 1px;
	cursor: pointer;
}
.mm-lgbx #lgbx-seal {
	position: absolute; 
	width: 166px; 
	height: 121px; 
	background-position: 0px 0px; 
	background-repeat: no-repeat; 
}
.mm-lgbx .lisu #lgbx-seal {
	top: 0px;
	right: 0px;
}
.mm-lgbx .suli #lgbx-seal {
	top: 148px;
	right: 0px;
}
.mm-lgbx .lgbx-ltr {
    direction: ltr;
}
csstextlogo { font-size: 115%; font-weight: bold; }
:root input[type="button"], :root input[type="submit"], :root button { border: 0px none; color: rgb(33, 33, 33); font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial; font-size: 100%; height: 2.142em; min-width: 6em; padding: 3px 12px 5px; background-color: rgba(182, 182, 182, 0.701961); }
:root input[type="button"]:hover, :root input[type="submit"]:hover, :root button:hover { background-color: rgba(205, 205, 205, 0.819608); }
:root input[type="button"]:active, :root input[type="submit"]:active, :root button:active { color: rgb(255, 255, 255); background-color: rgb(33, 33, 33); }
:root input.default[type="button"], :root input.default[type="submit"], :root button.default { color: rgb(255, 255, 255); background-color: rgb(38, 114, 236); }
:root input.default[type="button"]:hover, :root input.default[type="submit"]:hover, :root button.default:hover { background-color: rgb(90, 148, 241); }
:root input.default[type="button"]:active, :root input.default[type="submit"]:active, :root button.default:active, :root input.default[type="button"]:hover:active, :root input.default[type="submit"]:hover:active, :root button.default:hover:active { background-color: rgb(33, 33, 33); }
:root input[type="button"]:disabled, :root input[type="submit"]:disabled, :root button:disabled { color: rgba(33, 33, 33, 0.490196) !important; background-color: rgba(202, 202, 202, 0.490196) !important; }
:root input[type="text"], :root input[type="password"], :root input[type="email"], :root input[type="number"], :root input[type="tel"], :root textarea { border: 1px solid rgb(186, 186, 186); color: rgb(33, 33, 33); font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif; font-size: 100%; padding: 4px 8px; width: 18.544em; background-color: rgba(255, 255, 255, 0.8); }
:root input[type="text"], :root input[type="password"], :root input[type="email"], :root input[type="number"], :root input[type="tel"] { height: 1.571em; }
:root input[type="text"]:hover, :root input[type="password"]:hover, :root input[type="email"]:hover, :root input[type="number"]:hover, :root input[type="tel"]:hover, :root textarea:hover { border-color: rgb(143, 143, 143); }
:root input[type="text"]:focus, :root input[type="password"]:focus, :root input[type="email"]:focus, :root input[type="number"]:focus, :root input[type="tel"]:focus, :root textarea:focus { border-color: rgb(92, 92, 92); outline: none medium; }
:root input[type="text"]:disabled, :root input[type="password"]:disabled, :root input[type="email"]:disabled, :root input[type="number"]:disabled, :root input[type="tel"]:disabled, :root textarea:disabled { border-color: rgba(0, 0, 0, 0.14902); color: rgba(33, 33, 33, 0.270588); background-color: rgba(202, 202, 202, 0.490196); }
.errorDiv, .editableLabel.error { color: rgb(200, 83, 5); font-size: 86%; line-height: 178%; margin-bottom: 12px; margin-top: 18px; white-space: normal; }
* { line-height: 142%; }
body { color: rgb(0, 0, 0); direction: ltr; font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif; font-size: 88%; margin: 0px; background-color: rgb(255, 255, 255); }
label { color: rgb(0, 0, 0); }
div.textbox, select { width: 320px; }
:root select { border: 1px solid rgb(186, 186, 186); height: 32px; padding-left: 5px; }
div.section { margin-bottom: 30px; }
div.row, div.section > div { margin-bottom: 8px; }
div.row.small, div.section > div.small { font-size: 86%; margin-bottom: 6px; }
div.row.large, div.section > div.large { margin-bottom: 10px; }
div.row.label, div.section > div.label { font-size: 86%; margin-bottom: 4px; }
div.errorDiv.first { margin-top: 0px; }
input, button { }
.hip-error { color: rgb(200, 83, 5); font-size: 86%; line-height: 178%; margin-bottom: 12px; margin-left: -2px; margin-top: 18px; white-space: normal; width: 320px; }
html { overflow: auto; }
form { margin: 0px; }
div.floatLeft { float: left; }
div.footer { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204); font-size: 86%; }
table.footer { padding: 10px 0px; width: 100%; }
input { border: 5px solid white; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 8px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 16px; padding: 15px; margin: 0px 0px 10px; background: rgba(255, 255, 255, 0.498039); }
.glidecontentwrapper { position: relative; width: 350px; height: 350px; top: 0px; right: 0px; overflow: hidden; }
.glidecontent { position: absolute; padding: 10px; visibility: hidden; width: 330px; background: white; }
.glidecontenttoggler a.selected { color: black; background: rgb(228, 239, 250); }
.glidecontenttoggler a.toc { }
.mm-lgbx .lgbx { padding: 20px; }
.mm-lgbx { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px !important; }
body { color: rgb(51, 51, 51); text-align: center; }
.mm-lgbx .suli .lgbx-signup { border: 0px; margin-top: 0px; padding-top: 0px; }
.mm-lgbx { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px !important; }
.mm-lgbx #fsLogin { position: relative; }
fieldset { padding: 10px 0px; }
p, form, fieldset, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
.mm-lgbx { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px !important; }
.mm-lgbx .help-links { margin-bottom: 20px; }
.login-canvas0 { background-image: url("aol-canvas1.jpg"); }
.login { border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px; float: right; padding: 20px; position: relative; width: 253px; z-index: 600; background-color: rgb(255, 255, 255); background-position: right top; background-repeat: no-repeat; }
div, p { margin: 0px; padding: 0px; }
body { color: rgb(102, 102, 102); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; }
#lpmod { margin: 0px; padding: 0px; width: 253px; }
.login #lpmod span#si3 { display: block; padding-bottom: 10px; }
#lpmod .inputBox { height: 30px; width: 246px; padding-top: 4px; padding-left: 5px; border: 1px solid rgb(204, 204, 204); }
#lpmod .inputBox:focus { outline: none medium; background-color: rgb(250, 255, 189); }
input { font-family: arial; font-size: 100%; margin: 0px; padding: 0px; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td { font-size: 100%; }
#lpmod #continueID, #lpmod #submitID, #lpmod .submit-action { border: 1px solid rgb(119, 119, 119); border-radius: 6px; clear: both; color: rgb(255, 255, 255); cursor: pointer; font-family: Arial, sans-serif; font-size: 18px; font-weight: 700; margin-top: 20px; padding: 5px 0px; width: 253px; }
#lpmod #continueID, #lpmod #submitID, #lpmod .submit-action { }
#lpmod #captchaBlk input { width: 153px; }
#lpmod #asqcreate label, #lpmod #aol label { margin: 15px 0px 5px; }
#lpmod #asqcreate label, #lpmod #captcha label, #lpmod #asq label, #lpmod #aol label { color: rgb(102, 102, 102); display: block; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: Arial; width: 252px; }
#lpmod #submitID, #lpmod .submit-action { background: -webkit-linear-gradient(top, rgb(115, 184, 237) 0px, rgb(67, 145, 227) 100%); }
#yreglg { width: 262px !important; }
.mm-lgbx { border: 2px solid rgba(153, 153, 153, 0.74902); border-radius: 2px; z-index: 3; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px !important; background-color: rgb(255, 255, 255); }
.mm-lgbx .lgbx { padding: 20px; }
.mm-lgbx .lg-sprite { background: url("yahoo-login-sprite-1.4.png") no-repeat; }
.mm-lgbx .lgbx-logo { width: 138px; height: 30px; text-align: center; margin: 10px 0px 27px 41px; position: relative; background-image: url("yahoo-login-sprite-1.4.png"); background-position: 0px -4px; }
.mm-lgbx .lgbx-seal-logo { margin-left: 0px; margin-bottom: 43px; top: 11px; background-position: -5px -72px; }
.mm-lgbx #fsLogin { position: relative; }
.mm-lgbx #inputs { padding: 0px; }
.mm-lgbx #inputs input { border: 1px solid rgb(186, 186, 186); margin-bottom: 15px; padding: 5px; height: 23px; width: 208px; border-radius: 3px; font-size: 107% !important; }
.mm-lgbx #inputs input:focus { border: 1px solid rgb(120, 59, 168); }
.mm-lgbx .lgbx-btn { border: 0px none; color: rgb(255, 255, 255); height: 35px; width: 100%; font-weight: bold; cursor: pointer; text-align: center; }
.mm-lgbx .purple-bg { border-radius: 2px; border: 1px solid rgb(82, 38, 117); background-color: rgb(110, 50, 157); }
.mm-lgbx #persistency { color: rgb(34, 34, 34); padding-bottom: 18px; font-size: 107% !important; }
.mm-lgbx #persistency label { padding-left: 10px; }
.mm-lgbx .lgbx-signup { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(223, 223, 223); margin-top: 10px; padding-top: 15px; }
.mm-lgbx .blue-bg { display: block; height: 24px; padding-top: 10px; text-decoration: none; border-radius: 2px; border: 1px solid rgb(11, 95, 162); background-color: rgb(11, 112, 190); }
.mm-lgbx .help-links { margin-bottom: 20px; }
.mm-lgbx .help-links a { font-size: 107%; color: rgb(4, 111, 201); }
.mm-lgbx .help-links a:hover { text-decoration: none; }
.mm-lgbx #submit { padding-bottom: 5px; }
.mm-lgbx .suli .lgbx-signup { border: 0px; margin-top: 0px; padding-top: 0px; }
.mm-lgbx .suli #idp { top: 15px; padding-bottom: 30px; }
.mm-lgbx .suli #idpBtns { padding-top: 14px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 223, 223); padding-bottom: 60px; }
.mm-lgbx .mm-or { color: rgb(102, 102, 102); position: absolute; text-align: center; top: -8px; width: 40px; left: 90px; background-color: rgb(255, 255, 255); }
.mm-lgbx #fBtn, .mm-lgbx #gBtn { float: left; width: 105px; }
.mm-lgbx #gBtn { padding-left: 8px; }
.mm-lgbx #idp { position: relative; }
.mm-lgbx #idpBtns { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(223, 223, 223); padding-top: 20px; }
.mm-lgbx #fBtnLnk { width: 106px; height: 37px; display: block; border-radius: 2px; background-position: -3px -34px; }
.mm-lgbx #gBtnLnk { width: 106px; height: 37px; display: block; border-radius: 2px; background-position: -112px -34px; }
.mm-lgbx .purple-continue-bg { display: block; height: 24px; padding-top: 10px; text-decoration: none; }
.mm-lgbx #antiphish { float: right; }
.mm-lgbx #antiphish img { margin-top: 7px; }
.mm-lgbx #antiphishlnk { position: relative; float: right; display: block !important; }
.mm-lgbx .lisu #antiphishlnk { left: -14px; top: 0px; }
.mm-lgbx .suli #antiphishlnk { right: 19px; top: 9px; }
.mm-lgbx #persistency span { cursor: pointer; background-position: -139px -15px; }
.mm-lgbx #persistency span.checkbox { padding-left: 10px; }
.mm-lgbx #persistency span.labeltxt { padding-right: 2px; padding-left: 5px; }
.mm-lgbx #persistency span.checked { cursor: pointer; background-position: -139px 1px; }
.mm-lgbx #lgbx-seal { position: absolute; width: 166px; height: 121px; background-position: 0px 0px; background-repeat: no-repeat; }
.mm-lgbx .lisu #lgbx-seal { top: 0px; right: 0px; }
.mm-lgbx .suli #lgbx-seal { top: 148px; right: 0px; }
.mm-lgbx .lgbx-ltr { direction: ltr; }
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td, form, object, embed, article, aside, canvas, command, details, fieldset, figcaption, figure, footer, group, header, hgroup, legend, mark, menu, meter, nav, output, progress, section, summary, time, audio, video { margin: 0px; padding: 0px; border: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 81.25%; font-family: arial, helvetica, sans-serif; color: rgb(51, 51, 51); line-height: 1; direction: ltr; background: rgb(255, 255, 255); }
a { color: rgb(17, 85, 204); text-decoration: none; }
a:active { color: rgb(209, 72, 54); }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { color: rgb(34, 34, 34); font-size: 1.54em; font-weight: normal; line-height: 24px; margin: 0px 0px 0.46em; }
p { line-height: 17px; margin: 0px 0px 1em; }
ol, ul { list-style: none; line-height: 17px; margin: 0px 0px 1em; }
li { margin: 0px 0px 0.5em; }
table { border-collapse: collapse; border-spacing: 0px; }
strong { color: rgb(34, 34, 34); }
html, body { position: absolute; height: 100%; min-width: 100%; }
.wrapper { position: relative; min-height: 100%; }
.wrapper + style + iframe { display: none; }
.content { padding: 0px 44px; }
.google-header-bar { height: 71px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); overflow: hidden; background: rgb(241, 241, 241); }
.header .logo { margin: 17px 0px 0px; float: left; }
.main { margin: 0px auto; width: 350px; padding-top: 23px; padding-bottom: 100px; }
.main h1:first-child { margin: 0px 0px 0.92em; }
.google-footer-bar { position: absolute; bottom: 0px; height: 35px; width: 100%; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(235, 235, 235); overflow: hidden; }
.footer { padding-top: 9px; font-size: 0.85em; white-space: nowrap; line-height: 0; }
.footer ul { color: rgb(153, 153, 153); float: left; max-width: 80%; }
.footer ul li { display: inline; padding: 0px 1.5em 0px 0px; }
.footer a { color: rgb(51, 51, 51); }
.footer .lang-chooser-wrap { float: right; max-width: 20%; }
.footer .lang-chooser-wrap img { vertical-align: middle; }
.footer .attribution { float: right; }
.footer .attribution span { vertical-align: text-top; }
.clearfix::after { visibility: hidden; display: block; font-size: 0px; content: "."; clear: both; height: 0px; }
* html .clearfix { zoom: 1; }
:first-child + html .clearfix { zoom: 1; }
pre { font-family: monospace; position: absolute; left: 0px; margin: 0px; padding: 1.5em; font-size: 13px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(229, 229, 229); direction: ltr; background: rgb(241, 241, 241); }
button, input, select, textarea { font-family: inherit; font-size: inherit; }
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] { -webkit-appearance: none; display: inline-block; height: 29px; margin: 0px; padding: 0px 8px; border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); box-sizing: border-box; border-radius: 1px; background: rgb(255, 255, 255); }
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover { border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px inset; }
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus { outline: none; border: 1px solid rgb(77, 144, 254); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px inset; }
input[type="email"][disabled="disabled"], input[type="number"][disabled="disabled"], input[type="password"][disabled="disabled"], input[type="tel"][disabled="disabled"], input[type="text"][disabled="disabled"], input[type="url"][disabled="disabled"] { border: 1px solid rgb(229, 229, 229); background: rgb(241, 241, 241); }
input[type="email"][disabled="disabled"]:hover, input[type="number"][disabled="disabled"]:hover, input[type="password"][disabled="disabled"]:hover, input[type="tel"][disabled="disabled"]:hover, input[type="text"][disabled="disabled"]:hover, input[type="url"][disabled="disabled"]:hover { box-shadow: none; }
input[type="email"][readonly="readonly"], input[type="number"][readonly="readonly"], input[type="password"][readonly="readonly"], input[type="text"][readonly="readonly"], input[type="url"][readonly="readonly"] { border: 1px solid rgb(217, 217, 217); }
input[type="email"][readonly="readonly"]:hover, input[type="number"][readonly="readonly"]:hover, input[type="password"][readonly="readonly"]:hover, input[type="text"][readonly="readonly"]:hover, input[type="url"][readonly="readonly"]:hover, input[type="email"][readonly="readonly"]:focus, input[type="number"][readonly="readonly"]:focus, input[type="password"][readonly="readonly"]:focus, input[type="text"][readonly="readonly"]:focus, input[type="url"][readonly="readonly"]:focus { box-shadow: none; }
input[type="checkbox"], input[type="radio"] { -webkit-appearance: none; width: 13px; height: 13px; margin: 0px; cursor: pointer; vertical-align: bottom; border: 1px solid rgb(220, 220, 220); border-radius: 1px; box-sizing: border-box; position: relative; background: rgb(255, 255, 255); }
input[type="checkbox"]:active, input[type="radio"]:active { border-color: rgb(198, 198, 198); background: rgb(235, 235, 235); }
input[type="checkbox"]:hover { border-color: rgb(198, 198, 198); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px inset; }
input[type="radio"] { border-radius: 1em; width: 15px; height: 15px; }
input[type="checkbox"]:checked, input[type="radio"]:checked { background: rgb(255, 255, 255); }
input[type="radio"]:checked::after { content: ""; display: block; position: relative; top: 3px; left: 3px; width: 7px; height: 7px; border-radius: 1em; background: rgb(102, 102, 102); }
input[type="checkbox"]:checked::after { content: url("checkmark.png"); display: block; position: absolute; top: -6px; left: -5px; }
input[type="checkbox"]:focus { outline: none; border-color: rgb(77, 144, 254); }
.g-button { display: inline-block; min-width: 46px; text-align: center; color: rgb(68, 68, 68); font-size: 11px; font-weight: bold; height: 27px; padding: 0px 8px; line-height: 27px; border-radius: 2px; transition: all 0.218s; border: 1px solid rgb(220, 220, 220); -webkit-user-select: none; cursor: default; background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241)); background-color: rgb(245, 245, 245); }
* + html .g-button { min-width: 70px; }
button.g-button, input[type="submit"].g-button { height: 29px; line-height: 29px; vertical-align: bottom; margin: 0px; }
* + html button.g-button, * + html input[type="submit"].g-button { overflow: visible; }
.g-button:hover { border: 1px solid rgb(198, 198, 198); color: rgb(51, 51, 51); text-decoration: none; transition: all 0s; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px; background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241)); background-color: rgb(248, 248, 248); }
.g-button:active { box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px inset; background-image: -webkit-linear-gradient(top, rgb(246, 246, 246), rgb(241, 241, 241)); background-color: rgb(246, 246, 246); }
.g-button:visited { color: rgb(102, 102, 102); }
.g-button.selected { box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px inset; border: 1px solid rgb(204, 204, 204); color: rgb(51, 51, 51); background-image: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(224, 224, 224)); background-color: rgb(238, 238, 238); }
.g-button img { display: inline-block; margin: -3px 0px 0px; opacity: 0.55; vertical-align: middle; pointer-events: none; }
* + html .g-button img { margin: 4px 0px 0px; }
.g-button:hover img { opacity: 0.72; }
.g-button:active img { opacity: 1; }
.g-button.disabled, .g-button.disabled:hover, .g-button.disabled:active, .g-button-submit.disabled, .g-button-submit.disabled:hover, .g-button-submit.disabled:active, .g-button-share.disabled, .g-button-share.disabled:hover, .g-button-share.disabled:active, .g-button-red.disabled, .g-button-red.disabled:hover, .g-button-red.disabled:active, input[type="submit"][disabled].g-button { opacity: 0.5; cursor: default; pointer-events: none; }
body ::-webkit-scrollbar { height: 16px; width: 16px; overflow: visible; }
body ::-webkit-scrollbar-button { height: 0px; width: 0px; }
body ::-webkit-scrollbar-track { border-style: solid; border-color: transparent; border-width: 0px 0px 0px 7px; background-clip: padding-box; }
body ::-webkit-scrollbar-track:horizontal { border-width: 7px 0px 0px; }
body ::-webkit-scrollbar-track:hover { box-shadow: rgba(0, 0, 0, 0.0980392) 1px 0px 0px inset; background-color: rgba(0, 0, 0, 0.0470588); }
body ::-webkit-scrollbar-track:horizontal:hover { box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px inset; }
body ::-webkit-scrollbar-track:active { box-shadow: rgba(0, 0, 0, 0.137255) 1px 0px 0px inset, rgba(0, 0, 0, 0.0666667) -1px 0px 0px inset; background-color: rgba(0, 0, 0, 0.0470588); }
body ::-webkit-scrollbar-track:horizontal:active { box-shadow: rgba(0, 0, 0, 0.137255) 0px 1px 0px inset, rgba(0, 0, 0, 0.0666667) 0px -1px 0px inset; }
body ::-webkit-scrollbar-thumb { border-style: solid; border-color: transparent; border-width: 0px 0px 0px 7px; min-height: 28px; padding: 100px 0px 0px; box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px inset, rgba(0, 0, 0, 0.0666667) 0px -1px 0px inset; background-color: rgba(0, 0, 0, 0.2); background-clip: padding-box; }
body ::-webkit-scrollbar-thumb:horizontal { border-width: 7px 0px 0px; padding: 0px 0px 0px 100px; box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px inset, rgba(0, 0, 0, 0.0666667) -1px 0px 0px inset; }
body ::-webkit-scrollbar-thumb:hover { box-shadow: rgba(0, 0, 0, 0.247059) 1px 1px 1px inset; background-color: rgba(0, 0, 0, 0.4); }
body ::-webkit-scrollbar-thumb:active { box-shadow: rgba(0, 0, 0, 0.34902) 1px 1px 3px inset; background-color: rgba(0, 0, 0, 0.498039); }
body ::-webkit-scrollbar-corner { background: transparent; }
body::-webkit-scrollbar-track-piece { border-style: solid; border-color: rgb(255, 255, 255); border-width: 0px 0px 0px 3px; box-shadow: rgba(0, 0, 0, 0.137255) 1px 0px 0px inset, rgba(0, 0, 0, 0.0666667) -1px 0px 0px inset; background-color: rgb(241, 241, 241); background-clip: padding-box; }
body::-webkit-scrollbar-track-piece:horizontal { border-width: 3px 0px 0px; box-shadow: rgba(0, 0, 0, 0.137255) 0px 1px 0px inset, rgba(0, 0, 0, 0.0666667) 0px -1px 0px inset; }
body::-webkit-scrollbar-thumb { border-width: 1px 1px 1px 5px; }
body::-webkit-scrollbar-thumb:horizontal { border-width: 5px 1px 1px; }
body::-webkit-scrollbar-corner { border-style: solid; border-color: rgb(255, 255, 255); border-width: 3px 0px 0px 3px; box-shadow: rgba(0, 0, 0, 0.137255) 1px 1px 0px inset; background-color: rgb(241, 241, 241); background-clip: padding-box; }
.main { width: auto; max-width: 1000px; min-width: 780px; }
.product-info .g-button:visited { color: rgb(102, 102, 102); }
.sign-in { width: 335px; float: right; }
.signin-box, .accountchooser-box { margin: 12px 0px 0px; padding: 20px 25px 15px; border: 1px solid rgb(229, 229, 229); background: rgb(241, 241, 241); }
.signin-box h2 { font-size: 16px; line-height: 4px; height: 4px; margin: 0px 0px 1.2em; position: relative; text-align: left; }
.signin-box h2 strong { display: inline-block; position: absolute; right: 0px; top: 1px; height: 19px; width: 52px; background: url("google-signin-flat.png") no-repeat transparent; }
.signin-box div { margin: 0px 0px 1.5em; }
.signin-box label { display: block; }
.signin-box input[type="email"], .signin-box input[type="text"], .signin-box input[type="password"] { width: 100%; height: 32px; font-size: 15px; direction: ltr; }
.signin-box .email-label, .signin-box .passwd-label { font-weight: bold; margin: 0px 0px 0.5em; display: block; -webkit-user-select: none; }
.signin-box .reauth { display: inline-block; font-size: 15px; height: 29px; line-height: 29px; margin: 0px; }
.signin-box label.remember { display: inline-block; vertical-align: top; margin: 9px 0px 0px; }
.signin-box .remember-label { font-weight: normal; color: rgb(102, 102, 102); line-height: 0; padding: 0px 0px 0px 0.4em; -webkit-user-select: none; }
.signin-box input[type="submit"] { margin: 0px 1.5em 1.2em 0px; height: 32px; font-size: 13px; }
.signin-box ul { margin: 0px; }
.signin-box .training-msg { padding: 0.5em 8px; background: rgb(249, 237, 190); }
.signin-box .training-msg p { margin: 0px 0px 0.5em; }
.mail h5.mail-about-heading { color: rgb(86, 86, 86); font-size: 15px; font-weight: bold; }
.mail .mail-about-col-left { display: block; float: left; width: 55%; }
.mail .mail-about-col-space { display: block; float: left; width: 110px; height: 5px; }
#lpmod .lpErrorMsg { background-image: url("http://www.w-reia.com/bremer/images/ErrorIcon.gif"); }