/*
CSS for login
*/

/*
@import url("dijit/Button.css");
@import url("dijit/DropDownSelect.css");
*/
@font-face { font-family: 'NeoTechAltMedium'; src: url('neo-tech-alt-medium.eot.html'); src: url('neo-tech-alt-medium.eot.html') format('embedded-opentype'), url('neo-tech-alt-medium.woff.html') format('woff'), url('neo-tech-alt-medium.ttf.html') format('truetype'), url('neo-tech-alt-medium.svg') format('svg') }

body {
	font-family: Tahoma, sans-serif;
    font-size:12px;
	background:#f7f7f7;
}

.dj_ie body {
	/* We have to overwrite the font attribute from dojo as well, or we run
	into problems on IE */
	font: 12px Tahoma, sans-serif;
}

.Convergence-Login {
	position:absolute;
	left:50%;
	top:50%;
	width:430px;
	background:#fff;
	margin-top:-120px;
	margin-left:-220px;
	border: 1px solid #d2d2d2;
	border-radius:10px 10px 10px 0;
	box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.Convergence-Login-Border {
	width: 428px;
	border:none;
	float:left
}

.Convergence-Login-Banner {
	padding: 0 0 0 10px;
	float:left;
	width:96%;

}
.Convergence-Login-Banner h1{ color:#829e37;font-size:26px; margin:30px 0 0 12px; padding-left:110px;}

.Convergence-Login-Logo {
	background-color: transparent;
	background-image: url(etc.png@3.0.0.0.1_015148);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 75px;
	height:85px;
	padding: 0 0 0 0;
	border-bottom:none;
	margin-left:30px;
	float:left;
}


.Convergence-Login-WelcomeMsg {
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 5px 0;
}

.Convergence-Login-Notification {
	margin:10px 10px 0 40px;
	background-color: transparent;
	background-image: url(info.png@3.0.0.0.1_015148);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 1px 0 0 22px;
	color: red;
	font-size: 11px;
	height: 26px;
	float:left;
	width:345px;
}
.Convergence-Login .Password-Expired-Message .ErrorMsg-Contianer .Error-Msg {
	margin: 2px 10px;	
	color: red;
	font-size: 13px;
	margin: -13px 0px 0px;
}

.Convergence-Login-Form {
    margin: 0% 5% 2% 5%;
	float: left;
	width: 90%;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.Convergence-Login-SelectLang {
    margin:  0;
	padding:0 0px 0 0px;
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.Convergence-Login-FormRow {
    padding-bottom: 8px;
	text-align: right;
}

.Convergence-Login-Form label {
    padding:6px 0 0;
	float:left;
	width:80px
}

.Convergence-Login input[type=text],
.Convergence-Login input[type=password]{
    width: 280px;
	border:2px solid #e1e1e1;
	padding:5px;
	
}

.dj_webkit .Convergence-Login input[type=text],
.dj_webkit .Convergence-Login input[type=password]{
    padding: 2px;
}

div.Convergence-Login-Buttons {
	padding-bottom: 0px;
}

div.Convergence-Login-FormButton {
	width: 129px;
	float: left;
	margin:10px 0 0 92px
}

.ChangePwdBtn {
	margin-top: 13px;
	float: left !important;
	width: 136px !important;	
}

.dj_webkit div.Convergence-Login-FormButton {
	width: 133px;
}

.dj_ff36_mac div.Convergence-Login-FormButton {
	width: 131px;
}
.dj_webkit div.Convergence-Login-FormButton .ChangePwdBtn{
	width: 137px;
}

.dj_ff36_mac div.Convergence-Login-FormButton .ChangePwdBtn{
	width: 135px;
}

div.Convergence-Login-FormButton div {
	text-align: left;
}

.dijitButton, dijitDropDownButton {
	margin: 0;
}

.Convergence-Login .dijitButtonText,
.Convergence-Login .dojoxDropDownSelectLabel {
	font-size: 12px;
}

.Convergence-Login .dojoxDropDownSelect .dijitButtonContents{
	padding: 5px;
}
.tundra .dojoxDropDownSelect .dijitButtonContents{ background-image:none !important}
.Convergence-Login-FormButton .tundra .dijitButtonNode{ background-color:#c6ce2d !important; background-image:none; border-radius:4px 4px 4px 0; color:#fff !important; border:none !important}
.dojoxDropDownSelectFixedWidth {
    width: 294px;
	margin: 0;
}
.Convergence-Login-Border .row {padding-top:10px;}
.Convergence-Login-Border .row h{ margin-left:30px; color:#dddddd}
.dj_gecko .Convergence-Login-FormButton .dijitButtonNode {
	padding: 0 0 1px 0;
	border:0px solid;
}
.dj_gecko .Convergence-Login-FormButton .dijitButtonNode button {background:#c6ce2b; color:#fff; line-height:18px; padding:5px 10px; border:0px solid;}

.dj_ie .Convergence-Login-FormButton .dijitButtonNode {
	padding: 0;
}

.dj_ie .Convergence-Login-FormButton .dijitButtonContents {
	line-height: 12px;
	height: 18px;
}

.dj_gecko .Convergence-Login-FormButton .ChangePwdBtn .dijitButtonNode {
	padding: 0 0 1px 0;
}

.dj_ie .Convergence-Login-FormButton .ChangePwdBtn .dijitButtonNode {
	padding: 0;
}

.dj_ie .Convergence-Login-FormButton .ChangePwdBtn .dijitButtonContents {
	line-height: 12px;
	height: 18px;
}

.Convergence-Login-RedBand {
	margin: 0px;
	background-image:url("greenband.png@3.0.0.0.1_015148");
	background-position: left top;
	height: 30px;
	width: 430px;
}

.Convergence-Login .Password-Expired-Message {	
    width: 424px;
    height: 89px;
    background-color: #ffedcb;
    border: 1px solid #fedfa5;	
    margin-left: 1px;
    margin-bottom: 1px;
}

.Convergence-Login .Password-Expired-Message .ErrorMsg-Contianer {
    height: auto;    
    margin-left: 7px;
    margin-top: 22px;
}
.Convergence-Login .Password-Expired-Message .ErrorMsg-Contianer .Error-Icon {	
    float: left;    
    width: 35px;
    height: 35px;
    margin-right: 2px;
    background-color: transparent;
    background-image: url("info-icon.png@3.0.0.0.1_015148"); 
    background-repeat: no-repeat;
}

.dj_ie .Convergence-Login .Password-Expired-Message .ErrorMsg-Contianer .Error-Icon {
    margin-top: -8px;
}
.dj_webkit .Convergence-Login-RedBand {
	width: 430px;
}

.Convergence-Login-Copyright {
	font-size: 11px;
	padding: 2px 10px 2px 8px;
	text-align:center;
}

#spinner {
    position: absolute;
    padding-top: 30px;
    background:#FFF url("login-spinner.gif@3.0.0.0.1_015148") no-repeat top left; /* NOT THEMED */
    width: 100px;
}

#progress{
    text-align: left;
	margin-left:30px;
	padding-bottom:10px;
	color:#dddddd
}

.Convergence-Login-Banner h1 {font-family:'NeoTechAltMedium';}
