/* fonts */
@font-face{
    font-family:'AirstreamRegular';
    src:url('Airstream-webfont.eot');
    src:url('Airstream-webfont.eot@') format('embedded-opentype'),
        url('Airstream-webfont.woff') format('woff'),
        url('Airstream-webfont.ttf') format('truetype'),
        url('Airstream-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'BebasNeueRegular';
    src:url('BebasNeue-webfont.eot.html');
    src:url('BebasNeue-webfont.eot@.html') format('embedded-opentype'),
         url('BebasNeue-webfont.woff.html') format('woff'),
         url('BebasNeue-webfont.ttf.html') format('truetype'),
         url('BebasNeue-webfont.svg.html') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'BoycottRegular';
    src:url('BOYCOTT_-webfont.eot@') format('eot');
	src:url('BOYCOTT_-webfont.eot@') format('embedded-opentype'),
        url('BOYCOTT_-webfont.woff') format('woff'),
        url('BOYCOTT_-webfont.ttf') format('truetype'),
        url('BOYCOTT_-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'BPDietUltraBlack';
    src:url('BPdiet-webfont.eot');
    src:url('BPdiet-webfont.eot@') format('embedded-opentype'),
        url('BPdiet-webfont.woff') format('woff'),
        url('BPdiet-webfont.ttf') format('truetype'),
        url('BPdiet-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'ChunkFiveRegular';
    src:url('Chunkfive-webfont.eot@') format('eot');
	src:url('Chunkfive-webfont.eot@') format('embedded-opentype'),
        url('Chunkfive-webfont.woff') format('woff'),
        url('Chunkfive-webfont.ttf') format('truetype'),
        url('Chunkfive-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
	font-family:'DestroyRegular';
    src:url('DESTROY_-webfont.eot');
    src:url('DESTROY_-webfont.eot@') format('eot'),
        url('DESTROY_-webfont.woff') format('woff'),
        url('DESTROY_-webfont.ttf') format('truetype'),
        url('DESTROY_-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face {
    font-family:'DroidSerifRegular';
    src:url('DroidSerif-Regular-webfont.eot');
    src:url('DroidSerif-Regular-webfont.eot@') format('embedded-opentype'),
        url('DroidSerif-Regular-webfont.woff') format('woff'),
        url('DroidSerif-Regular-webfont.ttf') format('truetype'),
        url('DroidSerif-Regular-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face {
    font-family:'DroidSerifBold';
    src:url('DroidSerif-Bold-webfont.eot');
    src:url('DroidSerif-Bold-webfont.eot@') format('embedded-opentype'),
        url('DroidSerif-Bold-webfont.woff') format('woff'),
        url('DroidSerif-Bold-webfont.ttf') format('truetype'),
        url('DroidSerif-Bold-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'GoodDogRegular';
    src:url('GoodDog-webfont.eot');
    src:url('GoodDog-webfont.eot@') format('embedded-opentype'),
        url('GoodDog-webfont.woff') format('woff'),
        url('GoodDog-webfont.ttf') format('truetype'),
        url('GoodDog-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'HoneyScriptLight';
    src:url('HoneyScript-Light-webfont.eot');
    src:url('HoneyScript-Light-webfont.eot@') format('embedded-opentype'),
        url('HoneyScript-Light-webfont.woff') format('woff'),
        url('HoneyScript-Light-webfont.ttf') format('truetype'),
        url('HoneyScript-Light-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'KingthingsPetrockRegular';
    src:url('Kingthings_Petrock-webfont.eot@') format('eot');
	src:url('Kingthings_Petrock-webfont.eot@') format('eot'),
        url('Kingthings_Petrock-webfont.woff') format('woff'),
        url('Kingthings_Petrock-webfont.ttf') format('truetype'),
        url('Kingthings_Petrock-webfont.svg') format('svg');
    font-weight:normal;font-style:normal
}

@font-face{
    font-family:'LeagueGothicRegular';
    src:url('League_Gothic-webfont.eot@') format('eot');
	src:url('League_Gothic-webfont.eot@') format('eot'),
        url('League_Gothic-webfont.woff') format('woff'),
        url('League_Gothic-webfont.ttf') format('truetype'),
        url('League_Gothic-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}
@font-face{
    font-family:'MaidenOrangeRegular';
    src:url('MaidenOrange-webfont.eot');
    src:url('MaidenOrange-webfont.eot@') format('embedded-opentype'),
         url('MaidenOrange-webfont.woff') format('woff'),
         url('MaidenOrange-webfont.ttf') format('truetype'),
         url('MaidenOrange-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'MavenProBlack';
	src:url('maven_pro_black-webfont.eot');
    src:url('maven_pro_black-webfont.eot@') format('eot'),
         url('maven_pro_black-webfont.woff') format('woff'),
         url('maven_pro_black-webfont.ttf') format('truetype'),
         url('maven_pro_black-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'MavenProBold';
    src:url('maven_pro_bold-webfont.eot');
    src:url('maven_pro_bold-webfont.eot@') format('eot'),
         url('maven_pro_bold-webfont.woff') format('woff'),
         url('maven_pro_bold-webfont.ttf') format('truetype'),
         url('maven_pro_bold-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'MavenProMedium';
    src:url('maven_pro_medium-webfont.eot');
    src:url('maven_pro_medium-webfont.eot@') format('eot'),
         url('maven_pro_medium-webfont.woff') format('woff'),
         url('maven_pro_medium-webfont.ttf') format('truetype'),
         url('maven_pro_medium-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'MavenProRegular';
    src:url('maven_pro_regular-webfont.eot');
    src:url('maven_pro_regular-webfont.eot@') format('eot'),
         url('maven_pro_regular-webfont.woff') format('woff'),
         url('maven_pro_regular-webfont.ttf') format('truetype'),
         url('maven_pro_regular-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
	font-family:'miso-bold';
    src:url('miso-bold-webfont.eot');
    src:url('miso-bold-webfont.eot@') format('eot'),
        url('miso-bold-webfont.woff') format('woff'),
        url('miso-bold-webfont.ttf') format('truetype'),
        url('miso-bold-webfont.svg') format('svg');
    font-weight:bold; font-style:normal
}
@font-face{
	font-family:'miso-light';
    src:url('miso-light-webfont.eot');
    src:url('miso-light-webfont.eot@') format('eot'),
        url('miso-light-webfont.woff') format('woff'),
        url('miso-light-webfont.ttf') format('truetype'),
        url('miso-light-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'OrbitronMedium';
    src:url('orbitron-medium-webfont.eot');
    src:url('orbitron-medium-webfont.eot@') format('embedded-opentype'),
        url('orbitron-medium-webfont.woff') format('woff'),
        url('orbitron-medium-webfont.ttf') format('truetype'),
        url('orbitron-medium-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face {
    font-family:'PermanentMarkerRegular';
    src:url('PermanentMarker-webfont.eot');
    src:url('PermanentMarker-webfont.eot@') format('embedded-opentype'),
        url('PermanentMarker-webfont.woff') format('woff'),
        url('PermanentMarker-webfont.ttf') format('truetype'),
        url('PermanentMarker-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'PrintClearlyRegular';
    src:url('PrintClearly-webfont.eot');
    src:url('PrintClearly-webfont.eot@') format('embedded-opentype'),
        url('PrintClearly-webfont.woff') format('woff'),
        url('PrintClearly-webfont.ttf') format('truetype'),
        url('PrintClearly-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'StMarieThin';
     src:url('StMarie-Thin-webfont.eot');
     src:url('StMarie-Thin-webfont.eot@') format('embedded-opentype'),
         url('StMarie-Thin-webfont.woff') format('woff'),
         url('StMarie-Thin-webfont.ttf') format('truetype'),
         url('StMarie-Thin-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'TeXGyreAdventorBold'; 
		src:url('texgyreadventor-bold-webfont.eot'); 
		src:url('texgyreadventor-bold-webfont.eot@') format('embedded-opentype'),
         url('texgyreadventor-bold-webfont.woff') format('woff'),
         url('texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('texgyreadventor-bold-webfont.svg') format('svg'); 
		 font-weight:normal; font-style:normal
}

@font-face {
    font-family:'TitilliumText22LThin';
    src: url('TitilliumText22L001-webfont.eot');
    src: url('TitilliumText22L001-webfont.eot@') format('embedded-opentype'),
         url('TitilliumText22L001-webfont.woff') format('woff'),
         url('TitilliumText22L001-webfont.ttf') format('truetype'),
         url('TitilliumText22L001-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('TitilliumText22L005-webfont.eot');
    src: url('TitilliumText22L005-webfont.eot@') format('embedded-opentype'),
         url('TitilliumText22L005-webfont.woff') format('woff'),
         url('TitilliumText22L005-webfont.ttf') format('truetype'),
         url('TitilliumText22L005-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('TitilliumText22L003-webfont.eot');
    src: url('TitilliumText22L003-webfont.eot@') format('embedded-opentype'),
         url('TitilliumText22L003-webfont.woff') format('woff'),
         url('TitilliumText22L003-webfont.ttf') format('truetype'),
         url('TitilliumText22L003-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}

@font-face{
    font-family:'YanoneKaffeesatzLight';
    src:url('YanoneKaffeesatz-Light-webfont.eot');
    src:url('YanoneKaffeesatz-Light-webfont.eot@') format('embedded-opentype'),
        url('YanoneKaffeesatz-Light-webfont.woff') format('woff'),
        url('YanoneKaffeesatz-Light-webfont.ttf') format('truetype'),
        url('YanoneKaffeesatz-Light-webfont.svg') format('svg');
    font-weight:normal; font-style:normal
}