#da-thumbs {
list-style:none;
margin:20px auto;
padding:0;
}

#da-thumbs li {
display:inline-block;
box-shadow:0 1px 3px rgba(0,0,0,0.1);
background:none!important;
margin:5px;
padding:8px;
}

#da-thumbs li a,#da-thumbs li a img {
display:block;
position:relative;
}

#da-thumbs li a {
overflow:hidden;
}

#da-thumbs li a div {
position:absolute;
background:rgba(75,75,75,0.7);
width:100%;
height:100%;
}

#da-thumbs li a div span {
display:block;
text-transform:uppercase;
font-weight:400;
color:rgba(255,255,255,0.9);
text-shadow:1px 1px 1px rgba(0,0,0,0.2);
border-bottom:1px solid rgba(255,255,255,0.5);
box-shadow:0 1px 0 rgba(0,0,0,0.1),0 -10px 0 rgba(255,255,255,0.3);
margin:40px 20px 20px;
padding:10px 0;
}

.waving-container {
width:100%;
position:relative;
min-height:750px;
}

.waving-container>header {
position:relative;
display:block;
text-shadow:1px 1px 1px rgba(0,0,0,0.2);
text-align:center;
margin:10px;
padding:20px 10px 10px;
}

.waving-container>header>span {
font-family:'Alegreya SC',Georgia,serif;
font-size:20px;
line-height:20px;
display:block;
font-weight:400;
font-style:italic;
color:#719dab;
text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

.waving-container>header h1 {
font-size:40px;
line-height:40px;
position:relative;
font-weight:300;
color:#498ea5;
text-shadow:1px 1px 1px rgba(255,255,255,0.7);
margin:0;
padding:5px 0;
}

.waving-container>header h1 span {
font-weight:700;
}

.waving-container>header h2 {
font-size:14px;
font-weight:300;
letter-spacing:2px;
text-transform:uppercase;
color:#6190ca;
text-shadow:1px 1px 1px rgba(255,255,255,0.7);
margin:0;
padding:15px 0 5px;
}

.waving-container>header p {
font-style:italic;
color:#aaa;
text-shadow:1px 1px 1px rgba(255,255,255,0.7);
}

.codrops-top {
line-height:24px;
font-size:11px;
background:rgba(255,255,255,0.6);
text-transform:uppercase;
z-index:9999;
position:relative;
font-family:Cambria,Georgia,serif;
box-shadow:1px 0 2px rgba(0,0,0,0.2);
}

.codrops-top a {
letter-spacing:1px;
color:#333;
display:inline-block;
padding:0 10px;
}

.codrops-top a:hover {
background:rgba(255,255,255,0.9);
}

.codrops-top span.right {
float:right;
}

.codrops-top span.right a {
float:left;
display:block;
}

.codrops-demos {
text-align:center;
display:block;
line-height:30px;
padding:5px 0;
}

.codrops-demos a {
display:inline-block;
color:#aaa;
line-height:20px;
font-size:13px;
text-shadow:1px 1px 1px #fff;
border:1px solid #ddd;
background:linear-gradient(top,#fff0,#f6f6f647%,#ededed100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);
box-shadow:0 1px 1px rgba(255,255,255,0.5);
margin:0 4px;
padding:0 6px;
}

.codrops-demos a:hover {
color:#333;
box-shadow:0 1px 1px rgba(255,255,255,0.5);
}

.codrops-demos a:active {
background:#fff;
}

.codrops-demos a.current-demo,.codrops-demos a.current-demo:hover {
background:#f6f6f6;
}

#waving-dim {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:999998;
background-color:rgba(0,0,0,0.7);
display:none;
text-align:left;
}

img.waving-close {
  position: relative;
  right:-60px;
  float:right;
  cursor:pointer;
}

/*===  1.2.2 Fixes ====*/

.waving-content h3
{
  color:white;
}

.waving-content h2
{
  color:white;
}

.waving-content h1
{
  color:white;
}

.waving-content h4
{
  color:white;
}

.waving-content h5
{
  color:white;
}

.waving-content img.multiple-borders
{
    margin: 5px;
    border: solid #DCDCDC;
}

/* Handle mobile resolution */
@media (max-width: 400px) {
  div.waving-content h3
  {
    font-size:25px !important;
  }
  
  div.modal-waving-content
  {
    font-size:12px !important;
  }
  
  div.modal-waving-content h1
  {
    font-size:20px !important;
  }
  
  div.modal-waving-content h2
  {
    font-size:18px !important;
  }
  
  div.modal-waving-content h3
  {
    font-size:16px !important;
  }
  
  div.modal-waving-content h4
  {
    font-size:14px !important;
  }
  
}

@media (max-width: 700px) {
  button.waving-button {
    width:50% !important;
  }
}

/* New button style */

div.waving-wrap{
  text-align: center;
}

div.waving-wrap button{
    display: inline;
    list-style: none;
    margin-right: 5px;
}

button.waving-button {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 3px auto;
	max-width: 180px;
    background-color: rgba(255,255,255,0);
    border: none;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px 20px;
}

button.waving-button2 {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

button.waving-button2:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

button.waving-button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

button.waving-button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

li.waving-item-class
{
  transition:all;
}