.sitebar .wrap{
	margin-left:auto;
	margin-right:auto;
	width:980px;
}
/* top base */
.site-logon a:link,
.site-logon a:visited{
	color:#05c;
}
.site-func a:link,
.site-func a:visited{
	color:#333;
}
.sitebar a:hover{
	color:#cc220b;
	text-decoration:none;
}

/* two code */
.top-phone{
	width:86px;
	height:28px;
	float:left;
	position:relative;
	margin-right:15px;
}
.phone{
	height:28px;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
}
.phone .icon-phone{background-position:0 -16px;margin-right:3px;}
.phone a{
	width:76px;
	padding-left:10px;
	display:block;
	background:url("http://membercenter.cn.made-in-china.com/images/new-common/common_ico.gif") 72px -12px no-repeat;
}
.top-phone a:link,
.top-phone a:visited{color:#333}
.top-phone a:hover{color:#bf030c;}
.top-two-code{
	position: absolute;
	width:101px;
	border:1px solid #ccc;
	top:28px;
	left:0;
	background:#fff;
	text-align:center;
	z-index:1;
	display:none;
}
.top-two-code img{
	vertical-align:middle;
}
.hover .phone{
	background:#fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	height:29px;
	left:-1px;
}
.hover .phone a{
	background-position:72px -38px;
}
.hover .top-two-code{
	display:block;
}
/* top pic */
.site-func-item,
.site-func .basket,
.my-offic-main a,
.bxtsvr-main a,
.intsvr-main a,
.svrcenter-main a,
.site-nav-main a{
    background-image: url("http://membercenter.cn.made-in-china.com/images/new-common/common_ico.gif");background-repeat: no-repeat;
}
/* top login */
.sitebar{
	height:28px;
	line-height:28px;
	border-bottom:1px solid #d9d9d9;
	background-color:#f7f7f7;
	position:relative;
	z-index:100;
}
.site-logon{
	float:left;
	height:28px;
}
.site-logon .logon-a{
	padding:0 10px;
	margin:8px 0;
	line-height:12px;
	*margin:7px 0;
	*line-height:14px;
}
.site-logon .rightborder{border-right:1px solid #ccc;}
#user_info{*margin:7px 0;*line-height:14px;position:relative;}
#user_info a b{display:none;*zoom:1;margin:1px 0 0 2px;position:relative;top:-2px;height:13px;padding:0 4px;color:#fff;background-color:#de3237;font-weight:bold;font-size:11px;font-family:tahoma;}
.userinfo-tip{position:absolute;top:23px;z-index:49;left:-10px;width:117px;height:62px;border:1px solid #f1dec0;padding:5px;background-color:#fffceb;}
.userinfo-tip p{line-height:20px;}
.userinfo-tip i{display:block;position:absolute;top:-10px;left:45px;width:17px;height:10px;background:url(http://membercenter.cn.made-in-china.com/images/new-common/userinfo-tip-arrow.png) no-repeat;}

/* top right */
.site-func{float:right}
.site-func-item{
	float:left;
	padding:0 10px;
	background-position:right -311px;
}
.site-func .basket{
	display:block;
	*display:inline;
	*zoom:1;
	height:24px;
	line-height:22px;
	margin-top:3px;
	margin-top:2px\9;
	vertical-align:1px\9\0;
	padding:0 0 0 20px;
	background-position:1px -68px;
}
.site-func .my-offic,
.site-func .bxtsvr,
.site-func .intsvr,
.site-func .svrcenter,
.site-func .site-nav{
	padding:0;
	position:relative;
	height:29px;
	_height:28px;
}
.site-func .my-offic{
	width:90px;
}
.hovertit{
	position:absolute;
	top:0;
	left:0;
	z-index:120;
}
.hover .hovertit{
	background-color:#fff;
	border-left:#ccc 1px solid;
	border-right:#ccc 1px solid;
	left:-1px;
}
.hovertit a{
	display:block;
	height:29px;
	line-height:28px;
	padding:0 15px 0 10px;
}
.hovertip{
	position:absolute;
	top:28px;
	left:-1px;
	z-index:110;
	padding:5px 0;
	border:1px solid #ccc;
	background-color:#fff;
	display:none;
}
/* my office */
.my-offic-main a{
	width:64px;
	background-position:73px -13px;
}
.my-offic-main a:hover{
	background-position:73px -38px;
}
.my-offic-bd{width:150px;height:76px;padding-top:5px}
.my-offic-bd dl{width:65px;float:left;display:inline;margin-left:10px}
.my-offic-bd dt{
	height:23px;
	font:bold 12px/22px Tahoma,Arial,SimSun,sans-serif;
	color:#666;
}
.my-offic-bd dd{
	height:24px;
	line-height:24px;
}


.intsvr{width:78px}
.intsvr-main a{width:53px;background-position:62px -13px}
.intsvr-main a:hover{background-position:62px -38px}
.intsvr-bd {width:68px;padding-left:10px;}
.intsvr-bd li a{display:inline-block;height:24px;line-height:24px}


.bxtsvr{width:87px;height:100px;padding-top:5px;}
.bxtsvr-main a{width:62px;background-position:73px -13px}
.hover .bxtsvr-main a{background-position:73px -38px}
.bxtsvr-bd{width:105px;background-position:10px -341px;padding-left:10px}
.bxtsvr-bd li{height:24px;line-height:24px}

.svrcenter{width:78px;height:100px;padding-top:5px;}
.svrcenter-main a{width:53px;background-position:62px -13px}
.hover .svrcenter-main a{background-position:62px -38px}
.svrcenter-tip{width:68px;padding-left:10px}

.site-nav{width:78px;padding-right:0;background-image:none;}
.site-nav-main a{width:53px;background-position:62px -13px}
.site-nav-main a:hover{background-position:62px -38px}
.site-nav-bd{width:264px;left:auto;right:-1px}
.site-nav-item,
.site-nav-item dd{
	overflow:hidden;
	*zoom:1;
	height:auto;
}
.site-nav-item{
	border-bottom:1px dashed #d9d9d9;
	padding:7px 10px;
}
.site-nav-item dt{
	float:left;
	width:53px;
	text-align:right;
	padding-right:10px;
	color:#666;
	font-weight:bold;
}
.site-nav-item a{
	display:inline-block;
	margin-right:10px;
}
.site-nav-item a:link,
.site-nav-item a:visited{
	color:#666;
}
.site-nav-item a:hover{
	color:#cc220b;
}
.site-nav-bd .last{border:none;}
.site-nav-bd .more-content{height:30px;padding-right:10px;background-color:#efefef;text-align:right;line-height:30px;}

.site-func li ul .icon{margin-right:5px}