/*
*@Description:全站通用的底部样式
*@Author:Shjy 2013.3.21
*@Update:Shjy 2013.4.12
*/
/* footer pic */
.footer-website dd, .footer-website .dtit, .footer-language a, .back-top a {background-image: url("http://membercenter.cn.made-in-china.com/images/new-common/common_ico.gif");background-repeat: no-repeat;}

.block-line{margin:0 8px;color:#999;}

/* bottom quick index just for HomePage & China Product list and so on */
.bottom-quick{}
.bottom-quick-wrap{padding:20px;overflow:hidden;background-color:#f2f2f2;}

/* Products Links belong FocusTech just for HomePage */
#focus-link{}
.focus-link-box{padding-top:18px;height:44px;border-top:1px solid #e0e0e0;overflow:hidden;}
.focus-link-box .focus-title{float:left;width:140px;height:44px;border-right:1px solid #e0e0e0;font:bold 14px/44px Tahoma,Arial,Simsun,sans-serif;color:#555;}
.focus-link-box .focus-link-lst{float:left;padding-left:34px;width:770px;font-size:0;*word-spacing:-1px;}
.focus-link-box .focus-link-lst li{display:inline-block;*display:inline;*zoom:1;height:24px;margin:0;padding:0;font:normal 12px/14px Tahoma,Arial,simsun,sans-serif;white-space:nowrap;letter-spacing:normal;word-spacing:normal;vertical-align:top}
.focus-link-box .focus-link-lst li .block-line{}
.focus-link-box .focus-link-lst .site-tit{}
.focus-link-box .focus-link-lst .site-tit span{color:#999;}
.focus-link-box .focus-link-lst .site-tit a{padding-right:7px}
.focus-link-box .focus-link-lst li a:link,.focus-link-box .focus-link-lst li a:visited{color:#333;}
.focus-link-box .focus-link-lst li a:hover{color:#bf030c;}

/* common footer style */
.site-footer{margin:0 auto;clear:both;background-color:#fff;padding:10px 0;text-align:center}
.footer-link{height:20px;line-height:20px;padding-left:13px;text-align:center}
.footer-link li{display:inline;margin-right:13px}

.footer-copyright{line-height:20px;text-align:center;color:#999}
.footer-copyright span{margin:0 20px;color:#999}
.footer-copyright a:link,.footer-copyright a:visited{color:#999}
.footer-copyright a:hover{color:#bf030c}
.footer-certificate{height:40px;padding:6px}
.footer-certificate li{display:inline;margin:0 8px}

/* site bottom quick index */
.site-bottom{}
.site-bottom .wrap{position:relative;height:42px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.site-bottom .site-bottom-lst{float:left;padding:14px 0;line-height:12px;*line-height:14px;}


.site-bottom-svr{position:absolute;right:0;top:7px;height:28px;width:200px;}
.site-bottom-svr a{display:block;float:right;padding:5px 8px 5px 29px;height:16px;border:1px solid #ccc;background:#f0f0f0 url("http://membercenter.cn.made-in-china.com/images/new-common/common_ico.gif") no-repeat;}
.site-bottom-svr a span{font:normal 12px/14px Tahoma,Arial,simsun;line-height:16px\9;_line-height:14px;}
@media screen and(-webkit-min-device-pixel-ratio:0){.site-bottom-svr a span{line-height:12px;}}
.site-bottom-svr a:link span,.site-bottom-svr a:visited span{color:#666;}
.site-bottom-svr a:hover span{color:#BF030C;}
.site-bottom-svr .site-bottom-as{margin-left:7px;background-position:-160px -582px;}
.site-bottom-svr .site-bottom-as:hover{background-color:#fff;background-position:6px -450px;}
.site-bottom-svr .site-bottom-bxt{background-position:-160px -554px;}
.site-bottom-svr .site-bottom-bxt:hover{background-color:#fff;background-position:6px -345px;}

.site-bottom-more span{display:inline-block;*display:inline;*zoom:1;color:#999;padding-left:10px;}
.site-bottom-more a{display:inline-block;*display:inline;*zoom:1;margin-right:10px;}

/* showroom footer style extend  */
.showroom-footer{border-top:1px solid #e0e0e0;}
.showroom-footer .show-footer-quick{height:20px;text-align:center;line-height:20px;}
.showroom-footer .show-footer-quick a{}
.showroom-footer .show-footer-quick a:link,.showroom-footer .show-footer-quick a:visited{color:#333;}
.showroom-footer .show-footer-quick a:hover{color:#bf030c;}
.showroom-footer .show-footer-quick .show-ex-txt{color:#999}
.showroom-footer .show-footer-quick .show-ex-a{margin-right:10px;}
/* footer link fix */
.footer-link a:link,.footer-website a:link,.footer-language a:link,.site-bottom .site-bottom-lst a:link,.footer-link a:visited,.footer-website a:visited,.footer-language a:visited,.site-bottom .site-bottom-lst a:visited{color:#333;}
.footer-link a:hover,.footer-website a:hover,.footer-language a:hover,.site-bottom .site-bottom-lst a:hover{color:#bf030c;}
