* { margin: 0; padding: 0 }
.left { float: left }
.clearfix { clear: both }
.btnSubmit {
    border-color: #5287d4;
    border-style: solid;
    border-radius: 2px;
    background-color: #5287d4;
    padding: 10px 41px;
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}

.btnSubmit:disabled {
    opacity: 0.7;
}

section {
    width: 990px;
    margin: 0 auto;
}

footer {
    margin-top: 40px;
    width: 100%;
    background: #f5f5f5 url(bg_footer.jpg) no-repeat center bottom;
    height: 96px;
    border-top: 1px solid #e4e4e4;
}

.fooTxt {
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 16px;
    color: #999999;
    line-height: 18px;
    letter-spacing: -0.1pt;
    padding: 30px 0 0 16px;
}

.boxer, .fooTxt {
    width: 960px;
    margin: 0 auto;
}

.info {
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 13px;
    color: #999999;
    line-height: 18px;
    letter-spacing: -0.1pt;
    text-transform: uppercase;
    width: 290px;
}

.info > .nfo {
    display: block;
    margin: 12px 17px 21px 0;
}

.icons {
    width: 70px;
}

.bullet {
    width: 16px;
    margin: 5px auto 5px;
}

.textDest {
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 12px;
    color: #BBB;
    line-height: 16px;
    letter-spacing: -0.1pt;
    padding: 0 0 21px 0;
}

.textDest > h2 {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
}

.boxInfos {
    width: 202px;
    padding: 20px;
}

.logo {
    background: url(logo-multiplus.png);
    width: 141px;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.multTitle {
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 25px;
    color: #5287d4;
    font-weight: 500;
    margin-bottom: 20px;
}

.jumbotron {
    width: 566px;
    background-color: #f5f5f5;
    padding: 21px 21px 31px 21px;
}
.jumboText {
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 14px;
    color: #666666;
}

.form-control {
    outline: none;
    margin: 10px 0;
    border-width: 2px;
    border-color: #aabedb;
    border-style: solid;
    border-radius: 2px;
    padding: 7px 10px;
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 16px;
    color: #aabedb;
    font-weight: bold;
}

::-webkit-input-placeholder { color: #aabedb }
:-moz-placeholder { color: #aabedb }
::-moz-placeholder { color: #aabedb }
:-ms-input-placeholder { color: #aabedb }

.textInformations {
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 11px;
    color: #999999;
    padding: 20px 0 23px;
}

.rightBx {
    margin-left: 10px;
}

.frmCtrlS2 {
    margin-top: 20px;
    margin-bottom: -20px;
}

.bx2 {
    margin-top: 9px;
    margin-left: 10px;
}

.bx2 a {
    color: #999;
}

.num-cartao {
    width: 170px;
}
.cvv {
    width: 30px;
    margin-left: 5px;
}

.titular {
    width: 330px;
}

.bandeira {
    margin: 17px 0;
}

.band {
    width: 40px;
    height: 16px;
    margin: 16px 0 0 5px;
}

.elo {
    width: 40px;
    height: 35px;
    margin: 9px 0 0 5px;
}

.boxBand {
    opacity: 0.35;
    margin-right: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.clicked {
    opacity: 1;
}
.valid-mes {
    width: 78px;
}

.valid-mes {
    margin-left: 15px;
}
.valid-ano {
    margin-left: 10px;
}

.btnConc {
    border-radius: 2px;
    margin-left: 10px;
    background-color: #5287d4;
    padding: 10px 12px;
    font-family: 'Trebuchet MS', 'Trebuchet-ms', 'Verdana, Arial, sans-serif';
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}
.btnConc:disabled {
    opacity: 0.7;
}

.frmLast {
    margin-top: 25px;
}


.loader {
    background: url(loading.gif);
    width: 65px;
    height: 65px;
    position: relative;
    top: -180px;
    left: 220px;
}