BODY {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif; FONT-SIZE: 9.75pt
}
TEXTAREA {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif; FONT-SIZE: 9.75pt
}
.bld {
	FONT-WEIGHT: bold
}
.ur {
	FONT-WEIGHT: bold
}
.nbMnuItm {
	FONT-SIZE: 9.75pt
}
.fufw {
	FONT-WEIGHT: bold
}
.fnufw {
	FONT-WEIGHT: normal
}
.bld {
	FONT-WEIGHT: bold
}
DIV.vlv .ur {
	FONT-WEIGHT: bold
}
#divBrandBtns {
	FONT-SIZE: 100%
}
#divConvTopic {
	FONT-SIZE: 18pt
}
#divSender > SPAN {
	FONT-SIZE: 15pt
}
#divSn > SPAN {
	FONT-SIZE: 15pt
}
.divExp > #divExpHdr > .divSn > SPAN {
	FONT-SIZE: 15pt
}
.fbBiu {
	FONT-FAMILY: Courier New; FONT-SIZE: 17px
}
TABLE#tblPckr {
	FONT-SIZE: 0px
}
.rwW A {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
.rwW STRONG {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
.rwW EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
.rwW U {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
.dyTms {
	FONT-SIZE: xx-small
}
.dpWN {
	FONT-SIZE: 7.5pt
}
.fb0 {
	FONT-WEIGHT: normal
}
.timeStripLine {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif
}
.timeStripLeft {
	FONT-SIZE: 15pt
}
.timeStripRight {
	FONT-SIZE: 8.25pt
}
#divMonthlyViewDateName {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 16.5pt
}
#spanDayName {
	FONT-SIZE: 14pt
}
.calHD {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif
}
.calHDTdy {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif
}
.calHD > #spanDayName {
	FONT-SIZE: 21pt
}
.calHDTdy > #spanDayName {
	FONT-SIZE: 21pt
}
.calHD > #spanWeekDayName {
	FONT-SIZE: 13pt
}
.calHDTdy > #spanWeekDayName {
	FONT-SIZE: 13pt
}
.weekdayHeader {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 13.5pt
}
#divCurrMonth {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 13.5pt
}
.currentMonth {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 13.5pt
}
#divPrevMonth {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 8.25pt
}
#divNextMonth {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 8.25pt
}
#divWeekNumber {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 15pt
}
.weekdayName {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 13pt
}
#divYearMonthBar {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 9.75pt
}
.visLn {
	FONT-SIZE: 8.25pt
}
.visSbj {
	FONT-SIZE: 9.75pt; FONT-WEIGHT: bold
}
.tdHdr {
	FONT-FAMILY: Arial; FONT-SIZE: 160%
}
SPAN.nm {
	FONT-SIZE: 130%; FONT-WEIGHT: bold
}
.abArrw {
	FONT-FAMILY: Courier New
}
.mid TR {
	FONT-SIZE: 10pt
}
.tdCopy {
	FONT-SIZE: 80%
}
INPUT#txtcp {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
BUTTON {
	FONT-SIZE: 100%
}
LABEL {
	FONT-SIZE: 100%
}
PRE {
	FONT-SIZE: 100%
}
.awRW {
	FONT-SIZE: 100%
}
.edtSubj {
	FONT-SIZE: 100%
}
TEXTAREA#taAn {
	FONT-SIZE: 100%
}
TABLE#tblErr {
	FONT-SIZE: 100%
}
TD#tdErrHdCt {
	FONT-SIZE: 100%
}
DIV#divFH {
	FONT-SIZE: 100%
}
DIV#divNFld {
	FONT-SIZE: 100%
}
DIV#divRFld {
	FONT-SIZE: 100%
}
INPUT#txtNFld {
	FONT-SIZE: 100%
}
BODY.owaLgnBdy {
	FONT-SIZE: 100%
}
.bld {
	FONT-WEIGHT: bold
}
.ur {
	FONT-WEIGHT: bold
}
.nwItmTxtFrm {
	FONT-WEIGHT: bold
}
SPAN.bld {
	FONT-WEIGHT: bold
}
.rwDL {
	FONT-WEIGHT: bold
}
.moSctTxt {
	FONT-WEIGHT: bold
}
.lyt .hdr {
	FONT-WEIGHT: bold
}
.lyt .sugHdr {
	FONT-WEIGHT: bold
}
.dyTms .dy {
	FONT-WEIGHT: bold
}
TABLE#tblDpM TD.b {
	FONT-WEIGHT: bold
}
.fb1 {
	FONT-WEIGHT: bold
}
.visSbj {
	FONT-WEIGHT: bold
}
TR.gh TD {
	FONT-WEIGHT: bold
}
.bold {
	FONT-WEIGHT: bold
}
SPAN#spnPn {
	FONT-WEIGHT: bold
}
TABLE#tblCnts .sct {
	FONT-WEIGHT: bold
}
TABLE#tblCnts .bLn {
	FONT-WEIGHT: bold
}
DIV#divNtfyItmSb {
	FONT-WEIGHT: bold
}
.adMgHd {
	FONT-WEIGHT: bold
}
.cntTabCT {
	FONT-WEIGHT: bold
}
.cntDetPT {
	FONT-WEIGHT: bold
}
BODY.rtl .cntDetPT {
	FONT-WEIGHT: bold
}
.cntSepT {
	FONT-WEIGHT: bold
}
#spnMbQtUsg {
	FONT-WEIGHT: bold
}
.pvwLabel {
	FONT-WEIGHT: bold
}
.readFormSubjectContainer {
	FONT-SIZE: 18pt
}
.fbItalics {
	FONT-STYLE: italic
}
SPAN#spnCmpI {
	FONT-STYLE: italic
}
.wvsn {
	FONT: 85% Tahoma, Sans Serif, Arial
}
.rtl .wvsn {
	FONT: 85% Tahoma, Sans Serif, Arial
}
.errDesc #errMsg {
	FONT-SIZE: 130%
}
.errHd {
	FONT-SIZE: 130%
}
.dp {
	FONT-SIZE: 8pt
}
.dpDD {
	FONT-SIZE: 8pt
}
.mlIL SPAN#abc {
	FONT-SIZE: 100%
}
.txtBdy {
	FONT-SIZE: 100%
}
.cntNot {
	FONT-SIZE: 100%
}
.mbqtTxt {
	FONT-SIZE: 95%
}
INPUT.btn {
	FONT-SIZE: 95%
}
.btnOnFcs {
	FONT-SIZE: 95%
}
.btnOnMseOvr {
	FONT-SIZE: 95%
}
.btnOnMseDwn {
	FONT-SIZE: 95%
}
.tbWIB {
	FONT: 95% Tahoma, Sans Serif, Arial
}
.tbEIB {
	FONT: 95% Tahoma, Sans Serif, Arial
}
.userTileTxt {
	FONT-SIZE: 11pt
}
#aLogOff > .userTileTxt {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif
}
#divBrandOrgName {
	FONT-SIZE: 14pt
}
#divBrandOrgLive {
	FONT-SIZE: 7pt
}
.brandBarLink {
	FONT-SIZE: 10pt
}
SPAN#spnHdr {
	FONT-SIZE: 14pt
}
#divList #txtSubj {
	FONT-SIZE: 16pt
}
DIV#divTr {
	FONT-SIZE: 9pt
}
DIV#divTrBddy {
	FONT-SIZE: 9pt
}
.gbIL > .gh {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-SIZE: 12pt
}
.cvIL > .df {
	FONT-SIZE: 9pt
}
.baseIL > #vr {
	FONT-SIZE: 9.75pt
}
.baseIL > #sr {
	FONT-SIZE: 9pt
}
#spnSent {
	FONT-SIZE: 7.5pt
}
.itmPrt #divFs {
	FONT-SIZE: 7.5pt
}
.snt {
	FONT-SIZE: 7.5pt
}
.roWellLabel {
	FONT-SIZE: 8.25pt
}
.roWellWrap {
	FONT-SIZE: 8.25pt
}
.roHdrRow {
	FONT-SIZE: 8.25pt
}
.roCatAttWellLabel {
	FONT-SIZE: 8.25pt
}
.spanCatContainer {
	FONT-SIZE: 8.25pt
}
#divVLV #divHeaders {
	FONT-SIZE: 7.5pt
}
.alertBtnMixed .alertBtnTxt {
	FONT-SIZE: 24pt; FONT-WEIGHT: bold
}
DIV#divSearch {
	FONT-SIZE: 9.75pt
}
.divClps .divSn {
	FONT-SIZE: 12pt
}
.divClps #divSn SPAN {
	FONT-SIZE: 12pt
}
.divClps #divSm {
	FONT-SIZE: 9pt
}
.divClps > #divDt {
	FONT-SIZE: 9pt
}
#divTr A.trNdGpHd {
	FONT-SIZE: 9.75pt
}
#divTrBddy A.trNdGpHd {
	FONT-SIZE: 9.75pt
}
#divIB {
	FONT-SIZE: 9pt
}
.mnuItmTxtHdr {
	FONT-SIZE: 13.5pt
}
.mnuItmTxtItm {
	FONT-SIZE: 9pt
}
.mnuItmTxtItmIndented {
	FONT-SIZE: 9pt
}
.dpDOW {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif
}
.monthPickerYear {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif
}
#spanDate {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif; FONT-SIZE: 13.5pt
}
.todayCell > #divMonthlyViewDateName {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif
}
#divMtgHeaderTxt {
	FONT-SIZE: 15pt
}
#divMtgCancelLink {
	FONT-SIZE: 15pt
}
#divMtgCancelLink {
	FONT-FAMILY: Segoe UI Light,Helvetica,Arial,sans-serif; FONT-WEIGHT: lighter
}
INPUT#txtSubj {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif
}
INPUT.fileField {
	FONT-SIZE: 8.5pt
}
.notificationsDialogTitle {
	FONT-SIZE: 13.5pt
}
.notificationsDialogDescription {
	FONT-SIZE: 9pt
}
.divNotificationsColumn2 {
	FONT-SIZE: 9pt
}
.divNotificationsColumn3 {
	FONT-SIZE: 9pt
}
.divNotificationsColumn1Row1 {
	FONT-SIZE: 9.75pt
}
.divRemindersDueInTime {
	FONT-SIZE: 27pt
}
.reminderNow {
	FONT-SIZE: 9.75pt
}
#rdArea PRE {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif; FONT-SIZE: 9pt
}
#compose > #txtArea > #txtBox {
	FONT-FAMILY: Segoe UI,Helvetica,Arial,sans-serif; FONT-SIZE: 9pt
}
.actBarTxt {
	FONT-SIZE: 8.25pt
}
#prTtl {
	FONT-SIZE: 8.25pt
}
.vwMnTtl {
	FONT-SIZE: 13.5pt
}
.vwMnCap {
	FONT-SIZE: 8.25pt
}
