body{font-family:arial, helvetica, sans-serif;font-size:12px;background:transparent url(aolcombutterfly.jpg) no-repeat scroll left 20px;width:100%;margin:0;padding:0}
.port_land{float:none;width:100%;position:absolute;margin:0}
body .port_land .lands{height:auto;width:1024px;float:none;display:block;margin:0 auto}
body .port_land .lands .landslt{width:590px;height:auto;float:left;margin:28px 0 0 100px}
.port_land .landsrt{background-attachment:scroll;background-color:#fff;background-image:none;background-position:0 0;background-repeat:repeat;float:left;height:100%;width:310px;margin:65px 0 0 15px}
.port_land .footer{color:#999;font-family:Arial;font-size:11px;padding-top:30px;height:20px}
.port_land .footer a{color:#999;font-family:Arial;font-size:11px;text-decoration:none}
.hat{background-color:#F3F3F3;height:28px;left:0;top:0;position:absolute;width:100%}
* html .hat{position:relative;margin:0 auto}
.hat .hatDiv{height:100%;margin-left:auto;margin-right:auto;margin-top:0;width:1024px}
.hat .hatDiv .logoArea{float:left;width:350px;margin:10px 0 0 22px}
.logoArea .logo{width:1024px;margin:0 auto}
.hat .hatDiv .hatLinks{margin-left:25px}
.bottomHatLinks{color:#999;font-family:Arial}
.bottomHatLinks a{color:#7F7F7F;font-family:Arial;font-size:11px;text-decoration:none;font-weight:500;padding-left:1px}
.hat .hatDiv .hatLinks .bottomHatLinks{margin-top:5px;color:#7F7F7F}
a.aol_hat_logo{background:transparent url(aol_logo_new_sm.gif) no-repeat scroll left top;display:block;float:left;font-size:11px;text-indent:-999px;width:33px;margin-top:2px;margin-right:2px;outline:none}
body .port_land #othercontent{margin:0 0 28px;padding:0}
* html body .port_land #othercontent{margin:0;padding:0}
body .port_land .landslt .prim_promo{height:auto;margin:0}
body .port_land .landslt .prim_promo img{border:none;position:relative}
h2.buzz{color:#53c0d9;font-size:34px;letter-spacing:2px;margin-left:35px;padding-bottom:2px;padding-top:40px}
.contentb p{font-family:arial;font-size:18px;color:#333;margin-left:35px;width:530px}
.contentb .grey{color:#666}
.framcont{background:none;margin-left:10px;height:224px;margin-top:80px}
.contentb{background:url(transparent_bg.png) repeat scroll 0 0 transparent;float:left;font-size:20px;font-weight:900;height:224px}
.ieborder{background-image:url(side_corners_ie.gif);float:left;height:224px;_background-color:#FFF;_float:left;_height:225px;_background:url(side_corners_ie.gif.html) fixed no-repeat left 0;_width:11px;_border:none;_filter:alpha(opacity=80);filter:alpha(opacity=80);opacity:.8;width:11px;border:none}