@font-face {
	font-family: "vagrounded-bold";
	src: url('vagrounded.eot');
	src: local('d'),
	url('vagrounded.woff') format('woff'),
	url('vagrounded.svg') format('svg');
}
h1, h2, h3, h4, h5, h6, .vb {
	font-family: vagrounded-bold,Helvetica,Arial;
	font-weight: normal !important;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}


.ott_blue,
.ott_blue * {
    color: #2597D5 !important;
}
body {
    margin: 0;
    padding: 0;
}
.site_wrap {
    margin: 0 auto;
    width: 777px;
}
strong {
	font-weight: bold;
}


/* body */

p, ul {
    color: #666666;
    font-size: 14px;
    line-height: 18px;
}
a {
	color: #008ac4;
	text-decoration: underline;
}
#body a:hover {
	text-decoration: none;
}
#body h1 {
	font-size: 37px;
	margin: 0px 0px 30px 0px;
	padding-top: 10px;
	text-shadow: 0px 1px 1px #94C9DE;
}
#body h3 {
	margin: 0 0 14px 0;
	line-height: 22px;
	font-size: 20px;
}
#body .site_wrap .section {
	padding: 36px 0 36px 36px;
}
.iconStop {
	background: url("icon-stop.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 65px;
    margin-left: -10px;
    margin-right: 14px;
    position: relative;
    width: 64px;
}
p.vb {
    font-size: 17px;
    line-height: 22px;
}

/* search form */

#body .search_domain {
    float: left;
    margin-top: 18px;
}
#body label {
    float: left;
    font-size: 22px;
    margin-right: 15px;
    padding-top: 8px;
}
#body .search_domain form {
    background: url("search-for-domains.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 38px;
    position: relative;
    width: 459px;
}
#body .search_domain .text {
    border: 0 none;
    font-family: vagrounded-bold,Helvetica,Arial;
    font-size: 20px;
    font-weight: normal;
    height: 28px;
    line-height: 34px;
    padding: 7px 4px 0;
    position: absolute;
    right: 118px;
    top: 0;
    width: 255px;
}
#body .search_domain .button {
    border: 0 none;
    cursor: pointer;
    height: 36px;
    opacity: 0;
    filter:alpha(opacity=0);
    padding: 0;
    position: absolute;
    right: 1px;
    top: 0;
    width: 118px;
}
.section2{
    padding-top: 0 !important;
}
hr{
    border:dotted #00CCFF;
    border-width:1px 0 0; 
    height:0;
    border-color: #666666;
}
.picture11{
   float: left;
   height: 100px;
   width: 100px;
   background: url("icons-90.png") no-repeat scroll left -98px transparent;
   margin-top: 80px;
   margin-right: 10px;
}
.picture12{
   float: left;
   height: 100px;
   width: 100px;
   background: url("icons-90.png") no-repeat scroll left -305px transparent;
   margin-top: 109px;
   margin-right: 10px;
}
.text11{
   float: left;
   width: 620px;
}
.text11 a{
   text-decoration: none;
   font-size: 24px;
   font-family: vagrounded-bold,Helvetica,Arial;
}
.vb_normal{
    font-size: 15px;
    line-height: 22px;
    font-family: vagrounded,Helvetica,Arial;
}