.cheminDeFer3 {
	margin: 12px 0px 15px; padding: 0px; border: currentColor; border-image: none; height: 45px; font-size: 11px;
}
#as_suiviAT_page .cheminDeFer3 .troisEtapes {
	width: 390px; margin-right: auto; margin-left: auto;
}
#as_suiviAT_page .cheminDeFer3 .quatreEtapes {
	width: 520px; margin-right: auto; margin-left: auto;
}
.cheminDeFer3 h4 {
	display: none;
}
.cheminDeFer3 .item {
	margin: 0px; padding: 0px; float: left;
}
.cheminDeFer3 .itemSelect {
	margin: 0px; padding: 0px; float: left;
}
.cheminDeFer3 .item table {
	padding: 0px; border: 0px currentColor; border-image: none; height: 45px; border-collapse: collapse; border-spacing: 0;
}
.cheminDeFer3 .itemSelect table {
	padding: 0px; border: 0px currentColor; border-image: none; height: 45px; border-collapse: collapse; border-spacing: 0;
}
.cheminDeFer3 .item .bordGauche {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 10px; height: 45px;
}
.cheminDeFer3 .item .bordDroit {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 10px; height: 45px;
}
.cheminDeFer3 .itemSelect .bordGauche {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 10px; height: 45px;
}
.cheminDeFer3 .itemSelect .bordDroit {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 10px; height: 45px;
}
.cheminDeFer3 .item .bordGauche {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_gauche_normal.png") no-repeat left;
}
.cheminDeFer3 .item .bordDroit {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_droite_normal.png") no-repeat right;
}
.cheminDeFer3 .item .centre {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_centre_normal.png") repeat-x rgb(237, 237, 237); width: 100px; color: rgb(168, 64, 127);
}
.cheminDeFer3 .item .avecfocus .bordGauche {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_gauche_normal_select.png") no-repeat left;
}
.cheminDeFer3 .item .avecfocus .bordDroit {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_droite_normal_select.png") no-repeat right;
}
.cheminDeFer3 .item .avecfocus .centre {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_centre_normal_select.png") repeat-x;
}
.cheminDeFer3 .itemSelect .bordGauche {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_gauche_actif_select.png") no-repeat left;
}
.cheminDeFer3 .itemSelect .bordDroit {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_droite_actif_select.png") no-repeat right;
}
.cheminDeFer3 .itemSelect .centre {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_centre_actif_select.png") repeat-x rgb(200, 66, 148); width: 100px; color: white;
}
.cheminDeFer3 .itemSelect .sansfocus .bordGauche {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_gauche_actif_nonselect.png") no-repeat left;
}
.cheminDeFer3 .itemSelect .sansfocus .bordDroit {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_droite_actif_nonselect.png") no-repeat right;
}
.cheminDeFer3 .itemSelect .sansfocus .centre {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/jalon_centre_actif_nonselect.png") repeat-x;
}
.cheminDeFer3 .item .centre {
	margin: 0px; padding: 0px 5px; border: 0px currentColor; border-image: none; height: 45px; text-align: center; line-height: 11px; font-weight: bold;
}
.cheminDeFer3 .itemSelect .centre {
	margin: 0px; padding: 0px 5px; border: 0px currentColor; border-image: none; height: 45px; text-align: center; line-height: 11px; font-weight: bold;
}
.cheminDeFer3 .item .centre a {
	color: rgb(168, 64, 127); line-height: 15px; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: pointer;
}
.cheminDeFer3 .itemSelect .centre a {
	color: white; line-height: 15px; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: pointer;
}
.cheminDeFer3 .item .centre a:hover {
	text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.cheminDeFer3 .itemSelect .centre a:hover {
	text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.cheminDeFer3 .linkBlock {
	padding: 0px 5px 0px 0px; width: 100%; height: 100%; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; display: block;
}
.cheminDeFer3 .linkBlock:hover {
	text-decoration: underline !important; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.cheminDeFer3 .item .centre .contenuPresent {
	color: rgb(168, 64, 127);
}
