.r_ddc_page {
	overflow: hidden; margin-bottom: -25px; position: relative; min-height: 341px;
}
.r_ddc_page p {
	width: 400px; margin-top: 10px;
}
.r_ddc_page li {
	margin-left: 17px;
}
.r_ddc_page .r_label {
	width: 260px; font-weight: normal;
}
.r_ddc_imgAmelie {
	left: 115px; bottom: 0px; position: absolute;
}
.r_ddc_bulleAmelie {
	margin: 30px 0px 20px 314px; border-radius: 10px; border: 1px solid rgb(222, 222, 222); border-image: none; width: 475px; padding-left: 20px; float: left; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.r_ddc_380 {
	width: 380px;
}
.r_ddc_400 {
	width: 400px;
}
.r_ddc_440 {
	width: 440px;
}
.r_ddc_450 {
	width: 450px;
}
.r_float_left {
	float: left;
}
.r_ddc_fleche_bulle {
	left: 295px; bottom: 250px; position: absolute; z-index: 10;
}
.r_ddc_titre {
	color: rgb(156, 45, 108); font-size: 1.3em; margin-bottom: 0.8em;
}
.r_ddc_filAriane {
	width: 450px; font-size: 1em;
}
.r_ddc_filAriane ul {
	font-weight: bold; margin-left: 0px; list-style-type: none;
}
.r_ddc_filAriane li {
	margin: 0px -16px 10px 0px; line-height: 26px; float: left;
}
.r_ddc_filAriane li div {
	margin: 0px; padding: 0px 0px 0px 5px; height: 26px; color: rgb(183, 81, 144); float: left; background-color: rgb(222, 222, 222);
}
.r_ddc_filAriane li div.enCours {
	color: rgb(255, 255, 255); background-color: rgb(183, 81, 144);
}
.r_ddc_filAriane li div.done {
	color: rgb(255, 255, 255); background-color: rgb(212, 151, 188);
}
.r_ddc_filAriane li div.end {
	border-width: 13px 0px 13px 20px; border-style: solid; border-color: transparent transparent transparent rgb(222, 222, 222); padding: 0px; width: 0px; height: 0px; float: left; background-color: transparent;
}
.r_ddc_filAriane li div.endEnCours {
	border-width: 13px 0px 13px 20px; border-style: solid; border-color: transparent transparent transparent rgb(183, 81, 144); padding: 0px; width: 0px; height: 0px; float: left; background-color: transparent;
}
.r_ddc_filAriane li div.endDone {
	border-width: 13px 0px 13px 20px; border-style: solid; border-color: transparent transparent transparent rgb(212, 151, 188); padding: 0px; width: 0px; height: 0px; float: left; background-color: transparent;
}
.r_ddc_filAriane li div.start {
	border-width: 13px 0px 13px 20px; border-style: solid; border-color: rgb(222, 222, 222) rgb(222, 222, 222) rgb(222, 222, 222) transparent; padding: 0px; width: 0px; height: 0px; float: left; background-color: transparent;
}
.r_ddc_filAriane li div.startEnCours {
	border-width: 13px 0px 13px 20px; border-style: solid; border-color: rgb(183, 81, 144) rgb(183, 81, 144) rgb(183, 81, 144) transparent; padding: 0px; width: 0px; height: 0px; float: left; background-color: transparent;
}
.r_ddc_filAriane li div.startDone {
	border-width: 13px 0px 13px 20px; border-style: solid; border-color: rgb(212, 151, 188) rgb(212, 151, 188) rgb(212, 151, 188) transparent; padding: 0px; width: 0px; height: 0px; float: left; background-color: transparent;
}
.r_color_violet_bold {
	color: rgb(183, 81, 144); font-weight: bold;
}
.r_color_violet_bold:hover {
	color: rgb(183, 81, 144);
}
.r_color_violet_souligne {
	color: rgb(183, 81, 144); text-decoration: underline;
}
.r_ddc_label {
	color: rgb(183, 81, 144); font-weight: bold; margin-top: 10px; margin-right: 10px; float: left;
}
.r_ddc_label_188 {
	width: 191px; color: rgb(183, 81, 144); font-weight: bold; margin-top: 10px; margin-right: 12px; float: left;
}
.r_ddc_label_191 {
	width: 191px; color: rgb(183, 81, 144); font-weight: bold; margin-top: 10px; margin-right: 12px; float: left;
}
.codepostal.r_ddc_label {
	margin-right: 5px;
}
.r_ddc_label_9em {
	width: 9em; color: rgb(183, 81, 144); font-weight: bold; margin-right: 10px; float: left;
}
.r_ddc_champ_200 {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 200px; font-size: 1em; margin-top: 10px; margin-right: 20px; float: right; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ_220 {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 220px; font-size: 1em; margin-top: 10px; float: right; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ_190 {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 190px; font-size: 1em; margin-top: 10px; margin-right: 20px; float: right; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_select_220 {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(183, 81, 144) currentColor rgb(183, 81, 144) rgb(183, 81, 144); border-radius: 2px; width: 222px; font-size: 0.9em; margin-top: 10px; float: right; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_select {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(183, 81, 144) currentColor rgb(183, 81, 144) rgb(183, 81, 144); border-radius: 2px;  font-size: 0.9em; margin-top: 10px;  -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ_160 {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 152px; font-size: 1em; margin-top: 10px; margin-right: 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ_date {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 70px; font-size: 1em; margin-top: 10px; float: right; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; font-size: 1em; margin-top: 10px; margin-right: 20px; float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ_200_gris {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 200px; color: rgb(190, 190, 222); font-size: 1em; margin-top: 10px; margin-right: 20px; float: right; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ_160_gris {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 152px; color: rgb(190, 190, 222); font-size: 1em; margin-top: 10px; margin-right: 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champ_date_gris {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 70px; color: rgb(190, 190, 222); font-size: 1em; margin-top: 10px; float: right; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champNirCase {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 1em; text-align: center; font-size: 1.3em; margin-top: 0.5em; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champNir1CaseColle {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 1em; text-align: center; font-size: 1.3em; margin-top: 0.5em; margin-right: -1px; margin-left: 0.2em; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_champNir2CaseColle {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 1em; text-align: center; font-size: 1.3em; margin-top: 0.5em; margin-right: -1px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_ddc_page .r_btsubmit {
	margin: 20px 0px 30px 10px; float: right;
}
.r_ddc_page .r_btretour {
	margin: 20px 0px 30px 10px; float: right;
}
.r_ddc_btterminer {
	background: linear-gradient(rgb(198, 100, 159), rgb(145, 35, 101)); margin: 20px 0px 30px 10px; padding: 5px 20px; border-radius: 5px; border: currentColor; border-image: none; text-align: center; color: rgb(255, 255, 255); font-size: 1em; font-weight: bold; float: right; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; -pie-background: linear-gradient(#C6649F, #912365);
}
.r_ddc_btterminer:hover {
	background: linear-gradient(rgb(123, 42, 90), rgb(151, 74, 122)); border: currentColor; border-image: none; color: rgb(255, 255, 255); text-decoration: none; -pie-background: linear-gradient(#7B2A5A, #974A7A);
}
#r_errors {
	color: rgb(238, 0, 0); margin-top: 20px; margin-left: 125px;
}
#r_errors h1 {
	margin: 1em 0px 0.5em; color: rgb(238, 0, 0); padding-top: 0em; font-size: 1.1em; font-style: normal; font-weight: bold;
}
#r_errors li {
	color: rgb(238, 0, 0);
}
#r_errors ul {
	left: 0px; color: rgb(238, 0, 0);
}
.r_ddc_label_btradio_gauche {
	color: rgb(168, 64, 127); font-weight: bold; margin-top: 10px; float: left; position: relative;
}
.r_ddc_label_btradio_droite {
	color: rgb(168, 64, 127); font-weight: bold; margin-top: 10px; margin-right: 50px; float: right; position: relative;
}
.r_ddc_btradio_transparent {
	position: absolute; opacity: 0;
}
.r_ddc_btradio {
	margin: 0px; position: absolute; z-index: -1;
}
.r_ddc_aidelien {
	width: 30px; color: rgb(183, 81, 144); text-decoration: underline; margin-top: 10px; float: right;
}
.r_ddc_consigne {
	line-height: 1.2; padding-top: 2px; font-size: 0.8em; margin-top: -2.5px; position: relative;
}
.r_ddc_loi {
	margin: 0px 5px 10px -5px; color: darkgray; font-size: 0.7em;
}
.r_ddc_fields {
	margin: 20px 0px;
}
.r_clear_both {
	clear: both;
}
.r_ddc_conditions_util {
	width: 440px; margin-top: 10px;
}
.r_ddc_double_fleche {
	margin-left: 10px;
}
