body {
	margin: 22px auto 0px; width: 950px; height: 100%; line-height: 1.2; font-family: Helvetica,Arial,FreeSans,sans-serif;
}
#Header {
	margin: 0px;
}
.wlp-bighorn-header {
	
}
.wlp-bighorn-page {
	margin: 25px 30px 0px;
}
.wlp-bighorn-page-unconnect {
	margin: 25px 30px 0px;
}
.wlp-bighorn-footer {
	padding-top: 25px; clear: left;
}
.wlp-bighorn-image-rollover {
	display: none;
}
.wlp-bighorn-image-nonrollover {
	display: inline;
}
