.r_acc_bloc {
	margin: 0px 30px 10px 0px; width: 320px;
}
#as_vos_demandes_page .r_acc_bloc {
	margin: 0px 30px 30px 0px; width: 410px;
}
.rose.r_acc_bloc {
	
}
.r_acc_colonne_gauche {
	width: 350px; float: left;
}
.r_acc_colonne_droite {
	width: 320px; float: left;
}
.r_acc_bloc h1 {
	margin: 0px; padding: 0px 10px; border-radius: 10px 10px 0px 0px; color: rgb(255, 255, 255); font-size: 1.1em; font-weight: bold; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;
}
.rose.r_acc_bloc h1 {
	background: rgb(200, 66, 148); font-variant: small-caps;
}
.bleu.r_acc_bloc h1 {
	background: rgb(53, 123, 177); font-variant: small-caps;
}
.r_acc_bloc .bloc_sousrubrique {
	padding: 10px; border-radius: 0px 0px 10px 10px; border: 1px solid rgb(200, 66, 148); border-image: none; line-height: 1.5em; font-family: Helvetica,Arial,FreeSans,sans-serif; font-size: 0.9em; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px;
}
.r_acc_bloc .bloc_sousrubrique ul {
	list-style: none;
}
#as_vos_demandes_page .r_acc_bloc .bloc_sousrubrique ul li {
	padding-bottom: 6px;
}
.r_acc_bloc .bloc_sousrubrique img {
	vertical-align: middle;
}
.r_acc_bloc .bloc_sousrubrique li a {
	color: rgb(0, 0, 0); border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.r_acc_bloc .bloc_sousrubrique li a:hover {
	color: rgb(0, 0, 0); border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.r_acc_bloc .bloc_sousrubrique .lienAccueilSitemap {
	color: rgb(200, 66, 148); font-weight: bold; margin-left: 100px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.r_acc_bloc .bloc_sousrubrique a.lienAccueilSitemap:hover {
	font-weight: bold; margin-left: 100px; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
#as_vos_demandes_page .r_acc_bloc .bloc_sousrubrique a {
	color: rgb(0, 98, 173);
}
.rose.r_acc_bloc .bloc_sousrubrique {
	border-color: rgb(200, 66, 148);
}
.bleu.r_acc_bloc .bloc_sousrubrique {
	border-color: rgb(53, 123, 177);
}
.bleu.r_acc_bloc .bloc_sousrubrique p {
	margin: 0px; padding-bottom: 10px;
}
.r_acc_push_prevention {
	margin: -10px 0px 10px; width: 320px; border-bottom-color: rgb(53, 123, 177); border-bottom-width: 2px; border-bottom-style: solid; position: relative; min-height: 60px;
}
.r_acc_push_prevention img {
	left: 0px; bottom: 0px; position: absolute;
}
.r_acc_push_prevention .sousRubrique {
	width: 255px; margin-left: 65px;
}
.r_acc_push_prevention .sousRubrique h2 {
	font-size: 1em;
}
.r_acc_push_prevention .sousRubrique .lienService {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; float: right;
}
.r_acc_push_prevention .sousRubrique .lienService:hover {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.r_acc_push_prevention .sousRubrique p {
	line-height: 1.5em; font-size: 0.85em; margin-top: 0px; margin-bottom: 20px;
}
.r_acc_bloc_liens {
	padding: 10px; border-radius: 10px; border: 1px solid rgb(53, 123, 177); border-image: none; width: 168px; margin-bottom: 15px; background-color: white; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.r_acc_bloc_liens h1 {
	color: rgb(53, 123, 177); font-size: 1.1em; font-variant: small-caps; font-weight: bold; margin-top: 0px; margin-bottom: 10px;
}
.r_acc_bloc_liens ul {
	line-height: 1.5em; list-style-position: inside; list-style-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/puce_losange.png");
}
.r_acc_bloc_liens a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.r_acc_bloc_liens a:hover {
	text-decoration: none;
}
.href_bleu a {
	color: rgb(0, 98, 173);
}
.r_acc_vignette {
	width: 162px; text-align: center; margin-right: auto; margin-bottom: 15px; margin-left: auto;
}
.r_acc_vignette img {
	max-width: 162px;
}
.r_acc_vignette a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.r_acc_vignette a:hover {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.r_acc_vignette h2 {
	color: rgb(53, 123, 177); font-size: 1.1em; font-variant: small-caps; font-weight: bold; margin-top: 0px; margin-bottom: 10px;
}
.r_acc_fond_rose {
	background-color: rgb(200, 66, 148);
}
.r_acc_bonjour {
	width: 556px; overflow: hidden; margin-top: 0px; margin-bottom: 0px; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.r_pro_vignette_droit {
	width: 162px; text-align: center; line-height: 1.5em; margin-right: auto; margin-left: auto;
}
.r_pro_vignette_droit h3 {
	color: rgb(37, 73, 109); font-size: 1.1em; margin-top: 0px;
}
.r_acc_vignette .lienTexteDansVignette {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
