.r_cnx_page {
	margin-top: 45px; position: relative;
}
.r_cnx_maintenance {
	width: 713px; margin-right: 62px; margin-left: 125px;
}
.r_cnx_colonneG {
	width: 428px; margin-left: 125px;
}
.r_cnx_page h1 {
	color: rgb(183, 81, 144); padding-top: 1em; font-size: 1.7em; font-style: italic; font-weight: bold; margin-bottom: 0.25em;
}
.r_cnx_page h2 {
	color: rgb(183, 81, 144); font-size: 1.3em; font-weight: bold; margin-left: -90px;
}
.r_cnx_page ul {
	list-style: square inside; color: rgb(183, 81, 144); margin-bottom: 20px;
}
.r_cnx_page li span {
	color: black;
}
.r_cnx_colonneD {
	left: 553px; width: 285px; bottom: 0px; position: absolute;
}
.r_cnx_cadre_rose_amelie {
	padding: 10px; width: 388px; overflow: hidden;
}
.r_cnx_cadre_gris_amelie {
	left: 0px; top: 0px; padding-right: 3px; padding-bottom: 20px; padding-left: 110px;
}
.r_cnx_cadre_gris_amelie li {
	line-height: 1.5em;
}
.r_cnx_amelie {
	left: 0px; height: 239px; bottom: 0px; position: absolute;
}
.r_cnx_lien_amelie {
	color: rgb(183, 81, 144); font-size: 0.85em; font-weight: bold;
}
.r_cnx_lien_amelie:hover {
	color: rgb(183, 81, 144); font-size: 0.85em; font-weight: bold;
}
.r_cnx_form {
	overflow: hidden;
}
.r_cnx_label {
	color: rgb(200, 66, 148); font-weight: bold; margin-top: 10px; margin-right: 10px; float: left;
}
.r_cnx_span_validation {
	vertical-align: middle; float: left; position: relative;
}
.r_cnx_aidelien {
	color: rgb(107, 107, 107); font-size: 0.8em; text-decoration: none; margin-top: 0.4em;
}
.r_cnx_aidelien:hover {
	text-decoration: none;
}
.r_cnx_aidelien_gauche {
	color: darkgrey; font-size: 0.8em; text-decoration: none; margin-top: 0.4em; float: left;
}
.r_cnx_aidelien_gauche:hover {
	color: darkgrey; text-decoration: none;
}
.r_cnx_aidelien_droite {
	color: darkgrey; font-size: 0.8em; margin-top: 1em; float: right;
}
.r_cnx_aidelien_droite:hover {
	color: darkgrey;
}
.r_cnx_champ_220 {
	border-radius: 2px; border: 1px solid rgb(200, 66, 148); border-image: none; width: 220px; font-size: 1em; margin-top: 0.2em; margin-right: 10px; float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_cnx_champNir {
	width: 221px; margin-right: 10px; float: left;
}
.r_cnx_champNirCase {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 1em; text-align: center; font-size: 1.1em; margin-top: 0.2em; float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_cnx_champNir1CaseColle {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 1em; text-align: center; font-size: 1.1em; margin-top: 0.2em; margin-right: -1px; margin-left: 0.25em; float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_cnx_champNir2CaseColle {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; width: 1em; text-align: center; font-size: 1.1em; margin-top: 0.2em; margin-right: -1px; float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_cnx_msp img {
	width: 185px; margin-top: 5px; float: left;
}
.r_cnx_msp p {
	font-size: 0.85em; float: left;
}
.r_cnx_msp a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.r_cnx_msp a:hover {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.r_cnx_liste_regimes {
	width: 713px; color: darkgrey; font-size: 0.8em; margin-left: 125px;
}
.r_cnx_liaisonMSP {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; margin-top: 10px; float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_cnx_liaisonMSP img {
	width: 150px; height: 30px; margin-right: 30px;
}
.r_cnx_liaisonMSP a {
	color: darkgrey; font-size: 0.8em; vertical-align: text-top;
}
.r_cnx_titlebar_error {
	width: 680px; color: rgb(0, 98, 173); overflow: hidden; padding-left: 25px; font-size: 1.4em; font-variant: small-caps; font-weight: bold; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.r_cnx_msp_liaison_cree {
	height: 2.4em; margin-bottom: 10px; vertical-align: middle;
}
.nowrap {
	white-space: nowrap;
}
