.colonne_info_droite {
	background: rgb(238, 245, 249); padding: 10px 0px; border-radius: 10px 10px 0px 0px; width: 190px; clear: right; margin-top: -15px; margin-bottom: 39px; float: right; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;
}
.infoPrestationsAssure span {
	padding: 10px 0px 5px; text-align: left; font-weight: bold;
}
.infoPrestationsAssure p {
	margin: 0px; font-size: 0.85em; vertical-align: middle;
}
.infoTauxOrganisme {
	color: red; border-left-width: 2px; background-color: green;
}
.infoPrestationsAssure table {
	
}
.infoPrestationsAssure td {
	padding: 2px 2px 2px 6px !important; line-height: 1.4em !important; font-size: 0.9em; border-bottom-color: rgb(224, 240, 255); border-bottom-width: 1px; border-bottom-style: solid; white-space: normal !important;
}
.infoPrestationsAssure th {
	padding: 5px !important;
}
.sans_fond {
	background: none;
}
.wlp-bighorn-page {
	position: relative;
}
#colcentre {
	width: 670px; line-height: 1.5em; margin-top: 20px; float: left;
}
.centrepage {
	width: 670px; line-height: 1.5em; margin-top: 20px; float: left;
}
.centrepageconnexion {
	margin-top: 20px;
}
.logdate {
	overflow: hidden; padding-bottom: 15px; font-size: 0.9em;
}
.logdate > span {
	float: left;
}
.logdate #nom_assure {
	padding-left: 10px;
}
.logdate img {
	margin: -1px 5px -1px 0px;
}
.logdate .droite {
	width: 190px; right: 0px; position: absolute;
}
.logout {
	right: 190px; text-decoration: none; position: absolute;
}
a.logout:hover {
	color: rgb(200, 66, 148);
}
a#logout:hover span {
	text-decoration: none;
}
#as_login_page .wlp-bighorn-layout {
	margin-right: 0px;
}
.r_cadre_rose {
	padding: 5px 5px 8px; border-radius: 10px; border: 1px solid rgb(183, 81, 144); border-image: none; margin-bottom: 20px; position: relative; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.r_cadre_gris {
	padding: 5px; border-radius: 10px; border: 1px solid rgb(222, 223, 228); border-image: none; position: relative; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#as_login_page .wlp-bighorn-titlebar {
	display: none;
}
#ameli_renseigner_courriel_page .wlp-bighorn-titlebar {
	display: none;
}
.r_btretour {
	background: linear-gradient(rgb(237, 237, 237), rgb(222, 222, 222)); padding: 5px 19px; border-radius: 5px; border: currentColor; border-image: none; color: rgb(168, 64, 127); line-height: 18px; font-weight: bold; margin-right: 15px; margin-left: 15px; vertical-align: middle; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; -pie-background: linear-gradient(#EDEDED, #DEDEDE);
}
.r_btretour:hover {
	background: linear-gradient(rgb(182, 182, 182), rgb(205, 205, 205)); color: rgb(168, 64, 127); text-decoration: none; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; -pie-background: linear-gradient(#B6B6B6, #CDCDCD);
}
.r_btsubmit {
	background: linear-gradient(rgb(198, 100, 159), rgb(145, 35, 101)); padding: 5px 19px; border-radius: 5px; color: rgb(255, 255, 255); line-height: 18px; font-weight: bold; margin-right: 15px; margin-left: 15px; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; -pie-background: linear-gradient(#C6649F, #912365);
}
.r_btsubmit:hover {
	background: linear-gradient(rgb(123, 42, 90), rgb(151, 74, 122)); color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; -pie-background: linear-gradient(#7B2A5A, #974A7A);
}
.r_btaide {
	background: linear-gradient(rgb(198, 100, 159), rgb(145, 35, 101)); padding: 0px; border-radius: 5px; color: rgb(255, 255, 255); line-height: 18px; font-weight: bold; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; -pie-background: linear-gradient(#C6649F, #912365);
}
.codepostal.r_btaide {
	width: 16px; height: 16px; margin-top: 10px; margin-right: 5px; float: left;
}
.r_btaide:hover {
	background: linear-gradient(rgb(123, 42, 90), rgb(151, 74, 122)); color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; -pie-background: linear-gradient(#7B2A5A, #974A7A);
}
.r_btlien {
	padding: 6px 20px;
}
.r_cnx_page #id_r_cnx_btn_code {
	margin: 40px 0px 20px 10px; padding: 6px 9px; float: right;
}
.r_cnx_page #id_r_cnx_btn_submit {
	margin: 0px; padding: 5px;
}
#loginMessageAttention p {
	margin: 0.5em 0.1em;
}
#loginMessageAttention {
	width: 160px;
}
#loginIconeAttention {
	width: 25px; height: 45px;
}
#loginIconeAttention img {
	margin: 0.5em 0.1em;
}
#aidePopIn h2 {
	color: rgb(183, 81, 144); margin-bottom: 0px;
}
#aidePopIn h3 {
	color: rgb(183, 81, 144); margin-bottom: 0px;
}
#aidePopIn img {
	float: right;
}
#fenetreDidacticiel img {
	top: 6px; right: 6px; position: absolute;
}
.sousRubrique img {
	width: 0.8em; height: 0.85em; margin-left: 5px; vertical-align: middle; position: relative;
}
.msp_unconnected {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/msp/bg/degrade.jpg") repeat-x left 0px rgb(218, 231, 239); border: 1px solid rgb(43, 42, 145); border-image: none; width: 154px; margin-right: auto; margin-left: auto;
}
.msp_unconnected .bas {
	background-position: 100% 100%; width: 100%; color: rgb(255, 255, 255); padding-bottom: 5px; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/msp/bg/coin.png"); background-repeat: no-repeat; background-color: rgb(106, 106, 207);
}
.msp_unconnected .bas .lien .fleche {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/msp/bg/fleche_blanche.png") no-repeat 2px 3px; color: white; padding-left: 11px;
}
.msp_connected {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/msp/bg/degrade.jpg") repeat-x left 0px rgb(218, 231, 239); border: 1px solid rgb(43, 42, 145); border-image: none; width: 154px; height: 140px; margin-right: auto; margin-bottom: 15px; margin-left: auto;
}
.msp_connected .bas {
	width: 100%; color: rgb(255, 255, 255);
}
#r_ror p {
	margin: 0.4em 0px; font-size: 0.8em;
}
.r_champ_lecture {
	border-radius: 2px; border: 1px solid rgb(200, 66, 148); border-image: none; width: 3em; text-align: center; font-size: 1em; margin-left: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.r_chevron {
	line-height: 0; font-size: 1.4em; margin-left: 0.3em; vertical-align: middle;
}
.r_rose {
	color: rgb(200, 66, 148);
}
.r_bleu {
	color: rgb(53, 123, 177);
}
.r_violet {
	color: rgb(183, 81, 144);
}
a.r_rose:hover {
	color: rgb(200, 66, 148);
}
a.r_bleu:hover {
	color: rgb(53, 123, 177);
}
a.r_violet:hover {
	color: rgb(183, 81, 144);
}
.souligne_blue {
	color: rgb(0, 98, 173); display: inline;
}
.souligne_rose {
	color: rgb(233, 64, 155); display: inline;
}
.r_question {
	-ms-word-wrap: break-word; max-width: 628px;
}
.r_right {
	float: right;
}
.r_left {
	float: left;
}
#tableauMessagesEnvoyes tbody a {
	color: black; text-decoration: none;
}
#tableauMessagesEnvoyes tbody a:hover {
	text-decoration: none;
}
#tableauMessagesEnvoyes tbody a div span {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
#tableauMessagesEnvoyes tbody a div span:hover {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
#tableauMessagesEnvoyes th input {
	background: rgb(224, 240, 255);
}
#tableauMessagesRecus tbody a {
	color: black; text-decoration: none;
}
#tableauMessagesRecus tbody a div span {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
#tableauMessagesRecus tbody a div span:hover {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
#tableauMessagesRecus tbody a:hover {
	text-decoration: none;
}
#tableauMessagesRecus th input {
	background: rgb(224, 240, 255);
}
.r_rlm_message_lien {
	color: red; font-weight: bold;
}
.r_rlm_message_ICI {
	color: red;
}
.r_rlm_encadre_mail_confirmation {
	padding: 10px; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; margin-top: 20px; margin-bottom: 20px; background-color: azure;
}
.r_rlm_fleche_lien {
	left: 126px; top: 105px; position: absolute;
}
.r_rlm_lien_encadre {
	border-style: solid; padding: 0px 10px; border-radius: 30px; color: rgb(0, 98, 173); position: relative; z-index: 1;
}
.r_evc_texte {
	margin-top: 30px; margin-left: 150px;
}
.r_evc_bloc_accueil {
	text-align: center; margin-top: 20px;
}
.r_cpl_info {
	color: rgb(0, 98, 173); text-decoration: underline; position: relative; z-index: 24;
}
.r_cpl_info:hover {
	color: rgb(0, 98, 173); text-decoration: none; z-index: 25; cursor: help;
}
.r_cpl_info span {
	display: none;
}
.r_cpl_info:hover span {
	padding: 5px; border-radius: 10px; border: 2px solid rgb(183, 81, 144); border-image: none; left: -42em; top: -2em; width: 40em; color: rgb(0, 0, 0); line-height: normal; display: block; white-space: normal; position: absolute; background-color: rgb(255, 240, 240);
}
#tableauCompl {
	margin-top: 30px; margin-bottom: 30px;
}
#tableauCompl td {
	line-height: normal; white-space: normal; -ms-word-wrap: break-word;
}
#tableauCompl .pair {
	background-color: rgb(210, 210, 210);
}
.r_maj_contact_label {
	width: 300px; font-weight: bolder; margin-top: 10px; float: left;
}
.r_maj_contact_value {
	margin-top: 10px; margin-left: 10px; float: left;
}
#as_modifier_add_courrier_elec_page #blocMail {
	width: 530px;
}
#as_modifier_add_courrier_elec_page #blocTel {
	width: 530px;
}
#as_modifier_add_courrier_elec_page #blocMail .r_label {
	width: 300px;
}
#as_modifier_add_courrier_elec_page #blocTel .r_label {
	width: 300px;
}
.r_ec_beneficiaires {
	float: left;
}
.r_ec_beneficiaires h4 {
	margin: 0px; padding: 0px; color: rgb(37, 73, 109); font-size: 1em; font-weight: bold;
}
.r_ec_beneficiaires ul {
	margin: 0px 0px 10px 17px;
}
.r_ec_beneficiaires ol {
	margin: 0px 0px 10px 17px;
}
.r_ec_beneficiaires li {
	line-height: 1.2em;
}
.r_ec_beneficiaires .blocfond {
	width: 650px; padding-top: 1px; clear: both; margin-top: 0px;
}
.r_ec_beneficiaires .colonne_info_droite {
	margin-top: 0px;
}
.blocfond .r_pre_bloc .bloc_sousrubrique {
	padding: 5px 0px 0px 5px; margin-right: 8px;
}
.blocfond .r_pre_bloc .bloc_benef li {
	line-height: 1.5em; margin-left: 0px; vertical-align: middle; list-style-type: disc;
}
.lbl_maintien {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/fd_filetbleu.gif") repeat-y 0px 0px; padding: 0px 0px 0px 10px; color: rgb(63, 49, 111);
}
.blocfond .img_maintien {
	background-position: center; padding: 0px 2px; width: 5%; content: ""; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/connexion/j_y_pense.png"); background-repeat: no-repeat;
}
.attention {
	background-position: center; float: right; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/connexion/j_y_pense.png"); background-repeat: no-repeat;
}
.blocfond .r_pre_bloc h3.plie {
	padding-bottom: 4px; border-bottom-color: rgb(187, 218, 246); border-bottom-width: 1px; border-bottom-style: solid;
}
.blocfond .r_pre_bloc h3.deplie {
	border-radius: 10px 10px 0px 0px; padding-bottom: 5px;
}
.mesureSati {
	padding: 5px 10px; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; color: rgb(74, 74, 75); font-weight: bold; margin-top: 20px; margin-bottom: 20px; vertical-align: middle; background-color: azure;
}
#divQuestSati_ChoixOuv {
	width: 100%;
}
#divQuestSati_ChoixOuv table {
	width: 100%;
}
#divQuestSati_ChoixOuv img {
	width: 2.6em; height: 2.6em;
}
.tdQuestSatiLeft50 {
	width: 50%;
}
.tdQuestSatiLeft80 {
	width: 50%;
}
.tdQuestSatiLeft20 {
	width: 20%; text-align: right;
}
.tdQuestSatiRight20 {
	width: 20%; text-align: right;
}
.mesureSatiU1Lbl {
	width: 100%; line-height: 1.5em; font-weight: normal; margin-top: 10px; margin-bottom: 10px;
}
.mesureSatiU1Lbl td {
	width: 100%;
}
.mesureSatiU1Radio {
	font-size: 1em; font-weight: normal; margin-left: 25px;
}
.mesureSatiErreur {
	color: red; font-size: 1.1em; font-weight: normal; margin-top: 5px; margin-bottom: 5px; margin-left: 10px;
}
.mesureSatiBtnValidate {
	background: linear-gradient(rgb(198, 100, 159), rgb(145, 35, 101)); border-radius: 5px; text-align: center; color: rgb(255, 255, 255); line-height: 18px; font-weight: bold; vertical-align: middle; float: right; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; -pie-background: linear-gradient(#C6649F, #912365);
}
.r_obligatoire {
	width: 100%; text-align: right; margin-bottom: 5px;
}
.r_lien_pdf::before {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/messagerie/telecharger_pdf.png") no-repeat 0px 4px; padding-left: 20px; font-size: 20px; content: "";
}
.r_lien_image {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.r_lien_image:hover {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#presentationCEAM td {
	padding-right: 1em;
}
.r_label_radio {
	width: auto;
}
.bloc_bleu table {
	border: currentColor; border-image: none; height: 73px;
}
.tableServiceGrossesse {
	width: 100%; text-align: center; margin-left: auto;
}
#as_suiviAT_page .tableau td {
	line-height: 1.5em; padding-top: 2px; white-space: normal;
}
.listeEvenements td {
	border-bottom-color: rgb(224, 240, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
#as_suiviAT_page .tdTexte {
	padding: 0px 5px 0px 10px;
}
#as_suiviAT_page .tdValeur {
	padding: 0px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.introAT {
	margin-bottom: 20px;
}
.introAT img {
	margin-top: 25px; margin-right: 20px; float: left;
}
.titreTabRecap {
	border-radius: 10px 10px 0px 0px !important; text-align: center !important;
}
.indicateurEnAttente {
	background: orange; padding: 1px 3px;
}
.indicateurAccord {
	background: greenyellow; padding: 1px 3px;
}
.indicateurRefus {
	background: tomato; padding: 1px 3px;
}
.indicateurClasse {
	background: burlywood; padding: 1px 3px;
}
#as_suiviAT_page ol {
	list-style: decimal;
}
#as_consulter_coordbancaires_page .tab-footer {
	background-color: rgb(238, 245, 249);
}
.blocEnfant {
	padding: 25px 180px 20px 60px; clear: both;
}
.blocEnfant legend {
	top: 10px;
}
.blocEnfant label {
	width: 180px; clear: both; float: left;
}
.blocEnfant .blocAutresPrenoms input {
	margin-left: 180px;
}
.blocEnfant input {
	width: 150px;
}
.blocEnfant select {
	width: 152px;
}
.blocEnfant .r_obligatoire {
	margin-left: 195px;
}
.blocEnfantUsuel {
	padding: 25px 100px 20px 60px; clear: both;
}
.blocEnfantUsuel legend {
	top: 10px;
}
.blocEnfantUsuel div {
	clear: both;
}
.blocEnfant .zone_combo {
	clear: none; margin-top: 10px; float: right;
}
.blocEnfantUsuel .libelle {
	width: 40%; text-align: left; font-weight: bold; margin-top: 5px; display: inline-block;
}
.blocEnfantUsuel .valeur {
	width: 34%; text-align: left; margin-top: 5px; display: inline-block; -ms-word-wrap: break-word;
}
.blocEnfantUsuel .choix {
	width: 24%; text-align: center; font-weight: bold; margin-top: 5px; float: right; display: inline-block;
}
.blocEnfantUsuel .listePrenoms {
	margin-top: 10px; margin-bottom: 10px;
}
.validationDeclaration {
	font-weight: bold;
}
.propositionMere {
	color: rgb(0, 98, 173); font-weight: bold;
}
#idCoordBancaires th {
	border: 0px currentColor; border-image: none;
}
#suiviAATIntro1 {
	margin-bottom: 1em;
}
#suiviAATIntro2 {
	margin-bottom: 2em;
}
.listeEve {
	border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; width: 85%;
}
.titreEtape {
	border-radius: 10px 10px 0px 0px; color: rgb(0, 98, 173); border-bottom-color: rgb(0, 98, 173); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(224, 240, 255);
}
.listeEve > div {
	padding: 0.5em;
}
.colonneDateEve {
	vertical-align: top; display: inline;
}
.colonneDescrEve {
	width: 85%; display: inline-block;
}
.titreEve {
	font-weight: bold;
}
#btnNavigation {
	padding: 0.5em; width: 85%; margin-bottom: 2em;
}
.inactif {
	color: grey;
}
#listeAAT .resultat {
	display: none;
}
#listeAAT #tabinterpage-bas {
	width: 100%;
}
#suiviAATNbResultat {
	margin-bottom: 2%;
}
.blocInfoGras {
	font-weight: bold;
}
#infoPasSuiviAAT {
	padding: 2%; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; font-weight: bold;
}
#idMessageAlerteAttestationDroits {
	display: none;
}
.remarque {
	font-style: italic; font-weight: normal;
}
.r_bloc_form {
	padding: 10px; border: 5px solid lightblue; border-image: none; margin-top: 20px; margin-bottom: 20px;
}
.lienInfoInactif {
	border: currentColor; border-image: none; color: black; cursor: auto;
}
.lienInfoInactif:hover {
	border: currentColor; border-image: none; color: black; cursor: auto;
}
.lienInfo {
	color: black;
}
.lienInfo:hover {
	color: black;
}
.r_choix_type_piece {
	padding: 5px; width: 32%; clear: both; float: left;
}
.r_choix_type_piece ul {
	margin: 0px; padding: 0px;
}
.r_choix_type_piece li {
	list-style-type: none;
}
.r_consigne_type_piece {
	padding: 5px; border: 2px solid rgb(200, 66, 148); border-image: none; width: 62%; margin-bottom: 10px; float: right;
}
.r_file_selected {
	background-position: right; padding-right: 20px; float: left; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/as/ok_fond_vert.png"); background-repeat: no-repeat;
}
.r_champ_standard {
	margin-top: 10px;
}
.r_champ_gauche {
	margin-top: 10px; float: left;
}
.r_champ_droite {
	margin-top: 10px; margin-left: 10px; float: left;
}
.r_champ_alignement_droite {
	margin-top: 10px;
}
.r_champ_ecart_superieur_top {
	margin-top: 20px;
}
.r_champ_ecart_superieur_left {
	margin-left: 40px;
}
.r_champ_moitie {
	width: 48%;
}
.r_label {
	font-weight: bold;
}
.blocform .r_label {
	font: 1em/normal Trebuchet MS, Verdana, sans-serif; margin: 0px; padding: 0px; width: 280px; text-align: right; color: black; float: left; display: block; font-size-adjust: none; font-stretch: normal;
}
.r_label_violet {
	color: rgb(168, 64, 127); font-weight: bold;
}
.r_label_bleu {
	color: rgb(9, 86, 174); font-weight: bold;
}
.r_label_cote {
	margin: 10px 10px 0px; font-weight: bold;
}
.r_champ_alignement_droite .r_label {
	float: left;
}
.r_champ_alignement_droite input {
	float: right;
}
.r_placeholder {
	color: rgb(190, 190, 222);
}
.r_champ_alignement_droite .r_btradio_gauche_bas {
	margin-top: 1em; margin-right: 40px; float: right;
}
.r_champ_alignement_droite .r_btradio_gauche_bas label {
	color: rgb(168, 64, 127); font-weight: bold;
}
.r_champ_alignement_droite .r_btradio_droite_bas {
	margin-top: 1em; float: right;
}
.r_champ_alignement_droite .r_btradio_droite_bas label {
	color: rgb(168, 64, 127); font-weight: bold;
}
.radio_selection_benef {
	margin: 0px 10px 5px 0px;
}
.r_champ_alignement_droite b.erreur_champ {
	background-position: left; padding-right: 0px; padding-left: 32px; margin-right: 0px; margin-left: 5px; float: right;
}
.demande_ceam b.erreur_champ {
	float: left;
}
.radioSelectionBenef {
	margin: 0px 10px 5px 0px;
}
.recapInformations .blocformfond {
	padding-left: 20px;
}
.collecte {
	width: 580px;
}
.collecte h2 {
	color: rgb(0, 98, 173);
}
#criteres {
	border: currentColor; border-image: none; text-decoration: none;
}
.imgCriteresPhoto {
	padding: 10px; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; max-width: 560px;
}
.imgCriteresPhoto td {
	width: 30%; text-align: center; vertical-align: top;
}
.imgCriteresPhoto img {
	height: 150px;
}
.imgCriteresPhotoLibelles {
	padding: 10px; border-radius: 10px; border: 1px solid black; border-image: none; max-width: 560px;
}
#blocPapier {
	margin: 10px 0px 5px 20px; width: 650px;
}
.collecte .selectionFichier {
	width: 580px; padding-top: 20px;
}
.collecte .libelleErreur {
	float: left;
}
.collecte .r_file_selected {
	padding-right: 32px; margin-right: 5px;
}
#portlet_commandeVitalesubmitValiderId {
	display: none;
}
.confirmationPiecesGauche {
	width: 45%; color: rgb(107, 107, 107); margin-bottom: 20px; float: left;
}
.confirmationPiecesGauche .labelInformations {
	width: 120px; text-align: right; float: left;
}
.pervisualisation {
	padding: 10px; border-radius: 10px; border: 1px solid lightblue; border-image: none; text-align: center;
}
.pervisualisation img {
	padding-top: 20px; max-width: 280px;
}
.confirmationPiecesDroite {
	margin-left: 50%;
}
.confirmationPiecesDroite img {
	max-width: 315px;
}
.rouge {
	color: rgb(187, 15, 0);
}
.errorMessage {
	width: 50px; padding-left: 25px;
}
.erreurCollecte {
	clear: both;
}
.blocException {
	margin-left: 30px;
}
.traceException {
	-ms-word-wrap: break-word;
}
