* {
	font-family: Helvetica,Arial,FreeSans,sans-serif;
}
.droite {
	text-align: left !important;
}
ul {
	list-style-type: disc; list-style-position: outside;
}
label {
	color: black; font-weight: normal;
}
td {
	vertical-align: middle;
}
.calendrier {
	background-position: right bottom; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/champsaisie/btn_calendrier.gif"); background-repeat: no-repeat; background-color: transparent;
}
.calendrier:hover {
	background-position: right bottom; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/champsaisie/btn_calendrier_survol.gif"); background-repeat: no-repeat; background-color: transparent;
}
.datepicker {
	border-color: rgb(89, 153, 201);
}
.datepicker .selected {
	background-color: rgb(89, 153, 201) !important;
}
.datepicker .current {
	background-color: rgb(224, 240, 255) !important;
}
.titre_navigation_mois {
	background-color: rgb(255, 217, 223);
}
.titre_navigation_annee {
	background-color: rgb(255, 217, 223);
}
.titre_navigation_annee_prec {
	background-position: left; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_precedent.gif");
}
.titre_navigation_mois_prec {
	background-position: left; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_precedent.gif");
}
.titre_navigation_annee_prec:hover {
	background-position: left; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_precedent_survol.gif");
}
.titre_navigation_mois_prec:hover {
	background-position: left; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_precedent_survol.gif");
}
.titre_navigation_annee_suiv {
	background-position: right; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_suivant.gif");
}
.titre_navigation_mois_suiv {
	background-position: right; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_suivant.gif");
}
.titre_navigation_annee_suiv:hover {
	background-position: right; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_suivant_survol.gif");
}
.titre_navigation_mois_suiv:hover {
	background-position: right; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_suivant_survol.gif");
}
.titre_aujourdhui {
	color: rgb(183, 81, 144); text-decoration: none; border-bottom-color: rgb(183, 81, 144); border-bottom-width: 1px; border-bottom-style: dotted;
}
.titre_aujourdhui:hover {
	color: rgb(183, 81, 144); text-decoration: none; border-bottom-color: rgb(183, 81, 144); border-bottom-width: 1px; border-bottom-style: solid;
}
.erreur {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/biblicnam/images/champsaisie/picto_erreur.gif") no-repeat left; width: 21px; height: 20px; margin-top: 10px; margin-right: 5px; margin-left: 10px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; float: right;
}
.erreur:hover {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.aide {
	padding-left: 0px; margin-right: 5px; margin-left: 5px; vertical-align: middle;
}
.listesupp {
	padding-left: 0px; margin-right: 5px; margin-left: 5px; vertical-align: middle;
}
.zone_champ_saisie .aide {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/champsaisie/picto_aide.gif") no-repeat; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: none;
}
.zone_champ_saisie .aide:hover {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/champsaisie/picto_aide_survol.gif") no-repeat; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.zone_champ_saisie input {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; font-size: 1em; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
select {
	border-radius: 2px; border: 1px solid rgb(183, 81, 144); border-image: none; font-size: 1em; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
span.obligatoire {
	color: rgb(11, 87, 173); vertical-align: middle;
}
.message_erreur {
	color: rgb(187, 15, 0);
}
table {
	border-collapse: separate; border-spacing: 5px;
}
.tableau {
	line-height: 1.36em; margin-bottom: 3px; border-collapse: separate; border-spacing: 0px; background-color: rgb(241, 241, 241);
}
.tab-body table {
	border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; border-collapse: separate; table-layout: fixed; cellpadding: 0; cellspacing: 0;
}
.tab-footer {
	height: 15px; background-color: rgb(255, 255, 255);
}
table .premier {
	padding-left: 10px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.pair {
	background: rgb(255, 255, 255); line-height: 10px; min-height: 30px; max-height: 30px;
}
.vue-detail {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/biblicnam/images/table/btn_vuedetail.gif") no-repeat; width: 30px; height: 30px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: inline-block;
}
.vue-detail:hover {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/biblicnam/images/table/btn_vuedetail_survol.gif") no-repeat; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.tableau td {
	padding: 0px 15px; height: 30px; text-align: left; vertical-align: middle; white-space: nowrap;
}
.tableau th:first-child {
	border-radius: 10px 0px 0px;
}
.tableau tr:last-child td:first-child {
	border-radius: 0px 0px 0px 10px;
}
.tableau th:last-child a {
	border-radius: 0px 10px 0px 0px;
}
.tableau th:last-child {
	border-radius: 0px 10px 0px 0px;
}
.tableau tr:last-child td:last-child {
	border-radius: 0px 0px 10px;
}
.tableau th {
	background: rgb(224, 240, 255); padding: 0px 15px; width: inherit; height: 30px; text-align: left; color: rgb(0, 98, 173); font-weight: normal; vertical-align: middle;
}
.tableau td {
	color: rgb(0, 0, 0); border-left-color: rgb(224, 240, 255); border-left-width: 1px; border-left-style: solid;
}
.tableau .triable {
	padding: 0px 15px 0px 0px;
}
.tableau th a {
	width: inherit; color: rgb(0, 98, 173); line-height: 14px; padding-right: 0px; padding-left: 15px; vertical-align: middle; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: table-cell; min-height: 30px;
}
.tableau th.triable {
	padding: 0px;
}
.tableau .tri a {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/table/picto_tri.gif") no-repeat 1px rgb(224, 240, 255); color: rgb(0, 98, 173); border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.tableau .tri {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/table/picto_tri.gif") no-repeat 1px rgb(224, 240, 255);
}
.tableau .tri-asc a {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/table/picto_tri_asc.gif") no-repeat 1px rgb(224, 240, 255);
}
.tableau .tri-desc a {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/table/picto_tri_desc.gif") no-repeat 1px rgb(224, 240, 255);
}
.tableau th a:hover {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/table/picto_tri_survol.gif") no-repeat 1px rgb(224, 240, 255); color: rgb(0, 98, 173); border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.tableau th:last-child a:hover {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/table/picto_tri_survol.gif") no-repeat 1px rgb(224, 240, 255); border-radius: 0px 10px 0px 0px; color: rgb(0, 98, 173);
}
.tableau td.center {
	padding: 0px; text-align: center;
}
.tab-interpage {
	background-color: rgb(255, 255, 255);
}
.tab-interpagebas {
	background-color: rgb(255, 255, 255);
}
.tab-interpage {
	display: none;
}
.resultat {
	padding-left: 13px;
}
.navigation-interpage .page {
	text-decoration: none; min-width: 1em;
}
.navigation-interpage .dernier {
	width: auto; margin-left: 5px;
}
.page {
	margin: 0px 3px; width: auto; height: 15px; text-align: center; line-height: 15px; display: inline-block;
}
.navigation-interpage .precedent {
	width: 15px; height: 15px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: block;
}
.navigation-interpage .precedentinactif {
	width: 15px; height: 15px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: block;
}
.navigation-interpage .suivantinactif {
	width: 15px; height: 15px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: block;
}
.navigation-interpage .suivant {
	width: 15px; height: 15px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: block;
}
.navigation-interpage .courant {
	background: rgb(255, 224, 240); font-weight: bold; text-decoration: none;
}
.invisible {
	left: -2000px !important; top: -2000px !important; width: 0px !important; height: 0px !important; line-height: 0 !important; display: block !important; position: absolute !important;
}
.precedent {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_precedent.gif") no-repeat; margin: 0px 15px 0px 0px;
}
.suivant {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_suivant.gif") no-repeat; margin: 0px 0px 0px 15px;
}
a.precedent:hover {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_precedent_survol.gif") no-repeat;
}
a.suivant:hover {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/biblicnam/interPage/btn_suivant_survol.gif") no-repeat;
}
.popbg {
	opacity: 0.75; background-color: rgb(53, 123, 177);
}
.popup {
	padding: 20px; border-radius: 10px; width: 500px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.popup h2 {
	margin: 0px;
}
.popup h2 a {
	background-position: right; padding: 0px; color: rgb(183, 81, 144); border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/header/icone_deconnecter.gif"); background-color: rgb(255, 255, 255);
}
.popup h2 a:hover {
	color: rgb(183, 81, 144); border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.cnamts-hidden {
	display: none;
}
.tip-text {
	border-color: rgb(0, 98, 173);
}
