.facebook-container .bd { background:url('http://match.com-personal-photos.com/users/cppp/floatingreg/images/modalbg.png'); }
.facebook-container { font-family:Arial; }
.facebook-container .hd {
	background:url('http://match.com-personal-photos.com/users/cppp/floatingreg/images/coBrandedHeader.png');
	height:42px;
}
.traditionalBoxModel .facebook-container .hd { height:38px; }
.facebook-container .ft {
	background:url('http://match.com-personal-photos.com/users/cppp/floatingreg/images/modalFooter.png');
	height:22px;
}
.facebook-container .bd { padding: 0 20px 20px; }
.facebook-container h2 {
	font-family:Arial;
	font-weight:bold;
	color: #21568a;
	font-size:16px;
	padding: 20px 0 0; 
	margin-top: 0;
}
.facebook-container ul { margin-top: 0;margin-bottom: 0; }
.facebook-container h3 {
	color:#555;
	font-size:12px;
}
.facebook-container label {
	color:#000;
	font-size:11px;
}
.facebook-container { width:477px; }
.facebook-container dl {
	width:438px;
	margin-top:10px;
	clear:both;
	overflow:hidden;
}
.facebook-container dd {
	width:217px;
	float:left;
	text-align:left;
	margin-bottom:10px;
}
.facebook-container dd input {
	position:relative;
	left:6px;
}
.facebook-container dt label { float:right; }
.facebook-container dt {
	width:147px;
	text-align:right;
	float:left;
}
.facebook-container #errorDiv { color:Red; }
#facebook-modal.client_modal { background:none; }
.facebook-container .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.facebook-container #forgotPassword, .facebook-container #pnlButton, .facebook-container #rememberMe, .facebook-container #notMember, .facebook-container #alreadyMember {
	position:relative;
	margin-bottom:10px;
}
.facebook-container #forgotPassword, .facebook-container #rememberMe { left:213px; }
.facebook-container #pnlButton { left:215px; }
.facebook-container #notMember {
	left:265px;
	top:20px;
}
.facebook-container #alreadyMember {
	top:20px;
	left:235px;
}
.facebook-container #emailMatchInfo { float:left; }
.facebook-container #pnlMatchInfo label { color:#003166 }
.facebook-container .continueTxt {
	color:#666666;
	margin-left:25px;
}
.facebook-container #formLogin #notMember { top:65px; }
.facebook-container #rememberMe label { color:#003a6c; }
.facebook-container select { visibility:visible !important; }
.facebook-container.floatingReg .cp_statefulBehav #formLogin #notMember { top:32px !important; }
