.stylo {
}

#tudo {
background:url(idigital_final.gif);
background-repeat:no-repeat;
background-position:right; 
height:565px;
width:781px;
}

#tudo2 {
background:url(idigital_final.gif);
background-repeat:no-repeat;
background-position:center; 
height:565px;
width:781px;
}

#topo {
background:url(topo.jpg);
background-repeat:no-repeat;
height:63px;
width:781px;
}

#box02 {
background:url(box02.jpg);
background-repeat:no-repeat;
margin-top:25px;
margin-left:22px;
height:245px;
width:428px;
}

#box03 {
background:url(sengg.jpg);
background-repeat:no-repeat;
width:430px;
height:87px;
margin-left:22px;
margin-top:25px;
}

#box04 {
margin-top:25px;
margin-left:100px;
height:345px;
width:560px;
}

#box05 {
margin-right:23px;
margin-top:-370px;
background:url(background.png);
background-repeat:no-repeat;
float:right;
height:411px;
width:224px;
}

#rodape{
background:url(rodape.jpg);
background-repeat:repeat-x;
height:22px;
width:762px;
margin-top:50px;
margin-left:10px;
}


































* {
    padding: 0px;
    margin: 0px;
}
 
body {
 font-family: arial, sans-serif;
 font-size: 12px;
  
}
 
 
#container {
    width: 940px;
    margin: 0 auto;
    display: table;
}
 
.esqueci-senha {
 position: absolute;
 display: none;
 z-index: 9999;
}
 
.form {
 margin: 0 auto;
 width: 470px;
 min-height: 470px;
 display: table;
 background: #F75D00;
 border: 1px solid #DDD;
 padding: 10px;
 margin-bottom: 50px;
}
 
.form input.button {
 padding: 5px 20px;
}
 
.form label {
 display: inline-block;
 width: 100px;
 text-align: left;
 margin-right: 10px;
}
 
 
.form  p {
 display: block;
 padding: 5px;
  
}
 
p.forgot {
 background: #fff;
 text-align: center;
}
 
p.forgot a {
 font-size: 20px;
 color: #FFF;
}
 
p.forgot a:hover {
 text-decoration: underline;
}