/* Version 1.6 styles received from UI designers*/
FONT{  
	font-family : Arial,Helvetica,sans-serif;
	color: #333; /* Modified: Colin 25.08.2001 */
	font-size: x-small;
}

TABLE{
	border : none;
}

A{
	font-family : Arial,Helvetica,sans-serif;
	color: #333; /* Modified: Colin 25.08.2001 */
	font-size: x-small;
	margin: 0px;
}

A.red:LINK{
	font-family : Arial,Helvetica,sans-serif;
	color : #DC241F;
	font-size: x-small;
	margin: 0px;
}

A.red:VISITED{
	font-family : Arial,Helvetica,sans-serif;
	color : #DC241F;
	font-size: x-small;
	margin: 0px;
}

A:LINK{
	font-family : Arial,Helvetica,sans-serif;
	color : #333; /* Modified: Colin 24.08.2011 */
	margin: 0px;
	font-size: x-small;
}

A.altText:LINK{
	color : #FFFFFF;
	font-size: x-small;
}

A:VISITED{
	font-family : Arial,Helvetica, sans-serif;
	color : #333; /* Modified: Colin 24.08.2011 */
	margin: 0px;
	font-size: x-small;
}

A.altText:VISITED{
	color : #FFFFFF;
	font-size: x-small;
}

A.verysmalltext {
	font-family : Arial,Helvetica,sans-serif;
	font-size : xx-small;
	color : #666F77;
}

A.verysmalltext:VISITED {
	font-family : Arial,Helvetica,sans-serif;
	font-size : xx-small;
	color : #666F77;
}

.contentHeader {
	color: #DC241F;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	position:relative;
	height:78px;
}

/* Westpac Logo */
.westpacLogo{
	position:absolute;
 	top:0;
  	left:0;
}


#pageHeaderElement{
	padding-top:25px;
	height:53px;
}



.TopHeader {
	color: #DC241F;
	background-color: #DC241F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	height : 20px;
}

.contentHeaderFiller {
	color: #FFFFFF;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	height : 40px;
}

.Headline {
	color: #333; /* Modified: Colin 25.08.2001 */
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
}

.stepNumber {
	color: #DC241F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

TD{
	font-family : Arial,Helvetica,sans-serif;
	font-size : x-small;
	color: #333; /* Modified: Colin 25.08.2001 */
	margin: 0px;
}

.red{
	font-family : Arial,Helvetica,sans-serif;
	font-size : x-small;
	color : #DC241F;
	margin: 0px;
}

.WhatToDo{
	font-family : Arial,Helvetica,sans-serif;
	color : #DC241F;
	font-weight : bold;
	line-height : 22px;
}

TD.button {
    background-color: #F2F2F3;
    color: #333; /* Modified: Colin 25.08.2001 */
    text-align: center;
	line-height : 22px;
	font-weight : bold;
}
#TBLBrowserSupport {
	background-color: #FFF9D7;
	border-top: 1px solid #E2C822;
	border-left:1px solid #E2C822;
	border-right: 1px solid #E2C822;
	border-bottom: 1px solid #E2C822;
	padding: 0px 0px 0px 0px;
}
TD.browserWarning {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
TD.browserWarningSub {
	font-size: 13px;
	font-weight: bold;
	color: #333;
}
TD.browserWarningSubSub {
	font-size: 11px;
	color: #606060;
	text-align: center;
}

.monospaced {
	font-family: Courier, Sans-serif
}

TD.smalltext {
	font-family : Arial,Helvetica,sans-serif;
	font-size : x-small;
	color : #666F77;
}

TD.verysmalltext {
	font-family : Arial,Helvetica,sans-serif;
	font-size : xx-small;
	color : #666F77;
}
TD.fainttext, span.fainttext {
	font-family : Arial,Helvetica,sans-serif;
	color : #8096A0;
}

TD.largerBold{  
	font-family : Arial,Helvetica,sans-serif;
	color: #333; /* Modified: Colin 25.08.2001 */
	font-weight : bold;
	font-size: small;
}

BODY{  
font-size : x-small;  
font-family : Arial,Helvetica,sans-serif;
background-color: #FFFFFF;
color: #333; /* Modified: Colin 25.08.2001 */
padding: 0pt 0pt 0pt 0pt;  
border-style : none none none none;  
margin: 0px; 
}

.errorblock {
	background-color : #404B55;
}

SPAN.highlight {
color: #DC241F;
font-weight : bold;
}

.error {
color: #DC241F;
font-weight : bold;
}

.errornobold {
color: #DC241F;
}

.center {
	text-align : center;
}

.header {
	color : #666F77;
	line-height : 22px;
}

.tableHeader {
	background-color: #F2F2F3;
	font-weight : bold;
	color: #333; /* Modified: Colin 25.08.2001 */
	line-height : 22px;
}

.tableHeaderNoBold {
	background-color: #F2F2F3;
	color: #333; /* Modified: Colin 25.08.2001 */
	line-height : 22px;
}

.sortheader {
    font-weight : bold;
	color: #333; /* Modified: Colin 25.08.2001 */
	line-height : 22px;
	background-color : #F2F2F3;
}

.sortheaderNoBold {
	color: #333; /* Modified: Colin 25.08.2001 */
	line-height : 22px;
	background-color : #E7E8EA;
}

.welcomeheader {
    font-weight : bold;
	color : White;
	line-height : 22px;
	background-color : #B2B7BB;
}

.txtheader {
    font-weight : bold;
	color : White;
	line-height : 22px;
	background-color : #B2B7BB;
}

.boldheader {
	font-weight : bold;
	color: #333; /* Modified: Colin 25.08.2001 */
	line-height : 22px;
}

.altText {
 	font-family : Arial,Helvetica,sans-serif;
	font-size: x-small;
	font-weight: bold;
 	color: #333; /* Modified: Colin 25.08.2001 */
}

.altTextNoBold {
 	font-family : Arial,Helvetica,sans-serif;
	font-weight: normal;
	color : #FFFFFF;
}

.TipItem {
	font-family : Arial,Helvetica,sans-serif;
	font-size : x-small;
	color : #DC241F;
	margin: 0px;
}

.warningBlock {
	color : #DC241F;
}

/* info block styles */
.infoPage {
	position: relative;
	width: 590px;
	background: #F1F5FA url(i-page.gif) no-repeat 6px 13px;
	margin: 20px 0px 10px 0px;
	border-top: 1px solid #668CAC;
	border-bottom: 1px solid #668CAC;
	border-collapse: collapse;
}
.infoPage td {
	background: transparent;
	padding: 8px 15px 6px 48px;
}
.infoPage p {
	line-height:1.5;
	margin: 0.35em 0;
}
.infoPage ul {
	margin: 0.35em 0;
	padding: 0;
	list-style: none;
}
.infoPage ul li {
	line-height:1.5;
	background: url(bullet.gif) no-repeat 12px 2px;
	margin: 0;
	padding-left: 25px;
}
/* oneline version of the page info block */
.oneline {
	background-position: 6px 5px;
}
.oneline td {
	padding-top: 6px;
}


.infoPageLink {
    font-size: 12px;
}

/*------------------------------*/

@media print {
	BODY{background-image : none;}
	#Header{display: block;}
	#Nav{display: none;}
	#Hide{display: none;}
	#Content{display: block;}
	.noprint { display: none; }
	#pageHeaderElement {padding-left: 140px;}
	.westpacLogo{z-index: 999;}
	#popupTRList {width:100% !important; font-size: 12px !important;}
	#TRListBody {width:630px !important; font-size: 12px !important;}
	#downloadTransactionsTBL .trans-list .w1 {width: 11% !important; max-width: 100px !important;}
	#downloadTransactionsTBL .trans-list .w15 {width: 20% !important;}
	#downloadTransactionsTBL .trans-list .w7 {width: 22% !important;}
	#downloadTransactionsTBL .trans-list .w12 {width: 10% !important;}
	#downloadTransactionsTBL .trans-list .w3 {width: 12% !important;}
	#downloadTransactionsTBL .trans-list .w4 {width: 12% !important;}
	#downloadTransactionsTBL .trans-list .w5 {width: 13% !important;}
	#downloadTransactionsTBL .trans-list .w11 {width: 13% !important;}
	#downloadTransactionsTBL .trans-list .w6 {width: 8% !important;}
	#downloadTransactionsTBL .trans-list .w13 {width: 25% !important;}
}

/* restricted account link */
.restrictedLink {
  color: #333;
  vertical-align: middle;  
  font-size: 0.923em;  
  margin: 7px 0 1px;
}

.info-page {
position: relative;
background: #F1F5FA;
padding: 6px 15px 6px 50px;
border-top: 1px solid #7B9EBD;
border-bottom: 1px solid #7B9EBD;
min-height: 30px; /* 48 - (17+17) */
}
.info-page .information {
display: block;
position: absolute;
top: 28px;
left: -40px;
width: 31px;
height: 31px;
background: url(ic019_3.0.gif) no-repeat;
}

.bg-replacement-text strong {
position: absolute;
top: -999px;
z-index: 50;
width: 1px;
font-size: 1px;
height: 1px;
overflow: hidden;
display: block;
line-height: 0;
}

@Media screen {
  #IE4Fix{
  display: block;
  }
  #Header{
  display: block;
  }
  #Nav{
  display: block;
  width: 140px;
  }
  #Hide{
  display: block;
  }
  #Content{
  display: block;
  }
.linkinfo {
	color: #606060;
	display: inline-block;
	font-size: 0.75em; /* this should equate to 12px */
	padding-top: 5px;
}
}


/* ====== TRANSACTION LIST ====== */
#newTransList #TBL1 label{display:block; font-weight:bold; color:#333; padding-left:16px; width:88px; float:left;}
#newTransList .monospaced select{font-size:12px; padding:1px 0; color:#333;}
#newTransList .label-indent{padding-left: 100px;}
#newTransList #redisplay{display:inline-block; background:#F2F2F3; padding:3px 8px; font-weight:bold;}
#newTransList #CalendarDateTablestartDay select, #newTransList #CalendarDateTableendDay select{margin-right:5px;}
#downloadTransactionsTBL{font:0.923em/1.385 arial,helvetica,clean,sans-serif !important; color:#333 !important;}
#downloadTransactionsTBL select,#downloadTransactionsTBL input,#downloadTransactionsTBL button,#downloadTransactionsTBL textarea{font:99% arial,helvetica,clean,sans-serif;}
#downloadTransactionsTBL *{margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent;}
#downloadTransactionsTBL a, #downloadTransactionsTBL a:visited, #downloadTransactionsTBL a:active{color:#333;}
#downloadTransactionsTBL ol, #downloadTransactionsTBL ul{list-style:none;}
#downloadTransactionsTBL table{border-collapse:collapse; border-spacing:0;}
#downloadTransactionsTBL table, #downloadTransactionsTBL td, #downloadTransactionsTBL th{font-size:inherit;font:100%;}

#downloadTransactionsTBL .container{position:relative; float:left; width:100%;}
#downloadTransactionsTBL .date-period{font-size:1.083em; width:425px; float:left; padding-bottom:10px;}
#downloadTransactionsTBL .fullwidth{width:100%;}
#downloadTransactionsTBL .tip{cursor:pointer; border-bottom:1px dotted #555; white-space:nowrap;}
.tipsy {padding: 5px; font-size:.923em; position:absolute; z-index:100000;}
.tipsy-inner{padding:5px 8px 4px 8px; background-color:#333; color:white; text-align:center;}
.tipsy-arrow{position:absolute; background:url(tipsy-grey.gif) no-repeat top left; width:9px; height:5px;}
.tipsy-sw .tipsy-arrow{bottom:0; left:15px; background-position:bottom left;}
#downloadTransactionsTBL .download-transactions{position:absolute; right:0; bottom:8px;}
#downloadTransactionsTBL .download-transactions .toggle{display:block; background:#F2F2F3; padding:2px 5px; float:right; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-decoration:none;}
#downloadTransactionsTBL .download-transactions .toggle span{display:inline-block; background: url(transactions-arrow.gif) right center no-repeat; padding-right: 10px;}
#downloadTransactionsTBL .download-transactions a {text-decoration:none;}
#downloadTransactionsTBL .download-transactions a:hover.toggle{background:#E5E5E5; cursor:pointer;}
#downloadTransactionsTBL .download-transactions a.open, #downloadTransactionsTBL .download-transactions a:hover.open{background:#333; color:#FFF !important;}
#downloadTransactionsTBL .download-transactions a.open span{background: url(transactions-arrow-open.gif) right center no-repeat}
#downloadTransactionsTBL .download-transactions .list{display:none; position:absolute; top:1.5em; right:41px; }
#downloadTransactionsTBL .download-transactions .list .inner{border:4px solid #333; background:#FFF; width:300px; height:157px; text-align:left;overflow-y:auto;}
#downloadTransactionsTBL .download-transactions .list li{border-bottom:1px solid #D5D5D5; zoom:1;}
#downloadTransactionsTBL .download-transactions .list li.last{border:none;}
#downloadTransactionsTBL .download-transactions .list li a{line-height:29px; vertical-align:middle; padding-left:11px; padding-right:11px; display:block; zoom:1;}
#downloadTransactionsTBL .download-transactions .list li a:hover{background:#F1F5FA;}
#downloadTransactionsTBL .download-transactions .list .statements a{height:29px; padding-top:6px;}
#downloadTransactionsTBL .download-transactions .list .statements img{vertical-align:middle; margin-right:3px;}
#downloadTransactionsTBL .download-transactions .buttons {white-space: nowrap;}
#downloadTransactionsTBL .download-transactions .print, #downloadTransactionsTBL .download-transactions .download{float: left;}
#downloadTransactionsTBL .printAndCloseLinks a:link{font-size:12px;}
#printAndCloseLinks a:link{font-size:12px;}
#downloadTransactionsTBL .download-transactions .download a, #downloadTransactionsTBL .download-transactions .print a{
	display: block;
	padding: 4px 8px;
	border-radius: 3px;
}
#downloadTransactionsTBL .download-transactions .print
{
	width: 40px;
	border-left: 1px solid #d5d5d5;
	background-color:#f2f2f3;
}
#downloadTransactionsTBL .download-transactions .download a {
	height: 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#downloadTransactionsTBL .download-transactions .print a{
	border-bottom: none;
	height: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	text-indent:-9999px; 
	background: url('printIcon.gif') no-repeat 12px 50%;
}
#downloadTransactionsTBL .download-transactions .print a:hover, #downloadTransactionsTBL .download-transactions .print a:active {
	background-position: -36px 50%;
	background-color:#e5e5e5;
}
#downloadTransactionsTBL .download-transactions .print a:active {
	box-shadow: inset 0 0 5px 0px #888;
}
#downloadTransactionsTBL .trans-list *{color:#333;}
#downloadTransactionsTBL .trans-list{width:768px;}
#downloadTransactionsTBL .popup{width:898px;}
#downloadTransactionsTBL .trans-list th, #downloadTransactionsTBL .trans-list td{border-left:1px dotted #D5D5D5;} 
#downloadTransactionsTBL .trans-list th.firstCol, #downloadTransactionsTBL .trans-list td.firstCol{border-left:none;}
#downloadTransactionsTBL .trans-list th{text-align:left; border-bottom:1px solid #D5D5D5; background:#EFEFF0 url(trans-list-th-bottom-line.gif) repeat-x bottom; padding:3px 5px; font-size:1.083em; font-weight:bold;}
#downloadTransactionsTBL .popup th {background: url(trans-list-th-bottom-line.gif) repeat-x bottom;}
#downloadTransactionsTBL .trans-list th a{text-decoration:none;}
#downloadTransactionsTBL .trans-list th a:hover, #downloadTransactionsTBL .trans-list th a:active{text-decoration:underline;}
#downloadTransactionsTBL .trans-list td{border-bottom:1px solid #D5D5D5; padding:12px 7px 8px 7px; text-align:left;}
#downloadTransactionsTBL .trans-list .firstCol{border-left:none; padding-left:5px; padding-right:5px;}
#downloadTransactionsTBL .trans-list tfoot td, #TRListFooter .moneyInOut td, #downloadTransactionsTBL .trans-list .noBorders{border:none;}
#downloadTransactionsTBL .trans-list tr.hover td{background:#F1F5FA; cursor:pointer;}
#downloadTransactionsTBL .trans-list tr.expanded td{background:#F2F2F3 url(row-details-double-up.gif) top repeat-x; cursor:pointer;}
#downloadTransactionsTBL .trans-list .firstRow td{background-image:none; border-top:1px solid #D5D5D5;}
#downloadTransactionsTBL .trans-list tr.expanded.firstRow td{background-image:none;}
#downloadTransactionsTBL .trans-list th.sorted{background:#E5E5E5;}
#downloadTransactionsTBL .trans-list th.sorted span{display:block; background-repeat:no-repeat; background-position:right center;}
#downloadTransactionsTBL .trans-list th.asce span{background-image: url(column-sort-asc.gif);}
#downloadTransactionsTBL .trans-list th.desc span{background-image: url(column-sort-desc.gif);}
#downloadTransactionsTBL .trans-list .alertAmount{color:#DC241F;}
#downloadTransactionsTBL .trans-list .balanceRow td{color:#606060; border-bottom:1px solid #333333;}
#downloadTransactionsTBL .trans-list tbody .lastrow td{background-image:url(tbody-bottom-line.gif); background-position:bottom; background-repeat:repeat-x; border-bottom:0px;}
#xxxxdownloadTransactionsTBL .trans-list tfoot .firstRow td, #TRListFooter .firstRow td{padding-top:15px;}
#downloadTransactionsTBL .trans-list .amount{white-space: nowrap}
#downloadTransactionsTBL table.moneyInOut {width:100%;}
#downloadTransactionsTBL .moneyInOut tr{padding-top:5px;}
#downloadTransactionsTBL .moneyInOut td.mio-space {width:340px;}
#downloadTransactionsTBL .moneyInOut td.mio-space1 {width:500px;}
#downloadTransactionsTBL .moneyInOut td.mio-space2 {width:600px;}
#downloadTransactionsTBL .moneyInOut td.mio-label {width:100px;}
#downloadTransactionsTBL .moneyInOut td {border-top: 0; padding:2px 0px 0 8px;}

#downloadTransactionsTBL .trans-list tbody tr .error{color: #DC241F; font-weight: bold; border-left:none; border-bottom:none; padding-top:0px;padding-bottom:10px;}
#downloadTransactionsTBL .trans-list thead tr .error{color: #DC241F; font-weight: bold; border-left:none; border-bottom:none; padding-top:0px;padding-bottom:10px;}
#downloadTransactionsTBL .trans-list thead td .errorNoBold{font-weight: regular; border-left:none; border-bottom:none; padding-top:0px;padding-bottom:10px;}

#downloadTransactionsTBL .trans-list .details div.bd{border-top:1px solid #FFF;padding:8px 0 15px 90px; display:none; height:1%;}
#downloadTransactionsTBL .trans-list .details td{border-left:none; background:#F9F9F9 url(row-details-double-up.gif) bottom repeat-x; padding:0;}
#downloadTransactionsTBL .trans-list .details .warning{padding-bottom:2px; font-size:1.083em;}
#downloadTransactionsTBL .trans-list .details .warning img{position: relative; top:4px; margin-right:6px;}
#downloadTransactionsTBL .trans-list .details .warning strong{color:#DC241F;}
#downloadTransactionsTBL .trans-list .details dl{padding-top:8px;}
#downloadTransactionsTBL .trans-list .details dt{width:60px; overflow:visible; padding-bottom:11px; float:left;}
#downloadTransactionsTBL .trans-list .details dd{padding-bottom:11px;}
#downloadTransactionsTBL .trans-list .details dl.w105 dt{width:105px;}
#downloadTransactionsTBL .trans-list .details dl.w135 dt{width:135px;}
#downloadTransactionsTBL .trans-list .details dl.w160 dt{width:160px;}
#downloadTransactionsTBL .trans-list .details {display: none}

#downloadTransactionsTBL .trans-list .wsort{padding-left:0; padding-right:0; text-align:center; width:18px;}
#downloadTransactionsTBL .trans-list .w1{width:74px;}
#downloadTransactionsTBL .trans-list .w2{width:158px;}
#downloadTransactionsTBL .trans-list .w3{width:88px;}
#downloadTransactionsTBL .trans-list .w4{width:88px;}
#downloadTransactionsTBL .trans-list .w5{width:115px;}
#downloadTransactionsTBL .trans-list .w6{width:60px;}
#downloadTransactionsTBL .trans-list .w7{width:219px;}
#downloadTransactionsTBL .trans-list .w8{width:152px;}
#downloadTransactionsTBL .trans-list .w9{width:64px;}
#downloadTransactionsTBL .trans-list .w10{width:63px;}
#downloadTransactionsTBL .trans-list .w11{width:92px;}
#downloadTransactionsTBL .trans-list .w12{width:82px;}
#downloadTransactionsTBL .trans-list .w13{width:336px;}
#downloadTransactionsTBL .trans-list .w14{width:237px;}
#downloadTransactionsTBL .trans-list .w15{width:190px;}

#downloadTransactionsTBL strong{font-weight:bold; color:#333;}
#downloadTransactionsTBL .txtUC{text-transform:uppercase;}
#downloadTransactionsTBL .txtLC{text-transform:lowercase;}

#downloadTransactionsTBL .trans-list th.txtC, #downloadTransactionsTBL .trans-list td.txtC{text-align:center;}
#downloadTransactionsTBL .trans-list th.txtL, #downloadTransactionsTBL .trans-list td.txtL{text-align:left;}
#downloadTransactionsTBL .trans-list th.txtR, #downloadTransactionsTBL .trans-list td.txtR{text-align:right;}
#downloadTransactionsTBL .trans-list th.txtT, #downloadTransactionsTBL .trans-list td.txtT{vertical-align:top;}
#downloadTransactionsTBL .trans-list th.txtB, #downloadTransactionsTBL .trans-list td.txtB{vertical-align:bottom;}
#downloadTransactionsTBL .trans-list th.txtM, #downloadTransactionsTBL .trans-list td.txtM{vertical-align:middle;}

#newTransList #TBL1 label{width: 90px;}
#downloadTransactionsTBL .trans-list th{padding:6px 5px;}
#downloadTransactionsTBL .trans-list td{position:relative;}
#downloadTransactionsTBL .trans-list th a:link, .trans-list th a:visited{display: block; margin: 0; height: 100%; width: 100%;}
#datePicker{display: none;}
#timeframes{display: none;}

#trListHeaderActionLinks ul{list-style-type: none; padding: 0px; margin: 8px;}
#trListHeaderActionLinks li{background-image: url(red-bullet.gif); background-repeat: no-repeat; background-position: 0px 6px; padding-left: 14px; padding-bottom: 2px;}
#trListHeaderActionLinks li img{vertical-align: top; margin-left: 5px; border: none;}
#trListHeaderActionLinks li{vertical-align: middle;}

/* ====== END OF TRANSACTION LIST ====== */


/* warning styles */
.warning {
    margin:0;
    min-height:30px;
    padding:0 15px 10px 30px;
    position:relative;
    width:95%;
    color:#DC241F;
    font-weight: bold;
    margin-top: 10px;
}

.warning p {
    margin-top: 0;
    margin-bottom: 6px;
}

.warning a {
    color:#DC241F;
}

.warning a:visited {
    /* color:#DC241F; */
	/* Amend to match OG - Colin 19.08.2011 */
	color: #333; 
}

.warning .information {
    background:transparent url(ic021_3.0.gif) no-repeat scroll 0 0;
    display:block;
    height:40px;
    top: 0;
    left: 0;
    position: absolute;
    width:40px;
    margin-top: 0;

}

.warning .information strong {
    position: absolute;
    top: -999px;
    z-index: 50;
    width: 1px;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
    display: block;
    line-height: 0;
}
.warning  p.indent {
    margin-left: 12px;
}
.hideicon {
    padding:0 15px 0 1px;
    margin-bottom: 30px;
    margin-top: 0;
}
.hideicon .information {
    position: absolute;
    top: -999px;
    z-index: 50;
    width: 1px;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
    display: block;
    line-height: 0;
}
.hideicon p {
padding-top: 5px;
}

.warning ul {
    margin-top: 6px;
    padding-left: 10px; 
    margin-left:0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.warning ul li {
    background: url(red-bullet.gif) no-repeat scroll left 7px transparent;
    list-style: none outside none;
    margin-bottom: 10px;
    padding-left: 14px;
    position: relative;
    color: #333; /* Modified: Colin 25.08.2001 */
    font-weight: normal;
}

.warning-black {
    color: #333; /* Modified: Colin 25.08.2001 */
    font-weight: bold;
    padding: 0; 
}

.warning-black a {
    color: #333; /* Modified: Colin 25.08.2001 */
}

.warning-black a:visited {
    color: #333; /* Modified: Colin 25.08.2001 */
}

.warning-black-plain {
    color: #333; /* Modified: Colin 25.08.2001 */
    font-weight: normal;
}

/* warning styles ends */




/* Disabled button state when Online Guardian is doing inline assessment  */
/* This styles is used for the disabled 'Go Back' button when O.G. is assessing.  */
/* Added: Colin 19.08.2011 */
.button-disabled {
	cursor: auto !important;
	color:#aaa !important;
	text-decoration: none !important;
}

    
	
	

/* Colin 19.11.2011 */
/* New style added for login error messages */
.error-black {
	color: #333; /* Edited (Colin): 30.05.2011 */
	font-size: 1em;
	font-weight: bold;
	padding: 0; 
	/* padding: 0 0 0.5em 0;  */
}

.error-black a.black-link {
	color: #333; /* Edited (Colin): 30.05.2011 */
}


/* Colin 17.11.2011 */
/* New style added for login error messages */
.error-black-plain {
	color: #333; /* Edited (Colin): 30.05.2011 */
	font-size: 1em;
	font-weight: normal;
}


/* Colin 17.11.2011 */
/* New style added for login error messages */
.error-list-black li {
	list-style: disc;
	list-style-position: outside;
	color: #333; /* Edited (Colin): 30.05.2011 */
	font-size: 1em;
	font-weight: normal;
	padding: 0 0 5px 0;
}

.error-list-black li a.black-link {
	color: #333; /* Edited (Colin): 30.05.2011 */
}
/* =================================================== */
/* =================================================== */



/* Added: Colin 25.08.2011 */
/* ====================================================== */


/* Black alert text for Intl number alerts */
/* Inherits from Warning class */
/* Added: Colin 25.08.2011 */
.yellow_icon1 {
    color: #333333;
}


/* Black links for Intl number alerts  */
/* Added: Colin 25.08.2011 */
.yellow_icon1 a {
    color: #333333;
}


/* Yellow alert icon (replaces) for Intl number alerts */
/* Inherits from Warning class */
/* Added: Colin 25.08.2011 */
.yellow_icon1 .information1 {
	background: url(ic018_3.0.gif) no-repeat scroll 0 0 transparent;
	font-size: 36em;
}

/* ====================================================== */

/* Temp css content for the CSR4066 element alerts and banner */
.yellow-alert-div {
	background-color: #FFF9D7;
	display:block;
	position: relative;
}

.yellow-alert div {
	background-color: #FFF9D7;
	display:block;
	position: relative;
}

.yellow-alert span {
	display: block;
	position: absolute;
	height: 20px;
	width: 20px;
	background: url(warning_16.gif) no-repeat scroll 0 0px;
	margin: 3px 0px 0px 7px;
	padding: 0px;
}

.yellow-alert p {
	position: relative;
	border-top: 1px solid #E2C822;
	border-bottom: 1px solid #E2C822;
	border-right: 1px solid #E2C822;
	border-left: 1px solid #E2C822;
	padding: 2px 0px 2px 25px;
	color: #333;
	margin: 0px;
}

.yellow-banner div {
	background-color: #FFF9D7;
	display:block;
	position: relative;
}

.yellow-banner span {
	display:block;
	position: absolute;
	height:30px;
	width:30px;
	background: transparent url(new_yellow.gif) no-repeat scroll 0 0px;
	padding: 0px;
	margin: 12px 0px 0px 10px;
}

.yellow-banner p {
	position: relative;
	border-top: 1px solid #E2C822;
	border-bottom: 1px solid #E2C822;
	padding: 10px 0px 10px 50px;
	color: #333;
	margin: 0px;
}

/* Remove Safari outline glow for input fields */
/* Colin: 14.02.2012 */
input:focus, a:focus, select:focus, button:focus, submit:focus {
    outline: 1px dotted #333;
}

/* Unit text label for PIE accounts */
#downloadTransactionsTBL span.pie-label,
span.pie-label {
	font-size: 85%;
	vertical-align: middle;
	padding-bottom: 3px;
}

/* Account number cell is set to nowrap to make sure the text doesn't 
 * wrap when PIE label is appended to the account number */
td.account {
	white-space: nowrap;
}
/* Payments */
.payment-details .payment-name,
.payment-details .payment-date,
.payment-details .payment-amount,
.payment-details .payment-expand {
    padding: 4px 8px;
}



/* 
    Because there are no inputs in the confirm/FYR page
    table we have to add extra padding using an extension
    class="payment-details payment-show-details" 
*/
.payment-show-details .payment-name,
.payment-show-details .payment-date,
.payment-show-details .payment-amount,
.payment-show-details .payment-expand {
    padding: 11px 8px 10px;
}

.payment-amount input,
#totalOfPayments {
    text-align: right;
}

.payment-date select {
    margin-right: 5px;
}

.payment-details .expandableRow td {
    cursor: pointer;
}

.payment-details .hover td, 
.payment-details .hover th {
    background-color: #F1F5FA;
}

.payment-details .expanded td, 
.payment-details .expanded th {
    background: #F2F2F3 url(row-details-double-up.gif) top repeat-x;
}

.payment-details .expanded table td,
.payment-details .expand table th {
    background-image: none;
    background-color: transparent;
}

.payment-details .details td {
    background: #F9F9F9;
    border: solid #D5D5D5;
    border-width: 1px 0;
}

.payment-details .bd {
    padding: 4px 7px;
}

.payment-reference {
    margin-bottom: 13px;
}

.payment-details .payment-reference th, 
.payment-details .payment-reference td {
    border: 0;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    padding: 0 10px 5px 0;
}

.payment-details .payment-reference thead th {
    color: #606060;
    font-size: 12px;
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 0;
}

.payment-details .payment-reference tbody th {
    width: 120px;
    padding-right: 0;
}

.payment-details .payment-reference tbody td {
    width: 140px;
}

.payment-show-details .payment-reference tbody td {
    width: 90px;
    white-space: nowrap;
}

.payment-show-details tfoot td {
    border-top: 1px solid #CCCCCC;
}


.payment-details .payment-reference input {
    width: 140px;
}

.payment-details .payment-account dt {
    float: left;
    clear: left;
    width: 120px;
}

.payment-details .payment-account .account-number {
    color: #606060;
}

.payment-details .div-padding-left {
    padding-left: 120px;
}

.payment-details .div-padding-left select {
    margin-left: 0;
}

.payment-details input.save-changes {
    background: #767A7B url(btn-show-rates-bg.gif) no-repeat;
    border: 1px solid #606060;
    color: white;
    font-weight: bold;
    margin: 0 4px 0 0;  
    padding: 5px 15px 5px;
}

.payment-details .undo-changes,
.payment-details .undo-changes a {
    color: #333;
    font-size: 12px; 
}

.payment-details .save-options {
    width: 290px;
}

.check-payment-total {
    display: block;
}

.select-account {
    border-bottom: 1px solid #D5D5D5;
    line-height: 1.5em;
    list-style: none;
    margin: 10px 0 0 16px;
    padding: 0;
}

.select-account li {
    border-top: 1px solid #D5D5D5;
    cursor: pointer;
    display: block;
    position: relative;
}

.select-account .over {
    background: #F1F5FA;
}

.select-account label {
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 8px 4px 8px 8px;
    zoom: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.select-account label input {
    line-height: normal;
    font-size: normal;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin: 0 3px 0 0;
}

    /* select account width extensions */
    .select-account-m {
        width: 365px;
    }


.payment-details .tableheader {
    border-bottom: 1px solid #D5D5D5;
    padding: 4px 8px;
    background: #F2F2F3 url(table-header-bottom-strip.gif) repeat-x left bottom;
}

.payment-details select.error, 
.payment-details input.error {
    background: #FFEEEE;
    border: 1px solid #DC241F;
    color: #000;
    font-weight: normal;
    padding: 2px 1px;
}

.indent-left {
    padding-left: 20px;
}

.info {
    color: #606060;
    font-size: 12px;
}

.info a {
    color: #606060;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.expandArrow img{
border:0px;
}

/*  tipsy */
.tipsy-n .tipsy-arrow {top:0; left:50%; margin-left:-5px;}
.tipsy-nw .tipsy-arrow {top:0; left:10px;}
.tipsy-ne .tipsy-arrow {top:0; right:10px;}
.tipsy-s .tipsy-arrow {bottom:0; _bottom:-16px; left:50%; margin-left:-5px;}
.tipsy-sw .tipsy-arrow {bottom:0; left:10px;}
.tipsy-se .tipsy-arrow {bottom:0; right:10px;}
.tipsy-e .tipsy-arrow {right:0; top:50%; margin-top:-5px;}
.tipsy-w .tipsy-arrow {left:0; top:50%; margin-top:-5px;}

.tipsy-inner {
    max-width: 210px;
    *width:210px;
    text-align: left;
}

.checked {
    font-weight: bold;
}
textarea.keyerror, select.keyerror, input.keyerror{
    border:1px solid #f00 !important;background-color:#fdd;
}
.olb-h3 {
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

.info-error {
color: #DC241F;
font-weight : bold;
}

/* payments - ends */

a.red-arrow {
	background: url(red-arrow.gif) no-repeat;
	padding: 4px 0 12px 41px;
	height:24px;
}