/* @group Style4 */

/* This is the Main Logo */
#logo {background: url(logo.png) 0 0 no-repeat;}

/* Main Background */

#body {background: #fff;}
#page-bg {background: #fff url(color-bg.jpg) 50% 0 no-repeat;}

/* Top Header Bar */

#top-bar {background: url(top-bar-bg.png) 0 0 repeat-x;}
#top-bar .links-block {color: #fff;}
#top-bar .date-block {color: #fff;}
#top-bar .right-module-block {color: #fff;}
#top-bar ul.menu a, #top-bar ul.menu .separator {color: #fff;}
#top-bar ul.menu a:hover {color: #000;}

/* Main Header */

#top-divider {background: url(top-divider.png) 0 0 repeat-x;}
#logo-bg-area {background: url(color-bg-element.png) 0 0 no-repeat;}

/* Top Main Menu */

#horiz-menu {background: #CBC5C3 url(horiz-menu-bar.jpg) 100% 0 no-repeat;}
#horiz-menu a, #horiz-menu .separator {color: #fff;}
#horiz-menu li a, #horiz-menu li .separator {background: url(horiz-menu-bg.png) 0 0 repeat-x;}
#horiz-menu li.active a, #horiz-menu li.active .separator, #horiz-menu li:hover a, #horiz-menu li:hover .separator, #horiz-menu li.sfHover a, #horiz-menu li.sfHover .separator {background: url(horiz-menu-bgactive.png) 0 0 repeat-x;}
#horiz-menu li.active a span, #horiz-menu li.active .separator span {background: url(horiz-menu-active.png) 50% 100% no-repeat;}

/* Main Body Items */

#maincontent-block a {color: #cc0000;}
h1.componentheading span.bg {background: url(component-head.png) 50% 100% no-repeat;color: #fff;}
.frontpage-item a, .blog-item a, .pagination a {color: #cc0000;}
.contentheading, #maincontent-block a.contentpagetitle, #main-body a.readon {color: #666;}
.medium .contentheading, #maincontent-block .medium a.contentpagetitle, #main-body .medium a.readon {color: #444;}
.dark .contentheading, #maincontent-block .dark a.contentpagetitle, #main-body .dark a.readon {color: #fff;}
#main-body .color a.readon {color: #fff;}
#main-body .promo a.readon {color: #fff;}
#main-body .color a.readon:hover {color: #FFB7B3;}
.color span.readon-full {background: #D10504 url(main-color-readon-bg.png) 0 0 repeat-x;border: 1px solid #A20000;}
.main-article h2.contentheading {color: #cc0000;}

/* Side Column Modules */

.side-mod a, .medium .side-mod a {color: #cc0000;}
.light .side-mod a {color: #cc0000;}
.color .side-mod h3.module-title span.bg {background: url(side-color-h3.png) 50% 100% repeat-x;color: #fff;}
.color .side-mod {background: #cc0000 url(side-color-mod-bg.png) 0 0 repeat-x;border-left: 1px solid #990000;border-right: 1px solid #990000;border-top: 1px solid #990000;}
.color .side-mod a {color: #FFB7B3;}
.color .side-mod2 {background: url(side-color-mod-h3-bg.png) 0 0 repeat-x;color: #fff;}
.color .side-mod-bottom {background: url(side-color-bm.png) 0 0 repeat-x;}
.color .side-mod-bottom2 {background: url(side-color-br.png) 100% 100% no-repeat;}
.color .side-mod-bottom3 {background: url(side-color-bl.png) 0 100% no-repeat;}
.color .side-mod .close-handle {background: url(side-color-close-handle.png) 50% 50% no-repeat;}
.color .side-mod .open-handle {background: url(side-color-open-handle.png) 50% 50% no-repeat;}
.color .side-mod .tools-handle {background: url(side-color-tools-handle.png) 50% 50% no-repeat;}
.promo .side-mod h3.module-title span.bg {background: url(modstyle1-h3.png) 50% 100% repeat-x;color: #fff;}

/* Side Menus */

#main-body .color ul.menu li, .color .side-mod ul li {background: #D10504 url(main-color-readon-bg.png) 0 0 repeat-x;border: 1px solid #A20000;}
#main-body .light ul.menu li a:hover, #main-body .light ul.menu li .separator:hover, light .side-mod ul li a:hover, light .side-mod ul li .separator:hover {background: url(light-arrow-hover.png) 8px 4px no-repeat;color: #cc0000;}
#main-body ul.menu li a:hover, #main-body ul.menu li .separator:hover {background: url(med-arrow-hover.png) 8px 4px no-repeat;color: #cc0000;}
#main-body .color ul.menu li a, #main-body .color ul.menu li .separator, .color .side-mod ul li a, .color .side-mod ul li .separator {background: url(color-arrow.png) 8px 4px no-repeat;color: #FFB7B3;}
#main-body .color ul.menu li a:hover, #main-body .color ul.menu li .separator:hover, .color .side-mod ul li a:hover, .color .side-mod ul li .separator:hover {background: url(color-arrow-hover.png) 8px 4px no-repeat;color: #fff;}

/* Main Body Modules */

.mainblock-mod a, .light .mainblock-mod a, .mainblock-mod .separator, .light .mainblock-mod .separator {color: #cc0000;}
.mainblock-mod ul li a:hover, .side-mod ul li a:hover, .mainblock-mod ul li .separator:hover, .side-mod ul li .separator:hover {color: #cc0000;background: url(mainblock-arrow-hover.png) 8px 4px no-repeat;}
.medium .mainblock-mod a, .medium .mainblock-mod .separator {color: #cc0000;}
.medium .mainblock-mod ul li a:hover, .medium .side-mod ul li a:hover, .medium .mainblock-mod ul li .separator:hover, .medium .side-mod ul li .separator:hover, #main-content .blog_more ul li a:hover {color: #cc0000;background: url(mainblock-arrow-hover.png) 8px 4px no-repeat;}
.dark .mainblock-mod a, .dark .mainblock-mod .separator {color: #fff;}
.dark .mainblock-mod h3.module-title span.bg {background: #cc0000;border: 1px solid #990000;color: #fff;}

/* Login Style */

.color .inputbox {border: 1px solid #A20000;}
.color input.button {background: #D10504 url(main-color-readon-bg.png) 0 0 repeat-x;border: 1px solid #A20000;color: #fff;}

/* Bottom Section */

#bottom-expansion {background: url(bottom-expansion.png) 0 0 repeat-x;border-top: 1px solid #ddd;}

/* Extra Content Styles */

.feature-thumb span {background: url(feature-thumb.png) 0 0 no-repeat;color: #fff;}
.feature-thumb2 span {background: url(feature-thumb2.png) 0 0 no-repeat;color: #cc0000;}

/* RokFeature */

.rokfeature-tab-1, .rokfeature-tab-4 {background: #EF302E url(rokfeature-tab-1.png) 0 0 no-repeat;border-right: 1px solid #000;}
.rokfeature-tab-2, .rokfeature-tab-5 {background: #FFFFDF url(rokfeature-tab-2.png) 0 0 no-repeat;border-right: 1px solid #000;}
.rokfeature-tab-3, .rokfeature-tab-6 {background: #FFEDD0 url(rokfeature-tab-3.png) 0 0 no-repeat;border-right: 1px solid #000;}
.rokfeature-block-bg1, .rokfeature-block-bg4 {background: #7C2222;}
.rokfeature-block-bg2, .rokfeature-block-bg5 {background: #716E5E;}
.rokfeature-block-bg3, .rokfeature-block-bg6 {background: #856E5F;}
.rokfeature-option-block span {color: #fff;}
img.rokfeature-thumb {border: 3px solid #fff;}
.rokfeature-readon span {background: #666;color: #fff;}

/* @end */