/* This is the Main template logo, Edit this to match the width and height of your new logo image */
#logo {width: 250px;height: 60px;}

/* This is the Logo Banner Width, Edit this to set the width of the Logo Banner graphic */
#logo-surround {width: 315px;}

/* Font Family Settings */

body#ff-mixxmag, body#ff-mixxmag td {font-family: "Lucida Grande",Helvetica,Verdana,sans-serif;}
body#ff-optima, #ff-optima td {font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;}
body#ff-geneva, #ff-geneva td {font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;}
body#ff-helvetica, #ff-helvetica td {font-family: Helvetica, Arial, FreeSans, sans-serif;}
body#ff-lucida, #ff-lucida td {font-family: "Lucida Grande",Helvetica,Verdana,sans-serif;}
body#ff-georgia, #ff-georgia td {font-family: Georgia, sans-serif;}
body#ff-trebuchet, #ff-trebuchet td {font-family: "Trebuchet MS", sans-serif;}
body#ff-palatino, #ff-palatino td {font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;}
body#ff-mixxmag #horiz-menu, body#ff-mixxmag #bottom-block ul.menu, body#ff-mixxmag #breadcrumbs {font-family: Helvetica, Arial, FreeSans, sans-serif;}

/* Core Formatting */

html {height: 100%;margin-bottom: 1px;}
body {margin: 0;line-height: 135%;}
form {margin: 0;padding: 0;}
body.f-small, body#ff-optima.f-small, body#ff-georgia.f-small {font-size: 11px;}
body, body.f-default {font-size: 12px;}
body#ff-optima, body#ff-optima.f-default {font-size: 13px;}
body#ff-georgia, body#ff-georgia.f-default {font-size: 13px;}
body.f-large, body#ff-optima.f-large, body#ff-georgia.f-large {font-size: 14px;}
p {margin-top: 10px;margin-bottom: 15px;}
h1, h2, h3, h4, h5 {padding-bottom: 5px;margin: 25px 0 10px 0;font-weight: normal;line-height: 120%;}
h1 {font-size: 200%;line-height: 100%;}
h2 {font-size: 175%;line-height: 100%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;line-height: 130%;}
h5 {font-size: 120%;text-transform: uppercase;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
.clr {clear: both;}

/* Top Header Bar */

#top-bar {padding: 8px 0;overflow: hidden;}
#top-bar .links-block {width: 45%;float: left;}
#top-bar .right-module-block {width: 45%;float: right;text-align: right;}
#top-bar .right-module-block h3 {margin: 0;}
#top-bar ul.menu {margin: 0;padding: 0 10px;overflow: hidden;}
#top-bar ul.menu li {list-style: none;float: left;border: 0;margin: 0 18px 0 0;font-size: 100%;height: auto;padding: 0;line-height: 100%;}
#top-bar ul.menu a, #top-bar ul.menu a span {padding: 0;margin: 0;line-height: 130%;height: auto;text-indent: 0;}
.date-block {float: right;text-align: right;line-height: 110%;margin-right: 10px;}
.date1 {text-transform: uppercase;text-align: right;font-size: 145%;padding-right: 6px;font-weight: bold;}
.date2, .date3 {text-transform: uppercase;font-weight: bold;font-size: 105%;}

/* Main Header */

#top-divider {height: 4px;}
#main-header {position: relative;padding-bottom: 20px;z-index:2;}
#header-tools {padding: 10px 10px 0 10px;overflow: hidden;}
.header-spacer {height: 30px;}
#logo-surround {height: 71px;top:37px;;margin-left: -7px;position: absolute;}
#logo-banner {height: 71px;float: left;background: url(logo-banner-l.png) 0 0 no-repeat; width: 100%;}
#logo-banner2 {height: 71px;background: url(logo-banner-r.png) 100% 0 no-repeat;}
#logo-banner3 {height: 71px;margin-left:35px;margin-right: 26px;background: url(logo-banner-m.png) 0 0 repeat-x;}
.logo-module {width: 330px;float: left;overflow: hidden;padding: 15px 0;}
#logo-bg-area {width: 299px;height: 99px;position: absolute;top: 0;left: 10px;}
#searchmod {padding: 0;float: right;text-align: right;width: 283px;}
#searchmod .search {border: 0;padding: 0;}
#searchmod .inputbox {background: none;border: 0;padding: 3px 0 3px 6px;font-size: 100%;float: left;width: 200px;margin-right: 5px;background: #fff;border: 1px solid #ccc;color: #666;}
#searchmod input.button {float: right;border: 0;width: 70px;text-transform: uppercase;cursor: pointer;padding-bottom: 5px;background: url(search-button.png) 0 0 no-repeat;}

/* Top Main Menu */

#horiz-menu {height: 40px;margin-top: 12px;padding: 0;display: block;}
#menu-spacer {height: 55px;float: right;}
ul#horiznav.menutop, #horiz-menu ul.menutop {padding: 8px 0 3px 0;margin: 0;position: relative;z-index:120;float: right;}
#horiz-menu li, #horiz-menu li a, #horiz-menu li .separator {z-index:200;position:relative;display: block;}
#horiz-menu span {height: 29px;}
#horiz-menu a, #horiz-menu .separator {white-space: nowrap;display: block;float: left;height: 29px;line-height: 26px;font-weight: normal;font-size: 100%;text-decoration: none;z-index: 100;cursor: pointer;padding: 0 6px;color: #fff;text-transform: uppercase;}
#horiz-menu li.active a, #horiz-menu li.active .separator {z-index: 100;cursor: pointer;}
#horiz-menu ul {list-style: none;padding: 0;margin: 0;}
#horiz-menu li {display: block;float: left;margin: 0 4px 0 0;padding: 0;font-weight: bold;}
#horiz-menu li a span, #horiz-menu li .separator span {display: block;padding: 0;}

/* Top Main Menu Dropdowns */

#horiz-menu li li.active, #horiz-menu li.active li a, #horiz-menu li.active li a:hover, #horiz-menu li li a:hover, #horiz-menu ul li.active.parent ul a, #horiz-menu li.active li .separator, #horiz-menu li.active li .separator:hover, #horiz-menu li li .separator:hover, #horiz-menu ul li.active.parent ul .separator {border: 0;padding: 0;margin: 0;}
#horiz-menu li li a, #horiz-menu li li .separator {text-indent:15px;font-weight: normal;padding: 0;margin: 0;}
#horiz-menu li li, #horiz-menu li li a span, #horiz-menu li li .separator span {background: none;padding: 0;margin: 0;}
#horiz-menu li li a span, #horiz-menu li li .separator span {padding: 0;}
#horiz-menu li.sfHover li a, #horiz-menu li:hover li a, #horiz-menu ul li.active ul li.active li a, #horiz-menu ul li.active.parent ul li a, #horiz-menu li.sfHover li .separator, #horiz-menu li:hover li .separator, #horiz-menu ul li.active.parent ul li .separator, #horiz-menu ul li.active.parent ul li .seperator {background: none;}
#horiz-menu li.active li a, #horiz-menu li.active.parent li a, #horiz-menu li.active li .separator, #horiz-menu li.active.parent li .separator {font-weight: normal;font-size: 100%;background: none;}
#horiz-menu ul ul {margin: 0;border: 0;padding: 5px 0 2px 0;background: url(horizmenu-dropdown-bg.png) 50% 100% no-repeat;}
#horiz-menu ul ul li, #horiz-menu ul ul li.active {margin-bottom: 3px;}
#horiz-menu ul ul li:hover, #horiz-menu ul ul li.sfHover {background-image: none;}
#horiz-menu ul ul li a, #horiz-menu ul li.active.parent ul a, #horiz-menu ul li.active.parent ul a span, #horiz-menu ul ul li .separator, #horiz-menu ul li.active.parent ul .separator, #horiz-menu ul li.active.parent ul .separator span {text-transform: lowercase;background: none;}
#horiz-menu ul ul li.active {background: none;}
#horiz-menu ul ul li, #horiz-menu ul ul li.active, #horiz-menu li.active li a:hover, #horiz-menu li.active li a.sfHover, #horiz-menu li a.separator {background: url(dropdown-item.png) 0 0;}
#horiz-menu ul ul li a.daddy, #horiz-menu ul ul li .separator.daddy, #horiz-menu ul li.parent.active:hover li a.daddy, #horiz-menu ul li.parent.active:hover li .separator.daddy, #horiz-menu ul li.parent.active.sfHover li a.daddy, #horiz-menu ul li.parent.active.sfHover li .separator.daddy {background: transparent url(dropdown-item-hover-arrow.png) 95% 12px no-repeat;}
#horiz-menu ul ul li:hover, #horiz-menu ul ul li.sfHover, #horiz-menu ul ul li.active {background: url(dropdown-item-hover.png) 0 0;}

/* Main Page Structure */

.side-shadow-l {background: url(side-shadow-l.png) 0 0 repeat-y;margin-left: -20px;padding-left: 20px;}
.side-shadow-r {background: url(side-shadow-r.png) 100% 0 repeat-y;margin-right: -20px;padding-right: 20px;}
#main-content {padding: 0 10px 10px 10px;}
#main-body-bg {position:relative;z-index:1;}
#main-body {position: relative;}
#maincol {float: left;}
#leftcol {float: left;}
#leftcol .padding {padding: 0 5px 0 10px;}
#rightcol .padding {padding: 0 6px 0 5px;}
#rightcol {float: left;}
#inset-block-right {float: right;}
#inset-block-right .right-padding {padding-left: 10px;}
#inset-block-left {float: left;}
#inset-block-left .left-padding {padding-right: 10px;}
table.mainbody, table.blog {width: 100%;border: 0;padding: 0;}
.spacer .block {float: left;}

/* Main Body Items */

#breadcrumbs {height: 18px;margin: 0 12px 12px;display: block;padding: 0 10px;background: #000;}
#breadcrumbs h3 {display: none;}
span.breadcrumbs {display: block;font-size: 100%;overflow: hidden;line-height: 120%;padding-top: 2px;text-transform: uppercase;color: #fff;}
span.breadcrumbs img {width: 10px;height: 9px;background: url(breadcrumb-div.png) 50% 50% no-repeat;}
span.breadcrumbs a {float: none;padding: 0 2px 0 0;font-weight: normal;color: #aaa;}
h1.componentheading {font-size: 120%;text-transform: uppercase;line-height: 170%;margin-bottom: 8px;margin-top: 0;}
h1.componentheading span.bg {padding: 5px 10px;}
h1.componentheading span.bg2 {padding: 0 0 7px 0;}
.content-header {position: relative;}
.move-handle, .open-handle, .close-handle, .tools-handle {height: 22px;width: 20px;position: absolute;cursor: pointer;}
.close-handle {right: 0;top: 2px;}
.open-handle {right: 0;top: 2px;}
.tools-handle {top: 2px;right: 22px;}
.tools-hover {background: url(tools-hover.png) 0 0 !important;}
.contentheading {margin: 0;padding: 4px 60px 6px 15px;font-size: 140%;font-weight: bold;line-height: 120%;}
.main-article {padding: 10px;}
.main-article .contentheading {padding: 0;font-size: 190%;margin-bottom: 15px;}
.blog-page h1.componentheading {padding: 0;font-size: 140%;margin-bottom: 15px;font-weight: bold;text-transform: none;}
.article-extras {overflow: hidden;padding-left: 10px;}
div.buttonheading {margin: 0 10px 0 0;float: left;padding: 8px 5px 5px 5px;}
.main-article div.buttonheading {float: right;}
div.pageinfo {float: left;margin: 0 10px 0 0;padding: 8px 5px 5px 5px;}
div.iteminfo {float: left;margin: 0 10px 0 0;padding: 8px 5px 5px 5px;font-size: 90%;}
span.modifydate, span.createdby, span.createdate {display: block;}
.content-padding {padding: 5px 15px;}
.content-bottom, .content-bottom2, .content-bottom3 {height: 6px;}
.content-bottom {margin-bottom:5px;}
.readon-tab-block {float: right;margin-right: 8px;text-align: center;margin-bottom: 4px;margin-top:1px;}
.readon-tab-block a.readon {margin: 0;font-size: 90%;font-weight: bold;padding: 0 10px;}
.readon-tab-block a.readon:hover, a.contentpagetitle:hover {text-decoration: none;}
.readon-tab, .readon-tab2, .readon-tab3 {height: 24px;}
.readon-tab {margin-left: 4px;margin-right: 4px;}
.readon-tab2 {margin-right: -4px;}
.readon-tab3 {margin-left: -4px;}
span.readon-tab-text {height: 24px;line-height: 22px;}
a.readon {margin-top: 15px;margin-bottom: 10px;display: block;}
span.readon-full {padding: 4px 8px;text-transform: uppercase;font-size: 80%;font-weight: bold;}
div.pagination {height: 21px;line-height: 21px;margin-top: 10px;margin-bottom: 15px;}
div.pagination div.tab {background: url(page-tab-r.png) 100% 0 no-repeat;float: left;margin-right: 6px;}
div.pagination div.tab2 {background: url(page-tab-l.png) 0 0 no-repeat;padding: 0 8px;}
div.pagination div.page-block {padding: 0 4px;float: left;margin-right: 6px;}
.cols2 {width: 49.4%;float: left;}
.column1.cols2 {margin-right: 5px;}
.cols3 {width: 32.6%;float: left;}
.column1.cols3, .column2.cols3 {margin-right: 5px;}
.leading-blog .tools-handle, .leading-blog .close-handle, .leading-blog .content-bottom, .leading-blog .article-extras  {display: none;}
div.leading-blog .content-header, .leading-blog .blog-item-bg {background: none;border: 0;}
.leading-blog .content-padding {padding: 12px;background: none;}
.leading-blog h2.contentheading {padding-left: 12px;}
.blog-page h1.componentheading {padding-left: 12px;}
.blog_more {padding-top: 15px;}

/* Main Body Content Blocks */

.frontpage-item-bg, .blog-item-bg {background: #E7E7E7;border-top: 1px solid #CFCFCF;border-right: 1px solid #CFCFCF;border-left: 1px solid #CFCFCF;}
.medium .frontpage-item-bg, .medium .blog-item-bg {background: #B6B6B6;border-top: 1px solid #A5A5A5;border-right: 1px solid #A5A5A5;border-left: 1px solid #A5A5A5;}
.dark .frontpage-item-bg, .dark .blog-item-bg {background: #616161;border-top: 1px solid #555;border-right: 1px solid #555;border-left: 1px solid #555;color: #fff;}
.content-padding {background: url(light-item-bg.png) 0 0 repeat-x;}
.medium .content-padding {background: url(med-item-bg.png) 0 0 repeat-x;}
.dark .content-padding {background: url(dark-item-bg.png) 0 0 repeat-x;}
#maincontent-block .dark .frontpage-item-bg a, #maincontent-block .dark .blog-item-bg a {color: #ccc;}

.content-header, .light .content-header {background: #DFDFDF url(content-header-bg.png) 0 0 repeat-x;}
.medium .content-header {background: #BABABA url(main-med-header-bg.png) 0 0 repeat-x;}
.dark .content-header {background: #666 url(main-dark-header-bg.png) 0 0 repeat-x;}

.close-handle, .light .close-handle {background: url(side-light-close-handle.png) 50% 50% no-repeat;}
.medium .close-handle {background: url(side-close-handle.png) 50% 50% no-repeat;}
.dark .close-handle {background: url(side-dark-close-handle.png) 50% 50% no-repeat;}
.open-handle, .light .open-handle {background: url(side-light-open-handle.png) 50% 50% no-repeat;}
.medium .open-handle {background: url(side-open-handle.png) 50% 50% no-repeat;}
.dark .open-handle {background: url(side-dark-open-handle.png) 50% 50% no-repeat;}
.tools-handle, .light .tools-handle {background: url(side-light-tools-handle.png) 50% 50% no-repeat;}
.medium .tools-handle {background: url(side-tools-handle.png) 50% 50% no-repeat;}
.dark .tools-handle {background: url(side-dark-tools-handle.png) 50% 50% no-repeat;}

#maincontent-block a.contentpagetitle:hover, #main-body a.readon:hover {color: #333;}
#maincontent-block .medium a.contentpagetitle:hover, #main-body .medium a.readon:hover {color: #151515;}
#maincontent-block .dark a.contentpagetitle:hover, #main-body .dark a.readon:hover {color: #ccc;}
#main-body .promo a.readon:hover {color: #ccc;}

.article-extras {background: #ddd url(content-header-bg2.png) 0 0 repeat-x;border-bottom: 1px solid #CFCFCF;color: #555;}
.medium .article-extras {background: #B4B4B4 url(main-med-header-bg2.png) 0 0 repeat-x;border-bottom: 1px solid #A5A5A5;color: #333;}
.dark .article-extras {background: #636363 url(main-dark-header-bg2.png) 0 0 repeat-x;border-bottom: 1px solid #555;color: #fff;}
span.createdby {color: #333;}
.dark span.createdby {color: #fff;}
.main-article .contentheading {color: #333;}

.content-bottom, .mainblock-mod-bottom {background: url(content-bm.png) 0 0 repeat-x;}
.content-bottom2, .mainblock-mod-bottom2 {background: url(content-br.png) 100% 100% no-repeat;}
.content-bottom3, .mainblock-mod-bottom3 {background: url(content-bl.png) 0 100% no-repeat;}
.medium .content-bottom {background: url(side-mod-bm.png) 0 0 repeat-x;}
.medium .content-bottom2 {background: url(side-mod-br.png) 100% 100% no-repeat;}
.medium .content-bottom3 {background: url(side-mod-bl.png) 0 100% no-repeat;}
.dark .content-bottom {background: url(side-dark-bm.png) 0 0 repeat-x;}
.dark .content-bottom2 {background: url(side-dark-br.png) 100% 100% no-repeat;}
.dark .content-bottom3 {background: url(side-dark-bl.png) 0 100% no-repeat;}

.readon-tab {background: url(readon-tab-m.png) 0 0 repeat-x;}
.readon-tab2 {background: url(readon-tab-r.png) 100% 0 no-repeat;}
.readon-tab3 {background: url(readon-tab-l.png) 0 0 no-repeat;}
.medium .readon-tab {background: url(main-med-readon-tab-m.png) 0 0 repeat-x;}
.medium .readon-tab2 {background: url(main-med-readon-tab-r.png) 100% 0 no-repeat;}
.medium .readon-tab3 {background: url(main-med-readon-tab-l.png) 0 0 no-repeat;}
.dark .readon-tab {background: url(main-dark-readon-tab-m.png) 0 0 repeat-x;}
.dark .readon-tab2 {background: url(main-dark-readon-tab-r.png) 100% 0 no-repeat;}
.dark .readon-tab3 {background: url(main-dark-readon-tab-l.png) 0 0 no-repeat;}

span.readon-full {background: #F0F0F0 url(readon-bg.png) 0 0 repeat-x;border: 1px solid #c7c7c7;}
.medium span.readon-full {background: #B7B7B7 url(main-med-readon-bg.png) 0 0 repeat-x;border: 1px solid #9C9C9C;}
.dark span.readon-full {background: #666 url(main-dark-readon-bg.png) 0 0 repeat-x;border: 1px solid #555;}
.promo span.readon-full {background: #666 url(main-dark-readon-bg.png) 0 0 repeat-x;border: 1px solid #888;}

/* Side Column Modules */

.side-mod-bottom, .side-mod-bottom2, .side-mod-bottom3 {height: 6px;}
.side-mod-bottom { margin-bottom: 10px;}
.side-mod h3.module-title {margin: 0 0 0 -4px;padding-top: 5px;position: relative;}
.side-mod h3.module-title span {font-size: 85%;text-transform: uppercase;}
.side-mod h3.module-title span.bg {padding: 6px 10px;}
.side-mod h3.module-title span.bg2 {padding: 0 0 7px 0;}
.side-title-container {position: relative;}
.side-mod .module {padding: 15px;}
.side-mod .open-handle, .side-mod .close-handle, .side-mod .tools-handle {height: 22px;width: 20px;position: absolute;cursor: pointer;}
.side-mod .close-handle {right: 0;top: 0;}
.side-mod .open-handle {right: 0;top: 0;}
.side-mod .tools-handle {top: 0;right: 22px;}
.flush .module {padding: 0;}

.light .side-mod h3.module-title span.bg {background: url(side-light-h3.png) 50% 100% repeat-x;color: #fff;}
.light .side-mod {background: #E7E7E7 url(side-light-mod-bg.png) 0 0 repeat-x;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;border-top: 1px solid #DDDDDD;}
.light .side-mod2 {background: url(side-light-mod-h3-bg.png) 0 0 repeat-x;}
.light .side-mod-bottom {background: url(side-light-bm.png) 0 0 repeat-x;}
.light .side-mod-bottom2 {background: url(side-light-br.png) 100% 100% no-repeat;}
.light .side-mod-bottom3 {background: url(side-light-bl.png) 0 100% no-repeat;}
.light .side-mod .close-handle {background: url(side-light-close-handle.png) 50% 50% no-repeat;}
.light .side-mod .open-handle {background: url(side-light-open-handle.png) 50% 50% no-repeat;}
.light .side-mod .tools-handle {background: url(side-light-tools-handle.png) 50% 50% no-repeat;}

.side-mod h3.module-title span.bg, .medium .side-mod h3.module-title span.bg {background: url(side-mod-h3.png) 50% 100% repeat-x;color: #fff;}
.side-mod, .medium .side-mod {background: #B8B8B8 url(side-mod-bg.png) 0 0 repeat-x;border-left: 1px solid #A5A5A5;border-right: 1px solid #A5A5A5;border-top: 1px solid #A5A5A5;}
.side-mod2, .medium .side-mod2 {background: url(side-mod-h3-bg.png) 0 0 repeat-x;}
.side-mod-bottom, .medium .side-mod-bottom {background: url(side-mod-bm.png) 0 0 repeat-x;}
.side-mod-bottom2, .medium .side-mod-bottom2 {background: url(side-mod-br.png) 100% 100% no-repeat;}
.side-mod-bottom3, .medium .side-mod-bottom3 {background: url(side-mod-bl.png) 0 100% no-repeat;}
.side-mod .close-handle, .medium .side-mod .close-handle {background: url(side-close-handle.png) 50% 50% no-repeat;}
.side-mod .open-handle, .medium .side-mod .open-handle {background: url(side-open-handle.png) 50% 50% no-repeat;}
.side-mod .tools-handle, .medium .side-mod .tools-handle {background: url(side-tools-handle.png) 50% 50% no-repeat;}

.dark .side-mod h3.module-title span.bg {background: url(side-dark-h3.png) 50% 100% repeat-x;color: #fff;}
.dark .side-mod {background: #616161 url(side-dark-mod-bg.png) 0 0 repeat-x;border-left: 1px solid #555555;border-right: 1px solid #555555;border-top: 1px solid #555555;}
.dark .side-mod a {color: #ccc;}
.dark .side-mod2 {background: url(side-dark-mod-h3-bg.png) 0 0 repeat-x;color: #fff;}
.dark .side-mod-bottom {background: url(side-dark-bm.png) 0 0 repeat-x;}
.dark .side-mod-bottom2 {background: url(side-dark-br.png) 100% 100% no-repeat;}
.dark .side-mod-bottom3 {background: url(side-dark-bl.png) 0 100% no-repeat;}
.dark .side-mod .close-handle {background: url(side-dark-close-handle.png) 50% 50% no-repeat;}
.dark .side-mod .open-handle {background: url(side-dark-open-handle.png) 50% 50% no-repeat;}
.dark .side-mod .tools-handle {background: url(side-dark-tools-handle.png) 50% 50% no-repeat;}

.promo .side-mod .close-handle {background: url(promo-close-handle.png) 50% 50% no-repeat;}
.promo .side-mod .open-handle {background: url(promo-open-handle.png) 50% 50% no-repeat;}
.promo .side-mod .tools-handle {background: url(promo-tools-handle.png) 50% 50% no-repeat;}
.promo .side-mod {background: #333 url(promo-bg.png) 100% 0 no-repeat;border-left: 1px solid #EBEBEB;border-right: 1px solid #EBEBEB;border-top: 1px solid #EBEBEB;color: #aaa;}
.promo .side-mod a {color: #fff;}
.promo .side-mod2 {background: none;}
.promo .side-mod-bottom {background: url(promo-bm.png) 0 0 repeat-x;}
.promo .side-mod-bottom2 {background: url(promo-br.png) 100% 100% no-repeat;}
.promo .side-mod-bottom3 {background: url(promo-bl.png) 0 100% no-repeat;}
.ad-block, .ad-block-bottom {padding-bottom: 10px;}
.ad-block h3, .ad-block-bottom h3 {margin: 0;text-transform: uppercase;font-size: 90%;font-weight: bold;letter-spacing: 1px;}
.ad-block-bottom .moduletable {padding: 0 10px;}

/* Main Body Modules */

.mainblock-mod h3.module-title {margin: 0;padding: 4px 0 4px 5px;position: relative;}
.mainblock-mod h3.module-title span.bg {font-size: 70%;text-transform: uppercase;padding: 1px 10px;}
.mainblock-title-container {position: relative;}
.mainblock-mod .module {padding: 15px;}
.block.first .mainblock-module {padding: 0 0 10px 10px;}
.block.middle .mainblock-module {padding: 0 0 10px 10px;}
.block.last .mainblock-module {padding: 0 10px 10px 10px;}
#inset-block-right .mainblock-module, #inset-block-left .mainblock-module {padding-bottom: 10px;}
.mainblock-mod-bottom, .mainblock-mod-bottom2, .mainblock-mod-bottom3 {height: 6px;}
.mainblock-mod ul, .side-mod ul {margin: 0 -10px;padding: 0;}
.blog_more ul {margin: 0;padding: 0;}
.mainblock-mod ul li, .side-mod ul li, .blog_more ul li {list-style: none;padding: 4px 5px 4px 0;margin-bottom: 2px;}
.mainblock-mod ul li a, .side-mod ul li a, .blog_more ul li a {display: block;padding-left: 28px;}
.mainblock-mod ul li a:hover, .side-mod ul li a:hover, .blog_more ul li a:hover {text-decoration: none;}
#mainmodules, #mainmodules2, #mainmodules3, #mainmodules4 {overflow: hidden;}
#featured-block {padding: 0 12px 12px 12px;}
#mainmodules3, #mainmodules4 {padding-top: 15px;}
#mainmodules3.spacer .block, #mainmodules4.spacer .block {float: left;}
#mainmodules3.spacer.w99 .block, #mainmodules4.spacer.w99 .block {width: 99.8%;}
#mainmodules3.spacer.w49 .block, #mainmodules4.spacer.w49 .block {width: 49.8%;}
#mainmodules3.spacer.w33 .block, #mainmodules4.spacer.w33 .block {width: 33.3%;}
#mainmodules4 .block.first .moduletable {padding: 0 10px 10px 10px;}
#mainmodules4 .block.middle .moduletable {padding: 0 10px 10px 10px;}
#mainmodules4 .block.last .moduletable {padding: 0 10px 10px 10px;}
#mainmodules4 h3 {margin-top: 0;}
#rokmininews-block {padding: 12px;}
#rokmininews .rokmininews-surround {margin-bottom: 10px;}
#rokmininews .module {padding: 0;}

.mainblock-mod {background: #E7E7E7 url(side-light-mod-bg.png) 0 0 repeat-x;border-top: 1px solid #CFCFCF;border-right: 1px solid #CFCFCF;border-left: 1px solid #CFCFCF;}
.mainblock-mod h3.module-title, .light .mainblock-mod h3.module-title {background: #DFDFDF url(content-header-bg.png) 0 0 repeat-x;border-bottom: 1px solid #CFCFCF;}
.mainblock-mod h3.module-title span.bg, .light .mainblock-mod h3.module-title span.bg {background: #444;color: #fff;}
.mainblock-mod ul li, .light .mainblock-mod ul li, .light .side-mod ul li, .blog .blog_more ul li {background: #F0F0F0 url(readon-bg.png) 0 0 repeat-x;border: 1px solid #c7c7c7;}
.mainblock-mod ul li a, .light .mainblock-mod ul li a, .light .side-mod ul li a, #main-content .blog_more ul li a {color: #444;background: url(mainblock-arrow.png) 8px 4px no-repeat;}
.medium div.mainblock-mod ul li a, div.side-mod ul li a, .medium .side-mod ul li a {color: #333;background: url(med-arrow.png) 8px 4px no-repeat;}
.dark div.mainblock-mod ul li a, .dark div.side-mod ul li a, .promo div.side-mod ul li a {color: #ddd;background: url(dark-arrow.png) 8px 4px no-repeat;}
.dark .mainblock-mod ul li a:hover, .dark .side-mod ul li a:hover, .promo .side-mod ul li a:hover {color: #fff;background: url(dark-arrow-hover.png) 8px 4px no-repeat;}

.medium .mainblock-mod {background: #B6B6B6 url(side-mod-bg.png) 0 0 repeat-x;border-top: 1px solid #A2A2A2;border-right: 1px solid #A2A2A2;border-left: 1px solid #A2A2A2;}
.medium .mainblock-mod h3.module-title {background: #BABABA url(main-med-header-bg.png) 0 0 repeat-x;border-bottom: 1px solid #A2A2A2;}
.medium .mainblock-mod h3.module-title span.bg {background: #000;color: #fff;}
.medium .mainblock-mod .close-handle {background: url(side-close-handle.png) 50% 50% no-repeat;}
.medium .mainblock-mod .open-handle {background: url(side-open-handle.png) 50% 50% no-repeat;}
.medium .mainblock-mod .tools-handle {background: url(side-tools-handle.png) 50% 50% no-repeat;}
.medium .mainblock-mod ul li, .side-mod ul li {background: #B7B7B7 url(main-med-readon-bg.png) 0 0 repeat-x;border: 1px solid #9C9C9C;}
.medium .mainblock-mod ul li a, .side-mod ul li a {color: #444;background: url(mainblock-arrow.png) 8px 4px no-repeat;}
.medium .mainblock-mod-bottom {background: url(side-mod-bm.png) 0 0 repeat-x;}
.medium .mainblock-mod-bottom2 {background: url(side-mod-br.png) 100% 100% no-repeat;}
.medium .mainblock-mod-bottom3 {background: url(side-mod-bl.png) 0 100% no-repeat;}

.dark .mainblock-mod {background: #616161 url(side-dark-mod-bg.png) 0 0 repeat-x;border-top: 1px solid #555555;border-right: 1px solid #555555;border-left: 1px solid #555555;color: #ccc;}
.dark .mainblock-mod h3.module-title {background: #666666 url(main-dark-header-bg.png) 0 0 repeat-x;border-bottom: 1px solid #555555;}
.dark .mainblock-mod .close-handle {background: url(side-dark-close-handle.png) 50% 50% no-repeat;}
.dark .mainblock-mod .open-handle {background: url(side-dark-open-handle.png) 50% 50% no-repeat;}
.dark .mainblock-mod .tools-handle {background: url(side-dark-tools-handle.png) 50% 50% no-repeat;}
.dark .mainblock-mod ul li, .dark .side-mod ul li {background: #666 url(main-dark-readon-bg.png) 0 0 repeat-x;border: 1px solid #555;}
.dark .mainblock-mod ul li a, .dark .side-mod ul li a {color: #ddd;background: url(mainblock-arrow.png) 8px 4px no-repeat;}
.dark .mainblock-mod-bottom {background: url(side-dark-bm.png) 0 0 repeat-x;}
.dark .mainblock-mod-bottom2 {background: url(side-dark-br.png) 100% 100% no-repeat;}
.dark .mainblock-mod-bottom3 {background: url(side-dark-bl.png) 0 100% no-repeat;}

/* Bottom Section */

.bottom-padding {padding: 0 10px 10px 10px;}
img#rocket {width: 111px;height: 15px;float: left;}
#copyright {float: right;text-align: right;color: #555;}
.copyright-block {padding: 8px 15px 8px 15px;overflow: hidden;line-height: 100%;margin-right: 10px;}
#bottom-expansion {padding: 15px 15px 25px 15px;}
#footer-bg2 {padding: 20px 15px;background: url(footer-bg2.png) 0 100% no-repeat;}
#bottom-block ul.menu {margin: 0;padding: 0;text-align: center;overflow: hidden;}
#bottom-block ul.menu li {list-style: none;border: 0;float: left;margin-right: 0;padding: 0 15px;background: url(bottom-menu-div.png) 100% 50% no-repeat;}
#bottom-block ul.menu a, #bottom-block ul.menu .separator {text-transform: uppercase;font-size: 120%;height: auto;}
#bottom-block ul.menu a span, #bottom-block ul.menu .seperator span {line-height: 100%;height: auto;}
#bottom-block {background: #333 url(bottom-bg.png) 0 0 repeat-x;color: #999;}
#footer-bar {background: #232323;position: relative;}
#footer-bg1 {background: url(footer-bg1.png) 100% 100% no-repeat;}
a#clear-cookies {float: right;height: 10px;display: block;padding-top: 7px;padding-right: 15px;color: #666;font-size: 90%;}
img#rocket {background: url(rocket.png) 0 0 no-repeat;}
#bottom-block a, #bottom-block .separator {color: #bbb;}
#bottom-block a:hover, #bottom-block .separator:hover {color: #fff;}

/* Rok Modules Tools */
.rokmodtools {color: #fff; background-color: #000; padding: 1em; margin-left: -15px;margin-top: 5px;}
.rokmodtools .rokradiobox {background: url(radio.png) no-repeat;width: 14px;height: 14px;float: left;}
.rokmodtools div.activebox {background: url(radio-active.png) no-repeat;width: 14px;height: 14px;float: left;}
.rokmodtools div {padding: 2px;cursor: pointer;}
.rokmodtools input {margin: 0 5px 0 0; float: left;}
.rokmodtools span {float: left;}

/* Extra Joomla Elements */

span.small, td.createdate, td.modifydate {font-size: 90%;}
table.blog td.createdate {padding-bottom: 5px;}
table.blog td.modifydate {padding-top: 10px;}
.sectiontableheader {font-weight: bold;padding: 4px;line-height: 25px;background: url(http://www.losfigaros.lu/templates/rt_mixxmag_j15/images/submenu-active-bg.png) 0 100% repeat-x;}
.sectiontablefooter {background: url(http://www.losfigaros.lu/templates/rt_mixxmag_j15/images/submenu-active-bg.png) 0 100% repeat-x;padding-bottom: 8px;}
tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 2px 0 0px 5px;border-bottom: 1px solid #e7e7e7;}
tr.sectiontableentry2 td, td.sectiontableentry2 {height: 30px;}
tr.sectiontableentry1 td, td.sectiontableentry1 {height: 30px;}
.contentpane, .contentpaneopen {width: 100%;}

.module fieldset {border: 0;}
.module h4 {margin-top: 0;}
table.contenttoc {float: right;margin-left: 25px;}
.main-article p.articleinfo {font-size: 90%;color: #666;}

/* Side Menus */

#main-body ul.menu {margin:0;padding: 0;text-transform: lowercase;}
#main-body ul.menu li {list-style: none;margin: 0 -10px 2px -10px;padding: 0;float: none;text-transform: uppercase;}
#main-body ul.menu span {display: block;}
#main-body ul.menu li a, #main-body ul.menu li .separator {text-indent: 20px;background-position: 8px 50% !important;}
#main-body ul.menu ul li a, #main-body ul.menu ul li .separator {text-indent: 25px;background: none;}
#main-body ul.menu ul li ul li a, #main-body ul.menu ul li ul li .separator {text-indent: 45px;background: none;}
#main-body ul.menu ul li ul li ul li a, #main-body ul.menu ul li ul li ul li .separator {text-indent: 65px;background: none;}
#main-body ul.menu li.parent ul li span {background: none;}
#main-body ul.menu li.active.parent li span {background: none;}
#main-body ul.menu li.active.parent ul li, #main-body ul.menu li.active.parent ul li.parent ul {background: none;border: 0;}
#main-body ul.menu li.active.parent ul {padding: 6px 0;margin: 0;border: 0;}
#main-body ul.menu a, ul.menu .separator {display: block;text-indent: 0;overflow: hidden;font-size: 110%;float: none;padding: 5px;}
#main-body ul.menu li.active a, #main-body ul.menu li.active li.active a, #main-body ul.menu li.active li.active li.active a, #main-body ul.menu li.active .separator, #main-body ul.menu li.active li.active .separator {font-weight: bold;}
#main-body ul.menu li.active li a, #main-body ul.menu li.active li.active li a, #main-body ul.menu li.active li .separator, #main-body ul.menu li.active li.active li .separator, #main-body ul.menu li.active li.active li.active .separator {font-weight: normal;background: none;}
#main-body ul.menu ul ul {padding: 0; margin: 0;background: none;}
#main-body ul.menu li li {padding: 5px 0;margin: 0;border: 0;background: none;font-size: 90%;text-transform: lowercase;}
#main-body ul.menu ul a, #main-body ul.menu ul .separator {text-indent: 0;}
#main-body ul.menu li.active a, #main-body ul.menu li.active a:hover, #main-body ul.menu li.active .separator, #main-body ul.menu li.active .separator:hover {text-decoration: none;}
#main-body ul.menu li a:hover, #main-body ul.menu li .separator:hover {text-decoration: none;background-position: 8px 50% !important;}
#main-body ul.menu li.active.parent ul {margin-top: 0;margin-bottom: 0;padding-top: 0;padding-bottom: 10px;}
#main-body ul.menu li.active.parent ul li.active.parent ul {padding: 5px 0;}
#main-body ul.menu ul {padding: 0;margin: 0;}
#main-body ul.menu ul a, #main-body ul.menu ul .separator {padding: 0;margin: 0;}
#main-body ul.menu li.active li a:hover, #main-body ul.menu li.active li .separator:hover {background: none;}

#main-body .light ul.menu li {background: #F0F0F0 url(readon-bg.png) 0 0 repeat-x;border: 1px solid #c7c7c7;}
#main-body ul.menu li, #main-body .medium ul.menu li {background: #B7B7B7 url(main-med-readon-bg.png) 0 0 repeat-x;border: 1px solid #9C9C9C;}
#main-body .dark ul.menu li {background: #666 url(main-dark-readon-bg.png) 0 0 repeat-x;border: 1px solid #555;}
#main-body .promo ul.menu li, #main-body .promo .side-mod ul li {background: #666 url(main-dark-readon-bg.png) 0 0 repeat-x;border: 1px solid #888;}
#main-body .light ul.menu li a, #main-body .light ul.menu li .separator {background: url(light-arrow.png) 8px 50% no-repeat;color: #666;}
#main-body ul.menu li a, #main-body ul.menu li .separator {background: url(med-arrow.png) 8px 50% no-repeat;color: #333;}
#main-body .dark ul.menu li a, #main-body .dark ul.menu li .separator {background: url(dark-arrow.png) 8px 50% no-repeat;color: #ddd;}
#main-body .dark ul.menu li a:hover, #main-body .dark ul.menu li .separator:hover {background: url(dark-arrow-hover.png) 8px 50% no-repeat;color: #fff;}
#main-body .promo ul.menu li a, #main-body .promo ul.menu li .separator, .side-mod.promo ul li a, .side-mod.promo ul li .separator {background: url(dark-arrow.png) 8px 50% no-repeat;color: #ddd;}
#main-body .promo ul.menu li a:hover, #main-body .promo ul.menu li .separator:hover, .side-mod.promo ul li a:hover, .side-mod.promo ul li .separator:hover {background: url(dark-arrow-hover.png) 8px 50% no-repeat;color: #fff;}

/* Extra Content Styles */

a.nounder {text-decoration: none;border: 0;cursor: pointer;}
a.nounder:hover {text-decoration: none;}
fieldset {border-left: 0;border-right: 0;border-top: 0;}
fieldset.input, a img, body .pollstableborder {border: 0;}
form.poll fieldset {margin: 0 0 10px 0;}
img.content-left {float: left;margin-right: 10px;padding: 5px;}
img.content-right {float: right;margin-left: 10px;padding: 5px;}
.back_button {margin-top: 20px;margin-bottom: 10px;}
.tool-tip {padding: 4px;z-index:5000;background:#fbf3ad;color:#333;border:2px solid #f8e639;font-size:90%;}
.bannergroup .clr {clear: none !important;}
img.feature {border: 4px solid #666;}
.dark img.feature {border: 4px solid #444;}
.feature-thumb, .feature-thumb2 {float: left;margin-right: 10px;position: relative;}
.feature-thumb span, .feature-thumb2 span {position: absolute;top: 80px;left: -7px;width: 133px;height: 28px;text-transform: uppercase;line-height: 180%;text-indent: 8px;}
#accessibility {width: 50px;height: 14px;float: right;z-index: 5000;margin-right: 10px;}
#accessibility span {background-repeat: no-repeat;}
#accessibility a {text-decoration: none; cursor: pointer;}
#accessibility #buttons {float: right;}
#accessibility .button {display: block;float: right;width: 15px;height: 15px;}
#accessibility a.small .button {margin-right: 5px;}
a.large .button {background: url(font-lg.png) 0 0 no-repeat;}
a.small .button {background: url(font-sm.png) 0 0 no-repeat;}

/* Login Styles */

form.form-login p {margin: 0;}
form.form-login .inputbox {padding: 4px;line-height: 14px;width: 96%;}
form.form-login .login-links {margin-bottom: 8px;margin-top: 8px;}
input.button {font-size: 100%;cursor: pointer;padding: 3px 5px;}
form.form-login .login-username, form.form-login .login-password {margin-bottom: 10px;}
form.form-login span.username-label, form.form-login span.password-label {display: block;text-transform: uppercase;margin-bottom: 1px;padding-left: 2px;}
.light .inputbox {border: 1px solid #ccc;}
.medium .inputbox {border: 1px solid #999;}
.dark .inputbox {border: 1px solid #555;}
.promo .inputbox {border: 1px solid #222;background: #555;color: #fff;}
.light input.button {background: #F0F0F0 url(readon-bg.png) 0 0 repeat-x;border: 1px solid #c7c7c7;color: #666;}
.medium input.button {background: background: #B7B7B7 url(main-med-readon-bg.png) 0 0 repeat-x;border: 1px solid #9C9C9C;color: #333;}
.dark input.button {background: #666 url(main-dark-readon-bg.png) 0 0 repeat-x;border: 1px solid #555;color: #fff;}
.promo input.button {background: #666 url(main-dark-readon-bg.png) 0 0 repeat-x;border: 1px solid #777;color: #fff;}

/* RokFeature */

#rows-1.rokfeature-mod {height:95px;}
#rows-2.rokfeature-mod {height:190px;}
#rows-3.rokfeature-mod {height:285px;}
#rows-4.rokfeature-mod {height:380px;}
#rows-5.rokfeature-mod {height:475px;}
#rows-6.rokfeature-mod {height:570px;}
.rokfeature-mod {width: 100%;position: relative; overflow:hidden;}
.rokfeature-image {width: 100%;height: 100%;background: #000 url(spinner.gif) 76% 47% no-repeat;}
.rokfeature-options {height: 100%;position: relative;z-index: 5;}
.rokfeature-option-block {width: 50%;position: relative;overflow: hidden;}
.rokfeature-tab-1, .rokfeature-tab-2, .rokfeature-tab-3, .rokfeature-tab-4, .rokfeature-tab-5, .rokfeature-tab-6 {width: 22px;height: 100%;position: absolute;top: 0;left: 0;cursor: pointer;}
.rokfeature-block-1, .rokfeature-block-2, .rokfeature-block-3, .rokfeature-block-4, .rokfeature-block-5, .rokfeature-block-6 {margin-left: 22px;height: 100%;overflow: hidden;position: relative;}
.rokfeature-block-bg1, .rokfeature-block-bg2, .rokfeature-block-bg3, .rokfeature-block-bg4, .rokfeature-block-bg5, .rokfeature-block-bg6 {height: 100%;width: 100%; position: absolute; left: 0; top: 0; z-index: 1;}
.rokfeature-option-block span {padding: 12px;display: block;z-index: 5;position: relative;}
.rokfeature-option-block span.showthumb {margin-right: 83px;}
img.rokfeature-thumb {float: right;margin: 12px;width: 65px;height: 65px; z-index: 5;position: relative;}
.rokfeature-readon {position: absolute;right: 15px;bottom: 15px;}
.rokfeature-readon a {padding: 3px 5px;text-transform: uppercase;color:#fff;background:#000;}
.rokfeature-title {position: absolute;right:15px;top: 10px;width:270px;text-align:right;}
.rokfeature-title a:hover {text-decoration:none;}
.rokfeature-title span {text-align:right;font-size: 240%;color:#fff;background:#000; width:300px;line-height:135%;}

/* @group Demo Content */

/* Frontpage Modules */

.rokdemo-morenews-outer {width: 435px; float: left; border-right: 1px solid #d4d4d4; }
.rokdemo-morenews-block {float: left; width: 130px; margin-right: 14px; }
.rokdemo-morenews-block2 {float: right; width: 172px; }
.rokdemo-morenews-img1 {width: 122px; height: 80px; border: 4px solid #666; display: block; margin-bottom: 5px; }
.rokdemo-morenews-img2 {width: 170px; height: 80px; border: 4px solid #666; display: block; margin-bottom: 5px; }

/* Custom Modules Tutorial */
.rokmod-demo-block .parameters div {border-right:1px dotted #666;padding-right:12px;}
.rokmod-demo-block .options div {border-right:1px dotted #666; padding-right: 12px;}
.rokmod-demo-block .demo div {border-right:1px dotted #666;padding-right: 12px;}
.rokmod-demo-block .parameters, .rokmod-demo-block .options, .rokmod-demo-block .demo, .rokmod-demo-block .description {float:left;margin-right:12px;}
.rokmod-demo-block .parameters span, .rokmod-demo-block .options span, .rokmod-demo-block .demo span, .rokmod-demo-block .description span {display:block;font-size:11px;line-height:22px;}
.rokmod-demo-block .demo-span1 {font-weight: bold;}

.light img#variation_preview {border: 4px solid #bbb; }
.medium img#variation_preview {border: 4px solid #999; }
.dark img#variation_preview {border: 4px solid #777; }
.promo img#variation_preview {border: 4px solid #555; }
.style1 .color img#variation_preview {border: 4px solid #91140B; }
.style2 .color img#variation_preview {border: 4px solid #339966; }
.style3 .color img#variation_preview {border: 4px solid #117294; }
.style4 .color img#variation_preview {border: 4px solid #91140B; }
.style5 .color img#variation_preview {border: 4px solid #008921; }
.style6 .color img#variation_preview {border: 4px solid #962B3A; }
.style7 .color img#variation_preview {border: 4px solid #91140B; }
.style8 .color img#variation_preview {border: 4px solid #006699; }
.style9 .color img#variation_preview {border: 4px solid #117294; }
.style10 .color img#variation_preview {border: 4px solid #C0258F; }

img#variation_preview {width: 205px !important;}
.variation-chooser {position:relative;margin-top: 5px;height: 25px;line-height: 25px;}
.variation-chooser .controls {height: 25px;}
.variation-chooser .control-prev, .variation-chooser .control-next{cursor:pointer;height:16px;margin-right:3px;width:16px;float: left;margin-top:1px;}
.variation-chooser .control-prev{background-position:0 0;margin-right: 0.5em;}
.variation-chooser .control-prev:hover {background-position: 0 -16px;}
.variation-chooser .control-next{background-position:0 -32px;margin-left: 0.5em;}
.variation-chooser .control-next:hover {background-position: 0 -48px;}
.variation-chooser .controls{position:absolute;left:5px;}
.variation-chooser input.button:hover {color: #333 !important;}

/* @end */