body {background: url(mvp_lpstyle.css);}
.port_land .landsrt {margin-top:0px;}
.landsrt {height:330px;}
#lpmod {position: relative;}
.brand {margin:0;padding:0;}
#myBenefitsLogo {
	margin: 0px;
	height:51px;
	position:relative;
	text-indent:-9999em;
	background:#fff url('sprt_mybenefits.png') no-repeat left 15px;
}

body .port_land .lands .landslt{
	width:600px;
	height:435px;
	float:left;
	margin:15px 0 0;
	border:1px solid #bababa;
	padding:0 !important;
}

.mvplp {
	position: relative;
	display:block;
	width:600px;height:435px !important;
}
.datamask {background:#fff url(bg_landslt-datamask.jpg) repeat-x left bottom;}
.privatewifi {background:#fff url(bg_landslt-wifi.jpg) repeat-x left bottom;}
.myprivacy {background:#fff url(bg_landslt-privacy.jpg) repeat-x left bottom;}
.myreputation {background:#fff url(bg_landslt-myrep.jpg) repeat-x left bottom;}
.onepoint {background:#fff url(bg_landslt-onep.jpg) repeat-x left bottom;}
.livevirus {background:#fff url(bg_landslt-virus.jpg) repeat-x left bottom;}
.mybenefits {background:#fff url(bg_landslt-mybenefits.jpg) repeat-x left bottom;}

.prim_promo {position: relative;display:block;width:600px;height:385px !important;color: #000;margin:0 !important;padding:0 !important;}
h1 {
	position: relative;
	width: 235px;
    font-size: 20px;
    font-weight:bold !important;
    line-height:130%;
    padding: 20px 0 0 0;
    width: 300px;
    text-align:left;
    left:340px;
    color:#ff8600;
    background:url('sprt_mybenefits.png') no-repeat -145px -79px;
}

.prim_promo p {
	position: relative;
	width: 235px;
    font-size: 18px;
    padding: 15px 0 0 0;
    text-align:left;
    left:340px;
    color:#ff8600;
}
.prim_promo ul {position: relative;width: 240px;color: #2d2d2d;margin:20px 0 0;list-style-image:url('bullet-mybenefits.png');left:340px;}
.prim_promo ul a {color:#41b5e1;}
.prim_promo li {position: relative;margin:10px 0 10px 20px;font-size:16px;  }
.prim_promo li.pUlLast {margin-left:0;list-style-type:none;list-style-image:none;}