BODY {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #ffffff
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.nonMSIE {
	PADDING-BOTTOM: 3px; MARGIN: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
TABLE#tblMain {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 48px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.mid {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 385px; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; COLOR: #444444; PADDING-TOP: 0px
}
TABLE.tblConn {
	DIRECTION: ltr
}
TD.tdConnImg {
	WIDTH: 22px
}
TD.tdConn {
	PADDING-TOP: 15px
}
TD#mdLft {
	WIDTH: 15px; BACKGROUND: url(lgnleft.gif) repeat-y
}
TD#mdRt {
	WIDTH: 15px; BACKGROUND: url(lgnright.gif) repeat-y
}
TD#mdMid {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 45px; PADDING-RIGHT: 45px; BACKGROUND: #ffffff; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TD .txtpad {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 6px; PADDING-TOP: 3px
}
BODY.rtl TD#mdMid {
	TEXT-ALIGN: right; DIRECTION: rtl
}
SELECT {
	COLOR: #444444
}
TABLE {
	COLOR: #444444
}
SELECT {
	BORDER-BOTTOM: #a4a4a4 1px solid; BORDER-LEFT: #a4a4a4 1px solid; BACKGROUND-COLOR: #fff3c0; MARGIN: 3px 6px; COLOR: #000000; BORDER-TOP: #a4a4a4 1px solid; BORDER-RIGHT: #a4a4a4 1px solid
}
.txt {
	BORDER-BOTTOM: #a4a4a4 1px solid; BORDER-LEFT: #a4a4a4 1px solid; BACKGROUND-COLOR: #fff3c0; MARGIN: 3px 6px; COLOR: #000000; BORDER-TOP: #a4a4a4 1px solid; BORDER-RIGHT: #a4a4a4 1px solid
}
.txt {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; HEIGHT: 2.2em; PADDING-TOP: 3px
}
INPUT.btn {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #eb9c12; MARGIN: 0px 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #ffffff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
.btnOnFcs {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #eb9c12; MARGIN: 0px 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #ffffff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
.btnOnMseOvr {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f9b133; MARGIN: 0px 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #ffffff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
.btnOnMseDwn {
	BORDER-BOTTOM: #f9b133 0px solid; TEXT-ALIGN: center; BORDER-LEFT: #f9b133 0px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f9b133; MARGIN: 0px 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #000000; BORDER-TOP: #f9b133 0px solid; BORDER-RIGHT: #f9b133 0px solid; PADDING-TOP: 2px
}
.nowrap {
	WHITE-SPACE: nowrap
}
HR {
	HEIGHT: 0px; VISIBILITY: hidden
}
.l {
	TEXT-ALIGN: left
}
.rtl .l {
	TEXT-ALIGN: right
}
.r {
	TEXT-ALIGN: right
}
.rtl .r {
	TEXT-ALIGN: left
}
A {
	COLOR: #ff6c00; TEXT-DECORATION: none
}
.wrng {
	COLOR: #ff6c00
}
.disBsc {
	COLOR: #999999
}
.expl {
	COLOR: #999999
}
.w100 {
	WIDTH: 100%
}
.txt {
	WIDTH: 100%
}
.txt {
	MARGIN: 0px 6px
}
.rdo {
	MARGIN: 0px 12px 0px 32px
}
BODY.rtl .rdo {
	MARGIN: 0px 32px 0px 12px
}
TR.expl TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
TR.wrng TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
TR#trSec TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
TD#tdLng {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 12px
}
TD#tdTz {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
SELECT#selTz {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD#tdOptMsg {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
TD#tdOptChk {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 65px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD#tdOptAcc {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
SELECT#selLng {
	MARGIN: 0px 16px
}
TD#tdMsg {
	MARGIN: 9px 0px 64px
}
INPUT#btnCls {
	MARGIN: 3px 6px
}
DIV#dvErr {
	BORDER-BOTTOM: #b43038 1px solid; BORDER-LEFT: #b43038 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #fcbc9c; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; BORDER-TOP: #b43038 1px solid; BORDER-RIGHT: #b43038 1px solid; PADDING-TOP: 0px
}
DIV#dvErr TABLE {
	COLOR: #000000
}
DIV#dvErr A {
	COLOR: #3f52b8
}
TD.lgnTL {
	WIDTH: 456px
}
TD.lgnBL {
	WIDTH: 456px
}
TD.lgnTM {
	WIDTH: 100%; BACKGROUND: url(lgntopm.gif) repeat-x
}
TD.lgnBM {
	WIDTH: 100%; BACKGROUND: url(lgnbotm.gif) repeat-x
}
TD.lgnTR {
	WIDTH: 45px
}
TD.lgnBR {
	WIDTH: 45px
}
TABLE.tblLgn {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; PADDING-TOP: 0px
}
