/*----------------------------------------------------------------*/
/*---------------------- BEGINING OF LOGIN PANEL -----------------*/
/*----------------------------------------------------------------*/

body
{
    margin: 0;
}

/*----------------------------------------------------------------*/
/*----------------------- END OF LOGIN PANEL ---------------------*/
/*----------------------------------------------------------------*/

div#loginMainContent
{
    width: 100%;
}

div#loginDownloadPanel
{
    width: 50%;
    padding-top: 15%;
    padding-left: 20%;
    text-align: center;
    float: left;
    margin-top: 300px;
}

div.btnDownload
{
    top: 500px;
    background-image: url('downloadButton.png');
    background-repeat: no-repeat;
    width: 223px;
    height: 59px;
    cursor: pointer;
}

#btnDownload
{
    width: 150px;
    height: 70px;
}

.disabled
{
    /*background-color: gray;*/
}