#pageContainer
{
    padding-bottom: 30px;
    margin-top: -30px;
    min-width: 726px;
    min-height: 100%;
}

.vr_7 #footer
{
    z-index: -1;
}

.vr_7 #centerMainContent
{
    z-index: 2;
}

#pageContent
{
    float: left;    
    margin: 0px 0px 30px 0px;
    width: 750px;
}

#pageContent.fullPage {
    width: 970px;

}

.vr_7 #pageContent {
    z-index: 1;
}

body.publicLink #pageContainer
{
    min-width: 970px;
}

body.publicLink #pageContent
{
    width: 1000px;
}

#centerMainContent,#headerCenter,#footerCenter
{
    margin-left: auto;
    margin-right: auto;
    width: 970px;
}

#headerCenter
{
    border-bottom: 1px solid #e5e5e5;
    height: 89px;
}

#footerCenter
{
    border-top: solid 1px #e3e3e3;
    /*background: #f7f7f7;*/
}


#header
{
    width: 100%;
    height: 90px;
    background-color: white;
    position: relative;
}

#headerBackGround
{
    left: 0px;
    position: absolute;
    width: 100%;
}

#headerGrey
{
    background: url('header-gradient.png') repeat-x;
    height: 70px;
    float: right;
    width: 49.99999999%;
}

#headerWhite
{
    background: white;
    height: 70px;
    float: left;
    width: 50%;
}

#headerCenterContent
{
    height: 70px;
    width: 801px;
    float: left;
}

#headerHR
{
    width: 100%;
    height: 4px;
    background: url('header-shadow.png') repeat-x;
}

.clear
{
    clear: both;
}

#headerRight
{
    float: right;
    margin-top: 29px;
    line-height: 15px;
}

#headerRight a, #headerRight span
{
    text-decoration: none;
    font-size: 13px;
    color: #88BC00;
}

#headerRight a:hover
{
    text-decoration: underline;
}

#accountContainer
{
    float: left;
    padding-left: 10px;
    padding-right: 9px;
    border-right: 1px solid #c8cbcc;
}

#breadCrumbButton
{
    width: 720px;
    height: auto;
    z-index: 2;
    margin-top: 16px;
    margin-right: 10px;
    line-height: 16px;
}

.publicLink #breadCrumbButton {
    margin-left: 0px;
    width: 970px;
}

#breadCrumbIcon
{
    background: url('breadcrumb-c.png') no-repeat;
    background-position: 0px 0px;
    width: 20px;
    float: left;
    height: 20px;
    margin-right: 10px;    
}

.vr_7 #breadCrumbIcon {
    position: absolute;
}

#breadCrumbIcon:hover
{
    cursor: pointer;
}

.vr_7 #buttonContainer {
    z-index: 2;
}

#buttonContainer {
    width: 720px;
    height: 38px;
    margin-top: 25px;
    margin-bottom: 11px;
}

#publicLinkBody #buttonContainer {
    width: 100%;
}

#breadCrumb
{
    font-size: 13px;
    width: 690px;
    padding-left: 30px;
    min-height: 20px;
    line-height: 18px; 
}

.vr_7 #breadCrumbButton
{
    height: auto;
    min-height: 20px;
}

#breadCrumb a
{
    color:#666;
    text-decoration: none;
    display: inline-block;
        
    zoom: 1;
	*display:inline;
}

#breadCrumb a:hover, #breadCrumbIcon:hover + #breadCrumb #bcYourCloud
{
    text-decoration: underline;
}

#breadCrumb .arrowEnd
{
    color:#88bc00;
    background: url('breadcrumb-arrow.png') no-repeat;
    padding-right: 10px;
    background-position: 100% 7px;
}

#breadCrumb .element
{
    margin-right: 5px;
    max-width: 400px;
    word-wrap: break-word;
}

.vr_7 #breadCrumb .element
{
    margin-right: 8px;
    word-wrap: normal;
    float: left;
}

a#bcYourCloud
{
    color:#88bc00;
    margin-right: 5px;
}

#breadCrumb .last
{
    cursor: default;
    text-decoration: none;
    color:#666;
}

#breadCrumb a.last:hover
{
    cursor: default;
    text-decoration: none;
}

#inputFileSearch
{
    display: none;
}

#inputFileSearch input
{
    width: 166px;
    margin-left: 25px;
}

#searchMagnifier
{
    position: absolute;
    background: url('search-sprite.png') no-repeat;
    width: 13px;
    height: 13px;
    background-position: 0px 100%;
    margin-top: 2px;
    margin-left: 1px;
}

.focus #searchMagnifier
{
    background-position: 0px 0px;
}


#clearSearch
{
    display: none;
    position: absolute;
    right: 7px;
    top: 13px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url('search-clear.png') no-repeat;
}


#showDeletedFilesButton
{
    margin-right: 0px;
    padding-right: 0px;
    border: none;
}

#createCubbyButton
{
    margin-right: 0px;
    padding-right: 0px;
    border: none;
}

.vr_7 .greenLinkButton
{
    float: right;
}

a.greenLink
{
    color: #88bc00;
    font-weight: bold;
}

a.greenLink:hover
{
    text-decoration: underline;    
}

.greenLinkButton
{
    height: 13px;
    line-height: 13px;
    border-right: 1px solid #c7c7c7;
    cursor: pointer;
    float: inherit;
    color: #88bc00;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
}

.greenLinkButton:hover
{
    text-decoration: underline;    
}

/*
.greenButton
{
    cursor: pointer;
    float: inherit;
}

.greenButton .buttonLeft
{
    float: left;
    width: 10px;
    height: 34px;
    background: url('/Common/Images/frame/button-bg-left.png') no-repeat;
}

.greenButton .buttonRight
{
    float: left;
    width: 10px;
    height: 34px;
    background: url('/Common/Images/frame/button-bg-right.png') no-repeat;
}


.greenButton .buttonCenter
{
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    line-height: 31px;
    float: left;
    height: 34px;
    background: url('/Common/Images/frame/button-bg-center.png') repeat-x;
    text-align: center;
    vertical-align: middle;
}
*/
.normalButton
{
    cursor: pointer;
}

.normalButton .buttonLeft
{
    width: 11px;
    height: 29px;
    background: url('button-normal-left.png') no-repeat;    
    float: left;
}

.iconButton .buttonLeft {
    width: 5px;
}



.normalButton.green .buttonLeft {
    background: url('green-button-normal-left.png') no-repeat;    
}

.normalButton:hover .buttonLeft,.copyDiv:hover .normalButton .buttonLeft,.copyLinkButton:hover .normalButton .buttonLeft
{
     background: url('button-hover-left.png') no-repeat;    
}

.normalButton.green:hover .buttonLeft
{
     background: url('green-button-hover-left.png') no-repeat;    
}

.normalButton .buttonRight
{
    width: 11px;
    height: 29px;
    background: url('button-normal-right.png') no-repeat;    
    float: left;
}

.iconButton .buttonRight, .normalButton.iconButton:hover .buttonRight {
    width: 4px;
    background-position: -7px 0px;
}

.normalButton.green .buttonRight {
     background: url('green-button-normal-right.png') no-repeat;
}

.normalButton:hover .buttonRight,.copyDiv:hover .normalButton  .buttonRight, .copyLinkButton:hover .normalButton  .buttonRight
{
    background: url('button-hover-right.png') no-repeat;
}

.normalButton.green:hover .buttonRight
{
    background: url('green-button-hover-right.png') no-repeat;
}

.normalButton .buttonCenter
{
    height: 29px;
    line-height: 29px;
    color: #88bc00;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    background: url('button-normal-center.png') repeat-x;
    float: left;
    text-align: center;
    vertical-align: middle;    
}

.iconButton .buttonCenter {
    width: 20px;
}

.normalButton.green .buttonCenter {
    background: url('green-button-normal-center.png') repeat-x;
    color: #336600;
}

.normalButton:hover .buttonCenter, .copyDiv:hover .normalButton .buttonCenter, .copyLinkButton:hover .normalButton .buttonCenter
{
    background: url('button-hover-center.png') repeat-x;
    color: #6b9500;
}

.normalButton.green:hover .buttonCenter {
    background: url('green-button-hover-center.png') repeat-x;
    color: #295200;
}


.disabledButton
{
    cursor: default;
}

.disabledButton:hover .buttonCenter
{
    color: #BBBBBB !important;
}

.disabledButton .buttonLeft
{
     background: url('button-inactive-left.png') no-repeat;    
}

.disabledButton .buttonCenter
{
    background: url('button-inactive-center.png') repeat-x;
    color: #BBBBBB !important;
}

.disabledButton .buttonRight
{
     background: url('button-inactive-right.png') no-repeat;    
}

.disabledButton:hover .buttonLeft
{
     background: url('button-inactive-left.png') no-repeat;    
}

.disabledButton:hover .buttonCenter
{
    background: url('button-inactive-center.png') repeat-x;
}

.disabledButton:hover .buttonRight
{
     background: url('button-inactive-right.png') no-repeat;    
}

#footer
{
    height: 39px;
    width: 100%;
    line-height: 39px;
    color: #999;
    font-size: 11px;
    float: left;
    position: absolute;
    bottom: 1px;
}

#footer a 
{
    color: #999;
}

#footer a:hover
{
    text-decoration: none;
}

#copyright
{
    float: left;
}

#poweredby
{
    background: url('logmein.png@2') no-repeat;
    float: right;
    width: 93px;
    height: 17px;
    margin-top: 7px;
}

#centerContent
{
    margin-bottom: 35px;
}

#rightPanel {
    float: right;
    width: 220px;
}

#searchPanel
{
    clear: left;
    margin-top: 59px;
}

#searchPanel .headerCubbyInput {
    margin-left: -2px;
}

#infoPanel
{
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 472px;
    background: url('panel-bg.png@3') no-repeat;
}

#cloud
{
    background: url('cloud.png') no-repeat;
    width: 170px;
    height: 124px;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 13px;
/*    padding-left: 56px;
    padding-top: 54px;*/
}

#cloudHeader
{
    font-weight: bold;
    margin-bottom: 4px;
}

#taskList
{
    margin-left: 40px;
}

.taskItem
{
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
}

.taskNum
{
    background: url('circle-green.png') no-repeat;
    float: left;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
}

.taskText
{
    color: #444444;
    margin-bottom: 6px;
}

.done .taskNum
{
    background: url('circle-gray.png') no-repeat;
}

.completedTask
{
    display: none;
    color: #99cc00;
    background: url('tick.png') 100% 2px no-repeat;
    padding-right: 19px;
    font-weight: bold;
}

.done .itemWrapper
{
    margin-left: 35px;
    line-height: 10px;
}

.itemWrapper
{
    margin-left: 35px;
    line-height: 26px;
    vertical-align: text-top;
}

.done .completedTask
{
    display: inline;
}

#infoBar
{
    float: left;
    bottom: 20px;
    margin-left: 16px;
    font-size: 11px;
    color: #444444;
    cursor: default;
    position: absolute;
}

#infoBar.withTrial {
    bottom: 45px;
}

.fileLegend
{
    float: left;
    padding-left: 15px;
    line-height: 10px;
}

#regularFiles
{
    background: url('regular_dot.png') no-repeat;
    
}

#prevVersion
{
    background: url('prev_dot.png') no-repeat;
    margin-left: 10px;
}

.frameProgressbar
{
    float: left;
    line-height: 30px;
    height: 30px;
}

#progressBarContainer
{
    margin-top: 10px;
    float: left;
    width: 188px;
}

#progressBarFree
{
    background: url('line-bg.png') no-repeat;
    width: 100%;
}

#progressBarPrev
{
    background: url('line-lime.png') no-repeat;
    width: 0px;
}

#progressBarRegular
{
    background: url('line-green.png') no-repeat;
    width: 0px;
}

#freeSpace
{
    float: left;
    width: 180px;
    text-align: center;
    font-size: 11px;
    color: #666666;
    position: absolute;
    margin-top: 18px;
    left: 0;
}

.progressCloudTitle
{
    float: left;
    margin-left: 0px;
    width: 87px;
}

.br_ch .progressCloudTitle
{
    width: 89px;
}

.progressTitle
{
    width: 73px;
    float: left;
}

.progressValue
{
    float: left;
    text-align: right;
    width: 59px;
}

/*Context menu */

.contextMenu
{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #aaaaaa;
	padding:10px;
	margin:0;
	line-height: 18px;
    display: none;
    position: absolute;
    z-index: 11;
}
			
.contextMenu li
{
	list-style: none outside none;
	margin: 0;
	padding: 0;

}

.contextMenu li.disabled
{
    color: #999;
    font-style: italic;
    cursor: default;
}
			
.contextMenu a
{
    font-size: 13px;
	padding-left:5px;
	text-decoration:none;
	color: #666;
	display: block;
	height: 20px;
	white-space: nowrap;
}
			
.contextMenu a:hover
{
	text-decoration:underline;
}
			
li.separator
{
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px solid #d1d1d1;
}

/*******************************************************/
/*** BEGINING of file versions control style section ***/
/*******************************************************/

div.fileVersions
{
    margin: 8px 14px 12px 8px;
	width: 585px;
}

div.emptyFileVersions
{
    width: 212px;
}

div#fvHeader1, div#fvEmptyHeader
{
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vr_7 div#fvHeader1
{
	width: 585px;
}

.vr_7 div#fvEmptyHeader {
    width: 212px;
}

div#fvEmptyHeader
{
    font-weight: normal;
    padding-bottom: 0px;
}

div#fvHeader2
{
    height: 11px;
    line-height: 11px;
    padding-bottom: 10px;
    color: #999999;
    border-bottom: 1px solid #DEDEDE;    
}

div.fvHeaderItem
{
    text-align: left;
    font-size: 11px;
    float: left;
}

div.fvDataRow
{
	width: 585px;
    height: 30px;
    line-height: 30px;
    color: #999999;
}

div.fvDataRow:hover 
{
    background-color: #F1F6E5;
}

div.fvCurrent
{
    font-weight: bold;
    color: #666666;
}

div.fvDataCell
{
    text-align: left;
    height: 30px;
    float: left;
}

div.fvSelect
{
    float: left;
    height: 12px;
    width: 40px;
}

div.fvRadio
{
    position: absolute;
    top: 9px;
    left: 20px;
}

div.fvChangedAt
{
    /*width: 208px;*/
	width: 155px;
}

div.fvSize
{
    /*width: 150px;*/
	width: 85px;
}

div.fvChangedBy
{
	width: 205px;
    padding-right: 5px;
    /*width: 125px;*/
    overflow: hidden;
    text-overflow: ellipsis;    
    white-space: nowrap;
}

div.fvCurrentView
{
    /*width: 90px;*/
	width: 60px;
    color: #999999;
    font-weight: normal;
    display: inline;
}

div.fvView
{
    /*width: 90px;*/
	width: 60px;
    color: #88bc00;
    font-weight: bold;
    cursor: pointer;
    display: none;
    text-decoration: underline    
}

div.fvDataRow:hover div.fvCurrentView
{
    display: none;
}

div.fvDataRow:hover div.fvView
{
    display: inline;
}

div#fvBtnContainer, div#fvEmptyBtnContainer
{
    width: 140px;
    height: 29px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

div#fvBtnContainer.oneButton {
	width: 55px;
}

div#fvBtnContainer > div {
    float: left;
}

div#fvEmptyBtnContainer
{
    width: 63px;
}

div#btnFvRestore {
    width: 68px;
}

div#btnFvCancel {
    width: 57px;
}

.vr_9 div#btnFvRestore,.vr_10 div#btnFvRestore {
    width: 67px;
}

.vr_9 div#btnFvCancel, .vr_10 div#btnFvCancel {
    width: 56px;
}

.os_mac.br_ff div#btnFvCancel {
   width: 56px;
}

.emptyFileVersions div#btnFvCancel {
    width: 65px;
}

.os_mac.br_ff .emptyFileVersions div#btnFvCancel {
    width: 65px;
}

div#fileVersionNotifaction {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
    margin-top: 15px;
}

div#fileVersionNotifaction > div > div {
    float: left;
}

div#fileVersionNotifaction > div {
    margin-left: auto;
    margin-right: auto;
    display: none;
}

div#restoreOk {
    width: 110px;
}

div#restoreFail {
    width: 190px;
    color: #CD3333;
}


div#restoreInProgress {
    width: 170px;
}

div#restoreInProgress .icon {
    background-image: url('spinner.gif');
    background-repeat: no-repeat;
     background-position: 0px 2px;
    width: 20px;
    height: 22px;
}

div#restoreOk .icon {
    background-image: url('versions-tick.png');
    background-repeat: no-repeat;
    background-position: 0px 3px;
    width: 12px;
    height: 14px;
}

div#restoreFail .icon {
    background-image: url('versions-error.png');
    background-repeat: no-repeat;
    background-position: 0px 4px;
    width: 12px;
    height: 15px;
}

/*******************************************************/
/****** END of file versions control style section *****/
/*******************************************************/

/************* BEGIN: Login panel ******************/

table.loginPanelSize, .loginPanelSize
{
    height: 117px;
    width: 308px;
}

.vr_7 table.loginPanelSize, .vr_7 .loginPanelSize
{
    width: 291px;
}

table.loginPanelSize
{
    z-index: 100;
}

div#loginPanel
{
    width: 268px;
    padding: 5px;
    padding-top: 2px;
    margin-left: 8px;
}

.vr_7 div#loginPanel
{
    margin-left: 11px;
}

.vr_7 div#loginPanel
{
    width: 251px;
}

#loginButton
{
    float: left;
    margin-right: 10px;
}

#loginCancelButton
{
    float: left;
}

div#loginInputContainer
{
    margin-top: 31px;
    position: absolute;
}

div#loginButtonContainer
{
    bottom: 12px;
    position: absolute;
    margin-left: 68px;
}

.vr_7 div#loginButtonContainer
{
    margin-left: 58px;
}

#passwordInput
{
    margin-left: 10px;
}

.vr_7 #passwordInput
{
    margin-left: 0px;
}

#loginHeader
{
    margin: auto;
    font-weight: bold;
    text-align: center;
}

div#loginDataLoading
{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url('spinner.gif');
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -25px;
    margin-top: 5px;
    position: absolute;
    display: none;
}

/************* END: Login panel ******************/

/************* BEGIN: Prompt panel ******************/

table.acceptNoThanks, .acceptNoThanks
{
    width: 408px;
}

table.acceptNoThanks.teamPopup, .acceptNoThanks.teamPopup {
    width: 488px;
}

table.acceptNoThanks
{
    z-index: 100;
}

div#promptPanel.acceptNoThanks
{
    width: 368px;
    padding: 5px;
    margin-left: 8px;
}

div#promptPanel.acceptNoThanks.teamPopup {
    width: 448px;
}

.acceptNoThanks#promptHeader
{
    width: 268px;
}

.acceptNoThanks.teamPopup #promptComment {
    text-align: left;
}

/************* BEGIN: Prompt panel HS turn on warning ******************/

table.turnHsWarning, .turnHsWarning
{
    width: 408px;
}

table.turnHsWarning
{
    z-index: 100;
}

div#promptPanel.turnHsWarning
{
    width: 368px;
    padding: 5px;
    margin-left: 8px;
}

.turnHsWarning#promptHeader
{
    width: 268px;
}

.turnHsWarning div#promptButtonContainer
{
    margin-left: 103px;
}

.turnHsWarning #promptHeader, .acceptNoThanks #promptComment
{
    width: 368px;
    word-wrap: break-word;
}

/********* START continue, cancel *****/

table.continueCancel, .continueCancel
{
    width: 408px;
}

table.continueCancel
{
    z-index: 100;
}

div#promptPanel.continueCancel
{
    width: 368px;
    padding: 5px;
    margin-left: 8px;
}

.continueCancel#promptHeader
{
    width: 268px;
}

.continueCancel .normalButton .buttonCenter
{
    width: 60px;
}

div#promptPanel.continueCancel div#promptButtonContainer 
{
    margin-left: 95px;
}

table.goProCancel, .goProCancel
{
    width: 218px;
}

table.goProCancel
{
    z-index: 100;
}

div#promptPanel.goProCancel
{
    width: 178px;
    padding: 5px;
    margin-left: 8px;
}

.goProCancel #promptHeader
{
    width: 160px;
}

.goProCancel #promptComment
{
    width: 170px;
}

div#promptPanel.goProCancel div#promptButtonContainer 
{
    margin-left: 14px;
}


/********* END contiue, cancel **********/

table.longPromptPanelSize, .longPromptPanelSize
{
     width: 425px;
}

.longPromptPanelSize div#promptPanel, .longPromptPanelSize #promptHeader, .longPromptPanelSize #promptComment
{
     width: 368px;
}

.longPromptPanelSize div#promptPanel
 {
    margin-left: 0px;
}

table.longPromptPanelSize
{
    z-index: 100;
}

.smallPromptOneButton #promptNo .buttonCenter {
    width: 40px;
}

.smallPromptOneButton #promptButtonContainer {
    margin-left: 100px;
}

.smallPromptOneButton #promptPanel {
    margin-right: 10px;
}

.leftAlign #promptPanel #promptComment 
{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

table.promptPanelSize, .promptPanelSize
{
    width: 308px;
}

table.promptPanelSize
{
    z-index: 100;
}

div#promptPanel
{
    width: 268px;
    padding: 5px;
    margin-left: 8px;
}

#promptYes
{
    float: left;
    margin-right: 10px;
}

#promptNo
{
    float: left;
}

div#promptButtonContainer
{
    height: 36px;
    margin-left: 86px;
    margin-top: 17px;
}

.longPromptPanelSize.oneButtonPrompt div#promptButtonContainer
{
    margin-left: 166px;
}

.acceptNoThanks div#promptButtonContainer
{
    margin-left: 103px;
}

.acceptNoThanks.teamPopup div#promptButtonContainer
{
    margin-left: 145px;
}

.getMoreSpacePanel div#promptButtonContainer {
    margin-left: 100px;
}

.acceptNoThanks #promptHeader, .acceptNoThanks 
{
    width: 368px;
}

.acceptNoThanks.teamPopup #promptComment {
    width: 448px;
}

.removeCancel #promptButtonContainer
{
    margin-left: 110px !important;
}

.removeCancel2 #promptButtonContainer
{
    margin-left: 56px;    
}

#promptHeader
{
    width: 268px;
    overflow: hidden;
    margin: auto;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}



#promptComment
{
    width: 268px;
    overflow: hidden;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 4px;
    text-align: center;
    word-wrap: break-word;
}

/************* END: Prompt panel ******************/

/*******************************************************/
/********** START of popup panel design       **********/
/*******************************************************/

.contentWrapper
{
	padding-left: 30px;
	padding-right: 30px;
}

.popupCloseWrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    margin-top: 1px;
    margin-bottom: 9px;
    height: 30px;
}

#closePopUpButton
{
    width: 56px;
}

/*******************************************************/
/********** END of popup panel design         **********/
/*******************************************************/

/*******************************************************/
/********** Start of tooltip panel design     **********/
/*******************************************************/

.toolTip
{
    display: none;
    width: 207px;
    height: 136px;
    float: left;
    position: absolute;
    margin-top: -126px;
    margin-left: -6px;
}

.toolTip .content > div
{
    height: 20px;
}

.toolTip .content > div:first-child
{
    height: 15px;
}

#infoBar:hover .toolTip
{
    display: block;
}

.vr_7 .toolTip
{
    margin-left: -186px;
}

.toolTip .left
{
    background : url('tooltip-left.png') no-repeat;
    width: 15px;
    height: 136px;
    float: left;
}

.toolTip .right
{
    background : url('tooltip-right.png') no-repeat;
    width: 20px;
    height: 136px;
    float: left;
}

.toolTip .center
{
    float: left;
    width: 169px;
}


.toolTip .center .content
{
    color: #666;
    background: white;
    float: left;
    width: 160px;
    padding-left: 12px;
    height: 72px;
    line-height: 20px;
    text-align: left;
}

.toolTip .yourCloud
{
    display: block;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.toolTip .files
{
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding-left: 14px;
    background : url('1.png') no-repeat;
    background-position: 0px 5px;
}

.toolTip .oldFileVersion
{
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding-left: 14px;
    background : url('2.png') no-repeat;
    background-position: 0px 5px;
}

.toolTip .free
{
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding-left: 14px;
    background : url('3.png') no-repeat;
    background-position: 0px 5px;
}

.toolTip .center .bottom
{
    width: 169px;
    height: 39px;
    float: left;
}

.toolTip .center .bottom > div
{
    height: 39px;
    float: left;
}


.toolTip .center .bottom .bottomSide
{
    width: 70px;
    background : url('tooltip-bottom-bg.png') repeat-x;
    background-position: 0px -1px;
}

.toolTip .center .bottom .bottomCenter
{
    width: 29px;
    background : url('tooltip-bottom-arrow.png') no-repeat;
    background-position: 0px -1px;
}

.toolTip .center .top
{
    background : url('tooltip-top.png') repeat-x;
    height: 25px;
}


/*******************************************************/
/********** End of tooltip panel design     **********/
/*******************************************************/


/*******************************************************/
/********** Missing Public Link BEGIN         **********/
/*******************************************************/
#publicLinkMissing
{
    margin-top: 25px;
    font-size: 13px;
    color: #666;
	font-family: helvetica, arial, sans-serif;
}

#publicLinkMissingSorry
{
    font-size: 24px;
    font-weight: bold;
}

#publicLinkMissingText
{
    margin-top: 5px;
}

/*******************************************************/
/********** Missing Public Link END           **********/
/*******************************************************/

.cubbyInput.transparent div {
    background: none;
}


::selection
{
    background:#aad722;
    color: white;
}

::-moz-selection
{
    background:#aad722;
    color: white;
}

/*** Input control  ***/
.cubbyInput
{
    float: inherit;
    height: 32px;
}


.cubbyInput.focus .cubbyInputLeft, .cubbyInput.focus .cubbyInputCenter
{
    background-position: 0px -32px;
}

.cubbyInput.focus .cubbyInputRight
{
    background-position: 100% -32px;
}

.cubbyInput.error .cubbyInputLeft, .cubbyInput.error .cubbyInputCenter
{
    background-position: 0px -64px;
}

.cubbyInput.error .cubbyInputRight
{
    background-position: 100% -64px;
}


.cubbyInput.disabled .cubbyInputLeft, .cubbyInput.disabled .cubbyInputCenter
{
    background-position: 0px -490px !important;
}

.cubbyInput.disabled .cubbyInputRight
{
    background-position: 100% -490px !important;
}

.cubbyInput.focus.disabled input, .cubbyInput.disabled input
{
    color: #999 !important;
}

.cubbyInput .cubbyInputLeft
{
    float: left;
    width: 8px;
    height: 32px;
    background: url('input-sprite-sides.png') no-repeat;
}

.cubbyInput .cubbyInputRight
{
    float: left;
    width: 8px;
    height: 32px;
    background: url('input-sprite-sides.png') no-repeat;
    background-position: 100% 0;
}


.cubbyInput .cubbyInputCenter
{
    float: left;
    width: 224px;
    height: 24px;
    line-height: 32px;
    background: url('input-sprite-horizontal.png') repeat-x;
    padding-top: 8px;
}

.vr_7 .cubbyInput .cubbyInputCenter
{
    padding-top: 7px;
    height: 25px;
}

.vr_9 .cubbyInput .cubbyInputCenter ,.vr_10 .cubbyInput .cubbyInputCenter
{
    padding-top: 8px;
    height: 24px;
}

.cubbyInput .cubbyInputCenter input
{
    width: inherit;
    border: none;
    margin: 0;
    padding: 0;
    color: #999;
    outline: 0;
    background-color: transparent;
}

textarea.cubbyInput
{
    padding: 3px;
    color: #999;
    outline: 0;
}

textarea.cubbyInput:focus, .cubbyInput.focus .cubbyInputCenter input
{
    color: #666;
}

textarea.cubbyInput:focus 
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    -webkit-box-shadow: 0px 0px 1px 1px rgba(118, 169, 0, 0.75);
    -moz-box-shadow:    0px 0px 1px 1px rgba(118, 169, 0, 0.75);
    box-shadow:         0px 0px 1px 1px rgba(118, 169, 0, 0.75);

    border-color: #76a900;
    border-width: 1px;
}

.cubbyInput.h50
{
    height: 50px;
    font-size: 13px;
    width: 215px;
}


/** Height: 24px **/

.cubbyInput.h24
{
    height: 28px;
}

.cubbyInput.h24 .cubbyInputLeft, .cubbyInput.h24 .cubbyInputCenter
{
    background-position: 0px -96px;
    height: 28px;
}

.cubbyInput.h24 .cubbyInputRight
{
    background-position: 100% -96px;
    height: 28px;
}


.cubbyInput.h24.focus .cubbyInputLeft, .cubbyInput.h24.focus .cubbyInputCenter
{
    background-position: 0px -124px;
}

.cubbyInput.h24.focus .cubbyInputRight
{
    background-position: 100% -124px;
}

.cubbyInput.h24.error .cubbyInputLeft, .cubbyInput.h24.error .cubbyInputCenter
{
    background-position: 0px -152px;
}

.cubbyInput.h24.error .cubbyInputRight
{
    background-position: 100% -152px;
}

.cubbyInput.h24 .cubbyInputCenter
{
    height: 22px;
    padding-top: 6px;
}

.vr_7 .cubbyInput.h24 .cubbyInputCenter
{
    height: 23px;
    padding-top: 5px;
}

.vr_9 .cubbyInput.h24 .cubbyInputCenter, .vr_10 .cubbyInput.h24 .cubbyInputCenter
{
    height: 22px;
    padding-top: 6px;
}


.cubbyInput.publicLinkUrlText .cubbyInputCenter
{
    height: 23px;
    padding-top: 9px;
}

.vr_7 .cubbyInput.publicLinkUrlText .cubbyInputCenter
{
    height: 24px;
    padding-top: 8px;
}

.vr_9 .cubbyInput.publicLinkUrlText .cubbyInputCenter, .vr_10 .cubbyInput.publicLinkUrlText .cubbyInputCenter
{
    height: 23px;
    padding-top: 9px;
}

.cubbyInput.publicLinkUrlText.h24 .cubbyInputCenter
{
    height: 21px;
    padding-top: 7px;
}

.vr_7 .cubbyInput.publicLinkUrlText.h24 .cubbyInputCenter
{
    height: 22px;
    padding-top: 6px;
}

.vr_9 .cubbyInput.publicLinkUrlText.h24 .cubbyInputCenter
{
    height: 20px;
    padding-top: 8px;
}


/** Beta panel **/

#betaInviteContainer
{
    margin-left: 11px;
    margin-right: 11px;
    /*border-bottom:  1px solid #E5E5E5;*/
    border: 0;
    /*height: 297px;*/
}

#inviteSuccess, #inviteError
{
    margin-right: 45px;
    margin-top: 15px;
    display: none;
    float: right;
}

#betaInviteContainer #addInviteBetaButton
{
    margin-left: 2px;
    margin-top: 8px;
    height: 32px;
    width: 53px;
    float: left;
}

#betaInviteContainer #invitationSlots
{
    padding-left: 10px;
    margin-top: 16px;
    padding-right: 10px;
    color: #666;
    font-size: 13px;
    padding-bottom: 17px;
}

.os_mac #betaInviteContainer #invitationSlots 
{
    padding-right: 8px;
}

#betaInviteContainer #invitationSlots #number
{
    font-weight: bold;
}

#betaInviteContainer #inviteControls
{
    margin-top: 18px;
    margin-left: 8px;
    margin-bottom: 15px;
    height: 98px;
}

#betaInviteContainer #inviteReferral
{
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 17px;
    height: 107px;
    border-bottom:  1px solid #E5E5E5;
    font-size: 13px;
    color: #999 !important;
    width: 182px;
}

#inviteReferral .flashCopy
{
    margin-top: 8px;
    margin-left: 2px;
    width:53px;
    height: 32px;
    z-index: 2;
    position: absolute;
}

#inviteReferral .copyButton
{
    margin-left: 2px;
    margin-top: 8px;
    width:53px;
    height: 32px;
    z-index: 1;
    position: absolute;    
}

#inviteReferral .copyDiv
{
    width:53px;
    height: 32px;
    position: relative;
    float: left;
}

#betaInviteContainer .uselink
{
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 8px;        
    font-size: 13px;
    color: #999 !important;
}

#betaBonusImgWrapper
{
    width: 192px;
    border-bottom:  1px solid #E5E5E5;
    padding-left: 6px;
}

#betaBonusImg
{
    background: url('cubby-referral-sprite.png') no-repeat;
    background-position: -345px 0px;
    height: 130px;
    width: 184px;
    margin-top: 39px;
    padding-bottom: 28px;
}

#betaInviteContainer #invitationSlots.nomore
{
    background: url('nomore-invitation.png') no-repeat;
    padding-top: 32px;
}

#pnlAskMore
{
    color: #88BC00;
}


#pnlAskMore:hover
{
    cursor: pointer;
    text-decoration: underline;
}

div#checkYourInvitationWrapper
{
     border-bottom: 1px solid #E5E5E5;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

a.checkYourInvitations
{
    color: #88BC00;
    margin-left: 10px;
}

a.checkYourInvitations:hover
{
    text-decoration: underline;
}

.welcomeCenterText
{
    font-weight: bold;
    margin-bottom: 3px;
}

ul.limeDot
{
    padding-left: 16px;
    line-height: 21px;
    margin-left: -3px;
}

ul.limeDot li
{
    list-style: url('bulletpoint.png') circle
}


.limeButton
{
    cursor: pointer;
    float: inherit;
    height: 50px;
}

.limeButton .buttonLeft
{
    float: left;
    width: 10px;
    height: 50px;
    background: url('button-green-normal-left.png') no-repeat;
}

.limeButton .buttonRight
{
    float: left;
    width: 10px;
    height: 50px;
    background: url('button-green-normal-right.png') no-repeat;
}


.limeButton .buttonCenter
{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    line-height: 50px;
    float: left;
    height: 50px;
    background: url('button-green-normal-center.png') repeat-x;
    text-align: center;
    vertical-align: middle;
}


.limeButton:hover .buttonLeft
{
    background: url('button-green-hover-left.png') no-repeat;
}

.limeButton:hover .buttonRight
{
    background: url('button-green-hover-right.png') no-repeat;
}


.limeButton:hover .buttonCenter
{
    background: url('button-green-hover-center.png') repeat-x;
}

/* Big grey button */

.bigGreyButton
{
    cursor: pointer;
    float: inherit;
    height: 50px;
}

.bigGreyButton .buttonLeft
{
    float: left;
    width: 10px;
    height: 50px;
    background: url('button-grey-normal-left.png') no-repeat;
}

.bigGreyButton .buttonRight
{
    float: left;
    width: 10px;
    height: 50px;
    background: url('button-grey-normal-right.png') no-repeat;
}


.bigGreyButton .buttonCenter
{
    color: #88bc00;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    line-height: 50px;
    float: left;
    height: 50px;
    background: url('button-grey-normal-center.png') repeat-x;
    text-align: center;
    vertical-align: middle;
}


.bigGreyButton:hover .buttonLeft
{
    background: url('button-grey-hover-left.png') no-repeat;
}

.bigGreyButton:hover .buttonRight
{
    background: url('button-grey-hover-right.png') no-repeat;
}


.bigGreyButton:hover .buttonCenter
{
    background: url('button-grey-hover-center.png') repeat-x;
}

.downloadCubbyButtonWrapper
{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 250px;
}

#downloadCubbyWrapperShare.noInstall .downloadCubbyButtonWrapper
{
    width: 130px;/*78px;*/
}


.buyCubbyProButon .buttonCenter {
    width: 256px;
}

#buyProNoThanksButton {
   color: #88BC00;
    text-decoration: none;
}

#buyProNoThanksButton:hover {
    text-decoration: underline;
}

.spashDownloadCubbyButton, .spashNotNowButton
{
    float: left;
}

.spashNotNowButton
{
    margin-top: 1px;
}

.spashDownloadCubbyButton
{
    margin-top: 1px;
    margin-right: 8px;    
}

.spashDownloadCubbyButton .buttonCenter, .spashNotNowButton .buttonCenter
{
    width: 91px;
}

#downloadCubbyWrapper, #downloadCubbyWrapperShare
{
    display: none;
    padding-left: 28px;
    padding-right: 15px;
    padding-top: 24px;
}

#downloadCubbyWrapper
{
    height: 215px;
    width: 410px;
}

.os_mac #downloadCubbyWrapper 
{
    width: 411px;
}

#downloadCubbyWrapperShare
{
    width: 510px;
    height: 449px;
}

#downloadCubbyWrapperShare.noInstall
{
    height: 388px;
}

.vr_7 #downloadCubbyWrapper,.vr_8 #downloadCubbyWrapper
{
    height: 320px;
    width: 411px;
}

h2.downloadCubbyHeader {
    font-weight: normal;
}

.downloadCubbyHeader
{
    font-size: 20px;
    font-weight: bold;
    margin-left: -1px;
    margin-bottom: 10px;
}

.downloadCubbyText
{
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 18px;
}

#downloadCubbyWrapper ul
{
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 30px;
}

.downloadCubbyModal
{
    height: 368px;
}

#dontaskMe, #showmenexttime
{
    padding-left: 20px;
    width: 260px;
    outline: 0;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}

#showmenexttime
{
    margin-top: 17px;
    font-weight: bold;
    width: 128px;
}

#promptCheckBox
{
    padding-left: 20px;
    width: 120px;
    outline: 0;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
}

.legalHeader, .legalContent 
{
    padding-left: 10px;
     width: 600px;
}

.legalHeader
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;
}

.downloadCubbyModal.wide, .inviteFriendModal.wide
{
    position: absolute;
}

#pageContent #faqWrapper
{
    margin-top: 20px;
    padding-left: 10px;
}

#pageContent #faqWrapper a[href]
{
    font-weight: bold;
    color: #a3c619;
    text-decoration: none;
}

#pageContent #faqWrapper a[href]:visited
{
    font-weight: bold;
    color: #a3c619;
}

#pageContent #faqWrapper a[href]:hover
{
    text-decoration: underline;
}

#faqContainer 
{
    float: left;
    padding-left: 10px;
    padding-right: 9px;
    border-right: 1px solid #C8CBCC;
}

.backToFilesMargin18 
{
    margin-top: 18px;
}

.backToFilesMargin20 
{
    margin-top: 20px;
}


/*******************************************************/
/******** BEGINING of devices page style section *******/
/*******************************************************/

div.tabContainer
{
    height: 35px;
    margin-top: 20px;
    border-bottom: 1px solid #d2d2d2;
    background-color: #FFFFFF;
}

div.tab
{
    float: left;
}

div.firstTab
{
    padding-left: 10px;
}

div.activeTabLeft
{
    width: 20px;
    height: 36px;
    margin-bottom: -1px;
    background: url('tab-left.png') no-repeat 0 0;
}

div.activeTabMiddle
{
    height: 35px;
    line-height: 35px;
    margin-bottom: -1px;
    border-top: 1px solid #d2d2d2;
    background-color: #FFFFFF;
   color: #666666;
}

div.activeTabRight
{
    width: 20px;
    height: 36px;        
    margin-bottom: -1px;  
    background: url('tab-right.png') no-repeat 0 0;
}

div.inactiveTabLeft
{
    width: 20px;
    height: 35px;
}

div.inactiveTabMiddle
{
    height: 35px;
    line-height: 35px;
    color: #88BC00;
}

div.inactiveTabRight
{
    width: 20px;
    height: 35px;
}

div.lastTab
{
    float: right;
    line-height: 32px;
}

/*******************************************************/
/********** END of devices page style section **********/
/*******************************************************/



/* Team splash */

.teamPopupContent {
    padding-top: 36px;
    padding-left: 34px;
    padding-right: 41px;
    padding-bottom: 29px;
}

.teamPopupContent .closeTourIntro {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.teamPopupContent .tourPopupHeader {
    font-size:20px;
    padding-bottom: 1px;
    font-weight: normal;
}

.teamPopupContent .tourPopupText {
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 12px;
}

.teamPopupContent .tourPopupText p {
    margin-top: 22px;
    margin-bottom: 22px;
}

.teamPopupContent #showmenexttime {
    margin-top: 26px;
}

.teamPopupContent.noButton #showmenexttime {
    margin-top: 0px;
}

.teamPopupContent.noButton #btnLearnMore {
    display: none;
}

#hsToggleButtonContainer .topInfoBar {
    margin-top: 4px;
    margin-bottom: 13px;
}

#topRowMaintenance .topInfoBar {
    width: 968px;    
}

#topRowMaintenance .topInfoBar p {
    font-size: 12px;
}

.hsPopupContent2 .topInfoBar {
    margin-top: 0px;
    margin-bottom: 20px;
}

.hsPopupContent2 .topInfoBar p {
    padding-right: 20px;
}

.sharedWithWrapper .topInfoBar {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 294px;
}

.syncsOnWrapper .topInfoBar {
    margin-top: 0px;
    margin-bottom: 20px;
}

.popUpPanel .topInfoBar .topInfoBarText p {
    font-size: 11px;
}

.popUpPanel .topInfoBar .topInfoBarText h4 {
    font-size: 12px;
}

.topInfoBar {
    border: 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 4px;
    line-height: 13px;
    box-sizing: border-box;
}

.topInfoBar > div {
    float: left;
}

.topInfoBar.green {
    background-color: #E8F5BF;
    border-color: #9DCD0C;
    color: #336633;
}

.topInfoBar.green a {
    color: #336633;
}

.topInfoBar.green a {
    text-decoration: underline;
}

.topInfoBar .topInfoBarLeft {
    width: 76px;
    height: 115px;
    border-right: 1px solid;
}

.topInfoBar.green .topInfoBarLeft {
    border-color: #9DCD0C;
}

.topInfoBar.migration .topInfoBarLeft {
    border-right: none;
}

.topInfoBar .topInfoBarText {
    padding-left: 20px;
    padding-bottom: 14px;
}

.topInfoBar.migration .topInfoBarText {
    border-left: 1px solid #9DCD0C;
    min-height: 101px;
    width: 850px;
}

.topInfoBar .topInfoBarText h4 {
    margin-top: 13px;
    margin-bottom: 3px;
}
.topInfoBar.trialExpiresIn .topInfoBarText h4 {
    margin-top: 15px;
    font-weight: normal;
}

.topInfoBar .topInfoBarText p {
    margin: 0px; 
    font-size: 11px;
    line-height: 18px;
}
.topInfoBar .topInfoBarText p.lastline 
{
    margin-bottom: 10px;
}


.topInfoBar .topInfoBarIcon {
    background: url('maintenance-sprite.png') no-repeat;
    width: 26px;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}

.topInfoBar .topInfoClose {
    background: url('maintenance-sprite.png') no-repeat;
    background-position: -26px 0px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.topInfoBar.migration ul {
    margin: 0;
    padding-left: 15px;
}

.migrationConfirmWrapper a {
    font-size: 13px !important;
}

#trialWrapper a {
    color: #88BC00;
    float: left;
}

#trialWrapper a:hover {
    text-decoration: underline;
}

#trialWrapper {
    margin-left: 16px;
    position: absolute;
    bottom: 20px;
    width: 188px;
    font-size: 12px;
}

span.trialLeft {
    float: right;
}


#cubbyToolTip {
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
}

#topInfoRow, #equotesTable {
    width: 968px;
}

.iconButton {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.iconButton .icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

#twitterbutton {
    margin-right: 2px;
}

#facebookbutton .buttonCenter .icon {
    background: url('public-link-fb.png') no-repeat;
    background-position: -1px 3px;
}

#twitterbutton .buttonCenter .icon {
    background: url('public-link-twitter.png') no-repeat;
    background-position: -1px 2px;
}

#linkedinbutton .buttonCenter .icon {
    background: url('public-link-linkedin.png') no-repeat;
    background-position: -1px 2px;
}

#buyNowTopTrialInfo, #buyNowTopTrialExpInfo, #buyNowTopTrialInfoToday {
    position: absolute;
    top: 15px;
    left: 266px;
    width: 50px;
}

#buyNowTopTrialExpInfo {
    left: 196px;
}

#buyNowTopTrialInfoToday {
    left: 206px;
}

#trialExpireWarningLink {
   color: #88BC00;
    text-decoration: none;
}

#trialExpireWarningLink:hover {
    text-decoration: underline;
}

.modalHeader {
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 19px;
    margin-bottom: 18px;
    line-height: 13px;
    color: #666666;
}

.modalHeader.noBorder 
{
    border-bottom: none;
    padding-bottom: 0px;
}

.confirmHostDeleteWrapper, .checkHostDeleteWrapper {
    padding: 10px 14px 9px 8px;
}


.confirmHostDeleteSize {
    width: 400px;
}

.confirmHostDeleteSizeTeam {
    width: 439px;
}

.deleteHostText {
    margin-bottom: 17px;
}

#wipeDeviceCheckbox, .deleteDeviceCheckbox {
    margin-bottom: 17px;
    font-weight: bold;
    width: 300px;
    padding-left: 25px;
}

.deleteHostButtonWrapper {
    margin-left: 61px;
    height: 29px;
}

.deleteHostButtonWrapper.fullsize {
    margin-left: 0px;
    height: 29px;
}

.withWipe .deleteHostButtonWrapper {
    margin-left: 10px;
}

.deleteHostButtonWrapper > div:first-child, .right15Marg {
    margin-right: 15px;
}

.normalButton {
    height: 29px;
}

.normalButton.warning .buttonCenter, a.warning, a.warning:active, a.warning:visited {
    color: #ff8e00;
}

.normalButton.warning:hover .buttonCenter, a.warning:hover {
    color: #ea8200;
}

.footerLink {
    margin-top: 17px;
}

.footerLink a, .footerLink a:visited
{
    font-size: 11px;
    font-weight: bold;
    color: #88bc00;
}

.checkHostDeleteWrapper .deleteHostButtonWrapper {
    margin-left: 44px;
}

div.imgDevice
{
    width: 24px;
    height: 24px;
    top: 9px;
    background: url('devices-computer.png') no-repeat 0 0;
    float: left;
}


.wipe div.imgDevice {
    background: url('devices-computer-wipe.png') no-repeat 0 0;
}

div.imgDevice.device_9, div.imgDevice.device_10
{
    background: url('devices-phone.png') no-repeat 0 0;
}

div.imgDevice.device_11, div.imgDevice.device_12
{
    background: url('devices-tablet.png') no-repeat 0 0;
}

#enterpriseIsHere .topInfoBar .topInfoBarText {
    padding-top: 14px;
}

#closeEnterpriseWarningButton {
    width: 38px;
    margin: 0px auto;
}

.promptLearnMore a {
	font-size: 11px;
	color: #88bc00;
	font-weight: bold;
	text-decoration: underline;
}

.empty-content .access-denied {
    height: auto;
}

.access-denied {
    height: 600px;
    
    /* IE hack */
    *margin-top: 150px;
}

.access-denied .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.access-denied .middle {
    display: table-cell;
    vertical-align: middle;
}

.access-denied .inner {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.access-denied .inner h1, .access-denied .inner h2 {
    margin: 0px;
    color: #666666;
}

.access-denied .inner h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.access-denied .inner h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
}

.not-visible {
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}


.enterpriseFader
{
    background-color: #333333;
    -moz-opacity: 0.95;
    filter: alpha(opacity: 95);
    opacity: 0.95;
}

.enterpriseFader, .enterpriseTrialEndWrapper {
     z-index: 80;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.enterpriseTrialEndWrapper {
    color: #ffffff;
    text-align: center;
}

.enterpriseTrialEndWrapper h1 {
    font-size: 25px;
    font-weight: bold;
}

.enterpriseTrialEndWrapper h2 {
    font-size: 18px;
     font-weight: normal;
}

.trialEndedImage {
    width: 166px;
    height: 145px;
    margin: 120px auto 25px;
    background: url(trial_over.png) no-repeat;
}

.buyButton {
    background-color: white;
    webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    
    width: 223px;
    height: 66px;
    margin: 100px auto 20px;
    padding: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.buyButton .buyGreenText {
    color: #87B301;
    font-weight: bold;
    margin-bottom: 2px;
    
}

.buyButton .buyPriceText {
    color: #666;
    font-size: 12px;
}

a.learnMore {
    color: #FFF;
    text-decoration: underline;
}

div.learnMoreWrapper {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

a.buyPro {
    text-decoration: none;
}

a.buyPro:hover {
    text-decoration: underline;
}

.faderOn #backToFiles {
    z-index: 90;
}
#topInfoRow .oneRow.topInfoBar .topInfoBarText {
    padding-top: 5px;
}


.sendInviteConfirmWrapper {
    padding: 10px 14px 9px 8px;
}

.sendInviteButtonWrapper {
    margin-top: 10px;
    margin-left: 125px;
    height: 29px;
}

.sendInviteButtonWrapper #confirmInviteButton {
    margin-right: 10px;
}

.sendInviteConfirmWrapper li
{
    line-height: 20px;
    margin: 0 0 10px 0;
}

.topInfoBar.serviceImpact .topInfoBarText p {
     font-size: 12px;
}