@font-face {
  font-family: 'bn-tools';
  src: url('bn-tools.eot@71511976');
  src: url('bn-tools.eot@71511976') format('embedded-opentype'),
       url('bn-tools.woff@71511976') format('woff'),
       url('bn-tools.ttf@71511976') format('truetype'),
       url('bn-tools.svg@71511976') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bn-tools';
    src: url('../font/bn-tools.svg?71511976#bn-tools') format('svg');
  }
}
*/
 
 [class^="sicon-"]:before, [class*=" sicon-"]:before {
  font-family: "bn-tools";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sicon-chat2:before { content: '\e80d'; } /* '' */
.sicon-classified2:before { content: '\e816'; } /* '' */
.sicon-faq:before { content: '\e811'; } /* '' */
.sicon-emailfwd:before { content: '\e803'; } /* '' */
.sicon-forum:before { content: '\e801'; } /* '' */
.sicon-template:before { content: '\e80c'; } /* '' */
.sicon-calendar:before { content: '\e805'; } /* '' */
.sicon-calendar2:before { content: '\e807'; } /* '' */
.sicon-elist:before { content: '\e810'; } /* '' */
.sicon-guestbook:before { content: '\e817'; } /* '' */
.sicon-vote:before { content: '\e800'; } /* '' */
.sicon-postcard:before { content: '\e813'; } /* '' */
.sicon-minipoll2:before { content: '\e814'; } /* '' */
.sicon-announce:before { content: '\e806'; } /* '' */
.sicon-photocenter:before { content: '\e80a'; } /* '' */
.sicon-chat3:before { content: '\e809'; } /* '' */
.sicon-journal:before { content: '\e804'; } /* '' */
.sicon-guestmap:before { content: '\e812'; } /* '' */
.sicon-chat:before { content: '\e80f'; } /* '' */
.sicon-passwd:before { content: '\e802'; } /* '' */
.sicon-classified:before { content: '\e815'; } /* '' */
.sicon-counter:before { content: '\e80b'; } /* '' */
.sicon-webtools:before { content: '\e818'; } /* '' */
.sicon-minipoll:before { content: '\e808'; } /* '' */
.sicon-search2:before { content: '\e8c1'; } /* '' */
.sicon-chat4:before { content: '\e80e'; } /* '' */
.sicon-sitepal:before { content: '\e8c2'; } /* '' */
.sicon-sitering:before { content: '\e819'; } /* '' */