@font-face {
    font-family: "Segoe UI Web Light";
    font-style: normal;
    font-weight: 100;
    src: local("Segoe UI Light"), local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: "Segoe UI Web Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: "Segoe UI Web Semibold";
    font-style: normal;
    font-weight: bold;
    src: local("Segoe UI Semibold"), local("Segoe UI Bold"), local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}

body 
{
    width:475px;
    height:490px;
    font-family:"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
    margin:0;
    padding:0;
    overflow:hidden;
    border:none;
    color:#fff;
}

.ja-jp, .ja-jp h1, .ja-jp h2, .ja-jp p,
.ja-jp a, .ja-jp a:hover, .ja-jp a:visited
{
    font-family:"Meiryo UI",Meiryo,"MS PGothic",Osaka,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.km-kh, .km-kh h1, .km-kh h2, .km-kh p,
.km-kh a .km-kh a:hover, .km-kh a:visited
{
    font-family:"Khmer UI","Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.ko-kr, .ko-kr h1, .ko-kr h2, .ko-kr p,
.ko-kr a, .ko-kr a:hover, .ko-kr a:visited
{
    font-family:"Malgun Gothic",Gulim,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.zh-cn, .zh-cn h1, .zh-cn h2, .zh-cn p,
.zh-hans, .zh-hans h1, .zh-hans h2, .zh-hans p, 
.zh-cn a, .zh-cn a:hover, .zh-cn a:visited 
{
    font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.zh-hant, .zh-hant h1, .zh-hant h2, .zh-hant p,
.zh-hk, .zh-hk h1, .zh-hk h2, .zh-hk p,
.zh-mo, .zh-mo h1, .zh-mo h2, .zh-mo p,
.zh-sg, .zh-sg h1, .zh-sg h2, .zh-sg p,
.zh-tw, .zh-tw h1, .zh-tw h2, .zh-tw p,
.zh-hant a, .zh-hant a:hover, .zh-hant a:visited,
.zh-mo a, .zh-mo a:hover, .zh-mo a:visited,
.zh-sg a, .zh-sg a:hover, .zh-sg a:visited,
.zh-tw a, .zh-tw a:hover, .zh-tw a:visited
{
    font-family:"Microsoft JhengHei", Pmingliu,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}



img {border:none;}
div.mboxDefault {visibility:visible;}

a, a:hover, a:visited
{
    
    border: 1px #fff;
    background-color:#fff;
    text-decoration:none;
}

a:hover {
    opacity:0.76;
    filter:alpha(opacity=76);
}

a:active
 {
    opacity:1;
    filter:alpha(opacity=100);
    background-color:black;
    color:white;
}

h1
{
    font-weight:100;
    font-size:31px;
    line-height:29px;
    margin: 0px 0px 0px 0px;
    padding:0; 
}

.small h1
{
    font-size:26px;    
}

.smallest h1
{
    font-size:20px;
    line-height:20px;
}

h1.nosubheading
{
   padding:10px 0px 28px 0px;
}

p
{
    font-family:"Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
    font-weight:100;
    font-size:14px;
    line-height:16px;
    margin:12px 0px 18px 0px;
    padding:0; 
}

.small p
 {
    font-size:12px;
    margin: 10px 0px 16px 0px;
}

a
{
    display: inline-block;
    font-family:"Segoe UI Web Semibold","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
    font-size: 13px;
    font-weight: 100;
    line-height: 10px;
    padding: 6px 7px;
}

div.mboxDefault.throttle {visibility:visible;}
       
div#offer
{
    width:475px;
    height:490px;
    overflow:hidden;
	position: relative;/*fix overflow: hidden issues*/
}
div#offer img
{
    height:340px;
    width:475px;
    border:none;
    display:block;
}
div#offer div#text
{
    height:150px;
    width:413px;
    padding:15px 31px 25px 31px;
		z-index: 2;
}

div#offer img.full
{
    height:490px;
    width:475px;
    border:none;
    display:block;
}


/*Brands*/
.skydrive, .Skydrive, .SkyDrive {background-color:#094ab2;}
.skydrive a, .skydrive a:hover, .skydrive a:visited,
.Skydrive a, .Skydrive a:hover, .Skydrive a:visited,
.SkyDrive a, .SkyDrive a:hover, .SkyDrive a:visited {color:#094ab2;}

.onedrive, .Onedrive, .OneDrive {background-color:#EFEFEF;}
.onedrive a, .onedrive a:hover, .onedrive a:visited,
.Onedrive a, .Onedrive a:hover, .Onedrive a:visited,
.Onedrive a, .Onedrive a:hover, .Onedrive a:visited {color:#EFEFEF;}

.hotmail, .Hotmail {background-color:#F89A1E;}
.hotmail a, .hotmail a:hover, .hotmail a:visited,
.Hotmail a, .Hotmail a:hover, .Hotmail a:visited {color:#F89A1E;}

.newmail {background-color:#0072C6;}
.newmail a, .newmail a:hover, .newmail a:visited {color:#0072C6;}

.outlook, .Outlook {background-color:#0072C6;}
.outlook.xmas{ background-color:#E81123; }
.outlook a, .outlook a:hover, .outlook a:visited,
.Outlook a, .Outlook a:hover, .Outlook a:visited {color:#0072C6;}


.account {background-color:#2672ec;}
.account a, .account a:hover, .account a:visited {color:#2672ec;visibility:hidden;}


.skydrive a:active,
.Skydrive a:active,
.SkyDrive a:active,
.onedrive a:active,
.Onedrive a:active,
.OneDrive a:active,
.hotmail a:active,
.Hotmail a:active,
.newmail a:active,
.outlook a:active,
.Outlook a:active,
.account a:active {
    opacity:1;
    filter:alpha(opacity=100);
    background-color:black;
    color:white;
}
#offer.outlook_xmas .logo-outlook_xmas{
	width: 172px; height: 74px;
	position: absolute;
	bottom: 0; right: 0;
		background: url("https://sc.imp.live.com/content/dam/imp/surfaces/mail_signin/v3/images/snow_logo.png") no-repeat;

}
#offer.outlook_xmas h1{
	font-size: 38px;
	line-height: 42px;
}
#offer.outlook_xmas p{
	font-size: 18px;
	line-height: 20px;
}
#offer.outlook_xmas img{
	position:relative;
}
#offer.outlook_xmas div#textanimated{
	background-image:url('https://sc-ppe.imp.live.com/content/dam/imp/surfaces/mail_signin/v3/images/snowflake_animation_full_size.gif');
    background-repeat:no-repeat;
    background-color:#E81123; 
	height:150px;
    width:413px;
    padding:15px 31px 25px 31px;
	z-index: 2;

}
/*-----------------CTA-Store-Buttons--------------------*/
div.store
{
    
    overflow:hidden;
	position: relative;/*fix overflow: hidden issues*/
}
div.store p
{
	padding: 15px 0px 10px 0px;
	margin:0px;
}
div.store p.android
{
	padding: 13px 0 10px 0;
	margin:0px;
}
div.store p.duo
{
	padding: 10px 0 10px 0;
	margin:0px;
}
div.store img
{
    height:340px;
    width:475px;
    border:none;
    display:block;
    
}
div.store div#text
{
	text-align:left;
    height:130px !important;
    width:415px !important;
    padding:15px 30px 5px 30px !important;
		z-index: 2;
}

div.store .button
{
	background-color:#0072C6;
	float: left;
	padding:0px;
	border-style: none; 
    display:block;
}
div.store #button1v1
{
	padding:8px 0 10px 40px;
    height:47px;
    width:133px;
    border:none;
    border-style: none;
    display:block;
    position:relative!important;
}
div.store #button2v1
{
    padding:10px 0 10px 69px;
    height:40px;
    width:136px;
    border:none;
    border-style: none;
    display:block;
    position:relative!important;
}
div.store #button1v2
{
	padding:5px 13px 10px 0;
    height:47px;
    width:133px;
    border:none;
    border-style: none;
    display:block;
    position:relative!important;
}
div.store #button2v2
{
    padding:9px 0px 10px 0;
    height:40px;
    width:136px;
    border:none;
    border-style: none;
    display:block;
    position:relative!important;
}
/*-----------------CTA-Store-Buttons-END--------------------*/