/* noscript */
.port_land .aol_hatcontainer {
    height: auto;
}

div#dvErr {
    background-color: #FCBC9C;
    font-family: calibri,arial,helvetica;
    height: 80px;
    left: 10%;
    padding: 25px;
    position: absolute;
    top: 20%;
    width: 300px;
}

div#dvErr a:link, div#dvErr a:active, div#dvErr a:visited {
    color: #515151;
}

div#dvErr a:hover {
    text-decoration: none;
}

div#dvErr span {
    color: #DD3C10;
    font-size: 13px;
    font-weight: bold;
}

div#dvErr .p1 {
    float: left;
    padding: 7px 0 0 15px;
    width: 5%;
}

div#dvErr .p2 {
    float: left;
    width: 90%;
    font-size: 12px;
	text-align:left;
	color:#000;
}

/* noscript */