#UMELogon A {
	COLOR : #424E91; TEXT-DECORATION: none;
}
#UMELogon A:HOVER {
	COLOR: #fb7737; TEXT-DECORATION: underline;
}

#UMELogon LINK{
	color: #424E91;
}
#UMELogon VLINK{
	color: #7979BD;
}
#UMELogon ALINK{
	color: #336633;
}
/* NEW - used for background color for universial header */
#UMELogon .BG_UNVHEADER {
	BACKGROUND: #D3D4D4; 
}
/* NEW - used for calendar, marking past days */
#UMELogon .CAL_XXS_DIS {
	BACKGROUND: #FFFFFF; COLOR: #BBBBBB; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* NEW - used for calendar, marking holiday and weekend */
#UMELogon .CAL_XXS_WEKND {
	BACKGROUND: #F5F5F5; COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* NEW - used for calendar, marking holiday and weekend */
#UMELogon .CAL_XXS_WEKND_DIS {
	BACKGROUND: #F5F5F5; COLOR: #BBBBBB; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* NEW - main calender */
#UMELogon .CAL_XXS_MAIN {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center; BACKGROUND: #FFFFFF;
}
/* NEW - main calender */
#UMELogon .CAL_XXS_MAINB {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center; BACKGROUND: #FFFFFF; Font-weight: bold;
}
/* NEW - used for classification table */
#UMELogon .CLASSIFICATION {
	COLOR: #585858; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; TEXT-ALIGN: left;
}
/* NEW - disabled small font */
#UMELogon .DIS_XXS {
	COLOR: #BBBBBB; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small;
}
/* NEW - disabled medium font */
#UMELogon .DIS_XS {
	COLOR: #BBBBBB; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small;
}
/* WAS CONTENTB and STEPTITLE - x-small, bold text in a layout table */
#UMELogon .DIS_XSB {
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 18px; Font-weight: bold;
}
/* WAS SELECT.PULLDOWN - used for dropdown with smaller text */
#UMELogon .DROPDOWN_XXS {
	FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 19px;
}
/* WAS SELECT.PULLDOWN - used for dropdown with larger text */
#UMELogon .DROPDOWN_XS {
	FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 19px;
}
/* NEW - used for dropdown in global search area */
#UMELogon .DROPDOWN_S {
	FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 19px; width: 150px;
}
/* WAS BACKGROUND - used for boarder in the header */
#UMELogon .HEADER_BDR_BG {
	BACKGROUND: #A8A7A7; 
}
/* NEW - used for background in the header */
#UMELogon .HEADER_TB_BG {
	BACKGROUND: #FFFFFF; 
}
/* WAS CONTENTB - used in header to indicate module that you are currently in */
#UMELogon .HEADER_TD_SEL {
	COLOR: #464646; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; BACKGROUND: #CFE5EB; font-weight : bold;
	text-align : center;
}
/* WAS CONTENT - used in header for module links,  i.e. - RFQ, EXCHANGE, etc */
#UMELogon .HEADER_TD_N {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; background-color: #FFFFFF;
	text-align : center;
}
/* WAS CONTENT - used for non-bold text in header that is not centered */
#UMELogon .HEADER_XS_W {
	COLOR: #000000; FONT-FAMILY:  Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small; background-color: #FFFFFF;
}
/* WAS CONTENTB - used for bold text in header that is not centered */
#UMELogon .HEADER_XSB_W {
	COLOR: #000000; FONT-FAMILY:  Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small; background-color: #FFFFFF; font-weight: bold;
}
/* WAS BUTTONS - used for small html buttons */
#UMELogon INPUT.BTN_S { 
	font-family:  Tahoma, Helvetica, sans-serif; font-size: 8pt; color: #3F3F3F; background-color: #E5E6E6; cursor: hand;
}
/* WAS BUTTONNL - used for non-bold large html buttons */
#UMELogon INPUT.BTN_LN { 
	font-family:  Tahoma, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #3F3F3F; background-color: #E5E6E6; cursor: hand;
}
/* WAS BUTTONLB - used for bold large html buttons */
#UMELogon INPUT.BTN_LB { 
	font-family:  Tahoma, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #3F3F3F; background-color: #E5E6E6; cursor: hand;
}
/* WAS TD2 - text used on page navigation bar */
#UMELogon .NAV_PGNB {
	BACKGROUND: #E1E1E1; COLOR: #FF8C00; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 10px; HEIGHT: 19px; FONT-WEIGHT: bold; TEXT-ALIGN: right;
}
/* WAS SECTIONTITLE and SECTIONHEADER - used for section header of each content page */
#UMELogon .SEC_TB_TD {
	COLOR: #FFFFFF; BACKGROUND: #3776a4;  FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; font-weight : bold;
}
/* WAS MENUBACKGROUND - used for section title background */
#UMELogon .SEC_TB_BG {
	 BACKGROUND: #f0f0f0;
}
/* WAS BACKGROUND - used for section title border */
#UMELogon .SEC_TB_BDR {
	 BACKGROUND: #f0f0f0;
}
/* WAS MENUBACKGROUND - used for side menu background */
#UMELogon .SIDE_N_BG {
	BACKGROUND: #E0E0E0; 
}
/* WAS MENULIGHTBG - used for background color on content areas in sidemenu sub-menus */
#UMELogon .SIDE_CNT_BG {
	BACKGROUND: #E0E0E0; 
}
/* WAS BACKGROUND - used for border of content sub-menus in sidebar */
#UMELogon .SIDE_CNT_BDR_BG {
	BACKGROUND: #E0E0E0;
}
/* WAS CONTENT - first level text in sidebar sub-menu that is unselected */
#UMELogon .SIDE_XS_CNT_N {
	 COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 71%;
}
/* WAS CONTENT - first level text in sidebar sub-menu that is unselected */
#UMELogon .SIDE_XS_CNT_N A {
	 COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif;
}
/* WAS TD2 - first level text in sidebar sub-menu that is selected */
#UMELogon .SIDE_XS_CNT_SEL {
	 BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 71%; font-weight : bold;
}
/* WAS TD2 - first level text in sidebar sub-menu that is selected */
#UMELogon .SIDE_XS_CNT_SEL A {
	 BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif;
}
/* WAS DESCRIPTION - secondary text in sidebar sub-menu that first level is unselected */
#UMELogon .SIDE_XS_CNT_SUB {
	COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 71%;
}
/* WAS DESCRIPTION - secondary text in sidebar sub-menu that first level is selected, but secondary is unselected */
#UMELogon .SIDE_XS_CNT_SUB_N {
	BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 71%; font-weight: normal;
}
/* WAS TDY - secondary text in sidebar sub-menu that first and seconday are selected */
#UMELogon .SIDE_XS_CNT_SUB_SEL {
	BACKGROUND: #f3f3f9; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 71%;
	border-bottom: 1px dashed #CBCBCB;
	border-top: 1px dashed #CBCBCB;
}
/* WAS TDY - secondary text in sidebar sub-menu that first and seconday are selected */
#UMELogon .SIDE_XS_CNT_SUB_SEL A {
	BACKGROUND: #f3f3f9; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif;
	border-bottom: 1px dashed #CBCBCB;
	border-top: 1px dashed #CBCBCB;
}
#UMELogon .SIDE_XSSB {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: 71%; Font-weight: bold;
}
#UMELogon .SIDE_XSSB A {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; Font-weight: bold;
}
/* NEW - background for main content area */
#UMELogon .TB_CNT_BG {
	BACKGROUND: #FFFFFF; 
}

/* NEW - background for main content area */
#UMELogon .CNT_BG {
	BACKGROUND: #F0F0F0; 
}
/* WAS BACKGROUND - used for border of data tables */
#UMELogon .TBDATA_BDR_BG {
	BACKGROUND: #A8A7A7; 
}
/* NEW - background for table content area for odd rows in a list */
#UMELogon .TBDATA_CNT_ODD_BG {
	BACKGROUND: #FFFFFF; 
}
/* NEW - background for table content area for even rows in a list */
#UMELogon .TBDATA_CNT_EVEN_BG {
	BACKGROUND: #E9ECEF; 
}
/* WAS TABLEHEADER - used as column headers in data tables */
#UMELogon .TBDATA_HEAD {
	BACKGROUND: #E0E0E0; COLOR: #3B3B3B; FONT-FAMILY:  Verdana, Arial,  Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* WAS TABLEHEADER - used as headers in espandable table */
#UMELogon .TBDATA_HEAD_SUB {
	BACKGROUND: #E5E6E6; COLOR: #3B3B3B; FONT-FAMILY:  Verdana, Arial,  Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small;
}
/* WAS DESCRIPTION - data table text xx-small, align left */
#UMELogon .TBDATA_XXS_L {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small;  TEXT-ALIGN: left;
}
/* WAS DESCRIPTION - data table text xx-small, align center */
#UMELogon .TBDATA_XXS_C {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* WAS DESCRIPTION - data table text xx-small, align right */
#UMELogon .TBDATA_XXS_R {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: right;
}
/* WAS DESCRIPTION - data table text xx-small, align left no background */
#UMELogon .TBDATA_XXS_L_NBG {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small;  TEXT-ALIGN: left;
}
/* WAS DESCRIPTION - data table text xx-small, align center no background */
#UMELogon .TBDATA_XXS_C_NBG {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* WAS DESCRIPTION - data table text xx-small, align right no background */
#UMELogon .TBDATA_XXS_R_NBG {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: right;
}
/* WAS CONTENT - data table text x-small, align left */
#UMELogon .TBDATA_XS_L {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: left;
}
/* WAS CONTENT - data table text x-small, align center */
#UMELogon .TBDATA_XS_C {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: center;
}
/* WAS CONTENT - data table text x-small, align right */
#UMELogon .TBDATA_XS_R {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: right;
}
/* WAS CONTENTB - data table text x-small, bold  */
#UMELogon .TBDATA_XSB {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; Font-weight: bold;
}
/* New : used to indicate selected line in table*/
#UMELogon .TBDATA_XS_SEL {
	BACKGROUND: #FFEED0; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small;
}
/* WAS CONTENT - data table text x-small, align left no background */
#UMELogon .TBDATA_XS_L_NBG {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: left;
}
/* WAS CONTENT - data table text x-small, align center no background */
#UMELogon .TBDATA_XS_C_NBG {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: center;
}
/* WAS CONTENT - data table text x-small, align right no background */
#UMELogon .TBDATA_XS_R_NBG {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: right;
}
/* WAS CONTENTB - data table text x-small, bold no background  */
#UMELogon .TBDATA_XSB_NBG {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; Font-weight: bold;
}
/* WAS DESCRIPTION - xx-small, no alignment text in layout/content area */
#UMELogon .TBLO_XXS {
	COLOR: #585858; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small;
}
/* WAS DESCRIPTION - xx-small, left aligned text in layout/content area */
#UMELogon .TBLO_XXS_L {
	COLOR: #585858; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 18px;  TEXT-ALIGN: left; Font-weight: normal;
}
/* WAS DESCRIPTION - xx-small, center aligned text in a layout table */
#UMELogon .TBLO_XXS_C {
	COLOR: #585858; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 18px; TEXT-ALIGN: center;
}
/* WAS DESCRIPTION - xx-small, right aligned text in a layout table */
#UMELogon .TBLO_XXS_R {
	COLOR: #585858; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 18px; TEXT-ALIGN: right;
}
/* WAS CONTENT - x-small, no alignment text in a layout table */
#UMELogon .TBLO_XS {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 19px;
}
/* WAS CONTENT - x-small, left aligned text in a layout table */
#UMELogon .TBLO_XS_L {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 19px; TEXT-ALIGN: left;
}
/* WAS CONTENT - x-small, center aligned text in a layout table */
#UMELogon .TBLO_XS_C {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 18px; TEXT-ALIGN: center;
}
/* WAS CONTENT - x-small, right aligned text in a layout table */
#UMELogon .TBLO_XS_R {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 18px; TEXT-ALIGN: right;
}
/* WAS CONTENTB and STEPTITLE - x-small, bold text in a layout table */
#UMELogon .TBLO_XSB {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 18px; Font-weight: bold;
}
/* NEW - used for confirmation text */
#UMELogon .TX_CFM_XSB {
	COLOR: #228B22; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small; font-weight: bold;
}
/* NEW - used for small error text */
#UMELogon .TX_ERROR_XXS {
	COLOR: #FF0000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small;
}
/* NEW - used for larger bold error text */
#UMELogon .TX_ERROR_XSB {
	COLOR: #F52C4D; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small; font-weight: bold;
}
/* NEW - border for error header */
#UMELogon .TX_ERROR_BDR {
	BACKGROUND COLOR: #F52C4D;
}
/* WAS INPUT.TEXT - used for text areas which use small a font */
#UMELogon .TX_XXS {
	FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small;
}
/* WAS INPUT.TEXT - used for disabled text areas which use small a font */
#UMELogon .TX_XXS_D {
	FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; background-color: EEEEEE; color: #888888;
	border-left: 1 solid #666666; 
	border-bottom: 1 solid #666666; 
	border-right: 1 solid #666666; 
	border-top: 1 solid #666666; 
}
/* NEW - used for text areas which use a medium sized font */
#UMELogon .TX_XS {
	FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small;
}
/* NEW - used for disabled text areas which use a medium sized font */
#UMELogon .TX_XS_D {
	FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small;  background-color: EEEEEE; color: #888888;
	border-left: 1 solid #666666; 
	border-bottom: 1 solid #666666; 
	border-right: 1 solid #666666; 
	border-top: 1 solid #666666; 
}
/* WAS CONTENT - x-small, left aligned free text outside of a table */
#UMELogon .TX_XS_DGRAY_L {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; Text-align: left;
}
/* WAS CONTENT - x-small, right aligned free text outside of a table */
#UMELogon .TX_XS_DGRAY_R {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; Text-align: right;
}
/* WAS CONTENT - x-small, center aligned free text outside of a table */
#UMELogon .TX_XS_DGRAY_C {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; Text-align: center;
}
/* WAS CONTENTB - x-small, bold free text outside of a table */
#UMELogon .TX_XSB_DGRAY {
	COLOR: #3B3B3B; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: x-small; font-weight : bold;
}
/* WAS DESCRIPTION - xx-small, left aligned free text outside of a table */
#UMELogon .TX_XXS_DGRAY_L {
	COLOR: #585858; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none; TEXT-ALIGN: left;
}
/* WAS DESCRIPTION - xx-small, center aligned free text outside of a table */
#UMELogon .TX_XXS_DGRAY_C {
	COLOR: #585858; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none; TEXT-ALIGN: center;
}
/* WAS DESCRIPTION - xx-small, right aligned free text outside of a table */
#UMELogon .TX_XXS_DGRAY_R {
	COLOR: #585858; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none; TEXT-ALIGN: right;
}

/*start ebp header classes */
#UMELogon .headertop{ 
	background-color: #3776a4;
	font-family: Tahoma, Helvetica, sans-serif; 
	font-size: 71%;  
	font-weight: bold; 
	color: #EEEEEE;
}
/* Header settings */
#UMELogon .logo {
	background-color: #3776a4;
	font-family: Tahoma, Helvetica, sans-serif; 
	font-size: 160%; line-height: normal; 
	font-weight: 900; 
	color: #FFFFFF;
	font-style: normal;
}


.headertop A:link { 
	color: #eeeeee; 
	text-decoration: none;
}

.headertop A:active { 
	color: #eeeeee; 
	text-decoration: none;
}

.headertop A:visited { 
	color: #eeeeee; 
	text-decoration: none;
}

.headertop A:hover {
	color: #006699; 
	background-color: #F0F0F0; 
	text-decoration: none;
}

/* Application title  */
#UMELogon .applicationTitle {
	color:#333333;
	font-family: Tahoma,Helvetica,sans-serif;
	font-size: 71%;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 7px;
	padding-bottom: 7px;
}
