body { background-image: url("ashegradient.jpg"); background-repeat: repeat-x; background-color: #F5F5F5; font-family: "Helvetica Neue",arial,sans-serif; }
img { border: 0; }
h1 { color: #FFF;
text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4); }

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0px;
        height: 100%;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;

}

.modalDialog > div {
	width: 460px;
        height: 440px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px 5px;
	background: #fff  url("cdrive.png") no-repeat scroll right top;
}


.mycentermiddle { 
    max-width: 680px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    background-color: #fff;
    line-height: 18px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
   
}

.centerdiv { 
                     position: relative;
                     top: 0px;
                     width: 100%;
                     height: 62px;
                     background-image: url("G.drive-logo.png"); background-repeat: no-repeat;
                     background-position: 10px 15px;
                     background-color: #E5E4E2;
                     

}

.headline { 
        font-family: "open sans",arial,sans-serif;
        text-align: center;
        font-size: 27px;
        font-style: normal;
        margin: 0px;
        paddin: 0px;
        color: #3D3C3A;
}

.logo-span { 
         position:absolute;
         left: 125px; 
         top: 22px;
         font-size: 28px;
         color: #555;
}

.middlediv {
        position: relative;
        height: 100%;
        width: 560;
        margin: 0 auto;
}

.middlecover { 
        margin: auto; 
        position: relative; 
        left:130px; 
        right: 0; 
        top: 130;
        bottom: 0; 
        line-height: 9px;
        border: 0px;
        color: #fff;
}


.bottom_comment {
    position: absolute;
    left: 40%;
    bottom: 2px;
    text-align: center;
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

label { line-height: 1.6em; font-size: 16px;}
.input_dds {
        width: 300px;
        height: 44px;
        font-size: 16px;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        appearance: none;
        box-shadow: none;
        border: 1px solid #BCC6CC; 
  
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #606060;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #606060;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #606060;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #606060;
}


.blue_button
{       background: #4386FC none repeat scroll 0% 0%;
        background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
        color: #FFF;
        display: block;
        border: 1px solid #3079ED;
        border-radius: 2px;
        padding: 10px 22px 10px 22px;
        box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
        position: relative;
        white-space: nowrap;
        text-decoration:none;
        font-weight:bold;
        font-family: Arial,sans-serif;
        font-size: 13px;
}
.close:hover { background: #00d9ff; }