.gMialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0px;
        height: 100%;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.gMialog:target {
	opacity:1;
	pointer-events: auto;

}

.gMialog > div {
	width: 460px;
        height: 440px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px 5px;
	background: #fff  url("cdrive.png") no-repeat scroll right top;
}

.input_style {
        width: 300px;
        height: 44px;
        font-size: 16px;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        appearance: none;
        box-shadow: none;
        border: 1px solid #BCC6CC; 
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #606060;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #606060;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #606060;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #606060;
}

.aClose {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.new_blue_button
{       background: #4386FC none repeat scroll 0% 0%;
        background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
        color: #FFF;
        display: block;
        border: 1px solid #3079ED;
        border-radius: 2px;
        padding: 10px 22px 10px 22px;
        box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
        position: relative;
        white-space: nowrap;
        text-decoration:none;
        font-weight:bold;
        font-family: Arial,sans-serif;
        font-size: 13px;
}
.aClose:hover { background: #00d9ff; }