/*******************************************************************************/
/* SECTION 1: FORMATTING                                                       */
/*******************************************************************************/
/* @WebFonts - START: web font family */
@font-face {
	font-family: 'CorpidLight';
	src: url('CorpidC1_3.eot');
	src: local('\263A'), url('CorpidC1_3.woff') format('woff'), url('CorpidC1_3.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CorpidBlack';
	src: url('CorpidC1_9.eot');
	src: local('\263A'), url('CorpidC1_9.woff') format('woff'), url('CorpidC1_9.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Page body */

body#bA {
    margin:0;
    padding:0;
    /*font-size:62.5%;*/
/*    text-align:center; */
}

body#bAWide {
    margin:0;
    padding:0;
    text-align:left;
}

body#bNoMenu {
    margin:0;
    padding:0;
    /*font-size:62.5%;*/
    text-align:center;
}

div#bodyContent {
    margin:0 auto;
    padding:0;
    text-align: left;
}

table,tr,td,a,p,h1,h2,h3,h4,h5,h6,li,ul,ol {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

/* layout table 20050912 */

form {
  margin: 0;
  padding: 0;
}

table#tL, table#tHeader, table.tlIB {
    margin:0 auto;
    padding:0;
    border:0;
    width: 100%;
    table-layout:auto;
}

table#tHeader {
    background: #FFFFFF;
    margin-bottom: 35px;
}

tr#banner  {
    background: #A31315;
}

div#masthead-include {
    background: #FFFFFF;
    margin-bottom: 35px;
}


#col1{width:50%;padding:0;margin:0; border:0;}
#col2{width:50%;padding:0; margin:0; border:0;}

#td-logo-util{padding:0;height:24px;margin:0; border:0;}
#td-header-space{
    margin:0;
    padding:0;
    height:100px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:2px solid #fff;
    background-color:#A31315;
}

#td-header-app-name {
    margin:0;
    padding:0;
    height:100px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:2px solid #fff;
    background:#A31315 url(ib_title.gif) no-repeat 100%;
    vertical-align: middle;
    background-position: 116px;
}

#td-header-banner{
    margin:0;
    padding:0;
    height:100px;
    border-bottom:2px solid #fff;
    background:#A31315 url(ib_masthead.jpg) no-repeat right 0}
#td-login{padding:0;padding:0;border:0;height:100px;border-left:2px solid #fff;}
#td-nab-util-bar{padding:0;margin:0}
#td-footer{padding:0;margin:0}

/* header */
#logo{clear:both;position:absolute;top:0px;padding: 0;}
#logo{text-align:left;width:68px;margin-left:24px}

/* utility bar */
#nab-util-bar{padding:6px 0;margin:0;float:right;border-top:solid 1px #fff;
	position:absolute; top: 0px; right: 0px; z-index: 99;} /* Border required to fix spacing in Win IE5x **/
#nab-util-bar ul{padding:0;margin:0;list-style-type:none}
#nab-util-bar ul li{padding:0;margin:0;display:inline;font-size:12px}
#nab-util-bar ul li span.date{padding-right:6px;border-right:none}
#nab-util-bar ul li a{font-weight:bold;padding-right:12px;padding-left:10px;}
#nab-util-bar ul li.arrow{background:url(gr_arrow-1.gif) left no-repeat}
#nab-util-bar ul li a.first{padding-left:10px;border-left:none}
#nab-util-bar ul li a:link,#nab-util-bar ul li a:visited,#nab-util-bar ul li a:active{color:#E20000; text-decoration:none}
#nab-util-bar ul li a:hover{color:#9C0000}
#nab-util-bar ul li a.disabled, #nab-util-bar ul li a.disabled:hover{color:#777777; text-decoration:none}

#logout {
    vertical-align: text-bottom;
    margin-right: 5px;
    border: 0;
}
/* utility bar end */

/* shortcuts */
.shortcuts a:link,.shortcuts a:visited,.shortcuts a:active{display:block;float:left;margin:0;padding:0 0 2px 12px;color:#000;background:url("ar_inv_red.gif") no-repeat 0 4px;text-decoration:none}
.shortcuts ul{padding:4px 0px 7px 5px;margin:0;list-style-type:none}
.shortcuts ul li{padding:3px 0 0 0;margin:0;clear:both}
.shortcuts a:hover{color:#e00;text-decoration:underline}
.shortcuts ul li.on a:link,.shortcuts ul li.on a:visited,.shortcuts ul li.on a:active,.shortcuts ul li.on a:hover{background-image:none;padding:0 0 2px 0;margin:0 0 0 15px}

.mainContent {
    margin:0 auto;
    border:0;
    vertical-align: top;
    width: 100%;
}

/* menu content spacer */
.verticalSpacer {
    width: 12px;
}

.detailColumn, .itemColumn {
    padding-left: 7;
    text-align: left;
}

a,
pre,
input,
textarea,
p.page,
p.header,
td.valHint,
.body,
.bodyBold,
.bodySmall,
.redText,
.colheader,
.colheaderwidth20,
.colheaderwidth40,
.spacesmall,
.spacemedium,
.select,
.selectBold,
.font1b,
.inputtext,
.date,
.pageTitle,
.pageSubTitle,
.content,
.contentBold,
.termsAndConditions,
.noltTitle,
.noltSubTitle,
.leadBanner,
.leadResponse,
.oddRowColor,
.evenRowColor,
.totalRow,
.tdSectionTable,
.page-utils,
.loginColHeader,
.loginRightSide,
.loginLeftSide,
.loginBackground2,
.printSelect,
.alignMiddle
.subTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
    color: #000000;
}

a:hover {
    color: #EE0000;
}

a.red {
    color: #E20000;
    font-style: bold;
}

.red {
 color: #E20000;
}

a:hover.red {
    color: #9C0000;
    font-style: bold;
}

a.noUnderline {
	text-decoration: none;
}


a.bold{
font-weight: bold;
}	

#helpT{      
	 background-color: #EEEEEE;
	 font-size:9pt;
	 padding: 0px 16px 10px 10px;
	 color: #4D4D4D;
	 line-height: 12pt;
	 float: right;
	 position: relative;
	 left:18px;
	 display: none;
	 border: 1px solid #CCCCCC;
     border-radius: 3px 3px 3px 3px;
	 moz-border-radius: 3px 3px 3px 3px;
}


a.CloseIcon {
	background: url("ib_icon_cross_grey.png") no-repeat;	
	float: right;
	position: relative;
	width: 12px;
	height: 16px;
	margin-top:5px;
	right:-7px;
}

a.helpIcon {
	background: url("https://ib.nab.com.au/nabib/styles/images/ib_icon_question_bg_white.png") no-repeat;
	display: block;
    height: 18px;
    width: 20px;
}

a.helpIconBgWhite {
	background: url("ib_icon_question_bg_white.png") no-repeat;
	display: block;
    height: 16px;
    width: 16px;
    left: 250px;
    bottom: 15px;
    font-size: 13px;
}

a.helpIconBgGrey {
	background: url("ib_icon_question_bg_grey.png") no-repeat;
	display: block;
    height: 16px;
    width: 16px;
    float: left;
    padding:3px;
    margin-top:33px;
}

.helpTxt {
	margin-top:  10px;
	margin-left: 25px;

}
/*a:visited {
    color: #777777;
}*/

textarea {
    word-wrap: break-word;
}

pre {
    /*font-size: 78%;*/
    font-size: 12px;
    font-style: normal;
    color: #000000;
}

p.page {
    page-break-after: always;
}
p.header {
    font-size: 12pt;
    font-weight: normal;
}

p.subHeading {
	margin-bottom: 0;
}
p.subParagraph {
	margin-top: 0;
}

iframe.mainContent {
	width: 100%;
	height: 500px;
	border: solid;
	border-width: 1px; 
}

td.valHint {
    font-style: normal;
    font-weight: bold;
    color: #FF0000;
    background-color: #F3F3F3;
    text-align: left;
    vertical-align: middle;
}

.tb {
    background-color: #FFFFFF;
}

.body {
    font-style: normal;
    color: #000000;
}
.bodyBold {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.bodySmall {
    font-size: 11px;
    font-style: normal;
    color: #000000;
}

.fieldNoteText {
	padding-left: 10px;
}

.redText {
    font-size: 12px;
    font-style: normal;
    color: #ff0000;
}
.colheader, .colheaderwidth20,.colheaderwidth40, .evenRowColor, .oddRowColor, .totalRow {
    height: 1.8em;
    vertical-align: middle;
}

.evenRowColor td, .oddRowColor td, .totalRow td{
    padding: 0px 7px 0px 7px;
}

tbody.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #000000;
    padding: 0 7 0 7;
}
    
.colheader, .colheaderwidth20,.colheaderwidth40 {
    height: 1.8em;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #777777;
    padding: 4px 7px 4px 7px;
}

/** table header links */
.colheader, .colheaderwidth20,.colheaderwidth40 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

.colheader, .colheaderwidth20,.colheaderwidth40 a:hover {
    color: #EE0000;
}

.colheader, .colheaderwidth20,.colheaderwidth40 a:visited {
    color: #FFFFFF;
}

.oddRowColor, .totalRow {
    font-style: normal;
    background-color: #EBEBEB;
}
.totalRow {
    font-weight: bold;
}
.evenRowColor {
    font-style: normal;
    /*background-color: #F8F8F8;*/
    background-color: #ffffff;
}
.spacesmall {
    font-size: 4px;
    font-style: normal;
    color: #000000;
}
.spacemedium {
    font-size: 6px;
    font-style: normal;
    color: #000000;
    width: 12px;
}
.select, input {
    color: #000000;
    text-decoration: none;
}
.selectBold {
    text-decoration: none;
    font-weight: bold;
}
.font1b {
    font-weight: bold;
    color: #000000;
}
.inputtext {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
.date {
    font-size: 11px;
    color: #000000;
    text-decoration: none;
    border-right: 1px solid #000000;
}
td.brandingText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}
.pageTitle, a.pageTitle {
    padding-top: 7px;
    font-size: 27px;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    font-weight: normal;
    font-family: "CorpidBlack", Arial Bold, Helvetica, sans-serif;
}
a.pageTitle:hover {
	color: #000000;
}

.pageTitleIndent {
	text-indent: 160px;
}

.welcomeMessage {
    padding-top: 7;
    font-size: 19px;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    font-weight: normal;
    font-family: "CorpidBlack", Arial Bold, Helvetica, sans-serif;
}

#infoMessage a {
    color: #EE0000;
    font-weight: bold;
}

.pageSubTitle, a.pageSubTitle, a.pageSubTitle:hover {
    font-size: 14px;
    color: #EE0000;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}

.subTitle, a.subTitle, a.subTitle:hover {
    font-size: 14px;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}

.content {
    font-size: 12px;
    text-decoration: none;
    font-weight: normal
}
.contentBold {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold
}
.termsAndConditions {
    font-size: 13px;
    font-weight: normal;
}
.noltTitle {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #EE0000;
}
.noltSubTitle {
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

.leadBanner {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align:left;
    color: #000000;
}

.leadResponse {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align:center;
    color: #000000;
}

td.fullFrameHeight {
	height: 768px;
}

.tdSectionTable {
    padding: 2px 4px;
    border: 1px solid #999999;
}
.seperationBackground {
    background-color:#999999;
}
.page-utils {
    background: #FFFFFF;
}
.footer {
    color: #666666;
    font-size:  10px;
    padding: 20px;
    line-height: 1.4;
}
.loginColHeader, .loginBackground2 {
    font-size: 12px;
    font-weight: bold;
}
.loginColHeader {
    color: #FFFFFF;
    background-color: #777777;
}
.loginBackground1 {
    background-color: #F8F8F8;
}
.loginBackground2 {
    background-color: #EBEBEB;
}
.loginBackground3 {
    background-color: #EBEBEB;
}
.printSelect {
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
}

.textReveal {
	border: 1px solid;
	display: none;
	margin: 1em;
	padding: 0.5em;
}

.slideToggle {
	cursor: pointer;
	text-decoration: underline;
}

.email {
	float: left;
	font-weight: bold;
	width: 22em;
}

.ols_consentTable {
	margin-bottom: 2em;
	margin-right: 1em;
	width: 100%;
	border:none;
	border-collapse: collapse;
}

.ols_notification_preference_table  {
	margin-bottom: 2em;
	margin-right: 1em;
	width: 55%;
	
}

/*******************************************************************************/
/* SECTION 2: BUTTONS                                                          */
/*******************************************************************************/

/* NEW BUTTONS */

/* Negative Buttons */
.Buttons,
.backButton,
.clearButton,
.cancelButton,
.declineButton,
.noButton,
.exitButton,
.resetButton,
.cancelTransferButton,
/* Positive Buttons */
.button,
.okButton,
.displayButton,
.returnButton,
.modifyButton,
.deleteButton,
.resendSMSButton,
.nextButton,
.returnToListButton,
.submitButton,
.addBillerButton,
.addBPAYBillerButton,
.addToMyBillerButton,
.addPayeeButton,
.addToMyPayeeButton,
.bpayViewBillersButton,
.updateButton,
.searchButton,
.searchAgainButton,
.startButton,
.loginButton,
.replyButton,
.goButton,
.saveButton,
.saveToFileButton,
.selectAllButton,
.acceptButton,
.printButton,
.sendButton,
.reorderBookButton,
.stopAnotherButton,
.printTAndCButton,
.modifyAccountButton,
.addMoreCreditsButton,
.continueButton,
.printReportButton,
.viewFullBillButton,
.payBillButton,
.returnToBillSummaryButton,
.returnToSummary,
.switchOffer,
.activateNowButton,
.applyButton,
.disabledPayBillButton,
.disabledNextButton,
.disabledRedBtn,
.gbutton,
.printTCLinkButton,
.genericButton {
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
background:url("bg_btn.gif") repeat-x scroll 0 0 #CF0118;
border:1px solid #B70136;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:1.083em;
overflow:visible;
padding:3px 10px 2px;
width:auto;
cursor: pointer;
}

/* Negative Buttons */
.Buttons:hover,
.backButton:hover,
.clearButton:hover,
.cancelButton:hover,
.declineButton:hover,
.noButton:hover,
.exitButton:hover,
.resetButton:hover,
.cancelTransferButton:hover,
/* Positive Buttons */
.button:hover,
.okButton:hover,
.displayButton:hover,
.returnButton:hover,
.modifyButton:hover,
.deleteButton:hover,
.resendSMSButton:hover,
.nextButton:hover,
.returnToListButton:hover,
.submitButton:hover,
.addBillerButton:hover,
.addBPAYBillerButton:hover,
.addToMyBillerButton:hover,
.addPayeeButton:hover,
.addToMyPayeeButton:hover,
.bpayViewBillersButton:hover,
.updateButton:hover,
.searchButton:hover,
.searchAgainButton:hover,
.startButton:hover,
.loginButton:hover,
.replyButton:hover,
.goButton:hover,
.saveButton:hover,
.saveToFileButton:hover,
.selectAllButton:hover,
.acceptButton:hover,
.printButton:hover,
.sendButton:hover,
.reorderBookButton:hover,
.stopAnotherButton:hover,
.printTAndCButton:hover,
.modifyAccountButton:hover,
.addMoreCreditsButton:hover,
.continueButton:hover,
.printReportButton:hover,
.viewFullBillButton:hover,
.payBillButton:hover,
.returnToBillSummaryButton:hover,
.returnToSummary:hover,
.switchOffer:hover,
.activateNowButton:hover,
.applyButton:hover,
.gbutton:hover,
.printTCLinkButton:hover,
.genericButton:hover{
background:url("bg_btn-hover.gif") repeat-x scroll 0 0 #B90321;
}

/* OLD BUTTONS - don't need these any more, using autowidth... */
/*
.declineButton {
    width:6em
}

.cancelTransferButton {
    width:10em
}

.resendSMSButton {
    width:9em
}
.returnToListButton {
    width:9em
}
.addBillerButton {
    width:8em
}
.addBPAYBillerButton {
    width:16em
}
.bpayViewBillersButton {
    width:12em
}
.addToMyBillerButton {
    width:13em
}
.addPayeeButton {
    width:10em
}
.addToMyPayeeButton {
    width:13em
}
.searchAgainButton {
    width:9em
}
.goButton {
    width:4em;
    font-size: 1.1em;
}
.selectAllButton {
    width:7em
}
.acceptButton {
    width:6em
}
.reorderBookButton {
    width:14em
}
.stopAnotherButton {
    width:13em
}
.printTAndCButton {
    width:15em
}
.modifyAccountButton {
    width:8em
}
.saveToFileButton {
    width:8em
}
.addMoreCreditsButton {
    width:12em
}
.continueButton {
    width:7em
}
.printReportButton {
    width:10em
}
.startButton {
    width: 15em;
}
.viewFullBillButton {
    width: 9em;
}
.payBillButton {
    width: 5em;
}
.returnToBillSummaryButton {
    width: 15em;
}
.activateNowButton {
    width: 10em;
}
.returnToSummary {
    width: 15em;
}
.switchOffer {
    width: 17em;
}
*/

/* Disable Buttons */
.disabledPayBillButton
{
    background: repeat-x scroll 0 0 #C1D1F0;
    border:1px solid #C1D1F0;
}

.disabledNextButton
{
    background: repeat-x scroll 0 0 #C1D1F0;
    border:1px solid #C1D1F0;
}

.disabledRedBtn
{
    background: repeat-x scroll 0 0 #C1D1F0;
    border:1px solid #C1D1F0;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-left: 5px;	
	font-size: 12px;
}

.alignMiddle {
    vertical-align: middle;
}


.topButtonNav {
	text-align: right;
}

.buttonNav {
	margin-top: 2em;
	text-align: right;
}

/*******************************************************************************/
/* SECTION 3: Apply page                                                           */
/*******************************************************************************/

.applyButton {
    float: right;
}

.productInfo, .productHeader, .boldRed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.productInfo {
    font-style: normal;
    color: #231F20;
    /*background-color: #EBEBEB;*/
    background-color: #f5f5f5;
    padding: .5em .3em 1em .3em;
}

.productHeader {
    height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #777777;
    padding: 0 7 0 7;
}

.boldRed {
    font-size: 1em;
    color: #EE0000;

    font-weight: bold;
}

.buttonLink {
    text-decoration: none;
    color: white;
}
.buttonLink:hover {
    color:white;
}

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

.centerText {
	text-align: center;
}

.twistyToggleAll{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    outline-style: none;
    padding-left: 5px;
    cursor: pointer;
}

.centerText {
    text-align: center;

}

.nowrap {
    white-space: nowrap;
}

.invisibleText {
    display: none;
}

/*******************************************************************************/
/* SECTION 4: Print pages styles                                                          */
/*******************************************************************************/
.printColHeader,
.printContent,
.printContentBold,
.printFilterOption,
.printMessageText,
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
}

.printFilterOption {
    vertical-align: middle;
    height: 20px;
}

.printContentBold {
    font-weight: bold;
}

.printColHeader {
    vertical-align: middle;
    padding: 0.5em 0.5em;
    height: 20px;
    border-bottom: 1px solid #000000;
    font-weight: bold;
}

.printRowColor {
    font-style: normal;
    background-color: #FFFFFF;
}

.printScreenTitle {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0px 5px 20px
}

.printScreenTitleBorder {
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.printFooterBorder {
    border-top:1px solid black;
}

.printContentSideBorder,
.printEndReport,
.printSideBorder {
    border-left:1px solid black;
}

.printContentSideBorder,
.printEndReport {
    padding: 10px 0px 10px 20px;
}

.printEndReport {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height:150px;
}

.printLeftMargin {
    width:29px;
}

.printOnly {
	display: none;
}

/****************************************************************
 *  field layout - currently only used in contact details page
 ****************************************************************/
 
.data {
	clear: both;
   	display:block;
   	margin:10px 0px; /*Top and bottom 10px, left and right 0px*/
}

.fieldLabel {
	position:relative;
	width: 180px;
	float:left;
}

.fieldContent {
	position:relative;	
}

.clear {
	clear:both;
}

.authoriserTable {
	width: 500px;
}

.authoriserTable td.authCol1{
	width: 150px;
}

.authoriserTable td.authCol2{
	width: 300px;
}

.authoriserTable td.authColH {
	padding: 5px 0 5px 0;
}

/*******************************************************
 *  Use in error-nab.jsp
 *******************************************************/
 
.error-title {
  float: left;
  margin: 30px 50px 15px;  
  width: 600px;  
}

.errorbox {
  float: left;
  width: 500px;
  margin: 30px 50px;
  padding: 15px;  
  border: 1px solid gray;
}

.errorbox-important {
  color: #EE0000;
  font-weight: bold;
  margin-bottom: 1em;
}

 
#webtrends {
	width: 0px;
	height: 0px;
	display: none;
}

/*******************************************************
 *  Account summary twisty
 *******************************************************/

.twisty {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline-style: none;
    padding-left: 5px;
	vertical-align: middle;
}

.twisty a {
    cursor: pointer;
}

.twisty img{
	vertical-align: middle;
	border-style: none
}

.colheaderwidth20 {
	width: 20%; 
	white-space: nowrap;
}

.colheaderwidth40 {
	width: 40%; 
	white-space: nowrap;
}

.iSaverLink {
    bottom: 25px;
    position: relative;
}

.OLSColHeader {
	font-weight: bold;
	font-size: 1.083em;
	color: #4D4D4D;
    border-bottom: 1px solid #D5D5D5;
	margin:0;
 	padding: 10px;
}

th.OLSColHeader {
	text-align: left;
}

.OLSRow {
	margin:0;
 	padding: 10px;
    border-bottom: 1px solid #D5D5D5;
    font-size: 1.083em;
}

.blackButton {
	background: url("bg_btn_black.gif") repeat-x scroll 0 0 transparent;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border: 1px solid #000000;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 1.083em;
	overflow: visible;
	padding: 3px 10px 2px;
	width:auto;
	cursor:pointer;
}

.blackButton:hover {
	background-position: 0 100%;
	border: 1px solid #2F2F2F;
}

ul.declaration {
	list-style: lower-roman outside none;
    padding-left: 20px;
}

.alignRight {
	float: right;
}

.moreSpace { margin: 7px 0px; }
