@charset "utf-8";
/* CSS Document */

body
{
	background:#FFF;
	font-family:Verdana, Geneva, sans-serif;
}

#maincover
{
	width:996px;
	height:auto;
	margin:auto;
}

#maincover .logo
{
	width:38px;
	height:auto;
	margin:10px 5px;
}

#maincover .line
{
	width:100%;
	height:auto;
	margin:0px;
	margin-bottom:60px;
	border-bottom:solid 1px #CCC;
}

#dropboxmaincontent
{
	width:840px;
	height:auto;
	margin:auto;
}

#dropboxmaincontent table
{
	width:100%;
	height:auto;
	border:none;
}


#dropboxmaincontent table td.mainlogo
{
	width:400px;
}

#dropboxmaincontent table td.mainlogo img
{
	cursor:none;
}

#dropboxmaincontent table td h1
{
	width:90%;
	padding:0px;
	margin:auto;
	font-size:32px;
	color:#1081DE;
}

#dropboxmaincontent table td h5
{
	width:90%;
	padding:5px 0px;
	margin:auto;
	margin-bottom:20px;
	font-size:13px;
	color:#666;
}

#dropboxmaincontent table td table td
{
	padding:10px 0px;
	text-align:center;
}

#dropboxmaincontent table td table td img
{
	cursor:pointer;
}

#wrapper{
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	margin:0 auto;
	width:800px;
	margin-top:50px;
}

#wrapper a{
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}

.box, #box {
    background-color: #ffffff;
    color: #888888;
    height: 350px;
    left: 100%;
    padding: 20px;
    position: fixed;
    right: 30%;
    top: 25%;
    width: 555px;
    z-index: 101;
	border:15px solid #ddd;
	border-radius:10px;
	-moz-border-radius:10px;
}

.overlay {
    background: #000000;
	display:none;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
	opacity:0.5;
}

a.boxclose {
    background: url("cancel.png") repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 32px;
    position: relative;
    top: -33px;
    width: 26px;
}
