.cloudzoom-lens{border:none;border:1px solid #888;width:100px;height:100px;box-shadow:-0px -0px 10px rgba(0,0,0,0.40);cursor:crosshair;}
.cloudzoom-zoom{border:1px solid #888;box-shadow:-0px -0px 10px rgba(0,0,0,0.40);}
.cloud-zoom-gallery .border{border-width:1px;border-style:solid;border-right:none;}
.border-right{border-right-width:1px;border-right-style:solid;}
.cloudzoom-caption{display:none;text-align:left;background-color:#000;color:#fff;font-weight:bold;padding:10px;font-family:sans-serif;font-size:11px;}
.cloud-zoom-lens{border:5px solid #FFF;margin:-5px;cursor:move;}
.cloud-zoom-title{display:none;font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:5px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
.cloud-zoom-big{border-width:5px;border-style:solid;box-shadow:0 0 10px #111;overflow:hidden;}
.cloud-zoom-loading{color:white;background:#222;padding:3px;border:1px solid #000;}