/* Using CSS3 for some visual enhancements. (Will be degraded

	nicely for non-CSS3 browsers.)

-------------------------------------------------------------*/


.success-msg,

.error-msg,

.group-select,.fieldset {

	border-radius:10px;

	-moz-border-radius:10px;

	-webkit-border-radius:10px;

	-o-border-radius:10px;

}

