#yt_slider .container-slider .page-button .control-button .next,
#yt_slider .container-slider .page-button .control-button .preview{background:url(carousel-control.png) no-repeat;}
.header-bottom{background-color:#FFF;}
.buttons-set .button:hover,.btn-proceed-checkout.btn-checkout.button,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm-block.sm-list .products-grid .item-inner .item-box-hover a.btn-cart:hover,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm-block.sm-list .products-grid .item-inner .item-box-footer a.readmore:hover,
.block-user5 .actions .button,
.multiple-checkout .button,
.col-left button.button,
button.button:hover,
.box-tags .button,
.block-tags .actions a:hover,
.block-poll .actions .button:hover,
.block-subscribe .actions .button:hover ,
.button:hover, .form-button:hover,
.block-wishlist .link-cart:hover,
.products-grid .item-inner .item-box-hover a.btn-cart,
.products-grid .item-inner .item-box-hover a.readmore,
.yt-col .block .block-title,
.item-box-hover p.no-rating a:hover, .item-box-hover .actions .add-to-links li a.link-compare:hover, .item-box-hover .actions .add-to-links li a.link-wishlist:hover,
ul.yt-tab-navi li.active,
.cloud-zoom-lens ,
.block-reorder .btn-cart:hover, .data-table .btn-cart:hover, .product-shop .btn-cart:hover,
#yt-totop,
.block-social ul li a:hover span,
.btn-cart:hover,
.shop-access .mini-cartpro .block-content .button:hover,
.shop-access .mini-cartpro .block-content .btn-remove:hover,
.shop-access .mini-cartpro .block-content .btn-edit:hover,
span.quantity-controls input.quantity-controls:hover,
.sm_sport #btcshop:hover,
.sm_sport #btccart:hover,
.block-social li a:hover ,
.block-newsletter ,
.category-products.products-grid .product-image:after,
.category-products .products-list .product-imgs:after,
.block-bestsale-left #homeCarousel .carousel-indicators li.active,
.block-bestsale-left #homeCarousel .carousel-indicators li:hover,
.slide-wrap .dynamicslideshow-container .tparrows:hover,
.block-post-lastest ,
.block-post-lastest:after ,
.block-post-lastest:before ,
.block-post-lastest .block-title h3,
.banner-cat .banner a ,
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu .block-services ul li .item-head,
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu .product-imgs:hover:before,
.page-about-us .col3-set [class*="col-"],
.block-address,
.mini-cartpro .block-title .i-cart,
.top-search .button,
.block-newsletter:hover button,
.bgcolor{background-color:#FFF;color:#333;}
.bottomsl-wrap .banner-cat .banner h1 span,
.bgcolor-opt{background-color:#f3734f;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity:0.9;opacity:0.9;}
.products-grid .item-inner .item-box-footer .btn-cart:hover,
.sm-block-static .products-grid .item-inner .item-box-footer .btn-cart:hover,
.bgcolor-hover:hover{background-color:#ea0001;}
.bgcolor2{background-color:#fff0f5;}
.bgcolor2-hover:hover{background-color:#fff0f5;}
.bgcolor3{background-color:#f5f5f5;}
.bgcolor4{background-color:#323232;}
.bgcolor4-hover:hover{background-color:#323232;}
.header-nav .sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu > li:hover > a,
.header-nav .header-nav-container-home ul#nav > li:hover > a ,
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu > li.sm_megamenu_actived > a ,
.header-nav-container-home ul#nav > li.active > a{background-color:#000;color:#FFF;}
.topsl2-wrap .inner-border,
#yt_header,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1 > div,
.cloud-zoom-big ,
.border,
.login-quick,
.bottom-footer a:hover .item-hightlight,
.shop-access .mini-cartpro .block-content:before{border-color:#f3734f transparent;}
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu .sm_megamenu_id83 > [class*="sm_megamenu_col_"] > .sm_megamenu_head_item .sm_megamenu_title,
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu .sm_megamenu_id6 > [class*="sm_megamenu_col_"] > .sm_megamenu_head_item .sm_megamenu_title,
.shop-access .mini-cartpro .block-content ,
.mini-cartpro .block-content .mini-products-list .product-image:hover,
.block-related .product-image:hover,
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus,
.item-inner:hover .border-hover{border-color:#f3734f;}
.li-add li > a:after{border-color:#f3734f transparent transparent;}
#sm_slideshow .custom-title a.title-sl2 ,
#sm_slideshow .custom-content span.content-sl2{border-left-color:#f3734f;}
.col-upsell-product,
.col-left .block-bestsale-left{border-top-color:#f3734f;}
.header-nav-container-home ul#nav li:hover ul,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:hover [class*="sm_megamenu_dropdown_"] ,
.product-img-box .more-views li a.actived.cloud-zoom-gallery .bgopacity{border-color:#f3734f;}
.header-nav-container-home ul#nav > li.active:after,
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu > li.sm_megamenu_actived:after{border-color:#ff9d81 transparent transparent;border-color:#ff9d81 rgba(255,255,255,0) rgba(255,255,255,0);}
.header-top .jqTransformSelectWrapper ul a:hover,
.jqTransformSelectWrapper ul a.selected:hover,
.header-top .language-switcher:hover .jqTransformSelectWrapper div > span,
.header-top .currency-switcher:hover .jqTransformSelectWrapper div > span,
.actions .add-to-links li a,
.item-box-hover .no-rating a,
a:hover, a:active, a:focus ,
.sm_megamenu_menu .sm-block.sm-list .products-grid .item-inner .item-box-hover a.btn-cart span,
.sm_megamenu_head_item .sm_megamenu_title a:hover span ,
.products-grid .ratings .amount a:hover,
.product-essential .ratings .rating-links a:hover ,
.products-list .ratings .rating-links a:hover,
#crosssell-products-list .add-to-links li a:hover,
.product-essential .add-to-links a:hover,
.box-main .add-to-links a:hover,
.product-essential .no-rating a:hover,
.no-rating a:hover,
.link-mail:hover ,
.item-box-hover a.btn-cart:hover,
.item-box-hover a.readmore:hover,
.yt-info ul li a,
.block.block-cart .block-content .amount a,
.position-2 .block-content a,
.yt-col .block-compare .block-content a,
.block-user5 li a:hover,
.product-name a:hover,
.ytc_background_theme1 .ytc-content-slickslider .content-box .block-title a,
.rating-links .add-your-review:hover, .review-num:hover, .add-your-review:hover,
.product-box li:hover a.link-wishlist,
.product-box li:hover a.link-compare,
.block-layered-nav dd li a:hover,
.block-layered-nav dd li a:active,
.block-layered-nav dd li a:focus,
#yt_sidenav li.selected a.subhead:hover ,
#yt_sidenav li.parent:hover a.subhead ,
#yt_sidenav li a.subhead:hover ,
#yt_sidenav li li a:hover,
#yt_sidenav li li a.current,
#yt_sidenav li li a:active,
#yt_sidenav li li a:focus,
#yt_sidenav li li.active li a:hover,
#yt_sidenav li li.active li a:active,
#yt_sidenav li li.active li a:focus,
#yt_sidenav li.selected a.subhead,
#yt_sidenav li a.subhead.current,
#yt_sidenav li.level0 > a.current,
.copy-right a ,
.shop-access li:hover > a,
.block-reorder .actions a:hover,
#sm_slideshow .dynamicslideshow-container a:hover,
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu .block-services ul li .item-content a,
.pagination .pages li.current a, .pagination .pages li:hover a,
.page-about-us .col2-set .col-item > a ,
#confirmbox .product-name > a:hover,
.bottom-footer .stylelist .block-content ul li:hover a,
.mini-cartpro .block-title .summary .amount a,
.block-tags .block-title a,
.linkcolor{color:#2e4c3a;}
.box .content img,
.block .block-content img ,
.contact-info .title,
.block-user7 .lastest-twitter .item-article .item-hightlight,
.shop-access ul.links.nav li:hover .mini-cartpro .block-title,
.contact-form .page-title h1,
.category-products .price-box,
.top-footer .title,
.out-of-stock span, .in-stock span,
.block-layered-nav dt:hover > span,
#yt_current_content .block-currency .block-content .subtotal .price,
#yt_current_content .block.block-cart .block-content .subtotal .price,
#review-form .form-list label,
.block-bestsale-left .price-box ,
.block-layered-nav dt.accordion-open,
input.quantity-input,
.box-reviews .review-title span,
.bottom-footer .block-title span span,
.price-box ,
#yt_mainnav_mobi .selector span,
#bd .btn-edit:hover, .icon-pencil:hover ,
.actions input.submit-repl:hover,
.btn-contact:hover,
#contactForm .fields .field:hover ,
#contactForm .fields .field:focus ,
#contactForm .wide:hover ,
#contactForm .wide:focus ,
.mini-cartpro .block-content .bottom-action .subtotal .price,
.sm-cartpro .price,
.block-cart .subtotal .price,
.fontcolor,
.textcolor{color:#2e4c3a;}
ul.yt-tab-navi li.active a ,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_actived ,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover a.sm_megamenu_head,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_nodrop:hover a:hover ,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li div div.sm_megamenu_title a:hover,
.fontcolor2-ipt{color:#f3734f !important;}
h1#logo a{background:url(logo-home.png) no-repeat 0 0 transparent;}
.logo-item{background:url(http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/logo-social.png) no-repeat 0 0 transparent;}
.block-item .block-content .article .readmore{background:url(http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/logo-readmore.png) no-repeat center center transparent;}
.btn-remove, .i-cancel-circle, .icon-cancel-circle{background:url(logo-close.png) no-repeat 0 0 transparent;}
.block-cart .button > span,
.block-cart .form-button > span,
.block-compare .button > span,
.block-compare .form-button > span{}
#nav > li.parent > a,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_drop .sm_megamenu_head{}
.header-top{background-color:#FFF;}
.top-link-cart > span{background:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/items.png") no-repeat scroll center center transparent;}
.facebook a{background-image:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/face.png");}
.boubledot a{background-image:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/dbd.png");}
.googleplus a{background-image:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/plusd.png");}
.twitter a{background-image:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/twit.png");}
.versi a{background-image:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/ver.png");}
.balls a{background-image:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/ball.png");}
button:hover span.send-mail-button{background-image:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/sendmail.png");}
.button.register-button span{}
.btn-cart:hover{}
.view-mode a.grid:hover:after,
.view-mode strong.grid:after{background:url("grid-list.png") no-repeat 0 0 transparent;}
.view-mode a.list:hover:after,
.view-mode strong.list:after{background:url("grid-list.png") no-repeat 100% 0 transparent;}
#yt_pathway .breadcrumbs li.home{background:url("logo-breadcrum-home.png") no-repeat 0 4px transparent;}
.col-left .block-title{}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_title a:hover span,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu ul.custom li a:hover span,
.header-nav-container-home ul#nav li ul li a:hover{background-image:url("ar-h.png") !important;}
.bottomsl1-wrap .block-newsletter .actions button.button > span{background:url("http://lawavesurf.com/site/skin/frontend/default/sm_sport/images/tomato/newsletter.png") no-repeat scroll 0 0 transparent;}
.bottom-footer .stylelist .block-content ul li:hover{background-image:url("logo-li.png");}
.bottom-footer .block-user1 .block-title:before{background:url("icon-help.png") no-repeat scroll 0 0 transparent;}
.bottom-footer .block-user2 .block-title:before{background:url("icon-order.png") no-repeat scroll 0 0 transparent;}
.bottom-footer .block-user3 .block-title:before{background:url("icon-join.png") no-repeat scroll 0 0 transparent;}
.bottom-footer .block-user4 .block-title:before{background:url("icon-contact.png") no-repeat scroll 0 0 transparent;}
.block-freeshipping .block-content{background:url("icon-freeshipping.png") no-repeat scroll 0 5px transparent;}
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu .block-services ul li .item-content a.item-detail:after ,
.yt-slider .yt_so_article_theme_nav .so_navigation_nav [class*="buttons-hover_"]{background-image:url("carousel-control.png");}
#sm_slideshow .dynamicslideshow-container .custom-content a.btn-shopnow:after,
#homeCarousel .carousel-control{background-image:url("carousel-control-sub.png");}
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu #hotCarousel .carousel-control{background-image:url("carousel-control-bold.png");}
.product-add-box li:hover a{background-image:url("logo-plus.png");}
.more-views-control .next, .more-views-control .prev{background-image:url("bg-nextprev.png");}
#product-review-table .radio span{background-image:url("input-radio.png");}
.slide-wrap .dynamicslideshow-container .tp-bullets.simplebullets.square .bullet{}
.slide-wrap .dynamicslideshow-container .tp-leftarrow{background-image:url("large_left.png");}
.slide-wrap .dynamicslideshow-container .tp-rightarrow{background-image:url("large_right.png");}
.box-reviews a.btn-addreview:hover,
.sm-responsive-listing .respl-wrap .respl-loader.respl-btn:hover{color:#ffffff;border:none;border-radius:0px;margin-top:50px;margin-bottom:20px;background:rgb(245,142,114);background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1OGU3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZjU4ZTcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiNmMzczNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjM3MzRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);background:-moz-linear-gradient(top, rgba(24,51,30,1) 0%, rgba(24,51,30,1) 2%, rgba(24,51,30,1) 2%, rgba(24,51,30,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,51,30,1)), color-stop(2%,rgba(24,51,30,1)), color-stop(2%,rgba(243,115,79,1)), color-stop(100%,rgba(243,115,79,1)));background:-webkit-linear-gradient(top, rgba(24,51,30,1) 0%,rgba(245,51,30,1) 2%,rgba(243,51,30,1) 2%,rgba(243,51,30,1) 100%);background:-o-linear-gradient(top, rgba(24,51,30,1) 0%,rgba(24,51,30,1) 2%,rgba(24,51,30,1) 2%,rgba(24,51,30,1) 100%);background:-ms-linear-gradient(top, rgba(24,51,30,1) 0%,rgba(24,142,114,1) 2%,rgba(24,115,79,1) 2%,rgba(24,115,79,1) 100%);background:linear-gradient(to bottom, rgba(24,51,30,1) 0%,rgba(24,51,30,1) 2%,rgba(24,51,30,1) 2%,rgba(24,51,30,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58e72', endColorstr='#f3734f',GradientType=0);}
.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu .product-imgs:hover:after{box-shadow:0 0 0 3px #f3734f inset;}
.page-about-us .item-img > a{}
#contactForm .wide:hover textarea,
#contactForm .field:hover input{box-shadow:0px 0px 5px 1px #f3734f;}
#contactForm .logoinput{background-image:url("logo-contactform.png");}
.shop-access ul.links.nav > li:first-child > a:before{background-image:url("account.png")}
.shop-access ul.links.nav > li:first-child + li > a:before{background-image:url("wishlist.png")}
.shop-access ul.links.nav > li:first-child + li + li + li > a:before{background-image:url("checkout.png")}
.shop-access ul.links.nav > li.last > a:before,
.shop-access ul.li-add > li > a:before{background-image:url("login.png")}
#yt_mainnav_mobi .selector, #yt_mainnav_mobi .selector span{background-image:url("mobilemenu-bg.png");}
#sm_slideshow .custom-button .btn-shopnow:after{background-image:url("btn-shopnow.png");}
#sm_slideshow .custom-button .btn-shopnow.btn-sl4:after{background-image:url("btn-shopnow-sl4.png");}
.button .btn-continue:hover{background-color:#fff;}