* {
    margin: 0;
    padding: 0;
}
html, body, div, img, i, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
}
html {
    padding-bottom: 50px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.b0{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.wrapper {
    width: 460px;
    margin: 0 auto 0 auto;
	vertical-align:middle;
}
/*Framword*/
.fleft {
	float: left;	
}
.fright {
	float: right;	
}
.chng{
	color: #09F;
	text-decoration: none;
	margin-top: 24px;
}
#loginform{
	padding: 70px;
	background-color: #f7f9fa;
	width: 320px;
	min-height: 375px;
	margin: auto;
	border-radius: 5px;
	margin-top: 50px;
}
.inpclassic{
  border: 1px solid #9DA3A6;
  width: 296px;
  margin-top: 20px;
  background: #FFF none repeat scroll 0% 0%;
  color: #000;
  border-radius: 5px;
  padding: 12px;
}
.inpclassic:focus{
	padding: 12px;
	border-radius: 5px;
	border: 1px solid #2DB9FF;
	width: 296px;
	margin-top: 20px;
}
.inpclassicsumblit{
width: 320px;
margin-top: 20px;
background-color: #009CDE;
font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
color: #FFF;
display: block;
box-sizing: border-box;
cursor: pointer;
-moz-appearance: none;
text-align: center;
text-shadow: none;
text-decoration: none;
transition: background-color 0.4s ease-out 0s;
font-weight: 700;
font-size: 1em;
border-radius: 5px;
box-shadow: none;
border: 0px none;
padding: 12px;
}
.inpclassicsumblit:hover{
width: 320px;
margin-top: 20px;
background-color: #009CDE;
font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
color: #FFF;
display: block;
box-sizing: border-box;
cursor: pointer;
-moz-appearance: none;
text-align: center;
text-shadow: none;
text-decoration: none;
transition: background-color 0.4s ease-out 0s;
font-weight: 700;
font-size: 1em;
border-radius: 5px;
box-shadow: none;
border: 0px none;
padding: 12px;
text-decoration: underline;
}
.inpclassicsign{
padding: 15px;
border-radius: 5px;
border: 0px solid #CCC;
width: 320px;
margin-top: 25px;
background-color: #E1E7EB;
font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
color: #2C2E2F;
font-size: 14px;
}
.inpclassicsign:hover {
padding: 15px;
border-radius: 5px;
border: 0px solid #CCC;
width: 320px;
margin-top: 25px;
text-decoration: underline;
background-color: #E1E7EB;
font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
color: #2C2E2F;
font-size: 14px;
}
.wrapper #loginform p {
	text-align: center;
	margin-top: 25px;
}
.wrapper #loginform p a {
font-family: Arial,Helvetica,sans-serif;
font-size: 15px;
color: #008AC5;
outline: 0px none;
text-decoration: none;
}
.wrapper #loginform p a:hover {
font-family: Arial,Helvetica,sans-serif;
font-size: 15px;
color: #008AC5;
outline: 0px none;
text-decoration: underline;
}
.wrapper #loginform hr {
	margin-top: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	height: 1px;
	background-color: #CCC;
}
#header{
	border-bottom: solid 1px #CCC;
	height: 70px;
	
}
#header p{
float: right;
margin: 18px -71px;
font-size: 11px;
color: #FFF;
background: #009CDE none repeat scroll 0% 0%;
border-radius: 5px;
display: inline-block;
padding: 9px 15px 10px;
line-height: 1.4545em;
text-align: center;
font-weight: bold;
}
.logo{
	margin: 10px;
	float: left;
}
#acc{
	width: 480px;
	margin: 40px auto 0 auto;
	border: 0px solid #000;
}
#acc h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28pt;
	font-weight: normal;
	color: #2C2E2F;
}
.wrapper #acc p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5pt;
	color: #999;
	font-weight: normal;
	margin-top: 20px;
	line-height: 20px;
}
.wrapper #acc h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	color: #999;
	margin-top: 20px;
	padding: 4px;
}
.wrapper #acc h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	color: #999;
	padding-top: 8px;
}
.wrapper #acc .inp {
padding: 0px 10px;
border: 1px solid #9DA3A6;
margin: 5px;
font-size: 1em;
color: #000;
box-shadow: none;
border-radius: 5px;
font-family: Helvetica,Arial,sans-serif;
font-weight: 400;
text-overflow: ellipsis;
width: 100%;
height: 40px;
}
.wrapper #acc .inp:focus {
padding: 0px 10px;
border: 1px solid #2DB9FF;
margin: 5px;
font-size: 1em;
color: #000;
box-shadow: none;
border-radius: 5px;
font-family: Helvetica,Arial,sans-serif;
font-weight: 400;
text-overflow: ellipsis;
width: 100%;
height: 40px;
}
.wrapper #acc .inp2 {
font-family: arial,Helvetica,sans-serif;
font-size: 11px;
color: #000;
font-weight: normal;
padding: 14px;
border-radius: 4px;
margin: 5px;
float: left;
border: 1px solid rgb(157, 163, 166);
}
.wrapper #acc select {
font-family: Helvetica,Arial,sans-serif;
font-size: 1em;
color: rgba(44, 44, 44, 0.85);
font-weight: 400;
padding: 0px 10px;
border-radius: 5px;
border: 1px solid rgba(44, 44, 44, 0.46);
margin: 5px;
float: left;
box-shadow: none;
text-overflow: ellipsis;
width: 100%;
height: 40px;
}
.inpdiv{
    float: left;
    margin-top: 10px;
}
.inpdiv i{
	font-family: arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #999;
	font-weight: normal;
	font-style: normal;
	padding: 5px;
}
.wrapper #acc .agree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 22px;
}
.wrapper #acc p a {
	color: #008AC5;
	text-decoration: none;
}
.wrapper #acc p a:hover {
	color: #008AC5;
	text-decoration: none;
        text-decoration: underline;
}
.inpclassicsumblit2{
	padding: 15px;
	border-radius: 5px;
	border: 0px solid #CCC;
	width: 100%;
	margin-top: 20px;
	background-color: #009CDE;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	font-size: 16px;
}
.inpclassicsumblit2:hover{
	padding: 15px;
	border-radius: 5px;
	border: 0px solid #CCC;
	width: 100%;
	margin-top: 20px;
	background-color: #009CDE;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	font-size: 16px;
        text-decoration: underline;
}
.wrapper #acc img {
	margin-top: 10px;
}
hr {
	height: 0px;
	background-color: #CCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
#loginppl{
	text-align: center;
	padding: 30px;
}
.wrapper #loginppl h1 {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #999;
}
.wrapper #loginppl img {
	margin: 20px;
}
.wrapper #loginppl p {
	font-size: 12px;
	color: #999;
}

#clam{
	background-color: #fff6f7;
	border: 1px solid #cc3333;
	padding: 8px;
	border-radius: 5px;
	margin-top: 20px;
}
#clam img{
	float: left;
	margin-top: 10px;
}
#clam i{
	float: left;
	width: 250px;
	margin: 10px;
	font-size: 15px;
	color: #333;
	font-style: normal;
}
#footer p{
	position:absolute;
	top:-999px;
	left:-9999px;
	display: none;
	visibility: hidden;
}