.price-countdown{
	background: #cecece;
	display: inline-block;
	padding: 10px;
}
.price-countdown i{
	margin-right: 5px;
	font-size: 14px;
}

.price-countdown-wrapper .price-countdown-product{
margin-bottom: 10px; 
}
.price-countdown .count-down-timer span.countdown-time{
	background: #282828;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	padding: 3px 4px;
	font-size: 10px;
	display: inline-block;
}
.price-countdown .count-down-timer span.countdown-time-group{
	display: inline-block !important;
	font-size: 10px;
	margin-left: 2px;
	text-align: center;
}
.price-countdown .count-down-timer span.countdown-time-group *{
	display: inline !important;
}
.product-image-container .price-countdown{
	opacity: 0.8;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   	backface-visibility: hidden;
	text-align: center;
	overflow: hidden;
	margin: auto;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.product-container.hovered .price-countdown{
	display: block;

}

#buy_block .price-countdown-title{
	display: inline-block;
	margin-right: 5px;
}
#buy_block .count-down-timer{
	display: inline-block;
	vertical-align: middle;	
}