TH { font-size: 10pt; font-family: tahoma,arial; background-color: rgb(220,220,250); }
TR { font-size: 10pt; font-family: arial; color: #000000; background-color: #FFFFFF; } 
TR.odd { font-size: 10pt; font-family: tahoma,arial; color: #000000; background-color: #FFFFFF; } 
TR.even { font-size: 10pt; font-family: tahoma,arial; color: #000000; background-color: #F0F0F0; }
TD.nodd { font-size: 10pt; font-family: tahoma,arial; color: #000000; background-color: #FFFFFF; } 
TD.neven { font-size: 10pt; font-family: tahoma,arial; color: #000000; background-color: #F0F0F0; }

TABLE.lightborder 
{ border-width:1pt; border-style: solid; border-color: rgb(250,110,0);}
/* rgb(90,5,50); */
body {

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Arial;
	font-size: 10pt;
}

p {

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Arial;
	font-size: 10pt;
}


body.iframe {
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Arial;
	font-size: 10pt;
}


.normal { 
	font-family: tahoma,arial; font-size: 10pt; font-weight: 600; 
	color: rgb(60,65,65);
	}
.error { 
	font-family: tahoma,arial; font-size: 10pt; font-weight: 600; 
	color: rgb(250,15,15);
	}

.normallight { 
	font-family: tahoma,arial; font-size: 10pt; 
	color: rgb(60,65,65);
	}

.upmenu { 
	font-family: tahoma,arial; font-size: 8pt; font-weight: 600; 
	margin-left: 10px; margin-right: 10px;
	color: rgb(60,65,65);
	}
.small { 
	font-family: tahoma,arial; font-size: 8pt; 
	margin-left: 10px; margin-right: 10px;
	color: rgb(60,65,65);
	}

.cpr {	font-family: tahoma; font-size: 8pt;
	color: #8080FF;
	text-decoration: none;
  }

A.umlink:link 
{
font-family: Tahoma; font-size: 9pt; font-weight: 600; 
text-decoration:none; color: rgb(120,5,70); 
background-color: rgb(240,240,240);
}
A.umlink:visited 
{ 
font-family: Tahoma; 
font-size: 9pt; font-weight: 600; 
text-decoration:none; 
color: rgb(120,120,120); 
background-color: rgb(240,240,240);
}
A.umlink:hover 
{ 
font-family: Tahoma; font-size: 9pt; font-weight: 600; 
text-decoration:none; 
color: rgb(240,30,30); 
background-color: rgb(240,240,240);
}

A.mlink:link { font-family: Tahoma; font-size: 10pt; text-decoration:none; color: rgb(120,5,70); }
A.mlink:visited { font-family: Tahoma; font-size: 10pt; text-decoration:none; color: rgb(120,120,120); }
A.mlink:hover { font-family: Tahoma; font-size: 10pt; text-decoration:none; color: rgb(240,30,30); }

INPUT {
background-color: #f5f5f5;
color: black;
font-family: tahoma,arial, verdana, ms sans serif;
font-weight: normal;
border: #000000 1px solid;
font-size: 10pt;
} 

.inpbox {
background-color: #f5f5f5;
color: black;
font-family: tahoma, arial, verdana, ms sans serif;
font-weight: normal;
border: #000000 1px solid;
font-size: 10pt;
} 

TEXTAREA {
background-color: #f5f5f5;
color: black;
font-family: tahoma,arial, verdana, ms sans serif;
font-weight: normal;
border: #000000 1px solid;
font-size: 10pt;
}

.ta {
background-color: #f5f5f5;
color: black;
font-family: tahoma,arial, verdana, ms sans serif;
font-weight: normal;
border: #000000 1px solid;
font-size: 10pt;
}

.optbox {
background-color: #f5f5f5;
color: black;
font-family: arial, verdana, ms sans serif;
font-weight: normal;
border: #000000 1px solid;
font-size: 10pt;
} 

.select {
background-color: #f5f5f5;
color: black;
font-family: arial, verdana, ms sans serif;
font-weight: normal;
border: #000000 1px solid;
font-size: 10pt;
} 

select {
background-color: #f5f5f5;
color: black;
font-family: arial, verdana, ms sans serif;
font-weight: normal;
border: #000000 1px solid;
font-size: 10pt;
} 

h2 {
	color: rgb(130,120,250);
	margin-left: 5px; margin-right: 5px;
	text-align: left;
	font-family: Tahoma, Georgia, Arial;
	font-size: 12pt;
	font-weight: 500;
	line-height: 1.3em;
	border-style: solid;
	border-color: rgb(130,120,250);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}

h1 {
	color: rgb(130,120,250);
	margin-left: 5px; margin-right: 5px;
	text-align: left;
	font-family: Tahoma, Georgia, Arial;
	font-size: 12pt;
	font-weight: 500;
	border-color: rgb(130,120,250);
}


.button {
background-color: #e1f1f1;
font-family: verdana;
border: #000000 1px solid;
font-size: 12px;
color: #000000;
}
