@import url("http://membercenter.cn.made-in-china.com/style/photoborder.css");
@import url("sitebar-cn.css");
@import url("sitefooter-cn.css");
@import url("http://membercenter.cn.made-in-china.com/style/ui/u-btn.css");
@import url("http://membercenter.cn.made-in-china.com/style/ui/ui-form.css");
body{background-color:#fff;margin:0;padding:0;padding-bottom:2em;font-family:Tahoma,Arial,simsun,sans-serif;}
form{margin:0;padding:0}
body,td,th{color:#333;font-size:12px;line-height:1.35}
div,td,th{text-align:left}
h1,h2,h3,h4,h5,p,ul,li{margin:0;padding:0}
ul,li{margin:0;padding:0;list-style:none}
a *{cursor: pointer}
a img{border:none}
img, select, input, button {vertical-align:middle}
body img.valign{vertical-align:-2px}
a:link,a:visited{color:#005aa8;text-decoration:none}
a:hover{color:#d50e13;text-decoration:underline}
em{font-style:normal}
.gray,.cgray{color:#999}
.gray{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px}
.gray2 {color: #999999;font-weight: normal;font-family: Arial, Helvetica, sans-serif;}
.remark{font-size:12px}
.asterisk{color:#FF3300;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:normal}
/*reservedWords*/
.r{text-align:right}
.l{text-align:left}
.c{text-align:center}
.fr{float:right}
.fl{float:left}
.clr{clear:both}
.hide{display:none}
.nobr{white-space:nowrap}
body .nt{border-top-width:0}
/*Header*/
#top,#nSt,#nEd,#nav,#pr a,#pr a:hover,#pr span,#nav #pr .now a,#nav #pr .now span,#les,#search button,#sSt,#sEd,#navM,#hl a,#search{background-image:url(http://membercenter.cn.made-in-china.com/images/heafot2010.png)}
/*Lang*/
#top{background-position:left -281px;background-repeat:repeat-x;border-bottom:solid 1px #ECECEC}
#top a{margin-left:16px;font-family:Tahoma, Arial,simsun, sans-serif}
#top a:link,#top a:visited{color:#333}
#top a:hover{color:#c0030a;text-decoration:none}
#top .ln{border:none}
#top{margin:auto;margin-bottom:6px;background-color:#f9fcff;height:25px;font-size:12px;}
#welcome #hr{float:right;margin-top:4px;}
#welcome #hl{float: left;padding-top:4px}
#hl a{background-position:left -319px;background-repeat:no-repeat;padding-left:10px}
/*#welcome img{vertical-align:middle}*/
#welcome .hright{float:right;margin-top:5px;>margin-top:7px;padding-right:20px}
#welcome,#header,#footer,#fLink,#searchbottom,#dir,#search,#main{margin:auto}
/*Header*/
#logobanner{height:67px}
#header{overflow:hidden;zoom:1;border-bottom:solid 1px #BD0507}
#logobanner a{float: left}
#banner{float:right;padding-right:14px}
#banner a{float:none}
#banner .banneraslogo{margin-left:423px;z-index:1;position:absolute}
.header{padding-bottom:10px;overflow:hidden;*zoom:1}
.header .header-main,
.header .header-sub{float:left}
.header .header-sub{font-size:24px;font-family:'Microsoft Yahei',arial,sans-serif;color:#999;font-weight:normal;margin:20px 0 0 20px}
/*Nav*/
#nav{height:31px;overflow:hidden;background-position:left -168px;background-repeat:repeat-x;zoom:1}
#nSt,#nEd{display:none}
#pr li, #pr a, #pr span{height:31px;line-height:31px;line-height:34px\9;float:left}
#pr li{list-style:none;margin-right:2px}
#pr a{background-position:left -24px;padding-left:20px;color:#333;font-weight:bold;color:#8b573d;cursor:pointer;font-size:14px}
#pr a:hover{text-decoration:none;color:#c0030a}
#pr span{background-position:right -24px;padding-right:20px}
#pr .now a,#pr .now a:hover{background-position:left -55px;color:#fff !important}
#pr a:hover{text-decoration:none;color:#c0030a}
#pr .now span{background-position:right -55px}
#les{float:right;margin-top:10px}
#les li{float:left;margin:0 8px 0 10px;list-style:none}
#nav img{display:block}
#les a{display:inline-block;padding-left:18px;background-image:url("http://membercenter.cn.made-in-china.com/images/home/home_icon.gif");background-repeat:no-repeat;color:#333}
#les a:hover{color:#c0030a;text-decoration:none;}
#abiz a{background-position:-55px -499px}
#tmm a{background-position:-55px -38px}
#nAs a{background-position:-55px -63px}
#nAbiz a i{display:inline-block;padding-left:20px;line-height:31px;line-height:34px\9;height:31px;background:url("http://membercenter.cn.made-in-china.com/images/home/home_icon.gif") -55px -491px no-repeat;background-position:-55px -492px\9;font-style:normal;}
@media screen and (-webkit-min-device-pixel-ratio:0){#nAbiz a i{background-position-y:-492px}}
#nAbiz a{padding-left:10px}
/*Search Bar*/
#search{background-position:left bottom;background-repeat:repeat-x;background-color:#F5F5F5}
#sM{border:solid 1px #C4C4C4;border-top:none}
.search{padding-top:7px;height:32px;padding-left:72px}
.search .inputtext,.search .byselect{border:1px solid #b21a05;padding:2px}
.search .dropFst,.search .dropItem{float:left;border-top:1px solid #C4C4C4;border-left:1px solid #C4C4C4;border-right:1px solid #D9D8D8;border-bottom:1px solid #D9D8D8}
.search .dropFst input,.search .dropItem input{padding-left:2px}
.search .dropFst input{height:18px;width:350px;padding-top:3px;border:0}
.search .dropItem{position:relative;z-index:999px;margin-left:2px}
.search #dropItem2,.search #dropItem3{width:auto}
.search #dropItem2 input,.search #dropItem3 input{width:157px;border:none;}
.search .dropItem .drop{color:#666;background:#fff url(http://membercenter.cn.made-in-china.com/images/common/bg_drop.gif) no-repeat right top;border:none;height:17px;padding-top:3px;line-height:20px;padding-bottom:2px;width:90px;padding-left:3px;cursor:default}
.search .dropItem .onInputBox{background-position:right -22px}
.search .dropItem .inInputBox{background-position:right -44px}
.search #catalogs .drop{width:134px}
.search ul.options{background:#FFF;position:absolute;border-bottom:1px solid #666;border-right:1px solid #666;border-left:1px solid #ccc;display:none}
.search ul.options li{line-height:1.7;padding-left:3px}
.search #catalogs ul.options{width:137px}
.search .options li:hover,.search .options li.hover{background-color:#818183;color:#FFF;cursor:default}
.search .searchBox button{border:none;color:#ffeebc;font-size:14px;font-weight:bold;height:28px;margin-left:5px;padding:0;width:69px;background:url(http://membercenter.cn.made-in-china.com/images/pd/bg_search.gif) no-repeat;float:left;cursor:pointer;margin-left:7px;margin-right:4px}
#searchbottom{border:1px solid #D4D4D4;background:#E7E7E7}
#searchbottom select,#searchbottom input{padding:2px;border-top:1px solid #8e8e8e;border-left:1px solid #8e8e8e;border-right:1px solid #b8b7b7;border-bottom:1px solid #b8b7b7}
.search .valign{border:none;margin-left:5px;float:left}
.search a{color:#333;display:inline-block;margin-top:4px;margin-left:10px}
#qss{padding:0 20px 8px 20px}
#qss a{margin-left:0.5em;margin-right:0.5em;color:#333}
/* preferences setup */
#pref{margin:0 auto 5px auto;padding:5px 10px;text-align:right}
.thin #pref{width:840px}
/*SearchBottom*/
#searchbottom{text-align:center;height:30px;padding-top:8px;border:1px solid #d8d7d7;background-color:#e9e8e8;margin-bottom:1px;clear:both;margin-bottom:10px}
#searchbottom .inputtext{width:350px}
#searchbottom form{border:1px solid #e7e7e7}
#searchbottom .valign{vertical-align:middle;margin-top:-2px;border:none}
/*URHere*/
#dir h1,#dir span.h1{font-size:12px;font-weight:normal;line-height:28px;height:28px;padding-left:20px}
#main{margin-bottom:15px}

#fLink{background-image:url(http://membercenter.cn.made-in-china.com/images/footerlink.gif);background-repeat:repeat-x;background-color:#F1F2F1;height:90px;width:860px;border-top: 1px solid #e6e6e6;border-right: 1px solid #d9d9d9;border-bottom: 0;border-left: 1px solid #d9d9d9}
#fLink th,#fLink td{vertical-align:middle}
#fLink th{background-color:#f0f0f0;padding-left:15px;width:90px;line-height:35px;color:#993c00;font-size:17px;font-family:Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,SimHei,sans-serif}
#fLink td{padding-top:5px;padding-left:28px;background-image:url(http://membercenter.cn.made-in-china.com/images/footerarrow.gif);background-position:center left;background-repeat:no-repeat;overflow:hidden;line-height:1.8}
#footer{text-align:center;border-top:1px solid #dcdcdc;padding-top:10px;line-height:1.8;}
#footer a:link,#footer a:visited{color:#333}
#footer a:hover{color:#c0030a}
#footer div{text-align:center;margin:0 auto;color:#999}
#footer #footer-link a{margin:0 6px}
#footer div a{line-height:1.5;white-space:nowrap}
#footer p{margin:0}
/*NewPager*/
#pager{font-family:Arial,Helvetica,sans-serif;>font-family:inherit;line-height:normal;clear:both;text-align:center;padding:20px 0}
#pager .pageNum{text-align:center}
.pageNum a:link,.pageNum a:visited,.pageNum strong{margin-right:3px;padding:2px 3px;background-color:#fff;border:1px solid #dadbdf;color:#555}
.pageNum a:visited{color:#0B4A9F}
.pageNum a:hover,.pageNum b a:hover,.pageNum .now:link,.pageNum .now:visited,.pageNum .now:hover,.pageNum strong{background-color:#f34602;border-color:#cb430f;color:#FFF !important}
.pageNum img{border:none;margin:0}
.pageMark{font-family:tahoma,Arial,Helvetica,sans-serif;padding:15px 0 5px 0;font-size:91.67%;text-align: center}
.pageMark a{color:#666}
.pageMark a,.pageMark strong{padding:1px;margin-left:3px}

/* AS LOGO for banner */
#banneraslogo{position:absolute;z-index:1;margin-left:423px}

/* error and ok begin*/
.fieldtitle {vertical-align: text-top;}
.fieldinfoerror .info, .fieldtitleerror .info {font-size: 100%;font-weight: bold;color: #CC0000;}
#error #errortitle, #ok #oktitle, #editip #editiptitle, #notice #noticetitle {line-height: 130%;font-weight: bold;}
#error {width: 85%;background-color: #FFFFFF;border: 1px solid #FFB400;padding: 0px;margin: 10px auto;text-align:left }
#error #errortitle {background: #FFF0CC;border: 1px solid #FFFFFF;}
#error #errortitle{font-size: 130%;color: #FF0000;padding: 5px 0px 5px 5px;}
#error #info {padding-left: 72px;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;}
#ok, #oks {width: 88%;padding: 0px;margin: 10px auto;background-color: #FFFFFF;border: 1px solid #70B440;}
#ok #oktitle {line-height: 47px;}
#ok #oktitle, #oks #okstitle {color: #3C9649;background-color: #E2F0D9;border: 1px solid #FFFFFF;padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 10px;}
#oks #okstitle {line-height: 38px;}
#ok #info {font-size: 110%;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;}
#ok #info h4 {font-size: 150%;font-weight: normal;}
#notice {width: 88%;background-color: #FFFFFF;border: 1px solid #F57C1E;padding: 0px;margin: 10px auto;}
#notice hr {color: #CCCCCC;}
#notice #noticetitle {font-size: 130%;background-color: #FDE5D2;color: #FF0000;border: 1px solid #FFFFFF;padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 10px;background-repeat: no-repeat;background-position: 5px 5px;height: 47px;}
#notice .info {padding: 10px;}
#editip {width: 88%;margin: 10px auto;background-color: #FFFFFF;border: 1px solid #4CA7DA;}
#editip #editiptitle {border: 1px solid #FFFFFF;font-size: 16px;color: #0066CC;font-style: normal;height: 47px;background-color: #CCE6F4;padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 10px;background-repeat: no-repeat;background-position: 5px 5px;}
#editip #info {font-size: 13px;padding-left: 63px;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;line-height: 130%;font-weight: bold;}
/*error and ok end*/
/*Color*/
.red, .red:link {color: #FF3300;}
.red2, .red2:link {color: #990000;}
.blu, .blu:link {color: #0099FF;}
.blu2, .blu2:link {color: #063688;}
.blk, .blk:link {color: #000000;}
.wit, .wit:link {color: #FFFFFF;}
.org, .org:link {color: #FF6600;}
.cgray, .cgray:link {color: #666666;}
.cgreen, .cgreen:link {color: #009933;}
.coffee, .coffee:link {color: #993300;}

/* Font Size */
.font11px{font-size:11px;font-family:Arial, Helvetica, sans-serif}
.font12px{font-size:12px}
.font13px{font-size:110%;font-weight:bold;line-height:20px;padding-bottom:3px}
.font14px{font-size:120%;font-weight:bold}
.font15px{font-size:15px;font-weight:bold}
.font16px{font-size:130%;font-weight:bold}
.font18px{font-size:18px;font-weight:bold}

/*Share SNS*/
.shareSNS{margin:7px auto 10px;width:148px;overflow:hidden;zoom:1}
.shareSNS a{text-indent:-999px;background-image:url(http://membercenter.cn.made-in-china.com/images/share_logo.png);background-repeat:no-repeat;height:16px;line-height:16px;width:16px;float:left;margin:0 2px}
.shareSNS .shareAll{text-indent: 0;width:48px;padding-left:20px;margin:0;font-size:12px;text-decoration:none}
.shareSNS .shareAll:hover{text-decoration:none}
.renren{background-position:left -16px}
.kaixin001{background-position:left -32px}
.weibo{background-position:left -48px}
.qq{background-position:left -64px}
#sharebox{width:250px;background-color:#7C7C7C;-moz-border-radius:4px;padding:5px;margin-top:3px;font-size:12px}
#ats_inner{background-color:#fff;border:solid 1px #fff}
#at_hover{overflow:hidden;zoom:1;padding:4px}
#at_hover a{padding:2px;cursor:pointer;float:left;width:114px;border:solid 1px #fff}
#at_hover a span{background-image:url(http://membercenter.cn.made-in-china.com/images/share_logo.png);background-repeat:no-repeat;padding-left:20px;height:16px;line-height:16px;display:block}
#at_hover a:hover{background-color:#f2f2f2;border:solid 1px #e5e5e5}
.atic_renren span{background-position:left -16px}
.atic_kaixin001 span{background-position:left -32px}
.atic_weibo span{background-position:left -48px}
.atic_qq span{background-position:left -64px}
.atic_t_qq span{background-position:left -80px}
.atic_hi_baidu span{background-position:left -96px}
.atic_cang_baidu span{background-position:left -112px}
.atic_douban span{background-position:left -128px}
.atic_blog163 span{background-position:left -144px}
.atic_t_msn span{background-position:left -176px}
#ats_head{background-color:#f2f2f2;border:solid 1px #e5e5e5;padding:4px;line-height:1em;position:relative;}
#atsptx{color:#4c4c4c;font-weight:bold;position:absolute;right:4px;top:4px;_margin-right:4px;text-decoration:none;font-family:Arial, Helvetica, sans-serif}
/*message tip*/
/*msg*/
.icon{display:inline-block;vertical-align:middle;background:url(http://membercenter.cn.made-in-china.com/images/icon/icon-24.png)}
.icon-msg-succ,
.icon-msg-warn,
.icon-msg-fail{width:24px;height:24px;}
.icon-msg-warn{background-position:0 -24px}
.icon-msg-fail{background-position:-24px -24px}
.msg-succ,
.msg-warn,
.msg-fail{padding:0 0 20px 35px;margin-bottom:30px}
.msg-succ .icon-msg-succ,
.msg-warn .icon-msg-warn,
.msg-fail .icon-msg-fail{float:left;margin:0 0 0 -35px}
.msg-tit{font-family:'Microsoft Yahei';font-size:18px;font-weight:normal;margin-bottom:10px;color:#333}
.wrap-tip .msg-warn,
.wrap-tip .msg-fail,
.wrap-tip .msg-succ{margin:30px 0 20px 70px;border-bottom:1px dotted #ccc}
.wrap-tip .msg-single{margin:30px 0 250px 70px;border-bottom:none}
.msg-cont p{margin-bottom:10px;}
.msg-cont li{line-height:22px}
.msg-ope{margin-top:20px}
.wrap-tip .main-reg{margin:0 0 30px 70px}