@import url("sitebar-cn.css");
@import url("sitefooter-cn.css");
/*html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {border:0 none; font-style:inherit;margin:0; outline-color:-moz-use-text-color; outline-style:none; outline-width:0; padding:0;}*/
.loginmain,#welcome,#header,#main{width:860px; margin:auto}
.loginmain {margin-top:20px}
#main.mainbg {padding-bottom:60px; overflow:hidden;zoom:1}
.thin #subtitle {height:29px; line-height:29px; margin-top:10px; overflow:hidden}
#subtitle h2 {font-size:14px;font-weight:bold; float:left; padding-left:2px;}
#subtitle h2 span {display:block; float:left; padding:0 20px; margin-left:3px;}
/*Login*/
#forAudit, #forShow {width:815px; margin:auto; padding-top:15px; padding-right:30px; padding-bottom:10px; padding-left:15px}
#forAudit h2 {font-weight:bold; font-size:180%; color:#000000; float:left; padding-top:10px; padding-left:120px}
#forAudit h2 {width:250px}
#forShow h2 {text-align:center; padding-top:15px}
#forAudit {background-image:url(http://membercenter.cn.made-in-china.com/images/signin_audit.gif); height:95px; margin-top:10px}
#forShow {background:#CEE2F7; height:95px; margin-top:10px}
#forAudit div {float:right; width:350px}
#join {width:571px; float:left; padding:43px 0 15px 0; line-height:1.5; font-size:14px; background:url(bg_join_cn.png) no-repeat}
#join h4 {text-indent:-999em}
#join .r {margin:10px 0 0 0}
#join ul {padding:45px 0 0 0; margin-left:18px; float:left; width:45%}
#join ul li {list-style:none; padding:5px 0px}
.joinBox {padding:0 30px;overflow:hidden;zoom:1}
/*Login&Join*/
/*#reg {width:100%; line-height:1.5; margin:20px 0 0 0}
#reg h2 {margin:0 5px 0 20px}
#reg h2 span.fr {margin-top:-20px}
#reg .form .tabForm {width:858px; margin:0 auto}
#reg .form .tabForm th {padding:5px 10px 5px 5px; vertical-align:top; font-weight:normal}
#reg .form .tabForm td {padding:5px 10px 5px 0}
#reg .form .tabFormT td {padding-top:30px}
#reg .form .tabFormT th {padding-top:34px}
#reg .form .tabForm td input {padding:2px 0}
#reg h3 {border-top-width:1px; border-top-style:solid; border-top-color:#CACACA; padding-top:20px; padding-right:20px; padding-left:20px; padding-bottom:10px; margin:0px}
#reg .step {padding-bottom:20px; width:100%; margin-bottom:10px}
#reg .c {padding:10px 0}
#reg .c button {margin-top:10px}
#reg th, #reg td {padding:3px}
#reg th {text-align:right; width:165px}*/
#login {width:260px; float:left;border:1px solid #d0d1d1; background:#f8f9f9; margin-top:25px}
.loginabc {width:100%}
.loginabc a:link,.loginabc a:visited{color:#005AA8}
.loginabc caption {font-size:14px; font-weight:bold; text-align:left; height:40px; line-height:31px; background:url(bg_cap.gif) repeat-x; padding-left:15px}
.loginabc td {padding:5px 18px 0 15px; font-size:14px}
.loginabc td.btn{padding-top:15px; font-size:12px; color:#666; padding-bottom:5px}
.loginabc .help{font-size:12px;padding-bottom:10px; text-align:right;border-bottom:1px solid #d4d4d4;}
.loginabc .sign{line-height:1.8;padding:8px 14px;border:2px solid #fff;}
.loginabc .sign a{text-decoration:underline}
/*td.remark {font-size:12px}*/
.loginabc td .inputtext {width:100%;padding-bottom:5px;padding-left:2px;padding-top:5px;font-family:Arial, Helvetica, sans-serif;border:1px solid #A5ACB2;}
.loginabc td .validateinput{width:75px}
.reload{cursor:pointer;}
#validateImage{width:83px;height:30px; overflow:hidden; margin:0 5px}
.loginabc p {padding:2px 0px}
#login ul {margin:10px 0}
/*.erText {padding:4px 2px 2px 2px; background:#FF9900; color:#fff; border:1px solid #fff; margin:0; width:100%}*/
p.capsLock {color:#F36904}
.capsLock{font-size:12px; color:#e54b00}
/*div.edb {cursor:pointer; display:block; width:95%; padding:3px}
div.edb button {padding:0}
div.ed {padding:2px; border:1px inset #bbb; background-color:#fff}*/
/*#StyleTableProd {margin:8px auto; clear:both; width:100%; zoom:1; overflow-x:auto; overflow-y:hidden; padding:2px 2px 20px}
#StyleTableProd table {margin:2px; width:90%; min-width:400px; float:left; clear:both; text-align:center; border:0; border-collapse:collapse}
#StyleTableProd table caption {font-size:1em; font-weight:normal; color:#001634; border:0; margin:0 auto; text-align:center}
#StyleTableProd table td, #StyleTableProd table th {background-color:transparent; border:1px solid gray; padding:0pt 3px; text-align:left}
#les{background-position: left -227px}
#nav{border-bottom:1px solid #bd0507}*/

#notice {background:#FFE9BA url(error_in_table.gif) no-repeat scroll 170px 16px;border:1px solid #F99412;padding:30px 50px 20px 90px;width:70%}
.font12{font-size:12px}
#safetyTip{margin:30px; padding:25px 15px; background:#ffeabe url(error_in_table.gif) no-repeat 15px; padding-left:80px;border:solid 1px #f0dbbc; line-height:2}