
@font-face {
    font-family: 'lobster';
    src: url('lobster-regular-webfont.eot');
    src: url('lobster-regular-webfont.eot@') format('embedded-opentype'),
         url('lobster-regular-webfont.woff2') format('woff2'),
         url('lobster-regular-webfont.woff') format('woff'),
         url('lobster-regular-webfont.ttf') format('truetype'),
         url('lobster-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

