#body .zbl-h1, #body .zbl-h2, #body .zbl-h3, #body .zbl-p{font-weight:normal}
#body .zbl-h1{font-size:28px}
#body .zbl-h2{font-size:18px}
#body .zbl-h3{font-size:16px}
#body a{color:#7eb3d9}
#body .navigation-container{overflow:hidden}
#body{background-attachment:fixed; background-image:url(bkgdScreen.jpg); background-repeat: no-repeat; -o-background-size:cover; -moz-background-size:cover; -webkit-background-size:cover; background-size:cover; color:#fff}
/*---- OuterContainer and Container CSS ---- */
#outerContainerBA{padding:15px 0}
#containerBA{margin:0 auto; width:960px}
#body .navigation a{color:#7EB3D9; font-size:.85em; font-weight:bold; text-decoration:none; text-transform:uppercase}

/* ---- Header CSS ---- */
#headerBA{min-height:100px}
#headerBA ul.navigation {margin:10px 0}
#headerBA ul.navigation li{float:left; margin:6px}
#headerBA ul.navigation li.last{border-right:none}
#headerBA ul.navigation li a, #sidebarBA ul.navigation li a{
	background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #444444, #000000); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #444444, #000000); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #444444, #000000); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #444444, #000000); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ 
color:#fff; -moz-box-shadow:inset 0 0 2px rgba(200,200,200, .4); -webkit-box-shadow:inset 0 0 2px rgba(200,200,200, .4); box-shadow:inset 0 0 2px rgba(200,200,200, .4); display:block; border:1px solid #000; font-weight:bold; padding:2px}
#headerBA ul.navigation li a span, #sidebarBA ul.navigation li a span{display:block; border:2px solid #000; overflow:hidden; padding:8px}
#headerBA ul.navigation li a.selected span, #headerBA ul.navigation li a:hover span,
#sidebarBA ul.navigation li a:hover span, #sidebarBA ul.navigation li a.selected span{border-color:#444}
#headerBA ul.navigation li a:hover, #headerBA ul.navigation li a.selected,
#sidebarBA ul.navigation li a:hover, #sidebarBA ul.navigation li a.selected{background:#000; border:1px solid #111; color: #a9c9e1}

.headerContent{padding:20px 0}
/* ---- Main / Content Area & Side bar CSS Defaults ---- */
#mainBA{padding:10px 0}
#contentBA{margin-top:15px; width:640px}
/* ---- Sidebar CSS ---- */
#sidebarBA{width:240px}
#sidebarBA ul.navigation {padding:5px; margin-bottom:25px}
#sidebarBA ul.navigation li{margin-bottom:3px}
#sidebarBA ul.navigation li.last{margin-bottom:0}

/* ---- Footer CSS ---- */
#footerBA{margin-top:15px; min-height:30px; padding-top:15px} 
#footerBA ul.navigation {border-top:1px solid #999; display:block; margin:15px 0; padding:12px}
#footerBA ul.navigation li{float:left; displayy:block;  margin-right:2px; min-width:30px}
#footerBA ul.navigation li.last{border-right:none;  margin-right:0}
#footerBA ul.navigation li a{font-size:10px; font-weight:bold; padding:2px 10px; text-transform:uppercase}
#footerBA ul.navigation li a:hover, #footerBA ul.navigation li a.selected{color:#fff; text-decoration:underline}

#body .fbLikeContainer, #body .fbBoxContainer{background:url(w80.png)}
#body .fbLikeContainer iframe{padding:8px}

/* Buttons */
#body .zbl-Btn{
	background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #444444, #000000); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #444444, #000000); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #444444, #000000); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #444444, #000000); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ 
	 -moz-box-shadow:inset 0 0 2px rgba(200,200,200, .4); -webkit-box-shadow:inset 0 0 2px rgba(200,200,200, .4); box-shadow:inset 0 0 2px rgba(200,200,200, .4); color:#fff; border:1px solid #000; box-shadow:none; text-shadow:none; text-decoration:none}
#body .zbl-Btn:hover{background:#000; border:1px solid #111; color:#7EB3D9; box-shadow:none; text-decoration:none}


/* ____________________ Layout Specific CSS ______________________________________________________________________________ */
/*----LAYOUT 1 Column----*/
.v3 #contentBA{width:auto}
.v3 #sidebarBA{width:auto}
.v3 #sidebarBA ul.navigation {border:1px solid #036; -mozborder-radius:6px;  -webkit-border-radius:6px;  -o-border-radius:6px;  border-radius:6px;  box-shadow:0 0 2px #aaa inset; margin:10px 0}
.v3 #sidebarBA ul.navigation li{float:left; margin-right:6px}
.v3 #sidebarBA ul.navigation li.last{border-right:none; margin-right:0}
.v3 #sidebarBA ul.navigation li a{background:url(butOff.png) no-repeat top left; color:#fff; display:block; font-weight:bold; height:40px; padding-left:20px; line-height:40px; text-transform:uppercase}
.v3 #sidebarBA ul.navigation li a span{background:url(butCapOff.png) no-repeat top right; display:block; padding-right:20px}
.v3 #sidebarBA ul.navigation li a:hover{background:url(butOn.png) no-repeat top left; color: #335975}
.v3 #sidebarBA ul.navigation li a.selected{background:url(butOn.png) no-repeat top left; color: #335975}
.v3 #sidebarBA ul.navigation li a.selected span{background:url(butCapOn.png) no-repeat top right; display:block; padding-right:20px}
.v3 #sidebarBA ul.navigation li a:hover span{background:url(butCapOn.png) no-repeat top right}
/*----LAYOUT 2L Column----*/
.v2 #sidebarBA{padding_left:0;  padding-right}

/* ---- mobile layout ---- */
@media screen and (max-device-width:480px), screen and (max-width:600px){/* adds mobile only background */
#body.mobileLayout{background-image:url(mBG.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover}
/* style for menu button at top right of page */
#body.mobileLayout #mNavLink{background:#fff; color:#777; border:1px solid #9fa0d9; font-weight:bold}
#body.mobileLayout #mNavLink:hover{background:#777; color:#fff; border:1px solid #9fa0d9; font-weight:bold}
/* styling for navigation menu to be placed at bottom of page */
#body.mobileLayout .mobileNav ul li a{background:#7eb3d9; color:#333}
#body.mobileLayout .mobileNav ul li a:hover, #body.mobileLayout .mobileNav ul li a.selected{background:#777; color:#e4e4e4}
/* mobile layout/content styling */
	#body.mobileLayout #headerBA{padding-top:40px}
	#body.mobileLayout #contentBA{margin-bottom:15px}
	#body.mobileLayout #sidebarBA{background:rgba(255, 255, 255, .3); margin-bottom:15px; padding-top:15px}
	#body.mobileLayout .zbl-h1, #body.mobileLayout .zbl-h2, #body.mobileLayout .zbl-h3{font-weight:normal; margin-top:8px}
	
}
