.fond {
	margin: 0px; padding: 0px; left: 0px; top: 0px; overflow: hidden; display: none; position: fixed; z-index: 90; background-color: black;
}
.fondBleu {
	left: 0px; top: 0px; overflow: hidden; display: none; position: fixed; z-index: 90; background-color: rgb(53, 123, 177);
}
.fenetre {
	margin: 0px; padding: 0px; top: 200px; width: 500px; height: 250px; overflow: hidden; display: none; position: fixed; z-index: 95; background-color: white;
}
.fenetreAide {
	border-radius: 10px; top: 270px; width: 500px; margin-left: 120px; display: none; position: fixed; z-index: 95; background-color: white; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.fenetreAideInfoALD {
	left: -50px; top: 0px; margin-left: 0px; display: none; position: absolute; z-index: 95;
}
.didacticiel {
	top: 133px; width: auto; margin-left: 20px;
}
.fenetre .fenetre_entete {
	background: rgb(221, 221, 221); margin: 0px; padding: 0px; left: 0px; top: 0px; width: auto; height: 24px; position: relative; z-index: 100;
}
.fenetre .fenetre_entete h3 {
	margin: 0px 0px 0px 5px; color: rgb(119, 119, 119); line-height: 24px; overflow: auto; font-size: 1em; font-weight: bold;
}
.fenetre_entete img {
	background: none; margin: 2px; top: 0px; width: 20px; height: 20px; right: 0px; position: absolute;
}
.fenetre .fenetre_contenu p #puce {
	margin: 40px auto auto; width: 43px; height: 11px; display: block;
}
.fenetreAide .fenetre_contenu p #puce {
	margin: 40px auto auto; width: 43px; height: 11px; display: block;
}
.fenetre_entete a {
	margin: 0px; padding: 0px;
}
.fenetre .fenetre_contenu {
	background: none; margin: 20px 30px; width: auto; z-index: 100;
}
.fenetreAide .fenetre_contenu {
	background: none; margin: 20px; width: auto; z-index: 100;
}
.fenetre .fenetre_contenu h3 {
	overflow: auto;
}
.fenetre #fenetre_contenu p {
	overflow: auto;
}
