html {
	font-size: 100%; background-color: rgb(210, 210, 210);
}
body {
	background: white; margin: 0px; padding: 0px; color: black; font-family: Helvetica, Arial, FreeSans, sans-serif; font-size: 0.8em;
}
h1 {
	margin: 1em 0px 0.5em; font-style: normal; font-weight: bold;
}
h2 {
	margin: 1em 0px 0.5em; font-style: normal; font-weight: bold;
}
h3 {
	margin: 1em 0px 0.5em; font-style: normal; font-weight: bold;
}
h4 {
	margin: 1em 0px 0.5em; font-style: normal; font-weight: bold;
}
h5 {
	margin: 1em 0px 0.5em; font-style: normal; font-weight: bold;
}
h6 {
	margin: 1em 0px 0.5em; font-style: normal; font-weight: bold;
}
h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 1em;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
#colcentre ul {
	margin: 0.75em 0px 0.75em 32px;
}
#colcentre ol {
	margin: 0.75em 0px 0.75em 32px;
}
.centrepage ul {
	margin: 0.75em 0px 0.75em 32px;
}
.centrepage ul {
	margin: 0.75em 0px 0.75em 32px;
}
p {
	margin: 0.75em 0px;
}
address {
	margin: 0.75em 0px; font-style: normal;
}
a {
	color: rgb(0, 98, 173); text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: pointer;
}
a:hover {
	color: rgb(0, 98, 173); text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
a img {
	border: currentColor; border-image: none;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
form {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; display: block;
}
fieldset {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; display: block;
}
input {
	font-family: Helvetica, Arial, FreeSans, sans-serif; vertical-align: middle;
}
button {
	font-family: Helvetica, Arial, FreeSans, sans-serif; vertical-align: middle;
}
select {
	font-family: Helvetica, Arial, FreeSans, sans-serif; vertical-align: middle;
}
#nom_assure {
	color: rgb(200, 66, 148); font-weight: bold;
}
.logout {
	color: rgb(200, 66, 148); font-weight: bold;
}
.logdate {
	color: rgb(0, 98, 173);
}
.date {
	color: black;
}
.dateJ {
	color: black; text-transform: capitalize;
}
.wlp-bighorn-header {
	border-bottom-color: rgb(128, 112, 89);
}
.wlp-bighorn-footer {
	border-top-color: rgb(128, 112, 89);
}
.wlp-bighorn-titlebar {
	color: rgb(0, 98, 173);
}
.wlp-bighorn-titlebar-button-panel a:hover {
	background-color: rgb(114, 126, 163);
}
.wlp-bighorn-book-content {
	
}
.wlp-bighorn-window {
	border-color: rgb(128, 112, 89);
}
.wlp-bighorn-window-content {
	
}
.wlp-bighorn-layout-cell .wlp-bighorn-book {
	border-color: rgb(128, 112, 89);
}
.wlp-bighorn-menu {
	color: rgb(0, 98, 173); font-weight: bold;
}
.wlp-bighorn-menu a {
	color: rgb(0, 98, 173);
}
.wlp-bighorn-menu ul ul a {
	color: rgb(238, 245, 249); font-size: 0.9em;
}
.wlp-bighorn-menu-menu-panel ul {
	border-color: rgb(0, 98, 173); background-color: white;
}
.wlp-bighorn-menu-menu-panel ul ul {
	color: rgb(0, 98, 173); background-color: white;
}
.wlp-bighorn-menu-menu-panel > ul > li:hover {
	color: rgb(238, 245, 249); background-color: rgb(0, 98, 173);
}
.wlp-bighorn-menu-menu-panel ul li:hover a {
	border-color: rgb(0, 98, 173); color: rgb(238, 245, 249); background-color: rgb(0, 98, 173);
}
.wlp-bighorn-menu-menu-panel ul li.wlp-bighorn-menu-active {
	border-color: rgb(0, 98, 173); color: rgb(238, 245, 249); background-color: rgb(0, 98, 173);
}
.wlp-bighorn-menu-menu-panel ul li.wlp-bighorn-menu-active a {
	border-color: rgb(0, 98, 173); color: rgb(238, 245, 249); background-color: rgb(0, 98, 173);
}
.wlp-bighorn-menu-menu-panel ul li:hover ul li a {
	border-color: rgb(0, 98, 173); color: rgb(0, 98, 173); background-color: white;
}
.wlp-bighorn-menu-menu-panel ul li ul li:hover a {
	color: rgb(53, 123, 177);
}
.wlp-bighorn-book-content .wlp-bighorn-menu {
	background-color: rgb(114, 126, 163);
}
.wlp-bighorn-book-content .wlp-bighorn-menu-menu-panel ul {
	background-color: rgb(114, 126, 163);
}
.wlp-bighorn-book-content .wlp-bighorn-menu-menu-panel ul li:hover {
	background-color: rgb(96, 120, 191);
}
.wlp-bighorn-book-content .wlp-bighorn-menu-menu-panel ul li.wlp-bighorn-menu-active {
	color: rgb(89, 99, 128); background-color: rgb(230, 220, 207);
}
