.wlp-bighorn-layout-flow {
	
}
.wlp-bighorn-layout-border-wce-container {
	
}
.wlp-bighorn-layout-border-west {
	width: 33%;
}
.wlp-bighorn-layout-border-east {
	width: 33%;
}
.wlp-bighorn-layout-border-center {
	width: 34%;
}
.wlp-bighorn-layout-grid {
	table-layout: fixed;
}
.wlp-bighorn-layout-cell {
	
}
