.wlp-bighorn-menu {
	position: relative; z-index: 10;
}
.wlp-bighorn-menu a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.wlp-bighorn-menu a:hover {
	text-decoration: none; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.wlp-bighorn-menu-menu-panel ul li a {
	padding: 0px 30px;
}
.wlp-bighorn-menu-menu-panel ul li a {
	line-height: 16px; padding-top: 0px; padding-bottom: 1px; border-right-color: currentColor; border-right-width: 1px; border-right-style: solid;
}
.wlp-bighorn-menu-menu-panel ul li ul li a {
	padding: 0px 60px 0px 29px; line-height: 1.75em; border-right-color: currentColor; border-right-width: 0px; border-right-style: none; display: block;
}
.wlp-bighorn-menu-button-panel {
	text-align: right;
}
.wlp-bighorn-menu-menu-panel ul {
	margin: 0px 4px; padding: 0px; border-bottom-color: currentColor; border-bottom-width: 3px; border-bottom-style: solid; position: relative;
}
.wlp-bighorn-menu-menu-panel > ul > li {
	border-radius: 8px 8px 0px 0px; -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0;
}
.wlp-bighorn-menu-menu-panel ul li {
	padding: 6px 0px 5px; margin-right: -1px; display: inline-block; list-style-type: none; cursor: default;
}
.wlp-bighorn-menu-menu-panel ul li.wlp-bighorn-menu-active {
	cursor: default;
}
.wlp-bighorn-menu-menu-panel ul li:hover ul {
	display: block; visibility: visible;
}
.wlp-bighorn-menu-menu-panel ul li.last ul {
	right: 0px;
}
.wlp-bighorn-menu-menu-panel ul ul {
	margin: 0px; padding: 5px 0px 10px; border-radius: 0px 0px 10px 10px; border: 3px solid currentColor; border-image: none; top: 100%; display: none; white-space: nowrap; visibility: hidden; position: absolute; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px;
}
.wlp-bighorn-menu-menu-panel ul ul li {
	margin: 0px; padding: 0px; display: block;
}
