.r_pre_bloc_droite {
	margin: 0px 10px;
}
.r_pre_bloc_droite h2 {
	color: rgb(53, 123, 177); font-size: 1.1em; font-variant: small-caps; font-weight: bold; margin-top: 0px; margin-bottom: 10px;
}
.r_pre_bloc_droite h3 {
	color: rgb(53, 123, 177); font-size: 1em;
}
.r_pre_bloc_droite ul {
	color: rgb(53, 123, 177); padding-left: 0px; list-style-position: inside;
}
.r_pre_bloc_droite .contenu_liste {
	color: black;
}
.r_pre_bloc_droite a {
	font-weight: bold; text-decoration: none;
}
.r_pre_bloc {
	margin: 10px 0px;
}
.r_pre_bloc h2 {
	background: rgb(53, 123, 177); margin: 0px; padding: 0px 10px; border-radius: 10px 10px 0px 0px; color: rgb(255, 255, 255); font-size: 1.1em; font-variant: small-caps; font-weight: bold; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;
}
#as_reperes_prevention_page .r_pre_bloc h2 {
	height: 20px; padding-top: 5px;
}
.r_pre_bloc h2 sup {
	vertical-align: top;
}
.r_pre_bloc .bloc_benef h2 {
	background: rgb(187, 218, 246); color: rgb(0, 0, 0);
}
.r_pre_bloc .boutonPlierDeplier {
	height: 1.5em; margin-top: -22px; margin-right: 8px; float: right; position: relative; z-index: 2;
}
.r_pre_bloc .boutonPlierDeplier:hover {
	cursor: pointer;
}
.r_pre_bloc h2.plie {
	border-radius: 10px;
}
.r_pre_bloc h2.deplie {
	border-radius: 10px 10px 0px 0px;
}
.r_pre_bloc .bloc_deplie {
	display: block;
}
.r_pre_bloc .bloc_plie {
	display: none;
}
.r_pre_bloc .bloc_sousrubrique img {
	margin-right: 10px; float: left;
}
.r_pre_bloc .bloc_sousrubrique {
	padding: 10px; border-radius: 0px 0px 10px 10px; border: 1px solid rgb(53, 123, 177); border-image: none; overflow: hidden; font-size: 0.9em; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; background_color: #eef5f9;
}
.r_pre_bloc .bloc_benef .bloc_sousrubrique {
	border: 1px solid rgb(187, 218, 246); border-image: none; background-color: rgb(238, 245, 249);
}
.r_pre_bloc .bloc_benef .bloc_sousrubrique ul {
	margin: 0px 0px 10px 17px;
}
.r_pre_bloc .bloc_benef .bloc_sousrubrique ol {
	margin: 0px 0px 10px 17px;
}
.blocformfond .r_pre_bloc .bloc_benef li {
	line-height: 1.5em; margin-left: 0px; vertical-align: middle; list-style-type: disc;
}
.r_pre_bloc .bloc_benef .bloc_sousrubrique .bloc_type_benef {
	padding-top: 15px; padding-bottom: 15px; background-color: rgb(238, 245, 249);
}
.r_pre_bloc .bloc_sousrubrique .categorie {
	margin: 1em 0px 0.5em; font-weight: bold; display: block;
}
.r_pre_bloc .bloc_assure li {
	list-style: none; margin-left: 100px;
}
.r_pre_bloc .bloc_benef li {
	list-style: none; margin-left: 100px;
}
.r_pre_titre_page {
	padding: 0px; color: rgb(53, 123, 177); font-size: 1.1em; font-weight: bold; margin-top: 10px; margin-bottom: 10px;
}
.r_pre_url_retour {
	padding: 10px;
}
.r_pre_bloc_cardio {
	margin: 30px 30px 10px 0px; width: 40%; float: left;
}
.r_pre_bloc_cardio h2 {
	background: rgb(53, 123, 177); margin: 0px; padding: 0px 10px; border-radius: 10px 10px 0px 0px; color: rgb(255, 255, 255); font-weight: bold; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;
}
.r_pre_bloc_cardio .bloc_sousrubrique {
	padding: 10px; border-radius: 0px 0px 10px 10px; border: 1px solid rgb(53, 123, 177); border-image: none; overflow: hidden; font-size: 0.9em; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px;
}
#as_risque_cardio_page .erreurTitre {
	display: none;
}
#as_risque_cardio_page h2 {
	background-position: left; padding: 7px 0px 4px 2em; color: rgb(0, 98, 173); clear: both; font-size: 1.1em; margin-top: 0px; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/prevention/picto_casecochee.png"); background-repeat: no-repeat;
}
#as_risque_cardio_page h5 {
	color: rgb(183, 81, 144); font-size: 1.2em;
}
#as_risque_cardio_page h1 img {
	margin-right: 10px; vertical-align: text-bottom;
}
.r_pre_bloc_cardio_rubrique {
	margin: 10px 30px 10px 0px; width: 100%;
}
.r_pre_bloc_cardio_rubrique h2 {
	background: rgb(53, 123, 177); margin: 0px; padding: 0px 10px; border-radius: 10px 10px 0px 0px; color: rgb(255, 255, 255); font-weight: bold; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;
}
.r_pre_bloc_cardio_rubrique .bloc_sousrubrique {
	padding: 10px; border-radius: 0px 0px 10px 10px; border: 1px solid rgb(53, 123, 177); border-image: none; overflow: hidden; font-size: 0.9em; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px;
}
.r_pre_bloc_cardio_encadre {
	margin: 30px 0px; padding: 10px; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; overflow: hidden; font-size: 0.9em; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.r_pre_bloc_cardio_encadre h2 {
	background-position: left; padding: 7px 0px 4px 2em; color: rgb(0, 98, 173); clear: both; font-size: 1.1em; margin-top: 0px; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/prevention/picto_casecochee.png"); background-repeat: no-repeat;
}
.r_pre_bloc_cardio_encadre #imgTest {
	vertical-align: middle;
}
.r_pre_cardio_table {
	border-radius: 10px; width: 100%; border-top-color: rgb(53, 123, 177); border-right-color: rgb(53, 123, 177); border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid; border-collapse: separate; border-spacing: 0; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.r_pre_cardio_table td {
	padding: 5px; border-bottom-color: rgb(53, 123, 177); border-left-color: rgb(53, 123, 177); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid;
}
.r_pre_cardio_table th {
	padding: 5px; color: rgb(0, 98, 173); border-bottom-color: rgb(53, 123, 177); border-left-color: rgb(53, 123, 177); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid;
}
.r_pre_cardio_table th:first-child {
	border-radius: 10px 0px 0px; background-color: rgb(201, 233, 246); -webkit-border-radius: 10px 0 0 0; -moz-border-radius: 10px 0 0 0;
}
.r_pre_cardio_table td:first-child {
	background-color: rgb(201, 233, 246);
}
.r_pre_cardio_table tr:last-child td:first-child {
	border-radius: 0px 0px 0px 10px; -webkit-border-radius: 0 0 0 10px; -moz-border-radius: 0 0 0 10px;
}
.r_pre_cardio_table th:last-child {
	border-radius: 0px 10px 0px 0px; -webkit-border-radius: 0 10px 0 0; -moz-border-radius: 0 10px 0 0;
}
.r_pre_cardio_table tr:last-child td:last-child {
	border-radius: 0px 0px 10px; -webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0;
}
.r_pre_questionnaire {
	padding: 10px; list-style-type: decimal;
}
.r_pre_questionnaire .r_pre_reponses {
	margin-top: 5px; margin-bottom: 5px; position: relative;
}
.r_pre_questionnaire .r_pre_reponses label {
	margin-left: 2em;
}
.r_pre_source {
	font-size: 0.85em;
}
#r_pre_liste_themes {
	margin: 0px 0px 10px 2em; color: rgb(0, 98, 173); font-weight: bold;
}
#as_risque_cardio_page .colonne_info_droite {
	padding: 0px; margin-top: 15px; margin-bottom: 10px;
}
#as_risque_cardio_page .r_pre_bloc_droite {
	background-position: bottom; padding-bottom: 22px; margin-top: 0px; margin-right: 0px; margin-left: 0px; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/prevention/vignettebas.png"); background-repeat: no-repeat;
}
#as_risque_cardio_page .r_pre_bloc_droite h2 {
	background: linear-gradient(rgb(53, 123, 177), rgb(0, 98, 173)); margin: 0px; padding: 10px 5px; border-radius: 10px 0px 0px; color: white; font-family: helvetica; font-weight: bold; -webkit-border-radius: 10px 0 0 0; -moz-border-radius: 10px 0 0 0; -pie-background: linear-gradient(#357BB1, #0062AD);
}
#as_risque_cardio_page .r_pre_bloc_droite p {
	margin: 0px; padding: 10px; border-right-color: rgb(0, 98, 173); border-left-color: rgb(0, 98, 173); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: white;
}
#as_risque_cardio_page .r_pre_bloc_droite ul {
	margin: 0px; padding: 10px; border-right-color: rgb(0, 98, 173); border-left-color: rgb(0, 98, 173); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: white;
}
.r_pre_menu {
	margin: 20px 0px 0px; width: 100%; float: left; list-style-type: none;
}
.r_pre_menu li {
	padding: 1px 10px; font-weight: bold; border-left-color: rgb(200, 66, 148); border-left-width: 5px; border-left-style: solid;
}
.r_pre_menu li.enCours {
	padding-left: 0px;
}
.r_pre_menu li.enCours div {
	border-width: 7px 0px 7px 7px; border-style: solid; border-color: transparent transparent transparent rgb(200, 66, 148); padding: 0px; width: 0px; height: 0px; margin-right: 3px; float: left; background-color: transparent;
}
.r_pre_liste_simple {
	color: rgb(0, 98, 173); padding-left: 2em; font-weight: bold;
}
.r_pre_liste_simple li {
	margin-top: 1em;
}
.r_pre_liste_simple span {
	color: black; font-weight: normal;
}
.r_pre_liste_simple a {
	color: black; text-decoration: none;
}
.r_pre_souligne_rose {
	border-bottom-color: rgb(183, 81, 144); border-bottom-width: 2px; border-bottom-style: solid;
}
.r_pre_info {
	width: 50px; height: 3em; float: left;
}
.r_pre_bleu_gras {
	color: rgb(0, 98, 173); font-weight: bold;
}
.r_pre_bleu_gras a {
	text-decoration: none;
}
.r_pre_benefs_enfant {
	font-weight: bold;
}
.r_pre_liste_sophia li {
	padding-left: 30px;
}
