.r_msg_nonlu {
	font-weight: bold;
}
.r_msg_lu {
	color: black;
}
.r_msg_img_lu {
	vertical-align: middle; background-color: white;
}
.r_msg_img_nonlu {
	vertical-align: middle; background-color: white;
}
.r_msg_colonne_gauche {
	width: 19%; padding-top: 10px; float: left;
}
.r_msg_colonne_droite {
	width: 78%; padding-top: 10px; margin-left: 20px; float: left;
}
.r_msg_btlien_rose {
	padding: 1px 5px; width: 100%; text-align: left; overflow: hidden; margin-bottom: 10px; margin-left: 0px; white-space: nowrap;
}
.r_msg_a:hover {
	text-decoration: none;
}
.r_msg_btlien_rose_disabled {
	padding: 1px 5px; width: 100%; text-align: left; overflow: hidden; text-decoration: none; margin-bottom: 10px; margin-left: 0px; white-space: nowrap;
}
.r_msg_btlien_rose_disabled:hover {
	background: linear-gradient(rgb(198, 100, 159), rgb(145, 35, 101)); cursor: not-allowed; -pie-background: linear-gradient(#C6649F, #912365);
}
.r_msg_libelle {
	margin-right: 10px;
}
.r_msg_contenu {
	padding: 10px; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; width: 97%; height: 300px; overflow: auto; font-family: Helvetica,Arial,FreeSans,sans-serif; font-size: 0.9em; margin-bottom: 20px; -ms-word-wrap: normal; resize: none;
}
.r_msg_aucun_message {
	padding: 10px; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; height: 100px;
}
.r_msg_contenu_question {
	padding: 10px; border-radius: 10px; border: 1px solid rgb(0, 98, 173); border-image: none; width: 97%;
}
.r_msg_contenu img {
	display: none;
}
.r_msg_rond {
	background: rgb(255, 255, 255); border-radius: 20px; width: 40px; height: 40px; text-align: center; margin-left: 10px; float: left;
}
.r_msg_rond img {
	width: 33px; height: 26px; margin-top: 7px;
}
.r_msg_texte_accueil {
	width: 200px; color: white; margin-left: 20px; float: left;
}
#as_accueil_page .r_msg_lien_texte_accueil {
	color: white; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
#as_accueil_page .r_msg_lien_texte_accueil:hover {
	text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.r_msg_bloc_infos {
	padding: 10px; border-radius: 10px; border: 1px solid rgb(183, 81, 144); border-image: none; margin-top: 10px; margin-bottom: 10px;
}
.r_msg_bloc_infos_gauche {
	width: 7%; text-align: center; color: rgb(183, 81, 144); font-size: 1.2em; font-weight: bold; float: left;
}
.r_msg_bloc_infos_droite {
	width: 91%; padding-left: 1%; border-left-color: rgb(183, 81, 144); border-left-width: 1px; border-left-style: solid; float: left;
}
.r_msg_img_bouton {
	margin-right: 10px; margin-left: 10px; vertical-align: middle;
}
.r_msg_trait_separation {
	margin-top: -2px; margin-right: -20px; margin-bottom: 10px; border-top-color: rgb(0, 98, 173); border-top-width: 1px; border-top-style: solid;
}
.r_msg_btretour {
	padding: 2px 10px 3px; overflow: hidden; margin-left: 0px; white-space: nowrap;
}
.r_msg_btretour_lien {
	padding: 3px 10px 4px; overflow: hidden; margin-left: 0px; white-space: nowrap;
}
.r_msg_objet_detail {
	font-size: 1.4em; font-weight: bold;
}
.r_msg_detail_gauche {
	margin-top: 1.2em; float: left;
}
.r_msg_detail_droit {
	text-align: right; float: right;
}
.r_msg_detail_date_creation {
	font-size: 1.2em; font-weight: bold;
}
.r_msg_detail_date_suppression {
	font-size: 0.8em;
}
.r_msg_img_pdf {
	height: 20px; margin-right: 10px; margin-left: 0px; vertical-align: middle;
}
.r_msg_btnavigation {
	margin-top: 5px; float: right;
}
.r_msg_objet {
	width: 10%; float: left;
}
.r_msg_objet_select {
	width: 90%; float: right;
}
.r_msg_objet_select select {
	background: linear-gradient(rgb(255, 255, 255), rgb(188, 188, 188)); border-radius: 2px; border: 1px solid rgb(188, 188, 188); border-image: none; width: 100%; -pie-background: linear-gradient(#FFFFFF, #BCBCBC);
}
.r_msg_contenu_question_label {
	width: 60%; display: inline-block;
}
.r_msg_contenu_question select {
	background: linear-gradient(rgb(255, 255, 255), rgb(188, 188, 188)); border-radius: 2px; border: 1px solid rgb(188, 188, 188); border-image: none; margin-bottom: 5px; -pie-background: linear-gradient(#FFFFFF, #BCBCBC);
}
.r_msg_confirmation_question {
	text-align: center; margin-top: 10px;
}
.r_msg_email {
	width: 100%; text-align: right; color: rgb(200, 66, 148); font-style: italic; margin-bottom: 10px;
}
.r_msg_email span {
	color: rgb(0, 0, 0);
}
