.r_msp_prado_image_push_1 {
	background: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/prado/enceinte_bleu.png"); width: 26px; height: 35px; margin-left: 10px;
}
.r_msp_prado_titre_push_1 {
	background: 100% 100% rgb(0, 92, 169); padding: 10px; border-radius: 10px 0px; border: 1px solid rgb(65, 134, 191); width: 148px; height: 15px; color: rgb(255, 255, 255); margin-right: 20px; margin-bottom: -20px; white-space: nowrap; position: relative; z-index: 10; -webkit-border-radius: 10px 0 10px 0; -moz-border-radius: 10px 0 10px 0;
}
.r_msp_prado1 {
	padding: 25px 10px; border-radius: 0px 0px 10px; border: 1px solid rgb(65, 134, 191); color: rgb(65, 134, 191); -webkit-border-radius: 0px 0px 10px 0px; -moz-border-radius: 0px 0px 10px 0px;
}
.r_msp_prado_image_push_2 {
	width: 23px; height: 38px; margin-left: 10px; background-image: url("https://kidscorner.com.au/am/Ameli/PortailAS/appmanager/PortailAS/assure_somtc=true/7e4f75499a5c9790afec3cd94e2ea286/images/refonte/prado/enceinte_rouge.png");
}
.r_msp_prado_titre_push_2 {
	background: 100% 100% rgb(226, 1, 123); padding: 10px; border-radius: 10px 0px; border: 1px solid rgb(65, 134, 191); width: 148px; height: 15px; color: rgb(255, 255, 255); margin-right: 20px; margin-bottom: -20px; white-space: nowrap; position: relative; z-index: 10; -webkit-border-radius: 10px 0 10px 0; -moz-border-radius: 10px 0 10px 0;
}
.r_msp_prado2 {
	background: 100% 100% rgb(252, 232, 243); padding: 25px 10px; border-radius: 0px 0px 10px; border: 1px solid rgb(233, 64, 155); color: rgb(233, 64, 155); -webkit-border-radius: 0px 0px 10px 0px; -moz-border-radius: 0px 0px 10px 0px;
}
.blocform .r_msp_label {
	width: 100%; text-align: left;
}
