.r_met_bloc {
	margin-bottom: 15px; display: table;
}
.r_met_bloc img {
	padding-right: 15px;
}
.r_met_bloc p {
	margin-top: 0px; margin-bottom: 0px;
}
.r_met_bloc td {
	color: rgb(238, 0, 0); font-weight: bold; vertical-align: middle; display: table-cell;
}
