.wlp-bighorn-page-unconnect .wlp-bighorn-titlebar {
	width: auto;
}
.wlp-bighorn-titlebar {
	left: -25px; width: 680px; overflow: hidden; padding-left: 25px; font-size: 1.4em; font-variant: small-caps; font-weight: bold; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.wlp-bighorn-titlebar div {
	
}
.wlp-bighorn-titlebar img {
	border: 0px currentColor; border-image: none;
}
.wlp-bighorn-titlebar-window-icon {
	margin: 0.4em 1em 0px 0px; font-size: 1em; font-variant: small-caps; float: left;
}
.wlp-bighorn-titlebar-title-panel {
	margin: 0.4em 1em 0px 0px; font-size: 1em; font-variant: small-caps; float: left;
}
.wlp-bighorn-titlebar-button-panel {
	float: right;
}
.wlp-bighorn-titlebar-button-panel a {
	vertical-align: middle;
}
.wlp-bighorn-titlebar-button-panel a:hover > img.wlp-bighorn-image-rollover {
	display: inline;
}
.wlp-bighorn-titlebar-button-panel a:hover > img.wlp-bighorn-image-nonrollover {
	display: none;
}
.wlp-bighorn-layout-cell .wlp-bighorn-book {
	border-width: 1px; border-style: solid; margin: 8px; height: 100%;
}
#as_vos_demandes_page .wlp-bighorn-layout {
	margin: 1.1em 0px 0px; width: 900px; float: left;
}
#as_vos_demandes_page .wlp-bighorn-layout-cell {
	float: left;
}
#as_accueil_page .wlp-bighorn-layout {
	float: left;
}
#messageperso_1 {
	margin-right: 30px;
}
#msp_1 {
	margin-right: 30px;
}
.logout {
	margin-right: 30px;
}
.wlp-bighorn-page {
	height: 100%;
}
.wlp-bighorn-window-content-only {
	margin: 0px; border: 0px currentColor; border-image: none;
}
