[control="header"] div[theme], [control="footer"] div[theme]{
	display: none;
}

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

.hide {
    position: absolute;
    width: 0;
    overflow: hidden;
    height: 0;
    line-height: 0;
}