#body[theme=ssep] [control=header] {
    display: block;
    background-color: #BB0826;
    height: 54px;
    position: relative;
    width: 100%;
    text-align: left;
}

#body[theme=ssep][isMobile=true] [control=header] {
    text-align: center;
}

#body[theme=ssep] [control=header] .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#body[theme=ssep] [control=header] img {
    width: 200px;
    margin: 0 12px;
    vertical-align: middle;
}

#body[theme=ssep] [control=header][lob=wfa] {
    background-color: #91713D;
}

#body[theme=ssep] [control=header][lob=wfa] img {
    width: auto;
    margin: 0 12px;
}

#body[theme=ssep] [control=header][lob=tpb] {
    background-color: #fff;
}

#body[theme=ssep] [control=header][lob=tpb] .wf-logo {
    height: 100%;
    background-color: #91713D;
    float: left;
}

#body[theme=ssep] [control=header][lob=tpb] .tpb-logo {
    height: 100%;
    text-align: left;
    border-bottom: 1px solid #CFD1D7;
    box-sizing: border-box;
}

@media (max-width: 1079px) {
    #body[theme=ssep] [control=header] .logo {
        height: 54px;
        width: 209px;
        background: url(http://www.agd-bydgoszcz.pl/oam/static/images/icn-img-wf-logo-glob-185x16-096741-v01_01@1x.png) no-repeat;
        background-position: 50% 50%;
        border: 0;
    }

    #body[theme=ssep] [control=header][lob=tpb] .wf-logo .logo {
        height: 54px;
        width: 209px;
        background: url(http://www.agd-bydgoszcz.pl/oam/static/images/icn-img-wf-logo-white-glob-185x16-096741-v01_01@1x.png) no-repeat;
        background-position: 50% 50%;
        border: 0;
    }

    #body[theme=ssep] [control=header][lob=tpb] .tpb-logo .logo {
        height: 54px;
        width: 248px;
        background: url(http://www.agd-bydgoszcz.pl/oam/static/images/icn-img-tpb-logo-glob-228x16-096741-v01_01@1x.png) no-repeat;
        background-position: 50% 50%;
        border: 0;
    }
}

@media (min-width: 1080px) {
    #body[theme=ssep] [control=header] {
        height: 60px;
    }

    #body[theme=ssep] [control=header] .logo {
        height: 60px;
        width: 256px;
        background: url(http://www.agd-bydgoszcz.pl/oam/static/images/icn-img-wf-logo-large-glob-232x20-096741-v01_01@1x.png) no-repeat;
        background-position: 50% 50%;
        border: 0;
    }

    #body[theme=ssep] [control=header][lob=tpb] .wf-logo .logo {
        height: 60px;
        width: 256px;
        background: url(http://www.agd-bydgoszcz.pl/oam/static/images/icn-img-wf-logo-large-glob-232x20.png) no-repeat;
        background-position: 50% 50%;
        border: 0;
    }

    #body[theme=ssep] [control=header][lob=tpb] .tpb-logo .logo {
        height: 60px;
        width: 305px;
        background: url(http://www.agd-bydgoszcz.pl/oam/static/images/icn-img-tpb-logo-large-glob-285x20.png) no-repeat;
        background-position: 50% 50%;
        border: 0;
    }
}

