/* ***********************************************************************************************
// *** FORMS: INPUT (text/number) ****************************************************************
// **********************************************************************************************/

#body[theme="ssep"] [control="forms:radio"] {
    position: relative;
    display: inline-block;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

#body[theme="ssep"] [control="forms:radio"] img {
    float: left;
}

#body[theme="ssep"] [control="forms:radio"] + input {
    display: none;
}

#body[theme="ssep"] [control="forms:radio"] span {
    font-family: Verdana;
    font-weight: normal;
    font-size: 13px;
    color: #44464a;
    position: relative;
    top: 4px;
    left: 8px;
    display: block;
    float: left;
    padding-right: 60px;
}