/* ***********************************************************************************************
// *** BUTTON ************************************************************************************
// **********************************************************************************************/

#body[theme="ssep"] [control="button"] {
	height: 40px;
	padding: 0 35px 0 35px;
	font-family: Verdana;
	font-size: 18px;
	color: #ffffff;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
}

#body[theme="ssep"][devicetype="mobile"] [control="button"] {
	width: 100%;
	margin: 0 0 10px 0;
}

#body[theme="ssep"] [control="button"][data-type="primary"] {
	background-color: #0095c8;
	color: #ffffff;
}

#body[theme="ssep"] [control="button"][data-type="primary"]:disabled {
	background-color: #B2DFEE;
	color: #f5f5f5;
}

#body[theme="ssep"] [control="button"][data-type="secondary"] {
	background-color: #CFD1D7;
	color: #44464a;
}

#body[theme="ssep"] [control="button"][data-type="secondary"]:disabled {
	background-color: #F5F5F5;
	color: #BFC0BE;
}

#body[theme="ssep"] [control="button"].small {
	height: 36px;
	padding: 0 30px 0 30px;
}



/* ***********************************************************************************************
// *** THE PRIVATE BANK **************************************************************************
// **********************************************************************************************/

#body[theme="ssep"][lob="tpb"] [control="button"][data-type="primary"] {
	background-color: #5174B8;
}

#body[theme="ssep"][lob="tpb"] [control="button"][data-type="primary"]:disabled {
	background-color: #B2DFEE;
}
