#body[theme="ssep"] [control="modal-overlay"] {
	display: none;
	opacity : 0.4;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	/*height:0;*/
	z-index: 999;
}

#body[theme="ssep"] [control="modal"] {
	width: 360px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	background-color: #fff;
	z-index: 1000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#body[theme="ssep"] [control="modal"] button {
	background-color: #0095C8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
    color: #fff;
    font-size: 1.15em;
    padding: 0.5em 2em;
    display: inline-block;
    margin: 18px 15px;
}

#body[theme="ssep"] [control="modal"] h1 {
	font-size: 24px;
	color: #707780;
	margin: 20px 20px 0 20px;
}

#body[theme="ssep"] [control="modal"] p {
	font-size: 13px;
	color: #44464A;
	margin: 20px;
}

#body[theme="ssep"] .blur {
	display: block;
	-webkit-filter: blur(20px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
	opacity: 0.95;
}

#body[theme="ssep"] [control="modal"] .divider {
	height: 1px;
	width: 100%;
	background-color: #CFD1D7;
	display: block;
}
