@charset "utf-8";
/* CSS Document */
#login {}
body {}
#login {opacity:0.0; filter:alpha(opacity=0);}
.logouttext {font-family:Arial, Helvetica, sans-serif; color:#333; font-size:20px; margin-top:0px; margin-bottom:10px;}

#mainContentTop {margin-top:0px;}
.logoutforgot {margin-left:10px; color:#000;}

#mainContentBody {margin-top:0px;width:1150px}
#logout {width:1150px; margin-left:auto; margin-right:auto; margin-top:20px; }
#logoutwrap {margin-bottom:20px;}

#fixed_width_container 
{width:1190px !important; margin-left:auto; margin-right:auto;}

#header_container {width:1190px !important;}

#mainContentTop {width:1190px !important; background-image:url(white_box_top_wide.gif) !important;}

#mainContentBody {width:1170px !important; padding-left:20px;}

#center_column_thin {width:1150px !important; margin-left:auto; margin-right:auto;}

#mainContentBottom  {width:1190px !important; background-image:url(white_box_bottom_wide.gif) !important;}

#footer_topper {width:990px; margin-left:auto; margin-right:auto;}

#footer_bottom {width:990px; margin-left:auto; margin-right:auto;}

#footer {width:958px; margin-left:auto; margin-right:auto; }