.pf-error-icon{
	background: url("file-not-available-icon.png") no-repeat;
	height: 150px;
	position: relative;
	margin-top: 50px;
	left: 47%;
}

.pf-error-main-div{
	font-family:'Lato',Arial,sans-serif;
	font-size:20pt;
	text-align:center;
}
.pf-main-error-message{
	color:#1f1f1f;
	margin-bottom:16pt;
}

.pf-error-information-message{
	color:#676767;
	font-size:16pt;
}
#footer{
	display:none!important;
}