#guide-bar {
	width: 100%;
	height: 64px;
	background: #fff;
}
	.guide-main {
		width: 990px;
		height: 64px;
		background: url(new_guide.jpg);
		position: relative;
		margin: 0 auto;
	}
	.guide-main a {
		display: block;
		position: absolute;
		top: 17px;
		width: 100px;
		height: 32px;
	}
		.guide-main a span { display: none; }
	a.guide-link-1 { left: 513px; }
	a.guide-link-2 { left: 633px; }
