.PRfirmMessage {}

/* facebook style inbox ******/
.MessageBoxCountLarge {
	background: url(message-icon-l.png) no-repeat; width:40px; height:30px; position: relative; margin:0; padding:8px 0 0 0; bottom: 40px; left: 75px; cursor:pointer; text-align:center;
}
.MessageBoxCountSmall {
	background: url(message-icon-s.png) no-repeat; width:47px; height:30px; position: relative; margin:0; padding:8px 0 0 0; bottom: 40px; left: 75px; cursor:pointer; text-align:center;	color:#FFF; font-weight:bold;									
}

.daysremainingtext {
	padding: 10px;
}

.homepage_spacer {
	display:none; margin:0; padding:0;
}

/* tool tip block user ************/
a.tooltip:hover {text-decoration:none;} /*BG color is a must for IE6*/
a.tooltip span {display:none; padding:2px 3px; margin-left:8px;  text-align:left; width:140px;}
a.tooltip:hover span{display:inline; position:absolute; background:#ffff80; border:1px solid #cccccc; color:#000;}
.newspan {color: #ed9124;font-weight: bold; font-size: 9px;}

/* STEVE HARVEY *****************************/

/* MORNING SHOW WIDGET (top right of page) **************/

#shmswidget h1 {
font-size: 16px;
font-weight: bold;
margin: 8px 0px 8px 0px;
}

#shmswidget h1 span {
color: #b31508;
}

#shmswidget ul{
float:left;
width: 120px;
margin: 0px 0px 0px 15px;
padding: 0px 0px 0px 15px;
text-align: left;
}

#shmswidget li{
font-weight: bold;
font-size: 16px;
padding: 0;
margin: 0;
}

.past_date_link {
background:url(http://pmi.peoplemedia.com/166/images/steveharvey/pastlink.jpg) no-repeat;
display: block;
height: 53px;
width: 175px;
font-size: 14px;
color: #333333;
text-decoration: none;
margin: 10px 0px 5px 0px;
padding: 18px 0px 0px 92px;
}

.past_date_link span {
color: #b31508;
text-decoration: underline;
}

/* THIS WEEK VOTE WIDGET *****************************/

#vote_for_date h1{
color: #6e0d06;
font-weight: bold;
font-size: 16px;
text-align: center;
margin-bottom: 8px;
}

#vote_for_date h1 a{
color: #CC0000;
}

#vote_for_date p{
margin-top: 0px;
padding: 0px;
}

.recent_date_left {
width: 143px;
float:left;
text-align: center;
margin: 0px 0px 0px 10px;
}

.recent_date_right {
float:left;
width: 260px;
margin: 0px 0px 0px 15px;
}

.sh_vote {
font-size: 12px;
}

.sh_vote td{
padding: 0px 8px 20px 0px;
vertical-align: top;
}

.sh_vote input.radio {
margin-top: 20px;
}

/* THIS WEEK VOTED WIDGET *****************************/

.sh_voted {
width: 95%;
margin: 5px;
font-size: 12px;
}

.sh_voted td{
border-top: 1px solid #cccccc;
border-right: 1px solid #cccccc;
padding: 5px;
}

.sh_voted .status_sm{
text-align: left;
margin-left: 50px;
}

.sh_voted td.left {
border-left: 1px solid #cccccc;
border-right: none;
}

.sh_voted td.right {
color: #990000;
font-weight: bold;
font-size: 14px;
text-align: center;
line-height: 20px;
}

.sh_voted td.bottom {
border-bottom: 1px solid #cccccc;
}

/* INFO WIDGET ************/

#infoWidgetBorderTop { 
background: url(http://pmi.peoplemedia.com/166/images/steveharvey/info_widget_border_top.gif);
height: 10px;
font-size: 3px;
width: 477px;
}

#infoWidgetBody {
width: 457px;
padding: 0px 9px 0px 9px;
border-right: 1px solid #000000;
border-left: 1px solid #000000;
text-align: left;
}

#infoWidgetBody p{
margin: 0px 0px 0px 5px;
padding-bottom: 10px;
}

#infoWidgetBody ul {
margin-top: 3px;
margin-bottom: 0px;
padding-bottom: 10px;
}

.radio_date_banner {
margin-left: 8px;
}

#infoWidgetBorderBottom {
background:url(http://pmi.peoplemedia.com/166/images/steveharvey/info_widget_border_bottom.gif);
height: 10px;
font-size: 3px;
width: 477px;
}

#participate {
background:url(http://pmi.peoplemedia.com/166/images/steveharvey/participate.gif) no-repeat;
height: 122px;
width: 163px;
margin-left: 150px;
cursor: pointer;
cursor: hand;
}

#participate:hover {
cursor: pointer;
background:url(http://pmi.peoplemedia.com/166/images/steveharvey/participate.gif) 0 -122px;
width: 163px;
}

/* DATE SUMMARY WIDGET ************/

#date_summary h1{
color: #000000;
font-weight: bold;
font-size: 16px;
text-align: center;
margin-bottom: 8px;
}

.date_summary_left {
width: 143px;
float:left;
text-align: center;
margin: 0px 0px 0px 40px;
}

.date_summary_right {
width: 143px;
float:left;
text-align: center;
margin: 0px 0px 0px 0px;
}

.match_icon {
float:left;
width: 75px;
text-align: center;
}

.match_icon img {
margin-top: 50px;
}


.gallery {
border: 1px #999999 solid;
padding: 8px;
text-align: center;
margin: 10px 8px 15px 8px;
}

.gallery img {
margin: 8px 15px 5px 0px;
}

/* ARCHIVE PAGE ********************/

#archive_topper {
background:url(http://pmi.peoplemedia.com/166/images/steveharvey/archive_widget_top.gif) no-repeat;
height: 9px;
font-size:3px;
text-align: center;
width: 625px;
}

#archive_body{
border-right: 1px solid #000000;
border-left: 1px solid #000000;
overflow: auto;
width: 623px;
}

#archive_bottom {
background:url(http://pmi.peoplemedia.com/166/images/steveharvey/archive_widget_bottom.gif) no-repeat;
height: 9px;
font-size:3px;
text-align: center;
width: 625px;
}

/* PARTICIPANT SIGNUP PAGE ********************/

form.contest_signup td {
font-size: 12px;
}

form.contest_signup label {
font-size: 17px;
float:right;
}

form.contest_signup inout:text {
width: 150px;
}
.sh_link {
float:left;
padding: 15px 0px 0px 0px;
}