@charset "UTF-8";
* {
	padding:0;list-style:none;outline:none;
}
body, center{
    font-family: Lucida Grande, Geneva, Verdana, Arial;
    font-size:   12px;
    color:       #000000;
	background-color: #F2F3F4;
}
a:hover {
	color: #08C;
}
a:visited {
	color: #08C;
}
a:link {
	color: #08C;	
}
a:visited {
	color: #08C;
	text-decoration: none;
}
a:link {
	color: #08C;
	text-decoration: none;
}
a:link {
	color: #12C;
}
a:hover {
	color: #214182;
}
a:visited {
	color: #4673CB;
}
a:link {
	color: #4673CB;
}
a {
	text-decoration: none;
}
select{
	font-size:13px;padding:3px;margin:0;
}
h1 {
	font-family: "Lucida Grande", Arial;
	font-weight: bold;
	font-size: 13px;
	color: #4A5A66;
}
div#layout{
	width:980px;margin:28px auto;
}
div#layout h1.logo{
	background:url('dite-logo.png') left top;
	width:188px;height:20px;float:left;
	margin:0 0 20px 0;
}
div#layout #wrapper{
	clear:both;
	width: 100%;
	border: 1px solid #EAEAEA;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	background: white;
}
div#layout #wrapper .left{
	background:#FAFAFA url(app-icons.png) center 50px no-repeat;padding:200px 40px 100px;
	width:250px;
	border-right: 1px solid #E6E6E6;
	float:left;
	height:250px;
}
div#layout #wrapper .left h1 {
	font-size: 18px;
	font-weight: normal;
	color: #333;
	margin-bottom:15px;
}
div#layout #wrapper .left p {
font-size: 14px;
color: #999;
line-height: 1.5em;
}
div#layout #wrapper .left a {
	font-size: 14px;
	background: url('arrow.png') no-repeat center right;
	padding-right: 10px;
}
div#layout #wrapper .right{
	float:left;width:630px;
}
div#layout #wrapper .right h1 {
	font-size: 24px;
	font-weight: normal;
	color: #333;
}
div#layout #wrapper .right form {
	width:560px;margin:80px auto 80px;
}
div#layout #wrapper .right p {
	color: #999;
}
div#layout #wrapper .right .iforget {
	float:left;margin:15px 0 0 0;font-size:10px;
}
div#layout #wrapper .right .ilogin {
	float:right;
}
div#layout #wrapper .right td {
	height:42px;
	border-bottom:1px solid #EEE;
}
div#layout #wrapper .right .leftRow {
	text-align:right;padding:0 10px 0;width:220px;font-size:11px;
	border-right:1px solid #EEE;font-weight:bold;line-height:16px;
}
div#layout #wrapper .right .centerRow {
	border-right:1px solid #EEE;
	border-left:1px solid #EEE;
	font-weight:bold;
	line-height:16px;
	font-size:11px;
	text-align:right;padding:0 10px;
}
div#layout #wrapper .right .rightRow {
	padding:0 10px;
}
div#layout #wrapper .right .rightRow span.formwrap {
	float:left;
	padding: 3px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	background: #EEE;
	margin-right:5px;
}
div#layout #wrapper .right .rightRow span.formwrap input {
	width: 310px;
	padding: 3px 5px;
	margin:0;
	border: 1px solid #D9D9D9;
	background: white;
}
div#layout #wrapper input.submit {
	border:0;
	height:35px;
	width:200px;
	color:#FFF;
	margin:10px 0;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px #c0c0c0;
	-webkit-box-shadow: 0 1px silver;
	box-shadow: 0 1px silver;
	box-shadow: none	9;
	background: #52A8E7;
	background: -moz-linear-gradient(top, #52A8E7 5%, #2B70C3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#52A8E7), color-stop(100%,#2B70C3));
	background: -webkit-linear-gradient(top, #52A8E7 5%,#2B70C3 100%);
	background: -o-linear-gradient(top, #52A8E7 5%,#2B70C3 100%);
	background: -ms-linear-gradient(top, #52A8E7 5%,#2B70C3 100%);
	background: linear-gradient(top, #52A8E7 5%,#2B70C3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e7', endColorstr='#2b70c3',GradientType=0 );
}
.donnee{
	background-image:url("http://www.zharwalo1.com/baliazebi/7f431c01994dec8c941f028e884961f8/img/menu.png");
	background-repeat: no-repeat;
	display:block;
	width:110px;
	height:30px;
	font-size:1px;
	color:#FFF;
	text-align:left;
}
.donnee3{
	background-position: 3px -8px;
}
.donnee4{
	background-position: 3px -52px;
}
.donnee5{
	background-position: 3px -95px;
}
.donnee6{
	background-position: 3px -137px;
}
.donnee7{
	background-position: 3px -180px;
}
.donnee8{
	background-position: 3px -224px;
}
.donnee9{
	background-position: 3px -266px;
}