@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, option, textarea, p, blockquote, th, td{
    padding: 0;
    margin: 0;
    font: 12px/20px arial, helvetica, verdana, tahoma, sans-serif;
}
body,.yk-con{background-color: #fff;}
ul{list-style:none;}

/*  */
.v,
.p,
.v-mini-group{margin-bottom:20px;}
.v-mini-group .v{margin-bottom:10px;}
.v-small-group .v{margin-bottom:30px;}
.v .vb-oneline{*padding:0;}
.v .vb-oneline .v-meta-title,
.yk-v-oneline .v .v-meta-title{margin-top:18px;}
.v .vb-oneline .v-meta-overlay,
.yk-v-oneline .v .v-meta-overlay{
    background: url("bg_video_mini.png") no-repeat left bottom;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/video/bg_video_mini.png");
}
.v-hover .vb-oneline .v-meta-overlay,
.yk-v-oneline .v-hover .v-meta-overlay{
    background: #000;
    filter: alpha(opacity=70);
}
.v .vb-oneline .v-meta-tagrt{
    display: none;
}
.yk-v-oneline .v-hover .v-meta-title,
.v-hover .vb-oneline .v-meta-title{
    margin-top:0;
}

.yk-row-through{margin-bottom:40px;}


/* yk-box */
.yk-box .yk-head .yk-title span{color:#909090;}
/* tab */
.yk-tab li a{cursor: pointer;line-height:20px;padding:5px 10px;font-family:"Microsoft YaHei","微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif;}
.yk-tab-large li a{padding:0 20px;font-size:20px;line-height:30px;font-family:"Microsoft YaHei","微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif;}


/* 滑块 */
.yk-slide{overflow:hidden;position:relative;}
.yk-slide .yk-slide-pages{position:absolute;left:0;top:0;}
.yk-slide .yk-slide-pager{overflow:hidden;z-index:10;position:absolute;bottom:0;left:0;width:100%;height:10px;padding-top:10px;text-align:center;}
.yk-slide .yk-slide-pager div{cursor:pointer;overflow:hidden;display:inline-block;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;vertical-align:top;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#c3c3c3;}
.yk-slide .yk-slide-pager div:hover{background:#aaa;}
.yk-slide .yk-slide-pager div.current{cursor:default;background:#69aaec;}
.yk-slide .yk-slide-btnprev,
.yk-slide .yk-slide-btnnext{cursor:pointer;visibility:hidden;z-index:10;position:absolute;top:0;width:90px;height:100%;display:block;}
.yk-slide .yk-slide-btnprev,
.yk-slide .yk-slide-btnnext{-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
.yk-slide .yk-slide-btnprev i,
.yk-slide .yk-slide-btnnext i{position:absolute;top:50%;width:45px;height:45px;margin-top:-23px;}
.yk-slide .yk-slide-btnprev i{left:0;background:url("slide_prev_btn.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_prev_btn.png");}
.yk-slide .yk-slide-btnnext i{right:0;background:url("slide_next_btn.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_next_btn.png");}
.yk-slide .yk-slide-btnprev{left:0;background:url("slide_prev_bg.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_prev_bg.png");}
.yk-slide .yk-slide-btnnext{right:0;background:url("slide_next_bg.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_next_bg.png");}
.yk-slide .yk-slide-btnprev:hover{background:url("slide_prev_hover_bg.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_prev_hover_bg.png");}
.yk-slide .yk-slide-btnnext:hover{background:url("slide_next_hover_bg.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_next_hover_bg.png");}
.yk-slide-v1{height:110px;}
.yk-slide-v2{height:160px;}
.yk-slide-v3{height:200px;}
.yk-slide-p1{height:320px;}
.yk-slide-p1 .yk-slide-btnprev,
.yk-slide-p1 .yk-slide-btnnext{height:300px;}


/* 排行榜 */
.yk-rank{overflow:visible;margin:0;}
.yk-rank .item{*zoom:1;overflow:hidden;position:relative;width:auto;height:20px;line-height:20px;padding-left:30px;margin:10px 0 0;font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
.yk-rank .item:before,
.yk-rank .item:after{display:table;content:"";line-height:0;}
.yk-rank .item:after{clear:both;}
.yk-rank .item label{position:absolute;top:0;left:0;width:20px;height:20px;background:#03a7e1;color:#fff;display:inline-block;text-align:center;margin-right:10px;font:12px/20px "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
.yk-rank .item label.hot{background:#ef3f22;}
.yk-rank .item .name{display:block;float:left;font-size:14px;}
.yk-rank .item .extend{display:block;float:right;color:#909090;font-size:14px;}
.yk-rank .item a.extend:hover{color:#c31;}
.yk-rank .line{overflow:hidden;float:left;width:155px;margin-top:-10px;}
.yk-rank .yk-rank-desc{height:20px;padding:5px 0;margin-top:-20px;}
.yk-rank .yk-rank-desc span{color:#909090;}
.yk-rank .yk-rank-link{clear:both;font-size:12px;line-height:20px;padding-top: 10px}
.yk-rank .yk-rank-link a{margin-right:15px;font-family:simsun,"\5B8B\4F53","宋体";}
.yk-rank .item-thumb{height:50px;}
.yk-rank .item-thumb .thumb{float:left;overflow:hidden;width:90px;height:50px;margin-left:-30px;margin-right:10px;}
.yk-rank .item-thumb .thumb img{width:100%;}
.yk-rank .item-thumb .name,
.yk-rank .item-thumb .extend{float:none;}
.yk-rank .item-thumb .rating{position:absolute;top:0;right:0;color:#bbb;font-size:14px;}
.yk-rank .item-subscribe{position:relative; height: 50px; overflow: hidden; margin-bottom: 20px; padding-left: 0;}
.yk-rank .item-subscribe:hover{background: #f5f5f5;}
.yk-rank .item-subscribe:hover .sub-btn{display: block;}
.yk-rank .item-subscribe .sub-btn{display: none; position: absolute; top: 0px; right: 0px; width: 66px; height: 50px; font-size: 14px; color:#fff; font-family: "Microsoft Yahei", "微软雅黑", "黑体", Arial, sans-serif; line-height: 50px; text-indent: 27px; background:#11b9f5 url("051000005464214D6737B331FC04641D") no-repeat 9px 17px; cursor: pointer; -moz-box-shadow: -50px 0px 50px #f5f5f5; -webkit-box-shadow: -50px 0px 50px #f5f5f5; -o-box-shadow: -50px 0px 50px #f5f5f5; box-shadow: -50px 0px 50px #f5f5f5;}
.yk-rank .item-subscribe .userinfo{padding-top: 5px; margin-left: 10px;}
.yk-rank .item-subscribe label{position: absolute; top: 0; left:0; width: 20px; height: 20px; background: #03a7e1; color: #fff; line-height: 20px; text-align: center;}
.yk-rank .item-subscribe label.hot{background: #ef3f22;}
.yk-rank .item-subscribe img{float:left; margin-right: 10px; width: 50px; height: 50px;}
.yk-rank .item-subscribe h3{display: inline-block; font-family: "Microsoft Yahei", "微软雅黑", "黑体", Arial, sans-serif; font-size: 14px; padding-right: 30px; background: url("051000005464214D6737B35561064942") no-repeat 90% 2px;}
.yk-rank .item-subscribe h3 a{color: #3399e0; text-decoration: none;}
.yk-rank .item-subscribe .userinfo span{font-size: 12px; font-family: "Microsoft Yahei", "微软雅黑", "黑体", Arial, sans-serif; color: #bbb;}
.yk-rank .item-subscribe .userinfo p{font-size: 12px; font-family: "Microsoft Yahei", "微软雅黑", "黑体", Arial, sans-serif; color: #555; line-height: 21px; overflow: hidden;}

/* 人物 */
.yk-userCube{position:relative;width:90px;height:90px;margin-bottom:20px;}
.yk-userCube .yk-userCube-avatar img{width:100%;}
.yk-userCube .yk-userCube-name{z-index:2;position:absolute;bottom:0;left:0;width:100%;height:18px;line-height:18px;font-size:12px;text-align:center;color:#ffffff;}
.yk-userCube .yk-userCube-name:visited{color:white;}
.yk-userCube .yk-userCube-name:hover{text-decoration:none;}
.yk-userCube .yk-userCube-overlay{z-index:-1;position:absolute;bottom:0;left:0;width:100%;height: 45px;height:20px\0;background: url("bg_video_mini.png") no-repeat left bottom;   _background: none;   _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/video/bg_video_mini.png");filter:alpha(opacity=50);}
.yk-userCube .yk-userCube-small{float:left;width:50px;height:50px;margin-right:5px;}
.yk-userCube-small{float:left;width:50px;height:50px;margin-right:5px;}
.yk-userCube-small img{width:100%;}


/* 专辑 */
.yk-ablumCube{position:relative;width:200px;height:200px;margin-bottom:20px;}
.yk-ablumCube .yk-ablumCube-pic img{width:100%;}
.yk-ablumCube .yk-ablumCube-name{z-index:2;position:absolute;bottom:0;left:0;width:180px;height:34px;line-height:34px;padding:0 10px;font-size:14px;color:#ffffff;}
.yk-ablumCube .yk-ablumCube-name:hover{color:#c31;text-decoration:none;}
.yk-ablumCube .yk-ablumCube-overlay{z-index:1;position:absolute;bottom:0;left:0;width:200px;height:34px;background:#000;opacity:.5;filter:alpha(opacity=50);}

/* 合作伙伴 */

.yk-partners{overflow:hidden;}
.yk-partners .yk-partners-inner{*zoom: 1;margin-left:-55px;}
.yk-partners .yk-partners-inner:before,
.yk-partners .yk-partners-inner:after{display: table;content: "";line-height: 0;}
.yk-partners .yk-partners-inner:after{clear: both;}
.yk-partners .yk-partner{*display:inline;float:left;width:150px;margin:0 0 20px 55px;}
.yk-w1190 .yk-partners .yk-partners-inner{margin-left:-110px;}
.yk-w1190 .yk-partners .yk-partner{margin-left:110px}

/* 正在看 继承Video样式 */
.v .v-meta-extend{margin-top:-20px;text-align:right;color:#909090;}
.yk-myrecord .v .v-action-del{position:absolute;top:0;right:0;width:10px;height:10px;}
.yk-myrecord .v .v-process{overflow:hidden;width:90px;height:12px;line-height:12px;}
.yk-myrecord .v .v-process .v-time{z-index:1;position:absolute;right:0;top:0;background:none;}
.yk-myrecord .v .v-process .bg{z-index:-2;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity: 0.7;filter: alpha(opacity=70);}
.yk-myrecord .v .v-process .bg-fill{z-index:-1;position:absolute;left:0;width:20%;height:12px;line-height:12px;background:#ad240c;}



/* yk-filter 筛选器 */
/***************************************/
.yk-filter{*zoom:1;padding-bottom:10px;border-top:22px solid #f5f5f5;border-bottom:3px solid #e6e6e6;}
.yk-filter:before,
.yk-filter:after{display:table;content:"";line-height:0;}
.yk-filter:after{clear:both;}
.yk-filter .yk-filter-item{zoom:1;position:relative;float:left;padding:5px 0;}
.yk-filter .yk-filter-item ul{overflow:hidden;}
.yk-filter .yk-filter-item label,
.yk-filter .yk-filter-item span,
.yk-filter .yk-filter-item a{font-size:12px;font-family:arial,helvetica,verdana,tahoma,sans-serif;}
.yk-filter .yk-filter-item a{color:#555;text-decoration:none;white-space:nowrap;}.yk-filter .yk-filter-item a:hover{color:#c31;}
.yk-filter .yk-filter-item label{position:absolute;left:0;top:-22px;padding:0 10px;height:22px;line-height:22px;font-weight:bolder;white-space:nowrap;background:#909090;color:#fff;}
.yk-filter .yk-filter-item li{float:left;margin-right:20px;padding:2px 0;}
/* 电视剧 筛选器 */
.yk-filter-tv{margin-bottom:40px;}
.yk-filter-tv .yk-filter-item li{margin-right:15px;}
.yk-filter-tv .item1{width:185px;padding-right:0px;}
.yk-filter-tv .item2{width:380px;padding-right:10px;}
.yk-filter-tv .item3{width:130px;padding-right:5px;}
.yk-filter-tv .item4{width:260px;padding-right:0;}
/* 电影 筛选器 */
.yk-filter-movie{margin-bottom:20px;}
.yk-filter-movie .item1{width:225px;padding-right:0px;}
.yk-filter-movie .item2{width:240px;padding-right:0px;}
.yk-filter-movie .item3{width:240px;padding-right:0px;}
.yk-filter-movie .item4{width:195px;padding-right:70px;}
/* 综艺 筛选器 */
.yk-filter-zy{margin-bottom:40px;}
.yk-filter-zy .item1{width:180px;padding-right:15px;}
.yk-filter-zy .item2{width:500px;padding-right:0px;}
.yk-filter-zy .item3{width:250px;padding-right:25px;}
/* 音乐 筛选器 */
.yk-filter-mv{border:0 none;padding:0;margin-bottom:-15px;}
.yk-filter-mv .yk-filter-item{width:100%;padding:15px 0;border-top:22px solid #f5f5f5;}
.yk-filter-mv .yk-filter-item li{margin-right:30px;}
/* 动漫 筛选器 */
.yk-filter-comic{margin-bottom:40px;}
.yk-filter-comic .item1{width:200px;padding-right:10px;}
.yk-filter-comic .item2{width:550px;padding-right:20px;}
.yk-filter-comic .item3{width:180px;padding-right:10px;}





/***************************************/
/* 电视剧频道 */
/***************************************/
/* 黄金档 模块 */
.yk-tv-goldenshow{height:110px;margin-bottom:20px;background:#f5f5f5;}
.yk-tv-goldenshow .list{padding:6px 20px;}
.yk-tv-goldenshow .list li{margin-bottom:4px;font-size:14px;font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
.yk-tv-AD{width:100%;height:30px;margin-bottom:10px;}
.yk-tv-AD .l{float:left;}
.yk-tv-AD .r{float:right;}
/*  */
.yk-userCube-list .userCube{position:relative;zoom:1;min-height:90px;_height:90px;padding-left:100px;margin-bottom:20px;}
.yk-userCube-list .userCube .avatar{position:absolute;top:0;left:0;width:90px;height:90px;}
.yk-userCube-list .userCube .avatar img{width:100%;}
.yk-userCube-list .userCube .name{font-size:14px;font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
.yk-userCube-list .userCube .desc{color:#909090;}
.yk-userCube-list .userCube .videos ul{padding-left:15px;}
.yk-userCube-list .userCube .videos li{list-style:square;}

.yk-tv-index-2 .v .va,
.yk-tv-index-5 .v .va,
.yk-tv-index-6 .v .va,
.yk-tv-index-7 .v .va,
.yk-tv-index-8 .v .va,
.yk-tv-index-13 .v .va,
.yk-tv-index-14 .v .va{height:75px;_height:55px;}
.yk-tv-index-15 .v .va{height:95px;_height:75px;}
.yk-tv-index-2 .yk-myrecord{margin-bottom:40px;}
.yk-tv-index-3 .yk-rank-long,
.yk-tv-index-5 .yk-rank,
.yk-tv-index-6 .yk-rank,
.yk-tv-index-7 .yk-rank{margin-bottom:20px;}
.yk-tv-index-2,
.yk-tv-index-3,
.yk-tv-index-4,
.yk-tv-index-5,
.yk-tv-index-6,
.yk-tv-index-7,
.yk-tv-index-8,
.yk-tv-index-9,
.yk-tv-index-10,
.yk-tv-index-11,
.yk-tv-index-12,
.yk-tv-index-13,
.yk-tv-index-14{margin-bottom:20px;}





/***************************************/
/* 电影频道 */
/***************************************/
/* 最新预告 模块 */
.yk-movietrailers .yk-col4{margin-bottom:-20px;}
.yk-movietrailers .v{margin-bottom:20px;}
/* 即将上线 模块 */
.yk-movie-online .v-small .v-thumb-online{z-index:3;position:absolute;left:0;bottom: 0;width:100%;height: 45px;line-height:32px;}
.yk-movie-online .v-small .v-thumb-online-time{position: absolute;font-size:14px;color:#fff;bottom: 2px;left: 5px;}
.yk-movie-online .v-small .v-thumb-online-overlay{z-index:-1;position:absolute;left:0;top:0;width:100%;height:100%;background: url("bg_video_mini.png") no-repeat left bottom; _background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/video/bg_video_mini.png");}
.yk-movie-online .v-meta .v-meta-entry,
.yk-movie-activity .v-meta .v-meta-entry{height:auto;}
/*  */
.yk-movie-online,
.yk-movie-activity{margin-bottom:-30px;}
.yk-movie-online .v,
.yk-movie-activity .v{margin-bottom:30px;}
.yk-movie-index-4{margin-bottom:20px;}
.yk-movie-index-7{margin-bottom:20px;}
.yk-movie-index-8{margin-bottom:20px;}
.yk-movie-index-9{margin-bottom:20px;}
.yk-movie-index-10{margin-bottom:20px;}
.yk-movie-index-11{margin-bottom:20px;}
.yk-movie-index-12{margin-bottom:20px;}
.yk-movie-index-13{margin-bottom:20px;}
.yk-movie-index-14{margin-bottom:20px;}
.yk-movie-index-8 .yk-rank{height:300px;margin-bottom:20px;}
.yk-movie-index-9 .yk-rank{height:300px;margin-bottom:20px;}
.yk-movie-index-10 .yk-rank{height:300px;}
.yk-movie-index-11 .yk-rank{height:190px;}
.yk-movie-index-14 .v .va{height:55px;}



/***************************************/
/* 综艺频道 */
/***************************************/
/* Tab */
.yk-tab-zy,
.yk-tab-zy ul{width:100%;background:#f5f5f5;}
.yk-tab-zy li{cursor:pointer;position:relative;height:34px;line-height:34px;padding:0 10px;color:#555;}
.yk-tab-zy .yk-tab-title{margin-right:10px;font-size:14px;font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
.yk-tab-zy .yk-tab-desc{font-size:12px;}
.yk-tab-zy li b{display:none;overflow:hidden;position:absolute;top:50%;right:-7px;margin-top:-7px;width:14px;height:14px;font-size:14px;line-height:14px;color:#06a7e1;}
.yk-tab-zy li.current{background:#06a7e1;}
.yk-tab-zy li.current .yk-tab-title,
.yk-tab-zy li.current .yk-tab-desc{color:#fff;}
.yk-tab-zy li.current b{display:block;}
/* 网台同步 模块 */
.yk-zy-sync .yk-tab-zy li{text-align:center;}

.yk-zy-index-2,.yk-zy-index-3,
.yk-zy-index-4,.yk-zy-index-5,
.yk-zy-index-6,.yk-zy-index-7,
.yk-zy-index-8,.yk-zy-index-9,.yk-zy-index-10{margin-bottom:20px;}
.yk-zy-index-2 .v .va,
.yk-zy-index-4 .v .va,
.yk-zy-index-7 .v .va,
.yk-zy-index-8 .v .va,
.yk-zy-index-9 .v .va{height:75px;_height:55px}
.yk-zy-index-9 .yk-tab-zy{height:360px;}




/***************************************/
/* 音乐频道 */
/***************************************/
/* 唱片公司 */
.yk-mvcompany{z-index:5;position:relative;height:50px;background:#f5f5f5;}
.yk-mvcompany .avatar{overflow:hidden;position:absolute;left:3px;top:8px;width:50px;height:50px;padding:2px;background:#fff;}
.yk-mvcompany .avatar img{width:100%;}
.yk-mvcompany .name{margin-left:65px;padding-top:8px;font-size:14px;font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}

.yk-mv-index-1{margin-bottom:40px;}
.yk-mv-index-2 .yk-rank-long .item-thumb,
.yk-mv-index-3 .yk-rank-long .item-thumb{margin-bottom:20px;}
.yk-mv-index-2,
.yk-mv-index-3,
.yk-mv-index-5,
.yk-mv-index-6,
.yk-mv-index-7,
.yk-mv-index-8{margin-bottom:20px;}
.yk-mv-index-3 .v .va{height:55px;}
.yk-mv-index-5 .v .va{height:105px;}
.yk-mv-index-6 .v .va{height:105px;}
.yk-mv-index-7 .v .va{height:55px;}
.yk-mv-index-7 .v .v-meta-title{height:20px;}
.yk-mv-index-8 .v .va{height:55px;}





/***************************************/
/* 动漫频道 */
/***************************************/
/* 文本 Tab */
.yk-comic-update{height:290px;margin-bottom:20px;}
.yk-comic-update .yk-tab-comic{float:left;width:48px;height:290px;margin-right:10px;background:#f5f5f5;}
.yk-comic-update .yk-tab-comic li{cursor:pointer;position:relative;margin-bottom:10px;height:30px;line-height:30px;font-size:14px;font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;text-align:center;color:#555;}
.yk-comic-update .yk-tab-comic li.current{background:#06a7e1;color:#fff;}
.yk-comic-update .yk-tab-comic li.current a{color:#fff;}
.yk-comic-update .yk-tabcon-comic{zoom:1;position:relative;overflow-y:auto;float:left;width:252px;height:290px;}
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar{
    width:6px;
    height:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background:#e2e2e2
}
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar-button{
    display:none
}
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar-track,
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar-track-piece{
    background:-webkit-gradient(linear,left);
    width:6px;
    height:6px
}
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar-thumb{
    -webkit-border-radius:6px;
    border-radius:6px;
    background:#c2c2c2
}
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar-thumb:horizontal{
    -webkit-border-radius:6px;
    border-radius:6px;
    background:#c2c2c2
}
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar-thumb:hover{
    background:#bdbdbd
}
.yk-comic-update .yk-tabcon-comic::-webkit-scrollbar-thumb:active{
    background:#8e8e8e
}
/* 特别推荐 */
.yk-jiugongge .yk-jiugongge-con{position:relative;zoom:1;width:310px;height:180px;padding-top:180px;margin-bottom:20px;}
.yk-jiugongge .yk-jiugongge-con .item{float:left;margin-top:10px;margin-right:20px;}
.yk-jiugongge .yk-jiugongge-con .item-3x{margin-right:0;}
.yk-jiugongge .yk-jiugongge-con .item img{width:100%;height:100%;}
.yk-jiugongge .yk-jiugongge-con .item .limg{display:none;position:absolute;top:0;left:0;width:310px;height:170px;}
.yk-jiugongge .yk-jiugongge-con .item .simg{float:left;position:relative;width:90px;height:50px;}
.yk-jiugongge .yk-jiugongge-con .current .limg{display:block;}
.yk-jiugongge .yk-jiugongge-con .current .simg img{position:absolute;top:-3px;left:-3px;border:3px solid #06a7e1;}
/* 与您同在 */
.yk-comic-aboutus p{font-size:14px;font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;color:#555;}

.yk-comic-index-2 .v .va,
.yk-comic-index-4 .v .va{height:55px;_height:35px;}
.yk-comic-index-5 .v .va{height:95px;_height:75px;}
.yk-comic-index-6 .yk-col6 .yk-title{margin-right:10px;}
.yk-comic-index-6 .yk-rank{margin-bottom:10px;}
.yk-comic-index-2,
.yk-comic-index-3,
.yk-comic-index-4,
.yk-comic-index-5,
.yk-comic-index-6,
.yk-comic-index-7,
.yk-comic-index-8,
.yk-comic-index-10{margin-bottom:20px;}












/***************************************/
/* 幻灯片 */
/***************************************/
/* 幻灯片1 */
.showcase{-moz-user-select:none;-webkit-user-select:none;overflow:hidden;z-index:0;position:relative;width:970px;height:410px;margin-bottom:20px;}
.showcase .pages,
.showcase .page{position:absolute;top:0;left:0;width:100%;height:100%;background:#888;}
.showcase .page .item{overflow:hidden;zoom:1;position:relative;width:100%;height:100%;margin:0;padding:0;list-style:none;}
.showcase .page .item_img{overflow:hidden;z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:url(051000004E65BA8397927313BF036E73.gif) no-repeat center center;}
.showcase .page .item_img img{display:block;position:absolute;top:0;left:50%;width:1190px;max-width:none;height:100%;margin-left:-595px;}
.showcase .page .item_url{z-index:3;position:absolute;top:0;left:0;width:100%;height:100%;}
.showcase .page .item_url a{display:block;width:100%;height:100%;background:url(spacer.gif);}
.showcase .pager{overflow:hidden;z-index:10;position:absolute;bottom:0;left:0;width:100%;height:10px;padding:10px 0;text-align:center;}
.showcase .pager div{cursor:pointer;overflow:hidden;display:inline-block;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;vertical-align:top;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 0 4px #333333;-moz-box-shadow:0 0 4px #333333;box-shadow:0 0 4px #333333;background:#ffffff;}
.showcase .pager div:hover{background:#bdbdbd;}
.showcase .pager div.current{cursor:default;background:#69aaec;}
.showcase .btnprev,
.showcase .btnnext{cursor:pointer;visibility:hidden;z-index:10;position:absolute;top:50%;width:45px;height:45px;margin-top:-23px;}
.showcase .btnprev{left:7px;background:url("slide_prev_btn.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_prev_btn.png");}
.showcase .btnnext{right:7px;background:url("slide_next_btn.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_next_btn.png");}
.showcase .btnprev:hover{left:7px;background:url("slide_prev_btn_hover.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_prev_btn_hover.png");}
.showcase .btnnext:hover{right:7px;background:url("slide_next_btn_hover.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_next_btn_hover.png");}
body.yk-w1190 .showcase{width:1190px;}

/* 幻灯片2 */
.myslider{position:relative;height:310px;}
.myslider img{max-width:none;max-height:none;border:0 none;background:#888;}
.myslider .contentHolder{position:relative;overflow:hidden;}
.myslider .contentHolderUnit{cursor:pointer;position:absolute;width:640px;height:270px;}
.myslider .contentHolderUnit a.elementLink{display:block;overflow:hidden;z-index:3;position:absolute;left:0;right:0;width:100%;height:100%;}
.myslider .contentHolderUnit img{width:100%;height:100%;}
.myslider .contentHolderUnit .elementTitle{}
.myslider .contentHolderUnit .elementOverlay{z-index:1;position:absolute;top:0;left:0;background:#000;width:100%;height:100%;opacity:0;filter:opacity=0;}
.myslider .contentHolderUnit .leftShadow{position:absolute;top:23px;left:-174px;width:174px;height:224px;background:url(leftShadow.png) no-repeat;_background:none;}
.myslider .contentHolderUnit .rightShadow{position:absolute;top:23px;right:-174px;width:174px;height:224px;background:url(rightShadow.png) no-repeat;_background:none;}
.myslider .bannerControls{}
.myslider .leftNav,.myslider .rightNav{cursor:pointer;z-index:10;position:absolute;top:50%;width:45px;height:45px;margin-top:-43px;}
.myslider .leftNav{left:7px;background:url("slide_prev_btn.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_prev_btn.png");}
.myslider .rightNav{right:7px;background:url("slide_next_btn.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/2013/slide_next_btn.png");}
.myslider .leftNav:hover{}
.myslider .rightNav:hover{}
.myslider .bottomNav{z-index:140;position:absolute;width:100%;height:10px;margin-top:270px;padding:10px 0 0;text-align:center;}
.myslider .bottomNavButtonOFF{cursor:pointer;overflow:hidden;display:inline-block;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;vertical-align:top;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#c3c3c3;}
.myslider .bottomNavButtonOFF:hover{background:#aaa;}
.myslider .bottomNavButtonON,
.myslider .bottomNavButtonON:hover{background:#69aaec;}
.myslider .bottomNavLeft{}
.myslider .bottomNavRight{}












/* yk-w1190 1190宽 */
/***************************************/
/* 电视剧 筛选器 */
.yk-w1190 .yk-filter-tv .yk-filter-item li{margin-right:20px;}
.yk-w1190 .yk-filter-tv .item1{width:190px;padding-right:50px;}
.yk-w1190 .yk-filter-tv .item2{width:420px;padding-right:50px;}
.yk-w1190 .yk-filter-tv .item3{padding-right:50px;}
.yk-w1190 .yk-filter-tv .item4{padding-right:40px;}
/* 电影 筛选器 */
.yk-w1190 .yk-filter-movie .item1,
.yk-w1190 .yk-filter-movie .item2,
.yk-w1190 .yk-filter-movie .item3{padding-right:60px;}
.yk-w1190 .yk-filter-movie .item4{padding-right:110px;}
/* 综艺 筛选器 */
.yk-w1190 .yk-filter-zy .item1{padding-right:80px;}
.yk-w1190 .yk-filter-zy .item2{padding-right:60px;}
.yk-w1190 .yk-filter-zy .item3{padding-right:120px;}
/* 动漫 筛选器 */
.yk-w1190 .yk-filter-comic .item1{padding-right:70px;}
.yk-w1190 .yk-filter-comic .item2{padding-right:90px;}
.yk-w1190 .yk-filter-comic .item3{width:260px;padding-right:20px;}

.yk-con {
    padding: 20px 10px;
}
.yk-user-avatar-small {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}
.yk-recommend {
    position: relative;
}
.yk-recommend .yk-recommend-more {
    position: absolute;
    right: 0;
    bottom: 0;
    _margin-bottom: 53px;
    _display: inline;
    _zoom: 1;
}
.yk-v-150u .v,
.yk-v-150 .v {
    height: 150px;
}
.yk-v-150 .va {
    height: 35px;
}
.yk-v-150u .va{
    height: 55px;
    _height: 35px;
}
.yk-v-160u .v,
.yk-v-160 .v {
    height: 160px;
}
.yk-v-160 .va {
    height: 45px;
}
.yk-v-160u .va{
    height: 65px;
    _height: 45px;
}
.yk-v-170u .v,
.yk-v-170 .v {
    height: 170px;
}
.yk-v-170 .va {
    height: 55px;
}
.yk-v-170u .va{
    height: 75px;
    _height: 55px;
}
.yk-v-180u .v,
.yk-v-180 .v {
    height: 180px;
}
.yk-v-180 .va {
    height: 65px;
}
.yk-v-180u .va{
    height: 85px;
    _height: 65px;
}
.yk-v-190u .v,
.yk-v-190 .v {
    height: 190px;
}
.yk-v-190 .va {
    height: 75px;
}
.yk-v-190u .va {
    height: 95px;
    _height: 75px;
}
.yk-v-200u .v,
.yk-v-200 .v {
    height: 200px;
}
.yk-v-200 .va {
    height: 85px;
}
.yk-v-200u .va {
    height: 105px;
    _height: 85px;
}

/*新PGC高度*/
.yk-v-160p .v{
    height: 160px;
}
.yk-v-160p .va{
    height: 25px;
}
.yk-v-170p .v{
    height: 170px;
}
.yk-v-170p .va{
    height: 35px;
}
.yk-v-180p .v{
    height: 180px;
}
.yk-v-180p .va{
    height: 45px;
}
.yk-v-190p .v{
    height: 190px;
}
.yk-v-190p .va {
    height: 55px;
}
.yk-v-200p .v{
    height: 200px;
}
.yk-v-200p .va{
    height: 65px;
}
.yk-v-210p .v{
    height: 210px;
}
.yk-v-210p .va {
    height: 75px;
}


.yk-row-index {
    margin-bottom: 30px;
}
.yk-row-index .yk-rank{
    overflow: hidden;
}
.yk-row-index .yk-rank-link{
    line-height: 30px;
}
.yk-row-index .yk-rank .line,
.yk-row-index .yk-rank-long{
    margin-top:-10px;
}
/*.yk-row-index .yk-rank{
    _margin-bottom: -15px;
}*/
.watch {
    overflow: hidden;
    position: relative;
}
.watch .thumb,
.watch .detail,
.watch .close {
    position: absolute;
    top: 0;
    right: 0;
}
.watch .thumb {
    left: 0;
    width: 90px;
    height: 30px;
}
.watch .thumb .time {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    color: white;
    font-size: 10px;
    line-height: 11px;
    height: 11px;
}
.watch .detail {
    left: 100px;
}
.watch .detail .title {
    font-size: 14px;
    margin-bottom: 10px;
}
.watch .detail .info {
    font-size: 12px;
    color: #909090;
}
.watch .detail .pull-right {
    float: right;
}
.watch .close {
    top: 5px;
    right: 5px;
}
.yk-moreGroup .v {
    height: 190px;
}
.scrollBar {
    position: relative;
}
.scrollBar .next {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    bottom: 5px;
    background: green;
}

.yk-user-video .v-horiz{
    overflow: hidden;
}
.yk-user-video .v-horiz .v-meta-title{
    height:auto;
}
.yk-userCube {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
}
.yk-userCube img {
    width: 90px;
    height: 90px;
}
.yk-userCube-name {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    width: 100%;
    color: #ffffff;
}
.yk-userCube-name:hover {
    text-decoration: underline;
    color:white;
}
.yk-userCube-small {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
}
.yk-userCube-small img {
    width: 50px;
    height: 50px;
}
.v {
    margin-bottom: 20px;
}
.yk-box .yk-topic-head,
.yk-box .yk-topic-head .yk-title,
.yk-box .yk-topic-head .yk-title a{
    height: 20px;
    line-height: 20px;
    color:#555;
}
.yk-box .yk-topic-head .yk-title,
.yk-box .yk-topic-head .yk-extend {
    font-size: 16px;
    line-height: 20px;
}
.yk-box .yk-topic-head .yk-extend{
    bottom:-3px;
    font-size:12px;
    color:#909090;
}
.txt p {
    margin: 2px 0;
    *line-height: 18px;
}
.yk-w970 .txt p {
    margin: 16px 0;
    _margin-top:13px;
}
.txt .dot,
.txt a {
    font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;
    font-size: 14px;
}
.txt .dot{
    margin-right: 5px;
}

/* 甜甜圈 */
.doughnut .v-meta-play {
    background:url(logo.png) no-repeat;
    height:64px;
    width:65px;
    position:absolute;
    left:5px;
    bottom:5px;
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.youku.com/index/img/mobile/ico_1N_play.png");
    z-index:10;
    cursor:pointer;
}
.doughnut .v-meta .v-meta-title,
.doughnut .v-meta .v-meta-entry {
    padding-left: 70px;
}

/*页首视频*/
.focusVideo .v-meta-deep{
    z-index: 10;
    right: 0;
    bottom: 0;
    width: 56px;
    height: 20px;
    position: absolute;
    text-align: center;
    /* position: relative; */
}
.focusVideo .v-meta-deep a:link,
.focusVideo .v-meta-deep a:visited{
    background-color: #06a7e1;
    color:white;
    display:block;
}
.focusVideo .v-meta-deep a:hover{
    background-color:#c31;
}
/* */
.yk-act-thumb {
    height: 80px;
    width: 100%;
    overflow: hidden;
}
.yk-act-thumb img{
    width:145px;
    height:80px;
    background: #f5f5f5;
}
.yk-act a {
    font-size: 14px;
    line-height: 30px;
    font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;
}
.yk-act-link{
    overflow: hidden;
    height:30px;
    text-align: center;
    line-height:30px;
    background: #f5f5f5;
    font-size: 14px;
    font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;
}
/*广告居中*/
.ad-wrap{
    overflow:hidden;
    margin:0 auto;
    height: 100%;
    width:100%;
    position:relative;
    text-align: center;
}
.ad-con{
    text-align: center;
    left:50%;
    position:absolute;
    top:0;
}
.ad-inner{
    text-align: center;
    position:relative;
    /**top:-50%;*/
    left:-50%;
    /*top:-50%;*/
}

.b5 {
    margin-bottom:5px;/*不推荐使用.b5*/
}
.b10{
    margin-bottom:10px;
}
.b20,
.yk-row-b20{
    margin-bottom:20px;
}
.b30,
.yk-row-b30{
    margin-bottom:30px;
}
.b40,
.yk-row-b40{
    margin-bottom:40px;
}

.yk-slide-index,
.yk-slide-index .yk-slide-pages{
    height: 110px;
}

.sidebar {
    display: block;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    z-index: 1000;
    right: 20px;
    bottom: 60px;
    _bottom: auto;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop + 300 ));
    width: 50px;
}
.sidebar a .sidebar-overlay{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    background:#000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width:50px;
    height:50px;
}
.sidebar a{
    position:relative;
    display:block;
    text-align: center;
    height: 26px;
    color:white;
    font-size: 12px;
    font-family: "Microsoft YaHei","微软雅黑",SimHei,helvetica,arial,verdana,tahoma,sans-serif;
    padding: 12px 0;
}
.sidebar a:hover{
    color:#fff;
}
.sidebar a:hover .sidebar-overlay{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    background:#000;
    opacity:0.60;
    filter: alpha(opacity=60);
}
.sidebar a .sidebar-on{
    background: #06a7e1;
}
.sidebar i{
    width:24px;
    height: 24px;
    display:inline-block;
    *display:inline;
    *zoom:1
}
.sidebar .ico-gotop,
.sidebar .ico-feedback,
.sidebar .ico-mobi,
.sidebar .ico-qrcode,

.sidebar .ico-lightOn,
.sidebar .ico-lightOff {
    vertical-align: middle;
    background: url("sidebar.8.png") no-repeat;
}
.sidebar .ico-gotop{
    background-position: -7px -4px;
    height:26px;
}
.sidebar .ico-feedback{
    background-position: -3px -40px;
}
.sidebar .ico-lightOn{
    background-position: -3px -176px;
}
.sidebar .ico-lightOff{
    background-position: -3px -142px;
}
.sidebar .ico-mobi{
    background-position: -3px -74px;
}
.sidebar .feedBack{
    margin: 1px 0;
    padding: 6px 0;
    height: 37px;
    height: 38px;
}
.sidebar  .mobi{
    padding: 6px 0 18px;
    display: none;
}
.sidebar .scanQrcode{margin-top:1px;padding:7px 0;height:36px; }
.sidebar .ico-qrcode{height:24px;vertical-align:middle;background-position:-3px -108px; }
.yk-row-index .yk-rank-link{margin: 10px 0;}
/*翻页带时间轴*/
.yk-slide-timeline{
    height:190px;
}
.yk-slide-timeline .yk-slide-pages{
    height:100%;
}
.yk-slide-timeline .yk-slide-btnprev,
.yk-slide-timeline .yk-slide-btnnext{
    height:110px;
}
.yk-timeline-addon{
    text-align: center;
    color: #909090;
    width: 100%;
    height:60px;
}
.yk-timeline-hot{
    color:#f60;
}
.yk-timeline-point{
    color:#f60;
    font-size: 18px;
}
.yk-timeline-body{
    height:8px;
    width:100%;
    background: url('timeline.png') left bottom;
    position: absolute;
    bottom:45px;
}
.yk-timeline-prev,
.yk-timeline-next{
    width:18px;
    height:14px;
    background: white url('timeline.png');
    position: absolute;
    bottom:42px;
    z-index:100;
}
.yk-timeline-prev{
    left:0;
}
.yk-timeline-next{
    background-position: right 0;
    right:0;
}
.yk-box .yk-head .yk-sub-title{
    display: inline-block;
    background: url('sep.png') 0px -4px no-repeat;
    padding-left: 20px;
    padding-top: 10px;
    height: 20px;
    vertical-align: bottom;
    margin-left: -10px;
    font-size: 20px;
}
.yk-box .yk-head .yk-sub-title a,.yk-sub-title span{
    line-height: 20px;
    font-size: 20px;
}
.p-price{
    text-decoration: line-through;
}

/* 广告相关 */
.yk-AD-640x110{overflow:hidden;width:640px;height:110px;}
.yk-AD-310x110{overflow:hidden;width:310px;height:110px;}
.yk-AD-310x50{overflow:hidden;width:310px;height:50px;}
.yk-AD-310x60{overflow:hidden;width:310px;height:50px;}
.yk-AD-160x24{overflow:hidden;width:160px;height:24px;}
.yk-AD-300x50{overflow:hidden;width:300px;height:50px;}
.yk-AD-145x30{overflow:hidden;width:145px;height:30px;}
.yk-AD-310x240,
.yk-AD-flash{overflow:hidden;width:310px;height:240px;}
.yk-AD-tong{
    overflow: hidden;
    _height:100px;
    min-height:100px;
    /*    height:100px;*/
}
.yk-AD-tong .mod{margin-bottom: 40px}
.yk-AD-tong .ad-con{width:1190px;}
.yk-AD-lb-wrap{
    position: relative;
}
.yk-AD-lb{
    position: absolute;
    bottom: 20px;
    left: 0;
    background: #fff;
    padding-top:5px;
    z-index: 10;
}

.yk-w970 .yk-AD-tong{
    width:970px;
}
.yk-w1190 .yk-AD-tong{
    width:1190px;
}
.v-meta-adLogo{
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 80px;
    height: 24px;
}
.v-meta-neck a.v-meta-adLogo{
    height:24px;
    bottom:5px;
    right:5px;
    position: absolute;
}
.v-meta-tagrb .v-meta-adLogo{
    margin:  0 5px 5px 0;
}

/***************************************/
/* 分页的样式 */
/* 从旧版拷贝过来的 */
.pageBar{clear:both;height:22px;margin:5px 0;}
.pageBar .page_index{float:right;}
.pageBar .page_stat{float:left;color:#909090;}
.pageBar .page_stat .num{color:#909090;}
.pageBar .pages a{margin:0 2px;}
.pageBar .current{font-weight:bold;}
.LPageBar{clear:both;height:24px;padding-top:10px;border-top:1px solid #c6c6c6;margin-top:10px;text-align:center;}
.LPageBar .pages a,.LPageBar .pages span{margin:0 3px;padding:1px 6px 3px 6px;font-size:14px;vertical-align:middle;}
.LPageBar .pages a{border:1px solid #bbdded;}
.LPageBar .pages a:hover{background:#bbdded;}
.LPageBar .current{font-weight:bold;margin:0 5px;}
.LPageBar .pre a,.LPageBar .pre span,
.LPageBar .next a,.LPageBar .next span{padding:1px 0 2px 0;font-size:14px;vertical-align:middle;}
.LPageBar a:hover {text-decoration: underline;}
.LPageBar a {cursor: pointer;text-decoration: none;}
.LPageBar .disabled, .LPageBar .disabled:hover, .LPageBar .disabled:focus, .LPageBar .disabled:active {
    background-color: #FFFFFF;
    background-image: none;
    background-repeat: no-repeat;
}

/*导航加新标*/
.ico__new {
    background: url("0510000051D3CF626714C0498C04D5F1") no-repeat scroll -32px -288px transparent;
    display: inline-block;
    height: 14px;
    vertical-align: text-bottom;
    width: 16px;
}

/*猜你喜欢模块*/
.MYYOUKUREC-loginAfter {margin-bottom: 10px}
#MYYOUKU-REC {height: 0;*position: relative;*zoom: 1;display: none;overflow: hidden}
#MYYOUKU-REC .ico-loading-64 {position: absolute;top: 50%;left: 50%;margin: -32px 0 0 -32px}
#MYYOUKU-REC .my-container {position: relative;zoom: 1;}
#MYYOUKU-REC .my-container:after {content: "";display: block;clear: both}
#MYYOUKU-REC .yk-drawer-box .yk-head .yk-rec-refresh {font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;vertical-align: middle;height: 14px;line-height: 14px;font-size: 14px;position: absolute;  right: 0;top: 16px;_vertical-align: bottom;*vertical-align: bottom;cursor: pointer
}
#MYYOUKU-REC .yk-drawer-box .yk-head .yk-rec-refresh .ico-refresh {width: 12px;height: 14px;display: inline-block;vertical-align: middle;margin-right: 5px}
#MYYOUKU-REC .yk-drawer-box .yk-head .yk-rec-refresh:hover .act-refresh {color: #c31}
#MYYOUKU-REC .yk-drawer-box .yk-head .yk-rec-refresh:hover .ico-refresh {background-position: -61px -79px}
#MYYOUKU-REC .yk-drawer-box .yk-head .yk-rec-relocate {font-size: 14px;vertical-align: middle;display: none}
#MYYOUKU-REC .v {float: left;margin-right:20px}
#MYYOUKU-REC .v .v-meta-title {max-height: 40px;overflow: hidden}
#MYYOUKU-REC .v .v-meta-entry-sline {margin-right: 0;overflow: hidden;word-break: break-word}
#MYYOUKU-REC .my-null {text-align: center;padding-top: 140px;font-size: 16px}
#MYYOUKU-REC .my-null span {font-family: "Microsoft Yahei", "微软雅黑"}
#MYYOUKU-REC .my-more {position: absolute;right: 0;top: 0;zoom: 1}
#MYYOUKU-REC .my-more a {position: absolute;right: 0;top: 0;display: block;background: none;text-align: center;padding: 160px 20px 0 20px;font-size: 20px;color: #555;border: solid 1px #ddd;width: 48px;height: 238px;font-family: "Microsoft Yahei", "微软雅黑";line-height: 24px}
#MYYOUKU-REC .my-more a:hover {color: #c31}
#MYYOUKU-REC .v-meta {height: 75px}
#MYYOUKU-REC .v-meta-entry-more {text-align: center;padding-top: 30px}
#MYYOUKU-REC .v-meta-entry-more a {font-size: 16px}
#MYYOUKU-REC .my-loading {text-align: center;padding-top: 120px}
#MYYOUKU-REC .my-loading .ico__loading_64 {background: url(0510000051C125696714C049870F1E67) no-repeat 0 0;width: 64px;height: 64px;display: block;margin: 0 auto}
#MYYOUKU-REC .v-show-more {position: absolute;right: 90px;top: 210px}
#MYYOUKU-REC .cps-member a {display: inline-block;*display: inline;*zoom: 1;background: #ff6433;color: #fff;padding: 2px 3px;margin-left: 10px;width: 60px;height: 18px;text-align: center;display: none}
#MYYOUKU-REC .cps .cps-member a {display: block;display: inline;*zoom: 1}
.MYYOUKUREC-loginBefore .my-loading {padding-top: 60px}
.MYYOUKUREC-loginBefore .my-null {padding-top: 70px}
.MYYOUKU-loginBefore #MYYOUKU-REC .my-more a {padding-top: 60px;height: 130px}
.my-watchgrade {padding: 20px 10px;height: 150px;width: 180px;background: #f5f5f5 url(0510000053181BD66714C02D73051E73.jpg) no-repeat;position: absolute;right: 110px;top: 0;z-index: 10}
.my-watchgrade * {color: #909090;font-size: 12px}
.my-watchgrade h6 {font-size: 20px;font-style: normal;margin-bottom: 10px;line-height: 24px}
.my-watchgrade .yk-userlog-grade-detail {margin-bottom: 10px}
.my-watchgrade .yk-userlog-grade-detail em {font-style: normal}
.my-watchgrade .yk-watchgrade {position: relative;margin-bottom: 15px}
.my-watchgrade .yk-watchgrade .yk-watchgrade-bar {position: relative;height: 22px;line-height: 0;font-size: 0;background: #e7e7e7;margin: 0 3px}
.my-watchgrade .yk-watchgrade .yk-watchgrade-bar div {height: 100%;line-height: 0;font-size: 0;background: #d3ec98;z-index: 10}
.my-watchgrade .yk-watchgrade .yk-watchgrade-level {position: absolute;top: -1px;z-index: 15}
.my-watchgrade .yk-watchgrade .right {right: -7px}
.my-watchgrade .yk-watchgrade .left {left: -7px}
.my-watchgrade .yk-userlogin p {margin-bottom: 5px;font-size: 14px;font-family: "Microsoft Yahei", "微软雅黑"}
.my-watchgrade .yk-userlogin-btn a {display: block;height: 35px;background: #06a7e1;color: #fff;text-align: center;line-height: 35px}
.my-watchgrade .yk-watchgrade-time {position: absolute;left: 0;top: 2px;width: 180px;text-align: center;color: #597937;z-index: 20;font-size: 12px}
.MYYOUKUREC-loginBefore #MYYOUKU-REC .my-more a {height: 115px;padding: 75px 20px 0 20px}
#MYYOUKU-REC .yk-myyoukurec-left {position:relative}
#MYYOUKU-REC .yk-myyoukurec-left .v {float: none;margin:0 0 10px}
#MYYOUKU-REC .yk-myyoukurec-left .v-meta {height: 75px}
#MYYOUKU-REC .yk-myyoukurec-left .yk-myyoukurec-msg{font-size: 14px;line-height: 14px;font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;margin-left:10px}
#MYYOUKU-REC .yk-myyoukurec-left .yk-myyoukurec-msg a{color:#c31}
#MYYOUKU-REC .yk-myyoukurec-left .yk-myyoukurec-msg a:hover{text-decoration:underline}
#MYYOUKU-REC .yk-myyoukurec-left .yk-myyoukurec-msg .user-grade-icon{margin-left:3px}
#MYYOUKU-REC .yk-myyoukurec-vip .v-meta .v-meta-entry-info{margin-top: 1px}
#MYYOUKU-REC .yk-myyoukurec-vip .v-meta .v-meta-title, #MYYOUKU-REC .yk-myyoukurec-vip .v-meta .v-meta-entry,#MYYOUKU-REC .yk-myyoukurec-iku .v-meta .v-meta-title, #MYYOUKU-REC .yk-myyoukurec-iku .v-meta .v-meta-entry{overflow: hidden;max-height: 20px}
#MYYOUKU-REC .yk-myyoukurec-right .yk-col3{margin-bottom: 15px}

/*广告标志*/
.mod{position: relative;line-height:1px}
.mod div{line-height:1px}
.ad-flag{position: absolute;left: 0;bottom: 0;width: 30px;height: 16px;background: url("051000005604C79D67BC3D7CA2063AD4") no-repeat 0 0;z-index: 99;}
.yk-w970 .yk-AD-tong .ad-flag{left:110px}
.abfoucs{position:relative}
.abfoucs .ad-flag{bottom:33px}
/*猜你喜欢登录引导*/
.yk-box .yk-head .guessy-login-guide{
  width: 350px;
  height: 70px;
  position: absolute;
  left: 300px;
  top: -15px;
  background: url(login-guide-guessyou.png);
}
.yk-box .yk-head .guessy-login-guide p{
  position: absolute;
  font-family: "Microsoft YaHei";
  left: 151px;
  top: 16px;
  font-size: 14px;
  color: #b5e0fd;
}
.yk-box .yk-head .guessy-login-guide p a{
  color:#fff;
  font-size: 16px;
}

/*电影频道影评模块start*/
.mComment .mComment-lg{ width: 420px; height: 200px; overflow: hidden; }
.mComment .mComment-lg .p { float: left; width: 132px; }
.mComment .mComment-lg .p .p-thumb, .mComment .mComment-lg .p .p-link{ width: 100%; height: 200px; }
.mComment .mComment-intro { font-size: 12px; }
.mComment .mComment-intro h3 { margin: 0; font-size: 16px; line-height: 16px; color: #555555; }
.mComment .mComment-intro ul { margin-top: 10px; *margin-top: 0; }
.mComment .mComment-intro ul li { margin-top: 2px; *margin-top: 5px; line-height: 14px; color: #555555; position: relative; height: 17px; }
.mComment .mComment-intro .actor, .mComment .mComment-intro .type { white-space: nowrap; width: 50%; text-overflow: ellipsis; overflow: hidden; float: left; }
.mComment .mComment-intro ul .comment { margin-top: 6px; overflow: hidden; }
.mComment .mComment-intro ul li.comment p { color: #555555; line-height: 20px; text-align: justify; }
.mComment .p-meta { bottom: -40px; padding-top: 0; }
.mComment .p-hover .p-meta { height: 38px; bottom: 0px; padding-top: 10px; }
.mComment .v { margin-bottom: 0 }
.mComment .mComment-lg .mComment-intro { margin-left: 132px; padding: 20px 20px 15px 20px; height: 165px; background-color: #f5f5f5; }
.mComment .mComment-lg .comment { height: 100px; }
.mComment .mComment-md .comment { height: 60px; }
.mComment .mComment-md ul { margin-top: 0;}
/*星级等级*/
.mComment label { font-size: 12px; line-height: 16px; color: #909090; margin-right: 1px; }
.ratingstar { margin-top: 7px; *margin-top: 3px; display: block }
.ratingstar .rating .num { height: 15px; font-size: 18px; color: #F60; }
.rating { display: inline-block; *display: inline; *zoom: 1; white-space: nowrap; vertical-align: middle; line-height: 16px; top: -2px; position: relative }
.rating em { margin-right: 3px; }
.rating .num { font-style: normal; font-weight: bold; font-size: 14px; vertical-align: middle; margin-left: 2px;  color: #909090  }
.ico__ratenull { background: url(master.png) no-repeat -224px -224px; width: 11px; height: 12px; display: inline-block; *display: inline;  *zoom: 1;  vertical-align:middle;}
.ico__ratepart{background:url(master.png) no-repeat -256px -224px;width:11px;height:12px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.ico__ratefull{background:url(master.png) no-repeat -288px -224px;width:11px;height:12px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
/*电影频道影评模块end*/
/*首播角标*/
.ico-ispremiere {
      background-position: -300px 0px;
}
