/* All Levels */
#nav a { line-height:24px; text-decoration:none; font-weight: normal; }

/* Root Level */
#nav { position: relative; }
#nav .level0 > a { display:block; }

/* 1st Level */
#nav ul.level0,
#nav li.level0 div.nav_block {
  position: absolute;
  z-index: 999;
  width: 1140px;
  top: 47px;
  left: -875px;
  text-transform: uppercase;
  display: none;
  background: #FFFFFF;
  border-bottom: 8px #000 solid;
  padding: 15px 700px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.menu-bottom-buttons {
      display: block;
  position: absolute;
  left: 850px;
  bottom: 0;
}
.menu-bottom-buttons a {
    border: 1px solid black;
  padding: 8px;
  margin: 0 10px 0 0px;
  font-size: 11px;
  font-weight: bold !important;
  letter-spacing: 1px;
}
.menu-bottom-buttons a:first-child {
margin-right: 20px;
}
#nav > li.level0.nav-2.level-top.parent > ul > li.level1.nav-2-1.first.parent > ul > li > a > span {
    color: red;
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 12px;
}
#nav li.level1.parent { display:block; float:left; padding: 0 10px 0 0; }

#nav li.nav-text-block { max-width: 765px; padding-left: 40px;
  border-left: 1px solid lightgray; }
.nav-block-5-col { width: 765px; }
.nav-block-4-col { width: 612px; }
.nav-block-3-col { width: 459px; }
.nav-block-2-col { width: 306px; }
.nav-block-1-col { width: 153px; }

/* 1st+ level */
#nav ul.level0 a:hover { text-decoration:underline; }
#nav ul.level0 li.parent > a:hover { text-decoration:none; }

#nav .nav_block li.parent > a,
#nav li.level1.parent > a,
#nav .nav_block h3,
#nav li.nav-text-block h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: block;
    padding-bottom: 5px;
}

#nav .nav_block li.parent,
#nav li.level1.parent { margin-bottom: 10px; }

#nav div.nav_block li,
#nav li.level1 { width: 133px; margin:0 10px 0 0; }

/* 2nd+ Level */
#nav ul.level1 ul { margin-left: 5px; }

/* Show menu */
#nav li.level0 ul.shown-sub,
#nav li.level0 div.shown-sub { display: block; }

/* Thumbnail */
#nav li.level1.category-thumbnail { float: left; text-align: center; }
#nav li.level1.category-thumbnail img { max-width: 100%; }
/********** Navigation > */
/* ======================================================================================= */