.header_user_info {
  text-align: right;
  margin-top: 10px; }
  @media (max-width: 767px) {
    .header_user_info {
      text-align: center;
      margin: 10px 0px; } }
  .header_user_info a {
    cursor: pointer; }

.header_user_info_nav {
  float: right; }
