#columnadverts_slider img{
margin: 0 auto;
}


#columnadverts_slider .slick-list{
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#columnadverts_slider .slick-prev, #columnadverts_slider .slick-next{
	opacity: 0;
	visibility: hidden;
}

#columnadverts_slider:hover .slick-prev, #columnadverts_slider:hover .slick-next{
	opacity: 0.8;
	visibility: visible;
}
#columnadverts_slider:hover .slick-prev{
	left: 20px;
}
#columnadverts_slider:hover .slick-next{
	right: 20px;
}
#columnadverts_slider .slick-dots{
	bottom: 5px;
}
#columnadverts_list img{
	margin-bottom: 10px;
	width: 100%;
    opacity: 1.0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    display: block;
}
#columnadverts_list img:hover{
	margin-bottom: 10px;
	opacity: .8;
}