/* block top links */
ul#header_links {
  list-style-type: none;
  float: left; }
  @media (max-width: 999px) {
    ul#header_links {
      display: none; } }
  ul#header_links li {
    float: left;
    padding: 0px 10px; }
  ul#header_links a {
    text-align: center; }
