#parallax_block_center .parallax-outer {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}
.columns-container{
	overflow: hidden;
}

@media only screen  and (max-device-width : 1024px) {
#parallax_block_center .parallax-outer{
 background-attachment: scroll;
}
}

#parallax_block_center h1 span, #parallax_block_center h2 span, #parallax_block_center h3 span{
padding: 5px 10px;
}
#parallax_block_center p{
margin: 0px;
padding-bottom: 20px;
}

#parallax_block_center .parallax-inner {
position: relative;
z-index: 9;
padding: 40px 0px;
}

#columns #parallax_block_center, .iqitparallax-container{
padding-bottom: 20px;
}