.ph_simpleblog {
  width: 100%;
  height: 100%; }
  .ph_simpleblog .ph_row, .ph_simpleblog:after, .ph_simpleblog:before {
    content: "";
    display: table; }
  .ph_simpleblog .ph_col {
    float: left;
    padding-left: 15px;
    padding-right: 15px; }
  .ph_simpleblog .ph_row {
    margin-left: -15px;
    margin-right: -15px;
    width: 100%; }
    .ph_simpleblog .ph_row:after, .ph_simpleblog .ph_row:before {
      content: "";
      display: table; }
    .ph_simpleblog .ph_row:after {
      clear: both; }
  .ph_simpleblog .ph_col_2 {
    width: 50%; }
  .ph_simpleblog .ph_col_3 {
    width: 33%; }
  .ph_simpleblog .ph_col_4 {
    width: 25%; }
  .ph_simpleblog .ph_cat_description {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #dddddd; }
    .ph_simpleblog .ph_cat_description p:last-child {
      margin-bottom: 0px; }
  .ph_simpleblog figure {
    margin: 0; }
  .ph_simpleblog .simpleblog-category-image {
    margin-bottom: 20px; }
  .ph_simpleblog.simpleblog-related-posts h2, .ph_simpleblog.simpleblog-home h2, .ph_simpleblog.simpleblog-recent h2, .ph_simpleblog.simpleblog-category h2 {
    margin: 10px 0;
    padding: 0; }
  .ph_simpleblog.simpleblog-related-posts .post-additional-info span, .ph_simpleblog.simpleblog-home .post-additional-info span, .ph_simpleblog.simpleblog-recent .post-additional-info span, .ph_simpleblog.simpleblog-category .post-additional-info span {
    display: block; }
  .ph_simpleblog.simpleblog-related-posts p.title_block, .ph_simpleblog.simpleblog-home p.title_block, .ph_simpleblog.simpleblog-recent p.title_block, .ph_simpleblog.simpleblog-category p.title_block {
    padding-bottom: 6px;
    margin-bottom: 10px; }
  .ph_simpleblog.simpleblog-related-posts .post-item, .ph_simpleblog.simpleblog-home .post-item, .ph_simpleblog.simpleblog-recent .post-item, .ph_simpleblog.simpleblog-category .post-item {
    margin-bottom: 10px;
    float: left;
    width: 100%; }
  .ph_simpleblog.simpleblog-related-posts .post-thumbnail img, .ph_simpleblog.simpleblog-home .post-thumbnail img, .ph_simpleblog.simpleblog-recent .post-thumbnail img, .ph_simpleblog.simpleblog-category .post-thumbnail img {
    margin: 0 auto; }
  .ph_simpleblog.simpleblog-single .post-meta-info {
    border-bottom: 1px solid #CECECE;
    margin-top: -10px;
    padding-bottom: 5px;
    margin-bottom: 20px; }
  .ph_simpleblog.simpleblog-single .post-content img {
    display: block;
    max-width: 100%;
    height: auto; }
  .ph_simpleblog.simpleblog-single .post-block {
    margin-top: 20px; }
  .ph_simpleblog.simpleblog-single h1 {
    position: relative; }
    .ph_simpleblog.simpleblog-single h1 .blog-post-likes {
      position: absolute;
      right: 0;
      top: 0;
      padding: 2px 6px;
      text-align: center;
      cursor: pointer;
      font-size: 11px; }
      .ph_simpleblog.simpleblog-single h1 .blog-post-likes:hover {
        background: #333;
        color: #f0f0f0; }
      .ph_simpleblog.simpleblog-single h1 .blog-post-likes .txt {
        font-size: 11px; }
  .ph_simpleblog.simpleblog-single .post-additional-info {
    margin-bottom: 10px; }
  .ph_simpleblog .post-additional-info {
    padding: 5px 0 0 0;
    background: #efefef;
    width: 100%;
    text-align: center; }
    .ph_simpleblog .post-additional-info span {
      display: block; }
  .ph_simpleblog .simpleblog-posts .post-item {
    width: 100%;
    position: relative;
    text-align: center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .ph_simpleblog .simpleblog-posts .post-item:hover .post-content {
      background: none; }
    .ph_simpleblog .simpleblog-posts .post-item:hover .post-thumbnail {
      filter: alpha(opacity=85);
      opacity: 0.85; }
  .ph_simpleblog .simpleblog-posts h2 {
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 10px 0;
    text-transform: uppercase; }
  .ph_simpleblog .simpleblog-posts .post-thumbnail {
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .ph_simpleblog .simpleblog-posts .post-thumbnail h2 {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background: rgba(0, 0, 0, 0.6); }
      .ph_simpleblog .simpleblog-posts .post-thumbnail h2 a {
        color: #fff !important; }
  .ph_simpleblog .simpleblog-posts .post-title h2 {
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none; }
  .ph_simpleblog .simpleblog-posts .post-content {
    background: #f8f8f8;
    padding: 10px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .ph_simpleblog .simpleblog-posts .post-content p:last-child {
      margin-bottom: 0px; }
  .ph_simpleblog .simpleblog-posts .post-additional-info {
    padding: 5px;
    background: none;
    border-top: 1px solid #dddddd;
    font-size: 10px;
    text-align: center; }
    .ph_simpleblog .simpleblog-posts .post-additional-info span {
      display: inline-block;
      border-right: 1px dotted #dddddd;
      padding-right: 8px;
      margin-right: 8px; }
      .ph_simpleblog .simpleblog-posts .post-additional-info span:last-child {
        border: none;
        margin: 0px;
        padding: 0px; }
      .ph_simpleblog .simpleblog-posts .post-additional-info span.post-author {
        clear: both; }
  .ph_simpleblog .simpleblog-posts p {
    font-size: 12px; }
  .ph_simpleblog .simpleblog-posts a.more {
    font-size: 12px;
    clear: both;
    float: right;
    margin: 10px 0; }
  .ph_simpleblog .simpleblog-posts.related h2 {
    font-size: 22px;
    line-height: 24px; }
  .ph_simpleblog .simpleblog-posts.related .post-additional-info span {
    float: none;
    border-left: 0;
    margin-left: 0px;
    padding-left: 0px; }
  .ph_simpleblog .post_cover {
    display: block;
    margin: 0 -15px; }

.simpleblog-single.with-cover .cover {
  position: relative;
  margin: 0 0 30px 0; }
  .simpleblog-single.with-cover .cover .info h1 {
    margin-top: 10px; }
    .simpleblog-single.with-cover .cover .info h1 .blog-post-likes {
      padding: 2px 25px;
      color: #000;
      background: none; }
      .simpleblog-single.with-cover .cover .info h1 .blog-post-likes .txt {
        line-height: 16px; }
      .simpleblog-single.with-cover .cover .info h1 .blog-post-likes:hover {
        background: #222;
        color: #fff; }
.simpleblog-single .post-additional-info {
  background: #fff;
  font-size: 12px;
  color: #a1a1a1;
  overflow: hidden;
  clear: both;
  margin: -7px 0 0 10px;
  padding: 5px 10px;
  width: auto;
  float: left; }
  .simpleblog-single .post-additional-info a {
    color: #a1a1a1; }
  .simpleblog-single .post-additional-info span {
    float: left; }
    .simpleblog-single .post-additional-info span.post-author, .simpleblog-single .post-additional-info span.post-category, .simpleblog-single .post-additional-info span.post-tags {
      border-left: 1px solid #a1a1a1;
      margin-left: 10px;
      padding-left: 10px; }
.simpleblog-single div.post-content {
  margin-bottom: 30px; }
  .simpleblog-single div.post-content p {
    margin-bottom: 10px; }
.simpleblog-single div.col-md-10 div.post-additional-info {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 10px 0;
  padding: 5px 0;
  width: 100%; }
.simpleblog-single div.post-share-buttons div, .simpleblog-single div.post-share-buttons iframe {
  margin-bottom: 10px; }
