.lightboxPorteiro {
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 20px;
    color: #999999;
    width: 425px;
    height:225px;
    font-family: Arial, Helvetica, sans-serif;
}
.lightboxPorteiro .smile {
    width: 15px;
    height: 21px;
    display: inline-block;
    background: url(smile.jpg);
    position: relative;
    top: 2px;
    margin-left: 8px;
}
.lightboxPorteiro h1,
.lightboxPorteiro p {
    margin-bottom: 15px;
}
.lightboxPorteiro .cr-msg {
    text-align: center;
    font-size: 15px;
    color: #e9323c;
    cursor: pointer;
}
.lightboxPorteiro .cr-error > *, .lightboxPorteiro .cr-complete > * {
    display: none !important;
}
.lightboxPorteiro .cr-error > .cr-msg, .lightboxPorteiro .cr-complete > .cr-msg {
    display: block !important;
    text-align: center;
}
.lightboxPorteiro h1 {
    padding-top: 20px;
    color: #959595;
    font-size: 25px;
    font-weight: normal;
}
.lightboxPorteiro p {
    color: #959595;
    font-size: 13px;
    line-height: 1.6em;
}
.lightboxPorteiro p.obs {
    font-size: 14px;
    margin-bottom: 30px;
}
.lightboxPorteiro p.txtLegal {
    font-size: 11px;
    line-height: 1em;
    color: #58595b;
    clear: both;
}
.lightboxPorteiro input {
    display: block;
    margin-bottom: 10px;
}
.lightboxPorteiro [name="cr-email"] {
    background-color: #ffffff;
    padding: 0 10px;
    border: 1px solid #cccccc;
    width: 240px;
    float: left;
    font-size: 13px;
    margin-right: 7px;
    height: 33px;
    line-height: 33px;
    color: #000;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.lightboxPorteiro [type="submit"] {
    display: block;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 10px;
    background-color: #E60014;
    border: 0 none;
    cursor: pointer;
    color: #FFF;
    padding: 0 26px;
    font-weight: bold;
    height: 35px;
    -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}
.lightboxPorteiro [type="submit"]:hover {
    background-color: #FF0000;
}
.lightboxPorteiro .cr-loading [type=submit] {
    background-color: #FFA3AB;
}
.lightboxPorteiro input.loader {
    left: -23px !important;
    top: 12px !important;
}
.lightboxPorteiro  .cr-msg {
    top: 60px;
}
.lightboxPorteiro .cr-msg-title{
    font-size:24px;
    margin-left:0;
}
.lightboxPorteiro .cr-complete span+.cr-msg-title-after:after{
    width: 15px;
    height: 21px;
    display: inline-block;
    background: url(smile-success.png);
    position: relative;
    top: 3px;
    margin-left: 8px;
    content: "";
}
.lightboxPorteiro .cr-msg-body{
    color:#959595;
}
.lightboxPorteiro .politicap {
    position: absolute;
    left: 20px;
    bottom: 0;
    color: #505050;
}
.fancybox-skin {
    background: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.fancybox-close {
    top: 8px;
    right: 8px;
    width: 13px;
    height: 13px;
    background: url(close-button.png) no-repeat;
}
.app-oas img{
    display:block;
}