#topo {
height:177px;
background:url(001.jpg);
background-repeat:repeat-x;
width:100%;
}

#carro {
margin:0 auto;
margin-top:-140px;
height:485px;
width:819px;
background:url(image02.jpg);
background-repeat:no-repeat;
}

#carro2 {
margin:0 auto;
margin-top:-140px;
height:485px;
width:819px;
background:url(image03.jpg);
background-repeat:no-repeat;
}

#carro3 {
margin:0 auto;
margin-top:-140px;
height:485px;
width:819px;
background:url(image04.jpg);
background-repeat:no-repeat;
}

#conteudo {
float:left;
margin-left:155px;
margin-top:285px;
height:30px;
width:219px;
min-height: 300px;
padding: 10px;
}

#conteudo2 {
float:left;
margin-left:345px;
margin-top:150px;
height:100px;
width:219px;
min-height: 300px;
padding: 10px;
}

* {
    padding: 0px;
    margin: 0px;
}
 
body {
color:#999;
font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size: 14px;
  
}
 
p {
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}
 
 
li {
    list-style: none;
}
 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
 
img {
    border: none;
}
 
 
 
#container {
    width: 940px;
    margin: 0 auto;
    display: table;
}
 

 
 
#mask {
 background: url(http://www.distrettovaldimagra.it/templates/beez/html/com_poll/01/stylo/transpl.png); 
 width: 100%; 
 height: 100%; 
 position: fixed!important; 
 position: absolute; 
 z-index: 9000; 
 display: none;
}
 
.esqueci-senha {
 position: absolute;
 display: none;
 z-index: 9999;
}
 
.form {
 margin: 0 auto;
 width: 470px;
 min-height: 470px;
 display: table;
 background: #FFF;
 border: 9px solid #17AFEC;
 padding: 10px;
 margin-bottom: 50px;
}
 
.form label {
 display: inline-block;
 width: 100px;
 text-align: left;
 margin-right: 10px;
}
 
 
.form  p {
 display: block;
 padding: 5px;
  
}
 
.form h2 {
 display: block;
 background: #17AFEC;
 color: #fff;
 padding: 5px;
 margin-bottom: 05px;
}

.form h1 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background: #FFF;
padding:8px;
}
 
 
.form input.field {
 padding: 5px;
 border: 1px solid #17AFEC;
 color: #069;
}
 
p.forgot {
 background: #fff;
 text-align: center;
}
 
p.forgot a {
 font-size: 20px;
 color: #FFF;
}
 
p.forgot a:hover {
 text-decoration: underline;
}

