/** page styles**/
* 
body {
	height:auto;
}

#bodycontainer #bodycontainer_inside {
	background:none repeat scroll 0 0 #FFFFFF;
	margin:0 auto;
	text-align:left;
	padding-bottom:0;
}
.maincontainer-inside {
	margin: 0 auto;
    width: 960px;

}
.bottom-border, .top-border {
	border-bottom: 1px solid #D5D5D5;
}
img.left {
	float:left;
	margin:10px;
}
.clearfix {
    display: block;
}
.column-1 {
    display: inline;
    float: left;
    height: auto !important;
	padding:0;
}
.column-2 {
    display: inline;
    float: right;
    height: auto !important;
}
.maincontainer_inside {
	background:none repeat scroll 0 0 #FFFFFF;
	width: 960px;
	margin: 0 auto;
	padding:20px 0 5px 0px;
	overflow:auto;
}
/** font styles **/

#bodycontainer p, #bodycontainer li{
	font-size:1.083em;
}
a.smallGreyArrow {
    background: url("http://shopyni.com/wp-admin/name/images/login/ico_sprite.gif") no-repeat scroll 0 3px transparent;
	_ background: url("http://shopyni.com/wp-admin/name/images/login/ico_sprite.gif") no-repeat scroll 0 5px transparent;
    font-size: 1.083em;
}
.ico {
    line-height: 1.5em;
    margin: 0;
    padding: 0 0 0 11px;
}
a.smallGreyArrow {
	color:#fff;	
	text-decoration: none;
}
a.smallGreyArrow:hover {
	text-decoration: underline;
	color:#fff;	
}
a.smallGreyArrow.fancybox-page.first {
	margin-right:93px;
}
/** header styles**/

#header {
    height: 46px;
    overflow: visible;
    z-index: 5;
}
#header .column-1 {
    width: 250px;

}
#header a.link-logo {
    height: 111px;
    left: 0;
    position: absolute;
    top: 0;
    width: 76px;
}
#header .column-1 p.slogan {
    border: 0 none;
    color: #000000;
    font-family: CorpidBlack;
    font-size: 1.2em;
    font-weight: normal;
	
}
#header .column-1 p {
    float: left;
    left: 84px;
    line-height: 1.154em;
    position: absolute;
    top: 14px;
	margin: 0;
}
#header a {
    color: #D01F2E;
    font-size: 1em;
    font-weight: bold;
    
}
#header a:focus {
	outline: #D01F2E dotted 1px;
}

#header .column-2 ul li.first {
    margin-left: 0;
}
#header .column-2 ul li {
    background: url("http://shopyni.com/wp-admin/name/images/login/gr_arrow-1.gif") no-repeat scroll 0 50% transparent;
    float: left;
    margin-bottom: 0;
    padding: 0 0 0 11px;
}
#header .column-2 p {
    display: inline-block;
    float: right;
    font-family: Arial !important;
    font-size: 1em;
    margin: 14px 20px 0;
}
#header img.logo {
    height: 111px;
    left: 0;
    position: absolute;
    top: 0;
    width: 76px;
}

/** login **/

#banner {
    background: url("http://shopyni.com/wp-admin/name/images/login/bg_banner-2.jpg") no-repeat scroll 50% 0 #a31315;
    color: #FFFFFF;
    min-height: 360px;
	padding:0;
	margin:0;
}
#banner .inside {
    padding: 108px 0 50px 0;
}
#banner h1 {
    font-size: 3.9em;
    line-height: 1.1em;
	margin-bottom: .3em;
}
.user-login .column-1{
	margin-right:5px;
}
.ib-user{
    width: 250px;
	padding-bottom:13px;	
}
.ib-user {
    margin: 0;
    padding-top: 0;
    position: relative;
    width: 250px;
}
.ib-user-field {
    position: relative;
}
input.ib-user-text {
    background: url("http://shopyni.com/wp-admin/name/images/login/bg_input_user.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #ADADAD;
    color: #000000;
    font-size: 1.6em;
	font-weight:bold;
    padding: 8px 26px 6px 10px;
    width: 205px;
	height:29px;
}
.ib-user-field label {
    display: none;
}
.ib-user-field input.ib-user-btn {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 8px;
    width: auto;
}
.ib-user input.ib-user-text.red-border {
    border-color: #ADADAD;
}
.user-login h2 {
    font-family: 'CorpidLight',Arial,Helvetica,sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}
.user-login .cta {
	float: left;
	margin-top: 34px;
}

.ib-iframe {
	width:645px;
}

/** CTA **/

.call-to-action-box {    
    padding-bottom: 20px;
	width:645px;
}
.call-to-action-box .content {
    float: left;
    width: 470px;
}
#bodycontainer .call-to-action-box p {
    color: #000;
    font-family: CorpidBlack;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0;
}
/** button style **/

a.link-btn {
    text-decoration: none;
}
a.link-btn_lg {
    clear: left;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    margin: 0 5px 0 0;
    padding: 9px 26px 12px 25px;
    text-decoration: none;
    white-space: nowrap;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
a.link-btn_lg.red  {
	background: url("http://shopyni.com/wp-admin/name/images/login/bg_lg_btn_press.gif") scroll 0 0 #000000;
	border: 1px solid #000000;
}
a:hover.link-btn_lg.red {
    background-position: 0 100%;
	border: 1px solid #2F2F2F;
}
a.link-btn_lg.black {
	background: url("http://shopyni.com/wp-admin/name/images/login/img_bg_lg_btn_press.gif") repeat scroll 0 0 #CF0118;
  	border: 1px solid #2F2F2F;
}
a:hover.link-btn_lg.black {
    background-position: 0 100%;
    border: 1px solid #2F2F2F;
}
a.link-btn_sm {
    border: 1px solid #B70136;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial;
    font-weight: bold;
    line-height: 1.846em;
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
	font-size:1.083em;
}
a:active.link-btn_lg{
    background: url("http://shopyni.com/wp-admin/name/images/login/img_bg_lg_btn_press.gif") repeat scroll 0 0 #000000 !important;
    border: 1px solid #000000;
}
a.link-btn_sm.red  {
	background: url("http://shopyni.com/wp-admin/name/images/login/gr_bg_btn01.gif") scroll 0 0 #000000;
}
a:hover.link-btn_sm.red {
    background-position: 0 100%;
	border: 1px solid #B70136;
}
a:active.link-btn_sm{
    background: url("http://shopyni.com/wp-admin/name/images/login/img_bg_sm_btn_press.gif") repeat scroll 0 0 #000000 !important;
    border: 1px solid #000000 !important;
}

a:focus {
	outline: #FFFFFF dotted 1px;
}

/** footer **/

#footer_login {    
    overflow: hidden;
	text-align:left;
	background: none repeat scroll 0 0 #e8e8e8;
    color: #4D4D4D;
    margin-top: 0;
    bottom:0;
	width:100%;
	height:70px;  
}
#footer_login .inside {
    margin: 0 auto;
    padding: 22px 0 0;
    width: 960px;
	height:70px; 
}
* html #footer_login .inside { 
	margin-top:0px; 
} 
#footer_login a img {
	margin:0 10px 0 0;
}
#footer_login p{
	font-size: 1.083em;
	padding-top: 5px;
}
#footer_login p a {
    border-bottom: none !important;
	text-decoration: none;
}
#footer_login p a:hover {
    border-bottom: none !important;
	text-decoration: underline;
	color: #9C0000;
}
