*{margin:0px;}
html, body{width:100%;height:100%;min-width:1024px;}
#fundo{width:100%;min-width:1024px;}

.normal{background:url(x.png);background-repeat:repeat-x;}
.cinza{background-color:#eee;}

.indexpf{width:1024px;height:2675px;background:url(homepf.png);}
.indexpj{width:1024px;height:2558px;background:url(homepj.png);}
.pfacss{width:1024px;height:203px;background:url(pfacss.png);}
.pjacss{width:1024px;height:203px;background:url(pjacss.png);}

.boxacesso{position:relative;top:129px;left:706px;width:282px;height:57px;}

#corpo{min-width:1024px;}
#meioJ{background-repeat:no-repeat;background-color:#fff;}
.topoJ{width:1024px;height:55px;background:url(topo_j.png);}
.rdpJ{width:1024px;height:31px;background:url(rdp_j.png);}
.meio1J{width:1024px;height:617px;background:url(meio1_j.png);}
.meio2J1{width:1024px;height:650px;background:url(meio2j1.png);}
.meio2J2{width:1024px;height:650px;background:url(meio2j2.png);}
.meio2J3{width:1024px;height:650px;background:url(meio2j3.png);}

.topoF{background-color:#F30B09;height:55px;}
.topoFl{background:url(topoleft.png);width:285px;height:55px;float:left;}
.topoFr{background:url(toporight.png);width:689px;height:55px;float:right;}
.rdpF{background:url(rrodape.png);height:26px;width:100%;position:fixed;bottom:0px;}
.rdpF2{background:url(rodape.png);width:1024px;height:26px;float:left;}

.dicas{background:url(dicas.png);width:370px;height:268px;background-repeat:no-repeat;}
.acss{background:url(acss.png);width:581px;height:184px;background-repeat:no-repeat;}
.continuar{background:url(continuar.png);width:76px;height:20px;}
.limpar{background:url(limpar.png);width:58px;height:20px;}
.celular{background:url(sms.png);width:23px;height:30px;}
.barratopo{background:url(barratopo.png);width:1024px;height:44px;margin:auto;}
.barratopobck{background:url(barratopo_fundo.png);height:44px;background-repeat:repeat-x;background-position:center;}
.cantof{background:url(cantof.png);background-repeat:no-repeat;background-color:#E8E8E8;}
.pontilhado{background:url(pontilhado.png);background-repeat:repeat-x;height:1px;margin-top:10px;}
.tbla{background:url(tbla.png);background-repeat:no-repeat;}
.tbbt{background-color:#FFFFFF;border:1px solid #999999;width:72px;font-family: verdana,arial;font-size: 12px;font-weight: bold;color: #EF2229;cursor:pointer;}
.liga{background:url(liga.png);background-repeat:no-repeat;background-position:center;height:26px;}
.aguarde{position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:999;opacity: 0.65;filter: alpha(opacity=65);background-color:#CCC;}
.w8{position:fixed;top:0px;left:0px;width:100%;height:100%;background:url(aguarde.gif);background-repeat:no-repeat;background-position:center center;z-index:999;}
	
.finaliza{position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:999;opacity: 0.65;filter: alpha(opacity=65);background-color:#CCC;}
.avisofinal{position:fixed;top:0px;left:0px;width:100%;height:100%;background:url(final.png);background-repeat:no-repeat;background-position:center center;z-index:999;}
.tabnum{background-color:#FACD16;font-family:arial;font-weight:bold;font-size:10px;width:22px;height:20px;}
.toptabnum{border-top-right-radius:5px;border-top-left-radius:5px;}
.bottabnum{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.stab{width:10px;}
.campotabela{width:35px;height:12px;border:1px solid #999;font-family: verdana,arial;font-size: 10px;color: #000;text-indent:3px;}

.textop{font-family: verdana,arial;font-size: 10px;color: #666;}
.textoh1{font-family: verdana,arial;font-size: 12px;color: #ed2228;}