/* ##### TXT BANKING specific styles ##### */

/* 
	font sizes - relative to 13px being the default, which equals 1em. 
	[h1] 24pt: 24 / 13 = 1.846em
	[h2] 18pt:  18 / 13 = 1.385em
	[h3] 15pt = 15 / 13 = 1.154em
	[h3.grey] 16pt = 16 / 13 = 1.231em
	[h4] 13pt = 13 / 13 = 1em
	14pt = 14 / 13 = 1.077em
	12pt = 12 / 13 = 0.923em
	11pt = 11 / 13 = 0.846em
		
	Note: values updated to three decimal places
	Note: content area is 768px
	
*/

/* ---------------------
heading styles
--------------------- */
.txtbanking h1 {
letter-spacing:-0.6px;
}
.txtbanking h2 {
font-size: 1.384em;
font-weight: normal;
}
.txtbanking h3 {
margin-bottom:4px;
margin-top:23px;
}
.txtbanking h3.first-item {
margin-top:29px;
}
.txtbanking h3.grey {
font-size: 1.231em;
font-weight: bold;
margin-top: 32px;
padding: 0 0 3px 4px;
}
.txtbanking h3.h-margin-1 {
margin-top: 18px;
}
.txtbanking h3.h-margin-2 {
margin-top: 34px;
}
.txtbanking h3.h3-last-1 {
padding-top: 16px;
margin-bottom: 6px;
}
.txtbanking h5 {
color: #333;
}
.txtbanking h4.style1 {
font-weight: bold;
margin-bottom: 5px;
margin-top: 10px;
}
.txtbanking h4.style2 {
font-size: 1.077em;
margin-bottom: 5px;
margin-top: 16px;
}
.txtbanking h4.mTopOne {
margin-top:15px;
padding-bottom:3px;
}
/* ---------------------
form styles
--------------------- */
.txtbanking input.text {
border:1px solid #AFC4D5;
padding-left:2px;
padding-right:2px;
}
/* ---------------------
general styles changes to components.css declations
--------------------- */
.txtbanking .message-b .modal .message {
padding-bottom: 20px;
}
/* ---------------------
general styles changes to base.css declations
	/* bottom navigation additional info */
	/* odd spacing to match the AI files */
		/* headings */
	.txtbanking h2.h2-margin-1 {
	margin-top: 10px;
	}

/* tweak to move i-page image */
.info-page {
padding: 10px 15px 10px 50px;
}
.info-page .information {
left: 6px;
}
div.oneline {
padding-bottom:2px;
padding-top:2px;
}

/* ---------------------
txt banking alert text
--------------------- */
.txtbanking .type-a span.alert {
color: #DC241F;
padding: 7px 0 0 30px;
font-size: 0.928em
}

/* ---------------------
txt banking information tick styles
--------------------- */
.tick {
font-weight: bold;
font-size: 1.077em;
background: #ECFADA;
border-top: 1px solid #91C388;
border-bottom: 1px solid #91C388;
margin: 1.5em 0 2.4em;
color: #333;
}
.tick .information {
top: 6px;
left: 5px;
background: url(icon_confirmation_tick.gif) no-repeat 0 0;
}
 /* ---------------------
txt banking select accounts styles
--------------------- */
/* ---------------------
txt banking lightbox styles
--------------------- */
.txtbanking .type-b .modal .message {
height: 373px;
}
.txtbanking .type-b .modal .bal-img1 {
}
.txtbanking .type-b .modal .bal-img2 {
}
.txtbanking .type-b .modal .bal-img3 {
}

	/* charges */
.txtbanking .type-b .modal .charges {
padding-top: 18px;
width: auto;
height: 1px;
position: relative;
z-index: 10011;
color: #333;
}
.txtbanking .type-b .modal .charges h2 {
width: 100%;
}
.txtbanking .type-b .modal .charges h3 {
margin-bottom: 1px;
color: #333;
}
.txtbanking .type-b .modal .charges p.intro {
margin-bottom: 29px;
}
.txtbanking .type-b .modal .charges a.flink {
text-decoration: none;
}
.txtbanking .type-b .modal .charges .block {
width: 289px;
height: 95px;
background: #F9F9F9;
padding: 17px 20px;
float: left;
}
.txtbanking .type-b .modal .charges .bleft {
margin-right: 50px;
}
.txtbanking .type-b .modal .charges .note {
width: 329px;
padding: 44px 0 0;
float: left;
}
	/* balance */
.txtbanking .type-b .modal .balances {
padding-top: 18px;
width: auto;
height: 1px;
position: relative;
z-index: 10011;
color: #333;
}
.txtbanking .type-b .modal .balances h2 {
width: 100%;
margin-bottom: 25px;
}
.txtbanking .type-b .modal .balances li {
font-weight: bold;
font-size: 1.077em;
color: #333;
margin-bottom: 3px;
}
.txtbanking .type-b .modal .balances li span.num {
display: block;
width: 30px;
height: 31px;
text-indent: -9000px;
margin-left: 87px;
}
.txtbanking .type-b .modal .balances .block {
width: 207px;
text-align: center;
float: left;
margin-right: 31px;
display: inline;
}
.txtbanking .type-b .modal .balances .bleft {
margin-left: 10px;
}
.txtbanking .type-b .modal .balances .bright {
margin-right: 0;
}