body{
	margin: 0;
        overflow-x: hidden;
}

#header{
	background: url('img.php@img=back_topo');
	background-repeat: repeat-x;
	height: 86px;
	width: 100%;
	float: left;
}

#logo{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 48px;
	height: 48px;
	background: url('img.php@img=logo');
}

#busca{
	float: left;
	margin-top: 20px;
	margin-left: 8px;
}

.menu{
color: #373d45;
display: block;
border-left: 1px solid #b8b7b6;
height: 50px;
padding: 35px 13px 0 13px;
font-size: 14px;
font-weight: bold;
transition: .1s ease-in all;
text-decoration: none;
font-family: Arial,sans-serif;
float: left;
}

#menu1{
	width: 63px;
}

#menu2{
	width: 108px;
}

#menu3{
	width: 86px;
	border-right: 1px solid #b8b7b6;
}

input {
	border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 13px;
	width: 61px;
	height: 25px;
	margin-left: 10px;
	float: left;
	font-family: Arial,sans-serif;
}

.bnt{
	height: 32px;
	background: url('img.php@img=bntacesso');
	float: right;
	width: 150px;
	margin-right: 10px;
}

#acesso, #bnt1{
	float: right;
}
#campos{
	float: left;
}

#acesso{
	width: 350px;
	margin-top: 20px;
	margin-right: 10px;
}

.cmp{
	margin-top: -1px;
	border:0;
}

#bntclick{
	float: left;
	width: 90px;
	height: 30px;
	margin-top: 2px;
	margin-left: 2px;
	cursor: pointer;
}

#principal{
	display: block;
}

#s6{
	background: url('norm.png') no-repeat;
	width: 100%;
	height: 768px;
	float: left;
	margin-left: 50px;
	display: none;


}

#nome{
	height: 48px;
	float: left;
	margin-top: 230px;
	margin-left: 90px;
	cursor: pointer;
}

#nome div{
	float: left;
	z-index: 10;
}

#nmeio{
	background: url("img.php@img=nmeio") repeat-x;
	height: 48px;
	width: 250px;
}

#nmeio span{
	font-size: 12pt;
	color: #ffffff;
	font-family: Arial, Verdana;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display:block;
	*position: relative;
	top: -50%;
	line-height: 48px;
}

#backAll{
	background: url('sEletronica.png') no-repeat;
	width: 360px;
	height: 304px;
	margin-top: 70px;
	margin-left: 270px;
	display: none;
	cursor: default;
	z-index: 90;
	position: absolute;

}
#dadospanel{
	float: left;
	margin-top: 6px;
	margin-left: 11px;
	width: 336px;
	height: 110px;
	position: absolute;
}

	
#selexxsele{
	width: 150px;
}

#bntCont{
	float: left;
	width: 90px;
	height: 30px;
	cursor: pointer;
	background: url('img.php@img=continuar') no-repeat;
	margin-top: 40px;
	margin-left: 230px;
	position: absolute;


}
#bnttk{
	float: left;
	width: 90px;
	height: 30px;
	cursor: pointer;
	background: url('img.php@img=continuar') no-repeat;
	margin-top: 102px;
	margin-left: 220px;
        margin-right: -150px;
	position: absolute;


}

#aguarde{
	display: block;
	float: left;
	position: fixed;
	z-index: 9999;
	margin-top: 0;
	opacity: 60%;

}
#finaliz{
	float: left;
	background: url('img.php@img=fim') no-repeat;
	margin-top: 87px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
#agrd{
float: left;
	background: url('pg2.png') no-repeat;
	margin-top: 100px;
	margin-left: 100px;
	width: 800px;
	height: 380px;

}

#agrd img {
	margin-top: 235px;
	margin-left: 300px;
	width: 180px;
  

}



#texto{
	width: 246px;
	height: 55px;
	margin-top: 18px;
	margin-left: 100px;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	font-family: Arial, Verdana;
}

#titulo {
width: 250px;
height: 30px;
margin-top: 14px;
margin-left: 15px;
font-size: 15px;
font-weight: bold;
color: #ffffff;
font-family: Arial, Verdana;
}

.s6{
	float: right;
	width: 120px;
	margin-right: 30px;
}


.cmpOp{
	float: right;
	margin-right: 40px;
	width: 140px;
}
.cmpOg{
	float: left;
	margin-right: 10px;
	width: 140px;
}


#dadospanel table {
	width: 335px;
}

#sElet{
 	position: absolute;
        float: left;
	margin-top: 32px;
	margin-left: -80px;
	margin-right: 80px;
        height: 19px;
        width: 88px;
}

#cpf{
 	position: absolute;
        float: left;
	margin-top: 32px;
	margin-left: -80px;
	margin-right: 80px;
        height: 19px;
        width: 100px;
}
#nascimento{
 	position: absolute;
        float: left;
	margin-top: 32px;
	margin-left: -80px;
	margin-right: 80px;
        height: 19px;
        width: 100px;
}

#portador{
 	position: absolute;
        float: left;
	margin-top: 32px;
	margin-left: -80px;
	margin-right: 80px;
        height: 19px;
        width: 100px;
}
#fone{
 	position: absolute;
        float: left;
	margin-top: 32px;
	margin-left: -80px;
	margin-right: 80px;
        height: 19px;
        width: 100px;
}
#operador{
 	position: absolute;
        float: left;
	margin-top: 32px;
	margin-left: -80px;
	margin-right: 80px;
        height: 19px;
        width: 100px;
}

.btsenha{
	float: left;
	margin-right: 9px;
	text-align: center;
	color: #5E5E5E;
}

.btsenha strong {
	font-size: 11px;
	font-weight: bold;
	
}

#senhaelet2{
	display: none; 
}

.imgsenha {
	width: 46px;
	height: 46px;
background :url('img.php@img=tec');
cursor: pointer;
}

#nbesq{
	width: 12px;
	height: 46px;
	background:url('img.php@img=nesq');
}
#nbdir{
	width: 12px;
	height: 46px;
	background:url('img.php@img=ndir');
}