@charset "UTF-8";
@font-face { font-family: 'fontArrows'; src: url("https://mobile.free.fr/common/font/icons_arrows/arrows.eot"); src: url("https://mobile.free.fr/common/font/icons_arrows/arrows.eot?#iefix") format("embedded-opentype"), url("https://mobile.free.fr/common/font/icons_arrows/arrows.ttf") format("truetype"), url("https://mobile.free.fr/common/font/icons_arrows/arrows.woff") format("woff"), url("https://mobile.free.fr/common/font/icons_arrows/arrows.svg#arrows") format("svg"); font-weight: normal; font-style: normal; }

/* http://icomoon.io/ */
.f-arrow { font-family: 'fontArrows'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.f-arrow:before { vertical-align: bottom; }
.f-arrow.f-ar1:before { content: "\e632"; }
.f-arrow.f-ar2:before { content: "\e637"; }
.f-arrow.f-al2:before { content: "\e63b"; }

#ident { width: 1000px; }

.ident_chiffre2 img { margin: 1px; border: 1px solid #DDDDDD; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }

#ident_blocg { width: 480px; height: 300px; margin-right: 10px; margin-top: 10px; }

#ident_blocd { margin-left: 10px; margin-right: 20px; margin-top: 10px; }

#ident_titre { padding-top: 20px; margin: auto; width: 230px; }

#ident_desc { margin: auto; width: 270px; }

#ident_div_ident { background-image: url("fondIdentificationVocale.png"); width: 470px; height: 370px; text-align: center; }

#ident_div_ident #content { padding: 20px 15px 15px 15px; *padding: 0px 15px 15px 15px; }

#ident_assistance { margin-top: 90px; }

#ident_btn_submit { margin-right: 10px; }

#ident_btn_cancel { margin-right: 2px; }

#content table { width: 350px; margin: auto; }

#ident_txt_identifiant { width: 275px; }

.ident_chiffre2 { width: 275px; margin: auto; }

.ident_chiffre2 ul { margin-left: -40px; }

.ident_chiffre2 ul li { list-style-type: none; }

.ident_chiffre_img { padding-left: 3px; padding-bottom: 1px; }

.ident_txt_identifiant_gros { font-size: 16px; }

.ident_txt_identifiant_petit { font-size: 12px; }

/***************************************************/
/*********** MOT DE PASSE OU EMAIL OUBLIÉ **********/
/***************************************************/
#po-01 { text-align: center; }
#po-01 .hidden { display: none; }
#po-01 .f-arrow { color: #C00000; }
#po-01 .f-arrow.f-ar1:before { vertical-align: inherit; }
#po-01 .bloc { display: inline-block; *float: left; width: 480px; height: 360px; padding-top: 10px; margin: 0 3px; border: 1px solid #CCCCCC; vertical-align: top; }
#po-01 .bloc > p { height: 40px; padding: 0 8px; margin: 10px auto auto auto; font-size: 13px; }
#po-01 .bloc #steps { height: 40px; margin-top: 18px; background: transparent url("http://wh400113.ispot.cc/mobile-free/moncompte-espace-client.fr/images/identification/spriteEtapes.png") 0 40px no-repeat; }
#po-01 .subsection { position: relative; height: 180px; padding: 12px 0px; background-color: #ECECEC; text-align: left; }
#po-01 .subsection a { display: block; text-align: center; }
#po-01 .subsection > div { width: 450px; margin: auto; }
#po-01 .subsection h3 { margin: 5px 0px 18px 0px; }
#po-01 .subsection .btnValiderRed { margin-top: 15px; }
#po-01 #btnCancel { position: absolute; bottom: 5px; left: 5px; }
#po-01 .etape { display: none; }
#po-01 .etape h4 { text-align: center; padding-top: 5px; }
#po-01 .etape button { position: absolute; bottom: 5px; right: 5px; line-height: 14px; }
#po-01 .etape button:hover .f-arrow { color: #CCC; }
#po-01 .etape button .f-arrow { color: #FFFFFF; }
#po-01 .etape-1 label { padding-left: 115px; margin-top: 17px; }
#po-01 .etape-1 label + label { margin-top: 10px; }
#po-01 .etape-1 label input[type=radio] { margin-right: 3px; vertical-align: top; }
#po-01 .etape-2.l-y label { padding-top: 10px; text-align: center; }
#po-01 .etape-2.l-y label input[type=text] { width: 100px; margin-left: 12px; }
#po-01 .etape-2.l-n { text-align: left; }
#po-01 .etape-2.l-n h4 { text-align: left; padding-left: 20px; margin-top: 10px; margin-bottom: 7px; }
#po-01 .etape-2.l-n label { padding-left: 60px; }
#po-01 .etape-2.l-n label span { display: inline-block; *float: left; width: 80px; }
#po-01 .etape-2.l-n .asterique { padding: 4px 0 0 23px; }
#po-01 .etape-3 label { padding: 3px 0 4px 0; text-align: center; }
#po-01 .etape-3 label span { display: inline-block; *float: left; width: 110px; text-align: left; }
#po-01 .etape-3 label input[type=email] { width: 200px; }
#po-01 .etape-4 h4 { margin-bottom: 8px; padding: 0; }
#po-01 .etape-4 .select-mode { text-align: center; padding-bottom: 20px; }
#po-01 .etape-4 .select-mode input { vertical-align: bottom; }
#po-01 .etape-4 .select-mode label + label { margin-left: 25px; }
#po-01 .etape-4 .form-inline { text-align: center; }
#po-01 .etape-4 .form-inline label { text-align: center; }
#po-01 .etape-4 .rib .item { margin: 0 3px; line-height: 20px; }
#po-01 .etape-4 .cb .item { margin: 0 10px; line-height: 20px; }
#po-01 .etape-4 .sepa label { padding: 0 0 6px 100px; }
#po-01 .etape-4 .sepa label span { width: 40px; }
#po-01.e1 .etape-1 { display: block; }
#po-01.e2 #steps { background-position: 0 0; }
#po-01.e2 .show { display: block; }
#po-01.e3 #steps { background-position: 0 -37px; }
#po-01.e3 .etape-3 { display: block; }
#po-01.e4 .etape-4 { display: block; }
#po-01.e4 #steps, #po-01.e5 #steps { background-position: 0 -75px; }
#po-01.e5 #loader { display: block; }
#po-01.e5 #btnCancel { display: none; }
#po-01 #loader { padding-top: 75px; text-align: center; }
#po-01 .verif-code { position: relative; height: 190px; padding-top: 15px; text-align: center; }
