.a-footer .ft-info .ft-newsletter {
	text-align: left;
}
.a-footer .ft-form .ft-fr-ipt {
	position: relative;
	left: 8px;
}
.ft-newsletter .cr-container {
	height: 48px;
}
.ft-newsletter .cr-msg-body {
	display: block;
	font-size: 14px;
	font-weight: bold;
	width: 202px;
	float: right;
	line-height: 18px;
}
.ft-newsletter .cr-msg-special {
	color: #ea0001;
}
.cr-error .cr-msg-title, .cr-complete .cr-msg-title {
	color: #9bde02;
	font-size: 20px;
	margin-left: 28px;
}
.cr-error .cr-msg-title {
	font-size: 16px;
	color: #ea0001;
}

.ft-newsletter .cr-error #cr-form-email-bottom-home, .ft-newsletter .cr-error .ft-fr-bt, .ft-newsletter .cr-complete #cr-form-email-bottom-home, .ft-newsletter .cr-complete .ft-fr-bt {
	display: none;
}