@charset "utf-8";



.meiosite {



	width:620px;



}

.meiosite2 {
	width:640px;



}

.meiosite3 {
	width:640px;
	height:130px;
	margin-top:0px;
	margin-bottom:5px;
	padding-top:0px;

}



.meiosite4 {
	width:640px;
	height:250px;
	margin-top:5px;
	margin-bottom:2px;
	padding-top:5px;
	padding-bottom:2px;

}

.meiosite5 {



	width:620px;

	height:185px;

	margin-top:2px;

	margin-bottom:1px;

	padding-top:2px;

	padding-bottom:1px;

}

.meiosite7 {



	width:620px;

	height:100px;

	margin-top:5px;

	margin-bottom:5px;

	padding-top:10px;

}



#noticias {

	width:250px;



	float:right;



	padding-left:2px;



	padding-right:2px;



	margin-right:5px;



}



#cidades {



	background:url(http://imprensabahia.com.br/images/esportes.jpg);



	background-repeat:no-repeat;



	margin-top:10px;



	width:250px;



	height:320px;



	float:left;



	padding-left:2px;

	margin-bottom:5px;





}



#eventos {



	margin-top:10px;



	width:330px;



	height:320px;



	float:right;



	padding-left:2px;

	padding-top:5px;



	margin-left: 5px;





}



#outras {



	margin-top:15px;



	width:240px;



	height:200px;



	float:left;



	padding-left:2px;



}



#colunas {



	background:url(http://imprensabahia.com.br/images/bg_colunas.gif);



	background-repeat:no-repeat;



	margin-top:15px;



	width:380px;



	height:200px;



	float:left;

/*

	padding-left:2px;



	margin-left: 9px;

*/

	padding-top:25px;



}

.entrevistas {



	background:url(http://imprensabahia.com.br/images/classificados.jpg);



	background-repeat:no-repeat;



	margin-top:10px;



	width:310px;



	height:150px;



	float:left;



	padding-left:2px;

	margin-bottom:5px;





}

.servicos {



	background:url(http://imprensabahia.com.br/images/empregos.jpg);



	background-repeat:no-repeat;



	margin-top:10px;



	width:290px;



	height:150px;



	float:right;



	padding-left:2px;

	margin-bottom:5px;





}

.banner300 {





	background-repeat:no-repeat;



	margin-top:10px;



	width:310px;



	height:250px;



	float:left;



	padding-left:2px;

	margin-bottom:5px;





}

.guia {



	background:url(http://imprensabahia.com.br/images/guia.jpg);



	background-repeat:no-repeat;



	margin-top:10px;



	width:290px;



	height:150px;



	float:right;



	padding-left:2px;

	margin-bottom:5px;





}



#vern { font-family:Tahoma, Geneva, sans-serif; color:#069; padding-top:5px; height:22px; margin-bottom:5px; font-size:14px; border-bottom:solid 1px #CCC;

}

#vern2 { padding-left:142px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#069; padding-top:5px; height:30px; font-size:14px;

}

#vern3 { padding-left:190px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#069; padding-top:5px; height:30px; font-size:14px;

}

#vern5 { padding-left:230px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#069; padding-top:5px; height:30px; font-size:14px;

}

#vern6 { padding-left:250px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#069; padding-top:5px; height:30px; font-size:14px;

}

#vern8 { padding-left:250px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#069; padding-top:5px; height:8px; font-size:14px;

}



.destaques { width:360px; float:left;}





.chamadas_blog {
	PADDING-BOTTOM: 4px;
	WIDTH: 640px;
	HEIGHT: 130px;
	margin-top:0px;

}

 .chamadas_blog H4 {
	BORDER-BOTTOM: #ccc 1px solid;
	PADDING-BOTTOM: 1px;
	MARGIN-BOTTOM: 2px;
	COLOR: #1E4B7A;
	FONT-SIZE:20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 2px;

}

 .chamadas_blog H4 A {

	COLOR: #036

}

.chamadas_blog H2 {
	PADDING-BOTTOM: 1px;
	font-family: "Trebuchet MS", Verdana;
	font-size: 10px;
	color: #000000;

}

.chamadas_blog H2 A {

	COLOR: #036

}

.chamadas_blog .setas_area {

	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #e4eaed; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; HEIGHT: 130px; PADDING-TOP: 4px

}

.chamadas_blog .setas_area_lista {
	POSITION: relative;
	WIDTH: 560px;
	FLOAT: left;
	HEIGHT: 130px;
	MARGIN-LEFT: 2px;
	OVERFLOW: hidden

}

.chamadas_blog .seta_anterior {

	MARGIN-TOP: 10px; WIDTH: 25px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 25px; CURSOR: pointer

}

.chamadas_blog .seta_proxima {

	MARGIN-TOP: 10px; WIDTH: 25px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 25px; CURSOR: pointer

}

.chamadas_blog .seta_anterior {

	BACKGROUND-IMAGE: url(http://imprensabahia.com.br/images/blog_seta_esq.png); FLOAT: left

}

.chamadas_blog .seta_proxima {

	BACKGROUND-IMAGE: url(http://imprensabahia.com.br/images/blog_seta_dir.png); FLOAT: right

}

.chamadas_blog .seta_anterior {

	BACKGROUND-COLOR: #1E4B7A

}

.chamadas_blog .seta_proxima {

	BACKGROUND-COLOR: #1E4B7A

}

.chamadas_blog UL {

	WIDTH: 110%; HEIGHT: 130px

}

.chamadas_blog UL LI {
	LINE-HEIGHT: 1em;
	WIDTH: 186px;
	PADDING-RIGHT: 3px;
	FLOAT: left;
	HEIGHT: 130px;
	list-style: none;



}

.chamadas_blog UL LI A {

	LINE-HEIGHT: 1em

}

.chamadas_blog UL LI A.img_borda {

	MARGIN-RIGHT: 4px

}



.chamadas_blog UL LI A SPAN {

	PADDING-BOTTOM: 1px;  DISPLAY: block; LETTER-SPACING: -1px; FONT-SIZE: 100%; FONT-WEIGHT: bold

}



.limpar { clear:both; height:4px; padding-top:2px; padding-bottom:2px;}

#limpar2 {clear:both; height:8px;}

#preFeature2{height:315px; overflow:hidden;}

	#preFeature2 *{padding:0px; margin:0px; border:none;}

	#preFeature2 div{width:49%; overflow:hidden; float:left; position:relative; margin:0px 5px 5px 0px;}

	#preFeature2 div img{width:100%; display:block;}

	#preFeature2 div a:link{position:absolute; top:0px; left:0px; text-indent:-9999px; display:block; width:100%; height:100%;}

	#preFeature2 div a:visited{position:absolute; top:0px; left:0px; text-indent:-9999px; display:block; width:100%; height:100%;}

	#preFeature2 div p{position:absolute; bottom:0px; left:0px; font-size:10px; color:#ffffff; background:#000000; padding:5px 10px 6px 10px; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}

	#preFeature2 div p a:link{position:static; text-indent:0px; display:inline; color:#ffffff; text-decoration:none;}

	#preFeature2 div p a:visited{position:static; text-indent:0px; display:inline; color:#ffffff; text-decoration:none;}



/* ---------------------------------------------------------------------- 

	These are the declarations you are more likely to change when you customize siteFeature2.

 ---------------------------------------------------------------------- */

 

/* this is the size of your siteFeature2 container */

#siteFeature2{
	width:630px;
	height:300px;
}



/* these style the links that appear in the text area */

#siteFeature2 #SFcontentContainer div div a:link{color:#FFF; text-decoration:none;}

#siteFeature2 #SFcontentContainer div div a:visited{color:#FFF; text-decoration:none;}

#siteFeature2 #SFcontentContainer div div a:hover{text-decoration:underline;}



/* this sets the color and opacity of the text's background area */

/* you MUST change the opacity in all 4 places to get cross-browser consistency */

#siteFeature2 #SFcontentContainer div div span{background:#000000; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; opacity:0.6;}



/* this sets the color and opacity of the buttons */

/* you MUST change the opacity in all 8 places to get cross-browser consistency */

#siteFeature2 #SFbtnContainer a:link{background:#ffffff; color:#000000; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}

#siteFeature2 #SFbtnContainer a:visited{background:#ffffff; color:#000000; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}

#siteFeature2 #SFbtnContainer a.current{background:#333333; color:#FFF; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}



/* this is the hover and selected states for the buttons */

/* you MUST change the opacity in all 4 places to get cross-browser consistency */

#siteFeature2 #SFbtnContainer a:hover{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}

#siteFeature2 #SFbtnContainer.open a.trigger{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}

#siteFeature2 #SFbtnContainer a.current{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}





/* ---------------------------------------------------------------------- 

	These are the declarations you aren't likely going to need to change.

 ---------------------------------------------------------------------- */

 

#siteFeature2{overflow:hidden; position:relative; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#ffffff;}

	#siteFeature2 *{padding:0px; margin:0px; border:none;}



	#siteFeature2 #SFcontentContainer{position:absolute; top:0px; left:0px; width:100%; height:100%;}

		#siteFeature2 #SFcontentContainer div{position:absolute; top:0px; left:0px; width:100%; height:100%;}

		#siteFeature2 #SFcontentContainer div div{position:absolute; top:auto; bottom:0px; left:0px; width:100%; height:auto;}

		#siteFeature2 #SFcontentContainer div div span{position:absolute; top:0px; left:0px; width:100%; height:100%; display:block; /*IE6*/ _height:100px;}

		#siteFeature2 #SFcontentContainer div div p{position:relative; padding:5px 0px 6px 10px; width:90%;}

			#siteFeature2 #SFcontentContainer.nomenu div div p{width:100%;}

			#siteFeature2 #SFcontentContainer.left div div p{left:5%;}

			#siteFeature2 #SFcontentContainer.right div div p{}

		#siteFeature2 #SFcontentContainer div div a:link{color:#FFF; text-decoration:none;}

		#siteFeature2 #SFcontentContainer div div a:visited{color:#FFF; text-decoration:none;}

		#siteFeature2 #SFcontentContainer div div a:hover{text-decoration:underline;}



	#siteFeature2 #SFbtnContainer{position:absolute; bottom:8px; z-index:1337; /*IE6*/ _width:22px;}

	#siteFeature2 #SFbtnContainer.right{right:5px;}

	#siteFeature2 #SFbtnContainer.left{left:7px;}

		#siteFeature2 #SFbtnContainer div{overflow:hidden;}

		#siteFeature2 #SFbtnContainer a:link{text-decoration:none; font-weight:bold; display:block; width:20px; height:20px; line-height:20px; text-align:center; margin:2px 2px 0px 0px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px;}

		#siteFeature2 #SFbtnContainer a:visited{text-decoration:none; font-weight:bold; display:block; width:20px; height:20px; line-height:20px; text-align:center; margin:2px 2px 0px 0px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px;}

		#siteFeature2 #SFbtnContainer a:hover{opacity:1;}

		#siteFeature2 #SFbtnContainer a:active, #siteFeature2 #SFbtnContainer a:focus{outline:none;}

		#siteFeature2 #SFbtnContainer a.play{font-size:10px; font-weight:bold;}

		#siteFeature2 #SFbtnContainer a.pause{font-size:11px; font-weight:normal;}

		

#DemoContainer{
	margin:0 auto 10px 10px;
	width:390px;
}

#DemoContainer h3.title{font-size:16px; margin:0px 0px 10px 0px;}



#DemoOptions{list-style:none;}

	#DemoOptions li{margin:0px 0px 20px 0px;}

	#DemoOptions li pre{padding:10px; margin:10px 0px 10px 0px; background:#f9f9f9 none repeat scroll 0 0; border-color:#dddddd #dddddd #dddddd #cccccc; border-style:solid; border-width:1px 1px 1px 3px; font-size:11px; width:95%;}

	#DemoOptions li pre code{padding:0px; margin:0px;}

	.limpar {

	height:10px;

	width:620px;

	padding:2;

	font-size:0;

	clear:both;

}

ol, ul {

    list-style: none;

	}
.pnoticias{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: 700;
}
.ppublicidade{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	font-weight: 700;
}
a.eventos:link {
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.eventos:visited {
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.eventos:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
	color: #003366;
  }
  
.taghome{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
