/*@import url("reset.css");*/

:focus {
    -moz-outline-style:none;
    outline-style:none
}

.box-detail
{
    float:left;
    margin:0px;
    padding:0px;
    width:110px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);	
    /*box-shadow: 6px 6px 6px #888;*/
    border:1px solid #888;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);	
    zoom: 1;
    background-color: #fff;
}


.box-detail a, .box-detail a:hover 
{
    text-decoration:none;
}
.box-inner
{
    border:0px solid blue;
    width:100px;
    height:180px;
    position:relative;
    background-color: #fff;		
}
.box-inner img
{
    width:100px;
    height:115px;    
    padding:5px;
}


.box-inner-alb
{
    border:0px solid blue;
    width:100px;
    height:125px;
    position:relative;
    background-color: #fff;		
}

.box-inner-alb img
{
    width:100px;
    height:75px;
    padding:5px;
}

.box-inner-fx
{
    width:100px;
    height:75px;
    top:5px;
    left:5px;
    position:absolute;
    background-color: rgba(0,0,0,0.3);
    background-image: url(http://www.imprensabahia.com.br/galeriaimprensa/images/bg-dark.png);
    display:none;
    z-index:1000;
}

.box-inner-alb .box-inner-fx h2:hover
{
    color:#99CC00;
}
.box-inner-fx h2
{
    margin:0px;
    padding:0px;
    font-family: 'Electrolize', sans-serif;
    font-style: normal;
    font-size:10px;
    text-align:center;
    padding:10px;
    margin-top:65px;
    color:#fff;
    background-image: url(http://www.imprensabahia.com.br/galeriaimprensa/images/bg-dark.png);
    background-color: rgba(0,0,0,0.3);
    z-index:1000;
}

.box-inner-fx a, .box-inner-fx  span
{
    margin:0px;
    padding:0px;
    font-family: 'Electrolize', sans-serif;
    font-size: 12px;
    text-decoration:none;
    text-align:right;
    display:block;
    width:40px;
    margin-top:1px;
    padding:5px;
    position:absolute;
    bottom:0px;
    right:1px;
    color:#99CC00;
    background-image: url(http://www.imprensabahia.com.br/galeriaimprensa/images/bg-dark.png);
    background-color: rgba(0,0,0,0.3);
    cursor:pointer;
}


.box-inner-fx a:hover , .box-inner-fx  span:hover
{
    color:#fff;
    cursor:pointer;
}

.box-bottom
{
    border:0px solid green;
    height:30px;	
    padding-top:10px;
    padding-left:10px;
    background-color: #fff;
}
.box-bottom-left
{
    background: url(http://www.imprensabahia.com.br/galeriaimprensa/images/icon-comment.png) no-repeat left 3px;
    padding-left:25px;
    float:left;
    border:0px solid red;
    line-height:20px;
    height:20px;
    color:#666;
    font-family: 'Courgette', cursive;
    font-size: 11px;
}
.box-bottom-right
{
    background: url(http://www.imprensabahia.com.br/galeriaimprensa/images/icon-date.png) no-repeat left 4px;
    padding-left:25px;
    padding-right:10px;
    float:right;
    text-align:right;
    border:0px solid red;
    line-height:20px;
    height:20px;	
    color:#666;
    font-family: 'Courgette', cursive;
    font-size: 11px;
}
.box-bottom-right-photo
{
    background: url(http://www.imprensabahia.com.br/galeriaimprensa/images/icon-photo.png) no-repeat left 1px;
    padding-left:25px;
    padding-right:10px;
    float:right;
    text-align:right;
    border:0px solid red;
    line-height:20px;
    height:20px;	
    color:#666;
    font-family: 'Courgette', cursive;
    font-size: 11px;
}


.share
{
    border:0px solid red;
    width:100px;
    position:relative;
    right:0px;
    z-index:1000000;
}




