/***** layout *****************/

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(back.png);
	
}
.topobg {
	height: 10px;
}
.rodape{
	background-color: #181818;
	height: 200px;
	background-image: url(fundo_footer.png);
	background-repeat: repeat-x;
	background-position: top;
}
.posicaorodape{
	padding-top: 8px;
	padding-bottom: 3px;
}

.buscarodape{
	background-color: #1A1A1A;
	height: 40px;
}

    img {border:0;}

.style4 {
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
}
.styl20 {
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}

.style10 {
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
}
.style9 {	font-family: "trebuchet MS", Verdana, Arial;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14px;
}
.fundo_topo {
	background-repeat: repeat;
	background-position: top;
}
.style23 {
	color: #003366;
	font-weight: bold;
	font-size: 33px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.style27 {
	color: #FFFFFF;
	font-family: "Trebuchet MS", Verdana;
	font-size: 16px;
	font-weight: bold;
}

/* TOPO BARRA PESQUISAR */

.fundo_pesquisar {
	padding-top: 2px;
	
}
.fundo_pesquisar_img {
	background-image: url(fundo_pesquisar.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 45px;
	background-color: #0F0F0F;
	
	
}

/* MENU TOPO */

#menu {
	float: none;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#menu li {
	float: left;
	margin: 0;
	padding: 0;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
	width: 110px;
}
#menu a {
	background: url("seperator.gif.html") bottom right no-repeat;
	color: #000000;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#menu a:hover {
	background: url("fundomenu2.jpg.html") bottom center;
	color: #000000;
	padding-bottom: 8px;
	}
	
	
/* ####################################  NOVO LAYAUT ###################### */

.exibecategoria{
	font-family: "Trebuchet MS", Verdana;
	font-size: 26px;
	font-weight: bold;
	color: #000000;
}

.posicaobanner{
	padding-top: 0px;
}

.ddata {
	height: 20px;
	width: 170px;
	overflow: visible;
	position: absolute;
	visibility: visible;
	vertical-align:middle;
	margin-top:0px;
	margin-left:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#A0A0A0;

}

		



/* MENU PADRAO */

.urbangreymenu{
width: 150px; /*width of menu*/

}

.urbangreymenu .headerbar{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #ffffff;
	margin-bottom: 2px;
	padding: 0 0 0 0; /*header text is indented 10px*/
	cursor: hand;
	cursor: pointer;
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	background-color:#000000;
	-moz-border-radius: 4px;
	padding: 4px;
}

.urbangreymenu .headerbar a{
	text-decoration: none;
	color: #003366;
	display: block;
	font-family: "Trebuchet MS", Verdana;
}

.urbangreymenu .headerbar a:hover{ /*hover state CSS*/
	text-decoration: underline;
}

.urbangreymenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{

padding-bottom: 2px; /*bottom spacing between menu items*/

}

.urbangreymenu ul li a{
	color: #003366;
	display: block;
	padding: 2px 0;
	padding-left: 2px; /*link text is indented 19px*/
	text-decoration: none;
	/*border-bottom: 1px dashed #dadada;*/
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	font-size: 12px;
}

.urbangreymenu ul li a:visited{
	color: #003366;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
	color: #003366;
	text-decoration:none;
	background-color: #E4EAED;
}

			
/*MENU RODAPE F1 */

.urbangreymenu2{

width: 150px; /*width of menu*/

}



.urbangreymenu2 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px; /*bottom spacing between each UL and rest of content*/

}



.urbangreymenu2 ul li{

padding-bottom: 2px; /*bottom spacing between menu items*/

}



.urbangreymenu2 ul li a{
	color: #666666;
	display: block;
	padding: 0px 0;
	padding-left: 2px; /*link text is indented 19px*/
	text-decoration: none;
	/*border-bottom: 1px dashed #dadada;*/
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	font-size: 11px;




}



.urbangreymenu2 ul li a:visited{
	color: #666666;

}



.urbangreymenu2 ul li a:hover{ /*hover state CSS*/
	color: #FFFFFF;
	text-decoration:none;
	background-color: #0F0F0F;

}

/*  FIM MENU 2 */

/*MENU RODAPE F3 */

.urbangreymenu3{

width: 150px; /*width of menu*/

}



.urbangreymenu3 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px; /*bottom spacing between each UL and rest of content*/

}



.urbangreymenu3 ul li{

padding-bottom: 2px; /*bottom spacing between menu items*/

}



.urbangreymenu3 ul li a{
	color: #E927AA;
	display: block;
	padding: 0px 0;
	padding-left: 2px; /*link text is indented 19px*/
	text-decoration: none;
	/*border-bottom: 1px dashed #dadada;*/
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	font-size: 11px;




}



.urbangreymenu3 ul li a:visited{
	color: #E927AA;

}



.urbangreymenu3 ul li a:hover{ /*hover state CSS*/
	color: #FFFFFF;
	text-decoration:none;
	background-color: #0F0F0F;

}

/*  FIM MENU 3 */


/*MENU RODAPE F4 */

.urbangreymenu4{

width: 150px; /*width of menu*/

}



.urbangreymenu4 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px; /*bottom spacing between each UL and rest of content*/

}



.urbangreymenu4 ul li{

padding-bottom: 2px; /*bottom spacing between menu items*/

}



.urbangreymenu4 ul li a{
	color: #1483C2;
	display: block;
	padding: 0px 0;
	padding-left: 2px; /*link text is indented 19px*/
	text-decoration: none;
	/*border-bottom: 1px dashed #dadada;*/
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	font-size: 11px;




}



.urbangreymenu4 ul li a:visited{
	color: #1483C2;

}



.urbangreymenu4 ul li a:hover{ /*hover state CSS*/
	color: #FFFFFF;
	text-decoration:none;
	background-color: #0F0F0F;

}

/*  FIM MENU 4 */

/*MENU RODAPE F5 */

.urbangreymenu5{

width: 150px; /*width of menu*/

}



.urbangreymenu5 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px; /*bottom spacing between each UL and rest of content*/

}



.urbangreymenu5 ul li{

padding-bottom: 2px; /*bottom spacing between menu items*/

}



.urbangreymenu5 ul li a{
	color: #CCFF33;
	display: block;
	padding: 0px 0;
	padding-left: 2px; /*link text is indented 19px*/
	text-decoration: none;
	/*border-bottom: 1px dashed #dadada;*/
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	font-size: 11px;




}



.urbangreymenu5 ul li a:visited{
	color: #CCFF33;

}



.urbangreymenu5 ul li a:hover{ /*hover state CSS*/
	color: #FFFFFF;
	text-decoration:none;
	background-color: #0F0F0F;

}

/*  FIM MENU 5 */

.urbangreymenu16{
width: 183px; /*width of menu*/

}

.urbangreymenu16 .headerbar16{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFFFFF;
	margin-bottom: 2px;
	padding: 0 0 0 0; /*header text is indented 10px*/
	cursor: hand;
	cursor: pointer;
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	background-image: url(fundodiv.png);
	-moz-border-radius: 4px;
	padding: 4px;
}




/*menu 6*/


.urbangreymenu6{
width: 150px; /*width of menu*/

}

.urbangreymenu6 .headerbar6{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFFFFF;
	margin-bottom: 2px;
	padding: 0 0 0 0; /*header text is indented 10px*/
	cursor: hand;
	cursor: pointer;
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	background-image: url(fundodiv.png);
	-moz-border-radius: 4px;
	padding: 4px;
}

.urbangreymenu6 .headerbar6 a{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	font-family: "Trebuchet MS", Verdana;
}

.urbangreymenu6 .headerbar6 a:hover{ /*hover state CSS*/
	text-decoration: underline;
}

.urbangreymenu6 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu6 ul li{

padding-bottom: 2px; /*bottom spacing between menu items*/

}

.urbangreymenu6 ul li a{
	color: #797979;
	display: block;
	padding: 2px 0;
	padding-left: 2px; /*link text is indented 19px*/
	text-decoration: none;
	/*border-bottom: 1px dashed #dadada;*/
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	font-size: 12px;
}

.urbangreymenu6 ul li a:visited{
	color: #797979;
}

.urbangreymenu6 ul li a:hover{ /*hover state CSS*/
	color: #FFFFFF;
	text-decoration:none;
	background-color: #000000;
}

/*/////////////////////////*/

.urbangreymenu7{
width: 150px; /*width of menu*/

}

.urbangreymenu7 .headerbar7{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFFFFF;
	margin-bottom: 2px;
	padding: 0 0 0 0; /*header text is indented 10px*/
	cursor: hand;
	cursor: pointer;
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	background-color:#0000000;
	-moz-border-radius: 4px;
	padding: 4px;
}

.urbangreymenu7 .headerbar7 a{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	font-family: "Trebuchet MS", Verdana;
}

.urbangreymenu7 .headerbar7 a:hover{ /*hover state CSS*/
	text-decoration: underline;
}

.urbangreymenu7 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 9px; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu7 ul li{

padding-bottom: 2px; /*bottom spacing between menu items*/

}

.urbangreymenu7 ul li a{
	color: #ffffff;
	display: block;
	padding: 2px 0;
	padding-left: 2px; /*link text is indented 19px*/
	text-decoration: none;
	/*border-bottom: 1px dashed #dadada;*/
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	font-size: 12px;
}

.urbangreymenu7 ul li a:visited{
	color: #C9168E;
}

.urbangreymenu7 ul li a:hover{ /*hover state CSS*/
	color: #FFFFFF;
	text-decoration:none;
	background-color: #C9168E;
}

/*/////////////////////////*/

.principal {

	float: right;

	width: 835px;

	overflow: visible;

	position: relative;

	visibility: visible;

	padding-top:10px;

	

}




.menu {

font-family: "Trebuchet MS";
font-size: 16px;

} 



.menuOn {

text-transform: uppercase;

color:  <?=$coronmouse?>;

text-decoration: none;

font-weight: bold;
font-size: 16px;


}


.noticias_outrasdata{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#003871;
	font-size:12px;
	font-weight:bold;
}

.noticias_outras{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	font-weight:bold;
}

.titulos_noticias {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#003871; font-size:20px; font-weight:bold; }


.subtitulos_noticias {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:14px;
}



#entrevista { margin:0; background-image: url(entrevistas.jpg.html); background-repeat:no-repeat; width:150px;} 

.site_busca {
	width:390px;
	height: 22px;
	padding: 2px 0;
	float:right;
	margin-top:0px;
	margin-right:10px;

}

.site_busca2 {

	width:100px;

	height: 22px;

	padding: 2px 0;

}

.site_busca label { 

	color: #069;

	font-weight: bold;

	font-size: 1em;

	padding: 8px;

	text-transform: uppercase;

	margin:0 0 0 0px;

}

.site_busca #palavra_chave{ 

	width: 270px;

	font-size: 1em; 

	margin-left: 8px;

}



.botao{
	cursor: pointer;
	width: 70px;
	height: 25px;
	margin-bottom:2px;
	border: 1px solid #333333;
	border-left-color: #c5daf3;
	border-top-color: #c5daf3;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align:middle;
	text-transform: uppercase;
	background-color: #59a0ca;

}

.botao a:hover{
	cursor: pointer;
	width: 70px;
	height: 22px;
	margin-bottom:2px;
	border: 1px solid #333333;
	border-left-color: #c5daf3;
	border-top-color: #c5daf3;
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align:middle;
	text-transform: uppercase;
	background-color: #59a0ca;

}

.icones { width:150px; float:right; margin:0;}

#botao img{ margin:3px 3px 3px 8px; text-decoration:none;}

.logoo { float:left; width:311px; margin-top:6px;}

.bannerr { float:right; width:700px; margin-top:2px;}



 ############### 

.t_class {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#003871; font-size:14px; font-weight:bold; }

.s_class {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666; font-size:14px; }

.banner {	float: right;

	width: 747px;

	height: 90px;

	padding-left: 19px;

	background: url(publicidade.gif) left top no-repeat;

}

.rss {	float: right;

	width: 170px;

	height: 20px;

	margin-top:4px;

}

/* IMAGENS */

a.img_borda,
a.img_borda img{
	float: left;
	overflow: hidden;
	border-color: #000000;
}
a.img_borda:hover {
	border-style: solid;
	border-width: 4px;
}
a.img_borda:hover img{
	margin: -4px;
}

a.img_borda2,
a.img_borda2 img{
	float: left;
	overflow: hidden;
	border-color: #003366;
}
a.img_borda2:hover {
	border-style: solid;
	border-width: 4px;
}
a.img_borda2:hover img{
	margin: -4px;
}

a.img_borda3,
a.img_borda3 img{
	float: left;
	overflow: hidden;
	border-color: #000000;
}
a.img_borda3:hover {
	border-style: solid;
	border-width: 4px;
}
a.img_borda3:hover img{
	margin: -4px;
}

a.img_borda4,
a.img_borda4 img{
	float: left;
	overflow: hidden;
	border-color: #1E4B7A;
}
a.img_borda4:hover {
	border-style: solid;
	border-width: 4px;
}
a.img_borda4:hover img{
	margin: -4px;
}

a.img_borda5,
a.img_borda5 img{
	float: left;
	overflow: hidden;
	border-color: #FF9900;
}
a.img_borda5:hover {
	border-style: solid;
	border-width: 2px;
}
a.img_borda5:hover img{
	margin: -2px;
}

a.img_borda6,
a.img_borda6 img{
	float: left;
	overflow: hidden;
	border-color: #015A96;
}
a.img_borda6:hover {
	border-style: solid;
	border-width: 4px;
}
a.img_borda6:hover img{
	margin: -4px;
}
a.img_borda7,
a.img_borda7 img{
	float: left;
	overflow: hidden;
	border-color: #9FD500;
}
a.img_borda7:hover {
	border-style: solid;
	border-width: 4px;
}
a.img_borda7:hover img{
	margin: -4px;
}

/* MENU 2 */
h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#menu1 {
	width: 135px;
	border-size: 1px;
	margin: 0px;
	}
	
#menu1 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 20px;
	text-decoration: none;
	}	
	
#menu1 li a:link, #menu1 li a:visited {
	color: #666666;
	display: block;
	padding: 4px 0 0 5px;
	background-color: #FFFFFF;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
	}
	
#menu1 li a:hover {
	color: #FFFFFF;
	padding: 4px 0 0 5px;
	background-color: #000000;
	}
	
#menu1 li a:active {
	color: #FFFFFF;
	padding: 4px 0 0 5px;
	background-color: #000000;
	}


/* #############################////////////////////////////### PRINCIPAL DESTAQUES ################///////////////// */
.colunista{
font-family: "Trebuchet MS", Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.colunistacat{
	font-family: "Trebuchet MS", Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
}

.videos{
	font-family: "Trebuchet MS", Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.videos2{
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
}

.videos3{
	font-family: "Trebuchet MS", Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #003366;
}

.videos_titulo{
	font-family: "Trebuchet MS", Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.eventosdata{
font-family: "Trebuchet MS", Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.exibebusca_n{
	font-family: "Trebuchet MS", Verdana;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}


.guiatitulo{
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFAB00;
}

.guiafone{
font-family: "Trebuchet MS", Verdana;
	font-size: 10px;
	color: #000000;
	}


a.emprego1:link {
	font-family: "Trebuchet MS", Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
a.emprego1:visited {
	font-family: "Trebuchet MS", Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
a.emprego1:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  }
  
.emprego2{
font-family: "Trebuchet MS", Verdana;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	}

a.titulodestaque:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
}
a.titulodestaque:visited {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
}
a.titulodestaque:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  }
  
.datadestaque{
	font-family: "Trebuchet MS", Verdana;
	font-size: 10px;
	color: #999999;
} 
a.noticiadestaque:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
}
a.noticiadestaque:visited {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
}
a.noticiadestaque:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	color: #1A1A1A;
  } 

.categoriadestaque{
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	color: #003366;
	font-weight: bold;
}  
.datadestaque2{
	font-family: "Trebuchet MS", Verdana;
	font-size: 10px;
	color: #999999;
}
  a.noticiadestaque2:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
}
a.noticiadestaque2:visited {
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
}
a.noticiadestaque2:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  } 
  
  .fundo_titulo_home{
	font-family: "Trebuchet MS", Verdana;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
  }
  .fundo_titulo_ent{
	font-family: "Trebuchet MS", Verdana;
	color: #C9168E;
	font-size: 16px;
	font-weight: bold;
  }
  .fundo_titulo_div{
	font-family: "Trebuchet MS", Verdana;
	color: #1E4B7A;
	font-size: 16px;
	font-weight: bold;
  }
   a.noticiadestaque3:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
}
a.noticiadestaque3:visited {
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
}
a.noticiadestaque3:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  } 
  
    a.noticiasemfoto:link {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
}
a.noticiasemfoto:visited {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
}
a.noticiasemfoto:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  } 
  
   a.noticiaentretenimento:link {
	text-decoration: none;
	color: #000080;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 13px;
}
a.noticiaentretenimento:visited {
	text-decoration: none;
	color: #000080;
	font-size: 13px;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
}
a.noticiaentretenimento:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  } 
  
   a.noticiadiversos:link {
	text-decoration: none;
	color: #1E4B7A;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 12px;
}
a.noticiadiversos:visited {
	text-decoration: none;
	color: #1E4B7A;
	font-size: 12px;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
}
a.noticiadiversos:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  } 
  
 .eventosdata2{
	font-family: "Trebuchet MS", Verdana;
	font-size: 11px;
	color: #666666;
}
 
 .eventoslocal2{
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	}
 
a.eventostitulo2:link {
	text-decoration: none;
	color: #1E4B7A;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 13px;
}
a.eventostitulo2:visited {
	text-decoration: none;
	color: #1E4B7A;
	font-size: 13px;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
}
a.eventostitulo2:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
  } 
  /*
  //////////////////////////////////////////////////////////////////////////
   classes LINKS 
  ////////////////////////////////////////////////////////////////////////// 
  
  */
a.classe:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
}
a.classe:visited {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
}
a.classe:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
  }
 a.classe01:link {
	text-decoration: none;
	color: #6B6B6B;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
}
a.classe01:visited {
	text-decoration: none;
	color: #6B6B6B;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
}
a.classe01:hover {
	text-decoration: underline;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
  } 
  
  a.classe02:link {
	text-decoration: none;
	color: #C9168E;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
}
a.classe02:visited {
	text-decoration: none;
	color: #C9168E;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
}
a.classe02:hover {
	text-decoration: underline;
	color: #B00077;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 11px;
  }
  
  a.classe1:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 13px;
}
a.classe1:visited {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 13px;
}
a.classe1:hover {
	text-decoration: underline;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 13px;
  }

a.classe2:link {
	text-decoration: none;
	color: #1E4B7A;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
}
a.classe2:visited {
	text-decoration: none;
	color: #1E4B7A;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
}
a.classe2:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
  }
a.classe3:link {
	text-decoration: none;
	color: #003366;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
}
a.classe3:visited {
	text-decoration: none;
	color: #003366;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
}
a.classe3:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
  }
  
  
a.classe4:link {
	text-decoration: none;
	color: #000000;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
}
a.classe4:visited {
	text-decoration: none;
	color: #000000;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
}
a.classe4:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
	font-weight: bold;
  }
a.canaisfoter:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
}
a.canaisfoter:visited {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
}
a.canaisfoter:hover {
	text-decoration: underline;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 15px;
  }
  

  
 a.bs:link {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
}
a.bs:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
}
a.bs:hover {
	text-decoration: underline;
	color: #FFFFFF;
	font-weight: bold;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
  }
  
  /*RODAPE       */
  
  a.f1:link {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f1:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f1:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
  }
  
    a.f2:link {
	text-decoration: none;
	color: #E927AA;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f2:visited {
	text-decoration: none;
	color: #E927AA;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f2:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
  }
  
    a.f3:link {
	text-decoration: none;
	color: #1483C2;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f3:visited {
	text-decoration: none;
	color: #1483C2;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f3:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
  }
  
    a.f4:link {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f4:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f4:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
  }
  
    a.f5:link {
	text-decoration: none;
	color: #CCFF33;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f5:visited {
	text-decoration: none;
	color: #CCFF33;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
}
a.f5:hover {
	text-decoration: underline;
	font-family: "trebuchet MS", Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
  }
  
/* MENU TOPO */

#demo-container{
	padding:0;
	}

ul#simple-menu{
	list-style-type:none;
	width:100%;
	position:relative;
	height:27px;
	margin:0;
	padding:11px 0 0 0;
	text-align: center;
	}

ul#simple-menu li{
	display:block;
	float:left;
	margin:0 0 0 4px;
	height:27px;
	}


ul#simple-menu li.left{
	margin:0;
	}

ul#simple-menu li a{
	display:block;
	float:left;
	color:#666666;
	line-height:27px;
	text-decoration:none;
	padding:0 17px 0 18px;
	height:27px;
	font-family: "Trebuchet MS", Verdana;
	font-size: 17px;
	font-weight: bolder;
	background-image: url(menu_sep.gif);
	background-repeat: no-repeat;
	}

ul#simple-menu li a.right{
	padding-right:19px;
	}

ul#simple-menu li a:hover{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;

	}

ul#simple-menu li a.current1{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bolder;
	color: #000000;
	}
	ul#simple-menu li a.current2{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bolder;
	color: #003366;
	}
	ul#simple-menu li a.current3{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bolder;
	color: #59A0CA;
	}
	ul#simple-menu li a.current4{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bolder;
	color: #C9168E;
	}
	ul#simple-menu li a.current5{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bolder;
	color: #006600;
	}
ul#simple-menu li a.current6{
	font-family: "Trebuchet MS", Verdana;
	font-size: 18px;
	font-weight: bolder;
	color: #003366;
	}
ul#simple-menu li a.current:hover{
	color:#2E4560;
	background:#fff;
	}

ul#simple-menu li a.current1:hover{
	background-image: url(current1.gif);
	background-repeat: repeat-x;
	background-position: bottom;

	}
	
	ul#simple-menu li a.current2:hover{
	background-image: url(current2.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	}
	
	ul#simple-menu li a.current3:hover{
	background-image: url(current3.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	}
	
	ul#simple-menu li a.current5:hover{
	background-image: url(current5.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	}
	
ul#simple-menu li a.current4:hover{
	background-image: url(current4.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	}
	
	ul#simple-menu li a.current6:hover{
	background-image: url(current6.gif.html);
	background-repeat: repeat-x;
	background-position: bottom;
	}
	
/*
---------------------------------------------------------------------
CLASSES
---------------------------------------------------------------------
*/


.vshare-success {
	font-weight: normal;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	background-color: #CFEEB2;
	margin-bottom: 0.2em;
	font-size: 12px;
	border: 1px solid #FFFFFF;
	font-family: "trebuchet MS", Verdana, Arial;
}

/* FORMS*/
 .input {
	height: 24px;
	margin: auto;
	border: 1px solid #666666;
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	color: #003366;
	background-color: #CCD8DD;
}

.inputon {
	height: 24px;
	margin: auto;
	border: 1px solid #666666;
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	color: #000000;
	background-color: #92ABB6;
}


/* SEARCH FORM */

#search {
	text-align:center;
	width:800px;
	padding:0pt;
	margin: 0 0 0px 50px;
}
#search form input.text {
	padding:3px;
	width:300px;
}
#search form input.text, #search form select {
	color:#000000;
	font-family:"Trebuchet MS", Verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	line-height:normal;
	margin:0pt;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
#search .search-btn {
	/*background:transparent url(http://www.tvvideozu.com/templates/images/search.gif) no-repeat scroll 0 0;*/
	border:2px solid #628200;
	color:#FFFFFF;
	height:27px;
	width:60px;
	font-weight: bold;
	font-family: "Trebuchet MS", Verdana;
	background-color: #99CC00;
	padding-bottom: 4px;
}
