@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:100;
	src:local('☺︎'), url("appleicons_ultralight.woff") format("woff"), url("appleicons_ultralight.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 100';
	src:url("appleicons_ultralight.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:200;
	src:local('☺︎'), url("appleicons_thin.woff") format("woff"), url("appleicons_thin.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 200';
	src:url("appleicons_thin.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:300;
	src:local('☺︎'), url("appleicons_thin.woff") format("woff"), url("appleicons_thin.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 300';
	src:url("appleicons_thin.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:500;
	src:local('☺︎'), url("appleicons_text.woff") format("woff"), url("appleicons_text.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 500';
	src:url("appleicons_text.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("appleicons_text.woff") format("woff"), url("appleicons_text.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 600';
	src:url("appleicons_text.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:700;
	src:local('☺︎'), url("appleicons_text.woff") format("woff"), url("appleicons_text.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 700';
	src:url("appleicons_text.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:800;
	src:local('☺︎'), url("appleicons_text.woff") format("woff"), url("appleicons_text.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 800';
	src:url("appleicons_text.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:900;
	src:local('☺︎'), url("appleicons_text.woff") format("woff"), url("appleicons_text.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons 900';
	src:url("appleicons_text.eot");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'Apple Icons';
	font-style:normal;
	font-weight:400;
	src:url("appleicons_text.eot");
	src:local('☺︎'), url("appleicons_text.woff") format("woff"), url("appleicons_text.ttf") format("truetype");
	/* © Copyright 2015 Apple Inc. All rights reserved. */
}

