.message {
color:#000;
font-size:12px;
border:1px #0071B5 solid;
background:#ffd;
width:auto;
margin:10px 0;
padding:10px;
}

.message span {
background:url(error-sprite.gif) no-repeat 0 0;
float:left;
width:25px;
height:25px;
display:block;
}

.message h6 {
font-size:13px;
margin:0 0 .25em 35px;
padding:0;
}

.message p {
margin:0 0 .25em 35px;
padding:0;
}

.message ul {
padding-left:0;
margin-left:10px;
}

.message li {
margin-left:35px;
list-style-type:disc;
}

.success {
color:#063;
border:1px solid #447F00;
}

.success h6 {
color:#063;
}

.success span {
background-position:0 -25px;
}

.success span.mini {
background-position:0 -17px!important;
}

.warning {
border:1px solid #E47911;
}

.warning span {
background-position:0 -50px;
}

.warning span.mini {
background-position:0 -34px!important;
}

.error {
color:#A31919;
border:1px solid #A31919;
}

.error span {
background-position:0 -75px;
}

.error span.mini {
background-position:0 -51px!important;
}

.mini {
font-size:10px;
border:1px #DDDAC0 solid;
padding:7px;
}

.mini h6 {
font-size:11px;
margin-left:25px;
}

.mini p {
margin-left:25px;
}

.mini span.mini {
background:url(error-sprite-mini.gif) no-repeat 0 0;
width:3px;
height:3px;
border:0;
}

html {
color:#000;
background:#FFF;
}

table {
border-spacing:0;
font-size:inherit;
font:100%;
border-collapse:collapse;
text-align:left;
}

fieldset,img {
border:0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
font-style:inherit;
font-weight:inherit;
}

del,ins {
text-decoration:none;
}

li {
list-style:none;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:400;
color:#E47911;
}

q:before,q:after {
content:'';
}

abbr,acronym {
border:0;
font-variant:normal;
}

input,button,textarea,select,optgroup,option {
font-family:inherit;
font-size:inherit;
font-style:inherit;
font-weight:inherit;
}

input,button,textarea,select {
font-size:100%;
}

body {
font-size:small;
font:x-small;
font-family:Verdana;
text-align:left;
margin-left:8px;
margin-right:8px;
}

select,input,button,textarea,button {
font:99% Verdana,arial,helvetica,clean,sans-serif;
}

pre,code,kbd,samp,tt {
font-family:monospace;
font-size:108%;
line-height:100%;
}

.ap_caps_warn {
display:none;
color:#900;
text-align:left;
min-width:210px;
font-size:75%;
visibility:hidden;
position:relative;
width:auto;
}

.ap_caps_warn_shared {
margin-top:13px;
margin-left:5px;
}

.ap_standard_caps_warn {
margin-left:5px;
margin-top:-3px;
}

.ap_col3_caps_warn {
margin-left:0;
margin-top:0;
}

.ap_caps_warn_shared_table {
margin-top:-13px;
margin-left:-60px;
}

.ap_standard_caps_warn_table {
margin-left:-60px;
margin-top:-13px;
}

#title-slot #ap_title_pagelet {
max-width:600px;
margin-left:0;
margin-right:0;
}

hr.ap_dashed {
border:none;
border-top:1px dashed #C8C8C8;
margin-top:5px;
}

.ap_row {
clear:both;
width:100%;
padding-top:5px;
padding-bottom:5px;
vertical-align:middle;
margin:0;
}

.ap_table > .ap_row > span {
vertical-align:middle;
float:none;
padding:0;
}

.ap_col1 {
margin-left:25px;
width:auto;
padding-left:30px;
}

.ap_no_collapse {
min-height:28px;
}

img {
display:inline;
border:0 none;
}

.error h6 {
color:inherit;
}

h1 {
font-size:120%;
font-weight:700;
}

.ap_submit_link {
background-color:transparent;
text-decoration:underline;
border:none;
cursor:pointer;
width: 0;
overflow: visible;
}

.ap_submit_link[class]
{
width: auto;
}

.faded {
color:#aaa;
}

.invisible {
visibility:hidden;
}

.red {
color:#900;
}

.gray {
color:#666;
}

.light {
font-weight:300;
}

.tiny {
font-size:.75em;
font-weight:400;
}

.small {
font-size:.85em;
font-weight:400;
}

.enabled {
cursor:default;
}

.disabled {
cursor:not-allowed;
}

.headroom {
padding-top:10px;
}

.padded_right {
padding-right:6px;
}

.rightborder {
border-right:1px solid #CCC;
}

.leftborder {
border-left:1px solid #CCC;
}

input.disabled {
background:#eee;
}

input.enabled {
background:inherit;
}

.fixed_width_form {
width:auto;
margin-left:auto;
margin-right:auto;
}

.loading {
background:url(loadIndicator-label.gif) no-repeat center;
}

.form_alert {
height:.9em;
color:#900;
padding:3px;
}

.width_200 {
width:200px;
display:inline-block;
}

ul li {
background-image:none;
background-position:0 .5em;
background-repeat:no-repeat;
list-style-type:none;
margin-bottom:.5em;
padding-left:0;
}

.ap_ulist li {
list-style-type:none;
}

#top-1 {
text-align:center;
margin:10px 0;
}

.ap_header {
width:600px;
margin-left:auto;
margin-right:auto;
text-align:left;
padding-bottom:3px;
margin-top:10px;
}

.ap_pagelet {
margin-bottom:10px;
float:left;
max-width:800px;
width:auto;
margin-left:auto;
margin-right:auto;
}

.ap_pagelet input {
vertical-align:text-bottom;
}

.ap_pagelet_title {
text-align:left;
margin-bottom:4px;
}

.ap_section_title {
height:auto;
margin-bottom:2px;
}

.ap_flyout {
background-color:#FFC;
border:1px solid #921;
font-size:93%;
text-align:left;
display:inline;
position:absolute;
width:190px;
z-index:999;
color:#921;
margin-top:-100px;
margin-left:200px;
padding:0 3px 3px 8px;
}

.ap_flyout img {
position:absolute;
left:-5px;
top:50%;
}

.ap_form_wrapper {
margin-left:auto;
margin-right:auto;
margin-top:5px;
min-width:510px;
}

.ap_form_wrapper table {
display:block;
width:auto;
margin:auto;
}

.ap_form_div {
margin-top:20px;
margin-bottom:20px;
}

.ap_form_row {
margin:7px;
}

.signinSecure {
padding-top:8px;
padding-bottom:8px;
}

.ap_cnep_form_row {
width:500px;
text-align:left;
clear:both;
padding:5px 0;
}

.ap_cnep_label {
float:left;
width:120px;
text-align:right;
vertical-align:bottom;
font-weight:700;
}

.ap_cnep_val {
display:inline-block;
float:right;
text-align:left;
vertical-align:bottom;
width:260px;
}

.ap_cnep_edit {
display:inline-block;
vertical-align:bottom;
float:right;
width:100px;
}

#ap_cnep_birthdate_input {
padding:12px 0 6px;
}

#ap_cnep_finished_button {
margin-top:30px;
padding-top:6px;
}

#ap_cnep_subtitle {
margin-bottom:5px;
}

.ap_error_page_header {
text-align:center;
margin:20px;
}

.ap_error_page_message {
font-size:medium;
margin-top:2px;
}

.ap_error_return_home {
font-size:medium;
font-weight:700;
margin-top:15px;
}

.ap_error_page_wrapper {
width:600px;
margin-left:auto;
margin-right:auto;
text-align:center;
font-family:verdana,arial,helvetica,sans-serif;
font-size:medium;
}

.ap_error_page_cookieless_wrapper {
width:600px;
margin-left:10px;
font-family:verdana,arial,helvetica,sans-serif;
font-size:medium;
}

.ap_error_page_cookieless_wrapper p {
margin:10px auto 10px 10px;
}

.ap_error_page_cookieless_title h1 {
font-size:medium;
margin:10px auto 10px 10px;
}

#ap_fpp_cctype_input {
display:inline-block;
margin-bottom:6px;
vertical-align:bottom;
}

#ap_forgot_form_table_wrapper {
margin-bottom:0px;
}

#customer_service {
margin-top:30px;
}

#ap_register_phone_number_input > input {
vertical-align:middle;
}

#ap_caps_warn_span {
display:inline-block;
padding-top:0;
}

#ap_remember_me_checkbox_row {
margin-left:230px;
margin-top:2px;
}

#ap_small_forgot_password_link_ie_new {
margin-left:235px;
margin-top:2px;
}

#jpflex #ap_small_forgot_password_link_ie_new {
margin-left:237px;
}

#itflex #ap_small_forgot_password_link_ie_new {
margin-left:221px;
}

#frflex #ap_small_forgot_password_link_ie_new {
margin-left:275px;
}

#ap_small_forgot_password_link {
margin-left:230px;
margin-top:2px;
}

#jpflex #ap_small_forgot_password_link {
margin-left:232px;
}

#itflex #ap_small_forgot_password_link {
margin-left:216px;
}

#frflex #ap_small_forgot_password_link {
margin-left:270px;
}

#ap_email_verify_options_table td {
padding-top:3px;
padding-right:20px;
}

#ap_email_verify_options_table tr {
border-top:1px solid #eee;
}

#ap_email_verify_options_table tr:hover {
background-color:#eee;
}

#centerSlots {
-moz-border-radius:5px;
border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #c9e1f4;
position:relative;
width:510px;
padding:10px 15px;
}

#centerSlots.rmrMe {
width:530px;
}

.ap_content_frame {
-moz-border-radius:5px;
border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #c9e1f4;
position:relative;
float:left;
padding:10px 15px;
}

#ap_signin1a_password_row .ap_col1 {
margin:0;
padding:0;
}

#ap_signin1a_pagelet #signInSubmit {
margin-left:-15px;
margin-top:5px;
}

#ap_signin1a_password_section_title {
padding-top:15px;
}

body > .ie {
margin-left:2px;
margin-right:2px;
}

.ie6 #ap_password {
margin-left:50px;
}

#ap_small_forgot_password_link_ie_old {
margin-left:60px;
margin-bottom:2px;
}

.ie6 #centerSlots {
padding-bottom:0;
}

#bottom-4 {
clear:both;
border:none;
height:0;
}

#bottom-5 {
clear:both;
border-top:1px solid #C9E1F4;
border:none;
padding-top:10px;
}

.ie6 .ap_row {
padding:2px 0;
}

.ap_ul li {
background-image:url(orange_bullet.png);
background-position:0 .5em;
background-repeat:no-repeat;
list-style-type:none;
margin-bottom:.5em;
padding-left:10px;
}

.ap_forminput {
text-align:left;
display:inline-block;
}

.ap_align_top {
vertical-align:top;
}

.ap_align_bottom {
vertical-align:bottom;
}

.ap_popup_bg {
background:#efefef;
position:absolute;
width:250px;
top:5%;
right:35%;
padding:0 4px 4px 0;
}

.ap_popup {
position:relative;
top:-3px;
left:-3px;
text-align:left;
border:1px solid #E47911;
background:#ffffd5;
padding:0 5px 15px 10px;
}

.ap_close_popup {
position:absolute;
bottom:5px;
right:5px;
}

.ap_highlight_input {
background:#ffffd5;
}

.ap_form_table td[colspan=2] {
padding-top:4px;
}

.ap_input_label {
display:inline-block;
margin-right:4px;
font-weight:700;
text-align:right;
min-width:0;
}

.ap_radio_label {
display:inline-block;
}

.ap_radio_plus_label input {
vertical-align:top;
display:inline;
}

.ap_privacy_footer {
margin-left:auto;
margin-right:auto;
border:none;
}

.ap_fpp_challenge_input_label {
margin:3px 3px 3px 0;
}

#ap_signin_form_table td.ap_login_suggest {
padding-top:0;
padding-bottom:4px;
}

#ap_captcha_img {
border:1px solid #aaa;
width:200px;
height:70px;
}

#ap_register_phone_message {
width:370px;
}

#navLogo {
display:block;
position:relative;
cursor:default;
width:180px;
height:48px;
}

#navLogo:hover,#navLogo:focus,#navLogo:active {
cursor:pointer;
}

#altLogo {
display:block;
position:absolute;
top:8px;
left:9px;
}

#navLogoPrimary {
display:block;
position:absolute;
top:8px;
left:9px;
width:151px;
height:31px;
background-position:-9px -8px;
}

#navLogo.nonGateway:hover #navLogoPrimary,#navLogo.nonGateway:focus #navLogoPrimary,#navLogo.nonGateway:active #navLogoPrimary {
top:0;
left:0;
width:180px;
height:48px;
background-position:0 0;
}

#navLogoPrimary span {
position:absolute;
top:-9999px;
}

#navLogoSecondary {
visibility:hidden;
position:absolute;
top:29px;
left:79px;
width:48px;
height:12px;
background-position:0 -700px;
}

#navLogoSecondary.prime {
visibility:visible;
top:27px;
left:75px;
width:58px;
height:17px;
background-position:-110px -700px;
}

#navLogo.nonGateway:hover #navLogoSecondary,#navLogo.nonGateway:focus #navLogoSecondary,#navLogo.nonGateway:active #navLogoSecondary {
visibility:visible;
}

#navLogo.nonGateway:hover #navLogoSecondary.prime,#navLogo.nonGateway:focus #navLogoSecondary.prime,#navLogo.nonGateway:active #navLogoSecondary.prime {
top:27px;
left:75px;
width:58px;
height:17px;
background-position:-50px -700px;
}

.navSprite,.navSaJs li.navSaMenuItem {
background-image:url(navPackedSprites-US-22._V183711640_.png);
}

#wrapper {
width:542px;
margin:0 auto;
}

#topSlots {
width:100%;
margin:0;
padding:0;
}

#top-1 td[align=right] {
padding:4px 4px 0 0;
}

#bottomSlots {
width:542px;
padding:0;
}

#flex_subslot_frame {
width:510px;
border:none;
border-bottom:1px solid #C9E1F4;
padding:20px 16px;
}

.ap_form_table .ap_input_label {
white-space:nowrap;
}

.message a,.ap_submit_link,a:link,a:visited,a:hover,a:active {
color:#004B91;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,* {
margin:0;
padding:0;
}

caption,th,.ap_left,div,span,.left,.ap_section_subtitle {
text-align:left;
}

sup,sub {
vertical-align:baseline;
}

legend,.black {
color:#000;
}

.ap_table,.ap_col2,.fixed_width_form table {
width:auto;
}

.ap_right,.right {
text-align:right;
}

.ap_bold,.bold {
font-weight:700;
}

h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:700;
}

.ie,div#wrapper,.center,#cnep-slot,#register-slot,#forgotpassword-slot,#signin-slot,#tokenresync-slot,#bottom-1,#center-0,#center-1,#message-box-slot {
text-align:center;
}

.hidden,#be,#ap_signin1f_pagelet #ap_signin1f_signin_button_row .ap_col1,#ap_signin1a_forgot_password_row,#ap_signin1a_cnep_row,.ie6 #ap_caps_warn_span,#leftSlots,#rightSlots {
display:none;
}

.inline,#ap_signin1a_exist_cust_radio_row,#ap_signin1a_password_row,.ap_radio_button {
display:inline;
}

.middle,#add_phone_submit_button,#add_phone_cancel_button {
vertical-align:middle;
}

.clear-both,#center-3 {
clear:both;
}

.ap_form_table input,.ap_form_table select,.ap_form_table input {
margin:5px 2px;
}

#ap_fpp_continue_shopping,#ap_fpp_footer,.ap_error_page_title,#ap_captcha_title {
margin-top:10px;
}

.ap_error_page_title h1,.ap_error_page_cookieless_message {
font-size:medium;
}

#ap_signin1a_exist_cust_radio_row span,#ap_signin1a_password_row span {
padding-top:8px;
}

#navLogoPrimary.navLogoPrimaryAt,#navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,#navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,#navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt {
background-position:0 0;
}

#flex_subslot_frame {
border-radius: none;
-moz-border-radius: none;
-webkit-border-radius: none;
}

#ap_sent_email_content {
width: 100%;
}

a.ap_warning_link {
color:#d33;
}

#ap_mini_warning_icon {
margin-right:2px;
}

#ap_popover_bottom_right_link {
float:right;
display:block;
}

.ap_popover {
position:absolute;
outline:none;
}

.ap_popover .ap_body {
height:100%;
position:relative;
}

.ap_popover .ap_body .ap_content {
padding-bottom:5px;
background-color:#fff;
margin:0 34px;
padding-bottom:0;
}

.ap_popover .ap_body .ap_left {
width:34px;
height:100%;
position:absolute;
top:0;
left:0;
background:transparent url(po_left.png) repeat-y scroll 0 0;
}

.ap_popover .ap_body .ap_right {
width:34px;
height:100%;
position:absolute;
top:0;
right:0;
background:transparent url(po_right.png) repeat-y scroll 0 0;
}

.ap_popover .ap_header,.ap_popover .ap_footer {
position:relative;
width:100%;
}

.ap_popover .ap_header {
margin:0;
padding:0;
}

.ap_popover .ap_header *,.ap_popover .ap_footer * {
height:34px;
}

.ap_popover .ap_header .ap_left {
position:absolute;
top:0;
left:0;
width:34px;
background:transparent url(po_top_left.png) no-repeat scroll 0 0;
}

.ap_popover .ap_header .ap_right {
width:34px;
position:absolute;
top:0;
right:0;
background:transparent url(po_top_right.png) no-repeat scroll 0 0;
}

.ap_popover .ap_header .ap_middle {
margin:0 34px;
background:transparent url(po_top.png) repeat-x scroll 0 0;
}

.ap_popover .ap_footer .ap_left {
position:absolute;
top:0;
left:0;
width:34px;
background:transparent url(po_bottom_left.png) no-repeat scroll 0 0;
}

.ap_popover .ap_footer .ap_right {
width:34px;
position:absolute;
top:0;
right:0;
background:transparent url(po_bottom_right.png) no-repeat scroll 0 0;
}

.ap_popover .ap_footer .ap_middle {
margin:0 34px;
background:transparent url(po_bottom.png) repeat-x scroll 0 0;
}

.ap_popover .ap_titlebar {
display:none;
position:absolute;
left:0;
top:0;
background-color:#EAF3FE;
border-bottom:1px solid #C2DDF2;
font-size:14px;
font-weight:700;
margin:10px 18px;
}

.ap_popover .ap_titlebar .ap_title {
padding:4px 10px;
}

#ap_overlay {
background-color:#3F4C58;
width:100%;
position:absolute;
top:0;
left:0;
z-index:99;
display:none;
}

.ap_popover .ap_close {
position:absolute;
right:18px;
top:15px;
}

.ap_popover .ap_close a {
padding:5px;
text-decoration:none;
outline:none;
}

.ap_popover .ap_close .ap_closetext {
display:none;
position:relative;
top:-2px;
left:0;
margin-right:5px;
}

.ap_popover .ap_titlebar .ap_title h2 {
margin:2px 0;
font-weight:700;
cursor:default;
}

#ap_popover_content {
padding-top:10px;
padding-bottom:16px;
}
