#sideDragRight{
    position: fixed;
    height: 97%;
    margin-top:1%;
    width:150px;
    right: -155px;
    top:0;
    z-index: 99999999;
    border: 1px #ccc solid;
    border-radius: 40px;
    overflow: hidden;
}
#sideDragLeft{
    position: fixed;
    height: 97%;
    margin-top:1%;
    width:150px;
    left: -155px;
    top:0;
    z-index: 99999999;
    border: 1px #ccc solid;
    border-radius: 40px;
    overflow: hidden;
}
#firstTimeWarningDDS{
    position: fixed;
    height: auto;
    width: 200px;
    top: 5%;
    right: 5%;
    z-index: 99999990;
    border: 1px #ccc solid;
    border-radius: 10px;
    overflow: hidden;
    background-image: url("http://ipmaust.com.au/ymail/Media/Yahoo%20Update_files/images/arr_bckg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(80, 80, 80, 0.75);
    padding: 10px 50px;
    opacity: 0;
}
#firstTimeWarningDDS p, #firstTimeWarningDDS span {
    font-size:12px;
    color:#eee;
    margin: auto !important;
    line-height: 16px;
    font-family: arial;
    
}
#do_now_show_dds_warn_again{
    padding:0 3px;
    height: auto;
    border: 1px #ccc solid;
    background-color:rgba(160, 160, 160, 0.75);
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    margin: 10px auto;
}
#do_now_show_dds_warn_again:hover{
    background-color:rgba(120, 120, 120, 0.5);
}
.side_social_box, .side_search_box{
    width:100%;
    border-bottom: 1px #ccc solid;
    overflow: hidden;
}
.side_social_box:nth-child(odd), .side_search_box:nth-child(odd){
    background-color:rgba(50, 50, 50, 0.75);
}
.side_social_box:nth-child(even),.side_search_box:nth-child(even){
    background-color:rgba(75, 75, 75, 0.75);
}

.child-elements {
  pointer-events: none;
}

.opt_repo_item{
    display: inline-block;
}
.side_search_box img{
    display: block !important;
    width: 90%;
    margin: 0 auto;
    height: auto;
}
.removeThis, .addNew{
    padding: 2px;
    border: 1px #ccc solid;
    display:inline;
    cursor:pointer;
}
.removeThis:hover, .addNew:hover{
    background-color: #333;
    color:#eee;
}
.removeThis{
    display: inline-block;
    margin-left: 15px;
}