.icon-by-LogMeIn-logo
{
    background: url('cubby-mktg-sprite.png') 160px 0;
    width:55px;
    height:23px;
}
.icon-in
{
    background: url('cubby-mktg-sprite.png') 0 0;
    width:18px;
    height:18px;
}
.ie7 .icon-in
{
    left:-28px;
}
.icon-arrow-down
{
    background: url('cubby-mktg-sprite.png')190px 0;
    width:18px;
    height:21px;
}
.icon-arrow-down:hover
{
    background: url('cubby-mktg-sprite.png')220px 0;
    width:18px;
    height:21px;
}

.btn-download:hover .icon-arrow-down
{
    background: url('cubby-mktg-sprite.png')220px 0;
    width:18px;
    height:21px;
}

.icon-action-arrow-up
{
    background: url('cubby-mktg-sprite.png') -30px 0;
    width:18px;
    height:21px;
    position:relative;
    top:14px;
    left:13px;
}
.icon-action-arrow-down
{
    background: url('cubby-mktg-sprite.png') -60px 0;
    width:18px;
    height:21px;
    position:relative;
    top:0px;
    left:146px;
}
.ie7 .icon-action-arrow-down
{
    left:0px;
}
.icon-checkmark
{
    background: url('cubby-mktg-sprite.png') -91px 0;
    width:18px;
    height:21px;
    margin:auto;
}
.icon-blog
{
    background: url('cubby-mktg-sprite.png') -115px 0;
    height: 15px !important;
    position: relative;
    top: 9px;
}
.icon-facebook
{
    background: url('cubby-mktg-sprite.png') -173px 0;
    height: 21px !important;
    position: relative;
    top: 6px;
}
.icon-twitter
{
    background: url('cubby-mktg-sprite.png') -143px 0;
    height: 21px !important;
    position: relative;
    top: 6px;
}
