#body[theme="ssep"] [control="forms:fieldContainer"] div[name="suggestedusernames"] {
	float: left;
	width: 250px;
}

#body[theme="ssep"] [control="forms:fieldContainer"]#suggestedUsernamesContainer {
	max-width: 600px;
}