@media screen and (min-width: 768px) {
  #shopping_cart_container, .header_user_info {
    max-width: 80px; } }
#shopping_cart_container, .header_user_info {
  vertical-align: top; }

/* cart modification */
#shopping_cart_container {
  width: 6%;
  padding: 0px;
  margin-top: 40px;
  line-height: 12px; }
  #shopping_cart_container.stickCart {
    position: static; }
  #shopping_cart_container .shopping_cart {
    padding-top: 0px !important;
    float: none; }
    #shopping_cart_container .shopping_cart > a:first-child {
      line-height: 12px;
      text-align: center;
      float: none; }
      #shopping_cart_container .shopping_cart > a:first-child span.cart_name {
        font-size: 0px;
        padding: 0px;
        float: none;
        line-height: 0;
        background: none;
        max-height: 45px;
        overflow: hidden;
        margin-bottom: 5px; }
        #shopping_cart_container .shopping_cart > a:first-child span.cart_name:before {
          background: none;
          font-size: 40px;
          float: none;
          display: block;
          padding: 0px;
          line-height: 42px;
          display: block;
          text-align: center; }
  #shopping_cart_container .more_info {
    background: none !important;
    display: block;
    padding: 0px; }
    #shopping_cart_container .more_info .ajax_cart_quantity {
      position: absolute;
      top: 0px;
      right: 9px;
      border-radius: 26px;
      width: 16px;
      height: 16px;
      text-align: center;
      padding: 0px;
      line-height: 15px;
      font-size: 10px; }
    #shopping_cart_container .more_info .ajax_cart_product_txt, #shopping_cart_container .more_info .ajax_cart_product_txt_s {
      display: none !important; }

/* blockuser info mod */
.header_user_info {
  position: relative;
  float: right;
  text-align: center;
  line-height: 12px;
  width: 6%;
  padding: 0px;
  margin-top: 40px; }
  .header_user_info .account span {
    display: none; }
  .header_user_info .log-separator {
    display: none; }
  .header_user_info .logout {
    display: block; }
  .header_user_info > a:first-child {
    display: inline-block; }
    .header_user_info > a:first-child:before {
      font-size: 46px;
      content: "\f007";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 43px;
      display: block;
      text-align: center;
      margin-bottom: 8px; }
  .header_user_info i {
    display: none !important; }

/* responsive header */
@media screen and (max-width: 999px) {
  #shopping_cart_container, .header_user_info {
    width: 10%; } }
@media screen and (max-width: 767px) {
  #header {
    text-align: center; }

  #header .cart_block {
    width: 320px;
    top: auto;
    text-align: left; }

  .shopping_cart > a:first-child {
    position: relative; }

  #shopping_cart_container .shopping_cart, #shopping_cart_container {
    position: static; }

  #shopping_cart_container, .header_user_info, .iqit-search-shower {
    width: 20%;
    float: none;
    display: inline-block; } }
