
.fkcorreiosg2-form {
    padding: 5px 10px 5px 10px;}

    .fkcorreiosg2-form input[type="text"] {
        height: 24px;
        font-size: 12px;
        color: #9c9b9b;
        border: 1px solid #d6d4d4;
        padding: 3px;}

.fkcorreiosg2-button {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    border: 1px solid #777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;}

.fkcorreiosg2-box {
    border: 1px solid #d6d4d4;
    border-radius: 0;
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;}

.fkcorreiosg2-responsivo {
    max-width: 200px;
    height: auto;}

    .fkcorreiosg2-responsivo img {
        max-width: 200px;
        width: 100%;
        max-height: 200px;}

.fkcorreiosg2-titulo {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0 !important;}

.fkcorreiosg2-faixa-msg {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
    margin: 10px 0 5px 0;}

.fkcorreiosg2-transportadoras {
    padding: 0 3px 0 3px;
}
.fkcorreiosg2-transportadoras table {
    width: 100%;}

.fkcorreiosg2-transportadoras tr {
    border-bottom: 1px solid #d6d4d4;}

.fkcorreiosg2-msg-transp {
    background-color: #ffffff;
    font-size: 11px;
    border: 1px solid #d6d4d4;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;}

.fkcorreiosg2-fancybox #fkcorreiosg2-adic-carrinho-nome,
.fkcorreiosg2-fancybox #fkcorreiosg2-adic-carrinho-valor,
.fkcorreiosg2-fancybox #fkcorreiosg2-desc-resumida-nome,
.fkcorreiosg2-fancybox #fkcorreiosg2-desc-resumida-valor {
    font-size: 13px;
}

.fkcorreiosg2-rastreio-coluna {
    background-color: transparent;
    padding: 14px 5px 0 5px;}

.fkcorreiosg2-rastreio-footer {
    float: left;
    background-color: transparent;
    margin-top: 45px;
    width: 33.33%;
    padding: 0 15px 0 15px;}

    .fkcorreiosg2-rastreio-footer .fkcorreiosg2-rastreio-titulo {
        color: #FFFFFF;}

    .fkcorreiosg2-rastreio-footer .fkcorreiosg2-rastreio-conteudo input[type="text"] {
        background-color: transparent;
        border: 1px solid #515151;
        height: 40px;
        color: #FFFFFF;}

    .fkcorreiosg2-rastreio-footer .fkcorreiosg2-button-rastreio {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-color: #908f8f;
        padding: 0;}

.fkcorreiosg2-rastreio-account {
    background-color: transparent;
    margin-top: 20px;}

.fkcorreiosg2-rastreio-titulo {
    background: url(logo_rastreio.png) no-repeat transparent;
    height: 40px;
    padding: 13px 0 0 33px;
    font-size: 18px;
    text-transform: uppercase;
    color: #555454;}

.fkcorreiosg2-rastreio-conteudo {
    padding-top: 10px;}

.fkcorreiosg2-rastreio-conteudo input[type="text"] {
    width: 80%;
    height: 30px;
    padding-left: 5px;}

.fkcorreiosg2-button-rastreio {
    height: 30px;
    border: 1px solid #666666;
    background-color: #e4e4e4;
    border-radius: 3px;}

.fkcorreiosg2-button-rastreio:hover {
    background-color: #ffffff;}

.fkcorreiosg2-clear {
    clear: both;}

.fkcorreiosg2-col-lg-15 {
    width: 15% !important;}

.fkcorreiosg2-col-lg-30 {
    width: 30% !important;}

.fkcorreiosg2-col-lg-40 {
    width: 40% !important;}

#fkcorreiosg2-desc-resumida-nome {
    width: 50%;
    font-size: 11px;}

#fkcorreiosg2-desc-resumida-valor {
    width: 20%;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;}

#fkcorreiosg2_adic_carrinho {
    border: 0;
    border-top: 1px solid #d6d4d4;
    border-bottom: 1px solid #d6d4d4;
    margin: 0;}

#fkcorreiosg2-adic-carrinho-faixa-msg {
    font-size: 11px;}

#fkcorreiosg2-adic-carrinho-nome {
    width: 45%;
    font-size: 9px;}

#fkcorreiosg2-adic-carrinho-valor {
    width: 25%;
    font-size: 10px;
    text-align: right;
    padding-right: 5px;}

#fkcorreiosg2-adic-carrinho-msg-transp {
    font-size: 10px;}

#fkcorreiosg2-desc-detalhada-titulo {
    font-size: 16px;}

#fkcorreiosg2-desc-detalhada-faixa-msg {
    font-size: 15px;}

#fkcorreiosg2-desc-detalhada-nome {
    width: 60%;
    font-size: 14px;}

#fkcorreiosg2-desc-detalhada-valor {
    width: 20%;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;}

#fkcorreiosg2-carrinho-titulo {
    font-size: 16px;}

#fkcorreiosg2-carrinho-faixa-msg {
    font-size: 15px;}

#fkcorreiosg2-carrinho-nome {
    width: 60%;
    font-size: 14px;}

#fkcorreiosg2-carrinho-valor {
    width: 20%;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;}