

/*Thematic Area width:852px;*/
.instagram-feed-container{width: 100%;background-color: #000; }
 .thematic_area { width:1065px; margin:0 auto; clear:both; padding-top:0px; }

 .thematic_area h3 { font-family:Arial, Helvetica, sans-serif; font-size:21px; font-weight:normal; color:#373737; border-bottom:#d5e0e2 1px solid; padding-bottom:4px; margin-bottom:5px; }

/*>>>>>>>>>>>>>>>>>>> SHOWREEL Page Starts <<<<<<<<<<<<<<<<<<<*/

 .thematic_area .content_showreel { margin:0 auto; width:1065px; height:232px; padding:7px 0px 0px 0px; margin-left:0px; }

 .thematic_area .jcarousel-skin-tango ul { left:0px; }

 .thematic_area .jcarousel-skin-tango li { display:block; width:213px; height:202px; /*margin:15px;*/ margin-top:10px; position:relative; overflow:hidden; float:left; margin-right:0px; }

/*Block*/

 .thematic_area .jcarousel-skin-tango li .thematic1 { width:230px; height:auto; text-align:center; } 

 .thematic_area .jcarousel-skin-tango li .thematic1 .thumbnail { width:227px; height:171px; border:#eedfdf 1px solid; }

 .thematic_area .jcarousel-skin-tango li .thematic1 .detail { width:219px; background:#1bc4de; padding:10px 5px 10px 5px; text-align:center; } 

 .thematic_area .jcarousel-skin-tango li .thematic1 .detail h4 { font-size:18px; font-weight:normal; color:#272727; text-transform:uppercase; }

 .thematic_area .jcarousel-skin-tango li .thematic1 .detail p { font-family:Tahoma, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#FFF; line-height:19px; padding:3px 0 15px 0; }

 .thematic_area .jcarousel-skin-tango li .thematic1 .detail a { background:#272727; padding:4px 15px 4px 15px; font-family:Tahoma, Geneva, sans-serif; font-size:11px; font-weight:normal; color:#1bc4de; }

 .thematic_area .jcarousel-skin-tango li .thematic1 .detail a:hover { background:#FFF; color:#272727; }

/*block ends*/

 .thematic_area .jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}

 .thematic_area .jcarousel-skin-tango .jcarousel-clip-horizontal { width:1065px; height: 230px; }

 .thematic_area .content_showreel .arrow { display: block; height: 19px; width: 147px; background:url(http://www.piba-leggings.com/skin/frontend/default/milano/images/slider_arrows.png) no-repeat 0 0; text-indent: -999px; position: absolute;  cursor: pointer; z-index:99;}

 .thematic_area .content_showreel .jcarousel-prev  { left: -38px; top: 98px;  z-index:99; width: 19px; height:29px; background:url(arrow_left4.png) no-repeat left top; position: absolute; cursor: pointer;  float:left;}

 .boxbeforeslider  { left: 16px; top: 18px;  z-index:99; width: 19px; height:29px;  position: absolute; cursor: pointer;  float:left;}
 .boxbeforeslider2  { right: 178px; top: 18px;  z-index:99; width: 19px; height:29px;  position: absolute; cursor: pointer;  }
 /*.thematic_area .content_showreel .jcarousel-prev:hover  { right: 23px; top: -40px;  z-index:99; width: 19px; height: 19px; background:url(../images/arrow_left_hover.png) no-repeat left top; position: absolute; cursor: pointer;  float:left;}*/

 .thematic_area .content_showreel .jcarousel-next { right:-38px; top:98px;  z-index:99; width: 19px; height: 29px; background:url(arrow_right4.png) no-repeat right top; position: absolute; cursor: pointer; display:block; }

 /*.thematic_area .content_showreel .jcarousel-next:hover { right: 0px; top:-40px;  z-index:99; width: 19px; height: 19px; background:url(../images/arrow_right_hover.png) no-repeat right top; position: absolute; cursor: pointer; display:block; }*/

