html, body {
	height: 100%;
}
body {
	background : #fff url(pw_maze_white.png) top left repeat;
}
a {
	cursor : pointer;
	text-decoration : underline;
}
.btn {
	text-decoration : none;
}
p {
	margin : 20px 0;
}
hr {
	margin-top : 45px;
	margin-bottom : 40px;
}
.login-panel {
	padding-top : 10px;
}
.section {
	padding-bottom : 40px;
	margin-bottom : 40px;
	background: transparent url(http://assets.bravenet.com/bn/front/img/sep.png) bottom left no-repeat;
}
.panel .section:last-child {
	background: none;
}
.panel-back {
	text-align: right;
	display:block;
	margin-bottom : 20px;
	margin-right : 5px;
}

.navbar-static-top {
	min-height : 20px;
}
.navbar-nav > li {
	float : none;
}
.nav > li {
	display : inline-block;
}
.nav > li > a {
	padding : 10px;
	display : inline-block;
	text-decoration : none;
}
.navbar-inverse .navbar-nav > li > a {
	color : #d4d4d4;
}

.navbar-inverse {
	background: #404040 url(navy_blue.png) top left repeat;
}

h3 i {
	color : #0774bb;
}
.login-panel {
	text-align : right;
}
.login-panel .login-input, .login-panel .login-button {
	display : inline-block;
	text-align : left;
	vertical-align : top;
}
.login-subtext {
	margin-top : 3px;
	margin-left : 3px;
	font-size : 90%;
	display : inline-block;
	color : #666;
}
.login-subtext label {
	font-weight : normal;
}
.login-subtext a {
	text-decoration : underline;
}
.login-panel .login-button {
	vertical-align : top;
}
.form-control:focus {
	border-color : #000;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 113, 187, 0.8);
}

.btn-inverse {
	background-color : #c0c0c0;
	color : #000;
}

.btn-default {
	background-color : #404040;
	color : #fff;
	border : 0;
}
.btn-default:hover {
	background-color : #505050;
	color : #fff;
}
.btn-primary:hover {
	background-color : #007fd2;
}

.mobile-menu a {
	color : #fff;
	font-size : 135%;
	display : inline-block;
	padding: 10px;
	padding-right : 0;
}

.service-box {
	background-color : #ddd;
	line-height : 1;
	padding : 30px 5px 20px 5px;
	text-align : center;
	cursor : pointer;
}
.service-box i {
	font-size : 80px;
}
.service-box strong {
	display : block;
	text-align : center;
	font-size : 20px;
	font-weight : bold;
	color : #0077bc;
	margin : 10px 0 25px 0;
}
.service-box p {
	margin-top : 6px;
	line-height : 1.3;
	padding-left : 25px;
	padding-right : 25px;

}
.service-box:hover, .col-lg-3:nth-child(2n+1) .service-box:hover, .row:nth-child(2n+0) .col-lg-3:nth-child(2n+1) .service-box:hover, .row:nth-child(2n+0) .col-lg-3:nth-child(2n+0) .service-box:hover {
	background-color : #0077bc;
	color : #fff;
}
.service-box:hover strong, .service-box:hover i {
	color : #fff;
}
.service-box:hover p {
	color : #fff;
}
.service-box.index-webtools {
	padding : 0;
	padding : 25px 0;
	padding-bottom : 5px;
}
.service-box.index-webtools i {
	font-size : 40px;
}
.service-box.index-webtools strong {
	font-size : 13px;
	font-weight : normal;
}

.tools-row .col-3, .tools-row .col-lg-3 {
	padding : 5px;
}
.webtools-panel .row {
	margin-bottom : 20px;
}
.webtools-panel .row:last-child {
	margin-bottom : 0;
}
.panel.hosting-panel {
	padding : 0;
	border : 0;
}
.panel.services-panel {
	padding : 40px;
	padding-top : 20px;
	padding-bottom : 0;
}
.panel.panel-announcements {
	padding: 0;
}
.col-lg-3:nth-child(2n+1) .service-box {
	background-color : #eee;
}
.row:nth-child(2n+0) .col-lg-3:nth-child(2n+1) .service-box {
	background-color : #ddd;
}
.row:nth-child(2n+0) .col-lg-3:nth-child(2n+0) .service-box {
	background-color : #eee;
}
.hosting-section {
	padding : 50px;
	border-bottom : 1px solid #ccc;
}
.hosting-section:nth-child(2n+0) {
	background-color : #f9f9f9;
}
.hosting-section:last-child {
	border: none;
}
.hosting-section .form-inline {

}
.form-inline .form-control.domain-main-search {
	width : 710px;
}
.domain-search-box {
	background-color : #eee;
	padding : 50px;
}
.domain-search-box label {
	color : #006eb6;
	font-size : 120%;
	font-weight : normal;
}
.domain-search-box input {
	border-top-right-radius : 0;
	border-bottom-right-radius: 0;
}
.domain-search-box .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.navbar-bn {
	background-color : #006eb6;
	margin-top : 20px;
	min-height : 0;
	text-transform: uppercase;
	font-size : 100%;
}
.navbar-bn .navbar-nav {
	float : none;
	text-align : center;
}
.navbar-bn .navbar-nav li {
	float : none;
	display : inline-block;

}
.navbar-bn .navbar-nav li.active a {
	background-color : #00649e;
	color : #fff;
	text-decoration : none;
}
.navbar-bn .navbar-nav li a {
	color : #f4f4f4;
	padding-left : 40px;
	padding-right : 40px;
	text-decoration : none;

}
.navbar-bn .navbar-nav li a:hover {
	color : #fff;
	background-color : #00649e;
}
.navbar-nav a i {
	margin-right : 5px;
}
.signup-btn a {
	text-decoration : none;
}
#top-menu {
	display : none;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	background: #404040 url(navy_blue.png) top left repeat;
	color : #d4d4d4;
	z-index : 1000;
	padding : 7px 0;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#top-menu ul {
	list-style-type : none;
	padding : 0;
	margin : 0;
	margin-top : 5px;
}
#top-menu ul li {
	display : inline;
}

#top-menu ul li a {
	color : #d4d4d4;
	text-decoration : none;
	padding : 5px 10px;
}
#top-menu ul li a:hover {
	color : #fff;
	text-decoration : none;

}
#top-menu .col-10 {
	text-align : right;
}

footer {
	background : #404040 url(navy_blue.png) top left repeat;
	color : #fff;
	padding : 25px 0;
	font-size : 90%;
	margin-bottom: -20px;
}
footer strong {
	font-size : 120%;
}
footer p {
	margin-top : 25px;
}
footer a {
	color : #bbb;
	text-decoration : none;
}
footer a:hover {
	color : #fff;
}
footer ul {
	list-style-type : none;
	margin : 15px 0;
	padding : 0;
}
.legal-copy { text-align : right; }

.legal-copy p, .legal-copy p a { font-size : 95%; color : #ccc; }

.btn-lg {
	font-weight : normal;
}

.hidden-sm.hidden-inline {
	display : inline!important;
}

.content {
	margin-bottom : 15px;
}

.panel {
	position : relative;
	padding : 30px;
}

.top-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;

}


.splash {
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#d6d6d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#d6d6d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	padding : 10px 30px;
	margin-bottom : 20px;
}
.lg-cta {
	font-size : 120%;
}
.splash h2 {
	font-size : 32pt;
	letter-spacing : -2px;
	color : #000;
	margin-bottom : 0;
}
.splash h3 {
	margin-top : 0;
	color : #666;
	font-size : 20pt;
	font-weight : normal;
}
.splash ul  {
	list-style-type: none;
	font-size : 115%;
	margin : 0;
	padding : 0;
}
.splash ul li {
	margin-bottom : 10px;
}
.splash p {
	margin : 30px 0;
}
.splash .signup-btn .btn {
	font-size : 18pt;
	text-shadow: 1px 2px 0px rgba(0,0,0,0.3);
}
.btn-primary {
	background-color : #0071b7;
}
.btn-alt {
	background-color : #888;
	color : #fff;
}
.btn-alt:hover {
	color : #fff;
	background-color : #666;
}
.splash-msg {
	margin-top : 20px;
	padding-left : 20px;
}
.splash-msg ul {
	font-size : 125%;
}
.splash-content {
	text-align : center;
	font-size : 125%;
	color : #696969;
}
.carousel-indicators {
	top : 10px;
	right : 30px;
	left : auto;
	width : auto;
}
.carousel-indicators li {
	border-color : #ccc;
}
.carousel-indicators li.active {
	background-color : #ccc;
}
.panel-title {
	font-size : 165%;
}
.index .splash-content h2 {
	margin-top : 60px;
}
.index .splash-content p.cta {
	margin-top : 70px;
}
.main-menu {
	font-size : 120%;
}
.main-menu-toggler {
	float : right;
	margin : 10px;
	color : #fff;
	font-size : 130%;
	margin-right : 0;
}
.main-menu-toggler:hover {
	color : #eee;
}

.dom-reg {
	margin-top : 20px;
	padding : 50px 80px 50px 50px;
	background : #eee url(domainreg.jpg) right top no-repeat;
}

.price {
	color : #800;
}
.client-row {
	background-color : #ececec;
}
.form-inline .form-control {
	width : auto;
}
.domain-search {
	width : 480px !important;
}

.hosting-section.index-hosting-section {
	padding-bottom : 10px;
}

.client-row h3 {
	font-size : 17pt;
	color : #474949;
}
div h2:first-child, div h3:first-child {
	margin-top : 0;
}
.sub {
	font-size : 21px;
	color : #666;
	letter-spacing : normal;
	font-weight : normal;
	padding-left : 25px;
}

.client-logos img {
	margin-top : 25px;
	margin-bottom : 25px;
	vertical-align : middle;
}
.img-center .img-responsive {
	margin : 0 auto;
}

.alt-footer {
	margin-top : 15px;
}

.panel > h2, .panel > h3 {
	margin-top : 0;
}
.panel h3 {
	font-size : 20pt;
}

.sidebar {
	background-color : #eee;
	border-radius : 5px;
	padding : 10px;
	width : 242px;
	font-size : 115%;
}
.sidebar ul.nav {
	list-style-type : none;
	margin : 0;
	padding : 0;
}
.sidebar .nav > li {
	margin-bottom : 0px;
	padding-bottom : 0px;
	border-bottom : 1px solid #ddd;
	display : block;
}
.sidebar .nav li:last-child {
	margin-bottom : 0;
	border-bottom : 0;
	padding-bottom : 0;
}
.sidebar a {
	color : #000;
}
.sidebar a:hover {
	color : #666;
	text-decoration : none;
}
.sidebar .nav .active a, .sidebar .nav .active i {
	color : #006eb6;
}
.right-cta {
	letter-spacing : normal;
	margin-right : 15px;
}
.right-cta .btn {
	font-size : 16px;
}

.splash-service .lead {
	margin-top : 5px;
}
.splash-service .signup-btn a.btn {
	width : 320px;
	font-size : 15pt;
	margin-top : 10px;
}

.tool-section {
	padding-bottom : 0;
}

.tool-section .lead {
	font-size : 13pt;
	margin-top : 0;

	padding-bottom : 20px;
}
.tool-section .lead:last-child {
	border-bottom : 0;
	padding-bottom : 0;
}
.tool-section h3 {
	margin-bottom : 15px;
	font-size : 18pt;
}

.webtools-screen {
	position : relative;
	text-align : right;
}
.webtools-screen .monitor {
	display : inline-block;
}
.webtools-screen .creative {
	position : absolute;
	top : 22px;
	right : 34px;
	z-index : 20;
}
.webtools-content {
	position : relative;

}
.webtools-content .lead {
	padding-bottom : 25px;
}
.tool-cta {
	font-weight : bold;
	font-size: 120%;
	margin-top : 30px;
}


.form-horizontal .control-label { font-weight : normal; text-align: left; }

.field-section {
	padding-top : 20px;
	padding-bottom : 40px;
}

.controls-inline .form-control { display : inline; }


.resources-body h1 {
	font-size : 26px;
}
.resources-body #mainContent > h1, .resources-body > h1, .resources-body .bn-float-wrapper > h1 {
	margin-top : 0;
}

.resources-body h2 {
	font-size: 22px;
}
.resources-body h3 {
	font-size : 20px;
}
.resources-body .next {
	float : right;
}
.resources-body .prev {
	float : left;
}
.resources-body .next:after {
	content : '\0000a0>';
}
.resources-body .prev:before {
	content : '<\0000a0';
}

.inner-heading, .resources-body h2.inner-heading {background-color:#e7e7e7;font:24px "Trebuchet MS", Georgia, Times, serif;padding:10px;line-height:20px;margin:0;margin-bottom:20px;border-radius:5px;overflow:hidden;zoom:1}
.inner-heading a,.inner-heading span{float:right;font-size:12px;font-weight:normal;letter-spacing:normal}
.inner-heading .btn{line-height:normal;padding:3px 10px;letter-spacing:normal}
.inner-heading .btn-alt{margin-right:5px}
.inner-sub-heading, .resources-body h2.inner-sub-heading, .resources-body h3.inner-sub-heading {background-color:#e7e7e7;font:16px "Trebuchet MS", Georgia, Times, serif;padding:10px;line-height:16px;margin:0;margin-bottom:20px;border-radius:5px;overflow:hidden;zoom:1}

.line-heading { border-bottom : 1px solid #e7e7e7; }

.articles, .two-column, .one-column { list-style-type: none; margin-left : 0; padding-left : 0; }

.articles li, .two-column li, .one-column li {
	border-bottom : 1px solid #e7e7e7;
	margin-bottom: 20px;
}
.articles li:last-child, .two-column li:last-child, .one-column li:last-child {
	border-bottom : 0;
	margin-bottom : 0;
}
.articles li a, .two-column li a, .one-column li a {
	font-size : 15px;
	font-weight : bold;
	display : block;
}
.articles li p, .two-column li p, .one-column li p {
;
	margin : 5px 20px 20px 20px;
}
.article-heading {
	margin-top : 0;
	padding-top : 0;
}
.resources-body tr.blue {
	background-color : #e7e7e7;
}
/* site builder sprites */
.template {
	background: url(template-sprite.png) no-repeat top left;
	background-position:  0 -395px; width: 920px; height: 345px;
}
.template:hover{ background-position: 0 0; width: 920px; height: 345px; }

.drag {
	background: url(drag-sprite.png) no-repeat top left;
	background-position: 0 -407px; width: 920px; height: 357px;
}
.drag:hover, .drag-brite { background-position: 0 0; width: 920px; height: 357px; }

.fonts {
	background: url(fonts-sprite.png) no-repeat top left;
	background-position: 0 0; width: 920px; height: 416px;
}
.fonts:hover{ background-position: 0 -466px; width: 920px; height: 416px; }

.ecommerce {
	background: url(ecommerce-sprite.png) no-repeat top left;
	background-position: 0 0; width: 920px; height: 367px;
}
.ecommerce:hover{ background-position: 0 -417px; width: 920px; height: 367px; }

.stats2 {
	background: url(stats-sprite.png) no-repeat top left;
	background-position: 0 -309px; width: 920px; height: 259px;
}
.stats2:hover{ background-position: 0 0; width: 920px; height: 259px; }

.domains {
	background: url(domains-sprite.png) no-repeat top left;
	background-position: 0 -323px; width: 920px; height: 273px;
}
.domains:hover{  background-position: 0 0; width: 920px; height: 273px; }

.social {
	background: url(social-sprite.png) no-repeat top left;
	background-position: 0 -423px; width: 920px; height: 373px;
}
.social:hover{  background-position: 0 0; width: 920px; height: 373px; }

.photomanage {
	background: url(photomanage-sprite.png) no-repeat top left;
	background-position: 0 -447px; width: 920px; height: 397px;
}
.photomanage:hover{  background-position: 0 0; width: 920px; height: 397px; }


.stockphotos {
	background: url(stockphotos-sprite.png) no-repeat top left;
	background-position: 0  -399px; width: 920px; height: 349px;
}
.stockphotos:hover{  background-position: 0 0; width: 920px; height: 349px; }

.customthemes {
	background: url(customthemes-sprite.png) no-repeat top left;
	background-position: 0 -422px; width: 920px; height: 372px;
}
.customthemes:hover{  background-position: 0 0; width: 920px; height: 372px;  }

.videos {
	background: url(video-sprite.png) no-repeat top left;
	background-position: 0 0;
	width: 920px; height: 330px;
}

.videos:hover{ background-position: 0 -370px; width: 920px; height: 330px;  }


.responsive {
	background: url(responsive-sprite.png) no-repeat top left;
	background-position: 0 0;
	width: 920px; height: 380px;
}

.responsive:hover{ background-position: 0 -400px; width: 920px; height: 380px;  }

.ebay {
	background: url(ebay-sprite.png) no-repeat top left;
	background-position: 0 -360px; width: 920px; height: 310px;
}
.ebay:hover{ background-position: 0 0; width: 920px; height: 310px; }

.template {
	background: url(template-sprite.png) no-repeat top left;
	background-position: 0 -395px; width: 920px; height: 370px;
}
.template:hover{ background-position: 0 0; width: 920px; height: 370px; }



.sprite div {
	margin : auto;
}
.sitebuild-panel h3 {
	margin-bottom : 5px;
}
.sitebuild-panel p.lead {
	margin-top : 0;
}
.sitebuild-section {
}
.sitebuild-sprite-info {
	padding : 20px 40px 10px 40px;
}
.sitebuild-signup p.lead {
	margin-top : 5px;
}

.feature-list {
	list-style-type: none;
	margin : 0;
	padding : 0;
	font-size : 16px;
}
.feature-list li {
	margin-bottom : 10px;
	padding : 0;
}
.feature-list li .icon {
	color : #0774bb;
	font-size : 32px;
	vertical-align : middle;
}
.feature-list li .black-icon {
	color : #333;
}

/* fontello */
@font-face {
	font-family: 'bn';
	src: url('bn.eot@57234333');
	src: url('bn.eot@57234333') format('embedded-opentype'),
	url('bn.woff@57234333') format('woff'),
	url('bn.ttf@57234333') format('truetype'),
	url('bn.svg@57234333') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bn';
    src: url('../font/bn.svg?57234333#bn') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "bn";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before { content: '\e835'; } /* 'î µ' */
.icon-minus:before { content: '\e839'; } /* 'î ¹' */
.icon-left-big:before { content: '\e8bd'; } /* 'î¢½' */
.icon-up-big:before { content: '\e8b9'; } /* 'î¢¹' */
.icon-right-big:before { content: '\e8bc'; } /* 'î¢¼' */
.icon-down-big:before { content: '\e8c0'; } /* 'î£€' */
.icon-home:before { content: '\e842'; } /* 'î¡‚' */
.icon-pause:before { content: '\e8a7'; } /* 'î¢§' */
.icon-fast-fw:before { content: '\e8ac'; } /* 'î¢¬' */
.icon-fast-bw:before { content: '\e8ad'; } /* 'î¢­' */
.icon-to-end:before { content: '\e8a8'; } /* 'î¢¨' */
.icon-to-start:before { content: '\e8aa'; } /* 'î¢ª' */
.icon-stop:before { content: '\e8a6'; } /* 'î¢¦' */
.icon-up-dir:before { content: '\e8c3'; } /* 'î£ƒ' */
.icon-play:before { content: '\e8a3'; } /* 'î¢£' */
.icon-right-dir:before { content: '\e8c1'; } /* 'î£' */
.icon-down-dir:before { content: '\e8c4'; } /* 'î£„' */
.icon-left-dir:before { content: '\e8c2'; } /* 'î£‚' */
.icon-cloud:before { content: '\e8d0'; } /* 'î£' */
.icon-umbrella:before { content: '\e8d3'; } /* 'î£“' */
.icon-star:before { content: '\e81e'; } /* 'î ž' */
.icon-star-1:before { content: '\e96a'; } /* 'î¥ª' */
.icon-star-empty:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-check:before { content: '\e8fa'; } /* 'î£º' */
.icon-left-hand:before { content: '\e80c'; } /* 'î Œ' */
.icon-up-hand:before { content: '\e80d'; } /* 'î ' */
.icon-right-hand:before { content: '\e80b'; } /* 'î ‹' */
.icon-down-hand:before { content: '\e80e'; } /* 'î Ž' */
.icon-th-list:before { content: '\e82d'; } /* 'î ­' */
.icon-heart-empty:before { content: '\e81d'; } /* 'î ' */
.icon-heart:before { content: '\e81c'; } /* 'î œ' */
.icon-music:before { content: '\e818'; } /* 'î ˜' */
.icon-th:before { content: '\e82c'; } /* 'î ¬' */
.icon-flag:before { content: '\e852'; } /* 'î¡’' */
.icon-cog:before { content: '\e8c6'; } /* 'î£†' */
.icon-attention:before { content: '\e86f'; } /* 'î¡¯' */
.icon-flash:before { content: '\e8d1'; } /* 'î£‘' */
.icon-cog-alt:before { content: '\e814'; } /* 'î ”' */
.icon-scissors:before { content: '\e8ec'; } /* 'î£¬' */
.icon-flight:before { content: '\e8d4'; } /* 'î£”' */
.icon-mail:before { content: '\e81a'; } /* 'î š' */
.icon-mail-1:before { content: '\e978'; } /* 'î¥¸' */
.icon-edit:before { content: '\e8c5'; } /* 'î£…' */
.icon-pencil:before { content: '\e8c7'; } /* 'î£‡' */
.icon-ok:before { content: '\e82e'; } /* 'î ®' */
.icon-ok-circled:before { content: '\e82f'; } /* 'î ¯' */
.icon-cancel:before { content: '\e832'; } /* 'î ²' */
.icon-cancel-circled:before { content: '\e833'; } /* 'î ³' */
.icon-asterisk:before { content: '\e8fe'; } /* 'î£¾' */
.icon-attention-circled:before { content: '\e870'; } /* 'î¡°' */
.icon-plus-circled:before { content: '\e836'; } /* 'î ¶' */
.icon-minus-circled:before { content: '\e83a'; } /* 'î º' */
.icon-forward:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-ccw:before { content: '\e810'; } /* 'î ' */
.icon-cw:before { content: '\e80f'; } /* 'î ' */
.icon-resize-vertical:before { content: '\e896'; } /* 'î¢–' */
.icon-resize-horizontal:before { content: '\e897'; } /* 'î¢—' */
.icon-eject:before { content: '\e8ae'; } /* 'î¢®' */
.icon-desktop-1:before { content: '\e97a'; } /* 'î¥º' */
.icon-tablet-1:before { content: '\e971'; } /* 'î¥±' */
.icon-laptop-1:before { content: '\e97b'; } /* 'î¥»' */
.icon-adult:before { content: '\e97c'; } /* 'î¥¼' */
.icon-star-half:before { content: '\e820'; } /* 'î  ' */
.icon-ok-circled2:before { content: '\e830'; } /* 'î °' */
.icon-cancel-circled2:before { content: '\e834'; } /* 'î ´' */
.icon-help-circled:before { content: '\e83f'; } /* 'î ¿' */
.icon-info-circled:before { content: '\e840'; } /* 'î¡€' */
.icon-th-large:before { content: '\e82b'; } /* 'î «' */
.icon-eye:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-eye-off:before { content: '\e84d'; } /* 'î¡' */
.icon-tag:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-tags:before { content: '\e84f'; } /* 'î¡' */
.icon-camera-alt:before { content: '\e82a'; } /* 'î ª' */
.icon-export:before { content: '\e863'; } /* 'î¡£' */
.icon-print:before { content: '\e815'; } /* 'î •' */
.icon-retweet:before { content: '\e865'; } /* 'î¡¥' */
.icon-comment:before { content: '\e868'; } /* 'î¡¨' */
.icon-chat:before { content: '\e869'; } /* 'î¡©' */
.icon-location:before { content: '\e871'; } /* 'î¡±' */
.icon-trash:before { content: '\e874'; } /* 'î¡´' */
.icon-basket:before { content: '\e885'; } /* 'î¢…' */
.icon-login-1:before { content: '\e96f'; } /* 'î¥¯' */
.icon-login:before { content: '\e888'; } /* 'î¢ˆ' */
.icon-logout-1:before { content: '\e970'; } /* 'î¥°' */
.icon-logout:before { content: '\e889'; } /* 'î¢‰' */
.icon-resize-full:before { content: '\e893'; } /* 'î¢“' */
.icon-resize-small:before { content: '\e895'; } /* 'î¢•' */
.icon-window:before { content: '\e96e'; } /* 'î¥®' */
.icon-zoom-in:before { content: '\e899'; } /* 'î¢™' */
.icon-zoom-out:before { content: '\e89a'; } /* 'î¢š' */
.icon-down-circled2:before { content: '\e89b'; } /* 'î¢›' */
.icon-up-circled2:before { content: '\e89c'; } /* 'î¢œ' */
.icon-down-open:before { content: '\e8bf'; } /* 'î¢¿' */
.icon-left-open:before { content: '\e8be'; } /* 'î¢¾' */
.icon-right-open:before { content: '\e8bb'; } /* 'î¢»' */
.icon-up-open:before { content: '\e8ba'; } /* 'î¢º' */
.icon-arrows-cw:before { content: '\e811'; } /* 'î ‘' */
.icon-play-circled2:before { content: '\e8a5'; } /* 'î¢¥' */
.icon-to-end-alt:before { content: '\e8a9'; } /* 'î¢©' */
.icon-to-start-alt:before { content: '\e8ab'; } /* 'î¢«' */
.icon-inbox:before { content: '\e8cd'; } /* 'î£' */
.icon-font:before { content: '\e8d7'; } /* 'î£—' */
.icon-bold:before { content: '\e8d8'; } /* 'î£˜' */
.icon-italic:before { content: '\e8d9'; } /* 'î£™' */
.icon-text-height:before { content: '\e8da'; } /* 'î£š' */
.icon-text-width:before { content: '\e8db'; } /* 'î£›' */
.icon-align-left:before { content: '\e8dc'; } /* 'î£œ' */
.icon-align-center:before { content: '\e8dd'; } /* 'î£' */
.icon-align-right:before { content: '\e8de'; } /* 'î£ž' */
.icon-align-justify:before { content: '\e8df'; } /* 'î£Ÿ' */
.icon-list:before { content: '\e8e0'; } /* 'î£ ' */
.icon-indent-left:before { content: '\e8e1'; } /* 'î£¡' */
.icon-indent-right:before { content: '\e8e2'; } /* 'î£¢' */
.icon-suitcase-1:before { content: '\e96c'; } /* 'î¥¬' */
.icon-off:before { content: '\e8f2'; } /* 'î£²' */
.icon-road:before { content: '\e8f3'; } /* 'î£³' */
.icon-list-alt:before { content: '\e8f4'; } /* 'î£´' */
.icon-qrcode:before { content: '\e8f5'; } /* 'î£µ' */
.icon-barcode:before { content: '\e8f6'; } /* 'î£¶' */
.icon-ajust:before { content: '\e8f8'; } /* 'î£¸' */
.icon-tint:before { content: '\e8f9'; } /* 'î£¹' */
.icon-magnet:before { content: '\e901'; } /* 'î¤' */
.icon-tablet-2:before { content: '\e975'; } /* 'î¥µ' */
.icon-ipod:before { content: '\e974'; } /* 'î¥´' */
.icon-tablet-3:before { content: '\e979'; } /* 'î¥¹' */
.icon-move:before { content: '\e898'; } /* 'î¢˜' */
.icon-user-3:before { content: '\e977'; } /* 'î¥·' */
.icon-users-2:before { content: '\e976'; } /* 'î¥¶' */
.icon-link-ext:before { content: '\e845'; } /* 'î¡…' */
.icon-check-empty:before { content: '\e8fb'; } /* 'î£»' */
.icon-bookmark-empty:before { content: '\e851'; } /* 'î¡‘' */
.icon-phone-squared:before { content: '\e882'; } /* 'î¢‚' */
.icon-twitter:before { content: '\e95d'; } /* 'î¥' */
.icon-facebook:before { content: '\e944'; } /* 'î¥„' */
.icon-github-circled:before { content: '\e94a'; } /* 'î¥Š' */
.icon-rss:before { content: '\e87f'; } /* 'î¡¿' */
.icon-hdd:before { content: '\e907'; } /* 'î¤‡' */
.icon-certificate:before { content: '\e90c'; } /* 'î¤Œ' */
.icon-left-circled:before { content: '\e8b5'; } /* 'î¢µ' */
.icon-right-circled:before { content: '\e8b6'; } /* 'î¢¶' */
.icon-up-circled:before { content: '\e8b7'; } /* 'î¢·' */
.icon-down-circled:before { content: '\e8b8'; } /* 'î¢¸' */
.icon-tasks:before { content: '\e90d'; } /* 'î¤' */
.icon-filter:before { content: '\e90e'; } /* 'î¤Ž' */
.icon-resize-full-alt:before { content: '\e894'; } /* 'î¢”' */
.icon-beaker:before { content: '\e90f'; } /* 'î¤' */
.icon-docs:before { content: '\e876'; } /* 'î¡¶' */
.icon-blank:before { content: '\e966'; } /* 'î¥¦' */
.icon-menu:before { content: '\e883'; } /* 'î¢ƒ' */
.icon-list-bullet:before { content: '\e8e3'; } /* 'î££' */
.icon-list-numbered:before { content: '\e8e4'; } /* 'î£¤' */
.icon-strike:before { content: '\e8e5'; } /* 'î£¥' */
.icon-underline:before { content: '\e8e6'; } /* 'î£¦' */
.icon-table:before { content: '\e8e9'; } /* 'î£©' */
.icon-magic:before { content: '\e910'; } /* 'î¤' */
.icon-pinterest-circled:before { content: '\e954'; } /* 'î¥”' */
.icon-pinterest-squared:before { content: '\e955'; } /* 'î¥•' */
.icon-gplus-squared:before { content: '\e94c'; } /* 'î¥Œ' */
.icon-gplus:before { content: '\e94d'; } /* 'î¥' */
.icon-money:before { content: '\e912'; } /* 'î¤’' */
.icon-columns:before { content: '\e8ea'; } /* 'î£ª' */
.icon-sort:before { content: '\e91b'; } /* 'î¤›' */
.icon-sort-down:before { content: '\e91c'; } /* 'î¤œ' */
.icon-sort-up:before { content: '\e91d'; } /* 'î¤' */
.icon-mail-alt:before { content: '\e81b'; } /* 'î ›' */
.icon-linkedin:before { content: '\e952'; } /* 'î¥’' */
.icon-gauge:before { content: '\e925'; } /* 'î¤¥' */
.icon-comment-empty:before { content: '\e86a'; } /* 'î¡ª' */
.icon-chat-empty:before { content: '\e86b'; } /* 'î¡«' */
.icon-sitemap:before { content: '\e926'; } /* 'î¤¦' */
.icon-paste:before { content: '\e8ed'; } /* 'î£­' */
.icon-lightbulb:before { content: '\e891'; } /* 'î¢‘' */
.icon-exchange:before { content: '\e89f'; } /* 'î¢Ÿ' */
.icon-download-cloud:before { content: '\e85b'; } /* 'î¡›' */
.icon-upload-cloud:before { content: '\e85c'; } /* 'î¡œ' */
.icon-user-md:before { content: '\e92b'; } /* 'î¤«' */
.icon-stethoscope:before { content: '\e92c'; } /* 'î¤¬' */
.icon-suitcase:before { content: '\e8ef'; } /* 'î£¯' */
.icon-bell-alt:before { content: '\e86d'; } /* 'î¡­' */
.icon-coffee:before { content: '\e928'; } /* 'î¤¨' */
.icon-food:before { content: '\e929'; } /* 'î¤©' */
.icon-doc-text:before { content: '\e877'; } /* 'î¡·' */
.icon-building:before { content: '\e931'; } /* 'î¤±' */
.icon-hospital:before { content: '\e930'; } /* 'î¤°' */
.icon-ambulance:before { content: '\e92d'; } /* 'î¤­' */
.icon-medkit:before { content: '\e92e'; } /* 'î¤®' */
.icon-fighter-jet:before { content: '\e8d5'; } /* 'î£•' */
.icon-beer:before { content: '\e92a'; } /* 'î¤ª' */
.icon-h-sigh:before { content: '\e92f'; } /* 'î¤¯' */
.icon-plus-squared:before { content: '\e837'; } /* 'î ·' */
.icon-angle-double-left:before { content: '\e804'; } /* 'î „' */
.icon-angle-double-right:before { content: '\e805'; } /* 'î …' */
.icon-angle-double-up:before { content: '\e806'; } /* 'î †' */
.icon-angle-double-down:before { content: '\e807'; } /* 'î ‡' */
.icon-angle-left:before { content: '\e800'; } /* 'î €' */
.icon-angle-right:before { content: '\e801'; } /* 'î ' */
.icon-angle-up:before { content: '\e802'; } /* 'î ‚' */
.icon-angle-down:before { content: '\e803'; } /* 'î ƒ' */
.icon-desktop:before { content: '\e8c9'; } /* 'î£‰' */
.icon-laptop:before { content: '\e8ca'; } /* 'î£Š' */
.icon-tablet:before { content: '\e8cb'; } /* 'î£‹' */
.icon-mobile:before { content: '\e8cc'; } /* 'î£Œ' */
.icon-circle-empty:before { content: '\e8fd'; } /* 'î£½' */
.icon-quote-left:before { content: '\e860'; } /* 'î¡ ' */
.icon-quote-right:before { content: '\e861'; } /* 'î¡¡' */
.icon-spinner:before { content: '\e927'; } /* 'î¤§' */
.icon-circle:before { content: '\e8fc'; } /* 'î£¼' */
.icon-reply:before { content: '\e85d'; } /* 'î¡' */
.icon-github:before { content: '\e948'; } /* 'î¥ˆ' */
.icon-folder-empty:before { content: '\e87c'; } /* 'î¡¼' */
.icon-folder-open-empty:before { content: '\e87d'; } /* 'î¡½' */
.icon-plus-squared-small:before { content: '\e838'; } /* 'î ¸' */
.icon-minus-squared-small:before { content: '\e83d'; } /* 'î ½' */
.icon-smile:before { content: '\e932'; } /* 'î¤²' */
.icon-frown:before { content: '\e933'; } /* 'î¤³' */
.icon-meh:before { content: '\e934'; } /* 'î¤´' */
.icon-gamepad:before { content: '\e867'; } /* 'î¡§' */
.icon-keyboard:before { content: '\e866'; } /* 'î¡¦' */
.icon-flag-empty:before { content: '\e853'; } /* 'î¡“' */
.icon-flag-checkered:before { content: '\e854'; } /* 'î¡”' */
.icon-terminal:before { content: '\e936'; } /* 'î¤¶' */
.icon-code:before { content: '\e862'; } /* 'î¡¢' */
.icon-reply-all:before { content: '\e85e'; } /* 'î¡ž' */
.icon-star-half-alt:before { content: '\e821'; } /* 'î ¡' */
.icon-direction:before { content: '\e872'; } /* 'î¡²' */
.icon-crop:before { content: '\e8eb'; } /* 'î£«' */
.icon-fork:before { content: '\e909'; } /* 'î¤‰' */
.icon-unlink:before { content: '\e844'; } /* 'î¡„' */
.icon-help:before { content: '\e83e'; } /* 'î ¾' */
.icon-info:before { content: '\e841'; } /* 'î¡' */
.icon-attention-alt:before { content: '\e86e'; } /* 'î¡®' */
.icon-superscript:before { content: '\e8e7'; } /* 'î£§' */
.icon-subscript:before { content: '\e8e8'; } /* 'î£¨' */
.icon-eraser:before { content: '\e937'; } /* 'î¤·' */
.icon-puzzle:before { content: '\e938'; } /* 'î¤¸' */
.icon-mic:before { content: '\e88a'; } /* 'î¢Š' */
.icon-mute:before { content: '\e88b'; } /* 'î¢‹' */
.icon-shield:before { content: '\e939'; } /* 'î¤¹' */
.icon-calendar-empty:before { content: '\e887'; } /* 'î¢‡' */
.icon-extinguisher:before { content: '\e93a'; } /* 'î¤º' */
.icon-rocket:before { content: '\e90a'; } /* 'î¤Š' */
.icon-maxcdn:before { content: '\e953'; } /* 'î¥“' */
.icon-angle-circled-left:before { content: '\e8b3'; } /* 'î¢³' */
.icon-angle-circled-right:before { content: '\e8b4'; } /* 'î¢´' */
.icon-angle-circled-up:before { content: '\e8b2'; } /* 'î¢²' */
.icon-angle-circled-down:before { content: '\e8b1'; } /* 'î¢±' */
.icon-html5:before { content: '\e94e'; } /* 'î¥Ž' */
.icon-css3:before { content: '\e941'; } /* 'î¥' */
.icon-anchor:before { content: '\e935'; } /* 'î¤µ' */
.icon-lock-open-alt:before { content: '\e84a'; } /* 'î¡Š' */
.icon-bullseye:before { content: '\e93b'; } /* 'î¤»' */
.icon-ellipsis:before { content: '\e8f0'; } /* 'î£°' */
.icon-ellipsis-vert:before { content: '\e8f1'; } /* 'î£±' */
.icon-rss-squared:before { content: '\e880'; } /* 'î¢€' */
.icon-play-circled:before { content: '\e8a4'; } /* 'î¢¤' */
.icon-ticket:before { content: '\e903'; } /* 'î¤ƒ' */
.icon-minus-squared:before { content: '\e83b'; } /* 'î »' */
.icon-minus-squared-alt:before { content: '\e83c'; } /* 'î ¼' */
.icon-level-up:before { content: '\e812'; } /* 'î ’' */
.icon-level-down:before { content: '\e89d'; } /* 'î¢' */
.icon-ok-squared:before { content: '\e831'; } /* 'î ±' */
.icon-pencil-squared:before { content: '\e813'; } /* 'î “' */
.icon-link-ext-alt:before { content: '\e846'; } /* 'î¡†' */
.icon-export-alt:before { content: '\e864'; } /* 'î¡¤' */
.icon-compass:before { content: '\e873'; } /* 'î¡³' */
.icon-collapse:before { content: '\e8a0'; } /* 'î¢ ' */
.icon-collapse-top:before { content: '\e8a1'; } /* 'î¢¡' */
.icon-expand:before { content: '\e8a2'; } /* 'î¢¢' */
.icon-euro:before { content: '\e913'; } /* 'î¤“' */
.icon-pound:before { content: '\e914'; } /* 'î¤”' */
.icon-dollar:before { content: '\e915'; } /* 'î¤•' */
.icon-rupee:before { content: '\e916'; } /* 'î¤–' */
.icon-yen:before { content: '\e917'; } /* 'î¤—' */
.icon-renminbi:before { content: '\e918'; } /* 'î¤˜' */
.icon-won:before { content: '\e919'; } /* 'î¤™' */
.icon-bitcoin:before { content: '\e91a'; } /* 'î¤š' */
.icon-doc-inv:before { content: '\e878'; } /* 'î¡¸' */
.icon-doc-text-inv:before { content: '\e879'; } /* 'î¡¹' */
.icon-sort-name-up:before { content: '\e920'; } /* 'î¤ ' */
.icon-sort-name-down:before { content: '\e921'; } /* 'î¤¡' */
.icon-sort-alt-up:before { content: '\e91e'; } /* 'î¤ž' */
.icon-sort-alt-down:before { content: '\e91f'; } /* 'î¤Ÿ' */
.icon-sort-number-up:before { content: '\e922'; } /* 'î¤¢' */
.icon-sort-number-down:before { content: '\e923'; } /* 'î¤£' */
.icon-thumbs-up-alt:before { content: '\e857'; } /* 'î¡—' */
.icon-thumbs-down-alt:before { content: '\e858'; } /* 'î¡˜' */
.icon-youtube-squared:before { content: '\e964'; } /* 'î¥¤' */
.icon-youtube:before { content: '\e963'; } /* 'î¥£' */
.icon-xing:before { content: '\e961'; } /* 'î¥¡' */
.icon-xing-squared:before { content: '\e962'; } /* 'î¥¢' */
.icon-youtube-play:before { content: '\e965'; } /* 'î¥¥' */
.icon-dropbox:before { content: '\e943'; } /* 'î¥ƒ' */
.icon-stackoverflow:before { content: '\e958'; } /* 'î¥˜' */
.icon-instagramm:before { content: '\e94f'; } /* 'î¥' */
.icon-flickr:before { content: '\e946'; } /* 'î¥†' */
.icon-adn:before { content: '\e93c'; } /* 'î¤¼' */
.icon-bitbucket:before { content: '\e93f'; } /* 'î¤¿' */
.icon-bitbucket-squared:before { content: '\e940'; } /* 'î¥€' */
.icon-tumblr:before { content: '\e95a'; } /* 'î¥š' */
.icon-tumblr-squared:before { content: '\e95b'; } /* 'î¥›' */
.icon-down:before { content: '\e808'; } /* 'î ˆ' */
.icon-up:before { content: '\e816'; } /* 'î –' */
.icon-right:before { content: '\e80a'; } /* 'î Š' */
.icon-left:before { content: '\e809'; } /* 'î ‰' */
.icon-apple:before { content: '\e93e'; } /* 'î¤¾' */
.icon-windows:before { content: '\e960'; } /* 'î¥ ' */
.icon-android:before { content: '\e93d'; } /* 'î¤½' */
.icon-linux:before { content: '\e951'; } /* 'î¥‘' */
.icon-dribbble:before { content: '\e942'; } /* 'î¥‚' */
.icon-skype:before { content: '\e957'; } /* 'î¥—' */
.icon-foursquare:before { content: '\e947'; } /* 'î¥‡' */
.icon-trello:before { content: '\e959'; } /* 'î¥™' */
.icon-female:before { content: '\e825'; } /* 'î ¥' */
.icon-male:before { content: '\e824'; } /* 'î ¤' */
.icon-gittip:before { content: '\e94b'; } /* 'î¥‹' */
.icon-sun:before { content: '\e8cf'; } /* 'î£' */
.icon-moon:before { content: '\e8d2'; } /* 'î£’' */
.icon-box:before { content: '\e87e'; } /* 'î¡¾' */
.icon-bug:before { content: '\e90b'; } /* 'î¤‹' */
.icon-vkontakte:before { content: '\e95e'; } /* 'î¥ž' */
.icon-weibo:before { content: '\e95f'; } /* 'î¥Ÿ' */
.icon-renren:before { content: '\e956'; } /* 'î¥–' */
.icon-github-squared:before { content: '\e949'; } /* 'î¥‰' */
.icon-twitter-squared:before { content: '\e95c'; } /* 'î¥œ' */
.icon-facebook-squared:before { content: '\e945'; } /* 'î¥…' */
.icon-linkedin-squared:before { content: '\e950'; } /* 'î¥' */
.icon-picture:before { content: '\e828'; } /* 'î ¨' */
.icon-globe:before { content: '\e8ce'; } /* 'î£Ž' */
.icon-globe-1:before { content: '\e973'; } /* 'î¥³' */
.icon-leaf:before { content: '\e8d6'; } /* 'î£–' */
.icon-lemon:before { content: '\e967'; } /* 'î¥§' */
.icon-glass:before { content: '\e817'; } /* 'î —' */
.icon-gift:before { content: '\e8ff'; } /* 'î£¿' */
.icon-videocam:before { content: '\e827'; } /* 'î §' */
.icon-headphones:before { content: '\e88f'; } /* 'î¢' */
.icon-video:before { content: '\e826'; } /* 'î ¦' */
.icon-target:before { content: '\e8af'; } /* 'î¢¯' */
.icon-award:before { content: '\e8c8'; } /* 'î£ˆ' */
.icon-thumbs-up:before { content: '\e855'; } /* 'î¡•' */
.icon-thumbs-down:before { content: '\e856'; } /* 'î¡–' */
.icon-user:before { content: '\e822'; } /* 'î ¢' */
.icon-user-1:before { content: '\e969'; } /* 'î¥©' */
.icon-user-2:before { content: '\e972'; } /* 'î¥²' */
.icon-users:before { content: '\e823'; } /* 'î £' */
.icon-users-1:before { content: '\e968'; } /* 'î¥¨' */
.icon-credit-card:before { content: '\e904'; } /* 'î¤„' */
.icon-briefcase:before { content: '\e8ee'; } /* 'î£®' */
.icon-briefcase-1:before { content: '\e96d'; } /* 'î¥­' */
.icon-floppy:before { content: '\e905'; } /* 'î¤…' */
.icon-folder:before { content: '\e87a'; } /* 'î¡º' */
.icon-folder-open:before { content: '\e87b'; } /* 'î¡»' */
.icon-doc:before { content: '\e875'; } /* 'î¡µ' */
.icon-calendar:before { content: '\e886'; } /* 'î¢†' */
.icon-chart-bar:before { content: '\e902'; } /* 'î¤‚' */
.icon-pin:before { content: '\e84b'; } /* 'î¡‹' */
.icon-attach:before { content: '\e847'; } /* 'î¡‡' */
.icon-book:before { content: '\e8f7'; } /* 'î£·' */
.icon-phone:before { content: '\e881'; } /* 'î¢' */
.icon-megaphone:before { content: '\e906'; } /* 'î¤†' */
.icon-upload:before { content: '\e85a'; } /* 'î¡š' */
.icon-download:before { content: '\e859'; } /* 'î¡™' */
.icon-mobile-1:before { content: '\e96b'; } /* 'î¥«' */
.icon-signal:before { content: '\e8b0'; } /* 'î¢°' */
.icon-camera:before { content: '\e829'; } /* 'î ©' */
.icon-shuffle:before { content: '\e89e'; } /* 'î¢ž' */
.icon-volume-off:before { content: '\e88c'; } /* 'î¢Œ' */
.icon-volume-down:before { content: '\e88d'; } /* 'î¢' */
.icon-volume-up:before { content: '\e88e'; } /* 'î¢Ž' */
.icon-search:before { content: '\e819'; } /* 'î ™' */
.icon-key:before { content: '\e908'; } /* 'î¤ˆ' */
.icon-lock:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-lock-open:before { content: '\e849'; } /* 'î¡‰' */
.icon-bell:before { content: '\e86c'; } /* 'î¡¬' */
.icon-bookmark:before { content: '\e850'; } /* 'î¡' */
.icon-link:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-fire:before { content: '\e900'; } /* 'î¤€' */
.icon-wrench:before { content: '\e884'; } /* 'î¢„' */
.icon-hammer:before { content: '\e924'; } /* 'î¤¤' */
.icon-clock:before { content: '\e890'; } /* 'î¢' */
.icon-truck:before { content: '\e911'; } /* 'î¤‘' */
.icon-block:before { content: '\e892'; } /* 'î¢’' */

.icon-spin {
	-webkit-animation: icon-spin 2s infinite linear;
	animation: icon-spin 2s infinite linear;
}
@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.inner-panel { padding : 0; }
.panel .panel-heading { color : #fff; background-color: #006eb6; }

.package-heading { text-align : center; font-size : 17px; font-weight : bold; }
.package-heading span { display : block; text-transform: uppercase; font-size: 11px; }
.package .price { text-align : center; color : #000; font-size : 19px; margin: 15px 0; font-weight : bold; }
.package .intro { text-align : center; font-size : 90%; }
.package-table { width:100%;font-size:90%; margin-top:15px; }
.package-table td { padding : 5px; }
.package-table tr:nth-child(2n+0) td { background-color : #e3e3e3; }
.package-link { margin-top : 15px; text-align : center; }
.loud-statement { text-align : center; font-size : 22px; border: 1px solid #ccc; border-width : 1px 0; padding : 30px 0; margin : 30px 0; }
.package-table .labelTD { font-size : 125%; font-weight: bold; }

.package-dom-reg { background-image: none; padding : 15px; background-color : transparent; padding-top : 0; }
.package-dom-reg h4 { margin-bottom : 30px; }
.package-dom-reg .domain-search { width : 260px !important; }

.bn-editdialog-wrapper .bn-editdialog-content-page .bn-editdialog-content-page-body h3 span.stats, .bn-editdialog-wrapper .bn-editdialog-content-page .bn-editdialog-content-page-body h3 span.stats strong { font-size : 12px; letter-spacing : normal; }

.webtools-content h3 { margin-bottom : 5px; padding-top : 15px; }
.webtools-content .loud { font-size : 26px; margin-bottom : 0; margin-right : 30px; zoom : 1; overflow : hidden; }
.webtools-content .loud .text { padding-top : 15px; float: left; width: 890px; margin-top : 8px; }
.webtools-content .loud .sicon, .webtools-content .loud .icon { float: left; font-size: 80px; margin-right : 20px;  }

.service-features { zoom : 1; overflow: hidden; margin-left : 135px; }
.service-feature { width : 360px;  float : left; margin-right : 70px; margin-bottom : 20px; }
.service-feature-sm { margin-bottom: 10px; }
.service-feature-sm h3 { font-size: 20px; }
.webtools-content .tool-cta { margin-left : 135px; }

h3 .domain { font-size : 30px; font-weight: bold; }

.dom-result { font-weight : bold; font-size : 18px; }

.dom-selection td { background-color : #e5fcec!important; }

.alert-warning a, .alert-warning a:visited { color : #a88c45; }


.nav > li > a:focus {background-color: transparent;}


.services-in-panel {
	padding : 0!important;
}

.services-in-panel .service-features {
	margin-left : 130px;
}
.services-in-panel .service-feature {
	width : 340px;
	margin-right : 85px;
}



.btn-link:focus {
	color: #428BCA!important;
}

#bn_footerad_container {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	border-top: 1px solid #000;
}

#bn_footerad {
	background-color: transparent;
	height: 100px;
	text-align: center;
	display: none;
	position: relative;
}

#bn_footerad_close {
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	right: 0px;
	top: -11px;
	background-color: #333;
	padding: 3px 5px;
	color: #fff;
}
.bn-form-error {
	color : #c00;
	padding-top: 10px;
	display: block;
}
#passwordEditForm .bn-form-error {
	width : 200px;
}

.bn-overlay {
	top : 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	position: fixed;
	z-index: 9999;
	background-color: #333;
	opacity: 0.9;
}
.bn-overlay-content {
	position: absolute;
	top: 45%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: normal;
	width: 100%;
	font-size: 22px;
}

#bn_manager_post_pager a, #bn_manager_post_pager a:visited, a.bn_manager_delete_multiposts, a.bn_manager_delete_multiposts:visited {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
	font: 14px/24px sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
#bn_manager_post_pager a:hover, a.bn_manager_delete_multiposts:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
	background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}
#bn_manager_post_pager .page_active {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
	font: 14px/24px sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1);
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.new-release-box, .services-news-box {
	background-color: #f6f6f6;
	margin-bottom: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.new-release-box .heading, .services-news-box .heading {
	font: 16px "Trebuchet MS", Georgia, Times, serif;
	color: #fff;
	background-color: #E87B17;
	padding: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-left:20px;
}
.new-release-box .body, .services-news-box .body {
	padding: 35px;
	padding-top: 5px;
	font-weight:normal;font-size:14px;
	text-align:left;padding:20px;padding-top:0;
}

.services-news-box .heading {
	background-color:#559864;
}
.highlight-box {
	background-color: rgba(0, 113, 183, 0.10);
	padding: 30px;
}
.login-page {
	min-height: 500px;
}
.login-form .login-input {
	margin-bottom: 25px;
}
.login-button button, .login-button a.btn {
	margin-right: 5px;
	padding-left: 20px;
	padding-right: 20px;
}





























