html, body {
	margin:0;
	padding:0;
}
.mahdi_1 {
    background-image: url("Mahdi_1.png");
	height:679px;
	width:548px;
	margin:0 auto;
	margin-top:20px;
}
.mahdi_10 {
    background-image: url("Mahdi_2.png");
	height:765px;
	width:547px;
	margin:0 auto;
	margin-top:20px;

}
.mahdi_2 {
	height:755px;
	width:891px;
	position:absolute;
}
.mahdi_3 {
	position:absolute;
	top: 166px;
	left: 125px;
	background-color:#F7F9FA ;
}
.mahdi_4 {
	position:absolute;
	top: 226px;
	left: 125px;
	background-color:#F7F9FA ;
}
.mahdi_5 {
	position:absolute;
	top: 286px;
	left: 125px;
	background-color:#F7F9FA ;
}
.mahdi_5 {width: 380px;height: 50px}.mahdi_4 {width: 380px;height: 100px}.mahdi_3 {width: 380px;height: 100px}
.large {
-moz-appearance: none;
-moz-box-sizing: border-box;
background: none repeat 0 0 #FFF;
border: 1px solid #B3B3B3;
border-radius: 5px;
color: #333;
height: 42px;
line-height: 1.25em;
margin: 0;
padding: 0;
position: relative;
text-indent: 10px;
transition: border-color 0.3s ease 0s;
font: 1em Arial, Helvetica, sans-serif;
width: 319px;
font-size: 15px;
font-weight: normal;

}
.btn {
border: 1px solid #B3B3B3;
margin: 0;
position: relative;
text-indent: 10px;
transition: border-color 0.3s ease 0s;
-webkit-appearance: none;
-moz-box-sizing: border-box;
background: none repeat 0 0 #0079C1;
border-radius: 5px;
border-color: #0079C1;
color: #FFF;
cursor: pointer;
display: inline-block;
font-family: arial,sans-serif;
font-size: 15px;
font-weight: bold;
line-height: 1.4545em;
margin-bottom: 0;
padding: 9px 15px 10px;
text-align: center;
vertical-align: middle;
height: 45px;
width: 321px;
}
.btn:hover, .btn:focus {
background: none repeat 0 0 #0285D2;
color: #FFF;
text-decoration: none;
}

.merror {
border: 1px solid #9d2c36;
background: url("error.png") no-repeat;
background-color: #FFF;
background-position: 287px 7px;
}