.menutop,.menutop *{margin:0;padding:0;}
#horiznav{position:relative;z-index:1000;}
#horiz-menu{z-index:50;}
#horiz-menu li li{margin:0;}
.menutop{line-height:1.0;float:left;margin-bottom:1.5em;position:relative;}
.menutop ul{background:#fff;/*IE6 needs this*/
padding:0;}
.menutop li{float:left;list-style:none;position:relative;}
.menutop li#current {z-index: 199;}
#horiz-menu li li a, #horiz-menu li.active li a, #horiz-menu li li .separator, #horiz-menu li.active li .separator {display:block;margin:0;text-decoration:none;float:none;height:28px;line-height: 30px;width:100%;padding: 0;}
.menutop li ul{float:none;left:-999em;position:absolute;width:177px;z-index:500;}
.menutop li:hover ul, .menutop li.sfHover ul{left: 0;top:24px;}
.menutop li:hover li ul, .menutop li.sfHover li ul, .menutop li li:hover li ul, .menutop li li.sfHover li ul, .menutop li li li:hover li ul, .menutop li li li.sfHover li ul{top:-999em;}
.menutop li li:hover ul, .menutop li li.sfHover ul, .menutop li li li:hover ul, .menutop li li li.sfHover ul, .menutop li li li li:hover ul, .menutop li li li li.sfHover ul{left:178px;top:-5px;}
.menutop li li{position:relative;float:none;width:100%;}