/**
 *
 *
 */
/* -- COLORS -- */
/* -- END COLORS -- */
/* -- IMG PATH -- */
/* -- END IMG PATH -- */
/* -- BASE PROJECT FONT SETTINGS -- */
/* -- END BASE PROJECT FONT SETTINGS -- */
/* -- ICONS CODE TO PSEUDO-ELEMENTS -- */
/* -- END ICONS CODE TO PSEUDO-ELEMENTS -- */
/* -- ANIMATION STYLE -- */
/* -- END ANIMATION STYLE -- */
/* -- PRIMARY MIXIN -- */
/*.transform(...) {
	transform: @arguments translateZ(0);
	-ms-transform: @arguments translateZ(0);
	-webkit-transform: @arguments translateZ(0);
}*/
/* -- END PRIMARY MIXIN -- */
/* -- SPECIFIC MIXIN -- */
/*-- Light bg typography styles
-----------------------------*/
/*---------------------------*/
/* -- END SPECIFIC MIXIN -- */
body {
  background: #263845;
  font-family: 'Avenir Next W10 Regular';
  color: #3B7694;
}
.ul-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 40%;
  margin-left: -20%;
  text-align: center;
}
.ul-message__image {
  color: #338FFF;
}
h1.ul-message__title {
  margin: 30px 0 10px !important;
  font-size: 16px !important;
  color: #A7B5C3;
  letter-spacing: 2px !important;
  line-height: 20px !important;
  text-transform: uppercase;
  font-weight: 300 !important;
}
p.ul-message__text {
  margin: 0 !important;
  font-size: 12px;
  color: #3B7694;
  line-height: 15px;
  letter-spacing: 0.1px;
}
.ul-message__button {
  margin-top: 20px;
}
