/* ##### COMPONENTS specific styles ##### */


/* ---------------
MODAL
--------------- */
	/* ## modal update ## */

#boxes .window {
position:absolute;
left:0;
top:0;
width:440px;
height:200px;
display:none;
z-index:9999;
padding:20px;
}
select {
z-index: 2;
}
/* westpac suppllied alternative to transparent overlay - 30102009 */
#modalFakeDialog {
position: fixed;
top: 0;
left: 0;
-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
z-index: 9000;
}

/* ---------------------
DROP SHADOW
--------------------- */
.txtbanking .alternative .shadow {
position: absolute;
top: 0;
left: 0;
z-index: 90;
padding: 13px 13px 13px 13px;
margin: 0;
background: transparent;
display: none;
}
.txtbanking .alternative .shadow #shadow_inner {
position: relative;
width:100%;
height:100%;
background: #FFF;
}
.txtbanking .alternative .shadow .modal {
z-index: 100;
}
.txtbanking .alternative .shadow #shadow_bg {
position: absolute;
top: 0; left: 0;
width: 100%;
height: 100%;
z-index: 70;
border: 0;
padding: 0;
margin: 0;
}
.txtbanking .alternative .shadow .shadow_bg {
position: absolute;
display: block;
z-index: 70;
border: 0;
padding: 0;
margin: 0;
}
.txtbanking .alternative .shadow .shadow_bg_n {
top: -12px;
width: 100%;
height: 13px;
background: transparent url('lb_n.png') repeat-x;
}
.txtbanking .alternative .shadow .shadow_bg_ne {
top: -13px;
right: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_ne.png') no-repeat;
}
.txtbanking .alternative .shadow .shadow_bg_e {
right: -13px;
height: 100%;
width: 13px;
background: transparent url('lb_e.png') repeat-y;
}
.txtbanking .alternative .shadow .shadow_bg_se {
bottom: -13px;
right: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_se.png') no-repeat;
}
.txtbanking .alternative .shadow .shadow_bg_s {
bottom: -13px;
width: 100%;
height: 13px;
background: transparent url('lb_s.png') repeat-x;
}
.txtbanking .alternative .shadow .shadow_bg_sw {
bottom: -13px;
left: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_sw.png') no-repeat;
}
.txtbanking .alternative .shadow .shadow_bg_w {
left: -12px;
height: 100%;
width: 13px;
background: transparent url('lb_w.png') repeat-y;
}
.txtbanking .alternative .shadow .shadow_bg_nw {
top: -13px;
left: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_nw.png') no-repeat;
}






/* ###########################
NEW LIGHTBOX UNIVERSAL STYLES
########################### */


.overlay {
position: fixed;
top: 0;
left: 0;
background: #000;
-moz-opacity:.35; filter:alpha(opacity=35); opacity:.35;
z-index: 9999;
}
.fakelayer {
-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
}
.txtbanking .lightbox .window {
position:absolute;
left:0;
top:0;
width:440px;
height:200px;
display:none;
z-index:20011;
padding:20px;
}
.txtbanking .lightbox .modal {
width: 455px;
border: 10px solid #DFDFDF;
background: #FFFFFF;
}
.txtbanking .lightbox .modal .inner {
position: relative;
border: 1px solid #B2B2B2;
}
.txtbanking .lightbox .modal .top {
font-size: 1px;
display: block;
width: 100%;
height: 32px;
background: #F50004;
}
.txtbanking .lightbox .modal .message {
position: relative;
width: 356px;
padding: 20px 20px 20px 77px;
margin: 0;
}
.txtbanking .lightbox .modal h2 {
position: absolute;
width: 45px;
height: 39px;
top: 20px;
left: 17px;
}
.txtbanking .lightbox .modal h2 span {
display: none; /* this would need to be corrected */
}
.txtbanking .lightbox .modal h3 {
font-size: 1.077em;
font-weight: bold;
color: #333;
background: none;
margin: 0;
}
.txtbanking .lightbox .modal .navigation {
text-align: center;
padding: 8px 0 12px;
border-top: 1px solid #B2B2B2;
}
.txtbanking .lightbox .modal p {
margin-bottom: 0;
}
select {
z-index: 2;
}
/* variation on westpac supplied transparent overlay - 30102009 */
.fake {
position: fixed;
top: 0;
left: 0;
-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
z-index: 10000;
}

/* ---------------------
DROP SHADOW
--------------------- */
.txtbanking .lightbox .shadow {
position: absolute;
top: 0;
left: 0;
z-index: 10000;
padding: 13px 13px 13px 13px;
margin: 0;
background: transparent;
display: none;
}
.txtbanking .lightbox .shadow #shadow_inner {
position: relative;
width:100%;
height:100%;
background: #FFF;
}
.txtbanking .lightbox .shadow .modal {
z-index: 10011;
}
.txtbanking .lightbox .shadow #shadow_bg {
position: absolute;
top: 0; left: 0;
width: 100%;
height: 100%;
z-index: 10000;
border: 0;
padding: 0;
margin: 0;
}
.txtbanking .lightbox .shadow .shadow_bg {
position: absolute;
display: block;
z-index: 10000;
border: 0;
padding: 0;
margin: 0;
}
.txtbanking .lightbox .shadow .shadow_bg_n {
top: -12px;
width: 100%;
height: 13px;
background: transparent url('lb_n.png') repeat-x;
}
.txtbanking .lightbox .shadow .shadow_bg_ne {
top: -13px;
right: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_ne.png') no-repeat;
}
.txtbanking .lightbox .shadow .shadow_bg_e {
right: -13px;
height: 100%;
width: 13px;
background: transparent url('lb_e.png') repeat-y;
}
.txtbanking .lightbox .shadow .shadow_bg_se {
bottom: -13px;
right: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_se.png') no-repeat;
}
.txtbanking .lightbox .shadow .shadow_bg_s {
bottom: -14px;
width: 100%;
height: 13px;
background: transparent url('lb_s.png') repeat-x;
}
.txtbanking .lightbox .shadow .shadow_bg_sw {
bottom: -13px;
left: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_sw.png') no-repeat;
}
.txtbanking .lightbox .shadow .shadow_bg_w {
left: -12px;
height: 100%;
width: 13px;
background: transparent url('lb_w.png') repeat-y;
}
.txtbanking .lightbox .shadow .shadow_bg_nw {
top: -13px;
left: -13px;
width: 13px;
height: 13px;
background: transparent url('lb_nw.png') no-repeat;
}

/* ---------------------
TYPE A STYLES (as used in Term Investments)
--------------------- */
.txtbanking .type-a .modal {
width: 600px;
}
.txtbanking .type-a .modal .message {
width: 480px;
z-index: 10011;
}
.txtbanking .type-a ul.red-bullet li {
margin-left: 15px;
padding-left: 15px;
margin-bottom: .4em;
background: url(red-bullet.gif) 0 7px no-repeat;
position: relative;
}
.txtbanking .type-a .modal p {
margin-bottom: .8em;
margin-right: -5px;
}
.txtbanking .type-a .modal ul {
margin-bottom: 1.5em;
}
.txtbanking .type-a a {
color: #000;
}
.txtbanking .type-a .modal h2 {
top: 26px;
left: 13px;
}
.txtbanking .type-a .modal h3 {
margin-bottom: 3px;
}
.txtbanking .type-a .navigation a.close {
display: inline-block;
margin-left: 3px;
}
.txtbanking .type-a .modal .navigation {
padding-top: 12px;
position: relative;
z-index: 10012;
}

/* ---------------------
TYPE A PAGE LOADING INDICATOR 
--------------------- */

.txtbanking .type-a .waitingSection	{
top: 0;
left: 0;
position: relative;
width: 380px;
font-size: 1.1em;
font-weight: bold;
padding-left: 0;
padding-bottom: 8px;
margin: 52px 0 0 0;
}

.txtbanking .loading .modal .inner {
height: 248px;
}

.txtbanking .loading .modal .inner p {
margin-left: 55px;
}
 	/* type a  message-a (as used in password reset activation message */
.txtbanking .message-a .modal .inner {
height: 310px;
color: #333;
}
.txtbanking .message-a .waitingSection {
font-size: 1.384em;
margin-top: 79px;
margin-left: 12px;
padding-bottom: 3px;
background-position: 6px 5px;
width: auto;
}
.txtbanking .message-a .lower {
font-size: 1.231em;
font-weight: bold;
margin-left: 12px;
}

 	/* type a  message-b (as used in password reset activation message */
.txtbanking .message-b .modal .message {
padding: 15px 20px 37px 20px;
width: 557px;
}
.txtbanking .message-b .modal .inner {
height: 310px;
color: #333;
}
.txtbanking .message-b .message h2 {
font-size: 1.384em;
width: auto;
background: none;
position: relative;
left: auto;
top: auto;
height: auto;
margin-bottom: 3px;
}
.txtbanking .message-b .message .intro {
margin-top: 0;
margin-bottom: 22px;
font-size: 1.231em;
}
.txtbanking .message-b .message div.code {
padding-left: 16px;
font-size: 1.077em;
padding-bottom: 27px;
}
.txtbanking .message-b .message div.code .text {
width: 74px;
padding: 2px;

}
.txtbanking .message-b .modal .navigation {
padding-top: 8px;
}
.txtbanking .message-b .modal .navigation .inner  {
height: auto;
padding: 2px 24px;
}

/* ---------------------
TYPE B STYLES (as used in Open Account Unrestricted)
--------------------- */
.txtbanking .type-b .modal {
width: 748px;
height: 380px;
z-index: 10011;
}
.txtbanking .lightbox .modal .top {
height: 5px;
}
.txtbanking .type-b .modal .inner {
height: 378px;
z-index: 10011;
}
.txtbanking .type-b .modal .message {
width: auto;
padding: 0 0 0 20px;
z-index: 10011;
}
.txtbanking .type-b .modal .scroll {
width: auto;
padding-left: 1px;
padding-right: 118px;
padding-top: 22px;
overflow: auto;
height: 351px;
position: relative;
z-index: 10011;
}

.txtbanking .type-b .modal h2 {
font-size: 1.385em;
position: relative;
background: none;
width: auto;
height: auto;
left: auto;
top: auto;
margin-bottom: 5px;
width: 540px;
float: left;
}
.txtbanking .type-b .modal .pending h2 {
width: 100%;
}
.txtbanking .type-b .modal h3 {
color: #262626;
margin-bottom: 3px;
}
.txtbanking .type-b .modal ul {
margin-left: 10px;
margin-bottom: 1.6em;
}
.txtbanking .type-b .modal ul li {
position: relative;
list-style: none outside;
background: url(red-bullet.gif) no-repeat left 7px;
padding-left: 14px;
}
.txtbanking .type-b .modal p {
margin-bottom: .8em;
}
.txtbanking .type-b .modal .pending p {
width: 95%;
}
.txtbanking .type-b .modal p.intro {
font-size: 1.23em;
margin-bottom: 35px;
padding-right: 60px;
}
.txtbanking .type-b .modal p.totop {
font-size: 0.92em;
text-align: right;
margin-right: -92px;
position: relative;
clear: both;
margin-top: -0.5em;
}
.txtbanking .type-b .modal p.footnote {
color: #434343;
font-size: 0.846em;
}
.txtbanking .type-b a {
color: #000;
}
	/* jump links */
.txtbanking .type-b .modal .box-type-a {
width: 667px;
margin-bottom: 1em;
margin-right: -132px;
position: relative;
}
.txtbanking .type-b .modal .box-type-a .inner {
height: auto;
border: 1px solid #D5D5D5;
width: 649px;
}
	/* jump links */
.txtbanking .type-b .modal .jumpto {
float: right;
position: relative;
display: inline;
width: 120px;
padding: 5px;
background: #EFEFF0;
margin: 28px -102px 10px 10px;
}
.txtbanking .type-b .modal .jumpto h3 {
font-size: 0.92em;
padding: 1px 5px;
border-bottom: 1px solid #D4D4D4;
margin-bottom: 1px;
}
.txtbanking .type-b .modal .jumpto ul {
margin: 0;
}
.txtbanking .type-b .modal .jumpto li {
font-size: 0.92em;
background: none;
padding: 1px 5px;
margin: 0;
border-top: 1px solid #F7F7F7;
}
	/* type-b navigation */
.txtbanking .type-b .navigation a.close {
display: inline-block;
padding: 3px 32px 0 12px;
height: 18px;
background: url(close.gif) no-repeat right top;
text-transform: uppercase;
text-decoration: none;
z-index: 10011;
font-size: 0.846em;
font-weight: bold;
}
.txtbanking .type-b .modal .navigation {
position: absolute;
top: -32px;
right: -3px;
background: #FFF;
padding: 0;
border-left: 2px solid #DFDFDF;
border-top: 2px solid #DFDFDF;
border-right: 2px solid #DFDFDF;
z-index: 10011;
height: 20px;
}

/* type-b navigation */
.lightbox .navigation a.printlink {
display: inline-block;
padding: 2px 10px;
height: 18px;
text-transform: uppercase;
text-decoration: none;
z-index: 10011;
font-size: 0.846em;
font-weight: bold;
border-right: 2px solid #DFDFDF;
background: none;
position: relative;
}

/* ---------------------
TYPE C STYLES (as used in Online Guardian)
--------------------- */
.txtbanking .type-c .modal {
width: 600px;
height: 312px;
z-index: 10011;
}
.txtbanking .type-c .modal .inner {
height: 310px;
z-index: 10011;
}
.txtbanking .type-c .modal .message {
width: auto;
padding: 0 1px 0 20px;
z-index: 10011;
}
.txtbanking .type-c .modal .scroll {
width: auto;
padding-left: 1px;
padding-right: 10px;
padding-top: 16px;
overflow: auto;
height: 100%;
position: relative;
z-index: 10011;
}
.txtbanking .type-c .modal h2 {
font-size: 1.38em;
position: relative;
background: none;
width: auto;
height: auto;
left: auto;
top: auto;
margin-bottom: 5px;
}
.txtbanking .type-c .modal h3 {
color: #262626;
margin-bottom: 3px;
}
.txtbanking .type-c .modal ul {
margin-left: 10px;
margin-bottom: 1.6em;
}
.txtbanking .type-c .modal ul li {
position: relative;
list-style: none outside;
background: url(red-bullet.gif) no-repeat left 7px;
padding-left: 14px;
padding-bottom: 2px;
}
.txtbanking .type-c .modal p {
margin-bottom: .8em;
}
.txtbanking .type-c .modal p.intro {
font-size: 1.231em;
margin-bottom: 19px;
margin-top: 4px;
padding-right: 60px;
color: #333;
}
.txtbanking .type-c .modal p.totop {
font-size: 0.92em;
text-align: right;
margin-right: -92px;
position: relative;
clear: both;
margin-top: -0.5em;
}
.txtbanking .type-c .modal p.footnote {
color: #434343;
font-size: 0.846em;
}
.txtbanking .type-c a {
color: #000;
}
	/* type-c navigation */
.txtbanking .type-c .navigation a.close {
display: inline-block;
padding: 2px 30px 0 9px;
background: url(close.gif) no-repeat right top;
text-transform: uppercase;
text-decoration: none;
z-index: 10011;
cursor: pointer;
height: 18px;
}
.txtbanking .type-c .modal .navigation {
position: absolute;
top: -31px; 
right: -2px;
background: #FFF;
padding: 0;
border: 2px solid #DFDFDF;
z-index: 10011;
font-size: 0.846em;
font-weight: bold;
}

/* ---------------------
TYPE D STYLES (as used in Txt Banking)
--------------------- */
.txtbanking .type-d .modal {
width: 455px;
}
.txtbanking .type-d .modal .message {
color:#333333;
padding:14px 14px 0;
width:425px;
z-index:10011;
}
.txtbanking .type-d .modal .message h2 {
background: none;
position: relative;
top: auto;
left: auto;
width: 100%;
padding: 0;
margin: 0 0 4px;
font-size: 1.231em;
font-weight: bold;
height: auto;
}
.txtbanking .type-d .modal .navigation {
padding:8px 0 10px;
position: relative;
z-index: 10012;
}
.txtbanking .type-d .modal .navigation .modal-special a {
padding: 2px 36px;
}
	/* type-d with top right close navigation */
.txtbanking .closetab .modal .inner {
height: 179px;
}
.txtbanking .closetab .modal .overflow {
height:146px;
overflow:hidden;
}
.txtbanking .closetab .navigation a.close {
display: inline-block;
padding: 3px 32px 0 12px;
height: 18px;
background: url(close.gif) no-repeat right top;
text-transform: uppercase;
text-decoration: none;
z-index: 10011;
font-size: 0.846em;
font-weight: bold;
color: #000;
}
.txtbanking .closetab .modal .navigation {
position: absolute;
top: -32px;
right: -3px;
background: #FFF;
padding: 0;
border-left: 2px solid #DFDFDF;
border-top: 2px solid #DFDFDF;
border-right: 2px solid #DFDFDF;
z-index: 10011;
height: 20px;
}

 	/* type d  message-c (as used in txt banking set up */
.txtbanking .message-b .modal .navigation {
padding-top: 8px;
}
.txtbanking .message-b .modal .navigation .inner  {
height: auto;
padding: 2px 24px;
}
.txtbanking .message-b .modal .navigation .button-wrap {
border: 1px solid #B2B2B2;
display: inline-block;
}
.txtbanking .message-b .modal .navigation input.inner  {
height: auto;
padding: 3px 21px 2px;
overflow:visible;
width:auto;
border: none;
}


	/* modal special button with corners and gradient */
.txtbanking .modal-special {
position: relative;
display: inline-block;
margin: 0 7px -7px 0;
}
.txtbanking .modal-special a, .modal-special input.inner {
display: block;
float: left;
padding: 2px 10px;
color: #333;
cursor: pointer;
}
.txtbanking .modal-special a:hover {
text-decoration: none;
}
.txtbanking .modal-special .bg {
position: relative;
display: block;
float: left;
}	
.txtbanking .modal-special .cnr {
position: absolute;
display: block;
width: 2px;
height: 2px;
z-index: 100;
font-size: 1px;
}


/* -----------------
TABS
----------------- */
	
	/* navigation */
#tabs {
padding-top: 5px;
}	
#tabs .list {
margin-left: 30px;
margin-bottom: 0;
position: relative;
display: inline;
float: left;
z-index: 101; /* set to position it over the .inner in order to make it look like the tab associates with the current tab content */
}
#tabs .list li {
position: relative;
display: block;
float: left;
background: #DFDFDF;
text-align: center;
width: 11.2em;
padding: 8px 0 10px;
margin-right: 9px;
margin-bottom: 0;
font-size: 1.077em;
font-weight: bold;
color: #000000;
}
#tabs .list li.ui-state-active {
width: 11em;
padding-top: 12px;
margin-top: -5px;
padding-bottom: 11px;
margin-bottom: -1px;
background: #fff;
border-top: 1px solid #D5D5D5;
border-left: 1px solid #D5D5D5;
border-right: 1px solid #D5D5D5;
}
#tabs a {
color: #000000;
}
#tabs .list li.ui-state-active a {
text-decoration: none;
cursor: default;
}
.txtbanking .ui-tabs .ui-tabs-hide { display: none !important; }
	/* navigation */

/* -----------------
TOOL TIPS AND HELP INFORMATION
----------------- */
.printOnly { display:none; } 

/* New sub-classes for small timeout lightbox on Login page (15.06.2012) */

.txtbanking .type-c-small .modal {
width: 420px;
height: 180px;
}

.txtbanking .type-c-small .modal .inner {
    height:  178px;
}


/* Close button */
.txtbanking .type-c-small .buttons {
    padding: 10px 0 0 0;
    display: block;
    text-align: center;
    border: none;
    width: 95%;
}

.txtbanking .type-c-small .buttons .close {
    display: inline-block;
    width: 100px;
    background: #f2f2f2;
    text-align:center;
    padding: 2px 0;
    border: none;
}
