/*
*@module: font-icon 
*@Author: zmx 2013-02-16
*@Update: zmx 2013-03-18
*/
@font-face {
  font-family: 'Micon';
  src: url("https://login.made-in-china.com/style/font/micon.eot?v=20130314");
  src: url("https://login.made-in-china.com/style/font/micon.eot?") format("embedded-opentype"), url("https://login.made-in-china.com/style/font/micon.woff?v=20130314") format("woff"), url("https://login.made-in-china.com/style/font/micon.ttf?v=20130314") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: Micon;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  margin-right: 5px;
}
