/*
*@module: Form
*@Author: juhailin 2013-02-19
*@Update: juhailin 2013-12-18
*@log: Use Sass 
*@log: span out del *margin-top:-1
*/
label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

select,
textarea,
.input-text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 20px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  border: 1px solid #cccccc;
}

select[multiple], select[size] {
  height: auto;
}

textarea {
  height: auto;
  resize: none;
}

input.span1,
textarea.span1 {
  width: 18px;
}

input.span2,
textarea.span2 {
  width: 58px;
}

input.span3,
textarea.span3 {
  width: 98px;
}

input.span4,
textarea.span4 {
  width: 138px;
}

input.span5,
textarea.span5 {
  width: 178px;
}

input.span6,
textarea.span6 {
  width: 218px;
}

input.span7,
textarea.span7 {
  width: 258px;
}

input.span8,
textarea.span8 {
  width: 298px;
}

input.span9,
textarea.span9 {
  width: 338px;
}

input.span10,
textarea.span10 {
  width: 378px;
}

input.span11,
textarea.span11 {
  width: 418px;
}

input.span12,
textarea.span12 {
  width: 458px;
}

input.span13,
textarea.span13 {
  width: 498px;
}

input.span14,
textarea.span14 {
  width: 538px;
}

input.span15,
textarea.span15 {
  width: 578px;
}

input.span16,
textarea.span16 {
  width: 618px;
}

input.span17,
textarea.span17 {
  width: 658px;
}

input.span18,
textarea.span18 {
  width: 698px;
}

input.span19,
textarea.span19 {
  width: 738px;
}

input.span20,
textarea.span20 {
  width: 778px;
}

input.span21,
textarea.span21 {
  width: 818px;
}

input.span22,
textarea.span22 {
  width: 858px;
}

input.span23,
textarea.span23 {
  width: 898px;
}

input.span24,
textarea.span24 {
  width: 938px;
}

input.span25,
textarea.span25 {
  width: 978px;
}

.form .input-text {
  width: 208px;
  *overflow: hidden;
}
.form .span1 {
  width: 30px;
}
.form .span2 {
  width: 70px;
}
.form .span3 {
  width: 110px;
}
.form .span4 {
  width: 150px;
}
.form .span5 {
  width: 190px;
}
.form .span6 {
  width: 230px;
}
.form .span7 {
  width: 270px;
}
.form .span8 {
  width: 310px;
}
.form .span9 {
  width: 350px;
}
.form .span10 {
  width: 390px;
}
.form .span11 {
  width: 430px;
}
.form .span12 {
  width: 470px;
}
.form .span13 {
  width: 510px;
}
.form .span14 {
  width: 550px;
}
.form .span15 {
  width: 590px;
}
.form .span16 {
  width: 630px;
}
.form .span17 {
  width: 670px;
}
.form .span18 {
  width: 710px;
}
.form .span19 {
  width: 750px;
}
.form .span20 {
  width: 790px;
}
.form .span21 {
  width: 830px;
}
.form .span22 {
  width: 870px;
}
.form .span23 {
  width: 910px;
}
.form .span24 {
  width: 950px;
}
.form .span25 {
  width: 990px;
}
.form input.span0 {
  width: 26px;
  padding-right: 0;
  padding-left: 2px;
}
.form label {
  display: block;
  margin-bottom: 3px;
}
.form select {
  height: 26px;
  *margin-top: 4px;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 2px 2px 2px 5px;
}
.form select[multiple], .form select[size] {
  height: auto;
}
.form .form-help {
  margin: 5px 0;
}
.form .form-help .counter {
  float: right;
  color: #999;
}
.form .form-help .counter label {
  display: inline;
}
.form .help-block,
.form .help-inline {
  color: #999;
}
.form .help-block {
  margin: 5px 0;
  display: block;
  line-height: 1.2;
}
.form .input-checkbox,
.form .input-radio {
  margin: 3px 0 0;
  *margin-top: 0;
  line-height: normal;
}
.form .input-text,
.form select.select {
  margin-right: 3px;
}
.form .radio,
.form .checkbox {
  min-height: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
.form .radio .input-radio,
.form .checkbox .input-checkbox {
  float: left;
  margin-right: 5px;
  *margin-right: 3px;
}
.form .radio.inline,
.form .checkbox.inline {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 3px;
  margin-right: 20px;
}
.form .inline .radio,
.form .inline .checkbox {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 3px;
  margin-right: 20px;
}
.form .inline .input-text {
  margin-top: 3px;
  margin-bottom: 0;
}
.form .inline-inputs .input-text {
  margin-top: 0;
  margin-bottom: 3px;
}
.form em {
  color: #FF0000;
  margin-right: 5px;
}
.form .form-fields {
  margin-left: 160px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.form .form-fields select,
.form .form-fields label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.form .form-fields .texts {
  margin: 3px 0 0;
}
.form .form-item {
  margin-bottom: 10px;
  *zoom: 1;
}
.form .form-item .input-line {
  margin-right: 0;
}
.form .form-item .radio,
.form .form-item .checkbox {
  margin-bottom: 0;
}
.form .form-item .btns {
  text-align: left;
  margin-top: 10px;
}
.form .form-item .btns .btn {
  margin-right: 10px;
  *vertical-align: top;
}
.form .btns {
  text-align: center;
  margin-bottom: 10px;
}
.form .form-item:before,
.form .form-item:after {
  display: table;
  line-height: 0;
  content: "";
}
.form .form-item:after {
  clear: both;
}
.form .form-other {
  margin-bottom: 3px;
}
.form .form-other .radio,
.form .form-other .checkbox {
  margin-top: 3px;
}
.form label.form-block,
.form .form-block {
  display: block;
}
.form .input-other {
  *vertical-align: top;
}
.form .colspan4 .checkbox,
.form .colspan4 .radio {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 23.5%;
  vertical-align: top;
  *vertical-align: top;
  margin-right: 0;
}
.form .colspan4 .other {
  width: auto;
}
.form .colspan4 .input-other {
  margin-top: 2px;
}
.form .colspan3 .checkbox,
.form .colspan3 .radio {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 32.5%;
  vertical-align: top;
  *vertical-align: top;
  margin-right: 0;
}
.form .colspan3 .other {
  width: auto;
}
.form .colspan3 .input-other {
  margin-top: 2px;
}
.form .colspan2 .checkbox,
.form .colspan2 .radio {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 49%;
  vertical-align: top;
  *vertical-align: top;
  margin-right: 0;
}
.form .colspan2 .other {
  width: auto;
}
.form .colspan2 .input-other {
  margin-top: 2px;
}
.form .inner-form {
  position: relative;
  margin: 10px 0;
  padding: 10px 0;
  background: #f2f2f2;
  border: 1px solid #cccccc;
}
.form .inner-form .add {
  color: #666;
  margin-left: 20px;
  cursor: pointer;
}
.form .inner-form .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #666;
  cursor: pointer;
}
.form .inner-form .form-label {
  float: left;
  width: 150px;
  padding-top: 3px;
  text-align: right;
  margin-right: 0;
}
.form .inner-form .form-fields {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 170px;
  *margin-left: 0;
}
.form .error,
.form label.error {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 0;
  margin-right: 3px;
  padding: 0 10px 0 20px;
  height: 26px;
  line-height: 26px;
  color: #e64552;
  font-size: 12px;
  background: url(reg3.gif) 0 2px no-repeat #ffdbdb;
}
.form .focus,
.form label.focus {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 0;
  margin-right: 3px;
  padding: 0 10px 0 20px;
  height: 26px;
  line-height: 26px;
  color: #333;
  font-size: 12px;
  background: url(https://login.made-in-china.com/img/icon/reg2.gif) 0 2px no-repeat #e9f0ff;
}
.form .error-block,
.form label.error-block {
  display: block;
  margin-top: 3px;
}

.form-horizontal textarea {
  margin-top: 7px;
}
.form-horizontal .form-item {
  overflow: hidden;
}
.form-horizontal .form-label {
  float: left;
  width: 170px;
  padding-top: 3px;
  text-align: right;
}
.form-horizontal .form-fields {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 190px;
  *margin-left: 0;
}

.form-small .form-label {
  width: 100px;
}
.form-small .form-fields {
  margin-left: 110px;
  *margin-left: 0;
}

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 0;
}
.form-inline label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
}
.form-inline .radio .input-radio,
.form-inline .checkbox .input-checkbox {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
