* {margin:0; padding:0;}
button::-moz-focus-inner {padding:0; border:0}
body {background:#f8f8f8; font:18px "PT Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; color:#000;}
a {color:#31a5db;}
.main {background:url(main.png) no-repeat 50% 109px; width:600px; margin:0 auto; padding:298px 0 38px 0;}
.powered {text-align:center; line-height:21px; padding:0 0 40px 0;}
.form p {font-size:14px; color:#707070; text-align:center; padding:0 0 16px 0;}
.form p span {border-bottom:1px dashed #707070; cursor:pointer; }
.form_global {background:#e9e9e9; padding:13px 0 21px 0; min-height:1px; margin: 0 20px; display:none;}
.form a { text-decoration:none; border-bottom: 1px dashed #999; color: #999;}
.form_wrapper {width:324px; margin:0 auto; text-align:right;}
.form_wrapper input {display:block; width:302px; height:30px; border:1px solid #d1d1d1; border-right-color:#fff; border-bottom:none; padding:0 10px; margin:0 0 10px 0; text-align:left;}
.form_wrapper textarea {display:block; width:302px; max-width:302px; min-width:302px; border:1px solid #d1d1d1; border-right-color:#fff; border-bottom:none; padding:10px; overflow:auto; height:130px; min-height:130px; text-align:left; margin:0 0 10px 0; font-family:"PT Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
.form_wrapper button {cursor:pointer; border:none; background:none; font-family:"PT Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
.form_wrapper button span {display:block; height:40px; line-height:40px; width:138px; text-align:center; font-size:18px; color:#707070; background:#cacaca;}